Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

update wenetspeech RESULT.md, test=doc
  examples/wenetspeech/asr1/RESULTS.md
Due: auto add label=Example

fix ERNIE-SAT README, test=doc
  examples/aishell3/ernie_sat/README.md
  examples/aishell3_vctk/ernie_sat/README.md
  examples/vctk/ernie_sat/README.md
Due: auto add label=Example, auto add label=README

add typehint for g2pw (#2390)
  paddlespeech/t2s/frontend/g2pw/__init__.py
  paddlespeech/t2s/frontend/g2pw/dataset.py
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
  paddlespeech/t2s/frontend/g2pw/utils.py
Due: auto add label=T2S

fix ERNIE-SAT README, test=doc (#2392)
  examples/aishell3/ernie_sat/README.md
  examples/aishell3_vctk/ernie_sat/README.md
  examples/vctk/ernie_sat/README.md
Due: auto add label=Example, auto add label=README

fix docstring of VITS, test=doc
  paddlespeech/t2s/models/ernie_sat/ernie_sat.py
  paddlespeech/t2s/models/vits/duration_predictor.py
  paddlespeech/t2s/models/vits/flow.py
  paddlespeech/t2s/models/vits/generator.py
  paddlespeech/t2s/models/vits/posterior_encoder.py
  paddlespeech/t2s/models/vits/residual_coupling.py
  paddlespeech/t2s/models/vits/text_encoder.py
  paddlespeech/t2s/models/vits/vits.py
  paddlespeech/t2s/models/vits/wavenet/residual_block.py
  paddlespeech/t2s/models/vits/wavenet/wavenet.py
  paddlespeech/t2s/models/wavernn/wavernn.py
Due: auto add label=T2S

add finetune demos, test=doc
  docs/source/tts/demo.rst
Due: auto add label=Documentation

using forward_attention_decoder
  paddlespeech/s2t/exps/u2/bin/test_wav.py
  paddlespeech/s2t/models/u2/u2.py
Due: auto add label=S2T

update audio api in apps
  examples/esc50/cls0/conf/panns.yaml
  examples/hey_snips/kws0/conf/mdtc.yaml
  examples/voxceleb/sv0/local/data_prepare.py
  examples/voxceleb/sv0/local/make_rirs_noise_csv_dataset_from_json.py
  examples/voxceleb/sv0/local/make_vox_csv_dataset_from_json.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/kws/infer.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/cls/exps/panns/deploy/predict.py
  paddlespeech/cls/exps/panns/export_model.py
  paddlespeech/cls/exps/panns/predict.py
  paddlespeech/cls/exps/panns/train.py
  paddlespeech/cls/models/panns/panns.py
  paddlespeech/kws/exps/mdtc/train.py
  paddlespeech/s2t/frontend/featurizer/audio_featurizer.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/models/u2_st/u2_st.py
  paddlespeech/server/engine/vector/python/vector_engine.py
  paddlespeech/server/util.py
  paddlespeech/vector/exps/ecapa_tdnn/extract_emb.py
  paddlespeech/vector/exps/ecapa_tdnn/test.py
  paddlespeech/vector/exps/ecapa_tdnn/train.py
  paddlespeech/vector/io/dataset.py
  paddlespeech/vector/io/dataset_from_json.py
Due: auto add label=S2T, auto add label=Vector, auto add label=Example, auto add label=CLI, auto add label=Server

export param from cnofig
  paddlespeech/s2t/exps/u2/model.py
Due: auto add label=S2T

fix code style
  paddlespeech/s2t/exps/u2/bin/test_wav.py
Due: auto add label=S2T

format
  paddlespeech/audio/compliance/kaldi.py
  paddlespeech/s2t/exps/u2/bin/test_wav.py
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/cmvn.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/modules/fbank.py
  paddlespeech/server/engine/asr/online/python/asr_engine.py
Due: auto add label=S2T, auto add label=Server

add bitransformer decoder, test=asr
  paddlespeech/audio/utils/tensor_utils.py
  paddlespeech/s2t/exps/u2/bin/test_wav.py
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/decoder.py
Due: auto add label=S2T

support bitransformer decoder, test=asr
  paddlespeech/server/engine/asr/online/python/asr_engine.py
Due: auto add label=Server

Replaced the fixed path with the dynamic path in MFA, test=doc
  examples/other/mfa/run.sh
Due: auto add label=Example

Replaced the fixed path with the dynamic path in MFA, test=doc (#2416)
  examples/other/mfa/run.sh
Due: auto add label=Example

use cmd for voiceclone , finetune and ernie-sat
  demos/speech_web/.gitignore
  demos/speech_web/README.md
  demos/speech_web/docs/效果展示.png
  demos/speech_web/speech_server/conf/tts_finetune.yaml
  demos/speech_web/speech_server/main.py
  demos/speech_web/speech_server/requirements.txt
  demos/speech_web/speech_server/src/ernie_sat.py
  demos/speech_web/speech_server/src/finetune.py
  demos/speech_web/speech_server/src/ge2e_clone.py
  demos/speech_web/speech_server/src/tdnn_clone.py
  demos/speech_web/speech_server/src/util.py
  demos/speech_web/speech_server/vc.py
  demos/speech_web/web_client/package.json
  demos/speech_web/web_client/src/api/API.js
  demos/speech_web/web_client/src/api/ApiVC.js
  demos/speech_web/web_client/src/components/Content/Header/Header.vue
  demos/speech_web/web_client/src/components/Content/Header/style.less
  demos/speech_web/web_client/src/components/Experience.vue
  demos/speech_web/web_client/src/components/SubMenu/ENIRE_SAT/ENIRE_SAT.vue
  demos/speech_web/web_client/src/components/SubMenu/FineTune/FineTune.vue
  demos/speech_web/web_client/src/components/SubMenu/VoiceClone/VoiceClone.vue
  demos/speech_web/web_client/src/main.js
  demos/speech_web/web_client/yarn.lock
Due: auto add label=Demo, auto add label=README

format audio
  audio/paddleaudio/__init__.py
  audio/paddleaudio/backends/__init__.py
  audio/paddleaudio/backends/soundfile_backend.py
  audio/paddleaudio/backends/sox_io_backend.py
  audio/paddleaudio/backends/utils.py
  audio/paddleaudio/utils/__init__.py
  audio/paddleaudio/utils/tensor_utils.py
  audio/tests/backends/soundfile/common.py
  audio/tests/backends/soundfile/info_test.py
  audio/tests/backends/soundfile/load_test.py
  audio/tests/backends/soundfile/save_test.py
  audio/tests/common_utils/__init__.py
  audio/tests/common_utils/wav_utils.py
Due: none

update yaml and readme, test=tts
  examples/other/tts_finetune/tts3/README.md
  examples/other/tts_finetune/tts3/finetune.yaml
Due: auto add label=Example, auto add label=README

use MAIN_ROOT and delete png
  demos/speech_web/README.md
  demos/speech_web/docs/效果展示.png
  demos/speech_web/speech_server/src/ernie_sat.py
  demos/speech_web/speech_server/src/finetune.py
  demos/speech_web/speech_server/src/tdnn_clone.py
  demos/speech_web/speech_server/src/util.py
Due: auto add label=Demo, auto add label=README

Update README.md
  examples/aishell3/ernie_sat/README.md
Due: auto add label=Example, auto add label=README

Update README.md
  examples/aishell3_vctk/ernie_sat/README.md
Due: auto add label=Example, auto add label=README

update readme and delete unuseful code
  demos/speech_web/README.md
  demos/speech_web/speech_server/main.py
Due: auto add label=Demo, auto add label=README

Update pretrained_models.py
  paddlespeech/resource/pretrained_models.py
Due: none

Update model_alias.py
  paddlespeech/resource/model_alias.py
Due: none

Update infer.py
  paddlespeech/cli/text/infer.py
Due: auto add label=CLI

Update README_cn.md
  paddlespeech/cli/README_cn.md
Due: auto add label=CLI

Update README.md
  paddlespeech/cli/README.md
Due: auto add label=CLI, auto add label=README

del audio tests
  tests/benchmark/audio/README.md
  tests/benchmark/audio/log_melspectrogram.py
  tests/benchmark/audio/melspectrogram.py
  tests/benchmark/audio/mfcc.py
  tests/unit/audio/backends/__init__.py
  tests/unit/audio/backends/base.py
  tests/unit/audio/backends/common.py
  tests/unit/audio/backends/soundfile/__init__.py
  tests/unit/audio/backends/soundfile/common.py
  tests/unit/audio/backends/soundfile/info_test.py
  tests/unit/audio/backends/soundfile/load_test.py
  tests/unit/audio/backends/soundfile/save_test.py
  tests/unit/audio/backends/soundfile/test_io.py
  tests/unit/audio/backends/sox_io/info_test.py
  tests/unit/audio/backends/sox_io/load_test.py
  tests/unit/audio/backends/sox_io/save_test.py
  tests/unit/audio/backends/sox_io/smoke_test.py
  tests/unit/audio/backends/sox_io/sox_effect_test.py
  tests/unit/audio/features/base.py
  tests/unit/audio/features/test_istft.py
  tests/unit/audio/features/test_kaldi.py
  tests/unit/audio/features/test_kaldi_feat.py
  tests/unit/audio/features/test_librosa.py
  tests/unit/audio/features/test_log_melspectrogram.py
  tests/unit/audio/features/test_spectrogram.py
  tests/unit/audio/features/test_stft.py
  tests/unit/common_utils/__init__.py
  tests/unit/common_utils/case_utils.py
  tests/unit/common_utils/wav_utils.py
Due: auto add label=README, auto add label=Test

[tts] update finetune yaml and readme (#2418)
  examples/other/tts_finetune/tts3/README.md
  examples/other/tts_finetune/tts3/finetune.yaml
Due: auto add label=Example, auto add label=README

Solve execute the following code with return wav: iob = io.BytesIO(wav) wave.open(iob, 'rb') will throw an "unknown format: 3" exception
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/tts_engine.py
Due: auto add label=Server

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
