Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

fix pitch_mask
  paddlespeech/t2s/models/diffsinger/diffsinger.py
Due: auto add label=T2S

draft
  speechx/speechx/asr/nnet/CMakeLists.txt
  speechx/speechx/asr/nnet/decodable.cc
  speechx/speechx/asr/nnet/nnet_producer.cc
  speechx/speechx/asr/nnet/nnet_producer.h
  speechx/speechx/asr/nnet/u2_nnet_thread_main.cc
  speechx/speechx/asr/recognizer/u2_recognizer.cc
  speechx/speechx/asr/recognizer/u2_recognizer.h
  speechx/speechx/asr/recognizer/u2_recognizer_main.cc
  speechx/speechx/asr/recognizer/u2_recognizer_thread_main.cc
  speechx/speechx/common/frontend/feature_cache.cc
  speechx/speechx/common/frontend/feature_cache.h
Due: auto add label=Deployment

Update README.md
  README.md
Due: auto add label=README

Update README_cn.md
  README_cn.md
Due: none

Update README.md (#2840)
  README.md
  README_cn.md
Due: auto add label=README

VITS sampler fix, test=tts
  paddlespeech/t2s/exps/vits/normalize.py
  paddlespeech/t2s/exps/vits/preprocess.py
  paddlespeech/t2s/exps/vits/train.py
Due: auto add label=T2S

update QR Code in README, test=doc
  README.md
  README_cn.md
Due: auto add label=README

update QR Code in README, test=doc (#2841)
  README.md
  README_cn.md
Due: auto add label=README

fix nnet thread crash && rescore cost time
  speechx/speechx/asr/decoder/ctc_prefix_beam_search_decoder.cc
  speechx/speechx/asr/nnet/nnet_producer.cc
  speechx/speechx/asr/nnet/nnet_producer.h
  speechx/speechx/asr/recognizer/u2_recognizer.cc
  speechx/speechx/asr/recognizer/u2_recognizer.h
  speechx/speechx/asr/recognizer/u2_recognizer_thread_main.cc
  speechx/speechx/common/frontend/compute_fbank_main.cc
  speechx/speechx/common/frontend/feature_cache.cc
  speechx/speechx/common/frontend/feature_cache.h
  speechx/speechx/common/frontend/feature_pipeline.cc
  speechx/speechx/common/frontend/feature_pipeline.h
Due: auto add label=Deployment

add nnet thread main
  speechx/speechx/asr/nnet/nnet_producer.cc
  speechx/speechx/asr/nnet/u2_nnet_thread_main.cc
Due: auto add label=Deployment

fix
  speechx/speechx/asr/nnet/u2_nnet_thread_main.cc
Due: auto add label=Deployment

[speechx] thread decode (#2839)
  speechx/speechx/asr/decoder/ctc_prefix_beam_search_decoder.cc
  speechx/speechx/asr/nnet/CMakeLists.txt
  speechx/speechx/asr/nnet/decodable.cc
  speechx/speechx/asr/nnet/nnet_producer.cc
  speechx/speechx/asr/nnet/nnet_producer.h
  speechx/speechx/asr/nnet/u2_nnet_thread_main.cc
  speechx/speechx/asr/recognizer/u2_recognizer.cc
  speechx/speechx/asr/recognizer/u2_recognizer.h
  speechx/speechx/asr/recognizer/u2_recognizer_main.cc
  speechx/speechx/asr/recognizer/u2_recognizer_thread_main.cc
  speechx/speechx/common/frontend/compute_fbank_main.cc
  speechx/speechx/common/frontend/feature_cache.cc
  speechx/speechx/common/frontend/feature_cache.h
  speechx/speechx/common/frontend/feature_pipeline.cc
  speechx/speechx/common/frontend/feature_pipeline.h
Due: auto add label=Deployment

[TTS]VITS init sampler reverse, test=tts (#2843)
  paddlespeech/t2s/exps/vits/normalize.py
  paddlespeech/t2s/exps/vits/preprocess.py
  paddlespeech/t2s/exps/vits/train.py
Due: auto add label=T2S

add StarGANv2-VC model scripts, test=tts
  examples/vctk/README.md
  examples/vctk/vc3/conf/default.yaml
  examples/vctk/vc3/local/preprocess.sh
  examples/vctk/vc3/local/train.sh
  examples/vctk/vc3/path.sh
  examples/vctk/vc3/run.sh
  paddlespeech/t2s/exps/starganv2_vc/__init__.py
  paddlespeech/t2s/models/starganv2_vc/ASR/__init__.py
  paddlespeech/t2s/models/starganv2_vc/ASR/config.yml
  paddlespeech/t2s/models/starganv2_vc/ASR/layers.py
  paddlespeech/t2s/models/starganv2_vc/ASR/model.py
  paddlespeech/t2s/models/starganv2_vc/JDC/__init__.py
  paddlespeech/t2s/models/starganv2_vc/JDC/model.py
  paddlespeech/t2s/models/starganv2_vc/__init__.py
  paddlespeech/t2s/models/starganv2_vc/losses.py
  paddlespeech/t2s/models/starganv2_vc/starganv2_vc.py
  paddlespeech/t2s/models/starganv2_vc/starganv2_vc_updater.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

add coarse vc.py, test=tts
  examples/vctk/vc3/local/voice_conversion.sh
  paddlespeech/t2s/datasets/get_feats.py
  paddlespeech/t2s/exps/starganv2_vc/vc.py
  paddlespeech/t2s/models/starganv2_vc/AuxiliaryASR/__init__.py
  paddlespeech/t2s/models/starganv2_vc/AuxiliaryASR/config.yml
  paddlespeech/t2s/models/starganv2_vc/AuxiliaryASR/layers.py
  paddlespeech/t2s/models/starganv2_vc/AuxiliaryASR/model.py
  paddlespeech/t2s/models/starganv2_vc/JDCNet/__init__.py
  paddlespeech/t2s/models/starganv2_vc/JDCNet/model.py
  paddlespeech/t2s/models/starganv2_vc/__init__.py
  paddlespeech/t2s/models/starganv2_vc/starganv2_vc.py
Due: auto add label=T2S, auto add label=Example

add soft link for tts0
  examples/ljspeech/tts0/local/train.sh
  examples/ljspeech/tts0/path.sh
Due: auto add label=Example

add soft link for zh_en_tts
  examples/zh_en_tts/tts3/local/train.sh
Due: auto add label=Example

add soft link for aishell3/vc
  examples/aishell3/vc0/path.sh
  examples/aishell3/vc1/local/train.sh
  examples/aishell3/vc1/path.sh
  examples/aishell3/vc2/local/synthesize.sh
  examples/aishell3/vc2/local/train.sh
  examples/aishell3/vc2/path.sh
Due: auto add label=Example

clean fluid elementwise_max and square api.
  paddlespeech/s2t/training/gradclip.py
Due: auto add label=S2T

fix protobuf version to match paddlepaddle develop
  setup.py
Due: auto add label=Installation

rm protobuf in setup.py
  setup.py
Due: auto add label=Installation

rm audio's dependances in setup.py
  audio/setup.py
  docs/requirements.txt
  setup.py
Due: auto add label=Documentation, auto add label=Installation

clean fluid elementwise_max and square api. (#2852)
  paddlespeech/s2t/training/gradclip.py
Due: auto add label=S2T

[Install]rm protobuf in setup.py (#2853)
  audio/setup.py
  docs/requirements.txt
  setup.py
Due: auto add label=Documentation, auto add label=Installation

remove some fluid api (elementwise_div elementwise_mul sqrt reduce_sum).
  paddlespeech/s2t/training/gradclip.py
Due: auto add label=S2T

Avoid using variable "attn_loss" before assignment
  paddlespeech/t2s/models/tacotron2/tacotron2_updater.py
Due: auto add label=T2S

remove some fluid api (elementwise_div elementwise_mul sqrt reduce_sum). (#2859)
  paddlespeech/s2t/training/gradclip.py
Due: auto add label=S2T

fix data for slim
  examples/csmsc/tts3/local/PTQ_static.sh
  examples/csmsc/voc1/local/PTQ_static.sh
Due: auto add label=Example

Update zh_frontend.py
  paddlespeech/t2s/frontend/zh_frontend.py
Due: auto add label=T2S

fix data for slim (#2862)
  examples/csmsc/tts3/local/PTQ_static.sh
  examples/csmsc/voc1/local/PTQ_static.sh
Due: auto add label=Example

fix open encoding
  paddlespeech/cli/tts/infer.py
  paddlespeech/t2s/frontend/phonectic.py
  paddlespeech/t2s/frontend/zh_frontend.py
Due: auto add label=T2S, auto add label=CLI

Update zh_frontend.py (#2863)
  paddlespeech/t2s/frontend/zh_frontend.py
Due: auto add label=T2S

add recognizer_batch
  speechx/speechx/asr/nnet/u2_nnet.cc
  speechx/speechx/asr/nnet/u2_nnet.h
  speechx/speechx/asr/recognizer/CMakeLists.txt
  speechx/speechx/asr/recognizer/u2_recognizer.cc
  speechx/speechx/asr/recognizer/u2_recognizer.h
  speechx/speechx/asr/recognizer/u2_recognizer_batch_main.cc
  speechx/speechx/common/base/common.h
Due: auto add label=Deployment

remove utils and third_party in paddlespeech's site-packages
  audio/setup.py
  setup.py
Due: auto add label=Installation

fix
  speechx/speechx/asr/recognizer/u2_recognizer.cc
  speechx/speechx/asr/recognizer/u2_recognizer.h
  speechx/speechx/asr/recognizer/u2_recognizer_batch_main.cc
Due: auto add label=Deployment

fix for train scripts and synthesize scripts
  paddlespeech/cli/tts/infer.py
  paddlespeech/t2s/exps/ernie_sat/synthesize_e2e.py
  paddlespeech/t2s/exps/ernie_sat/train.py
  paddlespeech/t2s/exps/fastspeech2/train.py
  paddlespeech/t2s/exps/speedyspeech/synthesize_e2e.py
  paddlespeech/t2s/exps/speedyspeech/train.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/tacotron2/train.py
  paddlespeech/t2s/exps/transformer_tts/train.py
  paddlespeech/t2s/exps/vits/train.py
Due: auto add label=T2S, auto add label=CLI

fix
  speechx/speechx/asr/recognizer/u2_recognizer.h
Due: auto add label=Deployment

fix for train scripts and synthesize scripts
  paddlespeech/t2s/exps/ernie_sat/train.py
  paddlespeech/t2s/exps/speedyspeech/train.py
  paddlespeech/t2s/exps/transformer_tts/train.py
Due: auto add label=T2S

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
