Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

Update and rename bug-report-asr.md to bug-report-s2t.md
  .github/ISSUE_TEMPLATE/bug-report-s2t.md
Due: auto add label=CI

Update bug-report-s2t.md
  .github/ISSUE_TEMPLATE/bug-report-s2t.md
Due: auto add label=CI

Update bug-report-tts.md
  .github/ISSUE_TEMPLATE/bug-report-tts.md
Due: auto add label=CI

Update issue templates
  .github/ISSUE_TEMPLATE/bug-report-tts.md
  .github/ISSUE_TEMPLATE/feature-request.md
Due: auto add label=CI

fix tone mistakes, test=tts
  paddlespeech/t2s/frontend/tone_sandhi.py
Due: auto add label=T2S

remove debug code, test=tts
  paddlespeech/t2s/frontend/tone_sandhi.py
Due: auto add label=T2S

add tone fix, test=tts
  paddlespeech/t2s/frontend/tone_sandhi.py
Due: auto add label=T2S

add more condition to fix tones, test=tts
  paddlespeech/t2s/frontend/tone_sandhi.py
Due: auto add label=T2S

fixed multi-gpu training
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/attention.py
  paddlespeech/s2t/modules/conformer_convolution.py
  paddlespeech/s2t/modules/decoder_layer.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/modules/encoder_layer.py
Due: auto add label=S2T

fix multigpu train
  paddlespeech/s2t/modules/align.py
  paddlespeech/s2t/modules/attention.py
  paddlespeech/s2t/modules/conformer_convolution.py
  paddlespeech/s2t/modules/decoder_layer.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/modules/encoder_layer.py
  paddlespeech/s2t/modules/initializer.py
Due: auto add label=S2T

add special tone modifed case, test=tts
  paddlespeech/t2s/frontend/tone_sandhi.py
Due: auto add label=T2S

commit
  paddlespeech/s2t/__init__.py
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/exps/u2_kaldi/model.py
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/io/dataloader.py
  paddlespeech/s2t/models/u2_st/u2_st.py
Due: auto add label=S2T

fix conformer multi-gpu training
  paddlespeech/s2t/modules/encoder.py
Due: auto add label=S2T

fix multi-gpu training
  paddlespeech/s2t/modules/encoder.py
Due: auto add label=S2T

run pre-commit
  paddlespeech/t2s/frontend/tone_sandhi.py
Due: auto add label=T2S

[TTS]fix bug of tone modify (#2323)
  paddlespeech/t2s/frontend/tone_sandhi.py
Due: auto add label=T2S

fix conformer multi-gpu training test=asr
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/attention.py
  paddlespeech/s2t/modules/conformer_convolution.py
  paddlespeech/s2t/modules/decoder_layer.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/modules/encoder_layer.py
Due: auto add label=S2T

Update README.md
  demos/speaker_verification/README.md
Due: auto add label=Demo, auto add label=README

Update README_cn.md
  demos/speaker_verification/README_cn.md
Due: auto add label=Demo

fix multigpu training test=asr
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/attention.py
  paddlespeech/s2t/modules/conformer_convolution.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/modules/encoder_layer.py
Due: auto add label=S2T

fix multigpu training
  paddlespeech/server/engine/asr/online/python/asr_engine.py
Due: auto add label=Server

[vec][spk] add speechbrain ecapa-tdnn result
  examples/voxceleb/sv0/RESULT.md
Due: auto add label=Example

Update README.md
  demos/audio_searching/README.md
Due: auto add label=Demo, auto add label=README

fix tone, update readme
  examples/other/g2p/README.md
  paddlespeech/t2s/frontend/tone_sandhi.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

fix format test=asr
  paddlespeech/s2t/modules/encoder_layer.py
  paddlespeech/server/engine/asr/online/python/asr_engine.py
Due: auto add label=S2T, auto add label=Server

s2t: fix encoder.py
  paddlespeech/s2t/modules/encoder.py
Due: auto add label=S2T

Update README.md
  examples/iwslt2012/punc0/README.md
Due: auto add label=Example, auto add label=README

Update application.yaml
  demos/streaming_asr_server/conf/application.yaml
Due: auto add label=Demo

fix the bug "can't start ASR streaming_server" (#2337)
  demos/streaming_asr_server/conf/application.yaml
  examples/iwslt2012/punc0/README.md
Due: auto add label=Example, auto add label=Demo, auto add label=README

fix tone, update readme (#2335)
  examples/other/g2p/README.md
  paddlespeech/t2s/frontend/tone_sandhi.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

fix batch_size, gpus
  examples/aishell3/vits-vc/conf/default.yaml
  examples/aishell3/vits-vc/run.sh
  examples/aishell3/vits/conf/default.yaml
  examples/aishell3/vits/run.sh
  examples/csmsc/vits/run.sh
Due: auto add label=Example

fix windows format to linux
  examples/aishell3/vits-vc/local/voice_cloning.sh
  examples/aishell3/vits-vc/run.sh
Due: auto add label=Example
