Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

create streaming_asr_demo.rst, test=doc
  docs/source/streaming_asr_demo_video.rst
Due: auto add label=Documentation

fix cors, test=doc
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/speech_server/asr_client.sh
  demos/speech_server/cls_client.sh
  demos/speech_server/conf/application.yaml
  demos/speech_server/tts_client.sh
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  demos/streaming_asr_server/test.sh
  demos/streaming_tts_server/README.md
  demos/streaming_tts_server/README_cn.md
  demos/streaming_tts_server/conf/tts_online_application.yaml
  demos/streaming_tts_server/test_client.sh
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/bin/paddlespeech_server.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/conf/tts_online_application.yaml
  tests/unit/server/offline/conf/application.yaml
  tests/unit/server/online/tts/check_server/conf/application.yaml
  tests/unit/server/online/tts/check_server/tts_online_application.yaml
Due: auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Test

add readme
  demos/custom_streaming_asr/README.md
  demos/custom_streaming_asr/README_cn.md
Due: auto add label=Demo, auto add label=README

test=doc
  docs/source/index.rst
Due: auto add label=Documentation

add docker pull
  demos/custom_streaming_asr/README.md
  demos/custom_streaming_asr/README_cn.md
Due: auto add label=Demo, auto add label=README

test=asr
  docs/source/asr/PPASR_cn.md
Due: auto add label=Documentation

test=doc
  docs/source/streaming_asr_demo_video.rst
Due: auto add label=Documentation

update the vector and text readme, test=doc
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/speech_server/conf/application.yaml
  demos/streaming_asr_server/conf/ws_conformer_wenetspeech_application.yaml
  paddlespeech/server/README.md
  paddlespeech/server/engine/asr/online/pretrained_models.py
Due: auto add label=Server, auto add label=Demo, auto add label=README

format
  demos/custom_streaming_asr/README.md
  demos/custom_streaming_asr/README_cn.md
Due: auto add label=Demo, auto add label=README

format
  demos/custom_streaming_asr/README_cn.md
Due: auto add label=Demo

update to r1.0.1, test=doc
  setup.py
Due: auto add label=Installation

test=doc
  demos/streaming_asr_server/README_cn.md
Due: auto add label=Demo

test=doc
  demos/streaming_asr_server/README.md
Due: auto add label=Demo, auto add label=README

add check asr server model type, test=doc
  demos/streaming_asr_server/conf/application.yaml
  paddlespeech/server/engine/asr/online/asr_engine.py
Due: auto add label=Server, auto add label=Demo

update the init flag, test=doc
  paddlespeech/server/engine/asr/online/asr_engine.py
Due: auto add label=Server

acs server, test=doc
  demos/audio_content_search/acs_clinet.py
  demos/audio_content_search/conf/acs_application.yaml
  demos/audio_content_search/conf/ws_conformer_application.yaml
  demos/audio_content_search/conf/ws_conformer_wenetspeech_application.yaml
  demos/audio_content_search/words.txt
  paddlespeech/server/bin/paddlespeech_server.py
  paddlespeech/server/engine/acs/__init__.py
  paddlespeech/server/engine/acs/python/__init__.py
  paddlespeech/server/engine/acs/python/acs_engine.py
  paddlespeech/server/engine/engine_factory.py
  paddlespeech/server/engine/engine_pool.py
  paddlespeech/server/restful/api.py
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/server/ws/asr_api.py
Due: auto add label=Server, auto add label=Demo

update the acs engine doc, test=doc
  demos/audio_content_search/README.md
  demos/audio_content_search/README_cn.md
  demos/audio_content_search/conf/acs_application.yaml
  demos/audio_content_search/conf/words.txt
  demos/audio_content_search/run.sh
  demos/streaming_asr_server/conf/ws_conformer_wenetspeech_application.yaml
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/engine/acs/python/acs_engine.py
  paddlespeech/server/restful/acs_api.py
  paddlespeech/server/restful/response.py
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/server/ws/asr_api.py
Due: auto add label=Server, auto add label=Demo, auto add label=README

test=doc
  demos/custom_streaming_asr/README_cn.md
Due: auto add label=Demo

Updata PPASR_cn.md, test=doc
  docs/source/asr/PPASR_cn.md
Due: auto add label=Documentation

test=asr
  docs/source/asr/PPASR.md
Due: auto add label=Documentation

fix test_rtf, test=doc
  tests/unit/cli/cacu_rtf_by_aishell.sh
  tests/unit/cli/path.sh
Due: auto add label=Test

test=doc
  docs/source/asr/PPASR.md
Due: auto add label=Documentation

test=doc
  docs/source/tts/PPTTS.md
Due: auto add label=Documentation

fix yao, test=tts
  paddlespeech/t2s/frontend/tone_sandhi.py
  paddlespeech/t2s/frontend/zh_normalization/num.py
Due: auto add label=T2S

refair the acs note, test=doc
  paddlespeech/server/bin/paddlespeech_client.py
Due: auto add label=Server

add asr time limt configuration, test=doc
  paddlespeech/cli/asr/infer.py
  paddlespeech/s2t/modules/decoder.py
  paddlespeech/s2t/modules/embedding.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/server/engine/asr/python/asr_engine.py
Due: auto add label=S2T, auto add label=CLI, auto add label=Server

test=doc
  docs/source/install.md
Due: auto add label=Documentation

test=doc
  examples/wenetspeech/asr1/RESULTS.md
Due: auto add label=Example

test=doc
  examples/aishell/asr1/RESULTS.md
Due: auto add label=Example

test=doc
  examples/librispeech/asr0/RESULTS.md
Due: auto add label=Example

test=doc
  examples/librispeech/asr1/RESULTS.md
Due: auto add label=Example
