Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

update svs_music_score.md, test=doc
  docs/source/tts/svs_music_score.md
Due: auto add label=Documentation

fix abuiild error
  runtime/CMakeLists.txt
  runtime/cmake/gflags.cmake
  runtime/engine/asr/recognizer/CMakeLists.txt
  runtime/engine/common/frontend/CMakeLists.txt
  runtime/engine/kaldi/fstbin/CMakeLists.txt
Due: none

fix paddle2onnx's install version, install the newest paddle2onnx in run.sh (#3084)
  examples/aishell3/tts3/run.sh
  examples/canton/tts3/run.sh
  examples/csmsc/tts2/run.sh
  examples/csmsc/tts3/run.sh
  examples/csmsc/tts3/run_cnndecoder.sh
  examples/csmsc/vits/run.sh
  examples/ljspeech/tts3/run.sh
  examples/vctk/tts3/run.sh
  examples/zh_en_tts/tts3/run.sh
Due: auto add label=Example

modify the format of iSTFTNet.md
  examples/csmsc/voc5/iSTFTNet.md
Due: auto add label=Example

[TTS] update svs_music_score.md (#3085)
  docs/source/tts/svs_music_score.md
Due: auto add label=Documentation

librispeech hubert, test=asr
  dataset/librispeech/librispeech.py
  examples/librispeech/asr3/conf/hubertASR.yaml
  examples/librispeech/asr3/local/data.sh
  examples/librispeech/asr3/local/test.sh
  examples/librispeech/asr3/local/test_wav.sh
  examples/librispeech/asr3/local/train.sh
  examples/librispeech/asr3/path.sh
  examples/librispeech/asr3/run.sh
  paddlespeech/s2t/exps/hubert/__init__.py
  paddlespeech/s2t/exps/hubert/bin/__init__.py
  paddlespeech/s2t/exps/hubert/bin/test.py
  paddlespeech/s2t/exps/hubert/bin/test_wav.py
  paddlespeech/s2t/exps/hubert/bin/train.py
  paddlespeech/s2t/exps/hubert/model.py
  paddlespeech/s2t/models/hubert/__init__.py
  paddlespeech/s2t/models/hubert/hubert_ASR.py
  paddlespeech/s2t/models/hubert/modules/hubert_model.py
  paddlespeech/s2t/models/wav2vec2/modules/modeling_wav2vec2.py
  paddlespeech/s2t/models/wav2vec2/modules/wav2vec2_model.py
Due: auto add label=Dataset, auto add label=S2T, auto add label=Example

librispeech hubert, test=asr
  paddlespeech/__init__.py
  paddlespeech/s2t/models/wav2vec2/modules/modeling_wav2vec2.py
  paddlespeech/s2t/models/wav2vec2/modules/wav2vec2_model.py
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
Due: auto add label=S2T

modify iSTFT.yaml and hifigan.py
  examples/csmsc/voc5/conf/iSTFT.yaml
  paddlespeech/t2s/models/hifigan/hifigan.py
Due: auto add label=T2S, auto add label=Example

Format code using pre-commit
  examples/csmsc/voc5/iSTFTNet.md
  paddlespeech/t2s/models/hifigan/hifigan.py
Due: auto add label=T2S, auto add label=Example

fix
  runtime/engine/asr/decoder/CMakeLists.txt
  runtime/engine/asr/nnet/u2_nnet.cc
  runtime/engine/asr/recognizer/u2_recognizer_main.cc
  runtime/engine/asr/recognizer/u2_recognizer_thread_main.cc
Due: none

hubert decode
  examples/librispeech/asr3/local/test.sh
  examples/librispeech/asr3/run.sh
  paddlespeech/s2t/exps/hubert/model.py
  paddlespeech/s2t/models/hubert/hubert_ASR.py
Due: auto add label=S2T, auto add label=Example

fix
  runtime/engine/asr/nnet/u2_nnet.cc
Due: none

fix cmakelist
  runtime/CMakeLists.txt
Due: none

add RNNT model.
  examples/aishell/asr4/conf/augmentation.json
  examples/aishell/asr4/conf/preprocess.yaml
  examples/aishell/asr4/conf/rnnt.yaml
  examples/aishell/asr4/conf/tuning/chunk_decode.yaml
  examples/aishell/asr4/conf/tuning/decode.yaml
  examples/aishell/asr4/local/aishell_train_lms.sh
  examples/aishell/asr4/local/align.sh
  examples/aishell/asr4/local/data.sh
  examples/aishell/asr4/local/export.sh
  examples/aishell/asr4/local/test.sh
  examples/aishell/asr4/local/test_wav.sh
  examples/aishell/asr4/local/tlg.sh
  examples/aishell/asr4/local/train.sh
  examples/aishell/asr4/path.sh
  examples/aishell/asr4/run.sh
  examples/aishell/asr4/utils
  paddlespeech/s2t/exps/rnnt/__init__.py
  paddlespeech/s2t/exps/rnnt/bin/__init__.py
  paddlespeech/s2t/exps/rnnt/bin/test.py
  paddlespeech/s2t/exps/rnnt/bin/train.py
  paddlespeech/s2t/exps/rnnt/model.py
  paddlespeech/s2t/models/transducer/__init__.py
  paddlespeech/s2t/models/transducer/greedy_search.py
  paddlespeech/s2t/models/transducer/joint.py
  paddlespeech/s2t/models/transducer/predictor.py
  paddlespeech/s2t/models/transducer/prefix_beam_search.py
  paddlespeech/s2t/models/transducer/transducer.py
  paddlespeech/s2t/utils/rnnt_utils.py
Due: auto add label=S2T, auto add label=Example

[engine] add recognizer_controller && fix build bugs (#3086)
  runtime/CMakeLists.txt
  runtime/cmake/gflags.cmake
  runtime/cmake/openfst.cmake
  runtime/engine/CMakeLists.txt
  runtime/engine/asr/decoder/CMakeLists.txt
  runtime/engine/asr/nnet/u2_nnet.cc
  runtime/engine/asr/recognizer/CMakeLists.txt
  runtime/engine/asr/recognizer/recognizer_batch_main.cc
  runtime/engine/asr/recognizer/recognizer_controller.cc
  runtime/engine/asr/recognizer/recognizer_controller.h
  runtime/engine/asr/recognizer/u2_recognizer_main.cc
  runtime/engine/asr/recognizer/u2_recognizer_thread_main.cc
  runtime/engine/common/frontend/CMakeLists.txt
  runtime/engine/kaldi/fstbin/CMakeLists.txt
Due: none

[UPDATE] 实现一遍推理即可实现pitch/energy/duration控制的fastspeech2 infer
  paddlespeech/cli/tts/infer.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
Due: auto add label=T2S, auto add label=CLI

[TTS] fastspeech2.infer with p/e/d control, test=tts
  paddlespeech/cli/tts/infer.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
Due: auto add label=T2S, auto add label=CLI

rm unused dep, test=tts
  paddlespeech/t2s/modules/diffnet.py
  paddlespeech/t2s/modules/diffusion.py
  paddlespeech/t2s/modules/wavenet_denoiser.py
Due: auto add label=T2S

fix vits lite infer
  examples/csmsc/vits/local/lite_predict.sh
  examples/csmsc/vits/run.sh
Due: auto add label=Example

fix vits lite infer
  paddlespeech/t2s/exps/vits/lite_predict.py
Due: auto add label=T2S

rm unused dep, test=tts (#3097)
  paddlespeech/t2s/modules/diffnet.py
  paddlespeech/t2s/modules/diffusion.py
  paddlespeech/t2s/modules/wavenet_denoiser.py
Due: auto add label=T2S

fix vits lite infer
  examples/csmsc/vits/run.sh
Due: auto add label=Example

support vad ios compile
  runtime/CMakeLists.txt
  runtime/build.sh
  runtime/cmake/glog.cmake
  runtime/engine/CMakeLists.txt
  runtime/engine/common/base/CMakeLists.txt
  runtime/engine/common/base/log.h.in
  runtime/engine/vad/CMakeLists.txt
  runtime/engine/vad/interface/CMakeLists.txt
  runtime/engine/vad/nnet/CMakeLists.txt
Due: none

support onnx model recognize
  runtime/CMakeLists.txt
  runtime/build.sh
  runtime/cmake/onnx.cmake
  runtime/engine/asr/decoder/param.h
  runtime/engine/asr/nnet/CMakeLists.txt
  runtime/engine/asr/nnet/nnet_itf.h
  runtime/engine/asr/nnet/u2_nnet_thread_main.cc
  runtime/engine/asr/nnet/u2_onnx_nnet.cc
  runtime/engine/asr/nnet/u2_onnx_nnet.h
  runtime/engine/asr/recognizer/u2_recognizer.cc
  runtime/engine/asr/recognizer/u2_recognizer_thread_main.cc
  runtime/engine/common/base/flags.h.in
  runtime/engine/common/frontend/feature_pipeline.cc
  runtime/engine/common/utils/strings.cc
  runtime/engine/common/utils/strings.h
  runtime/engine/vad/interface/CMakeLists.txt
  runtime/engine/vad/nnet/CMakeLists.txt
Due: none

add build ios sh
  runtime/build_ios.sh
Due: none

fix comments
  runtime/CMakeLists.txt
  runtime/build_ios.sh
  runtime/cmake/EnableCMP0077.cmake
  runtime/cmake/onnx.cmake
  runtime/engine/asr/nnet/u2_onnx_nnet.cc
  runtime/engine/asr/nnet/u2_onnx_nnet.h
  runtime/engine/asr/recognizer/CMakeLists.txt
  runtime/engine/asr/recognizer/u2_recognizer_thread_main.cc
Due: none

[runtime] support onnx runtime && support ios compile (#3101)
  runtime/CMakeLists.txt
  runtime/build_ios.sh
  runtime/cmake/EnableCMP0077.cmake
  runtime/cmake/glog.cmake
  runtime/cmake/onnx.cmake
  runtime/engine/CMakeLists.txt
  runtime/engine/asr/decoder/param.h
  runtime/engine/asr/nnet/CMakeLists.txt
  runtime/engine/asr/nnet/nnet_itf.h
  runtime/engine/asr/nnet/u2_nnet_thread_main.cc
  runtime/engine/asr/nnet/u2_onnx_nnet.cc
  runtime/engine/asr/nnet/u2_onnx_nnet.h
  runtime/engine/asr/recognizer/CMakeLists.txt
  runtime/engine/asr/recognizer/u2_recognizer.cc
  runtime/engine/asr/recognizer/u2_recognizer_main.cc
  runtime/engine/common/base/CMakeLists.txt
  runtime/engine/common/base/flags.h.in
  runtime/engine/common/base/log.h.in
  runtime/engine/common/frontend/feature_pipeline.cc
  runtime/engine/common/utils/strings.cc
  runtime/engine/common/utils/strings.h
  runtime/engine/vad/CMakeLists.txt
  runtime/engine/vad/interface/CMakeLists.txt
  runtime/engine/vad/nnet/CMakeLists.txt
Due: none

add jets
  examples/csmsc/jets/README.md
  examples/csmsc/jets/conf/default.yaml
  examples/csmsc/jets/local/inference.sh
  examples/csmsc/jets/local/preprocess.sh
  examples/csmsc/jets/local/synthesize.sh
  examples/csmsc/jets/local/synthesize_e2e.sh
  examples/csmsc/jets/local/train.sh
  examples/csmsc/jets/path.sh
  examples/csmsc/jets/run.sh
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/exps/jets/__init__.py
  paddlespeech/t2s/exps/jets/inference.py
  paddlespeech/t2s/exps/jets/normalize.py
  paddlespeech/t2s/exps/jets/preprocess.py
  paddlespeech/t2s/exps/jets/synthesize.py
  paddlespeech/t2s/exps/jets/synthesize_e2e.py
  paddlespeech/t2s/exps/jets/train.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/models/jets/__init__.py
  paddlespeech/t2s/models/jets/alignments.py
  paddlespeech/t2s/models/jets/generator.py
  paddlespeech/t2s/models/jets/jets.py
  paddlespeech/t2s/models/jets/jets_updater.py
  paddlespeech/t2s/models/jets/length_regulator.py
  paddlespeech/t2s/modules/losses.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

fix cmake bug
  runtime/CMakeLists.txt
  runtime/build.sh
  runtime/build_android.sh
  runtime/cmake/glog.cmake
  runtime/engine/asr/nnet/u2_nnet.cc
  runtime/engine/cls/nnet/CMakeLists.txt
  runtime/engine/cls/nnet/panns_nnet.cc
  runtime/engine/cls/nnet/panns_nnet_main.cc
  runtime/engine/common/base/log_impl.h
  runtime/engine/common/frontend/CMakeLists.txt
  runtime/engine/kaldi/base/kaldi-error.h
  runtime/engine/vad/interface/CMakeLists.txt
  runtime/engine/vad/nnet/CMakeLists.txt
Due: none

[runtime] fix linux && android cmake bug (#3112)
  runtime/CMakeLists.txt
  runtime/build.sh
  runtime/build_android.sh
  runtime/cmake/glog.cmake
  runtime/engine/asr/nnet/u2_nnet.cc
  runtime/engine/cls/nnet/CMakeLists.txt
  runtime/engine/cls/nnet/panns_nnet.cc
  runtime/engine/cls/nnet/panns_nnet_main.cc
  runtime/engine/common/base/log_impl.h
  runtime/engine/common/frontend/CMakeLists.txt
  runtime/engine/kaldi/base/kaldi-error.h
  runtime/engine/vad/interface/CMakeLists.txt
  runtime/engine/vad/nnet/CMakeLists.txt
Due: none

Update bug-report-tts.md
  .github/ISSUE_TEMPLATE/bug-report-tts.md
Due: auto add label=CI

Update bug-report-tts.md (#3120)
  .github/ISSUE_TEMPLATE/bug-report-tts.md
Due: auto add label=CI

add function for generating srt file
  demos/streaming_asr_server/local/websocket_client.py
Due: auto add label=Demo

fix controller bugs
  runtime/engine/asr/recognizer/recognizer_batch_main.cc
  runtime/engine/asr/recognizer/recognizer_controller.cc
  runtime/engine/asr/recognizer/recognizer_controller.h
Due: none

modify hifigan.py,delete the unused self.istft_layer_id , move the self.output_conv behind else, change conv_post to output_conv
  paddlespeech/t2s/models/hifigan/hifigan.py
Due: auto add label=T2S

update iSTFTNet_csmsc_ckpt.zip download link
  examples/csmsc/voc5/iSTFTNet.md
Due: auto add label=Example

modify iSTFTNet.md
  examples/csmsc/voc5/iSTFTNet.md
Due: auto add label=Example

refactor recognizer_controller
  runtime/CMakeLists.txt
  runtime/engine/asr/decoder/CMakeLists.txt
  runtime/engine/asr/nnet/CMakeLists.txt
  runtime/engine/asr/nnet/decodable.h
  runtime/engine/asr/nnet/nnet_producer.cc
  runtime/engine/asr/nnet/nnet_producer.h
  runtime/engine/asr/recognizer/CMakeLists.txt
  runtime/engine/asr/recognizer/recognizer.cc
  runtime/engine/asr/recognizer/recognizer.h
  runtime/engine/asr/recognizer/recognizer_batch_main.cc
  runtime/engine/asr/recognizer/recognizer_controller.cc
  runtime/engine/asr/recognizer/recognizer_controller.h
  runtime/engine/asr/recognizer/recognizer_controller_impl.cc
  runtime/engine/asr/recognizer/recognizer_controller_impl.h
  runtime/engine/asr/recognizer/recognizer_impl.cc
  runtime/engine/asr/recognizer/recognizer_impl.h
  runtime/engine/asr/recognizer/recognizer_main.cc
  runtime/engine/asr/recognizer/recognizer_resource.h
  runtime/engine/asr/recognizer/u2_recognizer_batch_main.cc
  runtime/engine/common/frontend/assembler.cc
  runtime/engine/common/frontend/audio_cache.cc
  runtime/engine/common/frontend/audio_cache.h
  runtime/engine/common/frontend/fbank.cc
  runtime/engine/common/frontend/feature_cache.cc
  runtime/engine/common/frontend/feature_cache.h
  runtime/engine/common/frontend/mfcc.cc
  runtime/engine/common/frontend/mfcc.h
  runtime/engine/common/utils/blank_process.cc
  runtime/engine/common/utils/blank_process.h
  runtime/engine/common/utils/strings.cc
  runtime/engine/common/utils/strings.h
  runtime/engine/common/utils/strings_test.cc
  runtime/engine/common/utils/text_process.cc
  runtime/engine/common/utils/text_process.h
  runtime/engine/common/utils/text_process_test.cc
  runtime/examples/u2pp_ol/wenetspeech/local/recognizer.sh
Due: none

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
