Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

test=doc
  examples/librispeech/asr0/RESULTS.md
Due: auto add label=Example

support editing num_decode_left_chunks in cli and server
  demos/streaming_asr_server/conf/ws_conformer_application.yaml
  demos/streaming_asr_server/conf/ws_conformer_wenetspeech_application.yaml
  demos/streaming_asr_server/conf/ws_ds2_application.yaml
  paddlespeech/cli/asr/infer.py
  paddlespeech/server/conf/ws_application.yaml
  paddlespeech/server/conf/ws_conformer_application.yaml
  paddlespeech/server/engine/asr/online/asr_engine.py
Due: auto add label=CLI, auto add label=Server, auto add label=Demo

do not reset result for web ws api
  demos/streaming_asr_server/server.sh
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/ws/asr_api.py
Due: auto add label=Server, auto add label=Demo

update reademe, add conf file, updata test_cli
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  demos/streaming_asr_server/conf/ws_conformer_wenetspeech_application_faster.yaml
  paddlespeech/cli/asr/infer.py
  paddlespeech/server/conf/ws_conformer_wenetspeech_application_faster.yaml
  tests/unit/cli/test_cli.sh
Due: auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Test

update model, test=doc
  docs/source/released_model.md
  paddlespeech/resource/pretrained_models.py
Due: auto add label=Documentation

pdmodel prune and infershape
  speechx/examples/ds2_ol/onnx/.gitignore
  speechx/examples/ds2_ol/onnx/local/netron.sh
  speechx/examples/ds2_ol/onnx/local/onnx_opt.sh
  speechx/examples/ds2_ol/onnx/local/pd_infer_shape.py
  speechx/examples/ds2_ol/onnx/local/pd_prune_model.py
  speechx/examples/ds2_ol/onnx/local/prune.sh
  speechx/examples/ds2_ol/onnx/local/tonnx.sh
  speechx/examples/ds2_ol/onnx/path.sh
  speechx/examples/ds2_ol/onnx/run.sh
  speechx/examples/ds2_ol/onnx/utils
Due: auto add label=Deployment

format
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/ws/asr_api.py
Due: auto add label=Server

onxx rename and prune
  speechx/examples/ds2_ol/onnx/local/onnx_prune_model.py
  speechx/examples/ds2_ol/onnx/local/onnx_rename_model.py
  speechx/examples/ds2_ol/onnx/local/pd_infer_shape.py
  speechx/examples/ds2_ol/onnx/local/prune.sh
  speechx/examples/ds2_ol/onnx/local/tonnx.sh
  speechx/examples/ds2_ol/onnx/run.sh
Due: auto add label=Deployment

fix cli, test=doc
  paddlespeech/cli/asr/infer.py
  paddlespeech/server/engine/asr/online/asr_engine.py
Due: auto add label=CLI, auto add label=Server

Add kws model to cli.
  paddlespeech/cli/kws/__init__.py
  paddlespeech/cli/kws/infer.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/resource/resource.py
Due: auto add label=CLI

support distrbuted training
  examples/aishell/asr0/local/train.sh
  examples/aishell/asr0/run.sh
  examples/aishell/asr1/local/train.sh
  examples/aishell/asr1/run.sh
  examples/callcenter/asr1/local/train.sh
  examples/callcenter/asr1/run.sh
  examples/librispeech/asr0/local/train.sh
  examples/librispeech/asr0/run.sh
  examples/librispeech/asr1/local/train.sh
  examples/librispeech/asr1/run.sh
  examples/librispeech/asr2/local/train.sh
  examples/librispeech/asr2/run.sh
  examples/mustc/st1/local/train.sh
  examples/mustc/st1/run.sh
  examples/ted_en_zh/st0/local/train.sh
  examples/ted_en_zh/st0/run.sh
  examples/ted_en_zh/st1/local/train.sh
  examples/ted_en_zh/st1/run.sh
  examples/tiny/asr0/local/train.sh
  examples/tiny/asr0/run.sh
  examples/tiny/asr1/local/train.sh
  examples/tiny/asr1/run.sh
Due: auto add label=Example

to onnx
  .gitignore
  speechx/examples/ds2_ol/onnx/.gitignore
  speechx/examples/ds2_ol/onnx/local/onnx_clone.sh
  speechx/examples/ds2_ol/onnx/local/onnx_infer_shape.py
  speechx/examples/ds2_ol/onnx/local/tonnx.sh
  speechx/examples/ds2_ol/onnx/run.sh
Due: auto add label=Deployment

hello
  test.py
Due: none

Update released_model.md
  docs/source/released_model.md
Due: auto add label=Documentation

fix local/test.sh of librispeech asr1
  examples/librispeech/asr1/local/test.sh
  test.py
Due: auto add label=Example

Refactor paddleaudio to paddlespeech.audio
  paddlespeech/audio/datasets/esc50.py
  paddlespeech/audio/datasets/gtzan.py
  paddlespeech/audio/datasets/tess.py
  paddlespeech/audio/datasets/urban_sound.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/cls/models/panns/panns.py
Due: auto add label=CLI

pd ort infer check
  speechx/examples/ds2_ol/onnx/local/infer_check.py
  speechx/examples/ds2_ol/onnx/run.sh
Due: auto add label=Deployment

more docstring
  speechx/examples/ds2_ol/onnx/README.md
Due: auto add label=README, auto add label=Deployment

more docstring
  speechx/examples/ds2_ol/onnx/local/netron.sh
  speechx/examples/ds2_ol/onnx/local/onnx_clone.sh
  speechx/examples/ds2_ol/onnx/local/onnx_opt.sh
  speechx/examples/ds2_ol/onnx/local/onnx_prune_model.py
  speechx/examples/ds2_ol/onnx/local/onnx_rename_model.py
  speechx/examples/ds2_ol/onnx/local/pd_infer_shape.py
  speechx/examples/ds2_ol/onnx/local/pd_prune_model.py
Due: auto add label=Deployment

onnx opt and check result
  speechx/examples/ds2_ol/onnx/local/infer_check.py
  speechx/examples/ds2_ol/onnx/local/onnx_clone.sh
  speechx/examples/ds2_ol/onnx/local/onnx_infer_shape.py
  speechx/examples/ds2_ol/onnx/local/onnx_opt.sh
  speechx/examples/ds2_ol/onnx/local/onnx_prune_model.py
  speechx/examples/ds2_ol/onnx/run.sh
Due: auto add label=Deployment

test with run.sh
  speechx/examples/ds2_ol/onnx/.gitignore
  speechx/examples/ds2_ol/onnx/README.md
  speechx/examples/ds2_ol/onnx/local/onnx_opt.sh
  speechx/examples/ds2_ol/onnx/run.sh
Due: auto add label=README, auto add label=Deployment

format
  speechx/examples/ds2_ol/onnx/README.md
  speechx/examples/ds2_ol/onnx/local/infer_check.py
  speechx/examples/ds2_ol/onnx/local/onnx_infer_shape.py
  speechx/examples/ds2_ol/onnx/local/onnx_prune_model.py
  speechx/examples/ds2_ol/onnx/local/onnx_rename_model.py
  speechx/examples/ds2_ol/onnx/local/pd_infer_shape.py
  speechx/examples/ds2_ol/onnx/local/pd_prune_model.py
  utils/zh_tn.py
Due: auto add label=README, auto add label=Deployment

refactor stream asr and fix ds2 stream bug
  demos/streaming_asr_server/test.sh
  paddlespeech/server/engine/asr/online/python/asr_engine.py
  paddlespeech/server/engine/engine_factory.py
Due: auto add label=Server, auto add label=Demo

ds2 inference as sepearte engine for streaming asr
  demos/streaming_asr_server/conf/ws_ds2_application.yaml
  paddlespeech/cli/asr/infer.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/server/conf/ws_ds2_application.yaml
  paddlespeech/server/engine/asr/online/paddleinference/__init__.py
  paddlespeech/server/engine/asr/online/paddleinference/asr_engine.py
  paddlespeech/server/engine/engine_factory.py
  paddlespeech/server/ws/asr_api.py
  utils/zh_tn.py
Due: auto add label=CLI, auto add label=Server, auto add label=Demo

onnx ds2 straming asr
  demos/streaming_asr_server/conf/ws_ds2_application.yaml
  paddlespeech/resource/pretrained_models.py
  paddlespeech/server/conf/ws_ds2_application.yaml
  paddlespeech/server/engine/asr/online/onnx/asr_engine.py
  paddlespeech/server/engine/asr/online/python/asr_engine.py
  paddlespeech/server/engine/engine_factory.py
  paddlespeech/server/utils/onnx_infer.py
Due: auto add label=Server, auto add label=Demo

opt onnx script
  paddlespeech/resource/pretrained_models.py
  speechx/examples/ds2_ol/onnx/local/infer_check.py
  speechx/examples/ds2_ol/onnx/run.sh
Due: auto add label=Deployment

update aishell ds2 streaming onnx model
  paddlespeech/resource/pretrained_models.py
Due: none

fix pretrian model error
  paddlespeech/resource/pretrained_models.py
Due: none

code format
  demos/streaming_asr_server/conf/ws_ds2_application.yaml
  paddlespeech/resource/resource.py
  paddlespeech/server/engine/asr/online/onnx/asr_engine.py
  paddlespeech/server/engine/engine_factory.py
  paddlespeech/server/utils/onnx_infer.py
  speechx/examples/ds2_ol/onnx/local/infer_check.py
Due: auto add label=Server, auto add label=Demo, auto add label=Deployment

fix pretrain model error
  paddlespeech/resource/pretrained_models.py
  speechx/examples/ds2_ol/onnx/local/infer_check.py
Due: auto add label=Deployment

add ds2 steaming asr onnx
  demos/streaming_asr_server/conf/ws_ds2_application.yaml
  paddlespeech/resource/resource.py
  paddlespeech/server/conf/ws_ds2_application.yaml
  paddlespeech/server/engine/asr/online/onnx/asr_engine.py
  paddlespeech/server/engine/asr/online/paddleinference/asr_engine.py
Due: auto add label=Server, auto add label=Demo

format
  paddlespeech/server/engine/asr/online/paddleinference/asr_engine.py
Due: auto add label=Server

rm TTS.vue
  demos/speech_web/web_client/src/components/SubMenu/TTS/TTS.vue
Due: auto add label=Demo

update demo show png
  demos/speech_web/docs/效果展示.png
Due: auto add label=Demo

add blank between characters for vits, test=tts
  examples/csmsc/vits/conf/default.yaml
  examples/csmsc/vits/local/preprocess.sh
  examples/csmsc/vits/local/synthesize_e2e.sh
  examples/csmsc/vits/run.sh
  examples/ljspeech/voc0/local/synthesize.sh
  paddlespeech/t2s/exps/fastspeech2/normalize.py
  paddlespeech/t2s/exps/fastspeech2/preprocess.py
  paddlespeech/t2s/exps/gan_vocoder/normalize.py
  paddlespeech/t2s/exps/gan_vocoder/preprocess.py
  paddlespeech/t2s/exps/speedyspeech/normalize.py
  paddlespeech/t2s/exps/speedyspeech/preprocess.py
  paddlespeech/t2s/exps/tacotron2/preprocess.py
  paddlespeech/t2s/exps/transformer_tts/normalize.py
  paddlespeech/t2s/exps/transformer_tts/preprocess.py
  paddlespeech/t2s/exps/vits/normalize.py
  paddlespeech/t2s/exps/vits/preprocess.py
  paddlespeech/t2s/exps/vits/synthesize_e2e.py
  paddlespeech/t2s/exps/vits/train.py
  paddlespeech/t2s/exps/waveflow/preprocess.py
  paddlespeech/t2s/exps/waveflow/synthesize.py
  paddlespeech/t2s/frontend/zh_frontend.py
  paddlespeech/t2s/models/vits/vits.py
Due: auto add label=T2S, auto add label=Example

rename readme and fixed conflict
  demos/speech_web/README_cn.md
  paddlespeech/server/bin/paddlespeech_server.py
Due: auto add label=Server, auto add label=Demo

add init file
  paddlespeech/server/engine/asr/online/onnx/__init__.py
  paddlespeech/server/engine/asr/online/python/__init__.py
Due: auto add label=Server

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
