Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=enhancement"
    conditions:
      - files~=^deepspeech/
    actions:
      label:
        add: ["enhancement"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechnn/
    actions:
      label:
        add: ["Deployment"]

Update README.md
  examples/aishell3/vc1/README.md
Due: auto add label=Example, auto add label=README

fix base
  paddlespeech/t2s/modules/transformer/encoder.py
Due: none

Update README.md
  examples/csmsc/tts3/README.md
Due: auto add label=Example, auto add label=README

Add paddlespeech.cls and esc50 example.
  examples/esc50/cls0/path.sh
Due: auto add label=Example

Add paddlespeech.cls and esc50 example.
  examples/esc50/README.md
  examples/esc50/cls0/local/predict.py
  examples/esc50/cls0/local/train.py
  examples/esc50/cls0/run.sh
  paddlespeech/cls/features/spectrum.py
  paddlespeech/cls/utils/env.py
  paddlespeech/cls/utils/log.py
Due: auto add label=Example, auto add label=README

Add paddlespeech.cls and esc50 example.
  examples/esc50/cls0/local/infer.sh
  examples/esc50/cls0/local/train.sh
  examples/esc50/cls0/path.sh
  examples/esc50/cls0/run.sh
  paddleaudio/__init__.py
  paddleaudio/backends/__init__.py
  paddleaudio/backends/audio.py
  paddleaudio/datasets/__init__.py
  paddleaudio/datasets/dataset.py
  paddleaudio/datasets/esc50.py
  paddleaudio/datasets/gtzan.py
  paddleaudio/datasets/tess.py
  paddleaudio/datasets/urban_sound.py
  paddleaudio/features/__init__.py
  paddleaudio/features/augment.py
  paddleaudio/features/core.py
  paddleaudio/features/spectrum.py
  paddleaudio/features/window.py
  paddleaudio/utils/__init__.py
  paddleaudio/utils/download.py
  paddleaudio/utils/env.py
  paddleaudio/utils/error.py
  paddleaudio/utils/log.py
  paddleaudio/utils/time.py
  paddlespeech/cls/exps/PANNs/__init__.py
  paddlespeech/cls/exps/PANNs/deploy/python/predict.py
  paddlespeech/cls/exps/PANNs/export_model.py
  paddlespeech/cls/exps/PANNs/model.py
  paddlespeech/cls/exps/PANNs/panns.py
  paddlespeech/cls/exps/PANNs/predict.py
  paddlespeech/cls/exps/PANNs/train.py
  paddlespeech/cls/exps/__init__.py
  requirements.txt
  setup.py
  setup_audio.py
Due: auto add label=Example, auto add label=Installation

Add paddlespeech.cls and esc50 example.
  examples/esc50/README.md
  examples/esc50/cls0/local/export.sh
  examples/esc50/cls0/local/static_model_infer.sh
  examples/esc50/cls0/run.sh
  paddlespeech/cls/exps/PANNs/deploy/__init__.py
  paddlespeech/cls/exps/PANNs/deploy/predict.py
  paddlespeech/cls/exps/PANNs/export_model.py
  paddlespeech/cls/exps/PANNs/predict.py
  paddlespeech/cls/exps/PANNs/train.py
  paddlespeech/cls/models/PANNs/__init__.py
  paddlespeech/cls/models/PANNs/classifier.py
  paddlespeech/cls/models/PANNs/panns.py
  paddlespeech/cls/models/__init__.py
Due: auto add label=Example, auto add label=README

Update requirements.txt
  requirements.txt
Due: none

Add paddlespeech.cls and esc50 example.
  examples/esc50/README.md
  examples/esc50/cls0/local/infer.sh
  examples/esc50/cls0/local/static_model_infer.sh
  examples/esc50/cls0/local/train.sh
  examples/esc50/cls0/path.sh
  examples/esc50/cls0/run.sh
  paddlespeech/cls/exps/panns/__init__.py
  paddlespeech/cls/exps/panns/deploy/__init__.py
  paddlespeech/cls/exps/panns/deploy/predict.py
  paddlespeech/cls/exps/panns/export_model.py
  paddlespeech/cls/exps/panns/predict.py
  paddlespeech/cls/exps/panns/train.py
  paddlespeech/cls/models/__init__.py
  paddlespeech/cls/models/panns/__init__.py
  paddlespeech/cls/models/panns/classifier.py
  paddlespeech/cls/models/panns/panns.py
Due: auto add label=Example, auto add label=README

Update requirements.txt.
  requirements.txt
Due: none

Add paddlespeech.cls and esc50 example.
  examples/esc50/README.md
Due: auto add label=Example, auto add label=README

update text frontend
  demos/style_fs2/style_syn.py
  examples/ljspeech/voc1/README.md
  paddlespeech/t2s/exps/fastspeech2/inference.py
  paddlespeech/t2s/exps/fastspeech2/multi_spk_synthesize_e2e.py
  paddlespeech/t2s/exps/fastspeech2/synthesize_e2e.py
  paddlespeech/t2s/exps/fastspeech2/synthesize_e2e_melgan.py
  paddlespeech/t2s/exps/speedyspeech/inference.py
  paddlespeech/t2s/exps/speedyspeech/synthesize_e2e.py
  paddlespeech/t2s/frontend/zh_frontend.py
  paddlespeech/t2s/frontend/zh_normalization/chronology.py
  paddlespeech/t2s/frontend/zh_normalization/phonecode.py
  paddlespeech/t2s/frontend/zh_normalization/text_normlization.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
Due: auto add label=Example, auto add label=README

update librispeech asr1-2 result; add warpctc source link in ctc topic
  docs/source/released_model.md
  docs/topic/ctc/ctc_loss.ipynb
  examples/librispeech/asr1/RESULTS.md
Due: auto add label=Example

rm space for pure Chinese
  demos/style_fs2/style_syn.py
  paddlespeech/t2s/exps/fastspeech2/inference.py
  paddlespeech/t2s/exps/fastspeech2/multi_spk_synthesize_e2e.py
  paddlespeech/t2s/exps/fastspeech2/synthesize_e2e.py
  paddlespeech/t2s/exps/fastspeech2/synthesize_e2e_melgan.py
  paddlespeech/t2s/exps/speedyspeech/inference.py
  paddlespeech/t2s/exps/speedyspeech/synthesize_e2e.py
  paddlespeech/t2s/frontend/zh_frontend.py
  paddlespeech/t2s/frontend/zh_normalization/text_normlization.py
Due: none

upload the demo audio_file
  examples/aishell/asr0/local/test_hub.sh
  examples/aishell/asr0/run.sh
  examples/aishell/asr1/local/test_hub.sh
  examples/aishell/asr1/run.sh
  examples/librispeech/asr0/local/test_hub.sh
  examples/librispeech/asr0/run.sh
  examples/librispeech/asr1/local/test_hub.sh
  examples/librispeech/asr1/run.sh
Due: auto add label=Example

add the cli_asr_infer
  examples/wenetspeech/asr1/local/test_wav.sh
  examples/wenetspeech/asr1/path.sh
  examples/wenetspeech/asr1/run.sh
  paddlespeech/cli/asr/__init__.py
  paddlespeech/cli/asr/infer.py
Due: auto add label=Example

Create __init__.py
  paddlespeech/t2s/modules/conformer/__init__.py
Due: none

Add paddlespeech.cli.
  paddlespeech/cli/README.md
  paddlespeech/cli/__init__.py
  paddlespeech/cli/base_commands.py
  paddlespeech/cli/cls/__init.__py
  paddlespeech/cli/entry.py
  paddlespeech/cli/executor.py
  paddlespeech/cli/s2t/__init__.py
  paddlespeech/cli/s2t/conf/default_conf.yaml
  paddlespeech/cli/s2t/infer.py
  paddlespeech/cli/t2s/__init.__py
  paddlespeech/cli/utils.py
  setup.py
Due: auto add label=README, auto add label=Installation

Add paddlespeech.cli.
  paddlespeech/cli/s2t/infer.py
Due: none
