Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

fix dp init
  paddlespeech/s2t/training/trainer.py
Due: auto add label=S2T

Revised must_neural_tone_words, test=doc. (#2370)
  paddlespeech/t2s/exps/vits/__init__.py
  paddlespeech/t2s/frontend/tone_sandhi.py
Due: auto add label=T2S

fix dp init
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/attention.py
  paddlespeech/s2t/modules/conformer_convolution.py
  paddlespeech/s2t/modules/decoder_layer.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/modules/encoder_layer.py
  paddlespeech/server/engine/asr/online/python/asr_engine.py
Due: auto add label=S2T, auto add label=Server

fix dp init
  examples/aishell/asr1/run.sh
Due: auto add label=Example

Update README.md
  examples/aishell3_vctk/ernie_sat/README.md
Due: auto add label=Example, auto add label=README

do not jit save forward; using slice for zeros([0,0,0,0]) tensor
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/encoder.py
Due: auto add label=S2T

fix
  paddlespeech/server/engine/asr/online/python/asr_engine.py
Due: auto add label=Server

more comment
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/modules/encoder.py
Due: auto add label=S2T

update wenetspeech streaming coformer result
  examples/wenetspeech/asr1/RESULTS.md
Due: auto add label=Example

configurable export
  paddlespeech/s2t/exps/u2/model.py
Due: auto add label=S2T

rm to_static decarator; configure jit save for ctc_activation
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/models/u2/u2.py
Due: auto add label=S2T

fix prepare.sh
  tests/test_tipc/prepare.sh
Due: auto add label=Test

fix prepare.sh (#2376)
  tests/test_tipc/prepare.sh
Due: auto add label=Test

add chunk conformer config from release model
  examples/wenetspeech/asr1/conf/chunk_conformer.yaml
  examples/wenetspeech/asr1/conf/preprocess.yaml
  examples/wenetspeech/asr1/conf/tuning/chunk_decode.yaml
Due: auto add label=Example

Update README.md
  examples/voxceleb/sv0/README.md
Due: auto add label=Example, auto add label=README

add feature pipeline layer(cmvn, fbank), but to_static and jit.layer output is not equal
  paddlespeech/audio/compliance/kaldi.py
  paddlespeech/s2t/exps/u2/bin/test_wav.py
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/cmvn.py
  paddlespeech/s2t/modules/fbank.py
Due: auto add label=S2T

fix ernie_sat, test=tts
  examples/aishell3/ernie_sat/local/synthesize_e2e.sh
  examples/aishell3_vctk/ernie_sat/local/synthesize_e2e.sh
  examples/vctk/ernie_sat/local/synthesize_e2e.sh
  paddlespeech/t2s/exps/ernie_sat/align.py
  paddlespeech/t2s/exps/ernie_sat/synthesize_e2e.py
Due: auto add label=T2S, auto add label=Example

fix for comments, test=tts
  examples/vctk/ernie_sat/local/synthesize_e2e.sh
  paddlespeech/t2s/exps/ernie_sat/synthesize_e2e.py
Due: auto add label=T2S, auto add label=Example

[TTS] fix some bugs of ERNIE-SAT (#2378)
  examples/aishell3/ernie_sat/local/synthesize_e2e.sh
  examples/aishell3_vctk/ernie_sat/local/synthesize_e2e.sh
  examples/vctk/ernie_sat/local/synthesize_e2e.sh
  paddlespeech/t2s/exps/ernie_sat/align.py
  paddlespeech/t2s/exps/ernie_sat/synthesize_e2e.py
Due: auto add label=T2S, auto add label=Example

Removed useless spk_id in speech_server and streaming_tts_server from demos, and support bilingual server engine.
  demos/speech_server/conf/application.yaml
  demos/streaming_tts_server/conf/tts_online_application.yaml
  demos/streaming_tts_server/conf/tts_online_ws_application.yaml
  paddlespeech/server/engine/engine_warmup.py
Due: auto add label=Server, auto add label=Demo

Removed useless spk_id in speech_server and streaming_tts_server from demos, and support bilingual server engine second, test=tts
  demos/streaming_tts_server/conf/tts_online_application.yaml
  demos/streaming_tts_server/conf/tts_online_ws_application.yaml
Due: auto add label=Demo

Update tts_papers.md
  docs/source/tts/tts_papers.md
Due: auto add label=Documentation

add frozen, test=tts
  examples/other/tts_finetune/tts3/finetune.py
  examples/other/tts_finetune/tts3/finetune.yaml
  examples/other/tts_finetune/tts3/local/extract.py
  examples/other/tts_finetune/tts3/local/train.py
  examples/other/tts_finetune/tts3/run.sh
Due: auto add label=Example

Removed useless spk_id in speech_server and streaming_tts_server from demos, and support bilingual server engine, test=tts (#2380)
  demos/speech_server/conf/application.yaml
  demos/streaming_tts_server/conf/tts_online_application.yaml
  demos/streaming_tts_server/conf/tts_online_ws_application.yaml
  paddlespeech/server/engine/engine_warmup.py
Due: auto add label=Server, auto add label=Demo

fix typo
  paddlespeech/audio/kaldi/kaldi.py
Due: none

simplify feature pipeline graph
  paddlespeech/audio/compliance/kaldi.py
Due: none

add voice clone function
  demos/speech_web/.gitignore
  demos/speech_web/speech_server/requirements.txt
  demos/speech_web/speech_server/src/align.py
  demos/speech_web/speech_server/src/ernie_sat.py
  demos/speech_web/speech_server/src/ernie_sat_tool.py
  demos/speech_web/speech_server/src/finetune.py
  demos/speech_web/speech_server/src/ft/check_oov.py
  demos/speech_web/speech_server/src/ft/extract.py
  demos/speech_web/speech_server/src/ft/finetune_tool.py
  demos/speech_web/speech_server/src/ft/label_process.py
  demos/speech_web/speech_server/src/ft/prepare_env.py
  demos/speech_web/speech_server/src/ft/synthesize.py
  demos/speech_web/speech_server/src/ge2e_clone.py
  demos/speech_web/speech_server/src/tdnn_clone.py
  demos/speech_web/speech_server/vc.py
  demos/speech_web/web_client/package.json
  demos/speech_web/web_client/src/api/API.js
  demos/speech_web/web_client/src/api/ApiVC.js
  demos/speech_web/web_client/src/components/Content/Header/Header.vue
  demos/speech_web/web_client/src/components/Content/Header/style.less
  demos/speech_web/web_client/src/components/Experience.vue
  demos/speech_web/web_client/src/components/SubMenu/ENIRE_SAT/ENIRE_SAT.vue
  demos/speech_web/web_client/src/components/SubMenu/FineTune/FineTune.vue
  demos/speech_web/web_client/src/components/SubMenu/VoiceClone/VoiceClone.vue
  demos/speech_web/web_client/src/main.js
  demos/speech_web/web_client/yarn.lock
  paddlespeech/__init__.py
Due: auto add label=Demo

finetune add frozen, test=tts
  examples/other/tts_finetune/tts3/README.md
  examples/other/tts_finetune/tts3/finetune.py
  examples/other/tts_finetune/tts3/finetune.yaml
  examples/other/tts_finetune/tts3/local/extract.py
  examples/other/tts_finetune/tts3/local/train.py
  examples/other/tts_finetune/tts3/run.sh
Due: auto add label=Example, auto add label=README

Update train.py
  paddlespeech/kws/exps/mdtc/train.py
Due: none

Update train_infer_python.txt
  tests/test_tipc/configs/mdtc/train_infer_python.txt
Due: auto add label=Test

Update benchmark_train.sh
  tests/test_tipc/benchmark_train.sh
Due: auto add label=Test

split paddleaudio
  audio/paddleaudio/__init__.py
  audio/paddleaudio/_internal/__init__.py
  audio/paddleaudio/_internal/module_utils.py
  audio/paddleaudio/backends/__init__.py
  audio/paddleaudio/backends/common.py
  audio/paddleaudio/backends/no_backend.py
  audio/paddleaudio/backends/soundfile_backend.py
  audio/paddleaudio/backends/sox_io_backend.py
  audio/paddleaudio/backends/utils.py
  audio/paddleaudio/compliance/__init__.py
  audio/paddleaudio/compliance/kaldi.py
  audio/paddleaudio/compliance/librosa.py
  audio/paddleaudio/datasets/__init__.py
  audio/paddleaudio/datasets/dataset.py
  audio/paddleaudio/datasets/esc50.py
  audio/paddleaudio/datasets/gtzan.py
  audio/paddleaudio/datasets/hey_snips.py
  audio/paddleaudio/datasets/rirs_noises.py
  audio/paddleaudio/datasets/tess.py
  audio/paddleaudio/datasets/urban_sound.py
  audio/paddleaudio/datasets/voxceleb.py
  audio/paddleaudio/features/__init__.py
  audio/paddleaudio/features/layers.py
  audio/paddleaudio/functional/__init__.py
  audio/paddleaudio/functional/functional.py
  audio/paddleaudio/functional/window.py
  audio/paddleaudio/io/__init__.py
  audio/paddleaudio/metric/__init__.py
  audio/paddleaudio/metric/eer.py
  audio/paddleaudio/sox_effects/__init__.py
  audio/paddleaudio/utils/__init__.py
  audio/paddleaudio/utils/download.py
  audio/paddleaudio/utils/env.py
  audio/paddleaudio/utils/error.py
  audio/paddleaudio/utils/log.py
  audio/paddleaudio/utils/numeric.py
  audio/paddleaudio/utils/time.py
  audio/setup.py
Due: none

[tts] finetune add frozen (#2385)
  examples/other/tts_finetune/tts3/README.md
  examples/other/tts_finetune/tts3/finetune.py
  examples/other/tts_finetune/tts3/finetune.yaml
  examples/other/tts_finetune/tts3/local/extract.py
  examples/other/tts_finetune/tts3/local/train.py
  examples/other/tts_finetune/tts3/run.sh
Due: auto add label=Example, auto add label=README

update vc and tts mix
  demos/speech_web/README.md
  demos/speech_web/speech_server/main.py
Due: auto add label=Demo, auto add label=README

add typehint for g2pw
  paddlespeech/t2s/frontend/g2pw/__init__.py
  paddlespeech/t2s/frontend/g2pw/dataset.py
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
  paddlespeech/t2s/frontend/g2pw/utils.py
Due: auto add label=T2S

add test & benchmark
  audio/tests/backends/__init__.py
  audio/tests/backends/common.py
  audio/tests/backends/soundfile/__init__.py
  audio/tests/backends/soundfile/base.py
  audio/tests/backends/soundfile/common.py
  audio/tests/backends/soundfile/info_test.py
  audio/tests/backends/soundfile/load_test.py
  audio/tests/backends/soundfile/save_test.py
  audio/tests/backends/soundfile/test_io.py
  audio/tests/benchmark/README.md
  audio/tests/benchmark/log_melspectrogram.py
  audio/tests/benchmark/melspectrogram.py
  audio/tests/benchmark/mfcc.py
  audio/tests/common_utils/__init__.py
  audio/tests/common_utils/case_utils.py
  audio/tests/common_utils/parameterized_utils.py
  audio/tests/common_utils/wav_utils.py
  audio/tests/features/__init__.py
  audio/tests/features/base.py
  audio/tests/features/test_kaldi.py
  audio/tests/features/test_librosa.py
Due: auto add label=README

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
