Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

add docstring
  paddlespeech/server/engine/asr/online/ctc_endpoint.py
Due: auto add label=Server

Update python_package_release.md
  docs/topic/package_release/python_package_release.md
Due: auto add label=Documentation

Update README.md
  README.md
Due: auto add label=README

Update README_cn.md
  README_cn.md
Due: none

fix comment error
  paddlespeech/__init__.py
  paddlespeech/server/engine/asr/online/ctc_endpoint.py
Due: auto add label=Server

mv data to testdata
  tests/unit/audio/features/testdata/fbank_feat.ark
  tests/unit/audio/features/testdata/pitch_feat.ark
  tests/unit/audio/features/testdata/test.wav
  tests/unit/audio/features/testdata/wav.ark
Due: auto add label=Test

fix am name, test=tts
  examples/vctk/tts3/local/synthesize.sh
Due: auto add label=Example

more cli for speech demos
  demos/custom_streaming_asr/setup_docker.sh
  demos/keyword_spotting/run.sh
  demos/speaker_verification/run.sh
  demos/speech_recognition/run.sh
  demos/speech_server/asr_client.sh
  demos/speech_server/cls_client.sh
  demos/speech_server/server.sh
  demos/speech_server/sid_client.sh
  demos/speech_server/text_client.sh
  demos/speech_server/tts_client.sh
  demos/streaming_asr_server/local/punc_server.py
  demos/streaming_asr_server/local/streaming_asr_server.py
  demos/streaming_asr_server/run.sh
  demos/streaming_asr_server/server.sh
  demos/streaming_asr_server/test.sh
  demos/streaming_tts_server/start_server.sh
  demos/streaming_tts_server/test_client.sh
  demos/text_to_speech/run.sh
  paddlespeech/server/bin/paddlespeech_client.py
Due: auto add label=Server, auto add label=Demo

update readme, test=doc
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  demos/streaming_tts_server/README.md
  demos/streaming_tts_server/README_cn.md
Due: auto add label=Demo, auto add label=README

Update README_cn.md
  demos/speech_server/README_cn.md
Due: auto add label=Demo

add streaming tts scripts
  demos/streaming_tts_server/client.sh
  demos/streaming_tts_server/conf/tts_online_ws_application.yaml
  demos/streaming_tts_server/server.sh
Due: auto add label=Demo

add mix frontend, test=tts
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/frontend/mix_frontend.py
Due: auto add label=T2S

fix protobuf version
  setup.py
Due: auto add label=Installation

fix copyright && refactor kaldi_feature
  paddlespeech/audio/_internal/module_utils.py
  paddlespeech/audio/backends/no_backend.py
  paddlespeech/audio/backends/sox_io_backend.py
  paddlespeech/audio/backends/utils.py
  paddlespeech/audio/kaldi/kaldi.py
  paddlespeech/audio/src/pybind/kaldi/kaldi_feature.cc
  paddlespeech/audio/src/pybind/kaldi/kaldi_feature.h
  paddlespeech/audio/src/pybind/kaldi/kaldi_feature_wrapper.cc
  paddlespeech/audio/src/pybind/kaldi/kaldi_feature_wrapper.h
  paddlespeech/audio/src/pybind/pybind.cpp
  paddlespeech/audio/third_party/kaldi/CMakeLists.txt
  speechx/speechx/kaldi/feat/online-feature-itf.h
  tests/unit/audio/features/test_kaldi_feat.py
  tests/unit/audio/features/testdata/fbank_feat.ark
  tests/unit/audio/features/testdata/pitch_feat.ark
  tests/unit/audio/features/testdata/wav.ark
Due: auto add label=Test, auto add label=Deployment

add ernie_sat synthesize script for metadata.jsonl, test=tts
  examples/aishell3/ernie_sat/conf/default.yaml
  examples/aishell3_vctk/ernie_sat/conf/default.yaml
  examples/aishell3_vctk/ernie_sat/local/preprocess.sh
  examples/aishell3_vctk/ernie_sat/path.sh
  examples/vctk/ernie_sat/local/synthesize.sh
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/exps/ernie_sat/preprocess.py
  paddlespeech/t2s/exps/ernie_sat/synthesize.py
  paddlespeech/t2s/exps/ernie_sat/train.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/models/ernie_sat/ernie_sat.py
Due: auto add label=T2S, auto add label=Example

fix for mix_lang
  paddlespeech/t2s/exps/ernie_sat/train.py
  paddlespeech/t2s/models/ernie_sat/ernie_sat_updater.py
  paddlespeech/t2s/modules/losses.py
  paddlespeech/t2s/modules/nets_utils.py
Due: auto add label=T2S

update demos readme, test=doc
  demos/README.md
  demos/README_cn.md
Due: auto add label=Demo, auto add label=README

Update README.md
  examples/callcenter/README.md
Due: auto add label=Example, auto add label=README

add synthesize for ernie_sat aishell3 and aishell3_vctk, test=tts
  examples/aishell3/ernie_sat/local/synthesize.sh
  examples/aishell3/tts3/local/synthesize.sh
  examples/aishell3_vctk/ernie_sat/local/synthesize.sh
Due: auto add label=Example

add python demo
  README_cn.md
Due: none

fix doc,test=doc
  examples/aishell/asr1/README.md
Due: auto add label=Example, auto add label=README

test=doc
  examples/librispeech/asr1/README.md
Due: auto add label=Example, auto add label=README

test=doc
  examples/librispeech/asr2/README.md
Due: auto add label=Example, auto add label=README

test=doc
  examples/tiny/asr1/README.md
Due: auto add label=Example, auto add label=README

merge
  paddlespeech/s2t/__init__.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/align.py
  paddlespeech/s2t/modules/attention.py
  paddlespeech/s2t/modules/initializer.py
Due: auto add label=S2T

Update install_cn.md
  docs/source/install_cn.md
Due: auto add label=Documentation

Update install.md
  docs/source/install.md
Due: auto add label=Documentation

fix pybind11/numpy.h not found
  CMakeLists.txt
  cmake/summary.cmake
  paddlespeech/audio/src/CMakeLists.txt
  paddlespeech/audio/src/pybind/kaldi/feature_common.h
Due: none

format
  paddlespeech/audio/_internal/module_utils.py
  paddlespeech/audio/backends/no_backend.py
  paddlespeech/audio/backends/sox_io_backend.py
  paddlespeech/audio/backends/utils.py
  paddlespeech/audio/kaldi/kaldi.py
Due: none

update vits ckpt, test=tts
  examples/csmsc/vits/README.md
  examples/csmsc/vits/conf/default.yaml
Due: auto add label=Example, auto add label=README

fix audio,test=doc
  paddlespeech/audio/text/__init__.py
Due: none

fix mlm_prob, test=tts
  examples/aishell3/ernie_sat/local/train.sh
  examples/aishell3_vctk/ernie_sat/local/train.sh
  examples/vctk/ernie_sat/conf/default.yaml
  examples/vctk/ernie_sat/local/train.sh
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/exps/ernie_sat/synthesize.py
  paddlespeech/t2s/exps/ernie_sat/train.py
Due: auto add label=T2S, auto add label=Example

update readme cn add python api
  README_cn.md
Due: none

Supprot dy2st for conformer
  paddlespeech/s2t/__init__.py
  paddlespeech/s2t/modules/encoder.py
Due: auto add label=S2T

make loading _paddleaudio.so work
  paddlespeech/audio/__init__.py
  paddlespeech/audio/_extension.py
  paddlespeech/audio/backends/common.py
  paddlespeech/audio/backends/sox_io_backend.py
  paddlespeech/audio/kaldi/__init__.py
  paddlespeech/audio/kaldi/kaldi.py
  tests/unit/audio/features/test_kaldi_feat.py
Due: auto add label=Test
