Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=enhancement"
    conditions:
      - files~=^deepspeech/
    actions:
      label:
        add: ["enhancement"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechnn/
    actions:
      label:
        add: ["Deployment"]

update cmd.sh
  examples/ted_en_zh/st1/cmd.sh
Due: auto add label=Example

update tts_tutorial
  docs/tutorial/tts/tts_tutorial.ipynb
Due: none

add readme
  demos/README.md
Due: auto add label=README

add the infer
  paddlespeech/cli/s2t/infer.py
Due: none

using visualdl; fix read_manifest
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/exps/u2_kaldi/model.py
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/frontend/normalizer.py
  paddlespeech/s2t/frontend/utility.py
  paddlespeech/s2t/io/dataset.py
  paddlespeech/s2t/training/trainer.py
  paddlespeech/text/speechtask/punctuation_restoration/training/trainer.py
  requirements.txt
  utils/build_vocab.py
  utils/utility.py
Due: none

jsonlines reade manifest file
  paddlespeech/s2t/frontend/augmentor/impulse_response.py
  paddlespeech/s2t/frontend/augmentor/noise_perturb.py
  paddlespeech/s2t/frontend/normalizer.py
  paddlespeech/s2t/frontend/utility.py
  paddlespeech/s2t/io/dataloader.py
  paddlespeech/s2t/io/dataset.py
  paddlespeech/s2t/utils/socket_server.py
  utils/dump_manifest.py
  utils/format_data.py
  utils/format_triplet_data.py
  utils/manifest_key_value.py
  utils/utility.py
Due: none

format code
  examples/aishell/asr1/READEME.md
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/exps/u2_kaldi/model.py
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/frontend/augmentor/impulse_response.py
  paddlespeech/s2t/frontend/augmentor/noise_perturb.py
  paddlespeech/s2t/frontend/normalizer.py
  paddlespeech/s2t/frontend/utility.py
  paddlespeech/s2t/io/dataloader.py
  paddlespeech/s2t/io/dataset.py
  paddlespeech/s2t/io/sampler.py
  paddlespeech/s2t/training/trainer.py
  paddlespeech/s2t/utils/socket_server.py
  paddlespeech/text/speechtask/punctuation_restoration/training/trainer.py
  utils/build_vocab.py
  utils/dump_manifest.py
  utils/format_data.py
  utils/format_triplet_data.py
  utils/manifest_key_value.py
  utils/utility.py
Due: auto add label=Example

update link
  README.md
Due: auto add label=README

Rename s2t to asr.
  paddlespeech/cli/README.md
  paddlespeech/cli/__init__.py
  paddlespeech/cli/asr/__init__.py
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/entry.py
  paddlespeech/cli/executor.py
  paddlespeech/cli/tts/__init.__py
Due: auto add label=README

Update device usage.
  paddlespeech/cli/README.md
  paddlespeech/cli/asr/infer.py
Due: auto add label=README

fix readme typo
  examples/aishell3/vc1/README.md
Due: auto add label=Example, auto add label=README

add readme
  demos/style_fs2/README.md
Due: auto add label=README

fix the load checkpoint
  paddlespeech/s2t/utils/checkpoint.py
Due: none

fix the benchmark
  paddlespeech/s2t/training/trainer.py
  tests/benchmark/conformer/prepare.sh
  tests/benchmark/conformer/run.sh
  tests/benchmark/conformer/run_benchmark.sh
Due: none

fix bugs
  examples/ted_en_zh/st0/local/data.sh
  paddlespeech/s2t/frontend/utility.py
Due: auto add label=Example

minor
  paddlespeech/s2t/frontend/utility.py
Due: none

fix tiny conf
  examples/tiny/asr1/conf/chunk_confermer.yaml
  examples/tiny/asr1/conf/chunk_transformer.yaml
  examples/tiny/asr1/conf/conformer.yaml
  examples/tiny/asr1/conf/transformer.yaml
  utils/pack_model.sh
Due: auto add label=Example

remove ctc grad norm option
  examples/librispeech/asr2/conf/transformer.yaml
Due: auto add label=Example

optimize the setup.py and setup.sh
  docs/source/install.md
  requirements.txt
  setup.cfg
  setup.py
  setup.sh
  tools/Makefile
Due: auto add label=Installation

update data process
  examples/ted_en_zh/st0/conf/transformer_mtl_noam.yaml
  examples/ted_en_zh/st0/local/data.sh
  examples/ted_en_zh/st0/run.sh
  utils/build_vocab.py
Due: auto add label=Example

revise the asr infer.py
  paddlespeech/cli/asr/infer.py
Due: none
