Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=TextProcess, auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=TextProcess:
  label:
    add:
    - TextProcess

auto add label=Example:
  label:
    add:
    - Example

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

Update README_cn.md
  README_cn.md
Due: none

fix bug of pad_sequence in u2,test=asr
  paddlespeech/s2t/models/u2/u2.py
Due: auto add label=S2T

fix bug of pad_sequence in u2,test=asr (#1153)
  paddlespeech/s2t/models/u2/u2.py
Due: auto add label=S2T

optimize the cli/asr,test=asr
  paddlespeech/cli/asr/infer.py
Due: none

update the version of ctcdecoders and feat,test=doc_fix
  paddlespeech/s2t/decoders/ctcdecoder/swig/setup.py
  third_party/python_kaldi_features/setup.py
Due: auto add label=S2T

update the version of ctcdecoders and feat,test=doc_fix (#1155)
  paddlespeech/s2t/decoders/ctcdecoder/swig/setup.py
  third_party/python_kaldi_features/setup.py
Due: auto add label=S2T

[doc] add topic/gan_vocoder (#1150)
  docs/topic/gan_vocoder/gan_vocoder.ipynb
  docs/topic/gan_vocoder/imgs/hifigan_dis.png
  docs/topic/gan_vocoder/imgs/hifigan_gen.png
  docs/topic/gan_vocoder/imgs/mb_melgan.png
  docs/topic/gan_vocoder/imgs/mel_loss.png
  docs/topic/gan_vocoder/imgs/melgan.png
  docs/topic/gan_vocoder/imgs/pwg.png
  docs/topic/gan_vocoder/imgs/stft_loss_0.png
  docs/topic/gan_vocoder/imgs/stft_loss_1.png
  docs/topic/gan_vocoder/imgs/stft_loss_2.png
  docs/topic/gan_vocoder/imgs/style_melgan_TADE.png
  docs/topic/gan_vocoder/imgs/style_melgan_dis.png
  docs/topic/gan_vocoder/imgs/style_melgan_gen.png
Due: auto add label=Documentation

test=doc_fix
  paddlespeech/cli/asr/infer.py
Due: none

update readme, test=doc_fix
  demos/audio_tagging/README.md
  demos/automatic_video_subtitiles/README.md
  demos/metaverse/README.md
  demos/punctuation_restoration/README.md
  demos/speech_recognition/README.md
  demos/speech_translation/README.md
  demos/story_talker/README.md
  demos/style_fs2/README.md
  demos/text_to_speech/README.md
  docs/source/asr/augmentation.md
  docs/source/asr/data_preparation.md
  docs/source/asr/feature_list.md
  docs/source/asr/models_introduction.md
  docs/source/asr/ngram_lm.md
  docs/source/asr/quick_start.md
  docs/source/dependencies.md
  docs/source/install.md
  docs/source/install_cn.md
  docs/source/introduction.md
  docs/source/reference.md
  docs/source/tts/README.md
  docs/source/tts/advanced_usage.md
  docs/source/tts/models_introduction.md
  docs/source/tts/quick_start.md
  docs/source/tts/zh_text_frontend.md
  examples/aishell/asr0/README.md
  examples/aishell/asr1/README.md
  examples/librispeech/asr0/README.md
  examples/librispeech/asr1/README.md
  examples/librispeech/asr2/README.md
  examples/other/g2p/README.md
  examples/other/ge2e/README.md
  examples/other/tn/README.md
  examples/ted_en_zh/st0/README.md
  examples/ted_en_zh/st1/README.md
  examples/tiny/asr0/README.md
  examples/tiny/asr1/README.md
  examples/wenetspeech/README.md
Due: auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation

[Cli]optimize the cli, add --yes, and delete transformer_aishell (#1154)
  paddlespeech/cli/asr/infer.py
Due: none

update readme, test=doc_fix (#1156)
  demos/audio_tagging/README.md
  demos/automatic_video_subtitiles/README.md
  demos/metaverse/README.md
  demos/punctuation_restoration/README.md
  demos/speech_recognition/README.md
  demos/speech_translation/README.md
  demos/story_talker/README.md
  demos/style_fs2/README.md
  demos/text_to_speech/README.md
  docs/source/asr/augmentation.md
  docs/source/asr/data_preparation.md
  docs/source/asr/feature_list.md
  docs/source/asr/models_introduction.md
  docs/source/asr/ngram_lm.md
  docs/source/asr/quick_start.md
  docs/source/dependencies.md
  docs/source/install.md
  docs/source/install_cn.md
  docs/source/introduction.md
  docs/source/reference.md
  docs/source/tts/README.md
  docs/source/tts/advanced_usage.md
  docs/source/tts/models_introduction.md
  docs/source/tts/quick_start.md
  docs/source/tts/zh_text_frontend.md
  examples/aishell/asr0/README.md
  examples/aishell/asr1/README.md
  examples/librispeech/asr0/README.md
  examples/librispeech/asr1/README.md
  examples/librispeech/asr2/README.md
  examples/other/g2p/README.md
  examples/other/ge2e/README.md
  examples/other/tn/README.md
  examples/ted_en_zh/st0/README.md
  examples/ted_en_zh/st1/README.md
  examples/tiny/asr0/README.md
  examples/tiny/asr1/README.md
  examples/wenetspeech/README.md
Due: auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation

update readme, test=doc_fix
  examples/aishell3/tts3/README.md
  examples/aishell3/vc0/README.md
  examples/aishell3/vc1/README.md
  examples/aishell3/voc1/README.md
  examples/csmsc/tts2/README.md
  examples/csmsc/tts3/README.md
  examples/csmsc/voc1/README.md
  examples/csmsc/voc3/README.md
  examples/csmsc/voc4/README.md
  examples/csmsc/voc5/README.md
  examples/ljspeech/tts0/README.md
  examples/ljspeech/tts1/README.md
  examples/ljspeech/tts3/README.md
  examples/ljspeech/voc0/README.md
  examples/ljspeech/voc1/README.md
  examples/vctk/tts3/README.md
  examples/vctk/voc1/README.md
  paddlespeech/t2s/exps/gan_vocoder/hifigan/train.py
  paddlespeech/t2s/exps/speedyspeech/train.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

revise the setup
  setup.py
Due: auto add label=Installation

fix praatio version, test=tts
  examples/other/g2p/get_g2p_data.py
  paddlespeech/t2s/exps/voice_cloning/tacotron2_ge2e/process_wav.py
  requirements.txt
  setup.py
  utils/gen_duration_from_textgrid.py
Due: auto add label=T2S, auto add label=Example, auto add label=Installation

fix praatio version, test=tts
  examples/other/g2p/get_g2p_data.py
  examples/other/g2p/path.sh
  examples/other/tn/path.sh
Due: auto add label=Example

release note tool
  tools/release_note.py
Due: auto add label=Installation

release note tool (#1159)
  tools/release_note.py
Due: auto add label=Installation

[TTS]fix praatio version, test=tts (#1158)
  examples/other/g2p/get_g2p_data.py
  examples/other/g2p/path.sh
  examples/other/tn/path.sh
  paddlespeech/t2s/exps/voice_cloning/tacotron2_ge2e/process_wav.py
  requirements.txt
  setup.py
  utils/gen_duration_from_textgrid.py
Due: auto add label=T2S, auto add label=Example, auto add label=Installation

docs: add tutorial, test=doc_fix
  docs/tutorial/st/st_tutorial.ipynb
Due: auto add label=Documentation

test=doc_fix
  docs/tutorial/asr/tutorial_transformer.ipynb
Due: auto add label=Documentation

test=doc_fix
  docs/tutorial/cls/cls_tutorial.ipynb
Due: auto add label=Documentation

test=doc_fix
  docs/tutorial/asr/asr_tutorial_deepspeech2.ipynb
Due: auto add label=Documentation

test=doc_fix
  docs/tutorial/asr/tutorial_deepspeech2.ipynb
Due: auto add label=Documentation

docs: add tutorial, test=doc_fix (#1160)
  docs/tutorial/st/st_tutorial.ipynb
Due: auto add label=Documentation

[Doc]Tutorial:asr+cls (#1161)
  docs/tutorial/asr/tutorial_deepspeech2.ipynb
  docs/tutorial/asr/tutorial_transformer.ipynb
  docs/tutorial/cls/cls_tutorial.ipynb
Due: auto add label=Documentation

add readme_cn for audio_tagging automatic_video_subtitiles, punctuation_restoration and speech_recognition, test=doc_fix
  demos/audio_tagging/README_cn.md
  demos/automatic_video_subtitiles/README_cn.md
  demos/punctuation_restoration/README.md
  demos/punctuation_restoration/README_cn.md
  demos/speech_recognition/README.md
  demos/speech_recognition/README_cn.md
  demos/speech_translation/README.md
  demos/speech_translation/README_cn.md
  demos/text_to_speech/README_cn.md
Due: auto add label=Demo, auto add label=README

add readme_cn for audio_tagging automatic_video_subtitiles, punctuation_restoration and speech_recognition, test=doc_fix (#1162)
  demos/audio_tagging/README_cn.md
  demos/automatic_video_subtitiles/README_cn.md
  demos/punctuation_restoration/README.md
  demos/punctuation_restoration/README_cn.md
  demos/speech_recognition/README.md
  demos/speech_recognition/README_cn.md
  demos/speech_translation/README.md
  demos/speech_translation/README_cn.md
  demos/text_to_speech/README_cn.md
Due: auto add label=Demo, auto add label=README

Path conditions:
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^audio/
  auto add label=TextProcess: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^docs/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
