Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=TextProcess, auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=TextProcess:
  label:
    add:
    - TextProcess

auto add label=Example:
  label:
    add:
    - Example

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

[asr] remove useless conf of librispeech (#1227)
  examples/csmsc/voc5/README.md
  examples/librispeech/asr1/conf/chunk_conformer.yaml
  examples/librispeech/asr1/conf/chunk_transformer.yaml
  examples/librispeech/asr1/conf/conformer.yaml
  examples/librispeech/asr1/conf/transformer.yaml
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/t2s/frontend/zh_frontend.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
Due: auto add label=S2T, auto add label=T2S, auto add label=Example, auto add label=README

[tts]add style melgan pretraied model (#1228)
  docs/source/released_model.md
  examples/aishell3/tts3/README.md
  examples/aishell3/voc1/README.md
  examples/csmsc/tts2/README.md
  examples/csmsc/tts2/local/synthesize_e2e.sh
  examples/csmsc/tts3/README.md
  examples/csmsc/tts3/local/synthesize_e2e.sh
  examples/csmsc/voc1/README.md
  examples/csmsc/voc3/README.md
  examples/csmsc/voc4/README.md
  examples/csmsc/voc5/README.md
  examples/ljspeech/tts1/README.md
  examples/ljspeech/tts3/README.md
  examples/ljspeech/voc1/README.md
  examples/vctk/tts3/README.md
  examples/vctk/voc1/README.md
  paddlespeech/t2s/exps/gan_vocoder/style_melgan/train.py
  paddlespeech/t2s/exps/speedyspeech/train.py
  paddlespeech/t2s/models/melgan/style_melgan.py
  paddlespeech/t2s/modules/tade_res_block.py
Due: auto add label=T2S, auto add label=Example, auto add label=README, auto add label=Documentation

add the whole of aishell asr1
  examples/aishell/asr1/conf/chunk_conformer.yaml
  examples/aishell/asr1/conf/conformer.yaml
  examples/aishell/asr1/conf/transformer.yaml
  examples/aishell/asr1/conf/tuning/chunk_decode.yaml
  examples/aishell/asr1/conf/tuning/decode.yaml
  examples/aishell/asr1/run.sh
Due: auto add label=Example

rename decoding to decode
  paddlespeech/s2t/exps/u2/config.py
  paddlespeech/s2t/exps/u2/model.py
Due: auto add label=S2T

update readme and install, test=doc_fix
  README.md
  README_cn.md
  docs/source/install.md
  docs/source/install_cn.md
Due: auto add label=README, auto add label=Documentation

update readme and install, test=doc_fix (#1236)
  README.md
  README_cn.md
  docs/source/install.md
  docs/source/install_cn.md
Due: auto add label=README, auto add label=Documentation

add librispeech asr1
  examples/aishell/asr1/local/align.sh
  examples/aishell/asr1/local/test.sh
  examples/aishell/asr1/local/test_wav.sh
  examples/csmsc/voc5/README.md
  examples/librispeech/asr1/conf/chunk_conformer.yaml
  examples/librispeech/asr1/conf/chunk_transformer.yaml
  examples/librispeech/asr1/conf/conformer.yaml
  examples/librispeech/asr1/conf/transformer.yaml
  examples/librispeech/asr1/conf/tuning/chunk_decode.yaml
  examples/librispeech/asr1/conf/tuning/decode.yaml
  examples/librispeech/asr1/local/align.sh
  examples/librispeech/asr1/local/test.sh
  examples/librispeech/asr1/local/test_wav.sh
  examples/librispeech/asr1/run.sh
  examples/tiny/asr1/conf/conformer.yaml
  examples/tiny/asr1/conf/transformer.yaml
  paddlespeech/s2t/exps/u2/bin/alignment.py
  paddlespeech/s2t/exps/u2/bin/test.py
  paddlespeech/s2t/exps/u2/bin/test_wav.py
  paddlespeech/s2t/exps/u2/config.py
Due: auto add label=S2T, auto add label=Example, auto add label=README

Update fastspeech2.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
Due: auto add label=T2S

result update
  examples/ted_en_zh/st1/RESULTS.md
Due: auto add label=Example

minor
  paddlespeech/s2t/exps/u2_st/model.py
Due: auto add label=S2T

fix bugs of refs
  paddlespeech/s2t/exps/u2_st/model.py
Due: auto add label=S2T

code refine
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/io/converter.py
  paddlespeech/s2t/io/dataloader.py
Due: auto add label=S2T

customize decoding batch size
  examples/ted_en_zh/st0/local/test.sh
  examples/ted_en_zh/st1/local/test.sh
Due: auto add label=Example

empty preprocess file
  paddlespeech/s2t/io/reader.py
Due: auto add label=S2T

distributed sampler
  paddlespeech/s2t/io/dataloader.py
Due: auto add label=S2T

fix bug
  paddlespeech/s2t/exps/u2_st/model.py
Due: auto add label=S2T

add triplet loader
  paddlespeech/s2t/io/converter.py
  paddlespeech/s2t/io/dataloader.py
Due: auto add label=S2T

sync to u2, updating
  paddlespeech/s2t/exps/u2_st/model.py
Due: auto add label=S2T

update config
  examples/ted_en_zh/st0/conf/transformer.yaml
  examples/ted_en_zh/st0/conf/transformer_mtl_noam.yaml
  examples/ted_en_zh/st1/conf/transformer.yaml
  examples/ted_en_zh/st1/conf/transformer_mtl_noam.yaml
Due: auto add label=Example

refine the loader
  paddlespeech/s2t/io/converter.py
  paddlespeech/s2t/io/dataloader.py
Due: auto add label=S2T

minor
  examples/ted_en_zh/st1/conf/transformer.yaml
  examples/ted_en_zh/st1/conf/transformer_mtl_noam.yaml
  paddlespeech/s2t/exps/u2_st/model.py
Due: auto add label=S2T, auto add label=Example

minor
  paddlespeech/s2t/io/converter.py
Due: auto add label=S2T

fix bugs
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/io/reader.py
Due: auto add label=S2T

sync to u2 config
  examples/ted_en_zh/st1/conf/transformer_mtl_noam.yaml
Due: auto add label=Example

update optimizer and lr scheduler
  paddlespeech/s2t/exps/u2_st/model.py
Due: auto add label=S2T

add style_melgan and hifigan in tts cli, test=tts
  paddlespeech/cli/tts/infer.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/frontend/phonectic.py
  paddlespeech/t2s/frontend/zh_normalization/text_normlization.py
Due: auto add label=T2S

add style_melgan and hifigan in tts cli, test=tts (#1241)
  paddlespeech/cli/tts/infer.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/frontend/phonectic.py
  paddlespeech/t2s/frontend/zh_normalization/text_normlization.py
Due: auto add label=T2S

[st] Distributed sampler and new dataloader with MIMO (#1239)
  examples/ted_en_zh/st0/conf/transformer.yaml
  examples/ted_en_zh/st0/conf/transformer_mtl_noam.yaml
  examples/ted_en_zh/st0/local/test.sh
  examples/ted_en_zh/st1/RESULTS.md
  examples/ted_en_zh/st1/conf/transformer.yaml
  examples/ted_en_zh/st1/conf/transformer_mtl_noam.yaml
  examples/ted_en_zh/st1/local/test.sh
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/io/converter.py
  paddlespeech/s2t/io/dataloader.py
  paddlespeech/s2t/io/reader.py
Due: auto add label=S2T, auto add label=Example

batchsampler or distributebatchsampler
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/io/dataloader.py
Due: auto add label=S2T

format
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/io/converter.py
  paddlespeech/s2t/io/dataloader.py
  paddlespeech/t2s/exps/synthesize_e2e.py
Due: auto add label=S2T, auto add label=T2S

add yeyupiaoling's repos' links, test=doc_fix
  README.md
  README_cn.md
Due: auto add label=README

add yeyupiaoling's repos' links, test=doc_fix (#1243)
  README.md
  README_cn.md
Due: auto add label=README

[s2t] DataLoader with BatchSampler or DistributeBatchSampler (#1242)
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/io/converter.py
  paddlespeech/s2t/io/dataloader.py
  paddlespeech/t2s/exps/synthesize_e2e.py
Due: auto add label=S2T, auto add label=T2S

fix speaker id bug in fastspeech2.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
Due: auto add label=T2S

fix config, test=tts
  examples/aishell3/voc1/conf/default.yaml
  examples/csmsc/voc1/conf/default.yaml
  examples/csmsc/voc4/conf/default.yaml
  examples/csmsc/voc5/conf/default.yaml
  examples/csmsc/voc5/conf/finetune.yaml
  examples/ljspeech/voc1/conf/default.yaml
  examples/vctk/voc1/conf/default.yaml
Due: auto add label=Example

add g2p topic, test=doc_fix
  docs/topic/frontend/g2p.md
Due: auto add label=Documentation

Path conditions:
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^audio/
  auto add label=TextProcess: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^docs/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
