Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]

add text normlization (#620)
  doc/images/jieba_tags.png
  doc/src/asr_text_backend.md
  doc/src/benchmark.md
  doc/src/chinese_syllable.md
  doc/src/dataset.md
  doc/src/ngram_lm.md
  doc/src/tools.md
  doc/src/tts_text_front_end.md
Due: auto add label=Documentation

add an example to convert transcription to pinyin with pypinyin and jieba
  examples/chinese_g2p/data/README.md
  examples/chinese_g2p/local/data_download.sh
  examples/chinese_g2p/local/extract_pinyin.py
  examples/chinese_g2p/path.sh
  examples/chinese_g2p/requirements.txt
  examples/chinese_g2p/run.sh
Due: auto add label=README

format code
  examples/chinese_g2p/run.sh
Due: none

fix install and egs link
  README.md
  README_cn.md
Due: auto add label=README

sox speed pertrub shape (T, C), float64, process using int32
  deepspeech/frontend/audio.py
  examples/librispeech/s0/conf/augmentation.json
  examples/tiny/s1/conf/augmentation.json
Due: none

fix libri ds2 scripts; add ngram and spm doc
  examples/librispeech/s0/conf/deepspeech2.yaml
  examples/librispeech/s0/local/data.sh
  examples/ngram_lm/README.md
  examples/spm/README.md
Due: auto add label=README

1. remove script for data downloading, since Baker dataset is not easily downloaded via terminal; 2. remove pypinyin as an extra requirement; it is alreay required by the main project; 3. clean code.
  examples/chinese_g2p/README.md
  examples/chinese_g2p/data/README.md
  examples/chinese_g2p/local/data_download.sh
  examples/chinese_g2p/local/extract_pinyin.py
  examples/chinese_g2p/local/prepare_dataset.sh
  examples/chinese_g2p/requirements.txt
  examples/chinese_g2p/run.sh
Due: auto add label=README

libri conf test set
  examples/librispeech/s1/conf/transformer.yaml
  examples/tiny/s1/conf/augmentation.json
Due: none

aishell ds2 cer7.86
  examples/aishell/s0/README.md
  examples/librispeech/s0/run.sh
Due: auto add label=README

fix ds2 result
  examples/aishell/s0/README.md
  examples/librispeech/s0/README.md
Due: auto add label=README

train ds2 model (#622)
  README.md
  README_cn.md
  deepspeech/exps/deepspeech2/model.py
  deepspeech/frontend/audio.py
  deepspeech/training/gradclip.py
  deepspeech/training/trainer.py
  deepspeech/utils/layer_tools.py
  examples/aishell/s0/README.md
  examples/aishell/s0/conf/augmentation.json
  examples/aishell/s0/conf/deepspeech2.yaml
  examples/aishell/s0/local/data.sh
  examples/librispeech/s0/README.md
  examples/librispeech/s0/conf/augmentation.json
  examples/librispeech/s0/conf/deepspeech2.yaml
  examples/librispeech/s0/local/data.sh
  examples/librispeech/s0/run.sh
  examples/ngram_lm/README.md
  examples/spm/README.md
  examples/tiny/s1/conf/augmentation.json
  tests/mask_test.py
  utils/compute_mean_std.py
Due: auto add label=README

more decoding method (#618)
  .gitignore
  deepspeech/exps/deepspeech2/model.py
  deepspeech/exps/u2/model.py
  examples/aishell/s0/local/data.sh
  examples/aishell/s1/README.md
  examples/aishell/s1/local/data.sh
  examples/aishell/s1/local/test.sh
  examples/librispeech/README.md
  examples/librispeech/s1/README.md
  examples/librispeech/s1/conf/conformer.yaml
  examples/librispeech/s1/conf/transformer.yaml
  examples/librispeech/s1/local/test.sh
  examples/tiny/s1/run.sh
  requirements.txt
  tests/mask_test.py
Due: auto add label=README

fix result; add feature list
  README.md
  README_cn.md
  doc/src/feature_list.md
  examples/aishell/s0/README.md
  examples/aishell/s1/README.md
  examples/librispeech/s0/README.md
  examples/librispeech/s1/README.md
Due: auto add label=README, auto add label=Documentation

change output format
  examples/chinese_g2p/README.md
  examples/chinese_g2p/local/convert_transcription.py
  examples/chinese_g2p/local/extract_pinyin_label.py
  examples/chinese_g2p/local/prepare_dataset.sh
  examples/chinese_g2p/run.sh
Due: auto add label=README

add tarball utils
  deepspeech/exps/u2/bin/alignment.py
  deepspeech/frontend/normalizer.py
  env.sh
  examples/aishell/s0/path.sh
  examples/aishell/s1/path.sh
  examples/librispeech/s0/path.sh
  examples/librispeech/s1/path.sh
  examples/spm/path.sh
  examples/tiny/s0/path.sh
  examples/tiny/s1/path.sh
  requirements.txt
  utils/avg_model.py
  utils/build_vocab.py
  utils/compute_mean_std.py
  utils/format_data.py
  utils/ngram_train.sh
  utils/tarball.sh
  utils/zh_tn.py
Due: auto add label=CI

fix doc link
  README.md
  README_cn.md
Due: auto add label=README

add tarball utils (#626)
  deepspeech/exps/u2/bin/alignment.py
  deepspeech/frontend/normalizer.py
  env.sh
  examples/aishell/s0/path.sh
  examples/aishell/s1/path.sh
  examples/librispeech/s0/path.sh
  examples/librispeech/s1/path.sh
  examples/spm/path.sh
  examples/tiny/s0/path.sh
  examples/tiny/s1/path.sh
  requirements.txt
  utils/avg_model.py
  utils/build_vocab.py
  utils/compute_mean_std.py
  utils/format_data.py
  utils/ngram_train.sh
  utils/tarball.sh
  utils/zh_tn.py
Due: auto add label=CI

add praat and texgrid doc
  doc/images/Praat-output-showing-forced-alignment-for-Mae-hen-wlad-fy-nhadau-the-first-line-of-the.png
  doc/src/praat_textgrid.md
Due: auto add label=Documentation

fix doc link (#627)
  README.md
  README_cn.md
Due: auto add label=README

add praat and texgrid doc (#628)
  doc/images/Praat-output-showing-forced-alignment-for-Mae-hen-wlad-fy-nhadau-the-first-line-of-the.png
  doc/src/praat_textgrid.md
Due: auto add label=Documentation

add a g2p example (#623)
  examples/chinese_g2p/README.md
  examples/chinese_g2p/local/convert_transcription.py
  examples/chinese_g2p/local/extract_pinyin_label.py
  examples/chinese_g2p/local/prepare_dataset.sh
  examples/chinese_g2p/path.sh
  examples/chinese_g2p/requirements.txt
  examples/chinese_g2p/run.sh
Due: auto add label=README

add align code
  deepspeech/exps/u2/model.py
  deepspeech/utils/ctc_utils.py
  deepspeech/utils/text_grid.py
Due: none

format
  README.md
  deepspeech/frontend/normalizer.py
  doc/src/asr_text_backend.md
  doc/src/benchmark.md
  doc/src/chinese_syllable.md
  doc/src/dataset.md
  doc/src/feature_list.md
  doc/src/ngram_lm.md
  doc/src/praat_textgrid.md
  doc/src/tools.md
  doc/src/tts_text_front_end.md
  requirements.txt
Due: auto add label=README, auto add label=Documentation

refactor g2p egs
  examples/aishell/s1/local/test.sh
  examples/chinese_g2p/.gitignore
  examples/chinese_g2p/local/prepare_dataset.sh
  examples/chinese_g2p/run.sh
  examples/librispeech/s1/conf/conformer.yaml
  utils/avg.sh
  utils/avg_model.py
Due: none

add sha-bone; remove avg.sh from egs;
  examples/aishell/s0/local/avg.sh
  examples/librispeech/s0/local/avg.sh
  examples/librispeech/s1/local/avg.sh
  examples/tiny/s0/local/avg.sh
  examples/tiny/s1/local/avg.sh
  utils/build_vocab.py
  utils/compute_mean_std.py
  utils/format_data.py
  utils/spm_decode
  utils/spm_encode
Due: none

refactor g2p egs (#630)
  examples/aishell/s0/local/avg.sh
  examples/aishell/s1/local/test.sh
  examples/chinese_g2p/.gitignore
  examples/chinese_g2p/local/prepare_dataset.sh
  examples/chinese_g2p/run.sh
  examples/librispeech/s0/local/avg.sh
  examples/librispeech/s1/conf/conformer.yaml
  examples/librispeech/s1/local/avg.sh
  examples/tiny/s0/local/avg.sh
  examples/tiny/s1/local/avg.sh
  utils/avg.sh
  utils/avg_model.py
  utils/build_vocab.py
  utils/compute_mean_std.py
  utils/format_data.py
  utils/spm_decode
  utils/spm_encode
Due: none

chinese to phoneme
  third_party/README.md
  third_party/phkit/README.md
  third_party/phkit/phkit/__init__.py
  third_party/phkit/phkit/chinese/__init__.py
  third_party/phkit/phkit/chinese/convert.py
  third_party/phkit/phkit/chinese/number.py
  third_party/phkit/phkit/chinese/phoneme.py
  third_party/phkit/phkit/chinese/pinyin.py
  third_party/phkit/phkit/chinese/sequence.py
  third_party/phkit/phkit/chinese/style.py
  third_party/phkit/phkit/chinese/symbol.py
  third_party/phkit/phkit/english/LICENSE
  third_party/phkit/phkit/english/__init__.py
  third_party/phkit/phkit/english/cleaners.py
  third_party/phkit/phkit/english/cmu_dictionary
  third_party/phkit/phkit/english/cmudict.py
  third_party/phkit/phkit/english/numbers.py
  third_party/phkit/phkit/english/symbols.py
  third_party/phkit/phkit/pinyinkit/README.md
  third_party/phkit/phkit/pinyinkit/__init__.py
  third_party/phkit/phkit/pinyinkit/core.py
  third_party/phkit/phkit/pinyinkit/phrase_pinyin.txt.py
  third_party/phkit/phkit/pinyinkit/single_pinyin.txt.py
  third_party/phkit/requirements.txt
  third_party/phkit/run_local.py
  third_party/phkit/setup.py
  third_party/phkit/test.py
Due: auto add label=README

chinese to phoneme (#633)
  third_party/README.md
  third_party/phkit/README.md
  third_party/phkit/phkit/__init__.py
  third_party/phkit/phkit/chinese/__init__.py
  third_party/phkit/phkit/chinese/convert.py
  third_party/phkit/phkit/chinese/number.py
  third_party/phkit/phkit/chinese/phoneme.py
  third_party/phkit/phkit/chinese/pinyin.py
  third_party/phkit/phkit/chinese/sequence.py
  third_party/phkit/phkit/chinese/style.py
  third_party/phkit/phkit/chinese/symbol.py
  third_party/phkit/phkit/english/LICENSE
  third_party/phkit/phkit/english/__init__.py
  third_party/phkit/phkit/english/cleaners.py
  third_party/phkit/phkit/english/cmu_dictionary
  third_party/phkit/phkit/english/cmudict.py
  third_party/phkit/phkit/english/numbers.py
  third_party/phkit/phkit/english/symbols.py
  third_party/phkit/phkit/pinyinkit/README.md
  third_party/phkit/phkit/pinyinkit/__init__.py
  third_party/phkit/phkit/pinyinkit/core.py
  third_party/phkit/phkit/pinyinkit/phrase_pinyin.txt.py
  third_party/phkit/phkit/pinyinkit/single_pinyin.txt.py
  third_party/phkit/requirements.txt
  third_party/phkit/run_local.py
  third_party/phkit/setup.py
  third_party/phkit/test.py
Due: auto add label=README
