Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]

format doc
  doc/src/asr_postprocess.md
  doc/src/dataset.md
  doc/src/ngram_lm.md
  doc/src/reference.md
  doc/src/server.md
  doc/src/speech_synthesis.md
  doc/src/text_front_end.md
Due: auto add label=Documentation

speech text process docs (#607)
  .mergify.yml
  doc/images/multi_gpu_speedup.png
  doc/images/prosody.jpeg
  doc/images/tuning_error_surface.png
  doc/src/asr_postprocess.md
  doc/src/augmentation.md
  doc/src/benchmark.md
  doc/src/chinese_syllable.md
  doc/src/data_preparation.md
  doc/src/dataset.md
  doc/src/faq.md
  doc/src/getting_started.md
  doc/src/install.md
  doc/src/ngram_lm.md
  doc/src/reference.md
  doc/src/released_model.md
  doc/src/server.md
  doc/src/speech_synthesis.md
  doc/src/text_front_end.md
  tools/Makefile
Due: auto add label=Documentation, auto add label=Installation, auto add label=mergify

fix readme install link
  README.md
  README_cn.md
  doc/src/ngram_lm.md
Due: auto add label=README, auto add label=Documentation

Fix readme install link (#610)
  README.md
  README_cn.md
  doc/src/ngram_lm.md
Due: auto add label=README, auto add label=Documentation

fix doc
  README.md
  README_cn.md
Due: auto add label=README

fix doc (#611)
  README.md
  README_cn.md
Due: auto add label=README

fix image link
  doc/src/benchmark.md
  doc/src/text_front_end.md
Due: auto add label=Documentation

add ngram lm egs
  examples/ngram_lm/.gitignore
  examples/ngram_lm/data/README.md
  examples/ngram_lm/data/custom_confusion.txt
  examples/ngram_lm/data/text_correct.txt
  examples/ngram_lm/local/build_zh_lm.sh
  examples/ngram_lm/local/download_lm_zh.sh
  examples/ngram_lm/local/kenlm_score_test.py
  examples/ngram_lm/local/ngram_train.sh
  examples/ngram_lm/local/zh_preprocess.py
  examples/ngram_lm/path.sh
  examples/ngram_lm/requirements.txt
  examples/ngram_lm/run.sh
Due: auto add label=README

add zhon repo
  third_party/zhon/.travis.yml
  third_party/zhon/AUTHORS.rst
  third_party/zhon/CHANGES.rst
  third_party/zhon/CONTRIBUTING.rst
  third_party/zhon/LICENSE.txt
  third_party/zhon/MANIFEST.in
  third_party/zhon/Makefile
  third_party/zhon/README.rst
  third_party/zhon/docs/Makefile
  third_party/zhon/docs/conf.py
  third_party/zhon/docs/index.rst
  third_party/zhon/docs/make.bat
  third_party/zhon/requirements.txt
  third_party/zhon/setup.cfg
  third_party/zhon/setup.py
  third_party/zhon/tests/__init__.py
  third_party/zhon/tests/test-cedict.py
  third_party/zhon/tests/test-hanzi.py
  third_party/zhon/tests/test-pinyin.py
  third_party/zhon/tests/test-zhuyin.py
  third_party/zhon/tox.ini
  third_party/zhon/zhon/__init__.py
  third_party/zhon/zhon/cedict/__init__.py
  third_party/zhon/zhon/cedict/all.py
  third_party/zhon/zhon/cedict/simplified.py
  third_party/zhon/zhon/cedict/traditional.py
  third_party/zhon/zhon/hanzi.py
  third_party/zhon/zhon/pinyin.py
  third_party/zhon/zhon/zhuyin.py
Due: none

install kenlm, zhon
  .gitignore
  setup.sh
  third_party/install.sh
  third_party/zhon/.gitignore
  tools/Makefile
Due: auto add label=Installation

format
  README.md
  README_cn.md
  examples/ngram_lm/local/kenlm_score_test.py
  examples/ngram_lm/local/zh_preprocess.py
Due: auto add label=README

add ngram lm egs
  examples/ngram_lm/local/build_zh_lm.sh
  examples/ngram_lm/local/kenlm_score_test.py
  examples/ngram_lm/local/zh_preprocess.py
  examples/ngram_lm/path.sh
  third_party/chinese_text_normalization/README.md
  third_party/chinese_text_normalization/thrax/src/README.md
  utils/ngram_train.sh
  utils/zh_tn.py
Due: auto add label=README

fix image link (#612)
  doc/src/benchmark.md
  doc/src/text_front_end.md
Due: auto add label=Documentation

ctc decoding weight 0.5
  examples/aishell/s1/conf/conformer.yaml
  examples/librispeech/s1/conf/chunk_confermer.yaml
  examples/librispeech/s1/conf/chunk_transformer.yaml
  examples/librispeech/s1/conf/conformer.yaml
  examples/librispeech/s1/conf/transformer.yaml
Due: none

default cmvn compute config; more log of grad clip; diff ds2 cmvn compute and conf; ds2 lr step by epoch;
  deepspeech/exps/deepspeech2/model.py
  deepspeech/training/gradclip.py
  deepspeech/training/trainer.py
  deepspeech/utils/layer_tools.py
  examples/aishell/s0/conf/deepspeech2.yaml
  examples/aishell/s0/local/data.sh
  tests/mask_test.py
  utils/compute_mean_std.py
Due: none

tiny decoding conf
  examples/tiny/s1/conf/chunk_confermer.yaml
  examples/tiny/s1/conf/chunk_transformer.yaml
  examples/tiny/s1/conf/conformer.yaml
  examples/tiny/s1/conf/transformer.yaml
Due: none

more label of mergify
  .mergify.yml
Due: auto add label=mergify

format doc
  README.md
  README_cn.md
Due: auto add label=README

more decoding method
  examples/librispeech/s1/README.md
  examples/librispeech/s1/conf/conformer.yaml
  examples/librispeech/s1/local/test.sh
Due: auto add label=README

ctc decoding weight 0.5 (#614)
  .mergify.yml
  examples/aishell/s1/conf/conformer.yaml
  examples/librispeech/s1/conf/chunk_confermer.yaml
  examples/librispeech/s1/conf/chunk_transformer.yaml
  examples/librispeech/s1/conf/conformer.yaml
  examples/librispeech/s1/conf/transformer.yaml
  examples/tiny/s1/conf/chunk_confermer.yaml
  examples/tiny/s1/conf/chunk_transformer.yaml
  examples/tiny/s1/conf/conformer.yaml
  examples/tiny/s1/conf/transformer.yaml
Due: auto add label=mergify

using soxbinddings
  .gitignore
  deepspeech/frontend/audio.py
  tools/Makefile
Due: auto add label=Installation

add text normlization
  doc/images/jieba_tags.png
  doc/src/asr_text_backend.md
  doc/src/benchmark.md
  doc/src/chinese_syllable.md
  doc/src/dataset.md
  doc/src/ngram_lm.md
  doc/src/tools.md
  doc/src/tts_text_front_end.md
Due: auto add label=Documentation

all decode method test scripts; result readme
  deepspeech/exps/u2/model.py
  examples/aishell/s1/README.md
  examples/aishell/s1/local/test.sh
  examples/librispeech/README.md
  examples/librispeech/s1/README.md
  examples/librispeech/s1/conf/conformer.yaml
  examples/librispeech/s1/local/test.sh
Due: auto add label=README

exp libri confi
  examples/librispeech/s1/conf/conformer.yaml
Due: none

using soxbinddings (#619)
  .gitignore
  deepspeech/frontend/audio.py
  tools/Makefile
Due: auto add label=Installation

add space
  doc/src/tts_text_front_end.md
Due: auto add label=Documentation

parallel data scripts; more mask test; need pybind11 repo
  .gitignore
  deepspeech/exps/deepspeech2/model.py
  examples/aishell/s0/local/data.sh
  examples/aishell/s1/local/data.sh
  examples/tiny/s1/run.sh
  requirements.txt
  tests/mask_test.py
Due: none

speed perturb config
  examples/tiny/s1/conf/augmentation.json
Due: none

fix config
  deepspeech/training/gradclip.py
  examples/aishell/s0/README.md
  examples/aishell/s0/conf/augmentation.json
  examples/tiny/s1/conf/augmentation.json
Due: auto add label=README

fix ds2 config
  deepspeech/training/gradclip.py
  examples/aishell/s0/README.md
  examples/aishell/s0/conf/augmentation.json
  examples/tiny/s1/conf/augmentation.json
Due: auto add label=README
