Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=enhancement:
  label:
    add:
    - enhancement

auto add label=Example:
  label:
    add:
    - Example

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

add decoder scores function
  deepspeech/decoders/README.md
  deepspeech/decoders/scores/__init__.py
  deepspeech/decoders/scores/ctc.py
  deepspeech/decoders/scores/ctc_prefix_score.py
  deepspeech/decoders/scores/length_bonus.py
  deepspeech/decoders/scores/ngram.py
  deepspeech/decoders/scores/score_interface.py
Due: auto add label=enhancement, auto add label=README

update vector ctc prefix score
  deepspeech/decoders/scores/ctc.py
  deepspeech/decoders/scores/ctc_prefix_score.py
Due: auto add label=enhancement

decoder end detection, when no more hyps score larger than before by a margin meet M count
  deepspeech/decoders/utils.py
Due: auto add label=enhancement

remove useless device
  deepspeech/decoders/scores/ctc_prefix_score.py
Due: auto add label=enhancement

rm useless swig dir
  deepspeech/decoders/swig/ctc_beam_search_decoder.cpp
  deepspeech/decoders/swig/decoder_utils.h
  deepspeech/decoders/swig/scorer.cpp
  deepspeech/decoders/swig/setup.sh
Due: auto add label=enhancement

argparse load conf from file
  deepspeech/training/cli.py
Due: auto add label=enhancement

format code
  deepspeech/decoders/README.md
  deepspeech/decoders/__init__.py
  deepspeech/decoders/scores/__init__.py
  deepspeech/decoders/scores/ctc.py
  deepspeech/decoders/scores/ctc_prefix_score.py
  deepspeech/decoders/scores/length_bonus.py
  deepspeech/decoders/scores/ngram.py
  deepspeech/decoders/scores/score_interface.py
  deepspeech/decoders/utils.py
  deepspeech/modules/ctc.py
Due: auto add label=enhancement, auto add label=README

multi workers for valid dataloader
  deepspeech/exps/u2/trainer.py
  deepspeech/exps/u2_kaldi/model.py
Due: auto add label=enhancement

fix ctc_loss call for 2.2.0
  deepspeech/__init__.py
Due: auto add label=enhancement

rename scorers
  deepspeech/decoders/scorers/__init__.py
  deepspeech/decoders/scorers/ctc.py
  deepspeech/decoders/scorers/ctc_prefix_score.py
  deepspeech/decoders/scorers/length_bonus.py
  deepspeech/decoders/scorers/ngram.py
  deepspeech/decoders/scorers/score_interface.py
Due: auto add label=enhancement

add LayerDict
  deepspeech/__init__.py
  deepspeech/utils/utility.py
Due: auto add label=enhancement

update the wget script for openfst
  deepspeech/decoders/ctcdecoder/swig/setup.sh
Due: auto add label=enhancement

fix detoken for char
  deepspeech/frontend/featurizer/text_featurizer.py
  examples/aishell/s1/README.md
Due: auto add label=enhancement, auto add label=Example, auto add label=README

fix: fix wget https
  tools/Makefile
Due: auto add label=Installation

Revert "[WIP] ctc loss api debug"
  deepspeech/__init__.py
Due: auto add label=enhancement

fix the bug of export model
  deepspeech/models/ds2/deepspeech2.py
Due: auto add label=enhancement

add readthedoc
  README.md
  docs/Makefile
  docs/make.bat
  docs/requirements.txt
  docs/source/augmentation.md
  docs/source/conf.py
  docs/source/data_preparation.md
  docs/source/deepspeech_architecture.md
  docs/source/feature_list.md
  docs/source/getting_started.md
  docs/source/index.rst
  docs/source/install.md
  docs/source/ngram_lm.md
  docs/source/reference.md
  docs/source/released_model.md
Due: auto add label=README

revert the ctc_loss in deepspeech/__init__.py
  deepspeech/__init__.py
Due: auto add label=enhancement

fix the bug of import ctc decoder
  deepspeech/modules/ctc.py
Due: auto add label=enhancement

add librispeech Hub
  examples/librispeech/s0/local/test_hub.sh
  examples/librispeech/s0/run.sh
Due: auto add label=Example

fix the bug of doc in benchmark
  tests/benchmark/README.md
Due: auto add label=README

Path conditions:
  auto add label=enhancement: any of: ^deepspeech/
  auto add label=Example: any of: ^examples/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
