Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=enhancement"
    conditions:
      - files~=^deepspeech/
    actions:
      label:
        add: ["enhancement"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechnn/
    actions:
      label:
        add: ["Deployment"]

fix release model egs name
  docs/source/released_model.md
Due: none

fix the prc-commit
  examples/dataset/aishell/aishell.py
  examples/dataset/ted_en_zh/ted_en_zh.py
  examples/dataset/thchs30/thchs30.py
  examples/dataset/timit/timit_kaldi_standard_split.py
  examples/librispeech/asr1/README.md
  examples/timit/README.md
  examples/wenetspeech/README.md
  examples/wenetspeech/asr1/RESULTS.md
  examples/wenetspeech/asr1/local/extract_meta.py
  examples/wenetspeech/asr1/local/process_opus.py
  paddlespeech/s2t/exps/deepspeech2/model.py
  paddlespeech/s2t/exps/u2/model.py
Due: auto add label=Example, auto add label=README

refactor: update
  examples/ted_en_zh/t1/README.md
  examples/ted_en_zh/t1/conf/transformer_mtl_noam.yaml
  examples/ted_en_zh/t1/local/convert_torch_to_paddle.py
  examples/ted_en_zh/t1/local/download_pretrain.sh
  examples/ted_en_zh/t1/local/train_finetune.sh
  examples/ted_en_zh/t1/run.sh
Due: auto add label=Example, auto add label=README

refactor: rename t1 to st1
  examples/ted_en_zh/st1/.gitignore
  examples/ted_en_zh/st1/README.md
  examples/ted_en_zh/st1/conf/transformer.yaml
  examples/ted_en_zh/st1/conf/transformer_mtl_noam.yaml
  examples/ted_en_zh/st1/local/convert_torch_to_paddle.py
  examples/ted_en_zh/st1/local/data.sh
  examples/ted_en_zh/st1/local/download_pretrain.sh
  examples/ted_en_zh/st1/local/test.sh
  examples/ted_en_zh/st1/local/train_finetune.sh
  examples/ted_en_zh/st1/path.sh
  examples/ted_en_zh/st1/run.sh
Due: auto add label=Example, auto add label=README

vocab into data/lang_char
  examples/aishell/asr0/conf/deepspeech2.yaml
  examples/aishell/asr0/conf/deepspeech2_online.yaml
  examples/aishell/asr0/local/data.sh
  examples/aishell/asr1/conf/chunk_conformer.yaml
  examples/aishell/asr1/conf/conformer.yaml
  examples/aishell/asr1/conf/transformer.yaml
  examples/aishell/asr1/local/data.sh
  examples/callcenter/asr1/conf/chunk_conformer.yaml
  examples/callcenter/asr1/conf/conformer.yaml
  examples/callcenter/asr1/local/data.sh
  examples/librispeech/asr0/conf/deepspeech2.yaml
  examples/librispeech/asr0/conf/deepspeech2_online.yaml
  examples/librispeech/asr0/local/data.sh
  examples/librispeech/asr1/conf/chunk_conformer.yaml
  examples/librispeech/asr1/conf/conformer.yaml
  examples/librispeech/asr1/conf/transformer.yaml
  examples/librispeech/asr1/local/data.sh
  examples/ted_en_zh/st0/conf/transformer.yaml
  examples/ted_en_zh/st0/conf/transformer_joint_noam.yaml
  examples/ted_en_zh/st0/local/data.sh
  examples/ted_en_zh/st1/conf/transformer.yaml
  examples/ted_en_zh/st1/conf/transformer_mtl_noam.yaml
  examples/ted_en_zh/st1/local/data.sh
  examples/timit/asr1/conf/transformer.yaml
  examples/timit/asr1/local/data.sh
  examples/tiny/asr0/conf/deepspeech2.yaml
  examples/tiny/asr0/conf/deepspeech2_online.yaml
  examples/tiny/asr0/local/data.sh
  examples/tiny/asr1/conf/chunk_confermer.yaml
  examples/tiny/asr1/conf/chunk_transformer.yaml
  examples/tiny/asr1/conf/conformer.yaml
  examples/tiny/asr1/conf/transformer.yaml
  examples/tiny/asr1/local/data.sh
  examples/wenetspeech/asr1/conf/conformer.yaml
Due: auto add label=Example

add the readme for the run.sh in aishsll asr1
  examples/aishell/asr1/READEME.md
  examples/aishell/asr1/model_performance.md
  examples/aishell/asr1/run.sh
Due: auto add label=Example

update librispeech transformer result
  examples/librispeech/asr1/README.md
Due: auto add label=Example, auto add label=README

fix readme
  examples/aishell/asr1/README.md
  examples/aishell3/tts3/README.md
  examples/aishell3/tts3/run.sh
  examples/aishell3/vc0/README.md
  examples/aishell3/vc0/run.sh
  examples/aishell3/vc1/README.md
  examples/aishell3/vc1/run.sh
  examples/aishell3/voc1/README.md
  examples/aishell3/voc1/run.sh
  examples/csmsc/tts2/README.md
  examples/csmsc/tts2/run.sh
  examples/csmsc/tts3/README.md
  examples/csmsc/tts3/run.sh
  examples/csmsc/voc1/README.md
  examples/csmsc/voc1/run.sh
  examples/csmsc/voc3/README.md
  examples/csmsc/voc3/run.sh
  examples/ljspeech/tts0/README.md
  examples/ljspeech/tts0/run.sh
  examples/ljspeech/tts1/README.md
  examples/ljspeech/tts1/run.sh
  examples/ljspeech/tts3/README.md
  examples/ljspeech/tts3/run.sh
  examples/ljspeech/voc0/README.md
  examples/ljspeech/voc0/run.sh
  examples/ljspeech/voc1/README.md
  examples/ljspeech/voc1/run.sh
  examples/other/ge2e/README.md
  examples/other/ge2e/run.sh
  examples/vctk/tts3/README.md
  examples/vctk/tts3/run.sh
  examples/vctk/voc1/README.md
  examples/vctk/voc1/run.sh
Due: auto add label=Example, auto add label=README

install crf
  .gitignore
  examples/librispeech/asr1/conf/chunk_transformer.yaml
  tools/extras/install_crf.sh
Due: auto add label=Example, auto add label=Installation

Update README.md
  README.md
Due: auto add label=README

revise some programming mistakes
  examples/aishell/asr1/READEME.md
Due: auto add label=Example

fix preprocess of libri asr2
  examples/librispeech/asr1/conf/chunk_transformer.yaml
  examples/librispeech/asr2/conf/preprocess.yaml
  examples/librispeech/asr2/conf/transformer.yaml
Due: auto add label=Example

Update quick_start.md
  docs/source/tts/quick_start.md
Due: none

Update quick_start.md
  docs/source/asr/quick_start.md
Due: none

Update reference.md
  docs/source/reference.md
Due: none

update ds2 offline result
  examples/aishell/asr0/README.md
  examples/aishell/asr0/utils
Due: auto add label=Example, auto add label=README

update ipynb, add eval loss
  README.md
  docs/source/introduction.md
  docs/source/tts/README.md
  docs/tutorial/tts/source/tts-timeline.png
  docs/tutorial/tts/source/wechat-group.png
  docs/tutorial/tts/tts_tutorial.ipynb
  examples/aishell3/vc1/README.md
  examples/aishell3/voc1/README.md
  examples/csmsc/tts2/README.md
  examples/csmsc/tts3/README.md
  examples/csmsc/voc1/README.md
  examples/csmsc/voc3/README.md
  examples/ljspeech/tts3/README.md
Due: auto add label=Example, auto add label=README

update table
  examples/aishell3/vc1/README.md
  examples/aishell3/voc1/README.md
  examples/csmsc/tts2/README.md
  examples/csmsc/tts3/README.md
  examples/csmsc/voc1/README.md
  examples/csmsc/voc3/README.md
  examples/ljspeech/tts3/README.md
Due: auto add label=Example, auto add label=README
