Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=TextProcess, auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=TextProcess:
  label:
    add:
    - TextProcess

auto add label=Example:
  label:
    add:
    - Example

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

add cnndecoder pretrained model, test=doc
  examples/csmsc/tts3/README.md
Due: auto add label=Example, auto add label=README

add chunk size and pad size in args, test=doc
  paddlespeech/t2s/exps/synthesize_streaming.py
Due: auto add label=T2S

Update README.md
  paddleaudio/docs/README.md
Due: auto add label=README

Add readme. test=doc
  paddleaudio/README.md
Due: auto add label=README

Update readme. test=doc
  paddleaudio/docs/README.md
Due: auto add label=README

more comment
  speechx/examples/decoder/decoder_test_main.cc
  speechx/examples/decoder/offline_decoder_main.cc
  speechx/examples/decoder/offline_decoder_sliding_chunk_main.cc
  speechx/speechx/nnet/decodable.cc
Due: none

add glog test
  .gitignore
  .mergify.yml
  speechx/examples/decoder/local/model.sh
  speechx/examples/glog/CMakeLists.txt
  speechx/examples/glog/README.md
  speechx/examples/glog/glog_logtostderr_test.cc
  speechx/examples/glog/glog_test.cc
  speechx/examples/glog/path.sh
  speechx/examples/glog/run.sh
Due: auto add label=README, auto add label=mergify

frontend itf
  speechx/examples/feat/linear_spectrogram_main.cc
  speechx/speechx/frontend/audio_cache.h
  speechx/speechx/frontend/data_cache.h
  speechx/speechx/frontend/fbank.h
  speechx/speechx/frontend/feature_cache.cc
  speechx/speechx/frontend/feature_cache.h
  speechx/speechx/frontend/feature_extractor_controller.h
  speechx/speechx/frontend/feature_extractor_controller_impl.h
  speechx/speechx/frontend/frontend_itf.h
  speechx/speechx/frontend/linear_spectrogram.cc
  speechx/speechx/frontend/linear_spectrogram.h
  speechx/speechx/frontend/normalizer.cc
  speechx/speechx/frontend/normalizer.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/decodable.h
Due: none

cmvn and db norm
  speechx/speechx/frontend/CMakeLists.txt
  speechx/speechx/frontend/cmvn.cc
  speechx/speechx/frontend/cmvn.h
  speechx/speechx/frontend/db_norm.cc
  speechx/speechx/frontend/db_norm.h
  speechx/speechx/frontend/normalizer.h
Due: none

frontend to audio dir
  speechx/examples/decoder/offline_decoder_main.cc
  speechx/examples/decoder/offline_decoder_sliding_chunk_main.cc
  speechx/examples/feat/linear_spectrogram_main.cc
  speechx/speechx/frontend/CMakeLists.txt
  speechx/speechx/frontend/audio/CMakeLists.txt
  speechx/speechx/frontend/audio/audio_cache.cc
  speechx/speechx/frontend/audio/audio_cache.h
  speechx/speechx/frontend/audio/cmvn.cc
  speechx/speechx/frontend/audio/cmvn.h
  speechx/speechx/frontend/audio/data_cache.h
  speechx/speechx/frontend/audio/db_norm.cc
  speechx/speechx/frontend/audio/db_norm.h
  speechx/speechx/frontend/audio/fbank.h
  speechx/speechx/frontend/audio/feature_cache.cc
  speechx/speechx/frontend/audio/feature_cache.h
  speechx/speechx/frontend/audio/frontend_itf.h
  speechx/speechx/frontend/audio/linear_spectrogram.cc
  speechx/speechx/frontend/audio/linear_spectrogram.h
  speechx/speechx/frontend/audio/mfcc.h
  speechx/speechx/frontend/audio/normalizer.h
  speechx/speechx/frontend/normalizer.h
  speechx/speechx/frontend/window.h
  speechx/speechx/nnet/decodable.h
Due: none

format code
  speechx/examples/feat/linear_spectrogram_main.cc
  speechx/speechx/frontend/audio/cmvn.cc
  speechx/speechx/frontend/audio/cmvn.h
  speechx/speechx/frontend/audio/feature_cache.cc
  speechx/speechx/frontend/audio/normalizer.h
  speechx/speechx/nnet/decodable.h
Due: none

convert rirs noise to csv file
  examples/voxceleb/sv0/conf/ecapa_tdnn.yaml
  examples/voxceleb/sv0/local/data.sh
  examples/voxceleb/sv0/local/make_csv_dataset_from_json.py
  examples/voxceleb/sv0/local/make_rirs_noise_csv_dataset_from_json.py
  examples/voxceleb/sv0/local/make_vox_csv_dataset_from_json.py
Due: auto add label=Example

rename nnet itf
  speechx/speechx/nnet/nnet_itf.h
  speechx/speechx/nnet/paddle_nnet.h
Due: none

add voxceleb and rirs noise dataset
  dataset/rir_noise/rir_noise.py
  paddlespeech/vector/io/dataset.py
Due: none

train process add new voxceleb and rirs dataset, test=doc
  examples/voxceleb/sv0/local/data.sh
  paddlespeech/vector/exps/ecapa_tdnn/train.py
  paddlespeech/vector/io/augment.py
Due: auto add label=Example

fix nnet itf header, test=doc
  speechx/speechx/nnet/decodable.h
Due: none

add license and reference for some models, test=doc
  paddlespeech/t2s/exps/fastspeech2/gen_gta_mel.py
  paddlespeech/t2s/models/hifigan/hifigan.py
  paddlespeech/t2s/models/tacotron2/tacotron2.py
  paddlespeech/t2s/models/wavernn/wavernn.py
Due: auto add label=T2S

supplement note
  paddlespeech/s2t/decoders/recog.py
  paddlespeech/s2t/decoders/recog_bin.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/models/u2/updater.py
  paddlespeech/s2t/models/u2_st/u2_st.py
  paddlespeech/s2t/utils/bleu_score.py
  paddlespeech/s2t/utils/text_grid.py
Due: auto add label=S2T

add vector csv dataset format, test=doc
  examples/voxceleb/sv0/conf/ecapa_tdnn.yaml
  examples/voxceleb/sv0/local/data.sh
  examples/voxceleb/sv0/local/make_rirs_noise_csv_dataset_from_json.py
  examples/voxceleb/sv0/local/make_vox_csv_dataset_from_json.py
  paddlespeech/vector/exps/ecapa_tdnn/train.py
  paddlespeech/vector/io/augment.py
  paddlespeech/vector/io/dataset.py
  paddlespeech/vector/utils/utils.py
Due: auto add label=Example

[vec][search] update README, test=doc fix #1608
  demos/audio_searching/README.md
  demos/audio_searching/README_cn.md
  demos/audio_searching/src/encode.py
Due: auto add label=Demo, auto add label=README

add some annotations, test=doc
  examples/voxceleb/sv0/local/make_vox_csv_dataset_from_json.py
  paddlespeech/vector/io/dataset.py
Due: auto add label=Example

change the vector csv.spk_id to csv.label, test=doc
  examples/voxceleb/sv0/local/make_rirs_noise_csv_dataset_from_json.py
  examples/voxceleb/sv0/local/make_vox_csv_dataset_from_json.py
  paddlespeech/vector/exps/ecapa_tdnn/test.py
  paddlespeech/vector/exps/ecapa_tdnn/train.py
  paddlespeech/vector/io/dataset.py
  paddlespeech/vector/utils/vector_utils.py
Due: auto add label=Example

test.py update the CSVDataset, test=doc
  paddlespeech/vector/io/batch.py
  paddlespeech/vector/io/dataset.py
Due: none

add speaker verification method, test=doc
  demos/speaker_verification/README.md
  demos/speaker_verification/README_cn.md
  demos/speaker_verification/run.sh
Due: auto add label=Demo, auto add label=README

add score method, test=doc
  paddlespeech/cli/vector/infer.py
Due: none

add ami diarization pipeline, test=doc
  examples/ami/sd0/conf/ecapa_tdnn.yaml
  examples/ami/sd0/local/ami_dataset.py
  examples/ami/sd0/local/compute_embdding.py
  examples/ami/sd0/local/experiment.py
  examples/ami/sd0/local/process.sh
  examples/ami/sd0/run.sh
  paddlespeech/vector/cluster/diarization.py
  utils/compute_der.py
Due: auto add label=Example

code format, test=doc
  examples/ami/sd0/conf/ecapa_tdnn.yaml
  examples/ami/sd0/local/compute_embdding.py
  examples/ami/sd0/local/data.sh
  examples/ami/sd0/local/experiment.py
  examples/ami/sd0/local/process.sh
Due: auto add label=Example

refactor linear feature:unify vector & remove redundant function
  speechx/examples/feat/linear_spectrogram_main.cc
  speechx/speechx/frontend/audio/linear_spectrogram.cc
  speechx/speechx/frontend/audio/linear_spectrogram.h
Due: none

fix amp
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/training/gradclip.py
Due: auto add label=S2T

Update README.md
  README.md
Due: auto add label=README

update readme
  README_cn.md
Due: none

update
  README_cn.md
Due: none

add server
  README_cn.md
Due: none

add stream tts server, test=doc
  paddlespeech/server/conf/tts_online_application.yaml
  paddlespeech/server/engine/engine_factory.py
  paddlespeech/server/engine/tts/online/__init__.py
  paddlespeech/server/engine/tts/online/tts_engine.py
  paddlespeech/server/restful/tts_api.py
  paddlespeech/server/tests/tts/offline/http_client.py
  paddlespeech/server/tests/tts/online/http_client.py
  paddlespeech/server/tests/tts/online/http_client_playaudio.py
  paddlespeech/server/tests/tts/online/out.pcm
  paddlespeech/server/tests/tts/online/ws_client.py
  paddlespeech/server/tests/tts/online/ws_client_playaudio.py
  paddlespeech/server/utils/audio_process.py
  paddlespeech/server/utils/util.py
  paddlespeech/server/ws/tts_socket.py
Due: none

refactor voxceleb2 data download, test=doc
  dataset/voxceleb/voxceleb1.py
  dataset/voxceleb/voxceleb2.py
  examples/voxceleb/sv0/conf/ecapa_tdnn_small.yaml
  examples/voxceleb/sv0/local/data.sh
  examples/voxceleb/sv0/run.sh
Due: auto add label=Example

update server cli, test=doc
  paddlespeech/server/bin/paddlespeech_server.py
  paddlespeech/server/tests/tts/online/out.pcm
Due: none

fix mcd
  paddleaudio/paddleaudio/metric/mcd.py
Due: none

Update mcd.py
  paddleaudio/paddleaudio/metric/mcd.py
Due: none

Update README.md
  examples/esc50/README.md
Due: auto add label=Example, auto add label=README

Delete mcd.py
  paddleaudio/paddleaudio/metric/mcd.py
Due: none

Path conditions:
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^audio/
  auto add label=TextProcess: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^docs/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
