Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=TextProcess, auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^audio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=TextProcess"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["TextProcess"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^docs/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechnn/
    actions:
      label:
        add: ["Deployment"]

Update README.md
  demos/text_to_speech/README.md
Due: auto add label=Demo, auto add label=README

separate the sox and soxbindings with the requirements
  paddlespeech/s2t/frontend/audio.py
  paddlespeech/s2t/transform/perturb.py
  setup.py
Due: auto add label=S2T, auto add label=Installation

Update quick_start.md
  docs/source/tts/quick_start.md
Due: auto add label=Documentation

add hifigan
  docs/source/install.md
  examples/librispeech/asr1/RESULTS.md
  paddlespeech/t2s/models/melgan/multi_band_melgan_updater.py
  paddlespeech/t2s/models/parallel_wavegan/parallel_wavegan_updater.py
  paddlespeech/t2s/modules/upsample.py
Due: auto add label=T2S, auto add label=Example, auto add label=Documentation

rm uesless comment
  examples/aishell/asr1/conf/chunk_conformer.yaml
  examples/aishell/asr1/conf/transformer.yaml
  examples/callcenter/asr1/conf/chunk_conformer.yaml
  examples/callcenter/asr1/conf/conformer.yaml
  examples/librispeech/asr1/conf/chunk_conformer.yaml
  examples/librispeech/asr1/conf/chunk_transformer.yaml
  examples/librispeech/asr1/conf/conformer.yaml
  examples/librispeech/asr2/conf/transformer.yaml
  examples/ted_en_zh/st0/conf/transformer.yaml
  examples/ted_en_zh/st1/conf/transformer.yaml
  examples/timit/asr1/conf/transformer.yaml
  examples/tiny/asr1/conf/chunk_confermer.yaml
  examples/tiny/asr1/conf/chunk_transformer.yaml
  examples/tiny/asr1/conf/conformer.yaml
  examples/tiny/asr1/conf/transformer.yaml
  examples/wenetspeech/asr1/conf/conformer.yaml
Due: auto add label=Example

remove ctc grad norm type in config
  examples/aishell/asr0/conf/deepspeech2_online.yaml
  examples/librispeech/asr0/conf/deepspeech2.yaml
  examples/librispeech/asr0/conf/deepspeech2_online.yaml
  examples/librispeech/asr1/conf/chunk_conformer.yaml
  examples/librispeech/asr1/conf/chunk_transformer.yaml
  examples/librispeech/asr1/conf/conformer.yaml
  examples/librispeech/asr1/conf/transformer.yaml
  examples/librispeech/asr2/conf/transformer.yaml
  examples/ted_en_zh/st0/conf/transformer.yaml
  examples/ted_en_zh/st0/conf/transformer_mtl_noam.yaml
  examples/ted_en_zh/st1/conf/transformer.yaml
  examples/ted_en_zh/st1/conf/transformer_mtl_noam.yaml
  examples/timit/asr1/conf/transformer.yaml
  examples/tiny/asr0/conf/deepspeech2.yaml
  examples/tiny/asr0/conf/deepspeech2_online.yaml
  examples/tiny/asr1/conf/chunk_confermer.yaml
  examples/tiny/asr1/conf/chunk_transformer.yaml
  examples/tiny/asr1/conf/conformer.yaml
  examples/tiny/asr1/conf/transformer.yaml
  examples/wenetspeech/asr1/conf/conformer.yaml
  paddlespeech/s2t/models/ds2/deepspeech2.py
  paddlespeech/s2t/models/ds2_online/deepspeech2.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/models/u2_st/u2_st.py
  tests/unit/asr/u2_model_test.py
Due: auto add label=S2T, auto add label=Example

set default encoding utf8 for win
  paddlespeech/cli/__init__.py
Due: none

Update README.md
  README.md
Due: auto add label=README

move pypi-kenlm from install requirements to develop requirements
  setup.py
Due: auto add label=Installation

set default encoding utf8 for win (#1101)
  paddlespeech/cli/__init__.py
Due: none

[README] Update ST and AC info in README.md
  README.md
  docs/source/released_model.md
Due: auto add label=README, auto add label=Documentation

test CI
  dataset/aidatatang_200zh/aidatatang_200zh.py
  dataset/aishell/aishell.py
  dataset/librispeech/librispeech.py
  dataset/mini_librispeech/mini_librispeech.py
  dataset/musan/musan.py
  dataset/rir_noise/rir_noise.py
  dataset/thchs30/thchs30.py
  dataset/timit/timit.py
  dataset/voxforge/voxforge.py
  examples/ljspeech/tts0/README.md
  paddlespeech/cli/__init__.py
  paddlespeech/cls/exps/panns/deploy/predict.py
  paddlespeech/cls/exps/panns/export_model.py
  paddlespeech/cls/exps/panns/predict.py
  paddlespeech/cls/exps/panns/train.py
  paddlespeech/cls/models/panns/panns.py
  paddlespeech/s2t/frontend/audio.py
  paddlespeech/s2t/frontend/utility.py
  paddlespeech/s2t/io/sampler.py
  paddlespeech/s2t/models/ds2/deepspeech2.py
  paddlespeech/s2t/transform/perturb.py
  paddlespeech/t2s/exps/tacotron2/ljspeech.py
  paddlespeech/t2s/modules/transformer/repeat.py
  utils/manifest_key_value.py
Due: auto add label=S2T, auto add label=T2S, auto add label=Example, auto add label=README

fix release model
  docs/source/released_model.md
Due: auto add label=Documentation

fix release model (#1106)
  docs/source/released_model.md
Due: auto add label=Documentation

Update README.md
  demos/speech_translation/README.md
Due: auto add label=Demo, auto add label=README

Update README.md
  paddlespeech/cli/README.md
Due: auto add label=README

add conformer demos
  docs/source/tts/demo.rst
  paddlespeech/t2s/frontend/zh_frontend.py
Due: auto add label=T2S, auto add label=Documentation

update voc name
  paddlespeech/cli/tts/infer.py
Due: none

Rename READEME.md to README.md
  examples/aishell/asr1/README.md
Due: auto add label=Example, auto add label=README

add conformer demos (#1108)
  docs/source/tts/demo.rst
  paddlespeech/t2s/frontend/zh_frontend.py
Due: auto add label=T2S, auto add label=Documentation

clear the u2 decode config
  paddlespeech/cli/asr/infer.py
  paddlespeech/s2t/exps/u2/bin/test_wav.py
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/exps/u2_kaldi/model.py
  paddlespeech/s2t/frontend/featurizer/text_featurizer.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/transform/cmvn.py
Due: auto add label=S2T

add HF badge
  README.md
Due: auto add label=README

update am name
  paddlespeech/cli/tts/infer.py
Due: none

move badge
  README.md
Due: auto add label=README

add back link
  README.md
Due: auto add label=README

changes
  README.md
Due: auto add label=README

add eval() for inference model
  paddlespeech/cli/tts/infer.py
Due: none

add eval() for inference model (#1114)
  paddlespeech/cli/tts/infer.py
Due: none

[DOCS] Correct the grammar and spelling mistakes of install.md
  docs/source/install.md
Due: auto add label=Documentation
