Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

deepspeech2 modify for kunlun
  paddlespeech/s2t/exps/deepspeech2/bin/export.py
  paddlespeech/s2t/exps/deepspeech2/bin/test.py
  paddlespeech/s2t/exps/deepspeech2/bin/test_export.py
  paddlespeech/s2t/exps/deepspeech2/bin/train.py
  paddlespeech/s2t/training/trainer.py
Due: auto add label=S2T

deepspeech2 modify for kunlun
  paddlespeech/s2t/exps/deepspeech2/bin/export.py
  paddlespeech/s2t/exps/deepspeech2/bin/test.py
  paddlespeech/s2t/exps/deepspeech2/bin/test_export.py
  paddlespeech/s2t/exps/deepspeech2/bin/train.py
Due: auto add label=S2T

remove size,test=asr
  paddlespeech/s2t/__init__.py
  paddlespeech/s2t/decoders/beam_search/beam_search.py
  paddlespeech/s2t/decoders/scorers/ctc.py
  paddlespeech/s2t/decoders/scorers/ctc_prefix_score.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/decoder.py
  paddlespeech/s2t/modules/embedding.py
  paddlespeech/s2t/utils/tensor_utils.py
Due: auto add label=S2T

fix
  paddlespeech/s2t/__init__.py
  paddlespeech/s2t/models/lm/transformer.py
  paddlespeech/s2t/modules/encoder.py
Due: auto add label=S2T

[vec][doc] update der result, test=doc
  examples/ami/sd0/README.md
Due: auto add label=Example, auto add label=README

tensor.shape => paddle.shape(tensor)
  paddlespeech/s2t/__init__.py
  paddlespeech/s2t/decoders/beam_search/beam_search.py
  paddlespeech/s2t/decoders/scorers/ctc.py
  paddlespeech/s2t/decoders/scorers/ctc_prefix_score.py
  paddlespeech/s2t/models/lm/transformer.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/decoder.py
  paddlespeech/s2t/modules/embedding.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/utils/tensor_utils.py
Due: auto add label=S2T

update the vector model, test=doc
  demos/audio_content_search/requirements.txt
  demos/audio_content_search/streaming_asr_server.py
  demos/speaker_verification/README.md
  demos/speaker_verification/README_cn.md
  docs/source/released_model.md
  examples/voxceleb/sv0/README.md
  examples/voxceleb/sv0/RESULT.md
  examples/voxceleb/sv0/conf/ecapa_tdnn.yaml
  examples/voxceleb/sv0/conf/ecapa_tdnn_small.yaml
  paddlespeech/cli/vector/pretrained_models.py
  paddlespeech/server/engine/acs/python/acs_engine.py
  paddlespeech/server/tests/vector/http_client.py
Due: auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation

update the vector readme, test=doc
  demos/speaker_verification/README.md
  demos/speaker_verification/README_cn.md
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  paddlespeech/server/tests/vector/http_client.py
Due: auto add label=Server, auto add label=Demo, auto add label=README

update the acs note, test=doc
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/engine/acs/python/acs_engine.py
Due: auto add label=Server

update tts engine, test=doc
  demos/speech_server/start_multi_progress_server.py
  paddlespeech/server/engine/engine_pool.py
  paddlespeech/server/engine/tts/paddleinference/pretrained_models.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/tts_engine.py
  paddlespeech/server/restful/tts_api.py
Due: auto add label=Server, auto add label=Demo

fix the vector model type error, test=doc
  demos/audio_content_search/conf/acs_application.yaml
  docs/source/released_model.md
  paddlespeech/server/engine/acs/python/acs_engine.py
Due: auto add label=Server, auto add label=Demo, auto add label=Documentation

remove old vector model info, test=doc
  demos/audio_content_search/README.md
  demos/audio_content_search/README_cn.md
  demos/speech_server/README_cn.md
  examples/voxceleb/sv0/RESULT.md
Due: auto add label=Example, auto add label=Demo, auto add label=README

fix streaming asr
  demos/streaming_asr_server/conf/ws_conformer_application.yaml
  demos/streaming_asr_server/conf/ws_ds2_application.yaml
  paddlespeech/server/engine/asr/online/asr_engine.py
Due: auto add label=Server, auto add label=Demo

add VITS readme, test=tts
  examples/aishell3/tts3/README.md
  examples/aishell3/voc1/README.md
  examples/aishell3/voc5/README.md
  examples/csmsc/tts0/README.md
  examples/csmsc/tts2/README.md
  examples/csmsc/tts3/README.md
  examples/csmsc/tts3/README_cn.md
  examples/csmsc/vits/README.md
  examples/csmsc/voc1/README.md
  examples/csmsc/voc3/README.md
  examples/csmsc/voc4/README.md
  examples/csmsc/voc5/README.md
  examples/csmsc/voc6/README.md
  examples/ljspeech/tts0/README.md
  examples/ljspeech/tts1/README.md
  examples/ljspeech/tts3/README.md
  examples/ljspeech/voc1/README.md
  examples/ljspeech/voc5/README.md
  examples/vctk/tts3/README.md
  examples/vctk/voc1/README.md
  examples/vctk/voc5/README.md
  paddlespeech/t2s/exps/gan_vocoder/hifigan/train.py
  paddlespeech/t2s/exps/gan_vocoder/multi_band_melgan/train.py
  paddlespeech/t2s/exps/gan_vocoder/parallelwave_gan/train.py
  paddlespeech/t2s/exps/gan_vocoder/style_melgan/train.py
  paddlespeech/t2s/exps/transformer_tts/train.py
  paddlespeech/t2s/exps/vits/train.py
  paddlespeech/t2s/exps/wavernn/train.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

refactor example dir & add aishell build TLG
  speechx/examples/dev/CMakeLists.txt
  speechx/examples/dev/glog/CMakeLists.txt
  speechx/examples/dev/glog/README.md
  speechx/examples/dev/glog/glog_logtostderr_test.cc
  speechx/examples/dev/glog/glog_test.cc
  speechx/examples/dev/glog/path.sh
  speechx/examples/dev/glog/run.sh
  speechx/examples/ds2_ol/aishell/README.md
  speechx/examples/ds2_ol/aishell/local/aishell_train_lms.sh
  speechx/examples/ds2_ol/aishell/local/text_to_lexicon.py
  speechx/examples/ds2_ol/aishell/path.sh
  speechx/examples/ds2_ol/aishell/run_build_tlg.sh
  speechx/examples/ds2_ol/aishell/run_fbank.sh
  speechx/examples/ngram/.gitignore
  speechx/examples/ngram/en/README.md
  speechx/examples/ngram/zh/README.md
  speechx/examples/ngram/zh/local/split_data.sh
  speechx/examples/ngram/zh/path.sh
  speechx/examples/ngram/zh/run.sh
  speechx/examples/ngram/zh/utils
  speechx/examples/wfst/.gitignore
  speechx/examples/wfst/README.md
  speechx/examples/wfst/path.sh
  speechx/examples/wfst/run.sh
  speechx/examples/wfst/utils
Due: auto add label=README, auto add label=Deployment

mv text_to_lexicon.py to utils
  speechx/examples/ds2_ol/aishell/run_build_tlg.sh
  utils/text_to_lexicon.py
Due: auto add label=Deployment

Dynamic cli commands registration.
  paddlespeech/cli/__init__.py
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/base_commands.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/entry.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/text/infer.py
  paddlespeech/cli/tts/infer.py
  paddlespeech/cli/utils.py
  paddlespeech/cli/vector/infer.py
Due: auto add label=CLI

Update README.md
  README.md
Due: auto add label=README

Update README_cn.md
  README_cn.md
Due: none

fix test_cli, test=doc
  tests/unit/cli/test_cli.sh
Due: auto add label=Test

Update usage and doc of cli executor.
  demos/audio_searching/src/encode.py
  demos/audio_tagging/README.md
  demos/audio_tagging/README_cn.md
  demos/automatic_video_subtitiles/README.md
  demos/automatic_video_subtitiles/README_cn.md
  demos/automatic_video_subtitiles/recognize.py
  demos/punctuation_restoration/README.md
  demos/punctuation_restoration/README_cn.md
  demos/speaker_verification/README.md
  demos/speaker_verification/README_cn.md
  demos/speech_recognition/README.md
  demos/speech_recognition/README_cn.md
  demos/speech_translation/README.md
  demos/speech_translation/README_cn.md
  demos/text_to_speech/README.md
  demos/text_to_speech/README_cn.md
Due: auto add label=Demo, auto add label=README

Add kws tipc.
  tests/test_tipc/configs/mdtc/train_infer_python.txt
  tests/test_tipc/prepare.sh
Due: auto add label=Test

Improve readability
  demos/README.md
  speechx/README.md
  third_party/README.md
  third_party/ctc_decoders/LICENSE
Due: auto add label=Demo, auto add label=README, auto add label=Deployment

fix speechx compile error
  speechx/examples/CMakeLists.txt
Due: auto add label=Deployment

more detail of copyright
  examples/wenetspeech/asr1/local/extract_meta.py
  paddlespeech/kws/exps/mdtc/compute_det.py
  paddlespeech/kws/exps/mdtc/plot_det_curve.py
  paddlespeech/kws/exps/mdtc/score.py
  paddlespeech/kws/models/loss.py
  paddlespeech/kws/models/mdtc.py
  paddlespeech/s2t/io/dataset.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/models/u2/updater.py
  paddlespeech/s2t/utils/ctc_utils.py
  paddlespeech/s2t/utils/text_grid.py
  utils/compute-wer.py
Due: auto add label=S2T, auto add label=Example

2022 year for default copyright
  .pre-commit-hooks/copyright-check.hook
Due: none

rm ds2_ol test dir
  speechx/examples/README.md
  speechx/examples/ds2_ol/CMakeLists.txt
  speechx/examples/ds2_ol/aishell/run_build_tlg.sh
  speechx/examples/ds2_ol/aishell/run_fbank.sh
  speechx/examples/ds2_ol/decoder/.gitignore
  speechx/examples/ds2_ol/decoder/CMakeLists.txt
  speechx/examples/ds2_ol/decoder/README.md
  speechx/examples/ds2_ol/decoder/ctc-prefix-beam-search-decoder-ol.cc
  speechx/examples/ds2_ol/decoder/local/model.sh
  speechx/examples/ds2_ol/decoder/nnet-logprob-decoder-test.cc
  speechx/examples/ds2_ol/decoder/path.sh
  speechx/examples/ds2_ol/decoder/recognizer_test_main.cc
  speechx/examples/ds2_ol/decoder/run.sh
  speechx/examples/ds2_ol/decoder/valgrind.sh
  speechx/examples/ds2_ol/decoder/wfst-decoder-ol.cc
  speechx/examples/ds2_ol/feat/.gitignore
  speechx/examples/ds2_ol/feat/CMakeLists.txt
  speechx/examples/ds2_ol/feat/README.md
  speechx/examples/ds2_ol/feat/cmvn-json2kaldi.cc
  speechx/examples/ds2_ol/feat/compute_fbank_main.cc
  speechx/examples/ds2_ol/feat/linear-spectrogram-wo-db-norm-ol.cc
  speechx/examples/ds2_ol/feat/path.sh
  speechx/examples/ds2_ol/feat/run.sh
  speechx/examples/ds2_ol/feat/valgrind.sh
  speechx/examples/ds2_ol/nnet/.gitignore
  speechx/examples/ds2_ol/nnet/CMakeLists.txt
  speechx/examples/ds2_ol/nnet/README.md
  speechx/examples/ds2_ol/nnet/ds2-model-ol-test.cc
  speechx/examples/ds2_ol/nnet/path.sh
  speechx/examples/ds2_ol/nnet/run.sh
  speechx/examples/ds2_ol/nnet/valgrind.sh
  utils/README.md
Due: auto add label=README, auto add label=Deployment

fix frontend/audio/cmakelist
  speechx/speechx/frontend/audio/CMakeLists.txt
Due: auto add label=Deployment

add partial result
  speechx/examples/ds2_ol/websocket/websocket_server.sh
  speechx/speechx/decoder/ctc_tlg_decoder.cc
  speechx/speechx/decoder/ctc_tlg_decoder.h
  speechx/speechx/decoder/recognizer.cc
  speechx/speechx/decoder/recognizer.h
  speechx/speechx/websocket/websocket_client.cc
  speechx/speechx/websocket/websocket_client.h
  speechx/speechx/websocket/websocket_client_main.cc
  speechx/speechx/websocket/websocket_server.cc
  speechx/speechx/websocket/websocket_server.h
Due: auto add label=Deployment

fix websocket key, mv websocket into protocol, test=doc
  speechx/examples/ds2_ol/websocket/path.sh
  speechx/speechx/CMakeLists.txt
  speechx/speechx/protocol/CMakeLists.txt
  speechx/speechx/protocol/websocket/CMakeLists.txt
  speechx/speechx/protocol/websocket/websocket_client.cc
  speechx/speechx/protocol/websocket/websocket_client.h
  speechx/speechx/protocol/websocket/websocket_client_main.cc
  speechx/speechx/protocol/websocket/websocket_server.cc
  speechx/speechx/protocol/websocket/websocket_server.h
  speechx/speechx/protocol/websocket/websocket_server_main.cc
Due: auto add label=Deployment

deprecate the 1.8x model, test=doc
  docs/source/released_model.md
  examples/other/1xt2x/.gitignore
  examples/other/1xt2x/README.md
  examples/other/1xt2x/aishell/.gitignore
  examples/other/1xt2x/aishell/conf/augmentation.json
  examples/other/1xt2x/aishell/conf/deepspeech2.yaml
  examples/other/1xt2x/aishell/conf/tuning/decode.yaml
  examples/other/1xt2x/aishell/local/data.sh
  examples/other/1xt2x/aishell/local/download_lm_ch.sh
  examples/other/1xt2x/aishell/local/download_model.sh
  examples/other/1xt2x/aishell/local/test.sh
  examples/other/1xt2x/aishell/path.sh
  examples/other/1xt2x/aishell/run.sh
  examples/other/1xt2x/baidu_en8k/.gitignore
  examples/other/1xt2x/baidu_en8k/conf/augmentation.json
  examples/other/1xt2x/baidu_en8k/conf/deepspeech2.yaml
  examples/other/1xt2x/baidu_en8k/conf/tuning/decode.yaml
  examples/other/1xt2x/baidu_en8k/local/data.sh
  examples/other/1xt2x/baidu_en8k/local/download_lm_en.sh
  examples/other/1xt2x/baidu_en8k/local/download_model.sh
  examples/other/1xt2x/baidu_en8k/local/test.sh
  examples/other/1xt2x/baidu_en8k/path.sh
  examples/other/1xt2x/baidu_en8k/run.sh
  examples/other/1xt2x/librispeech/.gitignore
  examples/other/1xt2x/librispeech/conf/augmentation.json
  examples/other/1xt2x/librispeech/conf/deepspeech2.yaml
  examples/other/1xt2x/librispeech/conf/tuning/decode.yaml
  examples/other/1xt2x/librispeech/local/data.sh
  examples/other/1xt2x/librispeech/local/download_lm_en.sh
  examples/other/1xt2x/librispeech/local/download_model.sh
  examples/other/1xt2x/librispeech/local/test.sh
  examples/other/1xt2x/librispeech/path.sh
  examples/other/1xt2x/librispeech/run.sh
  examples/other/1xt2x/src_deepspeech2x/__init__.py
  examples/other/1xt2x/src_deepspeech2x/bin/test.py
  examples/other/1xt2x/src_deepspeech2x/models/__init__.py
  examples/other/1xt2x/src_deepspeech2x/models/ds2/__init__.py
  examples/other/1xt2x/src_deepspeech2x/models/ds2/deepspeech2.py
  examples/other/1xt2x/src_deepspeech2x/models/ds2/rnn.py
  examples/other/1xt2x/src_deepspeech2x/test_model.py
Due: auto add label=Example, auto add label=README, auto add label=Documentation

fix the pathos==0.2.8, test=doc
  audio/setup.py
Due: none

Update __init__.py
  audio/paddleaudio/metric/__init__.py
Due: none

Delete dtw.py
  audio/paddleaudio/metric/dtw.py
Due: none

Update setup.py
  audio/setup.py
Due: none

fix setup.py
  audio/setup.py
Due: none

update version
  audio/setup.py
Due: none
