Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

add ubuntu cpu dockerfile, test=doc
  docker/ubuntu18-cpu/Dockerfile
Due: auto add label=Docker

fix bug in tts cli, test=tts
  paddlespeech/cli/tts/infer.py
Due: auto add label=CLI

Add paddlespeech.resource.
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/asr/pretrained_models.py
  paddlespeech/cli/base_commands.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/cls/pretrained_models.py
  paddlespeech/cli/executor.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/st/pretrained_models.py
  paddlespeech/cli/stats/infer.py
  paddlespeech/cli/text/infer.py
  paddlespeech/cli/text/pretrained_models.py
  paddlespeech/cli/tts/infer.py
  paddlespeech/cli/tts/pretrained_models.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/cli/vector/pretrained_models.py
  paddlespeech/resource/__init__.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/resource/resource.py
  paddlespeech/server/bin/paddlespeech_server.py
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/engine/asr/online/pretrained_models.py
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/paddleinference/pretrained_models.py
  paddlespeech/server/engine/cls/paddleinference/cls_engine.py
  paddlespeech/server/engine/cls/paddleinference/pretrained_models.py
  paddlespeech/server/engine/tts/online/onnx/pretrained_models.py
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
  paddlespeech/server/engine/tts/online/python/pretrained_models.py
  paddlespeech/server/engine/tts/online/python/tts_engine.py
  paddlespeech/server/engine/tts/paddleinference/pretrained_models.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
Due: auto add label=CLI, auto add label=Server

Add paddlespeech.resource.
  paddlespeech/resource/model_alias.py
Due: none

Add paddlespeech.resource.
  paddlespeech/cli/asr/infer.py
Due: auto add label=CLI

Add paddlespeech.resource.
  paddlespeech/cli/vector/infer.py
Due: auto add label=CLI

Add paddlespeech.resource.
  paddlespeech/resource/pretrained_models.py
Due: none

gen lexicon with tone in mfa, test=tts
  examples/other/mfa/local/reorganize_baker.py
  examples/other/mfa/run.sh
Due: auto add label=Example

update engine, test=doc
  demos/speech_server/start_multi_progress_server.py
  paddlespeech/server/bin/paddlespeech_server.py
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/python/asr_engine.py
  paddlespeech/server/engine/cls/paddleinference/cls_engine.py
  paddlespeech/server/engine/cls/python/cls_engine.py
  paddlespeech/server/engine/engine_warmup.py
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
  paddlespeech/server/engine/tts/online/python/tts_engine.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/tts_engine.py
  paddlespeech/server/restful/asr_api.py
  paddlespeech/server/restful/cls_api.py
  paddlespeech/server/restful/tts_api.py
  paddlespeech/server/ws/tts_api.py
Due: auto add label=Server, auto add label=Demo

add dispenser in frontend
  speechx/speechx/decoder/param.h
  speechx/speechx/frontend/audio/CMakeLists.txt
  speechx/speechx/frontend/audio/compute_fbank_main.cc
  speechx/speechx/frontend/audio/compute_linear_spectrogram_main.cc
  speechx/speechx/frontend/audio/dispenser.cc
  speechx/speechx/frontend/audio/dispenser.h
  speechx/speechx/frontend/audio/feature_cache.cc
  speechx/speechx/frontend/audio/feature_pipeline.cc
  speechx/speechx/frontend/audio/feature_pipeline.h
Due: auto add label=Deployment

not install ctc on win, test=asr
  paddlespeech/s2t/models/ds2/__init__.py
  paddlespeech/s2t/models/ds2_online/__init__.py
  paddlespeech/s2t/modules/ctc.py
  paddlespeech/s2t/transform/perturb.py
Due: auto add label=S2T

rename, test=doc
  speechx/speechx/decoder/param.h
  speechx/speechx/frontend/audio/CMakeLists.txt
  speechx/speechx/frontend/audio/assembler.cc
  speechx/speechx/frontend/audio/assembler.h
  speechx/speechx/frontend/audio/feature_pipeline.cc
  speechx/speechx/frontend/audio/feature_pipeline.h
Due: auto add label=Deployment

fix ljspeech readme, test=doc
  examples/ljspeech/tts3/README.md
Due: auto add label=Example, auto add label=README

Fix asr_inference server engine.
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
Due: auto add label=Server

refactor ds2, cli, server
  examples/aishell/asr0/conf/deepspeech2.yaml
  examples/aishell/asr0/conf/deepspeech2_online.yaml
  examples/aishell/asr0/conf/tuning/decode.yaml
  examples/aishell/asr0/local/data.sh
  examples/aishell/asr0/run.sh
  examples/librispeech/asr0/conf/deepspeech2.yaml
  examples/librispeech/asr0/conf/deepspeech2_online.yaml
  examples/librispeech/asr0/local/data.sh
  examples/librispeech/asr0/local/test.sh
  examples/librispeech/asr0/run.sh
  paddlespeech/cli/asr/infer.py
  paddlespeech/resource/model_alias.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/s2t/exps/deepspeech2/bin/export.py
  paddlespeech/s2t/exps/deepspeech2/bin/test.py
  paddlespeech/s2t/exps/deepspeech2/bin/test_export.py
  paddlespeech/s2t/exps/deepspeech2/bin/test_wav.py
  paddlespeech/s2t/exps/deepspeech2/bin/train.py
  paddlespeech/s2t/exps/deepspeech2/model.py
  paddlespeech/s2t/models/ds2/conv.py
  paddlespeech/s2t/models/ds2/deepspeech2.py
  paddlespeech/s2t/models/ds2/rnn.py
  paddlespeech/s2t/models/ds2_online/__init__.py
  paddlespeech/s2t/models/ds2_online/conv.py
  paddlespeech/s2t/models/ds2_online/deepspeech2.py
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
Due: auto add label=S2T, auto add label=Example, auto add label=CLI, auto add label=Server

Fix windows issue in paddlespeech.resource
  paddlespeech/resource/resource.py
Due: none

reneame chunk to block in streaming tts, test=tts
  paddlespeech/t2s/exps/inference_streaming.py
  paddlespeech/t2s/exps/ort_predict_streaming.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/synthesize_streaming.py
Due: auto add label=T2S

Fix server issues.
  paddlespeech/resource/resource.py
Due: none

fix tiny and local script, test=asr
  examples/aishell/asr0/local/export.sh
  examples/aishell/asr0/local/test.sh
  examples/aishell/asr0/local/test_export.sh
  examples/aishell/asr0/local/test_wav.sh
  examples/aishell/asr0/local/train.sh
  examples/aishell/asr0/run.sh
  examples/librispeech/asr0/local/export.sh
  examples/librispeech/asr0/local/test.sh
  examples/librispeech/asr0/local/test_wav.sh
  examples/librispeech/asr0/local/train.sh
  examples/librispeech/asr0/run.sh
  examples/tiny/asr0/conf/augmentation.json
  examples/tiny/asr0/conf/deepspeech2.yaml
  examples/tiny/asr0/conf/deepspeech2_online.yaml
  examples/tiny/asr0/local/export.sh
  examples/tiny/asr0/local/test.sh
  examples/tiny/asr0/local/train.sh
  examples/tiny/asr0/run.sh
  paddlespeech/s2t/exps/deepspeech2/model.py
Due: auto add label=S2T, auto add label=Example

update the dockerfile, test=doc
  docker/ubuntu18-cpu/Dockerfile
Due: auto add label=Docker

Fix tts_online server issue. test=doc
  paddlespeech/server/engine/tts/online/python/tts_engine.py
Due: auto add label=Server

add preprocess.yaml
  examples/aishell/asr0/conf/augmentation.json
  examples/aishell/asr0/conf/preprocess.yaml
  examples/librispeech/asr0/conf/augmentation.json
  examples/librispeech/asr0/conf/preprocess.yaml
  examples/tiny/asr0/conf/preprocess.yaml
Due: auto add label=Example

refactor frontend
  speechx/speechx/decoder/param.h
  speechx/speechx/frontend/audio/audio_cache.h
  speechx/speechx/frontend/audio/compute_fbank_main.cc
  speechx/speechx/frontend/audio/compute_linear_spectrogram_main.cc
  speechx/speechx/frontend/audio/fbank.cc
  speechx/speechx/frontend/audio/fbank.h
  speechx/speechx/frontend/audio/feature_common.h
  speechx/speechx/frontend/audio/feature_common_inl.h
  speechx/speechx/frontend/audio/feature_pipeline.h
  speechx/speechx/frontend/audio/linear_spectrogram.cc
  speechx/speechx/frontend/audio/linear_spectrogram.h
Due: auto add label=Deployment

remove streaming opt, test=doc
  speechx/examples/custom_asr/run.sh
  speechx/examples/ds2_ol/aishell/run.sh
  speechx/examples/ds2_ol/aishell/run_fbank.sh
  speechx/examples/ds2_ol/websocket/websocket_client.sh
  speechx/examples/ds2_ol/websocket/websocket_server.sh
  speechx/speechx/decoder/param.h
  speechx/speechx/decoder/recognizer_main.cc
Due: auto add label=Deployment

format
  speechx/speechx/frontend/audio/fbank.h
  speechx/speechx/frontend/audio/linear_spectrogram.h
Due: auto add label=Deployment

add streaming chunk,test=doc
  speechx/examples/ds2_ol/websocket/websocket_client.sh
  speechx/speechx/decoder/recognizer_main.cc
Due: auto add label=Deployment

fix comment
  speechx/speechx/frontend/audio/audio_cache.h
  speechx/speechx/frontend/audio/feature_common.h
  speechx/speechx/frontend/audio/feature_common_inl.h
Due: auto add label=Deployment

fix speechx; rm simdjson; test=doc
  speechx/CMakeLists.txt
  speechx/speechx/utils/CMakeLists.txt
  speechx/speechx/utils/simdjson.cpp
  speechx/speechx/utils/simdjson.h
Due: auto add label=Deployment

fix speech ws example, test=doc
  demos/streaming_asr_server/web/templates/index.html
  speechx/examples/ds2_ol/aishell/path.sh
  speechx/examples/ds2_ol/websocket/path.sh
  speechx/examples/ds2_ol/websocket/websocket_server.sh
Due: auto add label=Demo, auto add label=Deployment

update readme
  speechx/examples/ds2_ol/README.md
Due: auto add label=README, auto add label=Deployment

fix hifigan pad value
  demos/streaming_tts_server/README.md
  demos/streaming_tts_server/README_cn.md
  demos/streaming_tts_server/conf/tts_online_application.yaml
  paddlespeech/server/conf/tts_online_application.yaml
  tests/unit/server/online/tts/check_server/test.sh
Due: auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Test

add nnet_decoder_chunk opt
  speechx/speechx/decoder/param.h
  speechx/speechx/decoder/tlg_decoder_main.cc
  speechx/speechx/frontend/audio/assembler.cc
  speechx/speechx/frontend/audio/assembler.h
  speechx/speechx/nnet/CMakeLists.txt
  speechx/speechx/nnet/nnet_forward_main.cc
Due: auto add label=Deployment

add opt in script,test=doc
  speechx/examples/ds2_ol/aishell/run.sh
  speechx/examples/ds2_ol/aishell/run_fbank.sh
Due: auto add label=Deployment

fix comment, test=doc
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder_main.cc
  speechx/speechx/decoder/param.h
  speechx/speechx/decoder/tlg_decoder_main.cc
  speechx/speechx/nnet/nnet_forward_main.cc
Due: auto add label=Deployment

refactor asr online server
  .pre-commit-config.yaml
  demos/streaming_asr_server/server.sh
  demos/streaming_asr_server/test.sh
  paddlespeech/__init__.py
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/engine/asr/online/ctc_endpoint.py
  paddlespeech/server/engine/asr/online/ctc_search.py
Due: auto add label=Server, auto add label=Demo

ctc endpoint work
  demos/streaming_asr_server/conf/application.yaml
  demos/streaming_asr_server/conf/ws_conformer_application.yaml
  demos/streaming_asr_server/conf/ws_conformer_wenetspeech_application.yaml
  paddlespeech/server/conf/ws_application.yaml
  paddlespeech/server/conf/ws_conformer_application.yaml
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/engine/asr/online/ctc_endpoint.py
  paddlespeech/server/ws/asr_api.py
Due: auto add label=Server, auto add label=Demo

update ds2 offline aishell librispeech,test=doc
  docs/source/released_model.md
Due: auto add label=Documentation

test=doc
  examples/aishell/asr0/RESULTS.md
Due: auto add label=Example

test=doc
  examples/librispeech/asr0/RESULTS.md
Due: auto add label=Example

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
