Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=TextProcess, auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^audio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=TextProcess"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["TextProcess"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^docs/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechnn/
    actions:
      label:
        add: ["Deployment"]

format
  examples/other/g2p/get_g2p_data.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/t2s/exps/gan_vocoder/hifigan/train.py
  tools/release_note.py
Due: auto add label=S2T, auto add label=T2S, auto add label=Example, auto add label=Installation

update hifigan readme, test=doc_fix
  docs/source/released_model.md
  examples/csmsc/tts3/README.md
  examples/csmsc/voc1/README.md
  examples/csmsc/voc3/README.md
  examples/csmsc/voc4/README.md
  examples/csmsc/voc5/README.md
Due: auto add label=Example, auto add label=README, auto add label=Documentation

update hifigan readme, test=doc_fix
  README.md
  README_cn.md
  examples/csmsc/voc5/README.md
Due: auto add label=Example, auto add label=README

install.md,test=doc_fix
  docs/source/install.md
  docs/source/install_cn.md
Due: auto add label=Documentation

test=doc_fix
  demos/audio_tagging/README.md
Due: auto add label=Demo, auto add label=README

test=doc_fix
  demos/audio_tagging/README_cn.md
Due: auto add label=Demo

Update README_cn.md
  demos/automatic_video_subtitiles/README_cn.md
Due: auto add label=Demo

Update README_cn.md
  demos/punctuation_restoration/README_cn.md
Due: auto add label=Demo

Update README_cn.md
  demos/speech_translation/README_cn.md
Due: auto add label=Demo

Update README_cn.md
  demos/text_to_speech/README_cn.md
Due: auto add label=Demo

Update README.md
  demos/automatic_video_subtitiles/README.md
Due: auto add label=Demo, auto add label=README

Update README.md
  demos/punctuation_restoration/README.md
Due: auto add label=Demo, auto add label=README

Update README.md
  demos/speech_recognition/README.md
Due: auto add label=Demo, auto add label=README

Update README.md
  demos/speech_translation/README.md
Due: auto add label=Demo, auto add label=README

test=doc_fix
  demos/text_to_speech/README.md
Due: auto add label=Demo, auto add label=README

test=doc_fix
  README.md
Due: auto add label=README

test=doc_fix
  README_cn.md
Due: none

update readme, test=doc_fix
  demos/audio_tagging/README.md
  demos/audio_tagging/README_cn.md
  demos/automatic_video_subtitiles/README.md
  demos/automatic_video_subtitiles/README_cn.md
  demos/punctuation_restoration/README.md
  demos/punctuation_restoration/README_cn.md
  demos/speech_recognition/README.md
  demos/speech_recognition/README_cn.md
  demos/speech_translation/README.md
  demos/speech_translation/README_cn.md
  demos/text_to_speech/README.md
  demos/text_to_speech/README_cn.md
  examples/csmsc/tts2/local/synthesize_e2e.sh
  examples/csmsc/tts3/local/synthesize_e2e.sh
Due: auto add label=Example, auto add label=Demo, auto add label=README

test=doc_fix
  demos/speech_recognition/README.md
Due: auto add label=Demo, auto add label=README

test=doc
  demos/speech_recognition/README_cn.md
Due: auto add label=Demo

Update README_cn.md
  demos/speech_recognition/README_cn.md
Due: auto add label=Demo

[asr] logfbank with dither (#1179)
  examples/aishell/asr1/conf/conformer.yaml
  examples/aishell/asr1/conf/preprocess.yaml
  examples/aishell/asr1/conf/transformer.yaml
  examples/callcenter/asr1/conf/preprocess.yaml
  examples/librispeech/asr1/conf/preprocess.yaml
  examples/other/g2p/get_g2p_data.py
  examples/timit/asr1/conf/preprocess.yaml
  examples/tiny/asr1/conf/preprocess.yaml
  examples/wenetspeech/asr1/conf/preprocess.yaml
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/transform/spectrogram.py
  paddlespeech/t2s/exps/gan_vocoder/hifigan/train.py
  tools/release_note.py
Due: auto add label=S2T, auto add label=T2S, auto add label=Example, auto add label=Installation

Update README.md
  examples/aishell3/README.md
Due: auto add label=Example, auto add label=README

clean aishell asr1 conf & compare ctc loss with torch and warpctc_pytorch
  .gitignore
  docs/topic/ctc/ctc_loss_compare.ipynb
  examples/aishell/asr1/RESULTS.md
  examples/aishell/asr1/conf/chunk_conformer.yaml
  examples/aishell/asr1/conf/conformer.yaml
  examples/aishell/asr1/conf/transformer.yaml
  paddlespeech/s2t/exps/u2/model.py
Due: auto add label=S2T, auto add label=Example, auto add label=Documentation

Update released_model.md
  docs/source/released_model.md
Due: auto add label=Documentation

Update released_model.md (#1192)
  docs/source/released_model.md
Due: auto add label=Documentation

Updata README of punc example. test=doc_fix
  examples/iwslt2012/punc0/README.md
  examples/iwslt2012/punc0/conf/ernie_linear.yaml
Due: auto add label=Example, auto add label=README

clean aishell asr1 conf & compare ctc loss with torch and warpctc_pytorch (#1191)
  .gitignore
  docs/topic/ctc/ctc_loss_compare.ipynb
  examples/aishell/asr1/RESULTS.md
  examples/aishell/asr1/conf/chunk_conformer.yaml
  examples/aishell/asr1/conf/conformer.yaml
  examples/aishell/asr1/conf/transformer.yaml
  paddlespeech/s2t/exps/u2/model.py
Due: auto add label=S2T, auto add label=Example, auto add label=Documentation

add version
  paddleaudio/__init__.py
Due: none

Add speaker embedding and speaker id for style fastspeech2 inference
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
Due: auto add label=T2S

[Doc]improve install.md,test=doc_fix
  docs/source/install.md
Due: auto add label=Documentation

test=doc_fix
  docs/source/install_cn.md
Due: auto add label=Documentation

[Doc]improve install.md,test=doc_fix (#1200)
  docs/source/install.md
  docs/source/install_cn.md
Due: auto add label=Documentation

update readme, test=doc_fix
  README.md
  README_cn.md
Due: auto add label=README

Update examples/esc50.
  docs/source/cls/custom_dataset.md
  examples/esc50/README.md
  examples/esc50/cls0/conf/panns.yaml
  examples/esc50/cls0/local/export.sh
  examples/esc50/cls0/local/infer.sh
  examples/esc50/cls0/local/train.sh
  examples/esc50/cls0/run.sh
  paddleaudio/datasets/dataset.py
  paddlespeech/cls/exps/panns/predict.py
  paddlespeech/cls/exps/panns/train.py
Due: auto add label=Example, auto add label=README, auto add label=Documentation

Update examples/esc50. (#1203)
  docs/source/cls/custom_dataset.md
  examples/esc50/README.md
  examples/esc50/cls0/conf/panns.yaml
  examples/esc50/cls0/local/export.sh
  examples/esc50/cls0/local/infer.sh
  examples/esc50/cls0/local/train.sh
  examples/esc50/cls0/run.sh
  paddleaudio/datasets/dataset.py
  paddlespeech/cls/exps/panns/predict.py
  paddlespeech/cls/exps/panns/train.py
Due: auto add label=Example, auto add label=README, auto add label=Documentation

update readme, test=doc_fix (#1202)
  README.md
  README_cn.md
Due: auto add label=README

Update docs/source/cls/custom_dataset.md, test=doc_fix
  docs/source/cls/custom_dataset.md
  setup_audio.py
Due: auto add label=Documentation
