Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

cpplint
  .pre-commit-config.yaml
  speechx/speechx/base/basic_types.h
  speechx/speechx/base/macros.h
  speechx/speechx/base/thread_pool.h
  speechx/speechx/codelab/nnet/ds2_model_test_main.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.h
  speechx/speechx/decoder/ctc_beam_search_decoder_main.cc
  speechx/speechx/decoder/ctc_beam_search_opt.h
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder.h
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder_main.cc
  speechx/speechx/decoder/ctc_tlg_decoder.h
  speechx/speechx/frontend/audio/cmvn.cc
  speechx/speechx/frontend/audio/compute_fbank_main.cc
  speechx/speechx/frontend/audio/data_cache.h
  speechx/speechx/frontend/audio/db_norm.cc
  speechx/speechx/frontend/audio/fbank.cc
  speechx/speechx/frontend/audio/feature_pipeline.cc
  speechx/speechx/frontend/audio/linear_spectrogram.cc
  speechx/speechx/frontend/audio/mfcc.cc
  speechx/speechx/nnet/ds2_nnet.cc
  speechx/speechx/nnet/ds2_nnet.h
  speechx/speechx/nnet/ds2_nnet_main.cc
  speechx/speechx/nnet/u2_nnet.cc
  speechx/speechx/nnet/u2_nnet.h
  speechx/speechx/nnet/u2_nnet_main.cc
  speechx/speechx/protocol/websocket/websocket_client_main.cc
  speechx/speechx/recognizer/recognizer.h
  speechx/speechx/recognizer/recognizer_main.cc
  speechx/speechx/recognizer/u2_recognizer.cc
  speechx/speechx/recognizer/u2_recognizer.h
  speechx/speechx/utils/file_utils.cc
Due: auto add label=Deployment

fix cpplint
  speechx/speechx/base/basic_types.h
  speechx/speechx/base/macros.h
Due: auto add label=Deployment

fix format
  speechx/speechx/base/basic_types.h
Due: auto add label=Deployment

Revised structure of rhythm prediction, test=tts
  examples/other/rhy/README.md
  examples/other/rhy/conf/default.yaml
  examples/other/rhy/data/rhy_token
  examples/other/rhy/local/preprocess.py
  examples/other/rhy/local/test.sh
  examples/other/rhy/run.sh
  paddlespeech/text/exps/ernie_linear/test.py
Due: auto add label=Text, auto add label=Example, auto add label=README

more info
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder.cc
  speechx/speechx/recognizer/u2_recognizer_main.cc
Due: auto add label=Deployment

fix rtf compute
  speechx/speechx/recognizer/u2_recognizer_main.cc
Due: auto add label=Deployment

Added Text Rhythm Prediction, test=tts
  examples/other/rhy/README.md
  examples/other/rhy/run.sh
  paddlespeech/text/exps/ernie_linear/test.py
Due: auto add label=Text, auto add label=Example, auto add label=README

Added Rythm Prediction, test=tts
  paddlespeech/text/exps/ernie_linear/test.py
Due: auto add label=Text

Added Rhythm Prediction, test=tts
  paddlespeech/text/exps/ernie_linear/test.py
Due: auto add label=Text

Update README.md
  README.md
Due: auto add label=README

Update README_cn.md
  README_cn.md
Due: none

Update README.md
  examples/other/rhy/README.md
Due: auto add label=Example, auto add label=README

update u2pp latest static graph
  speechx/examples/u2pp_ol/wenetspeech/local/decode.sh
  speechx/examples/u2pp_ol/wenetspeech/local/feat.sh
  speechx/examples/u2pp_ol/wenetspeech/local/nnet.sh
  speechx/examples/u2pp_ol/wenetspeech/local/recognizer.sh
  speechx/examples/u2pp_ol/wenetspeech/run.sh
Due: auto add label=Deployment

add requirement
  speechx/README.md
  speechx/requirement.txt
Due: auto add label=README, auto add label=Deployment

add utils
  speechx/examples/u2pp_ol/wenetspeech/.gitignore
  speechx/examples/u2pp_ol/wenetspeech/utils
Due: auto add label=Deployment

update doc
  speechx/README.md
  speechx/examples/u2pp_ol/wenetspeech/local/recognizer.sh
  speechx/examples/u2pp_ol/wenetspeech/run.sh
Due: auto add label=README, auto add label=Deployment

update result
  speechx/examples/u2pp_ol/wenetspeech/RESULTS.md
Due: auto add label=Deployment

fix cmake
  speechx/CMakeLists.txt
  speechx/README.md
  speechx/build.sh
Due: auto add label=README, auto add label=Deployment

add kws release model
  examples/hey_snips/README.md
Due: auto add label=Example, auto add label=README

imporove scripts
  speechx/examples/u2pp_ol/wenetspeech/local/feat.sh
  speechx/examples/u2pp_ol/wenetspeech/run.sh
Due: auto add label=Deployment

add no_sync to fix Pylayer in DataParallel
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2_updater.py
Due: auto add label=T2S

add kws release model (#2585)
  examples/hey_snips/README.md
Due: auto add label=Example, auto add label=README

add kws model in release model
  README.md
Due: auto add label=README

add quant model and script
  speechx/examples/u2pp_ol/wenetspeech/local/recognizer_quant.sh
  speechx/examples/u2pp_ol/wenetspeech/run.sh
Due: auto add label=Deployment

add profiling timer
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder.cc
  speechx/speechx/frontend/audio/assembler.cc
  speechx/speechx/frontend/audio/audio_cache.cc
  speechx/speechx/frontend/audio/cmvn.cc
  speechx/speechx/frontend/audio/data_cache.h
  speechx/speechx/frontend/audio/feature_cache.cc
  speechx/speechx/frontend/audio/feature_cache.h
  speechx/speechx/frontend/audio/feature_common_inl.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/u2_nnet.cc
  speechx/speechx/recognizer/u2_recognizer.cc
  speechx/speechx/recognizer/u2_recognizer_main.cc
Due: auto add label=Deployment

update install.md
  docs/source/install.md
  docs/source/install_cn.md
Due: auto add label=Documentation

[kws]add kws model in release model (#2587)
  README.md
  README_cn.md
Due: auto add label=README

update install.md (#2590)
  docs/source/install.md
  docs/source/install_cn.md
Due: auto add label=Documentation

using paddleslim 2.4 api
  examples/wenetspeech/asr1/local/quant.sh
  paddlespeech/s2t/exps/u2/bin/quant.py
  setup.py
Due: auto add label=S2T, auto add label=Example, auto add label=Installation

add watermark, test=doc
  tools/watermark.py
Due: auto add label=Installation

wav2vec2 license
  paddlespeech/s2t/exps/wav2vec2/bin/test.py
  paddlespeech/s2t/exps/wav2vec2/bin/test_wav.py
  paddlespeech/s2t/exps/wav2vec2/bin/train.py
  paddlespeech/s2t/exps/wav2vec2/model.py
  paddlespeech/s2t/models/wav2vec2/modules/VanillaNN.py
  paddlespeech/s2t/models/wav2vec2/modules/activations.py
  paddlespeech/s2t/models/wav2vec2/modules/containers.py
  paddlespeech/s2t/models/wav2vec2/modules/linear.py
  paddlespeech/s2t/models/wav2vec2/modules/modeling_outputs.py
  paddlespeech/s2t/models/wav2vec2/modules/modeling_wav2vec2.py
  paddlespeech/s2t/models/wav2vec2/processing/signal_processing.py
  paddlespeech/s2t/models/wav2vec2/processing/speech_augmentation.py
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
Due: auto add label=S2T

update wav2vec2 license
  paddlespeech/s2t/models/wav2vec2/modules/activations.py
Due: auto add label=S2T

update wav2vec2 license
  paddlespeech/s2t/models/wav2vec2/modules/containers.py
  paddlespeech/s2t/models/wav2vec2/modules/linear.py
Due: auto add label=S2T
