Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=TextProcess, auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^audio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=TextProcess"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["TextProcess"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^docs/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechnn/
    actions:
      label:
        add: ["Deployment"]

Update README_cn.md
  README_cn.md
Due: none

add glog gflags gtest openfst&base_types, test=doc
  speechx/CMakeLists.txt
  speechx/speechx/base/basic_types.h
  speechx/speechx/base/macros.h
  speechx/speechx/kaldi/base/kaldi-types.h
Due: none

added engine framework, test=asr
  speechserving/setup.py
  speechserving/speechserving/__init__.py
  speechserving/speechserving/bin/main.py
  speechserving/speechserving/bin/paddlespeech-client.py
  speechserving/speechserving/bin/paddlespeech-server.py
  speechserving/speechserving/conf/application.yaml
  speechserving/speechserving/engine/__init__.py
  speechserving/speechserving/engine/asr/python/asr_engine.py
  speechserving/speechserving/engine/base_engine.py
  speechserving/speechserving/main.py
  speechserving/speechserving/restful/__init__.py
  speechserving/speechserving/restful/api.py
  speechserving/speechserving/restful/asr_api.py
  speechserving/speechserving/restful/request.py
  speechserving/speechserving/restful/response.py
  speechserving/speechserving/restful/tts_api.py
  speechserving/speechserving/utils/__init__.py
  speechserving/speechserving/utils/errors.py
  speechserving/speechserving/utils/log.py
  speechserving/tests/http_client.py
Due: none

add glog gflags gtest openfst&base_types, test=doc (#1382)
  speechx/CMakeLists.txt
  speechx/speechx/base/basic_types.h
  speechx/speechx/base/macros.h
  speechx/speechx/kaldi/base/kaldi-types.h
Due: none

added engine framework (#1383)
  speechserving/setup.py
  speechserving/speechserving/__init__.py
  speechserving/speechserving/bin/main.py
  speechserving/speechserving/bin/paddlespeech-client.py
  speechserving/speechserving/bin/paddlespeech-server.py
  speechserving/speechserving/conf/application.yaml
  speechserving/speechserving/engine/__init__.py
  speechserving/speechserving/engine/asr/python/asr_engine.py
  speechserving/speechserving/engine/base_engine.py
  speechserving/speechserving/main.py
  speechserving/speechserving/restful/__init__.py
  speechserving/speechserving/restful/api.py
  speechserving/speechserving/restful/asr_api.py
  speechserving/speechserving/restful/request.py
  speechserving/speechserving/restful/response.py
  speechserving/speechserving/restful/tts_api.py
  speechserving/speechserving/utils/__init__.py
  speechserving/speechserving/utils/errors.py
  speechserving/speechserving/utils/log.py
  speechserving/tests/http_client.py
Due: none

Update u2.py (#1378)
  paddlespeech/s2t/models/u2/u2.py
Due: auto add label=S2T

align preprocess of wavernn, test=tts
  examples/csmsc/voc6/local/preprocess.sh
  examples/csmsc/voc6/local/synthesize.sh
  examples/csmsc/voc6/local/train.sh
  examples/csmsc/voc6/run.sh
  paddlespeech/t2s/datasets/vocoder_batch_fn.py
  paddlespeech/t2s/exps/wavernn/preprocess.py
  paddlespeech/t2s/exps/wavernn/synthesize.py
  paddlespeech/t2s/exps/wavernn/train.py
  paddlespeech/t2s/models/wavernn/wavernn_updater.py
Due: auto add label=T2S, auto add label=Example

rm csmsc.py, test=tts
  paddlespeech/t2s/datasets/__init__.py
  paddlespeech/t2s/datasets/csmsc.py
Due: auto add label=T2S

complete pipeline
  examples/voxceleb/v2/conf/augmentation.json
  examples/voxceleb/v2/conf/train_ecapa_tdnn.yaml
  examples/voxceleb/v2/local/apply_cmvn.py
  examples/voxceleb/v2/local/compute_cmvn.py
  examples/voxceleb/v2/local/compute_eer.py
  examples/voxceleb/v2/local/compute_feature.py
  examples/voxceleb/v2/local/extract_vector.py
  examples/voxceleb/v2/local/extract_vector.sh
  examples/voxceleb/v2/local/generate_enroll_test_data.py
  examples/voxceleb/v2/local/generate_enroll_test_data.sh
  examples/voxceleb/v2/local/preprocess.sh
  examples/voxceleb/v2/local/sid_score.py
  examples/voxceleb/v2/local/sid_score.sh
  examples/voxceleb/v2/local/train.py
  examples/voxceleb/v2/local/train.py.0123
  examples/voxceleb/v2/local/train.sh
  examples/voxceleb/v2/local/voxceleb1.py
  examples/voxceleb/v2/path.sh
  examples/voxceleb/v2/run.sh
  examples/voxceleb/v2/utils
Due: auto add label=Example

add tacotron2 readme, test=doc
  CHANGELOG.md
  examples/csmsc/tts0/README.md
  examples/csmsc/tts3/run.sh
  examples/other/1xt2x/src_deepspeech2x/models/ds2/deepspeech2.py
  paddleaudio/CHANGELOG.md
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/utils.py
Due: auto add label=Example, auto add label=README

完善数据划分脚本
  examples/voxceleb/v2/local/voxceleb1.py
Due: auto add label=Example

update changelog.md, test=doc
  CHANGELOG.md
Due: none

add wavernn in synthesize_e2e, test=tts
  examples/csmsc/tts3/local/synthesize_e2e.sh
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/models/wavernn/wavernn.py
Due: auto add label=T2S, auto add label=Example

Update CHANGELOG.md
  CHANGELOG.md
Due: none

add tts server, test=tts
  speechserving/speechserving/conf/tts/tts.yaml
  speechserving/speechserving/engine/tts/python/tts_engine.py
  speechserving/speechserving/main.py
  speechserving/speechserving/restful/api.py
  speechserving/speechserving/restful/request.py
  speechserving/speechserving/restful/response.py
Due: none

完成脚本梳理
  examples/voxceleb/v2/conf/train_ecapa_tdnn.yaml
  examples/voxceleb/v2/local/compute_cmvn.py
  examples/voxceleb/v2/local/compute_feat_dim.py
  examples/voxceleb/v2/local/compute_feature.py
  examples/voxceleb/v2/local/extract_vector.py
  examples/voxceleb/v2/local/extract_vector.sh
  examples/voxceleb/v2/local/generate_enroll_test_data.sh
  examples/voxceleb/v2/local/preprocess.sh
  examples/voxceleb/v2/local/train.sh
  examples/voxceleb/v2/run.sh
Due: auto add label=Example

[doc ]add tacotron2 readme (#1385)
  CHANGELOG.md
  examples/csmsc/tts0/README.md
  examples/csmsc/tts3/run.sh
  examples/other/1xt2x/src_deepspeech2x/models/ds2/deepspeech2.py
  paddleaudio/CHANGELOG.md
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/utils.py
Due: auto add label=Example, auto add label=README

add tts api, test=tts
  speechserving/speechserving/restful/tts_api.py
Due: none

fix wavernn dygraph to static , test=tts
  examples/csmsc/tts3/local/inference.sh
  examples/csmsc/tts3/local/synthesize_e2e.sh
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/models/wavernn/wavernn.py
Due: auto add label=T2S, auto add label=Example

add paddlespeech high layout img
  docs/images/arch/paddlespeech_high_layout.jpg
Due: auto add label=Documentation

add paddlespeech high layout img (#1390)
  docs/images/arch/paddlespeech_high_layout.jpg
Due: auto add label=Documentation

add error code, test=server
  speechserving/speechserving/engine/tts/python/tts_engine.py
  speechserving/speechserving/restful/response.py
  speechserving/speechserving/restful/tts_api.py
  speechserving/speechserving/utils/errors.py
  speechserving/speechserving/utils/exception.py
Due: none

update to trainer
  examples/voxceleb/v2/conf/train_ecapa_tdnn.yaml
  examples/voxceleb/v2/local/train.sh
  examples/voxceleb/v2/path.sh
  examples/voxceleb/v2/run.sh
Due: auto add label=Example

add error code, test=server (#1391)
  speechserving/speechserving/engine/tts/python/tts_engine.py
  speechserving/speechserving/restful/response.py
  speechserving/speechserving/restful/tts_api.py
  speechserving/speechserving/utils/errors.py
  speechserving/speechserving/utils/exception.py
Due: none

add server auto label
  .mergify.yml
Due: auto add label=mergify

sid add voxceleb1 recipe
  paddleaudio/datasets/dataset.py
  paddleaudio/features/audiopipeline.py
  paddlespeech/a.txt
  paddlespeech/s2t/io/collator.py
  paddlespeech/s2t/io/dataset.py
  paddlespeech/s2t/training/trainer.py
  paddlespeech/sid/bin/trainer.py
  paddlespeech/t2s/exps/fastspeech2/train.py
  paddlespeech/vector/bin/train.py
  paddlespeech/vector/models/ecapa_tdnn.py
  paddlespeech/vector/models/losses.py
  paddlespeech/vector/models/model.py
  paddlespeech/vector/training/optimizer.py
  paddlespeech/vector/training/trainer.py
  utils/avg_model.py
Due: auto add label=S2T, auto add label=T2S

remove the meaningless code
  examples/voxceleb/v2/run.sh
  paddleaudio/datasets/dataset.py
  paddleaudio/features/audiopipeline.py
  paddlespeech/a.txt
  paddlespeech/s2t/io/dataset.py
  paddlespeech/s2t/training/trainer.py
  paddlespeech/sid/bin/trainer.py
  paddlespeech/sid/exps/ecapa-tdnn/train.py
  paddlespeech/sid/exps/xvector/train.py
Due: auto add label=S2T, auto add label=Example

change voxceleb/v2 to voxceleb/sv0
  examples/voxceleb/README.md
  examples/voxceleb/sv0/conf/augmentation.json
  examples/voxceleb/sv0/conf/train_ecapa_tdnn.yaml
  examples/voxceleb/sv0/local/apply_cmvn.py
  examples/voxceleb/sv0/local/compute_cmvn.py
  examples/voxceleb/sv0/local/compute_eer.py
  examples/voxceleb/sv0/local/compute_feat_dim.py
  examples/voxceleb/sv0/local/compute_feature.py
  examples/voxceleb/sv0/local/extract_vector.py
  examples/voxceleb/sv0/local/extract_vector.sh
  examples/voxceleb/sv0/local/generate_enroll_test_data.py
  examples/voxceleb/sv0/local/generate_enroll_test_data.sh
  examples/voxceleb/sv0/local/preprocess.sh
  examples/voxceleb/sv0/local/sid_score.py
  examples/voxceleb/sv0/local/sid_score.sh
  examples/voxceleb/sv0/local/train.sh
  examples/voxceleb/sv0/local/voxceleb1.py
  examples/voxceleb/sv0/path.sh
  examples/voxceleb/sv0/readme.txt
  examples/voxceleb/sv0/run.sh
  examples/voxceleb/sv0/utils
  examples/voxceleb/v2/local/train.py.0123
  paddleaudio/backends/audio.py
  paddlespeech/s2t/frontend/audio.py
  paddlespeech/s2t/frontend/augmentor/shift_perturb.py
  paddlespeech/s2t/frontend/featurizer/text_featurizer.py
  paddlespeech/s2t/frontend/speech.py
  paddlespeech/s2t/io/collator.py
  paddlespeech/s2t/io/labelencoder.py
  paddlespeech/s2t/training/trainer.py
  paddlespeech/t2s/exps/fastspeech2/train.py
  paddlespeech/vector/bin/train.py
  paddlespeech/vector/models/ecapa_tdnn.py
  paddlespeech/vector/models/model.py
  paddlespeech/vector/training/trainer.py
  tests/unit/asr/test_feature.py
Due: auto add label=S2T, auto add label=T2S, auto add label=Example, auto add label=README

support .__version__ when using python setup.py install
  setup.py
Due: auto add label=Installation

added engine other works, test=server
  speechserving/speechserving/bin/main.py
  speechserving/speechserving/bin/paddlespeech-client.py
  speechserving/speechserving/bin/paddlespeech-server.py
  speechserving/speechserving/conf/application.yaml
  speechserving/speechserving/conf/asr/asr.yaml
  speechserving/speechserving/conf/tts/tts.yaml
  speechserving/speechserving/engine/asr/python/asr_engine.py
  speechserving/speechserving/engine/engine_factory.py
  speechserving/speechserving/main.py
  speechserving/speechserving/restful/asr_api.py
  speechserving/speechserving/utils/config.py
  speechserving/speechserving/utils/util.py
Due: none

fix __version__ error in develop
  paddlespeech/cli/utils.py
Due: none

add server auto label (#1392)
  .mergify.yml
Due: auto add label=mergify

fix __version__ error in develop (#1398)
  paddlespeech/cli/utils.py
Due: none

add linear spectrogram feature extractor, test=doc
  speechx/speechx/base/common.h
  speechx/speechx/base/flags.h
  speechx/speechx/base/log.h
  speechx/speechx/base/thread_pool.h
  speechx/speechx/frontend/fbank.h
  speechx/speechx/frontend/feature_extractor_controller.h
  speechx/speechx/frontend/feature_extractor_controller_impl.h
  speechx/speechx/frontend/feature_extractor_interface.h
  speechx/speechx/frontend/linear_spectrogram.cc
  speechx/speechx/frontend/linear_spectrogram.h
  speechx/speechx/frontend/linear_spectrogram_main.cc
  speechx/speechx/frontend/mfcc.h
  speechx/speechx/frontend/window.h
Due: none

Update released_model.md
  docs/source/released_model.md
Due: auto add label=Documentation

cli add ds2-librispeech offline, fix versionm, test=asr
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/utils.py
  paddlespeech/s2t/io/sampler.py
  paddlespeech/t2s/modules/transformer/repeat.py
Due: auto add label=S2T, auto add label=T2S

updated PaddleSpeech Server diagram
  docs/images/arch/PaddleSpeech_Server_architecture_diagram.png
  docs/images/arch/PaddleSpeech_Server_class_diagram.png
Due: auto add label=Documentation
