Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

update paddleaudio readme, test=doc (#2801)
  audio/README.md
Due: auto add label=README

add readme and result, and fix some bug.
  dataset/tal_cs/README.md
  dataset/tal_cs/tal_cs.py
  docs/source/released_model.md
  examples/tal_cs/asr1/README.md
  examples/tal_cs/asr1/RESULTS.md
  examples/tal_cs/asr1/local/data.sh
  examples/tal_cs/asr1/run.sh
Due: auto add label=Dataset, auto add label=Example, auto add label=README, auto add label=Documentation

add commit id and date.
  examples/tal_cs/asr1/RESULTS.md
  examples/tal_cs/asr1/run.sh
Due: auto add label=Example

[ASR] add code-switch asr tal_cs recipe (#2796)
  dataset/tal_cs/README.md
  dataset/tal_cs/tal_cs.py
  docs/source/released_model.md
  examples/tal_cs/asr1/README.md
  examples/tal_cs/asr1/RESULTS.md
  examples/tal_cs/asr1/conf/conformer.yaml
  examples/tal_cs/asr1/conf/preprocess.yaml
  examples/tal_cs/asr1/conf/tuning/chunk_decode.yaml
  examples/tal_cs/asr1/conf/tuning/decode.yaml
  examples/tal_cs/asr1/local/data.sh
  examples/tal_cs/asr1/local/test.sh
  examples/tal_cs/asr1/local/test_wav.sh
  examples/tal_cs/asr1/local/train.sh
  examples/tal_cs/asr1/path.sh
  examples/tal_cs/asr1/run.sh
  examples/tal_cs/asr1/utils
Due: auto add label=Dataset, auto add label=Example, auto add label=README, auto add label=Documentation

Vits initialize method, test=tts
  paddlespeech/t2s/models/vits/vits.py
  paddlespeech/utils/initialize.py
Due: auto add label=T2S

fix paddleaudio import fail
  audio/paddleaudio/_internal/module_utils.py
Due: none

VITS initialize method 2, test=tts
  paddlespeech/t2s/models/vits/vits.py
Due: auto add label=T2S

vits, test=tts
  paddlespeech/t2s/models/vits/vits.py
Due: auto add label=T2S

vits init, test=tts
  paddlespeech/t2s/models/vits/vits.py
Due: auto add label=T2S

vits_init, test=tts
  paddlespeech/t2s/models/vits/vits.py
Due: auto add label=T2S

vits_init, test=tts
  paddlespeech/t2s/models/vits/text_encoder.py
  paddlespeech/t2s/models/vits/vits.py
Due: auto add label=T2S

vits_init, test=tts
  paddlespeech/t2s/models/vits/text_encoder.py
Due: auto add label=T2S

add asr code-switch cli and demo.
  README.md
  README_cn.md
  demos/speech_recognition/README.md
  demos/speech_recognition/README_cn.md
  demos/speech_recognition/run.sh
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/base_commands.py
  paddlespeech/resource/pretrained_models.py
Due: auto add label=CLI, auto add label=Demo, auto add label=README

[audio] fix load paddleaudio fail (#2815)
  audio/paddleaudio/_internal/module_utils.py
Due: none

fix some model named problem.
  demos/speech_recognition/run.sh
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/base_commands.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/server/bin/paddlespeech_server.py
  tests/unit/cli/test_cli.sh
Due: auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=Test

[ASR] add asr code-switch cli and demo, test='asr' (#2816)
  README.md
  README_cn.md
  demos/speech_recognition/README.md
  demos/speech_recognition/README_cn.md
  demos/speech_recognition/run.sh
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/base_commands.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/server/bin/paddlespeech_server.py
  tests/unit/cli/test_cli.sh
Due: auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Test

remove rel_shift, test=asr
  examples/aishell/asr1/conf/chunk_squeezeformer.yaml
  examples/aishell/asr1/conf/squeezeformer.yaml
  paddlespeech/s2t/modules/attention.py
  paddlespeech/s2t/modules/encoder.py
Due: auto add label=S2T, auto add label=Example

update VITS init method, test=tts
  paddlespeech/t2s/models/vits/text_encoder.py
  paddlespeech/t2s/models/vits/vits.py
Due: auto add label=T2S

[TTS]update VITS init method (#2809)
  paddlespeech/t2s/models/vits/text_encoder.py
  paddlespeech/t2s/models/vits/vits.py
  paddlespeech/utils/initialize.py
Due: auto add label=T2S

fix
  speechx/speechx/asr/recognizer/u2_recognizer_thread_main.cc
Due: auto add label=Deployment

fix
  speechx/speechx/asr/recognizer/u2_recognizer_main.cc
Due: auto add label=Deployment

fix
  speechx/CMakeLists.txt
Due: auto add label=Deployment

fix some bug.
  paddlespeech/s2t/models/whisper/tokenizer.py
  paddlespeech/s2t/models/whisper/whipser.py
Due: auto add label=S2T

[tts]中英文语音合成时添加SSML支持
  .gitignore
  paddlespeech/t2s/frontend/mix_frontend.py
  paddlespeech/t2s/ssml/xml_processor.py
Due: auto add label=T2S

fix some bug. (#2825)
  paddlespeech/s2t/models/whisper/tokenizer.py
  paddlespeech/s2t/models/whisper/whipser.py
Due: auto add label=S2T

fix: whisper language choice, test=asr
  paddlespeech/s2t/models/whisper/whipser.py
Due: auto add label=S2T

fix: whisper language choice, test=asr (#2828)
  paddlespeech/s2t/models/whisper/whipser.py
Due: auto add label=S2T

添加.history
  .gitignore
Due: none

[tts]添加中英混合语音合成时对中文SSML的支持
  paddlespeech/t2s/frontend/mix_frontend.py
  paddlespeech/t2s/ssml/xml_processor.py
Due: auto add label=T2S

[tts]For mixed Chinese and English speech synthesis, add SSML support for Chinese (#2830)
  .gitignore
  paddlespeech/t2s/frontend/mix_frontend.py
  paddlespeech/t2s/ssml/xml_processor.py
Due: auto add label=T2S

fix o
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
Due: auto add label=T2S

add diffusion module for training diffsinger
  docs/requirements.txt
  paddlespeech/t2s/modules/diffusion.py
  setup.py
Due: auto add label=T2S, auto add label=Documentation, auto add label=Installation

fix o (#2831)
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
Due: auto add label=T2S

add diffusion module for training diffsinger (#2832)
  docs/requirements.txt
  paddlespeech/t2s/modules/diffusion.py
  setup.py
Due: auto add label=T2S, auto add label=Documentation, auto add label=Installation

diffsinger opencpop fft train, test=tts
  examples/opencpop/svs1/local/preprocess.sh
  examples/opencpop/svs1/local/synthesize.sh
  examples/opencpop/svs1/local/train.sh
  examples/opencpop/svs1/run.sh
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/datasets/get_feats.py
  paddlespeech/t2s/datasets/preprocess_utils.py
  paddlespeech/t2s/exps/diffsinger/__init__.py
  paddlespeech/t2s/exps/diffsinger/normalize.py
  paddlespeech/t2s/exps/diffsinger/preprocess.py
  paddlespeech/t2s/exps/diffsinger/train.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/models/diffsinger/__init__.py
  paddlespeech/t2s/models/diffsinger/diffsinger.py
  paddlespeech/t2s/models/diffsinger/diffsinger_updater.py
  paddlespeech/t2s/modules/transformer/encoder.py
Due: auto add label=T2S, auto add label=Example

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
