Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=TextProcess, auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=TextProcess:
  label:
    add:
    - TextProcess

auto add label=Example:
  label:
    add:
    - Example

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

add speaker verification using cosine score, test=doc
  examples/voxceleb/sv0/local/speaker_verification_cosine.py
  examples/voxceleb/sv0/run.sh
Due: auto add label=Example

repair the code according to the part comment, test=doc
  examples/voxceleb/sv0/local/speaker_verification_cosine.py
  examples/voxceleb/sv0/local/train.py
  paddleaudio/datasets/voxceleb.py
  paddlespeech/vector/io/batch.py
  paddlespeech/vector/modules/loss.py
  paddlespeech/vector/modules/lr.py
  paddlespeech/vector/modules/sid_model.py
  paddlespeech/vector/training/metrics.py
  paddlespeech/vector/utils/download.py
  paddlespeech/vector/utils/time.py
Due: auto add label=Example

refactor cmake
  speechx/CMakeLists.txt
  speechx/build.sh
  speechx/cmake/EnableCMP0048.cmake
  speechx/cmake/external/absl.cmake
  speechx/cmake/external/eigen.cmake
  speechx/cmake/external/gflags.cmake
  speechx/cmake/external/glog.cmake
  speechx/cmake/external/gtest.cmake
  speechx/cmake/external/kenlm.cmake
  speechx/cmake/external/libsndfile.cmake
Due: none

reorder gflags, gtest, glog
  speechx/CMakeLists.txt
  speechx/build.sh
Due: none

libsndfile
  speechx/CMakeLists.txt
  speechx/cmake/external/libsndfile.cmake
Due: none

add cmvn
  speechx/speechx/codelab/feat_test/linear_spectrogram_main.cc
  speechx/speechx/frontend/normalizer.cc
  speechx/speechx/frontend/normalizer.h
  speechx/speechx/kaldi/feat/CMakeLists.txt
  speechx/speechx/kaldi/feat/cmvn.cc
  speechx/speechx/kaldi/feat/cmvn.h
Due: none

optimize the data prepare process
  paddlespeech/vector/utils/time.py
Due: none

add comment
  speechx/speechx/codelab/feat_test/linear_spectrogram_main.cc
  speechx/speechx/frontend/normalizer.cc
Due: none

openblas cmake
  speechx/CMakeLists.txt
  speechx/build.sh
  speechx/cmake/external/absl.cmake
  speechx/cmake/external/gtest.cmake
  speechx/cmake/external/openblas.cmake
Due: none

libsndfile from repo; rm useless openblas
  speechx/CMakeLists.txt
  speechx/build.sh
  speechx/cmake/EnableCMP0048.cmake
  speechx/cmake/external/libsndfile.cmake
  speechx/cmake/external/openblas.cmake
Due: none

openfst.cmake
  speechx/CMakeLists.txt
  speechx/build.sh
  speechx/cmake/external/boost.cmake
  speechx/cmake/external/glog.cmake
  speechx/cmake/external/kenlm.cmake
  speechx/cmake/external/openfst.cmake
Due: none

modify yaml, test=doc
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/speech_server/conf/application.yaml
  demos/speech_server/conf/asr/asr.yaml
  demos/speech_server/conf/asr/asr_pd.yaml
  demos/speech_server/conf/tts/tts.yaml
  demos/speech_server/conf/tts/tts_pd.yaml
  demos/speech_server/server.sh
  paddlespeech/server/bin/main.py
  paddlespeech/server/bin/paddlespeech_server.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/conf/asr/asr.yaml
  paddlespeech/server/conf/asr/asr_pd.yaml
  paddlespeech/server/conf/tts/tts.yaml
  paddlespeech/server/conf/tts/tts_pd.yaml
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/python/asr_engine.py
  paddlespeech/server/engine/engine_pool.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/tts_engine.py
  tests/unit/server/change_yaml.py
  tests/unit/server/conf/application.yaml
  tests/unit/server/conf/asr/asr.yaml
  tests/unit/server/conf/asr/asr_pd.yaml
  tests/unit/server/conf/tts/tts.yaml
  tests/unit/server/conf/tts/tts_pd.yaml
  tests/unit/server/test_server_client.sh
Due: auto add label=Demo, auto add label=README

move egs from codelab to examples
  speechx/CMakeLists.txt
  speechx/build.sh
  speechx/cmake/external/openblas.cmake
  speechx/examples/.gitkeep
  speechx/examples/CMakeLists.txt
  speechx/examples/README.md
  speechx/examples/decoder/CMakeLists.txt
  speechx/examples/decoder/offline-decoder-main.cc
  speechx/examples/feat/CMakeLists.txt
  speechx/examples/feat/feature-mfcc-test.cc
  speechx/examples/feat/linear-spectrogram-main.cc
  speechx/examples/nnet/CMakeLists.txt
  speechx/examples/nnet/pp-model-test.cc
  speechx/speechx/CMakeLists.txt
  speechx/speechx/codelab/README.md
Due: auto add label=README

clang format
  speechx/examples/README.md
  speechx/examples/decoder/offline-decoder-main.cc
  speechx/examples/feat/feature-mfcc-test.cc
  speechx/examples/feat/linear-spectrogram-main.cc
  speechx/examples/nnet/pp-model-test.cc
  speechx/patch/openfst/src/include/fst/flags.h
  speechx/patch/openfst/src/include/fst/log.h
  speechx/patch/openfst/src/lib/flags.cc
  speechx/speechx/base/basic_types.h
  speechx/speechx/base/common.h
  speechx/speechx/base/macros.h
  speechx/speechx/base/thread_pool.h
  speechx/speechx/decoder/common.h
  speechx/speechx/decoder/ctc_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.h
  speechx/speechx/frontend/fbank.h
  speechx/speechx/frontend/feature_extractor_controller.h
  speechx/speechx/frontend/feature_extractor_controller_impl.h
  speechx/speechx/frontend/feature_extractor_interface.h
  speechx/speechx/frontend/linear_spectrogram.cc
  speechx/speechx/frontend/linear_spectrogram.h
  speechx/speechx/frontend/normalizer.cc
  speechx/speechx/frontend/normalizer.h
  speechx/speechx/frontend/window.h
  speechx/speechx/nnet/decodable-itf.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/decodable.h
  speechx/speechx/nnet/nnet_interface.h
  speechx/speechx/nnet/paddle_nnet.cc
  speechx/speechx/nnet/paddle_nnet.h
  speechx/speechx/utils/file_utils.cc
  speechx/speechx/utils/file_utils.h
Due: auto add label=README

format
  .pre-commit-config.yaml
  paddlespeech/s2t/io/sampler.py
  paddlespeech/t2s/modules/transformer/repeat.py
  speechx/examples/README.md
  speechx/examples/decoder/offline-decoder-main.cc
  speechx/examples/feat/feature-mfcc-test.cc
  speechx/examples/feat/linear-spectrogram-main.cc
  speechx/examples/nnet/pp-model-test.cc
  speechx/speechx/base/basic_types.h
  speechx/speechx/base/common.h
  speechx/speechx/base/macros.h
  speechx/speechx/base/thread_pool.h
  speechx/speechx/decoder/common.h
  speechx/speechx/decoder/ctc_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.h
  speechx/speechx/frontend/fbank.h
  speechx/speechx/frontend/feature_extractor_controller.h
  speechx/speechx/frontend/feature_extractor_controller_impl.h
  speechx/speechx/frontend/feature_extractor_interface.h
  speechx/speechx/frontend/linear_spectrogram.cc
  speechx/speechx/frontend/linear_spectrogram.h
  speechx/speechx/frontend/normalizer.cc
  speechx/speechx/frontend/normalizer.h
  speechx/speechx/frontend/window.h
  speechx/speechx/nnet/decodable-itf.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/decodable.h
  speechx/speechx/nnet/nnet_interface.h
  speechx/speechx/nnet/paddle_nnet.cc
  speechx/speechx/nnet/paddle_nnet.h
  speechx/speechx/utils/file_utils.cc
  speechx/speechx/utils/file_utils.h
Due: auto add label=S2T, auto add label=T2S, auto add label=README

add raw_audio & feature_cache
  speechx/examples/feat/linear-spectrogram-main.cc
  speechx/speechx/frontend/feature_cache.cc
  speechx/speechx/frontend/feature_cache.h
  speechx/speechx/frontend/raw_audio.cc
  speechx/speechx/frontend/raw_audio.h
Due: none

add streaming_feat_main
  speechx/examples/feat/linear_spectrogram_main.cc
  speechx/examples/feat/streaming_feat_main.cc
Due: none

add waveform augment pipeline, test=doc
  examples/voxceleb/sv0/local/speaker_verification_cosine.py
  examples/voxceleb/sv0/local/train.py
  paddleaudio/datasets/rirs_noises.py
  paddleaudio/datasets/voxceleb.py
  paddlespeech/vector/io/augment.py
  paddlespeech/vector/io/signal_processing.py
  paddlespeech/vector/models/ecapa_tdnn.py
  paddlespeech/vector/training/seeding.py
Due: auto add label=Example

add extract audio embedding api, test=doc
  examples/voxceleb/sv0/local/extract_speaker_embedding.py
Due: auto add label=Example

add aishell3 hifigan, test=tts
  examples/aishell3/voc5/README.md
  examples/aishell3/voc5/conf/default.yaml
  examples/aishell3/voc5/local/preprocess.sh
  examples/aishell3/voc5/local/synthesize.sh
  examples/aishell3/voc5/local/train.sh
  examples/aishell3/voc5/path.sh
  examples/aishell3/voc5/run.sh
Due: auto add label=Example, auto add label=README

add vctk hifigan, test=tts
  examples/vctk/voc5/README.md
  examples/vctk/voc5/conf/default.yaml
  examples/vctk/voc5/local/preprocess.sh
  examples/vctk/voc5/local/synthesize.sh
  examples/vctk/voc5/local/train.sh
  examples/vctk/voc5/path.sh
  examples/vctk/voc5/run.sh
  paddlespeech/t2s/exps/gan_vocoder/synthesize.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

added websocket framework, test=doc
  paddlespeech/ws/bin/__init__.py
  paddlespeech/ws/bin/main.py
  paddlespeech/ws/conf/application.yaml
  paddlespeech/ws/conf/asr/asr.yaml
  paddlespeech/ws/conf/asr/asr_pd.yaml
  paddlespeech/ws/conf/tts/tts.yaml
  paddlespeech/ws/conf/tts/tts_pd.yaml
  paddlespeech/ws/engine/__init__.py
  paddlespeech/ws/engine/asr/__init__.py
  paddlespeech/ws/engine/asr/paddleinference/__init__.py
  paddlespeech/ws/engine/asr/paddleinference/asr_engine.py
  paddlespeech/ws/engine/asr/python/__init__.py
  paddlespeech/ws/engine/asr/python/asr_engine.py
  paddlespeech/ws/engine/base_engine.py
  paddlespeech/ws/engine/engine_factory.py
  paddlespeech/ws/engine/engine_pool.py
  paddlespeech/ws/engine/tts/__init__.py
  paddlespeech/ws/engine/tts/paddleinference/__init__.py
  paddlespeech/ws/engine/tts/paddleinference/tts_engine.py
  paddlespeech/ws/engine/tts/python/__init__.py
  paddlespeech/ws/engine/tts/python/tts_engine.py
  paddlespeech/ws/socket/__init__.py
  paddlespeech/ws/socket/api.py
  paddlespeech/ws/socket/asr_socket.py
  paddlespeech/ws/tests/asr/websocket_client.py
  paddlespeech/ws/utils/__init__.py
  paddlespeech/ws/utils/config.py
  paddlespeech/ws/utils/errors.py
  paddlespeech/ws/utils/exception.py
  paddlespeech/ws/utils/log.py
  paddlespeech/ws/utils/util.py
Due: none

add voxceleb augment unit test, test=doc
  paddlespeech/vector/io/augment.py
  tests/unit/vector/conftest.py
  tests/unit/vector/test_augment.py
Due: none

[wip][vec] add demo for searching vectors base on MySQL and Milvus, test=doc #1543
  demos/audio_searching/README.md
  demos/audio_searching/docker-compose.yaml
  demos/audio_searching/requirements.txt
  demos/audio_searching/src/config.py
  demos/audio_searching/src/encode.py
  demos/audio_searching/src/logs.py
  demos/audio_searching/src/main.py
  demos/audio_searching/src/milvus_helpers.py
  demos/audio_searching/src/mysql_helpers.py
  demos/audio_searching/src/operations/__init__.py
  demos/audio_searching/src/operations/count.py
  demos/audio_searching/src/operations/drop.py
  demos/audio_searching/src/operations/load.py
  demos/audio_searching/src/operations/search.py
  demos/audio_searching/src/test_main.py
Due: auto add label=Demo, auto add label=README

Feature alignment.
  paddleaudio/paddleaudio/features/layers.py
Due: none

make streaming pipeline work
  speechx/examples/feat/streaming_feat_main.cc
  speechx/speechx/base/common.h
  speechx/speechx/frontend/CMakeLists.txt
  speechx/speechx/frontend/feature_extractor_interface.h
  speechx/speechx/frontend/linear_spectrogram.cc
  speechx/speechx/frontend/linear_spectrogram.h
  speechx/speechx/frontend/normalizer.cc
  speechx/speechx/frontend/normalizer.h
Due: none

Add unittest for feature apis.
  paddleaudio/tests/features/__init__.py
  paddleaudio/tests/features/base.py
  paddleaudio/tests/features/istft.py
  paddleaudio/tests/features/log_melspectrogram.py
  paddleaudio/tests/features/spectrogram.py
  paddleaudio/tests/features/stft.py
  paddleaudio/tests/wav/zh.wav
Due: none

Add nose test in setup.py.
  paddleaudio/setup.py
  paddleaudio/tests/features/istft.py
  paddleaudio/tests/features/log_melspectrogram.py
  paddleaudio/tests/features/spectrogram.py
  paddleaudio/tests/features/stft.py
Due: none

Remove wav file.
  paddleaudio/tests/features/base.py
  paddleaudio/tests/wav/zh.wav
Due: none

-
  paddleaudio/tests/features/test_istft.py
  paddleaudio/tests/features/test_log_melspectrogram.py
  paddleaudio/tests/features/test_spectrogram.py
  paddleaudio/tests/features/test_stft.py
Due: none

check extract embedding result, test=doc
  examples/voxceleb/sv0/local/extract_speaker_embedding.py
  examples/voxceleb/sv0/local/speaker_verification_cosine.py
  examples/voxceleb/sv0/local/train.py
  examples/voxceleb/sv0/run.sh
  paddleaudio/datasets/voxceleb.py
  paddlespeech/vector/io/batch.py
Due: auto add label=Example

add ljspeech hifigan, test=tts
  CHANGELOG.md
  examples/ljspeech/voc5/README.md
  examples/ljspeech/voc5/conf/default.yaml
  examples/ljspeech/voc5/local/preprocess.sh
  examples/ljspeech/voc5/local/synthesize.sh
  examples/ljspeech/voc5/local/train.sh
  examples/ljspeech/voc5/path.sh
  examples/ljspeech/voc5/run.sh
Due: auto add label=Example, auto add label=README

add state 0 to prepare the voxcele data and augment data
  examples/voxceleb/README.md
  examples/voxceleb/sv0/local/data_prepare.py
  examples/voxceleb/sv0/run.sh
  paddleaudio/datasets/rirs_noises.py
  paddleaudio/datasets/voxceleb.py
  paddlespeech/vector/io/augment.py
Due: auto add label=Example, auto add label=README

refactor to compilance paddleaudio
  examples/voxceleb/sv0/local/data_prepare.py
  examples/voxceleb/sv0/local/extract_speaker_embedding.py
  examples/voxceleb/sv0/local/speaker_verification_cosine.py
  examples/voxceleb/sv0/local/train.py
  examples/voxceleb/sv0/path.sh
  examples/voxceleb/sv0/run.sh
  paddleaudio/paddleaudio/datasets/__init__.py
  paddleaudio/paddleaudio/datasets/rirs_noises.py
  paddleaudio/paddleaudio/datasets/voxceleb.py
  paddleaudio/paddleaudio/metric/__init__.py
  paddleaudio/paddleaudio/metric/eer.py
  paddlespeech/vector/io/augment.py
  paddlespeech/vector/io/batch.py
  paddlespeech/vector/training/scheduler.py
Due: auto add label=Example

remove unused code, test=doc
  examples/voxceleb/sv0/local/data.sh
  paddlespeech/vector/__init__.py
  paddlespeech/vector/datasets/ark_dataset.py
  paddlespeech/vector/datasets/dataset.py
  paddlespeech/vector/datasets/egs_dataset.py
  paddlespeech/vector/utils/data_utils.py
  paddlespeech/vector/utils/utils.py
Due: auto add label=Example

Add librosa and soundfile unittest.
  paddleaudio/setup.py
  paddleaudio/tests/backends/__init__.py
  paddleaudio/tests/backends/base.py
  paddleaudio/tests/backends/soundfile/__init__.py
  paddleaudio/tests/backends/soundfile/test_io.py
  paddleaudio/tests/features/test_librosa.py
Due: none

fix synthesize bug for speedyspeech, test=tts
  examples/csmsc/tts2/local/synthesize.sh
Due: auto add label=Example

[wip][vec] update readme, test=doc #1543
  demos/audio_searching/README_cn.md
  demos/audio_searching/src/main.py
  demos/audio_searching/src/milvus_helpers.py
  demos/audio_searching/src/test_main.py
Due: auto add label=Demo

-
  paddleaudio/setup.py
Due: none

fix benchmark
  tests/test_tipc/benchmark_train.sh
  tests/test_tipc/prepare.sh
Due: none

Path conditions:
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^audio/
  auto add label=TextProcess: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^docs/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
