Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

update version of paddle2onnx, test=tts
  examples/aishell3/tts3/run.sh
  examples/csmsc/tts2/run.sh
  examples/csmsc/tts3/run.sh
  examples/csmsc/tts3/run_cnndecoder.sh
  examples/ljspeech/tts3/run.sh
  examples/vctk/tts3/run.sh
  examples/zh_en_tts/tts3/run.sh
Due: auto add label=Example

Update finance Info
  README_cn.md
Due: none

update readme, test=tts
  examples/aishell3/vits-vc/README.md
Due: auto add label=Example, auto add label=README

update version of paddle2onnx, test=tts (#2347)
  examples/aishell3/tts3/run.sh
  examples/csmsc/tts2/run.sh
  examples/csmsc/tts3/run.sh
  examples/csmsc/tts3/run_cnndecoder.sh
  examples/ljspeech/tts3/run.sh
  examples/vctk/tts3/run.sh
  examples/zh_en_tts/tts3/run.sh
Due: auto add label=Example

[TTS]Update VITS to support VITS and its voice cloning training on AIShell-3 (#2268)
  README.md
  README_cn.md
  examples/aishell3/vits-vc/README.md
  examples/aishell3/vits-vc/conf/default.yaml
  examples/aishell3/vits-vc/local/preprocess.sh
  examples/aishell3/vits-vc/local/synthesize.sh
  examples/aishell3/vits-vc/local/train.sh
  examples/aishell3/vits-vc/local/voice_cloning.sh
  examples/aishell3/vits-vc/path.sh
  examples/aishell3/vits-vc/run.sh
  examples/aishell3/vits/README.md
  examples/aishell3/vits/conf/default.yaml
  examples/aishell3/vits/local/preprocess.sh
  examples/aishell3/vits/local/synthesize.sh
  examples/aishell3/vits/local/synthesize_e2e.sh
  examples/aishell3/vits/local/train.sh
  examples/aishell3/vits/path.sh
  examples/aishell3/vits/run.sh
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/exps/vits/synthesize.py
  paddlespeech/t2s/exps/vits/synthesize_e2e.py
  paddlespeech/t2s/exps/vits/train.py
  paddlespeech/t2s/exps/vits/voice_cloning.py
  paddlespeech/t2s/models/vits/generator.py
  paddlespeech/t2s/models/vits/vits.py
  paddlespeech/t2s/models/vits/vits_updater.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

fix deepspeech2 decode_wav
  paddlespeech/s2t/exps/deepspeech2/bin/test_wav.py
Due: auto add label=S2T

add finance info
  README_cn.md
Due: none

fix the bug of training mdtc_bs16_fp32
  tests/test_tipc/prepare.sh
Due: auto add label=Test

solve the bug of training mdtc_bs16_fp32
  examples/hey_snips/kws0/conf/mdtc.yaml
Due: auto add label=Example

transformer
  examples/synthesize_e2e1.py
Due: auto add label=Example

add finance info (#2353)
  README_cn.md
Due: none

Update requirements.txt
  docs/requirements.txt
Due: auto add label=Documentation

fix gpus of ernie_sat, test=tts
  examples/aishell3/ernie_sat/run.sh
  examples/aishell3_vctk/ernie_sat/run.sh
  examples/vctk/ernie_sat/run.sh
  paddlespeech/t2s/datasets/sampler.py
Due: auto add label=T2S, auto add label=Example

fix gpus of ernie_sat, test=tts (#2355)
  examples/aishell3/ernie_sat/run.sh
  examples/aishell3_vctk/ernie_sat/run.sh
  examples/vctk/ernie_sat/run.sh
  paddlespeech/t2s/datasets/sampler.py
Due: auto add label=T2S, auto add label=Example

transformer cn
  examples/csmsc/tts1/README.md
  examples/csmsc/tts1/conf/default.yaml
  examples/csmsc/tts1/local/preprocess.sh
  examples/csmsc/tts1/local/synthesize.sh
  examples/csmsc/tts1/local/synthesize_e2e.sh
  examples/csmsc/tts1/local/train.sh
  examples/csmsc/tts1/path.sh
  examples/csmsc/tts1/run.sh
  examples/synthesize_e2e1.py
  paddlespeech/t2s/models/transformer_tts/transformer_tts.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

Add Chinese doc and language switcher for demos of metaverse, style_fs2 and story talker, test=doc
  demos/story_talker/README.md
  demos/story_talker/README_cn.md
Due: auto add label=Demo, auto add label=README

Add Chinese doc and language switcher for demos of metaverse, style_fs2 and story talker, test=doc
  demos/metaverse/README.md
  demos/metaverse/README_cn.md
  demos/style_fs2/README.md
  demos/style_fs2/README_cn.md
Due: auto add label=Demo, auto add label=README

Revised the Chinese doc, test=doc
  demos/metaverse/README_cn.md
  demos/story_talker/README_cn.md
  demos/style_fs2/README_cn.md
Due: auto add label=Demo

Update README_cn.md
  demos/metaverse/README_cn.md
Due: auto add label=Demo

revise preprocess.py and preprocess.sh
  examples/csmsc/tts1/local/preprocess.sh
  paddlespeech/t2s/exps/transformer_tts/preprocess_new.py
Due: auto add label=T2S, auto add label=Example

add aishell3 voice cloning with ECAPA-TDNN spk encoder
  examples/aishell3/README.md
  examples/aishell3/vc2/README.md
  examples/aishell3/vc2/conf/default.yaml
  examples/aishell3/vc2/local/preprocess.sh
  examples/aishell3/vc2/local/synthesize.sh
  examples/aishell3/vc2/local/train.sh
  examples/aishell3/vc2/local/voice_cloning.sh
  examples/aishell3/vc2/path.sh
  examples/aishell3/vc2/run.sh
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/server/engine/vector/python/vector_engine.py
  paddlespeech/t2s/exps/fastspeech2/vc2_infer.py
  paddlespeech/t2s/exps/voice_cloning.py
Due: auto add label=T2S, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=README

update readme, test=tts
  README.md
  README_cn.md
  demos/text_to_speech/README.md
  demos/text_to_speech/README_cn.md
Due: auto add label=Demo, auto add label=README

update speech_server config, test=tts
  README.md
  README_cn.md
Due: auto add label=README

uadd __init__.py for VITS, test=tts
  paddlespeech/t2s/exps/vits/__init__.py
Due: auto add label=T2S

uadd __init__.py for VITS, test=tts (#2362)
  paddlespeech/t2s/exps/vits/__init__.py
Due: auto add label=T2S

Delete CHANGELOG.md
  CHANGELOG.md
Due: auto add label=Documentation

Added pre-install doc for G2P and TN modules and updated the dependency version of pypinyin, test=doc
  docs/requirements.txt
  examples/other/g2p/README.md
  examples/other/tn/README.md
Due: auto add label=Example, auto add label=README, auto add label=Documentation

Added pre-install doc for G2P and TN modules and updated the dependency version of pypinyin second, test=doc
  setup.py
Due: auto add label=Installation

fix trianer
  examples/aishell/asr1/run.sh
  paddlespeech/s2t/training/trainer.py
Due: auto add label=S2T, auto add label=Example

Added pre-install doc for G2P and TN modules and updated the dependency version of pypinyin (#2364)
  docs/requirements.txt
  examples/other/g2p/README.md
  examples/other/tn/README.md
  setup.py
Due: auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=Installation

add tool to compare two tests results, show difference -t tts
  examples/other/g2p/compare_badcase.py
Due: auto add label=Example

add tool to compare test badcase and add run examples,test=tts
  examples/other/g2p/compare_badcase.py
Due: auto add label=Example

add fix for 3 chinese chars, and 2nd char tone should not be 5, test=tts
  paddlespeech/t2s/frontend/tone_sandhi.py
Due: auto add label=T2S

fix tone bug about 3 chinese chars have two tone5, test=tts
  paddlespeech/t2s/frontend/tone_sandhi.py
Due: auto add label=T2S

Revised must_neural_tone_words.
  paddlespeech/t2s/frontend/tone_sandhi.py
Due: auto add label=T2S

Update README.md
  README.md
Due: auto add label=README

update __init__.py, test=tts
  paddlespeech/t2s/exps/vits/__init__.py
Due: auto add label=T2S
