Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=enhancement"
    conditions:
      - files~=^deepspeech/
    actions:
      label:
        add: ["enhancement"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechnn/
    actions:
      label:
        add: ["Deployment"]

fix
  deepspeech/io/collator.py
  deepspeech/io/dataset.py
Due: auto add label=enhancement

fix ds2 conf for new data pipeline
  examples/aishell/s0/conf/deepspeech2.yaml
Due: auto add label=Example

Add compilation framework
  speechnn/CMakeLists.txt
  speechnn/core/decoder/CMakeLists.txt
Due: auto add label=Deployment

fix chunk default config; tarball ckpt prfix dir;
  examples/aishell/s1/README.md
  examples/aishell/s1/conf/chunk_conformer.yaml
  utils/tarball.sh
Due: auto add label=Example, auto add label=README

fix config for new datapipeline
  examples/aishell/s1/README.md
  examples/aishell/s1/conf/chunk_conformer.yaml
Due: auto add label=Example, auto add label=README

fix miss match
  utils/tarball.sh
Due: none

cp dir when it exits
  utils/tarball.sh
Due: none

save best and test on tiny/s0
  deepspeech/training/trainer.py
  deepspeech/utils/checkpoint.py
  examples/tiny/s0/conf/deepspeech2.yaml
Due: auto add label=enhancement, auto add label=Example

revise config
  deepspeech/training/trainer.py
  examples/tiny/s0/conf/deepspeech2.yaml
Due: auto add label=enhancement, auto add label=Example

using venv python
  tools/Makefile
Due: auto add label=Installation

ds2 default using 4gpu; new result of ds2
  examples/aishell/s0/README.md
  examples/aishell/s0/run.sh
Due: auto add label=Example, auto add label=README

revise from_pretrained function
  deepspeech/exps/deepspeech2/bin/deploy/runtime.py
  deepspeech/exps/deepspeech2/bin/deploy/server.py
  deepspeech/exps/deepspeech2/bin/tune.py
  deepspeech/exps/deepspeech2/model.py
  deepspeech/exps/u2/model.py
  deepspeech/models/deepspeech2.py
  deepspeech/models/u2.py
Due: auto add label=enhancement

fix runtime.py and server.py
  deepspeech/exps/deepspeech2/bin/deploy/runtime.py
  deepspeech/exps/deepspeech2/bin/deploy/server.py
  deepspeech/io/collator.py
  deepspeech/utils/socket_server.py
Due: auto add label=enhancement

fix runtime and server
  deepspeech/exps/deepspeech2/bin/deploy/runtime.py
  deepspeech/exps/deepspeech2/bin/deploy/server.py
  deepspeech/io/collator.py
  deepspeech/utils/socket_server.py
Due: auto add label=enhancement

add model params
  examples/aishell/s0/README.md
  examples/aishell/s1/README.md
Due: auto add label=Example, auto add label=README

more comment; fix datapipe of align
  deepspeech/exps/u2/model.py
  deepspeech/utils/ctc_utils.py
  deepspeech/utils/text_grid.py
Due: auto add label=enhancement

fix conf for ds2
  examples/aishell/s0/conf/deepspeech2.yaml
  examples/aishell/s0/run.sh
  examples/librispeech/s0/README.md
  examples/librispeech/s0/conf/deepspeech2.yaml
Due: auto add label=Example, auto add label=README

separate
  deepspeech/frontend/augmentor/augmentation.py
  deepspeech/frontend/augmentor/spec_augment.py
  deepspeech/io/collator.py
Due: auto add label=enhancement

runtime.py
  deepspeech/exps/deepspeech2/bin/deploy/runtime.py
Due: auto add label=enhancement

multi gpus
  deepspeech/training/trainer.py
  deepspeech/utils/checkpoint.py
  examples/tiny/s0/conf/deepspeech2.yaml
Due: auto add label=enhancement, auto add label=Example

fix bug
  deepspeech/training/trainer.py
  deepspeech/utils/checkpoint.py
Due: auto add label=enhancement
