Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

feat:add windows ctc-decoders compile func
  third_party/ctc_decoders/scorer.cpp
  third_party/ctc_decoders/setup.py
  third_party/install.bat
Due: none

fix:change bat
  third_party/install.bat
Due: none

fix:change setup
  third_party/ctc_decoders/setup.py
Due: none

fix _paddleaudio import
  paddlespeech/audio/_extension.py
  paddlespeech/audio/kaldi/kaldi.py
Due: none

Fix comments
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/modules/encoder_layer.py
Due: auto add label=S2T

Remove blank line
  paddlespeech/s2t/__init__.py
Due: auto add label=S2T

fix:change bat script and readme
  third_party/README.md
  third_party/install_win_ctc.bat
Due: auto add label=README

delete old bat
  third_party/install.bat
Due: none

Update README.md
  third_party/README.md
Due: auto add label=README

fix cnn cache dy2st shape
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/encoder_layer.py
Due: auto add label=S2T

update requirements.txt, test=doc
  docs/requirements.txt
Due: auto add label=Documentation

update engine_warmup.py, test=tts
  paddlespeech/server/engine/engine_warmup.py
Due: auto add label=Server

fix: dockerfile cpu
  docker/ubuntu18-cpu/Dockerfile
Due: auto add label=Docker

add mix tts, test=tts
  examples/zh_en_tts/tts3/README.md
  examples/zh_en_tts/tts3/local/synthesize_e2e.sh
  examples/zh_en_tts/tts3/path.sh
  examples/zh_en_tts/tts3/test.sh
  paddlespeech/t2s/exps/sentences_mix.txt
Due: auto add label=T2S, auto add label=Example, auto add label=README

fix: avoid skipping the first phoneme
  paddlespeech/t2s/exps/fastspeech2/preprocess.py
Due: auto add label=T2S

update readme, test=doc
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/speech_web/API.md
  demos/speech_web/README.md
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  demos/streaming_tts_server/README.md
  demos/streaming_tts_server/README_cn.md
Due: auto add label=Demo, auto add label=README

add pad calc link, test=doc
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  demos/streaming_tts_server/README.md
  demos/streaming_tts_server/README_cn.md
Due: auto add label=Demo, auto add label=README

update config, test=doc
  examples/aishell3/ernie_sat/conf/default.yaml
  examples/aishell3_vctk/ernie_sat/conf/default.yaml
  examples/vctk/ernie_sat/conf/default.yaml
  paddlespeech/t2s/exps/ernie_sat/align.py
  paddlespeech/t2s/exps/ernie_sat/synthesize_e2e.py
  paddlespeech/t2s/exps/ernie_sat/utils.py
Due: auto add label=T2S, auto add label=Example

updatte batch_fn train.py, test=doc
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/exps/ernie_sat/train.py
Due: auto add label=T2S

Support dy2st
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/server/engine/asr/online/python/asr_engine.py
Due: auto add label=S2T, auto add label=Server

add sox load_audio&&effets
  cmake/external/pybind.cmake
  paddlespeech/audio/_internal/module_utils.py
  paddlespeech/audio/backends/sox_io_backend.py
  paddlespeech/audio/src/CMakeLists.txt
  paddlespeech/audio/src/pybind/pybind.cpp
  paddlespeech/audio/src/pybind/sox/effects.cpp
  paddlespeech/audio/src/pybind/sox/effects.h
  paddlespeech/audio/src/pybind/sox/effects_chain.cpp
  paddlespeech/audio/src/pybind/sox/effects_chain.h
  paddlespeech/audio/src/pybind/sox/io.cpp
  paddlespeech/audio/src/pybind/sox/io.h
  paddlespeech/audio/src/pybind/sox/utils.cpp
  paddlespeech/audio/src/pybind/sox/utils.h
  paddlespeech/audio/src/sox/effects.cpp
  paddlespeech/audio/src/sox/effects.h
  paddlespeech/audio/src/sox/effects_chain.cpp
  paddlespeech/audio/src/sox/effects_chain.h
  paddlespeech/audio/src/sox/io.cpp
  paddlespeech/audio/src/sox/io.h
  paddlespeech/audio/src/sox/types.cpp
  paddlespeech/audio/src/sox/types.h
  paddlespeech/audio/src/sox/utils.cpp
  paddlespeech/audio/src/sox/utils.h
  setup.py
Due: auto add label=Installation

Update default.yaml
  examples/iwslt2012/punc0/conf/default.yaml
Due: auto add label=Example

add mix tts cli, test=tts
  paddlespeech/cli/tts/infer.py
  paddlespeech/resource/pretrained_models.py
Due: auto add label=CLI

achange default voc in cli from pwgan_csmsc to hifigan_csmsc, test=tts
  paddlespeech/cli/tts/infer.py
  tests/unit/cli/test_cli.sh
Due: auto add label=CLI, auto add label=Test

add mix test in test_cli.sh, test=tts
  tests/unit/cli/test_cli.sh
Due: auto add label=Test

slove link error
  paddlespeech/audio/src/CMakeLists.txt
  paddlespeech/audio/src/pybind/sox/effects.cpp
  paddlespeech/audio/src/pybind/sox/effects.h
  paddlespeech/audio/src/pybind/sox/effects_chain.cpp
  paddlespeech/audio/src/pybind/sox/effects_chain.h
  paddlespeech/audio/src/pybind/sox/io.cpp
  paddlespeech/audio/src/pybind/sox/io.h
  paddlespeech/audio/src/pybind/sox/types.cpp
  paddlespeech/audio/src/pybind/sox/types.h
  paddlespeech/audio/src/pybind/sox/utils.cpp
  paddlespeech/audio/src/pybind/sox/utils.h
Due: none

clean code
  paddlespeech/audio/src/sox/effects.cpp
  paddlespeech/audio/src/sox/effects.h
  paddlespeech/audio/src/sox/effects_chain.cpp
  paddlespeech/audio/src/sox/effects_chain.h
  paddlespeech/audio/src/sox/io.cpp
  paddlespeech/audio/src/sox/io.h
  paddlespeech/audio/src/sox/types.cpp
  paddlespeech/audio/src/sox/types.h
  paddlespeech/audio/src/sox/utils.cpp
  paddlespeech/audio/src/sox/utils.h
Due: none

add more pybind funciton
  paddlespeech/audio/src/pybind/pybind.cpp
Due: none

fix jit save for conformer
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/models/u2/u2.py
Due: auto add label=S2T

add ws export.sh
  examples/wenetspeech/asr1/local/export.sh
Due: auto add label=Example

fix readme, test=doc
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/utils/audio_handler.py
Due: auto add label=Server, auto add label=Demo, auto add label=README

add wav url, test=doc
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
Due: auto add label=Demo, auto add label=README

fix optional bind, add sox_effects
  paddlespeech/audio/backends/sox_io_backend.py
  paddlespeech/audio/sox_effects/__init__.py
  paddlespeech/audio/sox_effects/sox_effects.py
  paddlespeech/audio/src/pybind/pybind.cpp
  paddlespeech/audio/utils/sox_utils.py
Due: none

replace default vocoder in seerver to mb_melgan, test=doc
  demos/speech_server/conf/application.yaml
  demos/streaming_tts_server/conf/tts_online_application.yaml
  demos/streaming_tts_server/conf/tts_online_ws_application.yaml
Due: auto add label=Demo

update VectorClientExecutor python api, test=doc
  demos/speech_server/README.md
Due: auto add label=Demo, auto add label=README

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
