Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=enhancement:
  label:
    add:
    - enhancement

auto add label=Example:
  label:
    add:
    - Example

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

reconstruct the export function and the run.sh in aishell and librispeech
  deepspeech/exps/deepspeech2/model.py
  deepspeech/models/ds2_online/deepspeech2.py
  examples/aishell/s0/local/export.sh
  examples/aishell/s0/local/test.sh
  examples/aishell/s0/local/train.sh
  examples/aishell/s0/run.sh
  examples/librispeech/s0/local/export.sh
  examples/librispeech/s0/local/test.sh
  examples/librispeech/s0/local/train.sh
  examples/librispeech/s0/run.sh
Due: auto add label=enhancement, auto add label=Example

refactor ted en zh script; fix MAIN_ROOT path
  examples/aishell/s0/path.sh
  examples/aishell/s1/path.sh
  examples/callcenter/s1/path.sh
  examples/cc-cedict/path.sh
  examples/chinese_g2p/path.sh
  examples/librispeech/s0/path.sh
  examples/librispeech/s1/path.sh
  examples/librispeech/s2/path.sh
  examples/ngram_lm/s0/path.sh
  examples/spm/path.sh
  examples/ted_en_zh/README.md
  examples/ted_en_zh/t0/conf/transformer.yaml
  examples/ted_en_zh/t0/conf/transformer_joint_noam.yaml
  examples/ted_en_zh/t0/local/data.sh
  examples/ted_en_zh/t0/local/test.sh
  examples/ted_en_zh/t0/local/train.sh
  examples/ted_en_zh/t0/path.sh
  examples/ted_en_zh/t0/run.sh
  examples/text_normalization/path.sh
  examples/thchs30/a0/path.sh
  examples/timit/s1/path.sh
  examples/tiny/s0/path.sh
  examples/tiny/s1/path.sh
Due: auto add label=Example, auto add label=README

fix some small mistakes
  deepspeech/exps/deepspeech2/model.py
Due: auto add label=enhancement

fix install and format code
  deepspeech/exps/u2_st/model.py
  deepspeech/io/collator_st.py
  deepspeech/models/u2_st.py
  deepspeech/utils/bleu_score.py
  examples/librispeech/s1/README.md
  examples/librispeech/s2/README.md
  requirements.txt
  setup.sh
Due: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Installation

fix egs bugs
  examples/librispeech/s1/run.sh
  examples/librispeech/s2/run.sh
  examples/ted_en_zh/t0/local/test.sh
Due: auto add label=Example

fix tiny conf and refactor optimizer and scheduler
  deepspeech/exps/u2/model.py
  deepspeech/exps/u2_st/model.py
  deepspeech/models/deepspeech2.py
  deepspeech/training/optimizer.py
  deepspeech/training/scheduler.py
  deepspeech/utils/dynamic_import.py
  examples/librispeech/s1/conf/transformer.yaml
  examples/tiny/s1/conf/chunk_confermer.yaml
  examples/tiny/s1/conf/chunk_transformer.yaml
  examples/tiny/s1/conf/conformer.yaml
  examples/tiny/s1/conf/transformer.yaml
Due: auto add label=enhancement, auto add label=Example

support noam lr and opt
  deepspeech/exps/u2/model.py
  deepspeech/training/optimizer.py
  deepspeech/utils/dynamic_import.py
Due: auto add label=enhancement

filter key by class signature, no print tensor
  deepspeech/training/gradclip.py
  deepspeech/training/optimizer.py
  deepspeech/utils/dynamic_import.py
  deepspeech/utils/tensor_utils.py
Due: auto add label=enhancement

with all args for scheduler
  deepspeech/exps/u2/model.py
Due: auto add label=enhancement

rm useless
  deepspeech/exps/u2/model.py
Due: auto add label=enhancement

fix config
  examples/tiny/s1/conf/chunk_transformer.yaml
Due: auto add label=Example

reconstruct the exp/model.py and the model.export()
  deepspeech/exps/deepspeech2/config.py
  deepspeech/exps/deepspeech2/model.py
  deepspeech/models/ds2_online/deepspeech2.py
Due: auto add label=enhancement

fix the bidirect rnn, add deepspeech2.yaml for aishell, tiny, librispeech
  deepspeech/models/ds2_online/deepspeech2.py
  examples/aishell/s0/conf/deepspeech2_online.yaml
  examples/librispeech/s0/conf/deepspeech2_online.yaml
  examples/tiny/s0/conf/deepspeech2_online.yaml
Due: auto add label=enhancement, auto add label=Example

fix conf and readme
  .bashrc
  .gitignore
  README.md
  README_cn.md
  examples/aishell/s0/conf/deepspeech2.yaml
  examples/librispeech/s0/conf/deepspeech2.yaml
  examples/librispeech/s1/conf/conformer.yaml
  examples/librispeech/s1/conf/transformer.yaml
  examples/tiny/s0/conf/deepspeech2.yaml
  examples/tiny/s1/conf/transformer.yaml
Due: auto add label=Example, auto add label=README

add from_config function to ds2_oneline and ds2
  deepspeech/exps/deepspeech2/model.py
  deepspeech/models/ds2/deepspeech2.py
  deepspeech/models/ds2_online/deepspeech2.py
  examples/aishell/s0/conf/deepspeech2_online.yaml
  tests/deepspeech2_online_model_test.py
Due: auto add label=enhancement, auto add label=Example

fix cmake
  env.sh
  speechnn/CMakeLists.txt
  speechnn/cmake/third_party.cmake
  speechnn/cmake/third_party/absl.cmake
  speechnn/cmake/third_party/libsndfile.cmake
  speechnn/cmake/third_party/openfst.cmake
Due: auto add label=CI, auto add label=Deployment

fix the resume bug: the lr is not related to iteration, but epoch
  deepspeech/exps/deepspeech2/model.py
  deepspeech/training/trainer.py
Due: auto add label=enhancement

test w/ all example
  deepspeech/exps/u2/model.py
  examples/librispeech/s1/README.md
  examples/librispeech/s1/conf/transformer.yaml
  examples/librispeech/s1/run.sh
  examples/tiny/s1/conf/transformer.yaml
Due: auto add label=enhancement, auto add label=Example, auto add label=README

fix ted egs
  examples/ted_en_zh/t0/.gitignore
  examples/ted_en_zh/t0/README.md
  examples/ted_en_zh/t0/local/data.sh
  examples/ted_en_zh/t0/run.sh
Due: auto add label=Example, auto add label=README

more result
  examples/librispeech/s1/README.md
Due: auto add label=Example, auto add label=README

add punc egs
  examples/punctuation_restoration/README.md
Due: auto add label=Example, auto add label=README

Path conditions:
  auto add label=enhancement: any of: ^deepspeech/
  auto add label=Example: any of: ^examples/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
