Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=enhancement:
  label:
    add:
    - enhancement

auto add label=Example:
  label:
    add:
    - Example

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

fix bugs
  deepspeech/training/trainer.py
Due: auto add label=enhancement

not save ckpt when except, since resume train will increase epoch and step
  deepspeech/training/trainer.py
Due: auto add label=enhancement

Update released_model.md
  docs/src/released_model.md
Due: none

fix train log
  deepspeech/exps/u2/model.py
  deepspeech/training/trainer.py
Due: auto add label=enhancement

batch WaveDataset
  deepspeech/exps/u2/model.py
  deepspeech/io/collator.py
  deepspeech/io/dataset.py
  deepspeech/training/trainer.py
Due: auto add label=enhancement

fix espnet kaldi libri s2 config
  examples/librispeech/s2/conf/transformer.yaml
  examples/librispeech/s2/local/test.sh
  examples/librispeech/s2/run.sh
  utils/avg_model.py
Due: auto add label=Example

fix the bug: read space as unk
  deepspeech/frontend/featurizer/text_featurizer.py
  examples/v18_to_v2x/exp_aishell/.gitignore
  examples/v18_to_v2x/exp_aishell/local/data.sh
  examples/v18_to_v2x/exp_aishell/local/download_model.sh
  examples/v18_to_v2x/exp_aishell/path.sh
  examples/v18_to_v2x/exp_aishell/run.sh
  examples/v18_to_v2x/exp_baidu_en8k/.gitignore
  examples/v18_to_v2x/exp_baidu_en8k/local/data.sh
  examples/v18_to_v2x/exp_baidu_en8k/local/download_model.sh
  examples/v18_to_v2x/exp_baidu_en8k/path.sh
  examples/v18_to_v2x/exp_baidu_en8k/run.sh
  examples/v18_to_v2x/exp_librispeech/.gitignore
  examples/v18_to_v2x/exp_librispeech/local/data.sh
  examples/v18_to_v2x/exp_librispeech/local/download_model.sh
  examples/v18_to_v2x/exp_librispeech/path.sh
  examples/v18_to_v2x/exp_librispeech/run.sh
  examples/v18_to_v2x/src_deepspeech2x/__init__.py
  examples/v18_to_v2x/src_deepspeech2x/bin/test.py
  examples/v18_to_v2x/src_deepspeech2x/models/__init__.py
  examples/v18_to_v2x/src_deepspeech2x/models/ds2/__init__.py
  examples/v18_to_v2x/src_deepspeech2x/models/ds2/deepspeech2.py
  examples/v18_to_v2x/src_deepspeech2x/models/ds2/rnn.py
  examples/v18_to_v2x/src_deepspeech2x/test_model.py
  utils/format_data.py
Due: auto add label=enhancement, auto add label=Example

fix set_device; more utils; args.opts support multi same name
  deepspeech/exps/deepspeech2/model.py
  deepspeech/exps/u2/model.py
  deepspeech/exps/u2_kaldi/model.py
  deepspeech/exps/u2_st/model.py
  deepspeech/training/cli.py
  deepspeech/training/trainer.py
  examples/librispeech/s1/local/test.sh
  examples/librispeech/s2/cmd.sh
  examples/librispeech/s2/local/test.sh
  examples/librispeech/s2/run.sh
  utils/README.md
  utils/build_kenlm_model_from_arpa.sh
  utils/duration_from_maniefst.sh
  utils/log.sh
  utils/parallel/run.pl
  utils/parse_options.sh
  utils/pd_env_collect.sh
  utils/profile.sh
  utils/run.pl
  utils/score_sclite.sh
  utils/spk2utt_to_utt2spk.pl
  utils/split_data.sh
  utils/split_json.sh
  utils/split_scp.pl 
  utils/train_arpa_with_kenlm.sh
  utils/utility.sh
  utils/utt2spk_to_spk2utt.pl
Due: auto add label=enhancement, auto add label=Example, auto add label=README

dump decode result as jsonlines
  deepspeech/exps/deepspeech2/model.py
  deepspeech/exps/u2/model.py
  deepspeech/exps/u2_kaldi/model.py
  deepspeech/exps/u2_st/model.py
Due: auto add label=enhancement

add score_sclite
  examples/librispeech/s2/path.sh
  tools/Makefile
  utils/filter.py
  utils/score_sclite.sh
Due: auto add label=Example, auto add label=Installation

fix decode json file
  deepspeech/exps/deepspeech2/model.py
  deepspeech/exps/u2/model.py
  deepspeech/exps/u2_kaldi/model.py
  deepspeech/exps/u2_st/model.py
  utils/README.md
  utils/dump_manifest.py
  utils/filter.py
Due: auto add label=enhancement, auto add label=README

refactor avg_model; fix set_value not support start==end
  deepspeech/utils/tensor_utils.py
  utils/avg_model.py
Due: auto add label=enhancement

using jsonlines to read manifest and dump decode result
  deepspeech/frontend/utility.py
Due: auto add label=enhancement

refactor ds 1.x exp
  examples/1xt2x/.gitignore
  examples/1xt2x/README.md
  examples/1xt2x/aishell/.gitignore
  examples/1xt2x/aishell/conf/augmentation.json
  examples/1xt2x/aishell/conf/deepspeech2.yaml
  examples/1xt2x/aishell/local/data.sh
  examples/1xt2x/aishell/local/download_lm_ch.sh
  examples/1xt2x/aishell/local/download_model.sh
  examples/1xt2x/aishell/local/test.sh
  examples/1xt2x/aishell/path.sh
  examples/1xt2x/aishell/run.sh
  examples/1xt2x/baidu_en8k/.gitignore
  examples/1xt2x/baidu_en8k/conf/augmentation.json
  examples/1xt2x/baidu_en8k/conf/deepspeech2.yaml
  examples/1xt2x/baidu_en8k/local/data.sh
  examples/1xt2x/baidu_en8k/local/download_lm_en.sh
  examples/1xt2x/baidu_en8k/local/download_model.sh
  examples/1xt2x/baidu_en8k/local/test.sh
  examples/1xt2x/baidu_en8k/path.sh
  examples/1xt2x/baidu_en8k/run.sh
  examples/1xt2x/deepspeech2x/__init__.py
  examples/1xt2x/deepspeech2x/bin/test.py
  examples/1xt2x/deepspeech2x/model.py
  examples/1xt2x/deepspeech2x/models/__init__.py
  examples/1xt2x/deepspeech2x/models/ds2/__init__.py
  examples/1xt2x/deepspeech2x/models/ds2/deepspeech2.py
  examples/1xt2x/deepspeech2x/models/ds2/rnn.py
  examples/1xt2x/librispeech/.gitignore
  examples/1xt2x/librispeech/conf/augmentation.json
  examples/1xt2x/librispeech/conf/deepspeech2.yaml
  examples/1xt2x/librispeech/local/data.sh
  examples/1xt2x/librispeech/local/download_lm_en.sh
  examples/1xt2x/librispeech/local/download_model.sh
  examples/1xt2x/librispeech/local/test.sh
  examples/1xt2x/librispeech/path.sh
  examples/1xt2x/librispeech/run.sh
Due: auto add label=Example, auto add label=README

fix sctk install
  .gitignore
  tools/Makefile
Due: auto add label=Installation

rm dupliate packages
  requirements.txt
Due: none

Path conditions:
  auto add label=enhancement: any of: ^deepspeech/
  auto add label=Example: any of: ^examples/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
