Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

add new model file.
  paddlespeech/cli/whisper/infer.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/s2t/models/whisper/whisper.py
Due: auto add label=S2T, auto add label=CLI

fix
  paddlespeech/resource/pretrained_models.py
Due: none

fix version number
  paddlespeech/resource/pretrained_models.py
Due: none

fix some bug
  paddlespeech/cli/whisper/infer.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/s2t/models/whisper/whisper.py
Due: auto add label=S2T, auto add label=CLI

fix bug
  paddlespeech/s2t/models/whisper/whisper.py
Due: auto add label=S2T

add whisper doc.
  README.md
  README_cn.md
  demos/whisper/README.md
  demos/whisper/README_cn.md
Due: auto add label=Demo, auto add label=README

Reduce precision difference for whipser model
  paddlespeech/s2t/models/whisper/whisper.py
Due: auto add label=S2T

add paramters name
  paddlespeech/s2t/modules/align.py
Due: auto add label=S2T

adapt paddle 3.2, remove some hack code to avoid conflict.
  paddlespeech/s2t/__init__.py
  paddlespeech/s2t/models/wav2vec2/modules/modeling_wav2vec2.py
  paddlespeech/s2t/modules/attention.py
  paddlespeech/s2t/modules/decoder.py
Due: auto add label=S2T

Add missing installation of paddlepaddle; removed from paddlespeech since it's broken
  docs/tutorial/asr/tutorial_deepspeech2.ipynb
  docs/tutorial/asr/tutorial_transformer.ipynb
Due: auto add label=Documentation

Install paddlepaddle before paddlespeech
  docs/tutorial/asr/tutorial_deepspeech2.ipynb
  docs/tutorial/asr/tutorial_transformer.ipynb
  docs/tutorial/cls/cls_tutorial.ipynb
  docs/tutorial/st/st_tutorial.ipynb
  docs/tutorial/tts/tts_tutorial.ipynb
Due: auto add label=Documentation

Install paddlepaddle-gpu instead of paddlepaddle
  docs/tutorial/asr/tutorial_deepspeech2.ipynb
  docs/tutorial/asr/tutorial_transformer.ipynb
  docs/tutorial/cls/cls_tutorial.ipynb
  docs/tutorial/st/st_tutorial.ipynb
  docs/tutorial/tts/tts_tutorial.ipynb
Due: auto add label=Documentation

Linear test
  Linear_test.py
  hidden_states.pdparams
  q.pdparams
  q.pt
Due: none

cosy
  paddlespeech/cli/tts/cosyvoice.py
  paddlespeech/t2s/models/CosyVoice/__init__.py
  paddlespeech/t2s/models/CosyVoice/cosyvoice.py
  paddlespeech/t2s/models/CosyVoice/flow.py
  paddlespeech/t2s/models/CosyVoice/frontend.py
  paddlespeech/t2s/models/CosyVoice/llm.py
  paddlespeech/t2s/models/CosyVoice/model.py
  paddlespeech/t2s/models/CosyVoice/test.py
  paddlespeech/t2s/modules/decoder.py
  paddlespeech/t2s/modules/flow/attention.py
  paddlespeech/t2s/modules/flow/decoder.py
  paddlespeech/t2s/modules/flow/flow.py
  paddlespeech/t2s/modules/flow/flow_matching.py
  paddlespeech/t2s/modules/flow/length_regulator.py
  paddlespeech/t2s/modules/tokenizer.py
Due: auto add label=T2S, auto add label=CLI

fix(g2pw): avoid redundant download when model files already exist
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
Due: auto add label=T2S

CosyVoice
  paddlespeech/__init__.py
  paddlespeech/audio/functional/mel_extract.py
  paddlespeech/t2s/models/CosyVoice/class_utils.py
  paddlespeech/t2s/models/CosyVoice/common.py
  paddlespeech/t2s/models/CosyVoice/llm.py
  paddlespeech/t2s/models/CosyVoice/mask.py
  paddlespeech/t2s/models/__init__.py
  paddlespeech/t2s/models/hifigan/__init__.py
  paddlespeech/t2s/models/hifigan/cosy_hifigan.py
  paddlespeech/t2s/models/hifigan/f0_predictor.py
  paddlespeech/t2s/modules/conv.py
  paddlespeech/t2s/modules/flow/__init__.py
  paddlespeech/t2s/modules/flow/attention.py
  paddlespeech/t2s/modules/flow/attention_processor.py
  paddlespeech/t2s/modules/flow/attention_processor_back.py
  paddlespeech/t2s/modules/flow/convolution.py
  paddlespeech/t2s/modules/flow/decoder.py
  paddlespeech/t2s/modules/flow/diffusers_activatioins.py
  paddlespeech/t2s/modules/flow/encoder_layer.py
  paddlespeech/t2s/modules/flow/flow.py
  paddlespeech/t2s/modules/flow/flow_matching.py
  paddlespeech/t2s/modules/flow/flow_matching_matcha.py
  paddlespeech/t2s/modules/flow/lora.py
  paddlespeech/t2s/modules/flow/mask.py
  paddlespeech/t2s/modules/flow/matcha_decoder.py
  paddlespeech/t2s/modules/flow/matcha_transformer.py
  paddlespeech/t2s/modules/flow/normalization.py
  paddlespeech/t2s/modules/predictor/length_regulator.py
  paddlespeech/t2s/modules/transformer/activation.py
  paddlespeech/t2s/modules/transformer/attention.py
  paddlespeech/t2s/modules/transformer/convolution.py
  paddlespeech/t2s/modules/transformer/embedding.py
  paddlespeech/t2s/modules/transformer/espnet.py
  paddlespeech/t2s/modules/transformer/mask.py
  paddlespeech/t2s/modules/transformer/subsampling.py
  paddlespeech/t2s/modules/transformer/upsample_encoder.py
Due: auto add label=T2S

fix code style
  Linear_test.py
  paddlespeech/cli/tts/cosyvoice.py
  paddlespeech/t2s/models/CosyVoice/__init__.py
  paddlespeech/t2s/models/CosyVoice/class_utils.py
  paddlespeech/t2s/models/CosyVoice/common.py
  paddlespeech/t2s/models/CosyVoice/cosyvoice.py
  paddlespeech/t2s/models/CosyVoice/flow.py
  paddlespeech/t2s/models/CosyVoice/frontend.py
  paddlespeech/t2s/models/CosyVoice/llm.py
  paddlespeech/t2s/models/CosyVoice/mask.py
  paddlespeech/t2s/models/CosyVoice/model.py
  paddlespeech/t2s/models/CosyVoice/test.py
  paddlespeech/t2s/modules/activation.py
  paddlespeech/t2s/modules/conv.py
  paddlespeech/t2s/modules/transformer/__init__.py
  paddlespeech/t2s/modules/transformer/activation.py
  paddlespeech/t2s/modules/transformer/attention.py
  paddlespeech/t2s/modules/transformer/convolution.py
Due: auto add label=T2S, auto add label=CLI

fix workflows ci yml
  .github/workflows/ci.yml
Due: auto add label=CI

fix workflow ci clone error
  .github/workflows/ci.yml
Due: auto add label=CI

fix flow matching diff
  paddlespeech/audio/functional/mel_extract.py
  paddlespeech/cli/tts/cosyvoice.py
  paddlespeech/t2s/frontend/CosyVoiceFrontEnd/__init__.py
  paddlespeech/t2s/frontend/CosyVoiceFrontEnd/file_utils.py
  paddlespeech/t2s/frontend/CosyVoiceFrontEnd/frontend.py
  paddlespeech/t2s/frontend/CosyVoiceFrontEnd/frontend_utils.py
  paddlespeech/t2s/frontend/CosyVoiceFrontEnd/func.py
  paddlespeech/t2s/frontend/CosyVoiceFrontEnd/tokenizer.py
  paddlespeech/t2s/models/CosyVoice/llm.py
  paddlespeech/t2s/models/hifigan/cosy_hifigan.py
  paddlespeech/t2s/models/hifigan/f0_predictor.py
  paddlespeech/t2s/modules/flow/decoder.py
  paddlespeech/t2s/modules/flow/flow.py
  paddlespeech/t2s/modules/flow/flow_matching.py
  paddlespeech/t2s/modules/flow/matcha_transformer.py
  paddlespeech/t2s/modules/transformer/subsampling.py
  paddlespeech/t2s/modules/transformer/upsample_encoder.py
Due: auto add label=T2S, auto add label=CLI

fix workflow ci
  .github/workflows/ci.yml
Due: auto add label=CI
