Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=enhancement:
  label:
    add:
    - enhancement

auto add label=Example:
  label:
    add:
    - Example

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

Update install.md
  docs/source/install.md
Due: none

Create install.md
  docs/source/install.md
Due: none

fix index
  docs/source/index.rst
Due: none

add transformer to cli infer
  paddlespeech/cli/asr/infer.py
Due: none

Update zh_frontend.py
  paddlespeech/t2s/frontend/zh_frontend.py
Due: none

rm the os.chdir in cli asr
  paddlespeech/cli/asr/infer.py
Due: none

update tts tutorial
  docs/tutorial/tts/source/fastpitch.png
  docs/tutorial/tts/source/fastspeech2.png
  docs/tutorial/tts/source/frog_prince.jpg
  docs/tutorial/tts/source/ocr.wav
  docs/tutorial/tts/source/ocr_result.jpg
  docs/tutorial/tts/source/pwgan.png
  docs/tutorial/tts/source/signal_pipeline.png
  docs/tutorial/tts/source/text_frontend_struct.png
  docs/tutorial/tts/source/tts-timeline.png
  docs/tutorial/tts/source/tts_lips.mp4
  docs/tutorial/tts/source/tts_pipeline.png
  docs/tutorial/tts/source/wechat-group.png
  docs/tutorial/tts/tts_tutorial.ipynb
Due: none

fix the setup.py
  setup.py
Due: auto add label=Installation

fix the setup.py (#1076)
  setup.py
Due: auto add label=Installation

add style_melgan, test=tts
  paddlespeech/t2s/models/melgan/style_melgan_updater.py
Due: none

add __init__.py
  paddlespeech/s2t/exps/deepspeech2/bin/__init__.py
  paddlespeech/s2t/exps/deepspeech2/bin/deploy/__init__.py
  paddlespeech/s2t/exps/lm/transformer/bin/__init__.py
  paddlespeech/s2t/exps/u2/bin/__init__.py
  paddlespeech/s2t/exps/u2_kaldi/bin/__init__.py
  paddlespeech/s2t/exps/u2_st/bin/__init__.py
Due: none

Update README.md
  demos/metaverse/README.md
Due: auto add label=README

Update run.sh
  demos/metaverse/run.sh
Due: none

Update README.md
  demos/style_fs2/README.md
Due: auto add label=README

update librispeech asr1 transformer result
  examples/librispeech/asr1/RESULTS.md
Due: auto add label=Example

update demos readme
  demos/story_talker/README.md
  demos/style_fs2/README.md
Due: auto add label=README

fix mergify
  .mergify.yml
Due: auto add label=mergify

Path conditions:
  auto add label=enhancement: any of: ^deepspeech/
  auto add label=Example: any of: ^examples/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
