Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=enhancement:
  label:
    add:
    - enhancement

auto add label=Example:
  label:
    add:
    - Example

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

aishell support utt2spk
  examples/aishell/s1/conf/transformer.yaml
  examples/dataset/aishell/aishell.py
Due: auto add label=Example

update the released model info
  docs/source/released_model.md
Due: none

Formalize the terms in README
  README.md
  docs/source/reference.md
  examples/csmsc/tts2/README.md
Due: auto add label=Example, auto add label=README

rename to gen_gta_mel.py, remove stats compute when gen fintune data
  examples/csmsc/voc3/finetune.sh
  paddlespeech/t2s/exps/fastspeech2/gen_gta_mel.py
Due: auto add label=Example

update benchmark case
  tests/benchmark/conformer/README.md
  tests/benchmark/conformer/analysis.py
  tests/benchmark/conformer/prepare.sh
  tests/benchmark/conformer/run.sh
  tests/benchmark/conformer/run_benchmark.sh
Due: auto add label=README

update benchmark case
  tests/benchmark/conformer/run.sh
Due: none

update benchmark case
  tests/benchmark/conformer/run_benchmark.sh
Due: none

add fastspeech2 voice cloning in aishell3
  examples/aishell3/vc0/local/preprocess.sh
  examples/aishell3/vc1/README.md
  examples/aishell3/vc1/conf/default.yaml
  examples/aishell3/vc1/local/preprocess.sh
  examples/aishell3/vc1/local/synthesize.sh
  examples/aishell3/vc1/local/train.sh
  examples/aishell3/vc1/local/voice_cloning.sh
  examples/aishell3/vc1/path.sh
  examples/aishell3/vc1/run.sh
  examples/csmsc/voc1/conf/default.yaml
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/exps/fastspeech2/normalize.py
  paddlespeech/t2s/exps/fastspeech2/preprocess.py
  paddlespeech/t2s/exps/fastspeech2/train.py
  paddlespeech/t2s/exps/fastspeech2/voice_cloning.py
  paddlespeech/t2s/exps/voice_cloning/tacotron2_ge2e/voice_cloning.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2_updater.py
  paddlespeech/vector/__init__.py
  paddlespeech/vector/exps/__init__.py
  paddlespeech/vector/exps/ge2e/__init__.py
  paddlespeech/vector/exps/ge2e/audio_processor.py
  paddlespeech/vector/exps/ge2e/config.py
  paddlespeech/vector/exps/ge2e/dataset_processors.py
  paddlespeech/vector/exps/ge2e/inference.py
  paddlespeech/vector/exps/ge2e/preprocess.py
  paddlespeech/vector/exps/ge2e/random_cycle.py
  paddlespeech/vector/exps/ge2e/speaker_verification_dataset.py
  paddlespeech/vector/exps/ge2e/train.py
  paddlespeech/vector/models/__init__.py
  paddlespeech/vector/models/lstm_speaker_encoder.py
Due: auto add label=Example, auto add label=README

update benchmark case
  tests/benchmark/conformer/prepare.sh
  tests/benchmark/conformer/run.sh
  tests/benchmark/conformer/run_benchmark.sh
Due: none

add wenet lincense
  paddlespeech/s2t/modules/attention.py
  paddlespeech/s2t/modules/cmvn.py
  paddlespeech/s2t/modules/conformer_convolution.py
  paddlespeech/s2t/modules/decoder.py
  paddlespeech/s2t/modules/decoder_layer.py
  paddlespeech/s2t/modules/embedding.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/modules/encoder_layer.py
  paddlespeech/s2t/modules/loss.py
  paddlespeech/s2t/modules/mask.py
  paddlespeech/s2t/modules/positionwise_feed_forward.py
  paddlespeech/s2t/modules/subsampling.py
Due: none

refactor libri s2 conf
  examples/librispeech/s2/conf/transformer.yaml
Due: auto add label=Example

add wenetspeech egs
  examples/wenetspeech/asr1/conf/conformer.yaml
  examples/wenetspeech/asr1/conf/preprocess.yaml
  examples/wenetspeech/asr1/local/data.sh
  examples/wenetspeech/asr1/local/extract_meta.py
  examples/wenetspeech/asr1/local/process_opus.py
  examples/wenetspeech/asr1/local/test.sh
  examples/wenetspeech/asr1/local/wenetspeech_data_prep.sh
  examples/wenetspeech/asr1/path.sh
  examples/wenetspeech/asr1/run.sh
Due: auto add label=Example

renew the setup.py for paddlespeech feat and ctcdecoders
  paddlespeech/s2t/decoders/ctcdecoder/swig/setup.py
  third_party/python_kaldi_features/setup.py
Due: none

renew the setup.py for paddlespeech feat and ctcdecoders
  paddlespeech/s2t/decoders/ctcdecoder/swig/setup.py
Due: none

Update README.md
  README.md
Due: auto add label=README

feat: add ted_en_zh t1
  examples/ted_en_zh/t1/.gitignore
  examples/ted_en_zh/t1/README.md
  examples/ted_en_zh/t1/conf/transformer.yaml
  examples/ted_en_zh/t1/conf/transformer_joint_noam.yaml
  examples/ted_en_zh/t1/local/convert_torch_to_paddle.py
  examples/ted_en_zh/t1/local/data.sh
  examples/ted_en_zh/t1/local/test.sh
  examples/ted_en_zh/t1/local/train.sh
  examples/ted_en_zh/t1/path.sh
  examples/ted_en_zh/t1/run.sh
Due: auto add label=Example, auto add label=README

rename spembs
  examples/aishell3/vc1/local/preprocess.sh
  examples/csmsc/voc1/run.sh
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/exps/fastspeech2/normalize.py
  paddlespeech/t2s/exps/fastspeech2/preprocess.py
  paddlespeech/t2s/exps/fastspeech2/synthesize.py
  paddlespeech/t2s/exps/fastspeech2/train.py
  paddlespeech/t2s/exps/fastspeech2/voice_cloning.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2_updater.py
  paddlespeech/t2s/models/transformer_tts/transformer_tts.py
Due: auto add label=Example

Update released_model.md
  docs/source/released_model.md
Due: none

Update introduction.md
  docs/source/introduction.md
Due: none

Update index.rst
  docs/source/index.rst
Due: none

Path conditions:
  auto add label=enhancement: any of: ^deepspeech/
  auto add label=Example: any of: ^examples/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
