Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=TextProcess, auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=TextProcess:
  label:
    add:
    - TextProcess

auto add label=Example:
  label:
    add:
    - Example

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

format synthesize, test=tts
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/exps/voice_cloning.py
  paddlespeech/t2s/modules/predictor/length_regulator.py
Due: auto add label=T2S

update readme, test=doc
  README.md
  README_cn.md
Due: auto add label=README

add server cls, test=doc
  paddlespeech/cli/cls/infer.py
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/engine/cls/__init__.py
  paddlespeech/server/engine/cls/paddleinference/__init__.py
  paddlespeech/server/engine/cls/paddleinference/cls_engine.py
  paddlespeech/server/engine/cls/python/__init__.py
  paddlespeech/server/engine/cls/python/cls_engine.py
  paddlespeech/server/engine/engine_factory.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/restful/api.py
  paddlespeech/server/restful/cls_api.py
  paddlespeech/server/restful/request.py
  paddlespeech/server/restful/response.py
  paddlespeech/server/utils/paddle_predictor.py
Due: none

fix cr, test=tts
  paddlespeech/t2s/exps/csmsc_test.txt
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/exps/synthesize_e2e.py
Due: auto add label=T2S

modify application.yaml, test=doc
  demos/speech_server/conf/application.yaml
  paddlespeech/server/conf/application.yaml
  tests/unit/server/conf/application.yaml
Due: auto add label=Demo

modify tests, test=doc
  tests/unit/server/change_yaml.py
  tests/unit/server/test_server_client.sh
Due: none

add ecapa-tdnn config yaml file
  examples/voxceleb/sv0/conf/ecapa_tdnn.yaml
  examples/voxceleb/sv0/run.sh
  paddlespeech/vector/exps/ecapa-tdnn/extract_speaker_embedding.py
  paddlespeech/vector/exps/ecapa-tdnn/speaker_verification_cosine.py
  paddlespeech/vector/exps/ecapa-tdnn/train.py
Due: auto add label=Example

make feature cache& raw audio work
  speechx/examples/feat/CMakeLists.txt
  speechx/examples/feat/linear_spectrogram_main.cc
  speechx/examples/feat/streaming_feat_main.cc
  speechx/speechx/base/common.h
  speechx/speechx/frontend/CMakeLists.txt
  speechx/speechx/frontend/feature_cache.cc
  speechx/speechx/frontend/feature_cache.h
  speechx/speechx/frontend/feature_extractor_interface.h
  speechx/speechx/frontend/linear_spectrogram.cc
  speechx/speechx/frontend/linear_spectrogram.h
  speechx/speechx/frontend/normalizer.cc
  speechx/speechx/frontend/normalizer.h
  speechx/speechx/frontend/raw_audio.cc
  speechx/speechx/frontend/raw_audio.h
Due: none

modify server demo, test=doc
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  paddlespeech/server/bin/paddlespeech_server.py
Due: auto add label=Demo, auto add label=README

format
  speechx/speechx/frontend/feature_cache.h
  speechx/speechx/frontend/raw_audio.cc
  speechx/speechx/frontend/raw_audio.h
Due: none

add cls static model, test=doc
  docs/source/released_model.md
  paddlespeech/server/engine/cls/paddleinference/cls_engine.py
Due: auto add label=Documentation

modify released_model.md, test=doc
  docs/source/released_model.md
Due: auto add label=Documentation

Add fbank and mfcc unittest.
  paddleaudio/tests/features/test_kaldi.py
  paddleaudio/tests/features/test_librosa.py
Due: none

Add fbank and mfcc unittest.
  paddleaudio/setup.py
Due: none

rename interface & add comment to Dim()
  speechx/examples/feat/linear_spectrogram_main.cc
  speechx/speechx/frontend/feature_cache.cc
  speechx/speechx/frontend/feature_cache.h
  speechx/speechx/frontend/feature_extractor_interface.h
  speechx/speechx/frontend/linear_spectrogram.cc
  speechx/speechx/frontend/linear_spectrogram.h
  speechx/speechx/frontend/normalizer.cc
  speechx/speechx/frontend/normalizer.h
  speechx/speechx/frontend/raw_audio.cc
  speechx/speechx/frontend/raw_audio.h
Due: none

modify, test=doc
  demos/speech_server/cls_client.sh
  docs/source/released_model.md
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/tts_engine.py
  paddlespeech/server/restful/response.py
  paddlespeech/server/restful/tts_api.py
Due: auto add label=Demo, auto add label=Documentation

modify readme, test=doc
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  paddlespeech/server/restful/response.py
Due: auto add label=Demo, auto add label=README

Add benchmark.
  paddleaudio/tests/benchmark/README.md
  paddleaudio/tests/benchmark/features/__init__.py
  paddleaudio/tests/benchmark/features/log_mel_spectrogram.py
  paddleaudio/tests/benchmark/features/mel_spectrogram.py
  paddleaudio/tests/benchmark/features/mfcc.py
Due: auto add label=README

rename arg of Accept & Read
  speechx/speechx/frontend/feature_cache.cc
  speechx/speechx/frontend/feature_cache.h
  speechx/speechx/frontend/feature_extractor_interface.h
  speechx/speechx/frontend/linear_spectrogram.cc
  speechx/speechx/frontend/linear_spectrogram.h
  speechx/speechx/frontend/normalizer.cc
  speechx/speechx/frontend/normalizer.h
  speechx/speechx/frontend/raw_audio.cc
  speechx/speechx/frontend/raw_audio.h
Due: none

add vox2 data into VoxCeleb class
  examples/voxceleb/README.md
  examples/voxceleb/sv0/local/data_prepare.py
  examples/voxceleb/sv0/path.sh
  examples/voxceleb/sv0/run.sh
  paddleaudio/paddleaudio/datasets/__init__.py
  paddleaudio/paddleaudio/datasets/voxceleb.py
  paddlespeech/vector/exps/ecapa_tdnn/extract_speaker_embedding.py
  paddlespeech/vector/exps/ecapa_tdnn/speaker_verification_cosine.py
  paddlespeech/vector/exps/ecapa_tdnn/train.py
  paddlespeech/vector/io/augment.py
  paddlespeech/vector/models/ecapa_tdnn.py
Due: auto add label=Example, auto add label=README

modify, test=doc
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  paddlespeech/server/bin/paddlespeech_client.py
Due: auto add label=Demo, auto add label=README

update cli test case
  tests/unit/cli/test_cli.sh
Due: none

Add benchmark.
  paddleaudio/tests/benchmark/README.md
  paddleaudio/tests/benchmark/features.py
  paddleaudio/tests/benchmark/features/__init__.py
  paddleaudio/tests/benchmark/features/log_mel_spectrogram.py
  paddleaudio/tests/benchmark/features/mel_spectrogram.py
  paddleaudio/tests/benchmark/features/mfcc.py
Due: auto add label=README

Add benchmark.
  paddleaudio/tests/benchmark/README.md
  paddleaudio/tests/benchmark/features.py
Due: auto add label=README

[wip][vec] update readme and yaml, test=doc #1543
  demos/audio_searching/README.md
  demos/audio_searching/README_cn.md
  demos/audio_searching/docker-compose.yaml
  demos/audio_searching/img/audio_searching.png
  demos/audio_searching/img/insert.png
  demos/audio_searching/img/search.png
Due: auto add label=Demo, auto add label=README

align nnet decoder & refactor
  speechx/examples/decoder/CMakeLists.txt
  speechx/examples/decoder/offline_decoder_main.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.h
  speechx/speechx/frontend/raw_audio.h
  speechx/speechx/nnet/decodable-itf.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/decodable.h
  speechx/speechx/nnet/nnet_interface.h
  speechx/speechx/nnet/paddle_nnet.cc
  speechx/speechx/nnet/paddle_nnet.h
Due: none

add some comments to the code
  examples/voxceleb/sv0/conf/ecapa_tdnn.yaml
  examples/voxceleb/sv0/run.sh
  paddleaudio/paddleaudio/metric/__init__.py
  paddleaudio/paddleaudio/metric/eer.py
  paddlespeech/vector/exps/ecapa_tdnn/extract_emb.py
  paddlespeech/vector/exps/ecapa_tdnn/speaker_verification_cosine.py
  paddlespeech/vector/exps/ecapa_tdnn/train.py
  paddlespeech/vector/io/augment.py
  paddlespeech/vector/io/batch.py
Due: auto add label=Example

convert save_freq to save_interval, test=doc
  examples/voxceleb/sv0/conf/ecapa_tdnn.yaml
Due: auto add label=Example

add help info
  speechx/examples/decoder/offline_decoder_main.cc
  speechx/speechx/frontend/raw_audio.h
Due: none

Revert "align nnet decoder & refactor"
  speechx/examples/decoder/CMakeLists.txt
  speechx/examples/decoder/offline-decoder-main.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.h
  speechx/speechx/frontend/raw_audio.h
  speechx/speechx/nnet/decodable-itf.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/decodable.h
  speechx/speechx/nnet/nnet_interface.h
  speechx/speechx/nnet/paddle_nnet.cc
  speechx/speechx/nnet/paddle_nnet.h
Due: none

streaming nnet align & decoder align
  speechx/examples/decoder/CMakeLists.txt
  speechx/examples/decoder/offline_decoder_main.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.h
  speechx/speechx/frontend/raw_audio.h
  speechx/speechx/nnet/decodable-itf.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/decodable.h
  speechx/speechx/nnet/nnet_interface.h
  speechx/speechx/nnet/paddle_nnet.cc
  speechx/speechx/nnet/paddle_nnet.h
Due: none

added online engine, test=doc
  paddlespeech/ws/conf/asr/asr_pd.yaml
  paddlespeech/ws/engine/asr/online/__init__.py
  paddlespeech/ws/engine/asr/online/asr_engine.py
  paddlespeech/ws/engine/asr/python/__init__.py
  paddlespeech/ws/engine/asr/python/asr_engine.py
  paddlespeech/ws/engine/tts/paddleinference/__init__.py
  paddlespeech/ws/engine/tts/paddleinference/tts_engine.py
  paddlespeech/ws/engine/tts/python/__init__.py
  paddlespeech/ws/engine/tts/python/tts_engine.py
  paddlespeech/ws/tests/asr/websocket_client.py
  paddlespeech/ws/utils/errors.py
  paddlespeech/ws/utils/exception.py
  paddlespeech/ws/utils/log.py
  paddlespeech/ws/utils/util.py
Due: none

fix benchmark
  tests/benchmark/conformer/run_benchmark.sh
  tests/benchmark/pwgan/run_benchmark.sh
Due: none

[wip][vec] add search result description, test=doc #1543
  demos/audio_searching/README.md
  demos/audio_searching/README_cn.md
  demos/audio_searching/img/result.png
Due: auto add label=Demo, auto add label=README

Update README.md
  README.md
Due: auto add label=README

add run.sh for example
  speechx/examples/run.sh
Due: none

split run.sh
  speechx/examples/decoder/run.sh
  speechx/examples/feat/run.sh
  speechx/examples/nnet/run.sh
  speechx/examples/run.sh
Due: none

[wip][vec] update search result description, test=doc #1543
  demos/audio_searching/README.md
  demos/audio_searching/README_cn.md
  demos/audio_searching/img/result.png
Due: auto add label=Demo, auto add label=README

change the code style to s2t code style, test=doc
  examples/voxceleb/sv0/conf/ecapa_tdnn.yaml
  examples/voxceleb/sv0/local/data.sh
  examples/voxceleb/sv0/local/data_prepare.py
  examples/voxceleb/sv0/local/emb.sh
  examples/voxceleb/sv0/local/test.sh
  examples/voxceleb/sv0/local/train.sh
  examples/voxceleb/sv0/run.sh
  paddleaudio/paddleaudio/datasets/rirs_noises.py
  paddleaudio/paddleaudio/datasets/voxceleb.py
  paddleaudio/paddleaudio/utils/download.py
  paddlespeech/vector/exps/ecapa_tdnn/extract_emb.py
  paddlespeech/vector/exps/ecapa_tdnn/test.py
  paddlespeech/vector/exps/ecapa_tdnn/train.py
  paddlespeech/vector/io/augment.py
  paddlespeech/vector/utils/download.py
Due: auto add label=Example

Path conditions:
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^audio/
  auto add label=TextProcess: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^docs/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
