Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

Update voice_cloning.sh
  examples/aishell3/vc1/local/voice_cloning.sh
Due: auto add label=Example

Update synthesize.sh
  examples/aishell3/vc2/local/synthesize.sh
Due: auto add label=Example

Update voice_cloning.sh
  examples/aishell3/vc2/local/voice_cloning.sh
Due: auto add label=Example

update finetune, test=tts
  demos/speech_web/speech_server/src/finetune.py
  examples/other/tts_finetune/tts3/README.md
  examples/other/tts_finetune/tts3/conf/fastspeech2_layers.txt
  examples/other/tts_finetune/tts3/conf/finetune.yaml
  examples/other/tts_finetune/tts3/finetune.py
  examples/other/tts_finetune/tts3/local/check_oov.py
  examples/other/tts_finetune/tts3/local/extract_feature.py
  examples/other/tts_finetune/tts3/local/finetune.py
  examples/other/tts_finetune/tts3/local/generate_duration.py
  examples/other/tts_finetune/tts3/local/get_mfa_result.py
  examples/other/tts_finetune/tts3/local/label_process.py
  examples/other/tts_finetune/tts3/local/prepare_env.py
  examples/other/tts_finetune/tts3/run_en.sh
Due: auto add label=Example, auto add label=Demo, auto add label=README

[tts] Update finetune (#2430)
  demos/speech_web/speech_server/src/finetune.py
  examples/other/tts_finetune/tts3/README.md
  examples/other/tts_finetune/tts3/conf/fastspeech2_layers.txt
  examples/other/tts_finetune/tts3/conf/finetune.yaml
  examples/other/tts_finetune/tts3/finetune.py
  examples/other/tts_finetune/tts3/local/check_oov.py
  examples/other/tts_finetune/tts3/local/extract_feature.py
  examples/other/tts_finetune/tts3/local/finetune.py
  examples/other/tts_finetune/tts3/local/generate_duration.py
  examples/other/tts_finetune/tts3/local/get_mfa_result.py
  examples/other/tts_finetune/tts3/local/label_process.py
  examples/other/tts_finetune/tts3/local/prepare_env.py
  examples/other/tts_finetune/tts3/run_en.sh
Due: auto add label=Example, auto add label=Demo, auto add label=README

Update run.sh
  examples/other/tts_finetune/tts3/run.sh
Due: auto add label=Example

Update run_en.sh
  examples/other/tts_finetune/tts3/run_en.sh
Due: auto add label=Example

训练了transformer声源模型，可与其他声码器匹配
  examples/csmsc/tts1/local/preprocess.sh
  examples/csmsc/tts1/local/synthesize.sh
  examples/csmsc/tts1/local/synthesize_e2e.sh
  examples/csmsc/tts1/local/train.sh
Due: auto add label=Example

训练了transformer声源模型，可与其他声码器匹配
  examples/csmsc/tts1/README.md
  examples/csmsc/tts1/conf/default.yaml
  examples/csmsc/tts1/path.sh
  examples/csmsc/tts1/run.sh
  paddlespeech/t2s/exps/transformer_tts/preprocess_new.py
  paddlespeech/t2s/exps/transformer_tts/synthesize.py
  paddlespeech/t2s/exps/transformer_tts/synthesize_e2e.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

update readme and fixed ngpu bug
  demos/speech_web/README.md
  demos/speech_web/speech_server/src/ernie_sat.py
  demos/speech_web/speech_server/src/finetune.py
  demos/speech_web/speech_server/src/ge2e_clone.py
  demos/speech_web/speech_server/src/tdnn_clone.py
  demos/speech_web/speech_server/src/util.py
  demos/speech_web/speech_server/vc.py
  demos/speech_web/web_client/src/components/Experience.vue
  demos/speech_web/web_client/src/components/SubMenu/ASR/RealTime/RealTime.vue
  demos/speech_web/web_client/src/components/SubMenu/ChatBot/Chat.vue
  demos/speech_web/web_client/src/components/SubMenu/ChatBot/ChatT.vue
  demos/speech_web/web_client/src/components/SubMenu/ENIRE_SAT/ENIRE_SAT.vue
  demos/speech_web/web_client/src/components/SubMenu/FineTune/FineTune.vue
  demos/speech_web/web_client/src/components/SubMenu/IE/IE.vue
  demos/speech_web/web_client/src/components/SubMenu/TTS/TTST.vue
  demos/speech_web/web_client/src/components/SubMenu/VPR/VPR.vue
  demos/speech_web/web_client/src/components/SubMenu/VPR/VPRT.vue
  demos/speech_web/web_client/src/components/SubMenu/VoiceClone/VoiceClone.vue
Due: auto add label=Demo, auto add label=README

update png in readme
  demos/speech_web/README.md
Due: auto add label=Demo, auto add label=README

update readme and FT web ttsText
  demos/speech_web/README.md
  demos/speech_web/web_client/src/components/SubMenu/FineTune/FineTune.vue
Due: auto add label=Demo, auto add label=README

eliminate mul
  paddlespeech/audio/utils/tensor_utils.py
Due: none

update readme and fixed bug in ngpu (#2451)
  demos/speech_web/README.md
  demos/speech_web/speech_server/src/ernie_sat.py
  demos/speech_web/speech_server/src/finetune.py
  demos/speech_web/speech_server/src/ge2e_clone.py
  demos/speech_web/speech_server/src/tdnn_clone.py
  demos/speech_web/speech_server/src/util.py
  demos/speech_web/speech_server/vc.py
  demos/speech_web/web_client/src/components/Experience.vue
  demos/speech_web/web_client/src/components/SubMenu/ASR/RealTime/RealTime.vue
  demos/speech_web/web_client/src/components/SubMenu/ChatBot/Chat.vue
  demos/speech_web/web_client/src/components/SubMenu/ChatBot/ChatT.vue
  demos/speech_web/web_client/src/components/SubMenu/ENIRE_SAT/ENIRE_SAT.vue
  demos/speech_web/web_client/src/components/SubMenu/FineTune/FineTune.vue
  demos/speech_web/web_client/src/components/SubMenu/IE/IE.vue
  demos/speech_web/web_client/src/components/SubMenu/TTS/TTST.vue
  demos/speech_web/web_client/src/components/SubMenu/VPR/VPR.vue
  demos/speech_web/web_client/src/components/SubMenu/VPR/VPRT.vue
  demos/speech_web/web_client/src/components/SubMenu/VoiceClone/VoiceClone.vue
Due: auto add label=Demo, auto add label=README

change version to 1.2.0
  setup.py
Due: auto add label=Installation

fix batch_size, test=tts
  examples/other/tts_finetune/tts3/local/finetune.py
Due: auto add label=Example

remove comment
  paddlespeech/s2t/__init__.py
  paddlespeech/s2t/exps/u2/bin/test.py
  paddlespeech/s2t/exps/u2_st/bin/test.py
Due: auto add label=S2T

elimiete cast dtype for bool op
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/models/u2_st/u2_st.py
  paddlespeech/s2t/modules/decoder.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/modules/mask.py
  paddlespeech/s2t/utils/tensor_utils.py
Due: auto add label=S2T

refactor reshape
  paddlespeech/s2t/modules/embedding.py
  paddlespeech/s2t/modules/subsampling.py
Due: auto add label=S2T

bool type slice
  paddlespeech/s2t/modules/decoder_layer.py
Due: auto add label=S2T

fix finetune batch size (#2457)
  examples/other/tts_finetune/tts3/local/finetune.py
Due: auto add label=Example

transpose in matmul
  paddlespeech/s2t/modules/attention.py
Due: auto add label=S2T

elimiate attn transpose
  paddlespeech/s2t/modules/attention.py
Due: auto add label=S2T

eliminate shape and slice
  paddlespeech/s2t/modules/conformer_convolution.py
  paddlespeech/s2t/modules/decoder.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/modules/loss.py
  paddlespeech/s2t/modules/subsampling.py
Due: auto add label=S2T

fuse linear kv
  paddlespeech/s2t/modules/attention.py
Due: auto add label=S2T

fix finetune batch size (#2457) (#2460)
  examples/other/tts_finetune/tts3/local/finetune.py
Due: auto add label=Example

Update test_cli.sh
  tests/unit/cli/test_cli.sh
Due: auto add label=Test

Update punc_application.yaml
  demos/streaming_asr_server/conf/punc_application.yaml
Due: auto add label=Demo

Update application.yaml
  paddlespeech/server/conf/application.yaml
Due: auto add label=Server

Update text_engine.py
  paddlespeech/server/engine/text/python/text_engine.py
Due: auto add label=Server

masked_fill by multiply, remove while
  paddlespeech/s2t/__init__.py
Due: auto add label=S2T

Update train.py
  paddlespeech/kws/exps/mdtc/train.py
Due: none

Update test_train_inference_python.sh
  tests/test_tipc/test_train_inference_python.sh
Due: auto add label=Test

Create ernie-3.0.yaml
  examples/iwslt2012/punc0/conf/ernie-3.0.yaml
Due: auto add label=Example

Rename ernie-3.0.yaml to ernie-3.0-base.yaml
  examples/iwslt2012/punc0/conf/ernie-3.0-base.yaml
Due: auto add label=Example

Create ernie-3.0-medium-zh
  examples/iwslt2012/punc0/conf/ernie-3.0-medium-zh
Due: auto add label=Example

Rename ernie-3.0-medium-zh to ernie-3.0-medium.yaml
  examples/iwslt2012/punc0/conf/ernie-3.0-medium.yaml
Due: auto add label=Example

Create ernie-3.0-mini.yaml
  examples/iwslt2012/punc0/conf/ernie-3.0-mini.yaml
Due: auto add label=Example
