Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=enhancement:
  label:
    add:
    - enhancement

auto add label=Example:
  label:
    add:
    - Example

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

Update index.rst
  docs/source/index.rst
Due: none

rename num_speakers
  examples/csmsc/voc1/run.sh
  paddlespeech/t2s/exps/fastspeech2/multi_spk_synthesize_e2e.py
  paddlespeech/t2s/exps/fastspeech2/multi_spk_synthesize_e2e_en.py
  paddlespeech/t2s/exps/fastspeech2/synthesize.py
  paddlespeech/t2s/exps/fastspeech2/train.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
Due: auto add label=Example

disable export for u2
  examples/aishell/s1/run.sh
  examples/librispeech/s1/run.sh
  examples/librispeech/s2/run.sh
  examples/ted_en_zh/t0/run.sh
  examples/timit/s1/run.sh
  examples/tiny/s1/run.sh
Due: auto add label=Example

check if cmvn_file in config for u2
  examples/librispeech/s2/conf/transformer.yaml
  paddlespeech/s2t/models/u2/u2.py
Due: auto add label=Example

add utt2spk for all dataset
  examples/dataset/aidatatang_200zh/aidatatang_200zh.py
  examples/dataset/mini_librispeech/mini_librispeech.py
  examples/dataset/thchs30/thchs30.py
  examples/dataset/timit/timit.py
  examples/dataset/timit/timit_kaldi_standard_split.py
  examples/dataset/voxforge/voxforge.py
Due: auto add label=Example

update the auto_log
  paddlespeech/s2t/exps/deepspeech2/bin/test_export.py
  paddlespeech/s2t/exps/deepspeech2/model.py
Due: none

update the setup.pu for paddlespeech
  .bashrc
  .vimrc
  requirements.txt
  setup.py
Due: auto add label=Installation

Update the setup.py for paddlespeech (#1009)
  .bashrc
  .vimrc
  requirements.txt
  setup.py
Due: auto add label=Installation

update aishell/librispeech transformer result; wenetspeech pretrain conformer result
  examples/aishell/s1/README.md
  examples/aishell/s1/conf/transformer.yaml
  examples/aishell/s1/local/test_hub.sh
  examples/librispeech/s1/README.md
  examples/wenetspeech/README.md
  examples/wenetspeech/asr1/.gitignore
  examples/wenetspeech/asr1/README.md
  examples/wenetspeech/asr1/local/data.sh
  examples/wenetspeech/asr1/local/test.sh
  examples/wenetspeech/asr1/local/wenetspeech_data_prep.sh
  paddlespeech/s2t/frontend/featurizer/text_featurizer.py
  paddlespeech/s2t/models/u2/u2.py
Due: auto add label=Example, auto add label=README

pack model
  examples/wenetspeech/asr1/README.md
  examples/wenetspeech/asr1/RESULTS.md
  examples/wenetspeech/asr1/utils
  utils/pack_model.sh
  utils/show_results.sh
Due: auto add label=Example, auto add label=README

update pack model tool
  utils/pack_model.sh
Due: none

format data support multi output
  examples/ted_en_zh/t0/run.sh
  utils/format_data.py
Due: auto add label=Example

new format data support ds2/st
  examples/dataset/ted_en_zh/ted_en_zh.py
  examples/ted_en_zh/t0/local/data.sh
  paddlespeech/s2t/io/collator.py
  paddlespeech/s2t/io/dataset.py
Due: auto add label=Example

add aishell3/vc1 readme, add csmsc/voc1 readme
  examples/aishell3/tts3/README.md
  examples/aishell3/vc0/README.md
  examples/aishell3/vc1/README.md
  examples/aishell3/voc1/README.md
  examples/csmsc/tts2/README.md
  examples/csmsc/tts3/README.md
  examples/csmsc/voc1/README.md
  examples/csmsc/voc3/README.md
  examples/csmsc/voc3/conf/finetune.yaml
  examples/csmsc/voc3/finetune.sh
  examples/ljspeech/tts0/README.md
  examples/ljspeech/tts1/README.md
  examples/ljspeech/tts3/README.md
  examples/ljspeech/voc0/README.md
  examples/ljspeech/voc1/README.md
  examples/vctk/tts3/README.md
  examples/vctk/voc1/README.md
Due: auto add label=Example, auto add label=README

fix urls
  README.md
  demos/metaverse/run.sh
  demos/story_talker/run.sh
  demos/style_fs2/run.sh
  docs/source/released_model.md
  docs/source/tts/demo.rst
  examples/aishell3/tts3/README.md
  examples/aishell3/vc0/README.md
  examples/aishell3/vc1/README.md
  examples/aishell3/voc1/README.md
  examples/csmsc/tts2/README.md
  examples/csmsc/tts3/README.md
  examples/csmsc/voc1/README.md
  examples/csmsc/voc3/README.md
  examples/ljspeech/tts0/README.md
  examples/ljspeech/tts1/README.md
  examples/ljspeech/tts3/README.md
  examples/ljspeech/voc0/README.md
  examples/ljspeech/voc1/README.md
  examples/other/ge2e/README.md
  examples/vctk/tts3/README.md
  examples/vctk/voc1/README.md
  tests/chains/speedyspeech/prepare.sh
Due: auto add label=Example, auto add label=README

Update README.md
  examples/aishell3/vc0/README.md
Due: auto add label=Example, auto add label=README

kaldi feat dither when train
  docs/source/released_model.md
  paddlespeech/s2t/frontend/featurizer/text_featurizer.py
  paddlespeech/s2t/transform/spectrogram.py
Due: none

fix format
  examples/aishell/asr1/README.md
  examples/dataset/aishell/aishell.py
  examples/dataset/ted_en_zh/ted_en_zh.py
  examples/dataset/thchs30/thchs30.py
  examples/dataset/timit/timit_kaldi_standard_split.py
  examples/librispeech/asr1/README.md
  examples/timit/README.md
  examples/wenetspeech/README.md
  examples/wenetspeech/asr1/RESULTS.md
  examples/wenetspeech/asr1/local/extract_meta.py
  examples/wenetspeech/asr1/local/process_opus.py
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/frontend/featurizer/text_featurizer.py
  paddlespeech/s2t/transform/spectrogram.py
Due: auto add label=Example, auto add label=README

Path conditions:
  auto add label=enhancement: any of: ^deepspeech/
  auto add label=Example: any of: ^examples/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
