Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

Fix a bug in g2pW
  docs/source/reference.md
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
Due: auto add label=T2S, auto add label=Documentation

set window_size None
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
Due: auto add label=T2S

Update audio_handler.py
  paddlespeech/server/utils/audio_handler.py
Due: auto add label=Server

update g2pW dict
  paddlespeech/resource/pretrained_models.py
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
  paddlespeech/t2s/frontend/polyphonic.yaml
Due: auto add label=T2S

fix preprocess bug, add hifigan_csmsc decoder, update readme
  examples/zh_en_tts/tts3/README.md
  examples/zh_en_tts/tts3/local/inference.sh
  examples/zh_en_tts/tts3/local/ort_predict.sh
  examples/zh_en_tts/tts3/local/synthesize.sh
  examples/zh_en_tts/tts3/local/synthesize_e2e.sh
  examples/zh_en_tts/tts3/run.sh
  paddlespeech/t2s/exps/fastspeech2/preprocess.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

update readme
  examples/zh_en_tts/tts3/README.md
Due: auto add label=Example, auto add label=README

Update README.md
  examples/other/g2p/README.md
Due: auto add label=Example, auto add label=README

fix save && effect test
  paddlespeech/audio/backends/sox_io_backend.py
  paddlespeech/audio/sox_effects/sox_effects.py
  paddlespeech/audio/src/pybind/pybind.cpp
  paddlespeech/audio/src/pybind/sox/effects_chain.cpp
  paddlespeech/audio/utils/sox_utils.py
  tests/unit/assets/sox_effect_test_args.jsonl
  tests/unit/audio/backends/sox_io/save_test.py
  tests/unit/audio/backends/sox_io/smoke_test.py
  tests/unit/audio/backends/sox_io/sox_effect_test.py
  tests/unit/common_utils/__init__.py
  tests/unit/common_utils/case_utils.py
  tests/unit/common_utils/parameterized_utils.py
  tests/unit/common_utils/wav_utils.py
Due: auto add label=Test

update mix tts
  paddlespeech/cli/tts/infer.py
  paddlespeech/resource/pretrained_models.py
  tests/unit/cli/test_cli.sh
Due: auto add label=CLI, auto add label=Test

add copyrigh
  paddlespeech/audio/sox_effects/sox_effects.py
  tests/unit/audio/backends/sox_io/sox_effect_test.py
Due: auto add label=Test

fix typo
  paddlespeech/audio/sox_effects/sox_effects.py
  paddlespeech/audio/src/pybind/sox/io.cpp
  paddlespeech/audio/src/pybind/sox/types.h
  tests/unit/audio/backends/sox_io/save_test.py
  tests/unit/common_utils/case_utils.py
Due: auto add label=Test

format g2pw
  paddlespeech/t2s/frontend/g2pw/dataset.py
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
  paddlespeech/t2s/frontend/g2pw/utils.py
  paddlespeech/t2s/frontend/zh_frontend.py
Due: auto add label=T2S

modify info test
  paddlespeech/audio/backends/sox_io_backend.py
  paddlespeech/audio/src/pybind/sox/io.cpp
  paddlespeech/audio/src/pybind/sox/io.h
  tests/unit/audio/backends/sox_io/info_test.py
  tests/unit/audio/backends/sox_io/testdata
Due: auto add label=Test

code for training vits voice clone on aishell3.
  README.md
  examples/aishell3/vits-vc/README.md
  examples/aishell3/vits-vc/conf/default.yaml
  examples/aishell3/vits-vc/local/preprocess.sh
  examples/aishell3/vits-vc/local/synthesize.sh
  examples/aishell3/vits-vc/local/train.sh
  examples/aishell3/vits-vc/local/voice_cloning.sh
  examples/aishell3/vits-vc/path.sh
  examples/aishell3/vits-vc/run.sh
  examples/aishell3/vits/README.md
  examples/aishell3/vits/conf/default.yaml
  examples/aishell3/vits/local/preprocess.sh
  examples/aishell3/vits/local/synthesize.sh
  examples/aishell3/vits/local/synthesize_e2e.sh
  examples/aishell3/vits/local/train.sh
  examples/aishell3/vits/path.sh
  examples/aishell3/vits/run.sh
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/exps/vits/synthesize.py
  paddlespeech/t2s/exps/vits/synthesize_e2e.py
  paddlespeech/t2s/exps/vits/train.py
  paddlespeech/t2s/exps/vits/voice_cloning.py
  paddlespeech/t2s/models/vits/generator.py
  paddlespeech/t2s/models/vits/vits.py
  paddlespeech/t2s/models/vits/vits_updater.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

fix filemode on vits examples.
  examples/aishell3/vits-vc/local/preprocess.sh
  examples/aishell3/vits-vc/local/synthesize.sh
  examples/aishell3/vits-vc/local/train.sh
  examples/aishell3/vits-vc/local/voice_cloning.sh
  examples/aishell3/vits-vc/path.sh
  examples/aishell3/vits-vc/run.sh
  examples/aishell3/vits/local/preprocess.sh
  examples/aishell3/vits/local/synthesize.sh
  examples/aishell3/vits/local/synthesize_e2e.sh
  examples/aishell3/vits/local/train.sh
  examples/aishell3/vits/path.sh
  examples/aishell3/vits/run.sh
Due: auto add label=Example

fix point bug, test=tts
  paddlespeech/t2s/frontend/mix_frontend.py
Due: auto add label=T2S

add soundfile backend
  CMakeLists.txt
  paddlespeech/audio/backends/soundfile_backend.py
  tests/unit/audio/backends/common.py
  tests/unit/audio/backends/soundfile/common.py
  tests/unit/audio/backends/soundfile/info_test.py
  tests/unit/audio/backends/soundfile/load_test.py
  tests/unit/audio/backends/soundfile/save_test.py
  tests/unit/audio/backends/sox_io/info_test.py
Due: auto add label=Test

fix voice cloning of vits.
  examples/aishell3/vits-vc/README.md
  examples/aishell3/vits-vc/local/voice_cloning.sh
  examples/aishell3/vits-vc/run.sh
  paddlespeech/t2s/exps/vits/synthesize.py
  paddlespeech/t2s/exps/vits/voice_cloning.py
  paddlespeech/t2s/models/vits/generator.py
  paddlespeech/t2s/models/vits/vits.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

update readme for vits.
  README.md
  README_cn.md
  examples/aishell3/vits-vc/README.md
  examples/aishell3/vits/README.md
Due: auto add label=Example, auto add label=README

update sampler
  paddlespeech/t2s/datasets/sampler.py
  paddlespeech/t2s/exps/ernie_sat/normalize.py
  paddlespeech/t2s/exps/ernie_sat/preprocess.py
  paddlespeech/t2s/exps/ernie_sat/train.py
  paddlespeech/t2s/training/updaters/standard_updater.py
Due: auto add label=T2S

add ernie-sat sampler
  paddlespeech/t2s/datasets/sampler.py
  paddlespeech/t2s/exps/ernie_sat/normalize.py
  paddlespeech/t2s/exps/ernie_sat/preprocess.py
  paddlespeech/t2s/exps/ernie_sat/train.py
  paddlespeech/t2s/training/updaters/standard_updater.py
Due: auto add label=T2S

make soundfile compatible
  examples/voxceleb/sv0/local/make_rirs_noise_csv_dataset_from_json.py
  examples/voxceleb/sv0/local/make_vox_csv_dataset_from_json.py
  paddlespeech/audio/__init__.py
  paddlespeech/audio/backends/soundfile_backend.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/kws/infer.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/cls/exps/panns/deploy/predict.py
  paddlespeech/server/engine/vector/python/vector_engine.py
  paddlespeech/vector/exps/ecapa_tdnn/extract_emb.py
  paddlespeech/vector/io/dataset.py
  paddlespeech/vector/io/dataset_from_json.py
  tests/unit/audio/features/base.py
Due: auto add label=Vector, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Test

fix tone sand_hi bugs for Chinese frontend
  examples/other/g2p/README.md
  paddlespeech/resource/pretrained_models.py
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
  paddlespeech/t2s/frontend/polyphonic.yaml
  paddlespeech/t2s/frontend/tone_sandhi.py
  paddlespeech/t2s/frontend/zh_frontend.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

fix stats bugs
  paddlespeech/cli/base_commands.py
  paddlespeech/server/bin/paddlespeech_server.py
Due: auto add label=CLI, auto add label=Server

update readme and add aistudio demo, test=doc
  README.md
  README_cn.md
Due: auto add label=README

update readme and add aistudio demo, test=doc (#2270)
  README.md
  README_cn.md
Due: auto add label=README

Update setup.py
  setup.py
Due: auto add label=Installation

Update README.md
  examples/aishell/asr0/README.md
Due: auto add label=Example, auto add label=README

update readme for mix tts, test=doc
  README.md
  README_cn.md
  demos/text_to_speech/README.md
  demos/text_to_speech/README_cn.md
Due: auto add label=Demo, auto add label=README

wav2vec develop
  examples/librispeech/asr3/.gitignore
  examples/librispeech/asr3/cmd.sh
  examples/librispeech/asr3/conf/preprocess.yaml
  examples/librispeech/asr3/conf/tuning/chunk_decode.yaml
  examples/librispeech/asr3/conf/tuning/decode.yaml
  examples/librispeech/asr3/conf/wav2vec2ASR.yaml
  examples/librispeech/asr3/local/data.sh
  examples/librispeech/asr3/local/train.sh
  examples/librispeech/asr3/path.sh
  examples/librispeech/asr3/run.sh
  examples/librispeech/asr3/utils
  paddlespeech/audio/transform/spectrogram.py
  paddlespeech/audio/transform/transformation.py
  paddlespeech/s2t/exps/wav2vec2/bin/__init__.py
  paddlespeech/s2t/exps/wav2vec2/bin/train.py
  paddlespeech/s2t/exps/wav2vec2/model.py
  paddlespeech/s2t/models/wav2vec2/__init__.py
  paddlespeech/s2t/models/wav2vec2/modeling_outputs.py
  paddlespeech/s2t/models/wav2vec2/modeling_wav2vec2.py
  paddlespeech/s2t/models/wav2vec2/speechbrain/__init__.py
  paddlespeech/s2t/models/wav2vec2/speechbrain/lobes/__init__.py
  paddlespeech/s2t/models/wav2vec2/speechbrain/lobes/augment.py
  paddlespeech/s2t/models/wav2vec2/speechbrain/lobes/models/VanillaNN.py
  paddlespeech/s2t/models/wav2vec2/speechbrain/lobes/models/__init__.py
  paddlespeech/s2t/models/wav2vec2/speechbrain/nnet/__init__.py
  paddlespeech/s2t/models/wav2vec2/speechbrain/nnet/containers.py
  paddlespeech/s2t/models/wav2vec2/speechbrain/nnet/linear.py
  paddlespeech/s2t/models/wav2vec2/speechbrain/processing/signal_processing.py
  paddlespeech/s2t/models/wav2vec2/speechbrain/processing/speech_augmentation.py
Due: auto add label=S2T, auto add label=Example
