Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

Fix mix front (#2493)
  paddlespeech/t2s/frontend/mix_frontend.py
Due: auto add label=T2S

fix bug
  paddlespeech/s2t/exps/u2/bin/quant.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/server/engine/asr/online/python/asr_engine.py
Due: auto add label=S2T, auto add label=Server

Fix mix front (#2493) (#2501)
  paddlespeech/t2s/frontend/mix_frontend.py
Due: auto add label=T2S

fix attn can not train
  paddlespeech/s2t/modules/attention.py
Due: auto add label=S2T

fix masked_fill which will nan in trainning
  paddlespeech/s2t/__init__.py
Due: auto add label=S2T

use reverse_weight in decode.yaml
  docs/source/released_model.md
  paddlespeech/resource/pretrained_models.py
  paddlespeech/s2t/exps/u2/bin/quant.py
  paddlespeech/s2t/exps/u2/bin/test_wav.py
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/server/engine/asr/online/python/asr_engine.py
Due: auto add label=S2T, auto add label=Server, auto add label=Documentation

fix u2pp model version number
  paddlespeech/resource/pretrained_models.py
Due: none

refactor speechx cmake
  speechx/CMakeLists.txt
  speechx/build.sh
  speechx/cmake/absl.cmake
  speechx/cmake/boost.cmake
  speechx/cmake/eigen.cmake
  speechx/cmake/gflags.cmake
  speechx/cmake/glog.cmake
  speechx/cmake/gtest.cmake
  speechx/cmake/kenlm.cmake
  speechx/cmake/libsndfile.cmake
  speechx/cmake/openblas.cmake
  speechx/cmake/openfst.cmake
  speechx/cmake/paddleinference.cmake
Due: auto add label=Deployment

format code
  speechx/speechx/base/basic_types.h
  speechx/speechx/base/macros.h
  speechx/speechx/codelab/nnet/ds2_model_test_main.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.h
  speechx/speechx/decoder/ctc_tlg_decoder.cc
  speechx/speechx/decoder/param.h
  speechx/speechx/decoder/recognizer.cc
  speechx/speechx/decoder/recognizer_main.cc
  speechx/speechx/frontend/audio/assembler.cc
  speechx/speechx/frontend/audio/audio_cache.cc
  speechx/speechx/frontend/audio/cmvn.cc
  speechx/speechx/frontend/audio/compute_fbank_main.cc
  speechx/speechx/frontend/audio/compute_linear_spectrogram_main.cc
  speechx/speechx/frontend/audio/data_cache.h
  speechx/speechx/frontend/audio/db_norm.cc
  speechx/speechx/frontend/audio/fbank.cc
  speechx/speechx/frontend/audio/feature_cache.cc
  speechx/speechx/frontend/audio/feature_pipeline.cc
  speechx/speechx/frontend/audio/feature_pipeline.h
  speechx/speechx/frontend/audio/linear_spectrogram.cc
  speechx/speechx/frontend/audio/mfcc.cc
  speechx/speechx/frontend/audio/mfcc.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/paddle_nnet.cc
  speechx/speechx/nnet/paddle_nnet.h
  speechx/speechx/protocol/websocket/websocket_client.h
  speechx/speechx/protocol/websocket/websocket_client_main.cc
  speechx/speechx/protocol/websocket/websocket_server.h
  speechx/speechx/protocol/websocket/websocket_server_main.cc
  speechx/speechx/utils/file_utils.cc
  speechx/speechx/utils/file_utils.h
  third_party/ctc_decoders/ctc_beam_search_decoder.cpp
  third_party/ctc_decoders/ctc_greedy_decoder.cpp
  third_party/ctc_decoders/decoder_utils.h
  third_party/ctc_decoders/scorer.cpp
  third_party/ctc_decoders/scorer.h
Due: auto add label=Deployment

在./example/csmsc/添加tts1分支
  examples/csmsc/tts1/README.md
  examples/csmsc/tts1/conf/default.yaml
  examples/csmsc/tts1/local/preprocess.sh
  examples/csmsc/tts1/local/synthesize.sh
  examples/csmsc/tts1/local/synthesize_e2e.sh
  examples/csmsc/tts1/local/train.sh
  examples/csmsc/tts1/path.sh
  examples/csmsc/tts1/run.sh
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/exps/transformer_tts/preprocess_new.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

add math and macros
  speechx/cmake/paddleinference.cmake
  speechx/speechx/base/common.h
  speechx/speechx/decoder/CMakeLists.txt
  speechx/speechx/decoder/param.h
  speechx/speechx/utils/math.cc
  speechx/speechx/utils/math.h
Due: auto add label=Deployment

using FetchContent_Declare for paddleinference
  speechx/cmake/openblas.cmake
  speechx/cmake/paddleinference.cmake
Due: auto add label=Deployment

add math and rename ds2 nnet
  speechx/speechx/base/common.h
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder_main.cc
  speechx/speechx/decoder/recognizer.h
  speechx/speechx/decoder/tlg_decoder_main.cc
  speechx/speechx/nnet/CMakeLists.txt
  speechx/speechx/nnet/ds2_nnet.cc
  speechx/speechx/nnet/ds2_nnet.h
  speechx/speechx/nnet/ds2_nnet_main.cc
  speechx/speechx/utils/math.cc
  speechx/speechx/utils/math.h
Due: auto add label=Deployment

update install.md
  README.md
  docs/source/install.md
Due: auto add label=README, auto add label=Documentation

update dependency of paddle
  README.md
  README_cn.md
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  demos/streaming_tts_server/README.md
  demos/streaming_tts_server/README_cn.md
  docker/ubuntu16-gpu/Dockerfile
  docs/source/install.md
  docs/source/install_cn.md
  paddlespeech/server/tests/asr/online/README.md
  paddlespeech/server/tests/asr/online/README_cn.md
Due: auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=Docker

add u2 nnet, u2 nnet main, codelab, and can compile
  examples/wenetspeech/asr1/local/test_wav.sh
  paddlespeech/s2t/exps/u2/bin/test_wav.py
  speechx/.clang-format
  speechx/CMakeLists.txt
  speechx/README.md
  speechx/cmake/gflags.cmake
  speechx/cmake/gtest.cmake
  speechx/examples/codelab/feat/.gitignore
  speechx/examples/codelab/feat/path.sh
  speechx/examples/codelab/feat/run.sh
  speechx/examples/codelab/u2nnet/.gitignore
  speechx/examples/codelab/u2nnet/README.md
  speechx/examples/codelab/u2nnet/path.sh
  speechx/examples/codelab/u2nnet/run.sh
  speechx/examples/codelab/u2nnet/valgrind.sh
  speechx/examples/u2pp_ol/README.md
  speechx/speechx/base/common.h
  speechx/speechx/codelab/glog/glog_logtostderr_main.cc
  speechx/speechx/codelab/nnet/ds2_model_test_main.cc
  speechx/speechx/decoder/CMakeLists.txt
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder_main.cc
  speechx/speechx/decoder/nnet_logprob_decoder_main.cc
  speechx/speechx/decoder/recognizer_main.cc
  speechx/speechx/decoder/tlg_decoder_main.cc
  speechx/speechx/frontend/audio/CMakeLists.txt
  speechx/speechx/frontend/audio/cmvn_json2kaldi_main.cc
  speechx/speechx/frontend/audio/compute_fbank_main.cc
  speechx/speechx/frontend/audio/compute_linear_spectrogram_main.cc
  speechx/speechx/model/CMakeLists.txt
  speechx/speechx/nnet/CMakeLists.txt
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/decodable.h
  speechx/speechx/nnet/u2_nnet.cc
  speechx/speechx/nnet/u2_nnet.h
  speechx/speechx/nnet/u2_nnet_main.cc
  speechx/speechx/protocol/CMakeLists.txt
  speechx/speechx/protocol/websocket/CMakeLists.txt
  speechx/speechx/utils/CMakeLists.txt
  speechx/speechx/utils/math.cc
  speechx/tools/venv.sh
Due: auto add label=S2T, auto add label=Example, auto add label=README, auto add label=Deployment

support wav2vec2ASR on librispeech
  examples/librispeech/asr3/README.md
  examples/librispeech/asr3/RESULTS.md
  examples/librispeech/asr3/cmd.sh
  examples/librispeech/asr3/conf/preprocess.yaml
  examples/librispeech/asr3/conf/tuning/decode.yaml
  examples/librispeech/asr3/conf/wav2vec2ASR.yaml
  examples/librispeech/asr3/local/test.sh
  examples/librispeech/asr3/local/test_wav.sh
  examples/librispeech/asr3/local/train.sh
  examples/librispeech/asr3/path.sh
  examples/librispeech/asr3/run.sh
  examples/librispeech/asr3/utils
  paddlespeech/s2t/exps/wav2vec2/bin/__init__.py
  paddlespeech/s2t/exps/wav2vec2/bin/test.py
  paddlespeech/s2t/exps/wav2vec2/bin/test_wav.py
  paddlespeech/s2t/exps/wav2vec2/bin/train.py
  paddlespeech/s2t/exps/wav2vec2/model.py
  paddlespeech/s2t/models/wav2vec2/__init__.py
  paddlespeech/s2t/models/wav2vec2/modules/VanillaNN.py
  paddlespeech/s2t/models/wav2vec2/modules/activations.py
  paddlespeech/s2t/models/wav2vec2/modules/containers.py
  paddlespeech/s2t/models/wav2vec2/modules/linear.py
  paddlespeech/s2t/models/wav2vec2/modules/modeling_outputs.py
  paddlespeech/s2t/models/wav2vec2/modules/modeling_wav2vec2.py
  paddlespeech/s2t/models/wav2vec2/processing/signal_processing.py
  paddlespeech/s2t/models/wav2vec2/processing/speech_augmentation.py
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
Due: auto add label=S2T, auto add label=Example, auto add label=README

format wav2vec2 demo
  .flake8
  examples/librispeech/README.md
  paddlespeech/audio/transform/spectrogram.py
  paddlespeech/audio/transform/transformation.py
  paddlespeech/s2t/exps/wav2vec2/bin/test_wav.py
  paddlespeech/s2t/exps/wav2vec2/model.py
  paddlespeech/s2t/models/wav2vec2/modules/VanillaNN.py
  paddlespeech/s2t/models/wav2vec2/modules/activations.py
  paddlespeech/s2t/models/wav2vec2/modules/containers.py
  paddlespeech/s2t/models/wav2vec2/modules/linear.py
  paddlespeech/s2t/models/wav2vec2/modules/modeling_outputs.py
  paddlespeech/s2t/models/wav2vec2/modules/modeling_wav2vec2.py
  paddlespeech/s2t/models/wav2vec2/processing/signal_processing.py
  paddlespeech/s2t/models/wav2vec2/processing/speech_augmentation.py
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
Due: auto add label=S2T, auto add label=Example, auto add label=README

format wav2vec2 demo
  examples/librispeech/asr3/local/data.sh
Due: auto add label=Example

Update install_cn.md
  docs/source/install_cn.md
Due: auto add label=Documentation

Update install.md
  docs/source/install.md
Due: auto add label=Documentation

add nnetout struct
  speechx/examples/ds2_ol/aishell/run.sh
  speechx/speechx/nnet/CMakeLists.txt
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/decodable.h
  speechx/speechx/nnet/ds2_nnet.cc
  speechx/speechx/nnet/ds2_nnet.h
  speechx/speechx/nnet/nnet_itf.h
  speechx/speechx/nnet/u2_nnet.cc
  speechx/speechx/nnet/u2_nnet.h
Due: auto add label=Deployment

fix u2 nnet out frames num
  speechx/.gitignore
  speechx/speechx/nnet/nnet_itf.h
  speechx/speechx/nnet/u2_nnet.cc
  speechx/speechx/nnet/u2_nnet.h
  speechx/speechx/nnet/u2_nnet_main.cc
  speechx/tools/clang-format.sh
Due: auto add label=Deployment

u2 nnet get encoder out and align with py
  speechx/examples/codelab/u2nnet/run.sh
  speechx/speechx/nnet/decodable.h
  speechx/speechx/nnet/ds2_nnet.h
  speechx/speechx/nnet/nnet_itf.h
  speechx/speechx/nnet/u2_nnet.cc
  speechx/speechx/nnet/u2_nnet.h
  speechx/speechx/nnet/u2_nnet_main.cc
Due: auto add label=Deployment

format wav2vec2 demo
  examples/librispeech/asr3/conf/preprocess.yaml
  examples/librispeech/asr3/conf/tuning/decode.yaml
  examples/librispeech/asr3/run.sh
  paddlespeech/audio/transform/spectrogram.py
  paddlespeech/s2t/exps/wav2vec2/bin/test.py
  paddlespeech/s2t/exps/wav2vec2/model.py
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
  paddlespeech/s2t/modules/ctc.py
Due: auto add label=S2T, auto add label=Example

update install introduction
  README.md
  README_cn.md
  docs/source/install.md
  docs/source/install_cn.md
Due: auto add label=README, auto add label=Documentation

freeze wav2vec2=True, change loss report and update README.md
  examples/librispeech/asr3/README.md
  examples/librispeech/asr3/conf/wav2vec2ASR.yaml
  paddlespeech/s2t/exps/wav2vec2/model.py
Due: auto add label=S2T, auto add label=Example, auto add label=README

fix LogLikelihood and add AdvanceChunk
  speechx/speechx/base/common.h
  speechx/speechx/frontend/audio/cmvn_json2kaldi_main.cc
  speechx/speechx/kaldi/decoder/decodable-itf.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/decodable.h
  speechx/speechx/nnet/ds2_nnet.h
  speechx/speechx/nnet/nnet_itf.h
  speechx/speechx/nnet/u2_nnet.h
  speechx/speechx/nnet/u2_nnet_main.cc
Due: auto add label=Deployment

unify model opts; add attention rescore in decodable; rename ds2 ctc beam search
  speechx/examples/codelab/decoder/run.sh
  speechx/examples/ds2_ol/aishell/run.sh
  speechx/examples/ds2_ol/aishell/run_fbank.sh
  speechx/speechx/decoder/CMakeLists.txt
  speechx/speechx/decoder/ctc_beam_search_decoder.h
  speechx/speechx/decoder/ctc_beam_search_decoder_main.cc
  speechx/speechx/decoder/ctc_prefix_beam_search.cc
  speechx/speechx/decoder/param.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/decodable.h
  speechx/speechx/nnet/ds2_nnet.h
  speechx/speechx/nnet/nnet_itf.h
  speechx/speechx/nnet/u2_nnet.cc
  speechx/speechx/nnet/u2_nnet.h
  speechx/speechx/nnet/u2_nnet_main.cc
Due: auto add label=Deployment

refactor ctc opts, extract decoder interface, add ctc beamsearch score
  speechx/examples/ds2_ol/aishell/run.sh
  speechx/examples/ds2_ol/aishell/run_fbank.sh
  speechx/speechx/decoder/CMakeLists.txt
  speechx/speechx/decoder/ctc_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_beam_search_opt.h
  speechx/speechx/decoder/ctc_prefix_beam_search.cc
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder.h
  speechx/speechx/decoder/ctc_prefix_beam_search_score.h
  speechx/speechx/decoder/ctc_tlg_decoder.cc
  speechx/speechx/decoder/ctc_tlg_decoder.h
  speechx/speechx/decoder/ctc_tlg_decoder_main.cc
  speechx/speechx/decoder/decoder_itf.h
  speechx/speechx/nnet/decodable.h
  speechx/speechx/nnet/ds2_nnet.h
Due: auto add label=Deployment

simple ctc prefix beam search compile ok
  speechx/speechx/base/common.h
  speechx/speechx/base/macros.h
  speechx/speechx/decoder/CMakeLists.txt
  speechx/speechx/decoder/ctc_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.h
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder.h
  speechx/speechx/decoder/ctc_prefix_beam_search_score.h
  speechx/speechx/decoder/ctc_tlg_decoder.h
  speechx/speechx/decoder/decoder_itf.h
  speechx/speechx/utils/math.cc
Due: auto add label=Deployment

add mix finetune, test=tts
  examples/other/tts_finetune/tts3/README.md
  examples/other/tts_finetune/tts3/local/extract_feature.py
  examples/other/tts_finetune/tts3/run.sh
  examples/other/tts_finetune/tts3/run_mix.sh
Due: auto add label=Example, auto add label=README

updata readme, test=tts
  examples/other/tts_finetune/tts3/README.md
Due: auto add label=Example, auto add label=README

[tts] add mix finetune (#2525)
  examples/other/tts_finetune/tts3/README.md
  examples/other/tts_finetune/tts3/local/extract_feature.py
  examples/other/tts_finetune/tts3/run.sh
  examples/other/tts_finetune/tts3/run_mix.sh
Due: auto add label=Example, auto add label=README

release wav2vec2ASR and wav2vec2.0 model, update Recent Update
  README.md
  README_cn.md
  docs/source/released_model.md
Due: auto add label=README, auto add label=Documentation

add triton tts server
  demos/streaming_tts_serving_fastdeploy/readme.txt
  demos/streaming_tts_serving_fastdeploy/streaming_tts_serving/1/model.py
  demos/streaming_tts_serving_fastdeploy/streaming_tts_serving/config.pbtxt
  demos/streaming_tts_serving_fastdeploy/streaming_tts_serving/stream_client.py
Due: auto add label=Demo

change readme
  demos/streaming_tts_serving_fastdeploy/README.md
  demos/streaming_tts_serving_fastdeploy/README_cn.md
  demos/streaming_tts_serving_fastdeploy/readme.txt
Due: auto add label=Demo, auto add label=README

ctc prefix beam search for u2, test can run
  speechx/examples/codelab/u2/.gitignore
  speechx/examples/codelab/u2/README.md
  speechx/examples/codelab/u2/local/decode.sh
  speechx/examples/codelab/u2/local/feat.sh
  speechx/examples/codelab/u2/local/nnet.sh
  speechx/examples/codelab/u2/path.sh
  speechx/examples/codelab/u2/run.sh
  speechx/examples/codelab/u2nnet/.gitignore
  speechx/examples/codelab/u2nnet/README.md
  speechx/examples/codelab/u2nnet/valgrind.sh
  speechx/speechx/decoder/CMakeLists.txt
  speechx/speechx/decoder/ctc_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.h
  speechx/speechx/decoder/ctc_beam_search_opt.h
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder.h
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder_main.cc
  speechx/speechx/decoder/ctc_prefix_beam_search_result.h
  speechx/speechx/decoder/ctc_tlg_decoder.cc
  speechx/speechx/decoder/ctc_tlg_decoder.h
  speechx/speechx/decoder/decoder_itf.h
  speechx/speechx/utils/math.cc
Due: auto add label=README, auto add label=Deployment

update reference.md and released_model.md
  docs/source/reference.md
  docs/source/released_model.md
Due: auto add label=Documentation

format reference.md
  docs/source/reference.md
Due: auto add label=Documentation
