Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

fix
  runtime/engine/asr/recognizer/recognizer_controller_impl.h
Due: none

../../../paddlespeech/s2t/training/trainer.py
  paddlespeech/s2t/exps/u2/model.py
Due: auto add label=S2T

add amp for U2 conformer.
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/training/trainer.py
Due: auto add label=S2T

fix scaler save
  paddlespeech/s2t/training/trainer.py
Due: auto add label=S2T

fix scaler save and load.
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/training/trainer.py
Due: auto add label=S2T

mv scaler.unscale_ blow grad_clip.
  paddlespeech/s2t/exps/u2/model.py
Due: auto add label=S2T

[engine]add recognizer api && clean params && make a shared decoder resource (#3165)
  runtime/engine/asr/decoder/ctc_beam_search_opt.h
  runtime/engine/asr/decoder/ctc_prefix_beam_search_decoder.cc
  runtime/engine/asr/decoder/ctc_prefix_beam_search_decoder.h
  runtime/engine/asr/decoder/ctc_prefix_beam_search_decoder_main.cc
  runtime/engine/asr/decoder/ctc_tlg_decoder.cc
  runtime/engine/asr/decoder/ctc_tlg_decoder.h
  runtime/engine/asr/decoder/param.h
  runtime/engine/asr/nnet/nnet_itf.h
  runtime/engine/asr/nnet/nnet_producer.cc
  runtime/engine/asr/recognizer/CMakeLists.txt
  runtime/engine/asr/recognizer/recognizer.cc
  runtime/engine/asr/recognizer/recognizer.h
  runtime/engine/asr/recognizer/recognizer_batch_main2.cc
  runtime/engine/asr/recognizer/recognizer_controller.cc
  runtime/engine/asr/recognizer/recognizer_controller_impl.cc
  runtime/engine/asr/recognizer/recognizer_controller_impl.h
  runtime/engine/asr/recognizer/recognizer_impl.cc
  runtime/engine/asr/recognizer/recognizer_impl.h
  runtime/engine/asr/recognizer/recognizer_instance.cc
  runtime/engine/asr/recognizer/recognizer_instance.h
  runtime/engine/asr/recognizer/recognizer_resource.h
  runtime/engine/common/utils/file_utils.cc
  runtime/engine/common/utils/file_utils.h
  runtime/examples/u2pp_ol/wenetspeech/local/decode.sh
  runtime/examples/u2pp_ol/wenetspeech/local/recognizer_quant.sh
  runtime/examples/u2pp_ol/wenetspeech/local/recognizer_wfst.sh
Due: none

add coarse preprocess.py and normalize.py
  examples/vctk/vc3/local/preprocess.sh
  paddlespeech/t2s/datasets/data_table.py
  paddlespeech/t2s/exps/starganv2_vc/normalize.py
  paddlespeech/t2s/exps/starganv2_vc/preprocess.py
Due: auto add label=T2S, auto add label=Example

update base in preprocess.py
  paddlespeech/t2s/exps/starganv2_vc/preprocess.py
  paddlespeech/t2s/exps/starganv2_vc/vc.py
Due: auto add label=T2S

update shape of mapping network
  paddlespeech/t2s/models/starganv2_vc/starganv2_vc.py
Due: auto add label=T2S

update preprocess.sh
  examples/vctk/vc3/local/preprocess.sh
  paddlespeech/t2s/exps/starganv2_vc/vc.py
Due: auto add label=T2S, auto add label=Example

update preprocess.py
  paddlespeech/t2s/exps/starganv2_vc/preprocess.py
Due: auto add label=T2S

review
  examples/librispeech/asr3/conf/hubertASR.yaml
  examples/librispeech/asr3/run.sh
  paddlespeech/s2t/exps/hubert/model.py
  paddlespeech/s2t/models/hubert/hubert_ASR.py
  paddlespeech/s2t/models/hubert/modules/hubert_model.py
  paddlespeech/s2t/models/wav2vec2/modules/wav2vec2_model.py
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
Due: auto add label=S2T, auto add label=Example

update conf
  examples/vctk/vc3/conf/default.yaml
Due: auto add label=Example

[TTS]add StarGANv2VC preprocess (#3163)
  examples/vctk/vc3/conf/default.yaml
  examples/vctk/vc3/local/preprocess.sh
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/datasets/data_table.py
  paddlespeech/t2s/exps/starganv2_vc/normalize.py
  paddlespeech/t2s/exps/starganv2_vc/preprocess.py
  paddlespeech/t2s/exps/starganv2_vc/vc.py
  paddlespeech/t2s/models/starganv2_vc/starganv2_vc.py
Due: auto add label=T2S, auto add label=Example

chmod
  examples/csmsc/jets/path.sh
  examples/csmsc/jets/run.sh
Due: auto add label=Example

[TTS] [黑客松]Add JETS (#3109)
  examples/csmsc/jets/README.md
  examples/csmsc/jets/conf/default.yaml
  examples/csmsc/jets/local/inference.sh
  examples/csmsc/jets/local/preprocess.sh
  examples/csmsc/jets/local/synthesize.sh
  examples/csmsc/jets/local/synthesize_e2e.sh
  examples/csmsc/jets/local/train.sh
  examples/csmsc/jets/path.sh
  examples/csmsc/jets/run.sh
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/exps/jets/__init__.py
  paddlespeech/t2s/exps/jets/inference.py
  paddlespeech/t2s/exps/jets/normalize.py
  paddlespeech/t2s/exps/jets/preprocess.py
  paddlespeech/t2s/exps/jets/synthesize.py
  paddlespeech/t2s/exps/jets/synthesize_e2e.py
  paddlespeech/t2s/exps/jets/train.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/models/jets/__init__.py
  paddlespeech/t2s/models/jets/alignments.py
  paddlespeech/t2s/models/jets/generator.py
  paddlespeech/t2s/models/jets/jets.py
  paddlespeech/t2s/models/jets/jets_updater.py
  paddlespeech/t2s/models/jets/length_regulator.py
  paddlespeech/t2s/modules/losses.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

update script
  runtime/examples/u2pp_ol/wenetspeech/RESULTS.md
  runtime/examples/u2pp_ol/wenetspeech/local/recognizer_quant.sh
  runtime/examples/u2pp_ol/wenetspeech/local/recognizer_wfst.sh
  runtime/examples/u2pp_ol/wenetspeech/local/run_build_tlg.sh
  runtime/examples/u2pp_ol/wenetspeech/path.sh
  runtime/examples/u2pp_ol/wenetspeech/run.sh
Due: none

Update quick_start.md
  docs/source/tts/quick_start.md
Due: auto add label=Documentation

Update quick_start_cn.md
  docs/source/tts/quick_start_cn.md
Due: auto add label=Documentation

Fix progress bar unit.
  paddlespeech/cli/download.py
Due: auto add label=CLI

copyright, notes, example related
  examples/librispeech/asr4/README.md
  examples/librispeech/asr4/cmd.sh
  examples/librispeech/asr4/conf/config.json
  examples/librispeech/asr4/conf/preprocess.yaml
  examples/librispeech/asr4/conf/preprocessor_config.json
  examples/librispeech/asr4/conf/tuning/decode.yaml
  examples/librispeech/asr4/path.sh
  examples/librispeech/asr4/run.sh
  paddlespeech/s2t/exps/hubert/bin/__init__.py
  paddlespeech/s2t/exps/hubert/bin/test.py
  paddlespeech/s2t/exps/hubert/bin/test_wav.py
  paddlespeech/s2t/exps/hubert/bin/train.py
  paddlespeech/s2t/exps/hubert/model.py
  paddlespeech/s2t/models/hubert/hubert_ASR.py
  paddlespeech/s2t/models/hubert/modules/hubert_model.py
  paddlespeech/s2t/models/wav2vec2/modules/wav2vec2_model.py
Due: auto add label=S2T, auto add label=Example, auto add label=README

hubert cli
  paddlespeech/cli/ssl/infer.py
  paddlespeech/resource/model_alias.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/s2t/models/hubert/__init__.py
Due: auto add label=S2T, auto add label=CLI

pre-commit format
  paddlespeech/cli/asr/infer.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/s2t/exps/hubert/model.py
  paddlespeech/s2t/models/hubert/hubert_ASR.py
  paddlespeech/s2t/models/hubert/modules/hubert_model.py
  paddlespeech/s2t/models/wav2vec2/modules/wav2vec2_model.py
Due: auto add label=S2T, auto add label=CLI

Fix parameter.
  paddlespeech/cli/download.py
Due: auto add label=CLI

fix conflicts
  examples/librispeech/asr4/run.sh
  paddlespeech/resource/pretrained_models.py
Due: auto add label=Example

fix conflicts
  examples/librispeech/asr3/run.sh
Due: auto add label=Example

Update quick_start.md (#3175)
  docs/source/tts/quick_start.md
Due: auto add label=Documentation

[BUG] Fix progress bar unit. (#3177)
  paddlespeech/cli/download.py
Due: auto add label=CLI

Update quick_start_cn.md (#3176)
  docs/source/tts/quick_start_cn.md
Due: auto add label=Documentation

fix some trainer
  examples/vctk/vc3/conf/default.yaml
  examples/vctk/vc3/local/train.sh
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/exps/starganv2_vc/train.py
  paddlespeech/t2s/models/starganv2_vc/starganv2_vc_updater.py
Due: auto add label=T2S, auto add label=Example

add reset_parameters
  paddlespeech/t2s/models/starganv2_vc/AuxiliaryASR/model.py
  paddlespeech/t2s/models/starganv2_vc/starganv2_vc.py
  paddlespeech/t2s/modules/nets_utils.py
Due: auto add label=T2S

mv dataset into paddlespeech.dataset
  dataset/aishell/README.md
  dataset/aishell/aishell.py
  dataset/librispeech/librispeech.py
  dataset/mini_librispeech/mini_librispeech.py
  dataset/musan/musan.py
  dataset/rir_noise/rir_noise.py
  dataset/thchs30/thchs30.py
  dataset/timit/timit.py
  dataset/voxceleb/voxceleb1.py
  dataset/voxceleb/voxceleb2.py
  dataset/voxforge/voxforge.py
  demos/audio_searching/src/test_audio_search.py
  demos/audio_searching/src/test_vpr_search.py
  paddlespeech/__init__.py
  paddlespeech/dataset/__init__.py
  paddlespeech/dataset/aishell/README.md
  paddlespeech/dataset/aishell/__init__.py
  paddlespeech/dataset/aishell/aishell.py
  paddlespeech/dataset/download.py
  tests/test_tipc/conformer/scripts/aishell_tiny.py
  utils/manifest_key_value.py
Due: auto add label=Dataset, auto add label=Demo, auto add label=README, auto add label=Test

add aidatatang
  paddlespeech/dataset/aidatatang_200zh/__init__.py
  paddlespeech/dataset/aidatatang_200zh/aidatatang_200zh.py
  paddlespeech/utils/argparse.py
Due: none

add docstring for Discriminator
  paddlespeech/t2s/models/starganv2_vc/starganv2_vc.py
Due: auto add label=T2S

add typehint
  paddlespeech/t2s/models/starganv2_vc/losses.py
Due: auto add label=T2S

fix import
  dataset/aidatatang_200zh/aidatatang_200zh.py
  paddlespeech/dataset/aidatatang_200zh/README.md
Due: auto add label=Dataset, auto add label=README

fix clip bug
  examples/vctk/vc3/local/train.sh
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/exps/starganv2_vc/train.py
  paddlespeech/t2s/models/starganv2_vc/losses.py
  paddlespeech/t2s/models/starganv2_vc/starganv2_vc_updater.py
Due: auto add label=T2S, auto add label=Example

[TTS]StarGANv2 VC fix some trainer bugs, add add reset_parameters (#3182)
  examples/vctk/vc3/conf/default.yaml
  examples/vctk/vc3/local/train.sh
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/exps/starganv2_vc/train.py
  paddlespeech/t2s/models/starganv2_vc/AuxiliaryASR/model.py
  paddlespeech/t2s/models/starganv2_vc/losses.py
  paddlespeech/t2s/models/starganv2_vc/starganv2_vc.py
  paddlespeech/t2s/models/starganv2_vc/starganv2_vc_updater.py
  paddlespeech/t2s/modules/nets_utils.py
Due: auto add label=T2S, auto add label=Example

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
