Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

add scripts for tts code switch
  examples/zh_en_tts/tts3/.gitignore
  examples/zh_en_tts/tts3/README.md
  examples/zh_en_tts/tts3/local/mfa_download.sh
  examples/zh_en_tts/tts3/local/model_download.sh
  examples/zh_en_tts/tts3/run.sh
Due: auto add label=Example, auto add label=README

more comment on tts frontend
  paddlespeech/t2s/assets/__init__.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/frontend/arpabet.py
  paddlespeech/t2s/frontend/polyphonic.yaml
  paddlespeech/t2s/frontend/ssml/__init__.py
  paddlespeech/t2s/frontend/ssml/xml_processor.py
  paddlespeech/t2s/frontend/tone_sandhi.py
  paddlespeech/t2s/frontend/zh_frontend.py
Due: auto add label=T2S

fix librosa==0.8.1 numpy==1.23.5 for paddleaudio align with this version
  audio/setup.py
  setup.py
Due: auto add label=Installation

move ssl into t2s.frontend; fix spk_id for 0-D tensor;
  paddlespeech/t2s/__init__.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/frontend/__init__.py
  paddlespeech/t2s/frontend/mix_frontend.py
Due: auto add label=T2S

add ssml unit test
  .pre-commit-config.yaml
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/frontend/canton_frontend.py
  paddlespeech/t2s/frontend/ssml/xml_processor.py
  paddlespeech/t2s/frontend/zh_frontend.py
  tests/unit/tts/test_ssml.py
Due: auto add label=T2S, auto add label=Test

add en_frontend file
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
  paddlespeech/server/engine/tts/online/python/tts_engine.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/transformer_tts/preprocess.py
  paddlespeech/t2s/exps/transformer_tts/synthesize_e2e.py
  paddlespeech/t2s/frontend/__init__.py
  paddlespeech/t2s/frontend/en_frontend.py
  paddlespeech/t2s/frontend/mix_frontend.py
  paddlespeech/t2s/frontend/phonectic.py
Due: auto add label=T2S, auto add label=Server

add mix frontend test
  paddlespeech/t2s/frontend/mix_frontend.py
  tests/unit/tts/test_mixfrontend.py
Due: auto add label=T2S, auto add label=Test

fix long text oom using ssml; filter comma; update polyphonic
  paddlespeech/t2s/assets/__init__.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/frontend/canton_frontend.py
  paddlespeech/t2s/frontend/en_frontend.py
  paddlespeech/t2s/frontend/mix_frontend.py
  paddlespeech/t2s/frontend/phonectic.py
  paddlespeech/t2s/frontend/polyphonic.py
  paddlespeech/t2s/frontend/polyphonic.yaml
  paddlespeech/t2s/frontend/sing_frontend.py
  paddlespeech/t2s/frontend/ssml/__init__.py
  paddlespeech/t2s/frontend/ssml/xml_processor.py
  paddlespeech/t2s/frontend/tone_sandhi.py
  paddlespeech/t2s/frontend/zh_frontend.py
  tests/unit/tts/test_mixfrontend.py
Due: auto add label=T2S, auto add label=Test

remove print
  paddlespeech/t2s/frontend/polyphonic.py
Due: auto add label=T2S

fix profiler
  paddlespeech/t2s/utils/profiler.py
  tests/test_tipc/benchmark_train.sh
Due: auto add label=T2S, auto add label=Test

hotfix english G2P
  paddlespeech/t2s/assets/sentences_mix.txt
  paddlespeech/t2s/frontend/phonectic.py
  tests/unit/tts/test_mixfrontend.py
  tests/unit/tts/test_ssml.py
Due: auto add label=T2S, auto add label=Test

en frontend unit text
  tests/unit/tts/test_enfrontend.py
Due: auto add label=Test

fix profiler (#3323)
  paddlespeech/t2s/utils/profiler.py
  tests/test_tipc/benchmark_train.sh
Due: auto add label=T2S, auto add label=Test

old grad clip has 0d tensor problem, fix it
  paddlespeech/s2t/exps/deepspeech2/model.py
  paddlespeech/s2t/training/gradclip.py
  paddlespeech/s2t/training/optimizer/__init__.py
  tests/unit/tts/test_ssml.py
Due: auto add label=S2T, auto add label=Test

old grad clip has 0d tensor problem, fix it (#3334)
  paddlespeech/s2t/exps/deepspeech2/model.py
  paddlespeech/s2t/training/gradclip.py
  paddlespeech/s2t/training/optimizer/__init__.py
  tests/unit/tts/test_ssml.py
Due: auto add label=S2T, auto add label=Test

update to py3.8
  README.md
  README_cn.md
  docs/source/install.md
  docs/source/install_cn.md
  docs/topic/package_release/python_package_release.md
  runtime/README.md
  runtime/tools/venv.sh
  tools/Makefile
Due: auto add label=README, auto add label=Documentation, auto add label=Installation

remove fluid.
  paddlespeech/s2t/training/optimizer/adadelta.py
Due: auto add label=S2T

http协议流式语音合成接口响应增加明确的分界点
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
Due: auto add label=Server

同步服务端的修改。
  paddlespeech/server/utils/audio_handler.py
Due: auto add label=Server

add roformer
  examples/aishell/asr1/conf/chunk_roformer.yaml
  examples/aishell/asr1/conf/chunk_roformer_bidecoder.yaml
  paddlespeech/s2t/modules/attention.py
  paddlespeech/s2t/modules/embedding.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/modules/encoder_layer.py
Due: auto add label=S2T, auto add label=Example

fix bugs
  examples/aishell/asr1/conf/chunk_roformer.yaml
  examples/aishell/asr1/conf/chunk_roformer_bidecoder.yaml
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/attention.py
  paddlespeech/s2t/modules/encoder.py
Due: auto add label=S2T, auto add label=Example

add roformer result
  examples/aishell/asr1/RESULTS.md
Due: auto add label=Example

support position interpolation for langer attention context windown length.
  paddlespeech/s2t/modules/embedding.py
Due: auto add label=S2T

RoPE with position interpolation
  paddlespeech/dataset/s2t/avg_model.py
  paddlespeech/s2t/modules/embedding.py
Due: auto add label=S2T

rope for streaming decoding
  examples/aishell/asr1/RESULTS.md
  paddlespeech/s2t/modules/attention.py
  paddlespeech/s2t/modules/embedding.py
  paddlespeech/s2t/modules/encoder.py
Due: auto add label=S2T, auto add label=Example

update result
  examples/aishell/asr1/RESULTS.md
Due: auto add label=Example

fix rotary embeding
  paddlespeech/s2t/modules/attention.py
Due: auto add label=S2T

Update README.md
  README.md
Due: auto add label=README

fix weight decay
  paddlespeech/s2t/training/optimizer/__init__.py
Due: auto add label=S2T

fix develop view confict with model's
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
Due: auto add label=S2T

Optimise an issue with the order of replacement of units, test=tts
  paddlespeech/t2s/frontend/zh_normalization/quantifier.py
Due: auto add label=T2S

部署流式 tts 前端文本调整慢的问题
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
Due: auto add label=Server

少加了个,
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
Due: auto add label=Server

bugfix: audio_len should be 1D, no 0D, which will raise list index out of range error in the following decode process
  paddlespeech/cli/asr/infer.py
Due: auto add label=CLI

Update tts_engine.py
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
Due: auto add label=Server

Add XPU support for SpeedySpeech
  examples/csmsc/tts2/local/inference_xpu.sh
  examples/csmsc/tts2/local/synthesize_e2e_xpu.sh
  examples/csmsc/tts2/local/synthesize_xpu.sh
  examples/csmsc/tts2/local/train_xpu.sh
  examples/csmsc/tts2/run_xpu.sh
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/exps/synthesize_e2e.py
Due: auto add label=T2S, auto add label=Example

fix typos
  paddlespeech/t2s/exps/synthesize_e2e.py
Due: auto add label=T2S

update description of nxpu
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/exps/synthesize_e2e.py
Due: auto add label=T2S

Add XPU support for SpeedySpeech (#3502)
  examples/csmsc/tts2/local/inference_xpu.sh
  examples/csmsc/tts2/local/synthesize_e2e_xpu.sh
  examples/csmsc/tts2/local/synthesize_xpu.sh
  examples/csmsc/tts2/local/train_xpu.sh
  examples/csmsc/tts2/run_xpu.sh
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/exps/synthesize_e2e.py
Due: auto add label=T2S, auto add label=Example
