Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

more backend api
  cmake/summary.cmake
  paddlespeech/__init__.py
  paddlespeech/audio/__init__.py
  paddlespeech/audio/_extension.py
  paddlespeech/audio/backends/__init__.py
  paddlespeech/audio/backends/soundfile_backend.py
  paddlespeech/audio/backends/sox_backend.py
  paddlespeech/audio/compliance/librosa.py
  paddlespeech/audio/datasets/dataset.py
  paddlespeech/audio/datasets/rirs_noises.py
  paddlespeech/audio/datasets/voxceleb.py
  paddlespeech/audio/sox_effects/__init__.py
  paddlespeech/audio/utils/__init__.py
  paddlespeech/audio/utils/numeric.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/cls/exps/panns/deploy/predict.py
  paddlespeech/server/engine/vector/python/vector_engine.py
  paddlespeech/vector/exps/ecapa_tdnn/extract_emb.py
  tools/setup_helpers/extension.py
Due: auto add label=Vector, auto add label=CLI, auto add label=Server, auto add label=Installation

fix log issue #2070
  paddlespeech/server/engine/engine_factory.py
Due: auto add label=Server

fix log issue #2070
  paddlespeech/server/utils/log.py
  paddlespeech/server/utils/onnx_infer.py
Due: auto add label=Server

fix nxpu
  paddlespeech/s2t/exps/deepspeech2/bin/export.py
  paddlespeech/s2t/exps/deepspeech2/bin/test.py
  paddlespeech/s2t/exps/deepspeech2/bin/test_export.py
Due: auto add label=S2T

replace logger.info with logger.debug in cli, change default log level to INFO
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/download.py
  paddlespeech/cli/kws/infer.py
  paddlespeech/cli/log.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/text/infer.py
  paddlespeech/cli/tts/infer.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/s2t/frontend/augmentor/spec_augment.py
  paddlespeech/s2t/frontend/featurizer/text_featurizer.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/loss.py
  paddlespeech/s2t/transform/spec_augment.py
  paddlespeech/s2t/utils/tensor_utils.py
Due: auto add label=S2T, auto add label=CLI

fix Pillow's version
  docs/requirements.txt
  paddlespeech/s2t/frontend/augmentor/spec_augment.py
  paddlespeech/s2t/transform/spec_augment.py
  setup.py
Due: auto add label=S2T, auto add label=Documentation, auto add label=Installation

fix ext so not in build/lib.xxx
  setup.py
  tools/setup_helpers/extension.py
Due: auto add label=Installation

format
  paddlespeech/__init__.py
  paddlespeech/audio/__init__.py
  paddlespeech/audio/backends/__init__.py
  paddlespeech/audio/backends/soundfile_backend.py
  paddlespeech/audio/datasets/dataset.py
  paddlespeech/audio/datasets/rirs_noises.py
  paddlespeech/audio/utils/__init__.py
  paddlespeech/audio/utils/numeric.py
  setup.py
Due: auto add label=Installation

add backends
  paddlespeech/audio/backends/no_backend.py
  paddlespeech/audio/backends/sox_io_backend.py
  paddlespeech/audio/backends/utils.py
Due: none

log redundancy in server
  paddlespeech/cli/tts/infer.py
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/engine/acs/python/acs_engine.py
  paddlespeech/server/engine/asr/online/onnx/asr_engine.py
  paddlespeech/server/engine/asr/online/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/online/python/asr_engine.py
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/python/asr_engine.py
  paddlespeech/server/engine/cls/paddleinference/cls_engine.py
  paddlespeech/server/engine/cls/python/cls_engine.py
  paddlespeech/server/engine/engine_warmup.py
  paddlespeech/server/engine/text/python/text_engine.py
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
  paddlespeech/server/engine/tts/online/python/tts_engine.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/tts_engine.py
  paddlespeech/server/engine/vector/python/vector_engine.py
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/server/utils/audio_process.py
  paddlespeech/server/utils/onnx_infer.py
  paddlespeech/server/utils/util.py
Due: auto add label=CLI, auto add label=Server

add pitch
  paddlespeech/audio/src/pybind/kaldi/kaldi_feature.cc
  paddlespeech/audio/src/pybind/kaldi/kaldi_feature.h
  paddlespeech/audio/src/pybind/kaldi/kaldi_feature_wrapper.cc
Due: none

add pybind.cpp
  paddlespeech/audio/src/pybind/pybind.cpp
Due: none

update requirements
  setup.py
Due: auto add label=Installation

remove fluid tools for onnx export,test=doc
  speechx/examples/ds2_ol/onnx/local/pd_infer_shape.py
  speechx/examples/ds2_ol/onnx/local/pd_prune_model.py
  speechx/examples/ds2_ol/onnx/local/prune.sh
  speechx/examples/ds2_ol/onnx/run.sh
Due: auto add label=Deployment

fix scripts
  examples/wenetspeech/asr1/conf/conformer.yaml
  examples/wenetspeech/asr1/local/data.sh
  paddlespeech/audio/streamdata/__init__.py
  paddlespeech/audio/streamdata/autodecode.py
  paddlespeech/audio/streamdata/compat.py
  paddlespeech/audio/streamdata/filters.py
  paddlespeech/audio/streamdata/tariterators.py
  paddlespeech/audio/text/text_featurizer.py
  paddlespeech/audio/text/utility.py
  paddlespeech/s2t/exps/deepspeech2/model.py
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/exps/u2_kaldi/model.py
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/io/dataloader.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/models/u2_st/u2_st.py
Due: auto add label=S2T, auto add label=Example

add kaldi feature pitch
  CMakeLists.txt
  paddlespeech/audio/kaldi/__init__.py
  paddlespeech/audio/kaldi/kaldi.py
  paddlespeech/audio/src/pybind/kaldi/kaldi_feature.cc
  paddlespeech/audio/src/pybind/pybind.cpp
  paddlespeech/audio/third_party/kaldi/CMakeLists.txt
  speechx/speechx/kaldi/feat/feature-plp.h
  speechx/speechx/kaldi/feat/online-feature-itf.h
  speechx/speechx/kaldi/feat/online-feature.h
  speechx/speechx/kaldi/feat/pitch-functions.h
Due: auto add label=Deployment

test=doc
  docs/source/install_cn.md
Due: auto add label=Documentation

test=doc
  docs/source/install.md
Due: auto add label=Documentation

change sr, test=doc
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/engine/engine_factory.py
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
  paddlespeech/server/engine/tts/online/python/tts_engine.py
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/server/utils/onnx_infer.py
Due: auto add label=Server

add unittest
  paddlespeech/audio/src/pybind/pybind.cpp
  tests/unit/audio/features/fbank_feat.ark
  tests/unit/audio/features/pitch_feat.ark
  tests/unit/audio/features/test_kaldi_feat.py
  tests/unit/audio/features/wav.ark
Due: auto add label=Test

add stream_play_tts.py, test=doc
  paddlespeech/t2s/exps/stream_play_tts.py
Due: auto add label=T2S

refactor attention cache
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/attention.py
  paddlespeech/s2t/modules/conformer_convolution.py
  paddlespeech/s2t/modules/decoder_layer.py
  paddlespeech/s2t/modules/embedding.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/modules/encoder_layer.py
  setup.py
Due: auto add label=S2T, auto add label=Installation

cli batch process support \t
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/executor.py
Due: auto add label=CLI

att cache for streaming asr
  demos/streaming_asr_server/local/rtf_from_log.py
  paddlespeech/s2t/models/u2_st/u2_st.py
  paddlespeech/s2t/modules/attention.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/server/engine/asr/online/python/asr_engine.py
Due: auto add label=S2T, auto add label=Server, auto add label=Demo

update lr scheduler
  examples/vctk/ernie_sat/conf/default.yaml
  paddlespeech/t2s/exps/ernie_sat/train.py
  paddlespeech/t2s/models/ernie_sat/ernie_sat_updater.py
Due: auto add label=T2S, auto add label=Example

fix a markdown typo
  docs/source/install.md
Due: auto add label=Documentation

增加一个gpu类型的Dockerfile
  docker/ubuntu16-gpu/Dockerfile
Due: auto add label=Docker

gpu dockerfile, fix a little case
  docker/ubuntu16-gpu/Dockerfile
Due: auto add label=Docker

paddlespeech,,paddlespeech_server,paddlespeech_client工具验证
  docker/ubuntu16-gpu/Dockerfile
Due: auto add label=Docker

code bug
  docker/ubuntu16-gpu/Dockerfile
Due: auto add label=Docker

more accuracy decoding somthing
  paddlespeech/server/engine/asr/online/ctc_endpoint.py
Due: auto add label=Server

specify id, test=doc
  paddlespeech/server/utils/onnx_infer.py
Due: auto add label=Server

Update README.md
  README.md
Due: auto add label=README

Update README_cn.md
  README_cn.md
Due: none

rename time_s and time_ns to time_b and time_nb
  paddlespeech/server/engine/acs/python/acs_engine.py
  paddlespeech/server/engine/asr/online/ctc_search.py
Due: auto add label=Server

rename n_v_s to n_v_b, n_v_ns to n_v_nb
  paddlespeech/server/engine/asr/online/ctc_search.py
Due: auto add label=Server

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
