Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=TextProcess, auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^audio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=TextProcess"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["TextProcess"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^docs/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechnn/
    actions:
      label:
        add: ["Deployment"]

Updata RESULTS.md. test=doc_fix
  docs/source/released_model.md
  examples/esc50/README.md
  examples/esc50/RESULTS.md
Due: auto add label=Example, auto add label=README, auto add label=Documentation

Updata RESULTS.md. test=doc_fix
  docs/source/released_model.md
Due: auto add label=Documentation

[Doc]Updata RESULTS.md. test=doc_fix (#1205)
  docs/source/released_model.md
  examples/esc50/README.md
  examples/esc50/RESULTS.md
Due: auto add label=Example, auto add label=README, auto add label=Documentation

Updata README.md. test=doc_fix
  README.md
  README_cn.md
Due: auto add label=README

Updata README.md. test=doc_fix (#1207)
  README.md
  README_cn.md
Due: auto add label=README

Update README.md
  README.md
Due: auto add label=README

Update README_cn.md
  README_cn.md
Due: none

Update Acknowledgement
  README.md
  README_cn.md
Due: auto add label=README

Fix a bug when sentence inputed contain English words
  paddlespeech/t2s/frontend/zh_frontend.py
Due: auto add label=T2S

Update README.md (#1210)
  README.md
Due: auto add label=README

clear the log for cli asr
  paddlespeech/cli/asr/infer.py
  paddlespeech/s2t/utils/log.py
Due: auto add label=S2T

refactor punc
  examples/iwslt2012/punc0/README.md
  examples/iwslt2012/punc0/conf/default.yaml
  examples/iwslt2012/punc0/conf/ernie_linear.yaml
  examples/iwslt2012/punc0/local/avg.sh
  examples/iwslt2012/punc0/local/data.sh
  examples/iwslt2012/punc0/local/punc_restore.sh
  examples/iwslt2012/punc0/local/test.sh
  examples/iwslt2012/punc0/local/train.sh
  examples/iwslt2012/punc0/path.sh
  examples/iwslt2012/punc0/run.sh
  paddlespeech/t2s/exps/fastspeech2/gen_gta_mel.py
  paddlespeech/t2s/exps/fastspeech2/train.py
  paddlespeech/t2s/exps/gan_vocoder/hifigan/train.py
  paddlespeech/t2s/exps/gan_vocoder/multi_band_melgan/train.py
  paddlespeech/t2s/exps/gan_vocoder/parallelwave_gan/synthesize_from_wav.py
  paddlespeech/t2s/exps/gan_vocoder/parallelwave_gan/train.py
  paddlespeech/t2s/exps/gan_vocoder/style_melgan/train.py
  paddlespeech/t2s/exps/gan_vocoder/synthesize.py
  paddlespeech/t2s/exps/speedyspeech/synthesize_e2e.py
  paddlespeech/t2s/exps/transformer_tts/synthesize.py
  paddlespeech/t2s/exps/transformer_tts/synthesize_e2e.py
  paddlespeech/t2s/exps/transformer_tts/train.py
  paddlespeech/text/exps/ernie_linear/punc_restore.py
  paddlespeech/text/exps/ernie_linear/test.py
  paddlespeech/text/exps/ernie_linear/train.py
  paddlespeech/text/models/ernie_linear/__init__.py
  paddlespeech/text/models/ernie_linear/dataset.py
  paddlespeech/text/models/ernie_linear/ernie_linear.py
  paddlespeech/text/models/ernie_linear/ernie_linear_updater.py
  paddlespeech/text/training/__init__.py
  paddlespeech/text/training/trainer.py
  paddlespeech/text/utils/__init__.py
  paddlespeech/text/utils/default_parser.py
Due: auto add label=T2S, auto add label=TextProcess, auto add label=Example, auto add label=README

update released_model.md
  docs/source/released_model.md
Due: auto add label=Documentation

update readme
  .gitignore
  README.md
  README_cn.md
  docs/source/cls/custom_dataset.md
  docs/source/install.md
  docs/source/install_cn.md
  docs/source/released_model.md
  docs/topic/ctc/ctc_loss_compare.ipynb
  examples/aishell/asr1/RESULTS.md
  examples/aishell/asr1/conf/chunk_conformer.yaml
  examples/aishell/asr1/conf/conformer.yaml
  examples/aishell/asr1/conf/transformer.yaml
  examples/esc50/README.md
  examples/esc50/RESULTS.md
  examples/esc50/cls0/conf/panns.yaml
  examples/esc50/cls0/local/export.sh
  examples/esc50/cls0/local/infer.sh
  examples/esc50/cls0/local/train.sh
  examples/esc50/cls0/run.sh
  examples/iwslt2012/punc0/README.md
  paddleaudio/__init__.py
  paddleaudio/datasets/dataset.py
  paddlespeech/cls/exps/panns/predict.py
  paddlespeech/cls/exps/panns/train.py
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/t2s/frontend/zh_frontend.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
  setup_audio.py
Due: auto add label=S2T, auto add label=T2S, auto add label=Example, auto add label=README, auto add label=Documentation

update readme
  README.md
  README_cn.md
  examples/iwslt2012/punc0/README.md
Due: auto add label=Example, auto add label=README

add removeLog
  paddlespeech/cli/__init__.py
  paddlespeech/cli/asr/infer.py
  paddlespeech/s2t/utils/log.py
Due: auto add label=S2T

Remove logging file in cli api.
  paddlespeech/cli/log.py
  paddlespeech/s2t/utils/log.py
Due: auto add label=S2T

update
  README_cn.md
  examples/iwslt2012/punc0/run.sh
  paddlespeech/text/exps/__init__.py
  paddlespeech/text/exps/ernie_linear/__init__.py
Due: auto add label=TextProcess, auto add label=Example

fix demos, test=tts
  demos/metaverse/run.sh
  demos/story_talker/run.sh
Due: auto add label=Demo

Update README.md
  examples/csmsc/tts3/README.md
Due: auto add label=Example, auto add label=README

fix log for t2s
  examples/vctk/tts3/README.md
  paddlespeech/s2t/utils/log.py
Due: auto add label=S2T, auto add label=Example, auto add label=README

fix log for t2s (#1219)
  examples/vctk/tts3/README.md
  paddlespeech/s2t/utils/log.py
Due: auto add label=S2T, auto add label=Example, auto add label=README

Update cls tutorial.
  docs/tutorial/cls/cls_tutorial.ipynb
Due: auto add label=Documentation

Update cls tutorial. (#1221)
  docs/tutorial/cls/cls_tutorial.ipynb
Due: auto add label=Documentation

refactor the train and test config,test=asr
  examples/aishell/asr1/conf/conformer.yaml
  examples/aishell/asr1/conf/decode.yaml
  examples/aishell/asr1/local/align.sh
  examples/aishell/asr1/local/test.sh
  examples/aishell/asr1/local/test_wav.sh
  examples/aishell/asr1/run.sh
  paddlespeech/s2t/exps/u2/bin/alignment.py
  paddlespeech/s2t/exps/u2/bin/test.py
  paddlespeech/s2t/exps/u2/bin/test_wav.py
  paddlespeech/s2t/exps/u2/config.py
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/training/cli.py
  paddlespeech/s2t/training/trainer.py
  paddlespeech/s2t/utils/utility.py
Due: auto add label=S2T, auto add label=Example

remve useless conf
  examples/librispeech/asr1/conf/chunk_conformer.yaml
  examples/librispeech/asr1/conf/chunk_transformer.yaml
  examples/librispeech/asr1/conf/transformer.yaml
Due: auto add label=Example

format code
  examples/csmsc/voc5/README.md
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/t2s/frontend/zh_frontend.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
Due: auto add label=S2T, auto add label=T2S, auto add label=Example, auto add label=README

update conf
  examples/librispeech/asr1/conf/conformer.yaml
Due: auto add label=Example

update conf
  examples/librispeech/asr1/conf/chunk_conformer.yaml
  examples/librispeech/asr1/conf/conformer.yaml
Due: auto add label=Example

update
  examples/librispeech/asr1/conf/chunk_conformer.yaml
  examples/librispeech/asr1/conf/conformer.yaml
Due: auto add label=Example

add style melgan pretraied model
  docs/source/released_model.md
  examples/aishell3/tts3/README.md
  examples/aishell3/voc1/README.md
  examples/csmsc/tts2/README.md
  examples/csmsc/tts3/README.md
  examples/csmsc/voc1/README.md
  examples/csmsc/voc3/README.md
  examples/csmsc/voc4/README.md
  examples/csmsc/voc5/README.md
  examples/ljspeech/tts1/README.md
  examples/ljspeech/tts3/README.md
  examples/ljspeech/voc1/README.md
  examples/vctk/tts3/README.md
  examples/vctk/voc1/README.md
  paddlespeech/t2s/exps/gan_vocoder/style_melgan/train.py
  paddlespeech/t2s/exps/speedyspeech/train.py
  paddlespeech/t2s/frontend/zh_frontend.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
  paddlespeech/t2s/models/melgan/style_melgan.py
  paddlespeech/t2s/modules/tade_res_block.py
Due: auto add label=T2S, auto add label=Example, auto add label=README, auto add label=Documentation

add style melgan pretraied model, test=tts
  examples/csmsc/tts2/local/synthesize_e2e.sh
  examples/csmsc/tts3/local/synthesize_e2e.sh
Due: auto add label=Example
