Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

add paddlenlp install version. (#2701)
  setup.py
Due: auto add label=Installation

format
  speechx/examples/ds2_ol/aishell/README.md
Due: auto add label=README, auto add label=Deployment

add TTSAndroid demo
  demos/TTSAndroid/.gitignore
  demos/TTSAndroid/README.md
  demos/TTSAndroid/app/.gitignore
  demos/TTSAndroid/app/build.gradle
  demos/TTSAndroid/app/proguard-rules.pro
  demos/TTSAndroid/app/src/androidTest/java/com/baidu/paddle/lite/demo/tts/ExampleInstrumentedTest.java
  demos/TTSAndroid/app/src/main/AndroidManifest.xml
  demos/TTSAndroid/app/src/main/java/com/baidu/paddle/lite/demo/tts/AppCompatPreferenceActivity.java
  demos/TTSAndroid/app/src/main/java/com/baidu/paddle/lite/demo/tts/MainActivity.java
  demos/TTSAndroid/app/src/main/java/com/baidu/paddle/lite/demo/tts/Predictor.java
  demos/TTSAndroid/app/src/main/java/com/baidu/paddle/lite/demo/tts/SettingsActivity.java
  demos/TTSAndroid/app/src/main/java/com/baidu/paddle/lite/demo/tts/Utils.java
  demos/TTSAndroid/app/src/main/res/drawable/button_drawable.xml
  demos/TTSAndroid/app/src/main/res/drawable/logo.jpg
  demos/TTSAndroid/app/src/main/res/drawable/paddlespeech_logo.png
  demos/TTSAndroid/app/src/main/res/layout/activity_main.xml
  demos/TTSAndroid/app/src/main/res/menu/menu_action_options.xml
  demos/TTSAndroid/app/src/main/res/values/arrays.xml
  demos/TTSAndroid/app/src/main/res/values/colors.xml
  demos/TTSAndroid/app/src/main/res/values/strings.xml
  demos/TTSAndroid/app/src/main/res/values/styles.xml
  demos/TTSAndroid/app/src/main/res/xml/settings.xml
  demos/TTSAndroid/app/src/test/java/com/baidu/paddle/lite/demo/tts/ExampleUnitTest.java
  demos/TTSAndroid/build.gradle
  demos/TTSAndroid/gradle.properties
  demos/TTSAndroid/gradle/wrapper/gradle-wrapper.jar
  demos/TTSAndroid/gradle/wrapper/gradle-wrapper.properties
  demos/TTSAndroid/gradlew
  demos/TTSAndroid/gradlew.bat
  demos/TTSAndroid/settings.gradle
Due: auto add label=Demo, auto add label=README

Update README.md
  demos/TTSAndroid/README.md
Due: auto add label=Demo, auto add label=README

[speechx] more doc for speechx (#2702)
  speechx/examples/custom_asr/README.md
  speechx/examples/ds2_ol/README.md
  speechx/examples/ds2_ol/aishell/README.md
  speechx/examples/ds2_ol/aishell/local/run_build_tlg.sh
  speechx/examples/ds2_ol/aishell/run.sh
  speechx/examples/ds2_ol/aishell/run_fbank.sh
  speechx/examples/ds2_ol/websocket/README.md
  speechx/examples/u2pp_ol/wenetspeech/README.md
  speechx/examples/u2pp_ol/wenetspeech/run.sh
Due: auto add label=README, auto add label=Deployment

update whisper model source
  docs/source/released_model.md
Due: auto add label=Documentation

update released_model.md, test=doc
  docs/source/released_model.md
Due: auto add label=Documentation

Update released_model.md
  docs/source/released_model.md
Due: auto add label=Documentation

[TTS]add TTSAndroid demo (#2703)
  demos/TTSAndroid/.gitignore
  demos/TTSAndroid/README.md
  demos/TTSAndroid/app/.gitignore
  demos/TTSAndroid/app/build.gradle
  demos/TTSAndroid/app/proguard-rules.pro
  demos/TTSAndroid/app/src/androidTest/java/com/baidu/paddle/lite/demo/tts/ExampleInstrumentedTest.java
  demos/TTSAndroid/app/src/main/AndroidManifest.xml
  demos/TTSAndroid/app/src/main/java/com/baidu/paddle/lite/demo/tts/AppCompatPreferenceActivity.java
  demos/TTSAndroid/app/src/main/java/com/baidu/paddle/lite/demo/tts/MainActivity.java
  demos/TTSAndroid/app/src/main/java/com/baidu/paddle/lite/demo/tts/Predictor.java
  demos/TTSAndroid/app/src/main/java/com/baidu/paddle/lite/demo/tts/SettingsActivity.java
  demos/TTSAndroid/app/src/main/java/com/baidu/paddle/lite/demo/tts/Utils.java
  demos/TTSAndroid/app/src/main/res/drawable/button_drawable.xml
  demos/TTSAndroid/app/src/main/res/drawable/logo.jpg
  demos/TTSAndroid/app/src/main/res/drawable/paddlespeech_logo.png
  demos/TTSAndroid/app/src/main/res/layout/activity_main.xml
  demos/TTSAndroid/app/src/main/res/menu/menu_action_options.xml
  demos/TTSAndroid/app/src/main/res/values/arrays.xml
  demos/TTSAndroid/app/src/main/res/values/colors.xml
  demos/TTSAndroid/app/src/main/res/values/strings.xml
  demos/TTSAndroid/app/src/main/res/values/styles.xml
  demos/TTSAndroid/app/src/main/res/xml/settings.xml
  demos/TTSAndroid/app/src/test/java/com/baidu/paddle/lite/demo/tts/ExampleUnitTest.java
  demos/TTSAndroid/build.gradle
  demos/TTSAndroid/gradle.properties
  demos/TTSAndroid/gradle/wrapper/gradle-wrapper.jar
  demos/TTSAndroid/gradle/wrapper/gradle-wrapper.properties
  demos/TTSAndroid/gradlew
  demos/TTSAndroid/gradlew.bat
  demos/TTSAndroid/settings.gradle
Due: auto add label=Demo, auto add label=README

Update README.md
  README.md
Due: auto add label=README

Add end-to-end version of MFA FastSpeech2, test=tts
  examples/csmsc/tts3_rhy/README.md
  examples/csmsc/tts3_rhy/README_cn.md
  examples/csmsc/tts3_rhy/conf/default.yaml
  examples/csmsc/tts3_rhy/local/preprocess.sh
  examples/csmsc/tts3_rhy/local/synthesize.sh
  examples/csmsc/tts3_rhy/local/synthesize_e2e.sh
  examples/csmsc/tts3_rhy/local/train.sh
  examples/csmsc/tts3_rhy/path.sh
  examples/csmsc/tts3_rhy/run.sh
  examples/csmsc/tts3_rhy_e2e/conf/default.yaml
  examples/csmsc/tts3_rhy_e2e/local/preprocess.sh
  examples/csmsc/tts3_rhy_e2e/local/synthesize_e2e.sh
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/frontend/rhy_prediction/__init__.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

Update README_cn.md
  README_cn.md
Due: none

rm python lib in paddleaudio
  audio/tests/backends/sox_io/info_test.py
  audio/tests/backends/sox_io/load_test.py
  audio/tests/backends/sox_io/save_test.py
  audio/tests/backends/sox_io/smoke_test.py
  audio/tests/backends/sox_io/sox_effect_test.py
  audio/tests/features/test_kaldi_feat.py
  audio/tools/setup_helpers/extension.py
  docs/source/install.md
  paddlespeech/cli/cls/infer.py
  paddlespeech/cls/exps/panns/deploy/predict.py
  paddlespeech/cls/exps/panns/predict.py
  paddlespeech/s2t/modules/fbank.py
  paddlespeech/vector/exps/ge2e/speaker_verification_dataset.py
  tools/extras/install_openblas.sh
Due: auto add label=S2T, auto add label=Vector, auto add label=CLI, auto add label=Documentation, auto add label=Installation

fix padddlespeech setup.py
  setup.py
Due: auto add label=Installation

patch
  .gitignore
  .pre-commit-config.yaml
  .pre-commit-hooks/cpplint.hook
  paddlespeech/s2t/models/u2/u2.py
  tests/unit/assets/sox_effect_test_args.jsonl
  tests/unit/common_utils/__init__.py
  tests/unit/common_utils/case_utils.py
  tests/unit/common_utils/parameterized_utils.py
  tests/unit/common_utils/sox_utils.py
  tests/unit/common_utils/wav_utils.py
Due: auto add label=S2T, auto add label=Test

rm pybind in external
  audio/cmake/external/pybind.cmake
Due: none

[speechx] update speechx docker usage
  speechx/README.md
Due: auto add label=README, auto add label=Deployment

[speechx] update speechx docker usage (#2707)
  speechx/README.md
Due: auto add label=README, auto add label=Deployment

update whisper model source (#2704)
  docs/source/released_model.md
Due: auto add label=Documentation

[speechx] fix bugs
  speechx/examples/u2pp_ol/wenetspeech/run.sh
Due: auto add label=Deployment

[doc] update released_model.md, test=doc (#2705)
  docs/source/released_model.md
Due: auto add label=Documentation

Add end-to-end version of MFA FastSpeech2, test=tts
  examples/csmsc/tts3_rhy/README.md
  examples/csmsc/tts3_rhy/README_cn.md
  paddlespeech/resource/pretrained_models.py
  paddlespeech/t2s/frontend/rhy_prediction/rhy_predictor.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

Add prosody prediction in synthesize_e2e, test=tts
  examples/csmsc/tts3_rhy/README.md
Due: auto add label=Example, auto add label=README

Add prosody prediction in synthesize_e2e, test=tts
  examples/csmsc/tts3_rhy/local/train.sh
  examples/csmsc/tts3_rhy/path.sh
Due: auto add label=Example

rm paddlelite in setup.py
  paddlespeech/t2s/exps/lite_predict.py
  paddlespeech/t2s/exps/lite_predict_streaming.py
  paddlespeech/t2s/exps/lite_syn_utils.py
  paddlespeech/t2s/exps/syn_utils.py
  setup.py
Due: auto add label=T2S, auto add label=Installation

fix setup.py
  setup.py
Due: auto add label=Installation

add paddle commit that u2++ quant model cer 5.8%
  speechx/examples/u2pp_ol/wenetspeech/RESULTS.md
Due: auto add label=Deployment

Add prosody prediction in synthesize_e2e, test=tts
  examples/csmsc/tts3_rhy/README.md
  paddlespeech/t2s/frontend/zh_frontend.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

Add prosody prediction in synthesize_e2e, test=tts
  paddlespeech/t2s/frontend/zh_frontend.py
Due: auto add label=T2S

Add prosody prediction in synthesize_e2e, test=tts
  paddlespeech/t2s/frontend/rhy_prediction/rhy_predictor.py
  paddlespeech/t2s/frontend/zh_frontend.py
Due: auto add label=T2S

[TTS]rm paddlelite in setup.py (#2713)
  paddlespeech/t2s/exps/lite_predict.py
  paddlespeech/t2s/exps/lite_predict_streaming.py
  paddlespeech/t2s/exps/lite_syn_utils.py
  paddlespeech/t2s/exps/syn_utils.py
  setup.py
Due: auto add label=T2S, auto add label=Installation

[speechx] fix bugs (#2710)
  speechx/examples/u2pp_ol/wenetspeech/run.sh
Due: auto add label=Deployment

format
  .pre-commit-config.yaml
  audio/paddleaudio/_extension.py
  audio/paddleaudio/_internal/module_utils.py
  audio/paddleaudio/backends/__init__.py
  audio/paddleaudio/kaldi/kaldi.py
  audio/paddleaudio/sox_effects/__init__.py
  audio/paddleaudio/sox_effects/sox_effects.py
  audio/paddleaudio/utils/sox_utils.py
  audio/tests/backends/soundfile/info_test.py
  audio/tests/backends/soundfile/load_test.py
  audio/tests/backends/soundfile/save_test.py
  audio/tests/backends/sox_io/info_test.py
  audio/tests/backends/sox_io/load_test.py
  audio/tests/backends/sox_io/save_test.py
  audio/tests/backends/sox_io/smoke_test.py
  audio/tests/backends/sox_io/sox_effect_test.py
  audio/tests/common_utils/__init__.py
  audio/tests/common_utils/case_utils.py
  audio/tests/common_utils/data_utils.py
  audio/tests/common_utils/parameterized_utils.py
  audio/tests/features/test_kaldi_feat.py
  examples/tess/cls0/local/train.py
  paddlespeech/audio/streamdata/autodecode.py
  paddlespeech/audio/streamdata/filters.py
  paddlespeech/audio/transform/spectrogram.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cls/exps/panns/deploy/predict.py
  paddlespeech/cls/exps/panns/predict.py
  paddlespeech/cls/exps/panns/train.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/fbank.py
  setup.py
Due: auto add label=S2T, auto add label=Example, auto add label=CLI, auto add label=Installation

Add prosody prediction in synthesize_e2e, test=tts (#2693)
  examples/csmsc/tts3_rhy/README.md
  examples/csmsc/tts3_rhy/conf/default.yaml
  examples/csmsc/tts3_rhy/local/preprocess.sh
  examples/csmsc/tts3_rhy/local/synthesize.sh
  examples/csmsc/tts3_rhy/local/synthesize_e2e.sh
  examples/csmsc/tts3_rhy/local/train.sh
  examples/csmsc/tts3_rhy/path.sh
  examples/csmsc/tts3_rhy/run.sh
  paddlespeech/resource/pretrained_models.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/frontend/rhy_prediction/__init__.py
  paddlespeech/t2s/frontend/rhy_prediction/rhy_predictor.py
  paddlespeech/t2s/frontend/zh_frontend.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

exclude cpplint pybind file
  .pre-commit-config.yaml
Due: none

ffix for pre-commit
  .pre-commit-config.yaml
Due: none

fix python vrsion
  .readthedocs.yml
Due: none
