Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=enhancement"
    conditions:
      - files~=^deepspeech/
    actions:
      label:
        add: ["enhancement"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechnn/
    actions:
      label:
        add: ["Deployment"]

fix mergify
  .mergify.yml
Due: auto add label=mergify

Update gan_vocoder.md
  docs/source/tts/gan_vocoder.md
Due: none

feat: add st cli
  paddlespeech/cli/st/__init__.py
  paddlespeech/cli/st/infer.py
Due: none

change the require py version
  setup.py
Due: auto add label=Installation

Update models_introduction.md
  docs/source/tts/models_introduction.md
Due: none

Add audio classification cli.
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/cls/__init.__py
  paddlespeech/cli/cls/__init__.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/utils.py
  requirements.txt
Due: none

Fix decompressing problem.
  paddlespeech/cli/utils.py
  setup.py
Due: auto add label=Installation

Remove TODO.
  paddlespeech/cli/cls/infer.py
Due: none

update_bs
  tests/benchmark/conformer/run.sh
  tests/benchmark/pwgan/run_all.sh
Due: none

Optimize model init.
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/cls/infer.py
Due: none

Update README.
  paddlespeech/cli/README.md
Due: auto add label=README

Update tags of pretrained_models.
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/cls/infer.py
Due: none

Update README.md
  examples/csmsc/tts3/README.md
Due: auto add label=Example, auto add label=README

Separate the ctcdecoders
  paddlespeech/s2t/decoders/__init__.py
  paddlespeech/s2t/models/ds2/__init__.py
  paddlespeech/s2t/models/ds2_online/__init__.py
  paddlespeech/s2t/modules/ctc.py
  setup.py
Due: auto add label=Installation

Update recommended model to cnn14 and argument name in __call__.
  paddlespeech/cli/cls/infer.py
Due: none

refactor the code
  paddlespeech/s2t/decoders/__init__.py
  paddlespeech/s2t/models/ds2/__init__.py
  paddlespeech/s2t/modules/ctc.py
  paddlespeech/s2t/utils/dynamic_pip_install.py
Due: none

fix: add kaldi_io requirement
  setup.py
Due: auto add label=Installation

fix the bug: miss import after install
  paddlespeech/s2t/decoders/__init__.py
  paddlespeech/s2t/modules/ctc.py
Due: none

remove the py3.6
  setup.py
Due: auto add label=Installation
