Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

fix path bug
  demos/streaming_tts_serving_fastdeploy/streaming_tts_serving/1/model.py
Due: auto add label=Demo

fix code style
  demos/streaming_tts_serving_fastdeploy/streaming_tts_serving/1/model.py
  demos/streaming_tts_serving_fastdeploy/streaming_tts_serving/stream_client.py
Due: auto add label=Demo

enable chinese words' pinyin specified in text of ssml formats, test=tts
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/frontend/zh_frontend.py
  paddlespeech/t2s/ssml/xml_processor.py
Due: auto add label=T2S

add u2 recg
  speechx/examples/codelab/u2/local/decode.sh
  speechx/speechx/decoder/CMakeLists.txt
  speechx/speechx/decoder/common.h
  speechx/speechx/decoder/ctc_beam_search_opt.h
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder.h
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder_main.cc
  speechx/speechx/decoder/ctc_prefix_beam_search_result.h
  speechx/speechx/decoder/decoder_itf.h
  speechx/speechx/decoder/param.h
  speechx/speechx/decoder/recognizer.cc
  speechx/speechx/decoder/recognizer.h
  speechx/speechx/decoder/u2_recognizer.cc
  speechx/speechx/decoder/u2_recognizer.h
  speechx/speechx/decoder/u2_recognizer_main.cc
  speechx/speechx/frontend/audio/feature_pipeline.cc
  speechx/speechx/frontend/audio/feature_pipeline.h
  speechx/speechx/nnet/ds2_nnet.cc
  speechx/speechx/nnet/ds2_nnet.h
  speechx/speechx/nnet/nnet_itf.h
  speechx/speechx/nnet/u2_nnet.h
  speechx/speechx/protocol/websocket/CMakeLists.txt
  speechx/speechx/protocol/websocket/websocket_server_main.cc
Due: auto add label=Deployment

fix wav2vec2 report loss bug
  paddlespeech/s2t/exps/wav2vec2/model.py
Due: auto add label=S2T

fixed ENIRE-SAT => ERNIE-SAT,test=doc
  demos/speech_web/README.md
  demos/speech_web/web_client/src/components/Experience.vue
Due: auto add label=Demo, auto add label=README

fixed ERNIE,test=doc
  demos/speech_web/web_client/src/components/Experience.vue
  demos/speech_web/web_client/src/components/SubMenu/ERNIE_SAT/ERNIE_SAT.vue
Due: auto add label=Demo

u2 recog test main ok
  speechx/examples/codelab/u2/local/recognizer.sh
  speechx/speechx/decoder/param.h
  speechx/speechx/decoder/u2_recognizer.cc
  speechx/speechx/decoder/u2_recognizer.h
  speechx/speechx/decoder/u2_recognizer_main.cc
  speechx/speechx/frontend/audio/cmvn.cc
  speechx/speechx/frontend/audio/feature_pipeline.cc
Due: auto add label=Deployment

fixed ENIRE-SAT => ERNIE-SAT,test=doc (#2533)
  demos/speech_web/README.md
  demos/speech_web/web_client/src/components/Experience.vue
  demos/speech_web/web_client/src/components/SubMenu/ERNIE_SAT/ERNIE_SAT.vue
Due: auto add label=Demo, auto add label=README

add module define to fix ci, test=tts
  paddlespeech/t2s/__init__.py
Due: auto add label=T2S

fix code style and readme
  demos/streaming_tts_serving_fastdeploy/README.md
  demos/streaming_tts_serving_fastdeploy/README_cn.md
  demos/streaming_tts_serving_fastdeploy/streaming_tts_serving/1/model.py
  demos/streaming_tts_serving_fastdeploy/streaming_tts_serving/stream_client.py
Due: auto add label=Demo, auto add label=README

Add files via upload
  demos/streaming_tts_serving_fastdeploy/tree.png
Due: auto add label=Demo

refactor options
  speechx/examples/codelab/u2/local/decode.sh
  speechx/examples/codelab/u2/local/nnet.sh
  speechx/examples/codelab/u2/local/recognizer.sh
  speechx/speechx/decoder/CMakeLists.txt
  speechx/speechx/decoder/ctc_beam_search_decoder_main.cc
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder_main.cc
  speechx/speechx/decoder/ctc_tlg_decoder.h
  speechx/speechx/decoder/ctc_tlg_decoder_main.cc
  speechx/speechx/decoder/param.h
  speechx/speechx/decoder/recognizer.h
  speechx/speechx/decoder/recognizer_main.cc
  speechx/speechx/decoder/u2_recognizer.h
  speechx/speechx/decoder/u2_recognizer_main.cc
  speechx/speechx/frontend/audio/feature_pipeline.h
  speechx/speechx/nnet/ds2_nnet_main.cc
  speechx/speechx/nnet/nnet_itf.h
  speechx/speechx/nnet/u2_nnet.h
  speechx/speechx/nnet/u2_nnet_main.cc
  speechx/speechx/protocol/websocket/websocket_server_main.cc
Due: auto add label=Deployment

format code
  speechx/speechx/base/basic_types.h
  speechx/speechx/base/common.h
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder.h
  speechx/speechx/decoder/ctc_tlg_decoder.h
  speechx/speechx/decoder/param.h
  speechx/speechx/decoder/recognizer.h
  speechx/speechx/decoder/u2_recognizer.h
  speechx/speechx/frontend/audio/data_cache.h
  speechx/speechx/frontend/audio/feature_pipeline.h
  speechx/speechx/frontend/audio/mfcc.h
  speechx/speechx/nnet/ds2_nnet.h
  speechx/speechx/nnet/nnet_itf.h
  speechx/speechx/nnet/u2_nnet.h
  speechx/speechx/protocol/websocket/websocket_client.h
  speechx/speechx/protocol/websocket/websocket_server.h
  speechx/speechx/utils/file_utils.h
Due: auto add label=Deployment

to fix CI issue, test=tts
  paddlespeech/t2s/ssml/__init__.py
Due: auto add label=T2S

add license content, test=tts
  paddlespeech/t2s/ssml/__init__.py
Due: auto add label=T2S

modify __init__
  paddlespeech/t2s/ssml/__init__.py
Due: auto add label=T2S

Update README.md
  README.md
Due: auto add label=README

Update README_cn.md
  README_cn.md
Due: none

remove useless code
  paddlespeech/t2s/frontend/zh_frontend.py
Due: auto add label=T2S

add scripts
  speechx/examples/u2pp_ol/wenetspeech/.gitignore
  speechx/examples/u2pp_ol/wenetspeech/README.md
  speechx/examples/u2pp_ol/wenetspeech/local/aishell_train_lms.sh
  speechx/examples/u2pp_ol/wenetspeech/local/decode.sh
  speechx/examples/u2pp_ol/wenetspeech/local/feat.sh
  speechx/examples/u2pp_ol/wenetspeech/local/nnet.sh
  speechx/examples/u2pp_ol/wenetspeech/local/recognizer.sh
  speechx/examples/u2pp_ol/wenetspeech/local/split_data.sh
  speechx/examples/u2pp_ol/wenetspeech/path.sh
  speechx/examples/u2pp_ol/wenetspeech/run.sh
Due: auto add label=README, auto add label=Deployment

format
  speechx/examples/u2pp_ol/wenetspeech/README.md
  speechx/speechx/codelab/nnet/ds2_model_test_main.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder_main.cc
  speechx/speechx/decoder/ctc_tlg_decoder.cc
  speechx/speechx/decoder/ctc_tlg_decoder_main.cc
  speechx/speechx/decoder/recognizer.cc
  speechx/speechx/decoder/recognizer_main.cc
  speechx/speechx/decoder/u2_recognizer.cc
  speechx/speechx/decoder/u2_recognizer_main.cc
  speechx/speechx/frontend/audio/cmvn.cc
  speechx/speechx/frontend/audio/compute_fbank_main.cc
  speechx/speechx/frontend/audio/compute_linear_spectrogram_main.cc
  speechx/speechx/frontend/audio/feature_pipeline.cc
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/u2_nnet.cc
  speechx/speechx/nnet/u2_nnet_main.cc
  speechx/speechx/protocol/websocket/websocket_server_main.cc
  speechx/speechx/utils/math.cc
Due: auto add label=README, auto add label=Deployment

fix g2p
  paddlespeech/t2s/frontend/polyphonic.yaml
  paddlespeech/t2s/frontend/tone_sandhi.py
Due: auto add label=T2S

seprate recognizer; NnetBase as base class
  speechx/speechx/CMakeLists.txt
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/decodable.h
  speechx/speechx/nnet/ds2_nnet.h
  speechx/speechx/nnet/nnet_itf.h
  speechx/speechx/nnet/u2_nnet.cc
  speechx/speechx/nnet/u2_nnet.h
  speechx/speechx/protocol/websocket/CMakeLists.txt
  speechx/speechx/protocol/websocket/websocket_server.h
  speechx/speechx/recognizer/CMakeLists.txt
  speechx/speechx/recognizer/recognizer.cc
  speechx/speechx/recognizer/recognizer.h
  speechx/speechx/recognizer/recognizer_main.cc
  speechx/speechx/recognizer/u2_recognizer.cc
  speechx/speechx/recognizer/u2_recognizer.h
  speechx/speechx/recognizer/u2_recognizer_main.cc
Due: auto add label=Deployment

format
  speechx/speechx/protocol/websocket/websocket_server.h
  speechx/speechx/recognizer/u2_recognizer_main.cc
Due: auto add label=Deployment

update path.sh
  speechx/examples/codelab/u2/path.sh
  speechx/examples/u2pp_ol/wenetspeech/path.sh
Due: auto add label=Deployment

fix g2p (#2539)
  paddlespeech/t2s/frontend/polyphonic.yaml
  paddlespeech/t2s/frontend/tone_sandhi.py
Due: auto add label=T2S

Update Readme QR Code
  README.md
Due: auto add label=README

Update Readme_CN QR Code
  README_cn.md
Due: none

fix cmake paddle flags; more doc info
  speechx/CMakeLists.txt
  speechx/README.md
  speechx/examples/README.md
  speechx/examples/codelab/README.md
  speechx/examples/codelab/u2/path.sh
  speechx/examples/u2pp_ol/README.md
  speechx/examples/u2pp_ol/wenetspeech/path.sh
Due: auto add label=README, auto add label=Deployment

fix attention.py validation bug
  paddlespeech/s2t/modules/attention.py
Due: auto add label=S2T

Add TTS fastdeploy serving (#2528)
  demos/streaming_tts_serving_fastdeploy/README.md
  demos/streaming_tts_serving_fastdeploy/README_cn.md
  demos/streaming_tts_serving_fastdeploy/streaming_tts_serving/1/model.py
  demos/streaming_tts_serving_fastdeploy/streaming_tts_serving/config.pbtxt
  demos/streaming_tts_serving_fastdeploy/streaming_tts_serving/stream_client.py
  demos/streaming_tts_serving_fastdeploy/tree.png
Due: auto add label=Demo, auto add label=README

fix attention.py validation bug
  examples/wenetspeech/asr1/run.sh
  paddlespeech/s2t/modules/attention.py
Due: auto add label=S2T, auto add label=Example

add DecoderBase and license
  speechx/speechx/decoder/ctc_beam_search_decoder.h
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder.h
  speechx/speechx/decoder/ctc_prefix_beam_search_score.h
  speechx/speechx/decoder/ctc_tlg_decoder.h
  speechx/speechx/decoder/decoder_itf.h
  speechx/speechx/nnet/u2_nnet.cc
  speechx/speechx/nnet/u2_nnet.h
Due: auto add label=Deployment

fix attention val bug
  paddlespeech/s2t/modules/attention.py
Due: auto add label=S2T

remove uesless code
  speechx/speechx/nnet/u2_nnet.cc
  speechx/speechx/nnet/u2_nnet.h
Due: auto add label=Deployment

wav2vec2_zh train work
  examples/aishell/asr2/cmd.sh
  examples/aishell/asr2/conf/conformer.yaml
  examples/aishell/asr2/conf/preprocess.yaml
  examples/aishell/asr2/conf/tuning/chunk_decode.yaml
  examples/aishell/asr2/conf/tuning/decode.yaml
  examples/aishell/asr2/conf/wav2vec2ASR.yaml
  examples/aishell/asr2/local/data.sh
  examples/aishell/asr2/local/test.sh
  examples/aishell/asr2/local/test_wav.sh
  examples/aishell/asr2/local/train.sh
  examples/aishell/asr2/path.sh
  examples/aishell/asr2/run.sh
  examples/aishell/asr2/utils
  paddlespeech/s2t/exps/wav2vec2/model.py
  paddlespeech/s2t/models/wav2vec2/modules/modeling_wav2vec2.py
  paddlespeech/s2t/training/scheduler.py
Due: auto add label=S2T, auto add label=Example

new_fs2
  examples/zh_en_tts/tts3/conf/default.yaml
  examples/zh_en_tts/tts3/local/train.sh
  examples/zh_en_tts/tts3/run.sh
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2_updater.py
  paddlespeech/t2s/modules/multi_speakers/gradient_reversal.py
  paddlespeech/t2s/modules/multi_speakers/speaker_classifier.py
Due: auto add label=T2S, auto add label=Example

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
