Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=TextProcess, auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^audio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=TextProcess"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["TextProcess"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^docs/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechnn/
    actions:
      label:
        add: ["Deployment"]

Update g2p.md
  docs/topic/frontend/g2p.md
Due: auto add label=Documentation

add multi-speaker support for speedyspeech
  examples/aishell3/tts2/default_multi.yaml
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/exps/speedyspeech/normalize.py
  paddlespeech/t2s/exps/speedyspeech/preprocess.py
  paddlespeech/t2s/exps/speedyspeech/train.py
  paddlespeech/t2s/models/speedyspeech/speedyspeech.py
  paddlespeech/t2s/models/speedyspeech/speedyspeech_updater.py
Due: auto add label=T2S, auto add label=Example

change speaker embedding position
  examples/aishell3/tts2/default_multi.yaml
  paddlespeech/t2s/models/speedyspeech/speedyspeech.py
Due: auto add label=T2S, auto add label=Example

remove useless "other" dataset
  paddlespeech/t2s/exps/speedyspeech/preprocess.py
Due: auto add label=T2S

Cache the TextFeaturizer instance for infer speed improvement.
  paddlespeech/cli/asr/infer.py
Due: none

first commit
  examples/aishell/asr1/conf/conformer.yaml
Due: auto add label=Example

first commit (#1261)
  examples/aishell/asr1/conf/conformer.yaml
Due: auto add label=Example

Cache the TextFeaturizer instance for infer speed improvement. (#1260)
  paddlespeech/cli/asr/infer.py
Due: none

add speaker dict path
  examples/csmsc/tts2/local/preprocess.sh
Due: auto add label=Example

Fix punctuation bug
  paddlespeech/t2s/frontend/zh_normalization/text_normlization.py
Due: auto add label=T2S

fix some bug, test=asr
  examples/csmsc/voc5/README.md
  examples/ted_en_zh/st1/local/test.sh
  examples/ted_en_zh/st1/run.sh
  paddlespeech/s2t/exps/u2/config.py
Due: auto add label=S2T, auto add label=Example, auto add label=README

Update text_normlization.py
  paddlespeech/t2s/frontend/zh_normalization/text_normlization.py
Due: auto add label=T2S

Add PaddleBoBo Example, test=doc_fix
  README.md
  README_cn.md
Due: auto add label=README

Update README_cn.md
  README_cn.md
Due: none

fix some bug, test=asr
  examples/librispeech/asr2/run.sh
  tests/benchmark/conformer/run_benchmark.sh
Due: auto add label=Example

fix some bug, test=asr
  examples/aishell/asr1/conf/conformer.yaml
  examples/callcenter/asr1/run.sh
  examples/librispeech/asr2/local/test.sh
Due: auto add label=Example

Update README.md
  examples/iwslt2012/punc0/README.md
Due: auto add label=Example, auto add label=README

revise aishell_asr0 Result, test=doc_fix
  examples/aishell/asr0/RESULTS.md
Due: auto add label=Example

update mb melgan
  docs/source/released_model.md
  examples/csmsc/tts2/local/synthesize_e2e.sh
  examples/csmsc/tts3/local/synthesize_e2e.sh
  examples/csmsc/voc3/README.md
  paddlespeech/cli/tts/infer.py
Due: auto add label=Example, auto add label=README, auto add label=Documentation

update mb melgan, test=tts
  paddlespeech/cli/asr/infer.py
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/exps/speedyspeech/preprocess.py
  paddlespeech/t2s/exps/speedyspeech/train.py
  paddlespeech/t2s/models/speedyspeech/speedyspeech.py
  paddlespeech/t2s/models/speedyspeech/speedyspeech_updater.py
Due: auto add label=T2S

[tts]Update mb melgan (#1272)
  docs/source/released_model.md
  examples/csmsc/tts2/local/synthesize_e2e.sh
  examples/csmsc/tts3/local/synthesize_e2e.sh
  examples/csmsc/voc3/README.md
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/tts/infer.py
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/exps/speedyspeech/preprocess.py
  paddlespeech/t2s/exps/speedyspeech/train.py
  paddlespeech/t2s/models/speedyspeech/speedyspeech.py
  paddlespeech/t2s/models/speedyspeech/speedyspeech_updater.py
Due: auto add label=T2S, auto add label=Example, auto add label=README, auto add label=Documentation

fix batch sampler set_epoch when epcoh start
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/io/dataloader.py
  paddlespeech/s2t/modules/ctc.py
  paddlespeech/s2t/training/scheduler.py
  paddlespeech/s2t/training/trainer.py
Due: auto add label=S2T

format code
  paddlespeech/s2t/exps/deepspeech2/bin/deploy/runtime.py
  paddlespeech/s2t/exps/deepspeech2/bin/deploy/server.py
  paddlespeech/s2t/exps/deepspeech2/bin/export.py
  paddlespeech/s2t/exps/deepspeech2/bin/test_export.py
  paddlespeech/s2t/exps/deepspeech2/bin/train.py
  paddlespeech/s2t/exps/u2/bin/export.py
  paddlespeech/s2t/exps/u2/bin/train.py
  paddlespeech/s2t/exps/u2_kaldi/model.py
  paddlespeech/s2t/exps/u2_st/bin/export.py
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/models/ds2/deepspeech2.py
  paddlespeech/s2t/models/ds2_online/deepspeech2.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/models/u2_st/u2_st.py
  paddlespeech/s2t/modules/ctc.py
Due: auto add label=S2T

fix default dist_samlper to False
  paddlespeech/s2t/exps/u2/model.py
Due: auto add label=S2T

add MANIFEST.in for source code package for ctcdecoders, test=doc_fix
  paddlespeech/s2t/decoders/ctcdecoder/swig/COPYING
  paddlespeech/s2t/decoders/ctcdecoder/swig/COPYING.LESSER.3
  paddlespeech/s2t/decoders/ctcdecoder/swig/MANIFEST.in
  paddlespeech/s2t/decoders/ctcdecoder/swig/setup.py
Due: auto add label=S2T

Add cli logging.
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/text/infer.py
  paddlespeech/cli/tts/infer.py
  paddlespeech/cli/utils.py
Due: none

use pre-commit, test=doc_fix
  examples/other/1xt2x/src_deepspeech2x/models/ds2/deepspeech2.py
  examples/other/1xt2x/src_deepspeech2x/test_model.py
  paddlespeech/s2t/exps/deepspeech2/bin/deploy/runtime.py
  paddlespeech/s2t/exps/deepspeech2/bin/deploy/server.py
  paddlespeech/s2t/exps/deepspeech2/bin/export.py
  paddlespeech/s2t/exps/deepspeech2/bin/test_export.py
  paddlespeech/s2t/exps/deepspeech2/bin/test_wav.py
  paddlespeech/s2t/exps/deepspeech2/bin/train.py
  paddlespeech/s2t/exps/deepspeech2/model.py
  paddlespeech/s2t/exps/u2/bin/export.py
  paddlespeech/s2t/exps/u2/bin/train.py
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/exps/u2_kaldi/model.py
  paddlespeech/s2t/exps/u2_st/bin/export.py
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/io/collator.py
  paddlespeech/s2t/io/dataset.py
  paddlespeech/s2t/models/ds2/deepspeech2.py
  paddlespeech/s2t/models/ds2_online/deepspeech2.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/models/u2_st/u2_st.py
Due: auto add label=S2T, auto add label=Example

add multi-speaker support for finetuning hifigan vocoder
  examples/csmsc/voc5/finetune.sh
  examples/csmsc/voc5/local/link_wav.py
  paddlespeech/t2s/exps/fastspeech2/gen_gta_mel.py
Due: auto add label=T2S, auto add label=Example

add --dataset and --rootdir to voc3 finetune script
  examples/csmsc/voc3/finetune.sh
  examples/csmsc/voc5/finetune.sh
Due: auto add label=Example

move link_wav.py to paddlespeech/t2s/exps/gan_vocoder/
  examples/csmsc/voc3/finetune.sh
  examples/csmsc/voc3/local/link_wav.py
  examples/csmsc/voc5/finetune.sh
  paddlespeech/t2s/exps/gan_vocoder/link_wav.py
Due: auto add label=T2S, auto add label=Example

Simplify link_wav.py path
  examples/csmsc/voc3/finetune.sh
  examples/csmsc/voc5/finetune.sh
Due: auto add label=Example

change link_wav.py path, test=tts
  examples/csmsc/voc3/finetune.sh
  examples/csmsc/voc5/finetune.sh
  utils/link_wav.py
Due: auto add label=Example

Add cli logging. (#1274)
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/text/infer.py
  paddlespeech/cli/tts/infer.py
  paddlespeech/cli/utils.py
Due: none

Update gan_vocoder.ipynb
  docs/topic/gan_vocoder/gan_vocoder.ipynb
Due: auto add label=Documentation
