Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=enhancement"
    conditions:
      - files~=^deepspeech/
    actions:
      label:
        add: ["enhancement"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechnn/
    actions:
      label:
        add: ["Deployment"]

[README(TTS+ASR)] Update the README according to compliant templates and specifications. (#940)
  README.md
  docs/images/PaddleSpeech_log.png
  docs/source/tts/install.md
Due: auto add label=README

refactor docs
  .readthedocs.yml
  docs/images/paddle.png
  docs/images/tuning_error_surface.png
  docs/requirements.txt
  docs/source/asr/models_introduction.md
  docs/source/asr/quick_start.md
  docs/source/asr/released_model.md
  docs/source/conf.py
  docs/source/index.rst
  docs/source/install.md
  docs/source/introduction.md
  docs/source/released_model.md
  docs/source/tts/advanced_usage.md
  docs/source/tts/basic_usage.md
  docs/source/tts/demo.rst
  docs/source/tts/demo_2.rst
  docs/source/tts/gan_vocoder.md
  docs/source/tts/index.rst
  docs/source/tts/install.md
  docs/source/tts/introduction.md
  docs/source/tts/models_introduction.md
  docs/source/tts/quick_start.md
  docs/source/tts/zh_text_frontend.md
  examples/other/text_frontend/README.md
Due: auto add label=Example, auto add label=README

fix rtf, fix inf input of speedyspeech, fix stft dir for 2.2.0
  parakeet/exps/gan_vocoder/multi_band_melgan/synthesize.py
  parakeet/exps/gan_vocoder/parallelwave_gan/synthesize.py
  parakeet/exps/speedyspeech/inference.py
  parakeet/modules/stft_loss.py
Due: none

fix textfrontend readme, fix imgs link
  README.md
  docs/source/asr/models_introduction.md
  docs/source/asr/quick_start.md
  docs/source/tts/models_introduction.md
  examples/other/text_frontend/README.md
  examples/tiny/s0/README.md
  parakeet/data/batch.py
  parakeet/exps/tacotron2/ljspeech.py
Due: auto add label=Example, auto add label=README

fix docs install
  .readthedocs.yml
  docs/requirements.txt
  docs/source/conf.py
Due: none

more mergify tag
  .mergify.yml
Due: auto add label=mergify

Update README.md
  README.md
Due: auto add label=README

fix mv writer to visualdl in train
  README.md
  docs/source/tts/install.md
  examples/tiny/s0/README.md
  parakeet/data/batch.py
  parakeet/exps/fastspeech2/train.py
  parakeet/exps/gan_vocoder/multi_band_melgan/train.py
  parakeet/exps/gan_vocoder/parallelwave_gan/train.py
  parakeet/exps/speedyspeech/train.py
  parakeet/exps/tacotron2/ljspeech.py
  parakeet/exps/transformer_tts/train.py
  parakeet/models/melgan/melgan_updater.py
  parakeet/training/extensions/visualizer.py
Due: auto add label=Example, auto add label=README

install soundfile lib
  tools/Makefile
  tools/extras/README.md
  tools/extras/install_soundfile.sh
Due: auto add label=README, auto add label=Installation

format code
  README.md
  deepspeech/exps/deepspeech2/model.py
  parakeet/data/batch.py
  parakeet/exps/tacotron2/ljspeech.py
Due: auto add label=enhancement, auto add label=README

fix pwg inference
  deepspeech/exps/deepspeech2/model.py
  examples/csmsc/voc3/conf/use_tanh.yaml
  parakeet/models/melgan/melgan.py
  parakeet/models/parallel_wavegan/parallel_wavegan.py
  parakeet/modules/residual_stack.py
Due: auto add label=enhancement, auto add label=Example

fix demos
  docs/source/_static/custom.css
  docs/source/conf.py
  docs/source/tts/demo.rst
Due: none

fix the bug of chooing dataloader, remove the log of downloads lm, change the epoch in tiny
  README.md
  deepspeech/exps/deepspeech2/model.py
  examples/aishell/s0/local/test.sh
  examples/aishell/s0/local/test_export.sh
  examples/librispeech/s0/local/test.sh
  examples/other/1xt2x/aishell/local/test.sh
  examples/other/1xt2x/baidu_en8k/local/test.sh
  examples/other/1xt2x/librispeech/local/test.sh
  examples/tiny/s0/conf/deepspeech2.yaml
  examples/tiny/s0/conf/deepspeech2_online.yaml
  examples/tiny/s0/local/test.sh
  examples/tiny/s1/conf/chunk_confermer.yaml
  examples/tiny/s1/conf/chunk_transformer.yaml
  examples/tiny/s1/conf/conformer.yaml
  examples/tiny/s1/conf/transformer.yaml
Due: auto add label=enhancement, auto add label=Example, auto add label=README

align ouput of dygraph and static graph
  examples/csmsc/tts3/README.md
  examples/csmsc/tts3/inference.sh
  examples/csmsc/tts3/local/synthesize_e2e.sh
  parakeet/exps/fastspeech2/inference.py
  parakeet/exps/fastspeech2/synthesize_e2e.py
  parakeet/models/fastspeech2/fastspeech2.py
  parakeet/modules/fastspeech2_predictor/length_regulator.py
  parakeet/modules/fastspeech2_transformer/attention.py
  parakeet/modules/fastspeech2_transformer/embedding.py
  parakeet/modules/fastspeech2_transformer/encoder_layer.py
  parakeet/modules/layer_norm.py
  parakeet/modules/masked_fill.py
Due: auto add label=Example, auto add label=README

add global init for multi band melgan to avoid large output in the begin
  examples/csmsc/voc3/conf/default.yaml
  examples/csmsc/voc3/conf/use_tanh.yaml
  parakeet/models/melgan/melgan.py
  parakeet/modules/residual_stack.py
Due: auto add label=Example

fix the bug of 'dev/null' and the test_export
  deepspeech/exps/deepspeech2/model.py
  deepspeech/training/trainer.py
  examples/aishell/s0/local/test.sh
  examples/aishell/s0/local/test_export.sh
Due: auto add label=enhancement, auto add label=Example

add the model description in 1xt2x doc
  examples/other/1xt2x/README.md
Due: auto add label=Example, auto add label=README

Update README.md
  examples/other/1xt2x/README.md
Due: auto add label=Example, auto add label=README

Add the feature: caculating the perplexity of transformerLM
  deepspeech/exps/lm/transformer/__init__.py
  deepspeech/exps/lm/transformer/bin/cacu_perplexity.py
  deepspeech/exps/lm/transformer/lm_cacu_perplexity.py
  deepspeech/frontend/featurizer/text_featurizer.py
  deepspeech/io/collator.py
  deepspeech/io/dataset.py
  deepspeech/models/lm/transformer.py
  examples/librispeech/s2/conf/lm/transformer.yaml
  examples/librispeech/s2/local/cacu_perplexity.sh
  examples/librispeech/s2/run.sh
Due: auto add label=enhancement, auto add label=Example
