Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=TextProcess, auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=TextProcess:
  label:
    add:
    - TextProcess

auto add label=Example:
  label:
    add:
    - Example

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

Update released_model.md (#1401)
  docs/source/released_model.md
Due: auto add label=Documentation

updated PaddleSpeech Server diagram (#1407)
  docs/images/arch/PaddleSpeech_Server_architecture_diagram.png
  docs/images/arch/PaddleSpeech_Server_class_diagram.png
Due: auto add label=Documentation

fix comments, test=doc
  speechserving/speechserving/conf/asr/asr.yaml
  speechserving/speechserving/restful/api.py
  speechserving/speechserving/utils/util.py
Due: none

[Server] added engine factory and config (#1399)
  speechserving/speechserving/bin/paddlespeech-client.py
  speechserving/speechserving/bin/paddlespeech-server.py
  speechserving/speechserving/conf/application.yaml
  speechserving/speechserving/conf/asr/asr.yaml
  speechserving/speechserving/engine/engine_factory.py
  speechserving/speechserving/main.py
  speechserving/speechserving/restful/api.py
  speechserving/speechserving/restful/asr_api.py
  speechserving/speechserving/utils/config.py
  speechserving/speechserving/utils/util.py
Due: none

add voxceleb1 data prepare scripts
  .pre-commit-config.yaml
  dataset/voxceleb/README.md
  dataset/voxceleb/voxceleb1.py
Due: auto add label=README

add voxceleb1 vox1_test_wav.zip md5sum
  dataset/voxceleb/voxceleb1.py
Due: none

optimize the voxceleb1 data prepare logic
  dataset/voxceleb/voxceleb1.py
Due: none

voxceleb1 data prepare: adjust the code a little
  dataset/voxceleb/README.md
  dataset/voxceleb/voxceleb1.py
Due: auto add label=README

[vector]add voxceleb1 data prepare scripts (#1409)
  .pre-commit-config.yaml
  dataset/voxceleb/README.md
  dataset/voxceleb/voxceleb1.py
Due: auto add label=README

add postproces, test=doc
  speechserving/speechserving/engine/tts/python/tts_engine.py
  speechserving/speechserving/restful/request.py
  speechserving/speechserving/restful/tts_api.py
  speechserving/speechserving/utils/audio_types.py
Due: none

add normalizer
  speechx/speechx/frontend/linear_spectrogram.cc
  speechx/speechx/frontend/linear_spectrogram.h
  speechx/speechx/frontend/normalizer.cc
  speechx/speechx/frontend/normalizer.h
Due: none

compatible kaldi trial and data split dir
  dataset/voxceleb/voxceleb1.py
Due: none

remove unuseless code
  dataset/voxceleb/voxceleb1.py
Due: none

[vector]voxceleb1 data prepare: compatible kaldi trial and data split dir (#1412)
  dataset/voxceleb/voxceleb1.py
Due: none

added asr engine, test=doc
  speechserving/speechserving/conf/asr/asr.yaml
  speechserving/speechserving/engine/asr/python/asr_engine.py
  speechserving/speechserving/restful/asr_api.py
  speechserving/tests/http_client.py
Due: none

fix tacotron2 dygraph to static , test=tts
  examples/csmsc/tts0/local/inference.sh
  examples/csmsc/tts0/local/synthesize_e2e.sh
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/models/new_tacotron2/tacotron2.py
  paddlespeech/t2s/modules/tacotron2/attentions.py
  paddlespeech/t2s/modules/tacotron2/decoder.py
  paddlespeech/t2s/modules/tacotron2/encoder.py
Due: auto add label=T2S, auto add label=Example

fix tacotron2 dygraph to static , test=tts
  paddlespeech/t2s/models/new_tacotron2/tacotron2.py
Due: auto add label=T2S

simplify synthesize_e2e.py , test=tts
  paddlespeech/t2s/exps/synthesize_e2e.py
Due: auto add label=T2S

fix speed, add setup, test=doc
  setup.py
  speechserving/speechserving/conf/application.yaml
  speechserving/speechserving/engine/tts/python/tts_engine.py
  speechserving/speechserving/utils/audio_process.py
  speechserving/speechserving/utils/audio_types.py
Due: auto add label=Installation

fix speed, add setup, test=doc (#1415)
  setup.py
  speechserving/speechserving/conf/application.yaml
  speechserving/speechserving/engine/tts/python/tts_engine.py
  speechserving/speechserving/utils/audio_process.py
  speechserving/speechserving/utils/audio_types.py
Due: auto add label=Installation

[TTS]fix tacotron2 dygraph to static (#1414)
  examples/csmsc/tts0/local/inference.sh
  examples/csmsc/tts0/local/synthesize_e2e.sh
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/models/new_tacotron2/tacotron2.py
  paddlespeech/t2s/modules/tacotron2/attentions.py
  paddlespeech/t2s/modules/tacotron2/decoder.py
  paddlespeech/t2s/modules/tacotron2/encoder.py
Due: auto add label=T2S, auto add label=Example

update wavernn, test=tts
  examples/csmsc/voc6/conf/default.yaml
  paddlespeech/t2s/audio/__init__.py
  paddlespeech/t2s/audio/codec.py
  paddlespeech/t2s/datasets/vocoder_batch_fn.py
  paddlespeech/t2s/models/wavernn/wavernn.py
Due: auto add label=T2S, auto add label=Example

add ljspeech new tacotron2, test=tts
  examples/ljspeech/tts0/README.md
  examples/ljspeech/tts0/local/preprocess.sh
  examples/ljspeech/tts0/local/synthesize.sh
  examples/ljspeech/tts0/local/train.sh
  examples/ljspeech/tts0/path.sh
  examples/ljspeech/tts0/run.sh
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/exps/synthesize_e2e.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

convert voxceleb trial to kaldi format trial
  examples/voxceleb/README.md
  examples/voxceleb/sv0/local/make_voxceleb_kaldi_trial.py
Due: auto add label=Example, auto add label=README

update ljspeech waveflow's synthesize
  examples/ljspeech/voc0/run.sh
Due: auto add label=Example

change log of cli/asr/infer
  paddlespeech/cli/asr/infer.py
Due: none

add paddle inference code, test=doc
  speechserving/speechserving/engine/tts/paddleinference/tts_engine.py
  speechserving/speechserving/utils/audio_process.py
  speechserving/speechserving/utils/paddle_predictor.py
Due: none

add paddle inference code, test=doc
  speechserving/speechserving/conf/tts/tts_pd.yaml
  speechserving/speechserving/engine/tts/paddleinference/tts_engine.py
  speechserving/speechserving/utils/audio_process.py
  speechserving/speechserving/utils/paddle_predictor.py
Due: none

add config, test=doc
  examples/ljspeech/tts0/conf/default.yaml
Due: auto add label=Example

add Chinese doc for tts quick_start, test=doc
  docs/source/tts/quick_start_cn.md
Due: auto add label=Documentation

add Chinese doc for "FastSpeech2 with CSMSC", test=doc
  examples/csmsc/tts3/README_cn.md
Due: auto add label=Example

Modify typesetting, test=doc
  docs/source/tts/quick_start_cn.md
  examples/csmsc/tts3/README_cn.md
Due: auto add label=Example, auto add label=Documentation

thank myself, test=doc
  README.md
  README_cn.md
Due: auto add label=README

Modify typesetting, test=doc
  docs/source/tts/quick_start.md
  docs/source/tts/quick_start_cn.md
  examples/csmsc/tts3/README.md
  examples/csmsc/tts3/README_cn.md
Due: auto add label=Example, auto add label=README, auto add label=Documentation

[TTS]add ljspeech new tacotron2 (#1416)
  examples/ljspeech/tts0/README.md
  examples/ljspeech/tts0/conf/default.yaml
  examples/ljspeech/tts0/local/preprocess.sh
  examples/ljspeech/tts0/local/synthesize.sh
  examples/ljspeech/tts0/local/train.sh
  examples/ljspeech/tts0/path.sh
  examples/ljspeech/tts0/run.sh
  examples/ljspeech/voc0/run.sh
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/exps/synthesize_e2e.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

Modify typesetting, test=doc
  docs/source/tts/quick_start_cn.md
Due: auto add label=Documentation

fix dead links, test=doc
  docs/source/released_model.md
  docs/source/tts/README.md
  examples/thchs30/align0/README.md
  tests/benchmark/conformer/README.md
Due: auto add label=Example, auto add label=README, auto add label=Documentation

Path conditions:
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^audio/
  auto add label=TextProcess: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^docs/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
