Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=enhancement:
  label:
    add:
    - enhancement

auto add label=Example:
  label:
    add:
    - Example

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

fix lexicon path in thchs30/a0/run.sh
  examples/thchs30/a0/run.sh
Due: auto add label=Example

update README for thchs30
  examples/thchs30/README.md
Due: auto add label=Example, auto add label=README

move scripts of ngram to s0
  examples/ngram_lm/s0/README.md
  examples/ngram_lm/s0/data/README.md
  examples/ngram_lm/s0/data/custom_confusion.txt
  examples/ngram_lm/s0/data/text_correct.txt
  examples/ngram_lm/s0/local/build_zh_lm.sh
  examples/ngram_lm/s0/local/download_lm_zh.sh
  examples/ngram_lm/s0/local/kenlm_score_test.py
  examples/ngram_lm/s0/path.sh
  examples/ngram_lm/s0/requirements.txt
  examples/ngram_lm/s0/run.sh
Due: auto add label=Example, auto add label=README

fix load param
  deepspeech/utils/checkpoint.py
Due: auto add label=enhancement

fix install scripts
  tools/install/install_gcc.sh
  tools/install/install_kaldi.sh
  tools/install/install_mfa.sh
  tools/install/install_mkl.sh
  tools/install/install_ngram.sh
  tools/install/install_openfst.sh
  tools/install/install_pynini.sh
Due: auto add label=Installation

add timit
  examples/dataset/gigaspeech/run.sh
  examples/dataset/thchs30/thchs30.py
  examples/dataset/timit/.gitignore
  examples/dataset/timit/timit.py
  utils/utility.py
Due: auto add label=Example

revise readme
  examples/aishell/s0/README.md
Due: auto add label=Example, auto add label=README

fix sha bone; more detial of chunk exp;
  examples/aishell/s0/local/client.sh
  examples/aishell/s0/local/data.sh
  examples/aishell/s0/local/download_lm_ch.sh
  examples/aishell/s0/local/export.sh
  examples/aishell/s0/local/server.sh
  examples/aishell/s0/local/test.sh
  examples/aishell/s0/local/train.sh
  examples/aishell/s0/local/tune.sh
  examples/aishell/s1/README.md
  examples/aishell/s1/local/align.sh
  examples/aishell/s1/local/data.sh
  examples/aishell/s1/local/export.sh
  examples/aishell/s1/local/test.sh
  examples/aishell/s1/local/train.sh
  examples/librispeech/s0/local/data.sh
  examples/librispeech/s0/local/download_lm_en.sh
  examples/librispeech/s0/local/export.sh
  examples/librispeech/s0/local/test.sh
  examples/librispeech/s0/local/train.sh
  examples/librispeech/s0/local/tune.sh
  examples/librispeech/s1/README.md
  examples/librispeech/s1/conf/chunk_confermer.yaml
  examples/librispeech/s1/local/align.sh
  examples/librispeech/s1/local/data.sh
  examples/librispeech/s1/local/download_lm_en.sh
  examples/librispeech/s1/local/export.sh
  examples/librispeech/s1/local/test.sh
  examples/librispeech/s1/local/train.sh
  examples/tiny/s0/local/data.sh
  examples/tiny/s0/local/download_lm_en.sh
  examples/tiny/s0/local/export.sh
  examples/tiny/s0/local/test.sh
  examples/tiny/s0/local/train.sh
  examples/tiny/s0/local/tune.sh
  examples/tiny/s1/local/align.sh
  examples/tiny/s1/local/data.sh
  examples/tiny/s1/local/export.sh
  examples/tiny/s1/local/test.sh
  examples/tiny/s1/local/train.sh
Due: auto add label=Example, auto add label=README

comment u2 model for easy understand
  deepspeech/models/u2.py
  deepspeech/modules/encoder.py
Due: auto add label=enhancement

fix kenlm install; librispeech s0 aug
  examples/aishell/s1/local/download_lm_ch.sh
  examples/librispeech/s0/conf/augmentation.json
  examples/librispeech/s1/README.md
  examples/librispeech/s1/conf/chunk_conformer.yaml
  examples/tiny/s1/local/download_lm_en.sh
  tools/Makefile
Due: auto add label=Example, auto add label=README, auto add label=Installation

fix librispeech meta path
  examples/dataset/librispeech/librispeech.py
Due: auto add label=Example

libri s0 w/ spec-aug result
  examples/librispeech/s0/README.md
Due: auto add label=Example, auto add label=README

download aishell rescoure
  examples/dataset/aishell/aishell.py
Due: auto add label=Example

revise load parameters
  deepspeech/models/deepspeech2.py
Due: auto add label=enhancement

add example of timit standard split
  examples/dataset/timit/timit_kaldi_standard_split.py
  examples/timit/README.md
  examples/timit/conf/augmentation.json
  examples/timit/conf/dev_spk.list
  examples/timit/conf/phones.60-48-39.map
  examples/timit/conf/test_spk.list
  examples/timit/conf/transformer.yaml
  examples/timit/local/align.sh
  examples/timit/local/data.sh
  examples/timit/local/export.sh
  examples/timit/local/test.sh
  examples/timit/local/timit_data_prep.sh
  examples/timit/local/timit_norm_trans.pl
  examples/timit/local/train.sh
  examples/timit/path.sh
  examples/timit/run.sh
Due: auto add label=Example, auto add label=README

add related scripts of TIMIT
  examples/dataset/timit/timit_kaldi_standard_split.py
  examples/timit/README.md
  examples/timit/conf/augmentation.json
  examples/timit/conf/dev_spk.list
  examples/timit/conf/phones.60-48-39.map
  examples/timit/conf/test_spk.list
  examples/timit/conf/transformer.yaml
  examples/timit/local/align.sh
  examples/timit/local/data.sh
  examples/timit/local/export.sh
  examples/timit/local/test.sh
  examples/timit/local/timit_data_prep.sh
  examples/timit/local/timit_norm_trans.pl
  examples/timit/local/train.sh
  examples/timit/path.sh
  examples/timit/run.sh
Due: auto add label=Example, auto add label=README

refine shell
  examples/timit/local/timit_data_prep.sh
Due: auto add label=Example

added autoLog, but gpu_util is always 0.0%
  deepspeech/exps/deepspeech2/model.py
Due: auto add label=enhancement

move scripts to s1 dir
  examples/timit/s1/README.md
  examples/timit/s1/conf/augmentation.json
  examples/timit/s1/conf/dev_spk.list
  examples/timit/s1/conf/phones.60-48-39.map
  examples/timit/s1/conf/test_spk.list
  examples/timit/s1/conf/transformer.yaml
  examples/timit/s1/local/align.sh
  examples/timit/s1/local/data.sh
  examples/timit/s1/local/export.sh
  examples/timit/s1/local/test.sh
  examples/timit/s1/local/timit_data_prep.sh
  examples/timit/s1/local/timit_norm_trans.pl
  examples/timit/s1/local/train.sh
  examples/timit/s1/path.sh
  examples/timit/s1/run.sh
Due: auto add label=Example, auto add label=README

added autolog
  deepspeech/exps/deepspeech2/model.py
Due: auto add label=enhancement

add autolog
  examples/aishell/s0/run.sh
Due: auto add label=Example

Path conditions:
  auto add label=enhancement: any of: ^deepspeech/
  auto add label=Example: any of: ^examples/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
