Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=TextProcess, auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=TextProcess:
  label:
    add:
    - TextProcess

auto add label=Example:
  label:
    add:
    - Example

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

update script
  examples/ted_en_zh/st1/local/data.sh
Due: auto add label=Example

update mustc v1
  examples/mustc/st1/cmd.sh
  examples/mustc/st1/conf/fbank.conf
  examples/mustc/st1/conf/pitch.conf
  examples/mustc/st1/local/augmentation.json
  examples/mustc/st1/local/data.sh
  examples/mustc/st1/local/data_prep.sh
  examples/mustc/st1/local/divide_lang.sh
  examples/mustc/st1/local/remove_punctuation.pl
  examples/mustc/st1/local/test.sh
  examples/mustc/st1/local/train.sh
  examples/mustc/st1/path.sh
  examples/mustc/st1/run.sh
  examples/mustc/st1/steps
  examples/mustc/st1/utils
Due: auto add label=Example

mv json_to_manifest to utils
  utils/espnet_json_to_manifest.py
Due: none

add config files
  examples/mustc/st1/conf/transformer_de.yaml
  examples/mustc/st1/conf/transformer_es.yaml
  examples/mustc/st1/conf/transformer_fr.yaml
  examples/mustc/st1/conf/transformer_it.yaml
  examples/mustc/st1/conf/transformer_nl.yaml
  examples/mustc/st1/conf/transformer_pt.yaml
  examples/mustc/st1/conf/transformer_ro.yaml
  examples/mustc/st1/conf/transformer_ru.yaml
Due: auto add label=Example

add offline_deocder_main
  speechx/speechx/codelab/decoder_test/offline_decoder_main.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.h
  speechx/speechx/nnet/ctc_decodable.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/decodable.h
  speechx/speechx/nnet/dnn_decodable.h
  speechx/speechx/nnet/nnet_interface.h
  speechx/speechx/nnet/paddle_nnet.cc
  speechx/speechx/nnet/paddle_nnet.h
Due: none

update run sh
  examples/mustc/st1/run.sh
Due: auto add label=Example

Update batch input and stdin input.
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/executor.py
Due: none

Support batch input in cls task.
  demos/audio_tagging/README.md
  demos/audio_tagging/README_cn.md
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/executor.py
Due: auto add label=Demo, auto add label=README

Update batch input and stdin input.
  demos/audio_tagging/README.md
  demos/audio_tagging/README_cn.md
Due: auto add label=Demo, auto add label=README

Update batch input.
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/text/infer.py
  paddlespeech/cli/tts/infer.py
Due: none

add cli, test=doc
  paddlespeech/server/base_commands.py
  paddlespeech/server/bin/__init__.py
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/bin/paddlespeech_server.py
  paddlespeech/server/download.py
  paddlespeech/server/engine/asr/__init__.py
  paddlespeech/server/engine/asr/python/__init__.py
  paddlespeech/server/engine/tts/__init__.py
  paddlespeech/server/engine/tts/paddleinference/__init__.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/__init__.py
  paddlespeech/server/engine/tts/python/tts_engine.py
  paddlespeech/server/entry.py
  paddlespeech/server/restful/tts_api.py
  paddlespeech/server/util.py
  setup.py
Due: auto add label=Installation

add cli, test=doc
  paddlespeech/server/__init__.py
Due: none

add cli, test=doc
  paddlespeech/server/bin/__init__.py
  paddlespeech/server/entry.py
Due: none

improve cli code, test=doc
  paddlespeech/server/__init__.py
  paddlespeech/server/base_commands.py
  paddlespeech/server/bin/__init__.py
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/bin/paddlespeech_server.py
  paddlespeech/server/entry.py
  paddlespeech/server/util.py
  setup.py
Due: auto add label=Installation

added engine type and asr inference, test=doc
  paddlespeech/__init__.py
  paddlespeech/s2t/io/utility.py
  paddlespeech/server/bin/main.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/conf/asr/asr.yaml
  paddlespeech/server/conf/asr/asr_pd.yaml
  paddlespeech/server/engine/asr/paddleinference/__init__.py
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/python/asr_engine.py
  paddlespeech/server/engine/engine_factory.py
  paddlespeech/server/engine/engine_pool.py
  paddlespeech/server/restful/asr_api.py
  paddlespeech/server/tests/asr/16_audio.wav
  paddlespeech/server/tests/asr/http_client.py
Due: auto add label=S2T

Add cli logger control.
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/executor.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/text/infer.py
  paddlespeech/cli/tts/infer.py
Due: none

Add cli logger control.
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/text/infer.py
Due: none

add readme, test=doc
  paddlespeech/server/README.md
  paddlespeech/server/README_cn.md
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/bin/paddlespeech_server.py
  paddlespeech/server/executor.py
Due: auto add label=README

added engine type and asr inference , test=doc
  paddlespeech/__init__.py
  paddlespeech/s2t/io/utility.py
  paddlespeech/server/base_commands.py
  paddlespeech/server/bin/__init__.py
  paddlespeech/server/bin/main.py
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/bin/paddlespeech_server.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/conf/asr/asr.yaml
  paddlespeech/server/conf/asr/asr_pd.yaml
  paddlespeech/server/download.py
  paddlespeech/server/engine/asr/__init__.py
  paddlespeech/server/engine/asr/paddleinference/__init__.py
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/python/__init__.py
  paddlespeech/server/engine/asr/python/asr_engine.py
  paddlespeech/server/engine/engine_factory.py
  paddlespeech/server/engine/engine_pool.py
  paddlespeech/server/engine/tts/__init__.py
  paddlespeech/server/engine/tts/paddleinference/__init__.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/__init__.py
  paddlespeech/server/engine/tts/python/tts_engine.py
  paddlespeech/server/entry.py
  paddlespeech/server/restful/asr_api.py
  paddlespeech/server/restful/tts_api.py
  paddlespeech/server/tests/asr/16_audio.wav
  paddlespeech/server/tests/asr/http_client.py
  paddlespeech/server/util.py
  setup.py
Due: auto add label=S2T, auto add label=Installation

fixed overload , test=doc
  paddlespeech/server/conf/asr/asr.yaml
  paddlespeech/server/conf/asr/asr_pd.yaml
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/python/asr_engine.py
Due: none

add cmakelist of decoder, nnet
  speechx/CMakeLists.txt
  speechx/speechx/CMakeLists.txt
  speechx/speechx/base/common.h
  speechx/speechx/base/macros.h
  speechx/speechx/decoder/CMakeLists.txt
  speechx/speechx/decoder/ctc_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.h
  speechx/speechx/nnet/CMakeLists.txt
  speechx/speechx/nnet/decodable-itf.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/decodable.h
  speechx/speechx/nnet/nnet_interface.h
  speechx/speechx/nnet/paddle_nnet.cc
  speechx/speechx/nnet/paddle_nnet.h
  speechx/speechx/utils/CMakeLists.txt
  speechx/speechx/utils/file_utils.cc
  speechx/speechx/utils/file_utils.h
Due: none

Add mfcc.
  paddleaudio/features/spectrum.py
Due: none

Update tts_papers.md
  docs/source/tts/tts_papers.md
Due: auto add label=Documentation

Update README.md
  README.md
Due: auto add label=README

Update README_cn.md
  README_cn.md
Due: none

add readme, test=doc
  README.md
  README_cn.md
  demos/speech_server/16_audio.wav
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/speech_server/asr_client.sh
  demos/speech_server/conf/application.yaml
  demos/speech_server/conf/asr/asr.yaml
  demos/speech_server/conf/tts/tts.yaml
  demos/speech_server/conf/tts/tts_pd.yaml
  demos/speech_server/server.sh
  demos/speech_server/tts_client.sh
  docs/source/server/README.md
  docs/source/server/README_cn.md
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/bin/paddlespeech_server.py
  paddlespeech/server/executor.py
  paddlespeech/server/tests/tts/test_client.py
  paddlespeech/server/util.py
Due: auto add label=Demo, auto add label=README, auto add label=Documentation

add readme, test=doc
  demos/speech_server/asr_client.sh
  demos/speech_server/tts_client.sh
Due: auto add label=Demo

add server demo, test=doc
  demos/speech_server/16_audio.wav
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/speech_server/asr_client.sh
  demos/speech_server/conf/application.yaml
  demos/speech_server/conf/asr/asr.yaml
  demos/speech_server/conf/tts/tts.yaml
  demos/speech_server/conf/tts/tts_pd.yaml
  demos/speech_server/server.sh
  demos/speech_server/tts_client.sh
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/bin/paddlespeech_server.py
  paddlespeech/server/executor.py
Due: auto add label=Demo, auto add label=README

added cli changed code, test=doc
  paddlespeech/cli/asr/infer.py
  paddlespeech/server/bin/paddlespeech_server.py
Due: none

update util, test=doc
  paddlespeech/server/util.py
Due: none

added isinstance code, test=doc
  paddlespeech/cli/asr/infer.py
Due: none

remove wavfile, test=doc
  demos/speech_server/16_audio.wav
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/speech_server/asr_client.sh
Due: auto add label=Demo, auto add label=README

deleted wav file , test=doc
  paddlespeech/server/tests/16_audio.wav
  paddlespeech/server/tests/asr/16_audio.wav
  paddlespeech/server/tests/http_client.py
Due: none

update server cli, test=doc
  demos/speech_server/conf/application.yaml
  demos/speech_server/conf/asr/asr.yaml
  demos/speech_server/conf/asr/asr_pd.yaml
  demos/speech_server/conf/tts/tts.yaml
  demos/speech_server/conf/tts/tts_pd.yaml
  paddlespeech/server/bin/paddlespeech_server.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/conf/asr/asr.yaml
  paddlespeech/server/conf/tts/tts.yaml
  paddlespeech/server/conf/tts/tts_pd.yaml
  paddlespeech/server/engine/asr/python/asr_engine.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/restful/tts_api.py
  paddlespeech/server/utils/paddle_predictor.py
Due: auto add label=Demo

update ctc loss compare
  docs/topic/ctc/ctc_loss_compare.ipynb
Due: auto add label=Documentation

format code,test=doc
  .pre-commit-config.yaml
  dataset/voxceleb/voxceleb1.py
  examples/ami/sd0/local/ami_prepare.py
  examples/voxceleb/sv0/local/make_voxceleb_kaldi_trial.py
  paddlespeech/__init__.py
  paddlespeech/cli/asr/infer.py
  paddlespeech/s2t/io/utility.py
  paddlespeech/t2s/datasets/dataset.py
  utils/DER.py
Due: auto add label=S2T, auto add label=T2S, auto add label=Example

make librosa version fixed
  paddlespeech/__init__.py
  requirements.txt
  setup.py
Due: auto add label=Installation

Path conditions:
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^audio/
  auto add label=TextProcess: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^docs/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
