Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=enhancement"
    conditions:
      - files~=^deepspeech/
    actions:
      label:
        add: ["enhancement"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechnn/
    actions:
      label:
        add: ["Deployment"]

Add the feature: caculating the perplexity of transformerLM
  deepspeech/exps/lm/transformer/__init__.py
  deepspeech/exps/lm/transformer/bin/cacu_perplexity.py
  deepspeech/exps/lm/transformer/lm_cacu_perplexity.py
  deepspeech/frontend/featurizer/text_featurizer.py
  deepspeech/io/collator.py
  deepspeech/io/dataset.py
  deepspeech/models/lm/transformer.py
  examples/librispeech/s2/conf/lm/transformer.yaml
  examples/librispeech/s2/local/cacu_perplexity.sh
  examples/librispeech/s2/run.sh
Due: auto add label=enhancement, auto add label=Example

fix fs2 inference bug
  examples/csmsc/tts2/README.md
  examples/csmsc/tts3/README.md
  examples/csmsc/tts3/local/inference.sh
  examples/csmsc/tts3/run.sh
  parakeet/exps/fastspeech2/inference.py
Due: auto add label=Example, auto add label=README

fix the run_test in test_export
  deepspeech/exps/deepspeech2/model.py
  deepspeech/training/trainer.py
  examples/other/1xt2x/README.md
Due: auto add label=enhancement, auto add label=Example, auto add label=README

add paddle tts vs espnet tts demos
  docs/source/_static/custom.css
  docs/source/tts/demo.rst
  docs/source/tts/demo_2.rst
  docs/source/tts/test_sentence.txt
  parakeet/models/fastspeech2/fastspeech2.py
Due: none

revert ds2 offline rnn bw_cell to fw_cell which loss can be 5.73, but is not the birnn
  deepspeech/models/ds2/rnn.py
  examples/aishell/s0/README.md
  examples/aishell/s0/conf/deepspeech2.yaml
Due: auto add label=enhancement, auto add label=Example, auto add label=README

fix mbmelgan static
  parakeet/exps/fastspeech2/synthesize_e2e_melgan.py
  parakeet/models/melgan/melgan.py
  parakeet/modules/kaiser.py
  parakeet/modules/pqmf.py
Due: none

fix mbmelgan static
  parakeet/modules/kaiser.py
  parakeet/modules/pqmf.py
Due: none

update BZNSYP.rar link
  examples/other/g2p/zh/run.sh
Due: auto add label=Example

remove hub dir
  hub/requirements.txt
  hub/setup_hub.sh
  speechnn/env.sh
Due: auto add label=Deployment

using pip isntall -e . , remove steup.sh
  setup.sh
Due: auto add label=Installation

remve .travis; fix install doc; more kws in setup.py
  .travis/install.sh
  .travis/precommit.sh
  .travis/unittest.sh
  docs/make.bat
  docs/source/install.md
  setup.py
Due: auto add label=CI, auto add label=Installation

fix the quick start
  docs/source/asr/quick_start.md
Due: none

fix asr unit test
  tests/unit/asr/u2_model_test.py
Due: none

format code
  audio/examples/panns/audio_tag.py
  audio/examples/panns/parse_result.py
  audio/examples/sound_classification/deploy/python/predict.py
  audio/examples/sound_classification/export_model.py
  audio/examples/sound_classification/predict.py
  audio/examples/sound_classification/train.py
  audio/paddleaudio/features/augment.py
  audio/paddleaudio/features/core.py
  audio/test/unit_test/test_backend.py
  audio/test/unit_test/test_features.py
  paddlespeech/__init__.py
  paddlespeech/s2t/transform/transformation.py
  paddlespeech/s2t/utils/dynamic_import.py
  third_party/README.md
Due: auto add label=README

fix setup
  audio/requirements.txt
  audio/setup.py
  setup.py
Due: auto add label=Installation

more detals of reference
  README.md
  docs/source/asr/reference.md
  docs/source/reference.md
Due: auto add label=README

fix pwgan benchmark
  tests/benchmark/pwgan/run_all.sh
  tests/benchmark/pwgan/run_benchmark.sh
Due: none
