Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

remove useless code, test=doc
  tests/unit/server/offline/test_server_client.sh
  tests/unit/server/online/tts/check_server/http_client.py
  tests/unit/server/online/tts/check_server/ws_client.py
Due: auto add label=Test

updata released model info, test=doc
  docs/source/released_model.md
  examples/wenetspeech/asr0/RESULTS.md
  examples/wenetspeech/asr1/RESULTS.md
  paddlespeech/cli/asr/pretrained_models.py
Due: auto add label=Example, auto add label=CLI, auto add label=Documentation

update the streaming asr readme, test=doc
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  paddlespeech/server/bin/paddlespeech_server.py
Due: auto add label=Server, auto add label=Demo, auto add label=README

Revert "[R1.0][server] improve server code"
  demos/streaming_tts_server/conf/tts_online_application.yaml
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/conf/tts_online_application.yaml
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/engine/asr/online/pretrained_models.py
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/paddleinference/pretrained_models.py
  paddlespeech/server/engine/cls/paddleinference/cls_engine.py
  paddlespeech/server/engine/cls/paddleinference/pretrained_models.py
  paddlespeech/server/engine/tts/online/onnx/pretrained_models.py
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
  paddlespeech/server/engine/tts/online/python/pretrained_models.py
  paddlespeech/server/engine/tts/online/python/tts_engine.py
  paddlespeech/server/engine/tts/paddleinference/pretrained_models.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/tts_engine.py
  paddlespeech/server/restful/tts_api.py
  paddlespeech/server/tests/tts/online/http_client.py
  paddlespeech/server/tests/tts/online/ws_client.py
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/server/utils/util.py
  paddlespeech/server/ws/tts_socket.py
  tests/unit/server/offline/change_yaml.py
  tests/unit/server/offline/conf/application.yaml
  tests/unit/server/offline/test_server_client.sh
  tests/unit/server/online/tts/check_server/conf/application.yaml
  tests/unit/server/online/tts/check_server/http_client.py
  tests/unit/server/online/tts/check_server/test_all.sh
  tests/unit/server/online/tts/check_server/tts_online_application.yaml
  tests/unit/server/online/tts/check_server/ws_client.py
  tests/unit/server/online/tts/test_server/test_http_client.py
Due: auto add label=Server, auto add label=Demo, auto add label=Test

unify name style & frame with abs timestamp
  paddlespeech/server/bin/main.py
  paddlespeech/server/restful/api.py
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/server/utils/audio_process.py
  paddlespeech/server/utils/buffer.py
  paddlespeech/server/ws/api.py
  paddlespeech/server/ws/asr_socket.py
  paddlespeech/server/ws/tts_socket.py
Due: auto add label=Server

asr socket to asr api
  paddlespeech/server/ws/asr_api.py
  paddlespeech/server/ws/tts_api.py
Due: auto add label=Server

update tts_api for ws
  paddlespeech/server/ws/tts_api.py
Due: auto add label=Server

fix the doc, test=doc
  docs/source/released_model.md
  examples/wenetspeech/asr0/RESULTS.md
  examples/wenetspeech/asr1/RESULTS.md
Due: auto add label=Example, auto add label=Documentation

Add RFT for asr task.
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/executor.py
  paddlespeech/cli/utils.py
Due: auto add label=CLI

Add RFT for asr task.
  paddlespeech/cli/asr/infer.py
Due: auto add label=CLI

add vits network scripts, test=tts
  examples/csmsc/vits/README.md
  examples/csmsc/vits/conf/default.yaml
  examples/csmsc/vits/local/preprocess.sh
  examples/csmsc/vits/local/synthesize.sh
  examples/csmsc/vits/local/train.sh
  examples/csmsc/vits/path.sh
  examples/csmsc/vits/run.sh
  paddlespeech/t2s/datasets/get_feats.py
  paddlespeech/t2s/exps/vits/normalize.py
  paddlespeech/t2s/exps/vits/preprocess.py
  paddlespeech/t2s/exps/vits/synthesize.py
  paddlespeech/t2s/exps/vits/train.py
  paddlespeech/t2s/frontend/zh_frontend.py
  paddlespeech/t2s/models/hifigan/hifigan.py
  paddlespeech/t2s/models/vits/__init__.py
  paddlespeech/t2s/models/vits/duration_predictor.py
  paddlespeech/t2s/models/vits/flow.py
  paddlespeech/t2s/models/vits/generator.py
  paddlespeech/t2s/models/vits/monotonic_align/__init__.py
  paddlespeech/t2s/models/vits/monotonic_align/core.pyx
  paddlespeech/t2s/models/vits/monotonic_align/setup.py
  paddlespeech/t2s/models/vits/posterior_encoder.py
  paddlespeech/t2s/models/vits/residual_coupling.py
  paddlespeech/t2s/models/vits/text_encoder.py
  paddlespeech/t2s/models/vits/transform.py
  paddlespeech/t2s/models/vits/vits.py
  paddlespeech/t2s/models/vits/vits_updater.py
  paddlespeech/t2s/models/vits/wavenet/__init__.py
  paddlespeech/t2s/models/vits/wavenet/residual_block.py
  paddlespeech/t2s/models/vits/wavenet/wavenet.py
  paddlespeech/t2s/modules/losses.py
  paddlespeech/t2s/modules/nets_utils.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

replace dist.spawn with dist.launch, test=asr
  examples/aishell/asr0/local/train.sh
  examples/aishell/asr1/local/train.sh
  examples/callcenter/asr1/local/train.sh
  examples/librispeech/asr0/local/train.sh
  examples/librispeech/asr1/local/train.sh
  examples/librispeech/asr2/local/train.sh
  examples/timit/asr1/local/train.sh
  examples/tiny/asr0/local/train.sh
  examples/tiny/asr1/local/train.sh
  paddlespeech/s2t/exps/deepspeech2/bin/train.py
  paddlespeech/s2t/exps/u2/bin/train.py
  paddlespeech/s2t/exps/u2_kaldi/bin/train.py
  paddlespeech/s2t/exps/u2_st/bin/train.py
Due: auto add label=S2T, auto add label=Example

support cpu, test=asr
  demos/audio_searching/src/operations/load.py
  examples/aishell/asr0/local/train.sh
  examples/aishell/asr0/run.sh
  examples/aishell/asr1/local/train.sh
  examples/callcenter/asr1/local/train.sh
  examples/librispeech/asr0/local/train.sh
  examples/librispeech/asr1/local/train.sh
  examples/librispeech/asr2/local/train.sh
  examples/tiny/asr0/local/train.sh
  examples/tiny/asr1/local/train.sh
  paddlespeech/s2t/exps/deepspeech2/bin/train.py
  paddlespeech/s2t/exps/u2/bin/train.py
  paddlespeech/s2t/exps/u2_kaldi/bin/train.py
  paddlespeech/s2t/exps/u2_st/bin/train.py
  paddlespeech/s2t/io/sampler.py
  paddlespeech/t2s/modules/transformer/repeat.py
Due: auto add label=S2T, auto add label=T2S, auto add label=Example, auto add label=Demo

add launch for st, test=asr
  examples/aishell/asr0/local/train.sh
  examples/aishell/asr0/run.sh
  examples/aishell/asr1/local/train.sh
  examples/callcenter/asr1/local/train.sh
  examples/librispeech/asr0/local/train.sh
  examples/librispeech/asr1/local/train.sh
  examples/librispeech/asr2/local/train.sh
  examples/ted_en_zh/st0/local/train.sh
  examples/ted_en_zh/st1/local/train.sh
  examples/timit/asr1/local/train.sh
  examples/tiny/asr0/local/train.sh
  examples/tiny/asr1/local/train.sh
Due: auto add label=Example

speedyspeech support kunlun
  paddlespeech/t2s/exps/speedyspeech/synthesize_e2e.py
  paddlespeech/t2s/exps/speedyspeech/train.py
Due: auto add label=T2S

update the vector and text readme, test=doc
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/speech_server/conf/application.yaml
  demos/streaming_asr_server/conf/ws_conformer_wenetspeech_application.yaml
  paddlespeech/server/README.md
  paddlespeech/server/engine/asr/online/pretrained_models.py
Due: auto add label=Server, auto add label=Demo, auto add label=README

update the port to 8090, test=doc
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
Due: auto add label=Demo, auto add label=README

streaming asr server using paddlespeech_server/client
  demos/streaming_asr_server/server.sh
  demos/streaming_asr_server/test.sh
Due: auto add label=Demo

update asr port
  demos/streaming_asr_server/conf/application.yaml
  demos/streaming_asr_server/conf/ws_application.yaml
  demos/streaming_asr_server/conf/ws_conformer_application.yaml
Due: auto add label=Demo

add cacu rtf scripts, test=doc
  tests/unit/cli/aishell_test_prepare.py
  tests/unit/cli/cacu_rtf_by_aishell.sh
Due: auto add label=Test

improve, test=doc
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/bin/paddlespeech_server.py
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/server/utils/util.py
  paddlespeech/server/ws/tts_api.py
Due: auto add label=Server

changet vector train.py local_rank to rank, test=doc
  paddlespeech/vector/exps/ecapa_tdnn/train.py
Due: auto add label=Vector

add start and end request on ws tts, test=doc
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/utils/util.py
  paddlespeech/server/ws/tts_api.py
Due: auto add label=Server

trans remove file way, test=doc
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/tests/tts/offline/http_client.py
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/server/utils/audio_process.py
  paddlespeech/server/ws/tts_api.py
  tests/unit/server/offline/change_yaml.py
  tests/unit/server/online/tts/check_server/change_yaml.py
  tests/unit/server/online/tts/test_server/test_http_client.py
Due: auto add label=Server, auto add label=Test

add streaming tts demo, test=doc
  docs/source/index.rst
  docs/source/streaming_tts_demo_video.rst
Due: auto add label=Documentation

normalize wav max value to 1 in preprocess, test=tts
  paddlespeech/t2s/exps/fastspeech2/preprocess.py
  paddlespeech/t2s/exps/gan_vocoder/preprocess.py
  paddlespeech/t2s/exps/speedyspeech/preprocess.py
  paddlespeech/t2s/exps/tacotron2/preprocess.py
Due: auto add label=T2S

fix server doc and decode_method
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  paddlespeech/server/engine/asr/online/asr_engine.py
Due: auto add label=Server, auto add label=Demo, auto add label=README

add pptts readme, test=doc
  docs/source/tts/PPTTS.md
  docs/source/tts/PPTTS_cn.md
Due: auto add label=Documentation

add custom_streaming_asr
  demos/custom_streaming_asr/README.md
  demos/custom_streaming_asr/README_cn.md
  demos/custom_streaming_asr/path.sh
  demos/custom_streaming_asr/setup_docker.sh
  demos/custom_streaming_asr/websocket_client.sh
  demos/custom_streaming_asr/websocket_server.sh
Due: auto add label=Demo, auto add label=README

fix compile error
  speechx/examples/ds2_ol/feat/CMakeLists.txt
Due: auto add label=Deployment

fix cmvn json 2 kalditype error
  speechx/examples/ds2_ol/feat/CMakeLists.txt
Due: auto add label=Deployment

add PPASR
  docs/source/asr/PPASR_cn.md
Due: auto add label=Documentation

Update PPASR_cn.md
  docs/source/asr/PPASR_cn.md
Due: auto add label=Documentation

update readme
  demos/custom_streaming_asr/README.md
  demos/custom_streaming_asr/README_cn.md
Due: auto add label=Demo, auto add label=README

add pipeline, test=asr
  docs/source/asr/PPASR_cn.md
Due: auto add label=Documentation

fixs CORS Error
  paddlespeech/server/bin/paddlespeech_server.py
Due: auto add label=Server

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
