Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

add sucess log
  speechx/README.md
  speechx/examples/ds2_ol/aishell/run.sh
Due: auto add label=README, auto add label=Deployment

Update README_cn.md
  demos/streaming_tts_server/README_cn.md
Due: auto add label=Demo

add info, test=doc
  demos/streaming_tts_server/README.md
  demos/streaming_tts_server/README_cn.md
  demos/streaming_tts_server/conf/tts_online_application.yaml
  paddlespeech/server/conf/tts_online_application.yaml
  setup.py
Due: auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Installation

update ds2online model info, test=doc
  docs/source/released_model.md
Due: auto add label=Documentation

Update released_model.md
  docs/source/released_model.md
Due: auto add label=Documentation

Update RESULTS.md
  examples/aishell/asr0/RESULTS.md
Due: auto add label=Example

Update KWS example.
  examples/hey_snips/kws0/conf/mdtc.yaml
  examples/hey_snips/kws0/local/plot.sh
  examples/hey_snips/kws0/local/score.sh
  examples/hey_snips/kws0/local/train.sh
  examples/hey_snips/kws0/run.sh
  paddlespeech/kws/exps/mdtc/compute_det.py
  paddlespeech/kws/exps/mdtc/plot_det_curve.py
  paddlespeech/kws/exps/mdtc/score.py
  paddlespeech/kws/exps/mdtc/train.py
Due: auto add label=Example

asr client add punctuatjion server, test=doc
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/utils/audio_handler.py
Due: auto add label=Server

renew ds2 online, test=doc
  paddlespeech/cli/asr/pretrained_models.py
  paddlespeech/server/engine/asr/online/asr_engine.py
Due: auto add label=CLI, auto add label=Server

fix
  paddlespeech/cli/asr/pretrained_models.py
  paddlespeech/server/engine/asr/online/asr_engine.py
Due: auto add label=CLI, auto add label=Server

fix speechx ws server to return dummpy partial result, fix hang for ws client
  paddlespeech/cli/vector/infer.py
  paddlespeech/kws/exps/mdtc/train.py
  paddlespeech/server/util.py
  paddlespeech/server/utils/audio_handler.py
  speechx/speechx/websocket/websocket_server.cc
Due: auto add label=CLI, auto add label=Server, auto add label=Deployment

update the asr server api, test=doc
  demos/streaming_asr_server/websocket_client.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/tests/asr/online/microphone_client.py
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/server/ws/asr_socket.py
Due: auto add label=CLI, auto add label=Server, auto add label=Demo

update the ws asr response, final_result to result, test=doc
  demos/streaming_asr_server/web/templates/index.html
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/server/ws/asr_socket.py
Due: auto add label=Server, auto add label=Demo

patch func to var
  paddlespeech/s2t/__init__.py
Due: auto add label=S2T

fix client parse asr result, test=doc
  demos/streaming_asr_server/websocket_client.py
Due: auto add label=Demo

Add sox io.
  audio/CMakeLists.txt
  audio/paddleaudio/csrc/CMakeLists.txt
  audio/paddleaudio/csrc/pybind/pybind.cpp
  audio/paddleaudio/csrc/pybind/sox/io.cpp
  audio/paddleaudio/csrc/pybind/sox/io.h
  audio/paddleaudio/csrc/pybind/sox/utils.cpp
  audio/paddleaudio/csrc/pybind/sox/utils.h
  audio/setup.py
  audio/third_party/CMakeLists.txt
  audio/third_party/patches/config.guess
  audio/third_party/patches/config.sub
  audio/third_party/patches/libmad.patch
  audio/third_party/patches/sox.patch
  audio/third_party/sox/CMakeLists.txt
Due: none

[vec] update readme, test=doc
  examples/ami/README.md
  examples/ami/sd0/README.md
  examples/ami/sd0/run.sh
Due: auto add label=Example, auto add label=README

fix test_cli,test=doc
  tests/unit/cli/test_cli.sh
Due: auto add label=Test

Add sox io.
  audio/paddleaudio/csrc/pybind/sox/io.cpp
  audio/setup.py
Due: none

renew ds2 model, test=doc
  paddlespeech/cli/asr/pretrained_models.py
  paddlespeech/server/engine/asr/online/asr_engine.py
Due: auto add label=CLI, auto add label=Server

update the streaming output and punc default ip, port, test=doc
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/utils/audio_handler.py
Due: auto add label=Server

add cli models, test=doc
  paddlespeech/cli/asr/pretrained_models.py
  tests/unit/cli/test_cli.sh
Due: auto add label=CLI, auto add label=Test

update readme, test=doc
  demos/streaming_tts_server/README.md
  demos/streaming_tts_server/README_cn.md
Due: auto add label=Demo, auto add label=README

修复错别字一枚
  demos/streaming_asr_server/README_cn.md
Due: auto add label=Demo

update streaming asr readme, test=doc
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  demos/streaming_asr_server/conf/application.yaml
  demos/streaming_asr_server/conf/ws_application.yaml
Due: auto add label=Demo, auto add label=README

fix the sv ecapa-tdnn cpu training, test=doc
  examples/voxceleb/sv0/local/train.sh
Due: auto add label=Example

renew ds2 online doc, test=doc
  docs/source/released_model.md
  examples/aishell/asr0/RESULTS.md
Due: auto add label=Example, auto add label=Documentation

update the voxceleb readme.md, test=doc
  examples/voxceleb/sv0/README.md
Due: auto add label=Example, auto add label=README
