Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

update speechx install doc,test=doc
  speechx/README.md
  speechx/build.sh
  speechx/examples/ds2_ol/websocket/websocket_client_main.cc
  speechx/examples/ds2_ol/websocket/websocket_server_main.cc
Due: auto add label=README, auto add label=Deployment

add streaming asr demo, test=doc
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  demos/streaming_asr_server/conf/ws_application.yaml
  demos/streaming_asr_server/conf/ws_conformer_application.yaml
  demos/streaming_asr_server/run.sh
  demos/streaming_asr_server/test.sh
  demos/streaming_asr_server/web/app.py
  demos/streaming_asr_server/web/paddle_web_demo.png
  demos/streaming_asr_server/web/readme.md
  demos/streaming_asr_server/web/static/css/font-awesome.min.css
  demos/streaming_asr_server/web/static/css/style.css
  demos/streaming_asr_server/web/static/fonts/FontAwesome.otf
  demos/streaming_asr_server/web/static/fonts/fontawesome-webfont.eot
  demos/streaming_asr_server/web/static/fonts/fontawesome-webfont.svg
  demos/streaming_asr_server/web/static/fonts/fontawesome-webfont.ttf
  demos/streaming_asr_server/web/static/fonts/fontawesome-webfont.woff
  demos/streaming_asr_server/web/static/fonts/fontawesome-webfont.woff2
  demos/streaming_asr_server/web/static/image/PaddleSpeech_logo.png
  demos/streaming_asr_server/web/static/image/voice-dictation.svg
  demos/streaming_asr_server/web/static/js/SoundRecognizer.js
  demos/streaming_asr_server/web/static/js/jquery-3.2.1.min.js
  demos/streaming_asr_server/web/static/js/recorder/engine/mp3.js
  demos/streaming_asr_server/web/static/js/recorder/engine/pcm.js
  demos/streaming_asr_server/web/static/js/recorder/engine/wav.js
  demos/streaming_asr_server/web/static/js/recorder/extensions/frequency.histogram.view.js
  demos/streaming_asr_server/web/static/js/recorder/extensions/lib.fft.js
  demos/streaming_asr_server/web/static/js/recorder/recorder-core.js
  demos/streaming_asr_server/web/static/paddle.ico
  demos/streaming_asr_server/web/templates/index.html
  demos/streaming_asr_server/websocket_client.py
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/tests/asr/online/README_cn.md
  paddlespeech/server/tests/asr/online/__init__.py
  paddlespeech/server/tests/asr/online/microphone_client.py
  paddlespeech/server/tests/asr/online/websocket_client.py
Due: auto add label=Server, auto add label=Demo, auto add label=README

renew the released mode, test=doc
  docs/source/released_model.md
Due: auto add label=Documentation

Update RESULTS.md
  examples/aishell/asr1/RESULTS.md
Due: auto add label=Example

Update released_model.md
  docs/source/released_model.md
Due: auto add label=Documentation

update en readme.md, test=doc
  demos/streaming_asr_server/README.md
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/tests/asr/online/README.md
  paddlespeech/server/tests/asr/online/README_cn.md
  paddlespeech/server/tests/asr/online/microphone_client.py
Due: auto add label=Server, auto add label=Demo, auto add label=README

update the server device to paddle.device, test=doc
  demos/streaming_asr_server/conf/ws_conformer_application.yaml
  paddlespeech/server/conf/ws_conformer_application.yaml
Due: auto add label=Server, auto add label=Demo

fix nnet model inputs and output name
  speechx/examples/ds2_ol/decoder/ctc-prefix-beam-search-decoder-ol.cc
  speechx/examples/ds2_ol/decoder/run.sh
  speechx/examples/ds2_ol/decoder/wfst-decoder-ol.cc
  speechx/examples/ds2_ol/feat/CMakeLists.txt
  speechx/examples/ds2_ol/feat/cmvn-json2kaldi.cc
Due: auto add label=Deployment

remove redundant log, test=doc
  paddlespeech/s2t/modules/align.py
Due: auto add label=S2T

format
  .flake8
  paddlespeech/cli/asr/infer.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/ctc.py
  paddlespeech/server/README.md
  paddlespeech/server/README_cn.md
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/engine/asr/online/ctc_search.py
  paddlespeech/server/tests/asr/online/websocket_client.py
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/vector/cluster/diarization.py
  speechx/examples/ngram/zh/local/text_to_lexicon.py
  speechx/examples/text_lm/local/mmseg.py
  speechx/examples/wfst/README.md
  utils/DER.py
  utils/compute-wer.py
  utils/format_rsl.py
  utils/fst/prepare_dict.py
Due: auto add label=S2T, auto add label=T2S, auto add label=Vector, auto add label=CLI, auto add label=Server, auto add label=README, auto add label=Deployment

remove code, test=doc
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
Due: auto add label=Server

add test code, test=doc
  tests/unit/server/online/tts/check_server/change_yaml.py
  tests/unit/server/online/tts/check_server/conf/application.yaml
  tests/unit/server/online/tts/check_server/http_client.py
  tests/unit/server/online/tts/check_server/test.sh
  tests/unit/server/online/tts/check_server/test_all.sh
  tests/unit/server/online/tts/check_server/tts_online_application.yaml
  tests/unit/server/online/tts/check_server/ws_client.py
  tests/unit/server/online/tts/test_server/test_http_client.py
Due: auto add label=Test

code format, test=doc
  paddlespeech/server/engine/tts/online/python/tts_engine.py
Due: auto add label=Server

fix nnet output name
  speechx/examples/ds2_ol/README.md
  speechx/examples/ds2_ol/aishell/path.sh
  speechx/examples/ds2_ol/aishell/websocket_client.sh
  speechx/examples/ds2_ol/aishell/websocket_server.sh
  speechx/examples/ds2_ol/decoder/recognizer_test_main.cc
  speechx/examples/ds2_ol/websocket/CMakeLists.txt
  speechx/speechx/decoder/param.h
Due: auto add label=README, auto add label=Deployment

add recognizer_main_test script
  speechx/examples/ds2_ol/aishell/run.sh
Due: auto add label=Deployment

fix typo
  speechx/examples/ds2_ol/aishell/run.sh
Due: auto add label=Deployment

add num slot
  speechx/tools/itn-pipeline/cn/Makefile
  speechx/tools/itn-pipeline/cn/taggers/replace_num.grm
Due: auto add label=Deployment

fix param path name; ws client
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  speechx/examples/ds2_ol/README.md
  speechx/examples/ds2_ol/aishell/README.md
  speechx/examples/ds2_ol/aishell/run.sh
  speechx/examples/ds2_ol/aishell/websocket_server.sh
  speechx/examples/ds2_ol/decoder/ctc-prefix-beam-search-decoder-ol.cc
  speechx/examples/ds2_ol/decoder/wfst-decoder-ol.cc
  speechx/examples/ds2_ol/websocket/.gitignore
  speechx/examples/ds2_ol/websocket/path.sh
  speechx/examples/ds2_ol/websocket/websocket_client.sh
  speechx/examples/ds2_ol/websocket/websocket_client_main.cc
  speechx/examples/ds2_ol/websocket/websocket_server.sh
  speechx/speechx/decoder/param.h
  speechx/speechx/nnet/paddle_nnet.cc
  speechx/speechx/nnet/paddle_nnet.h
  utils/format_rsl.py
Due: auto add label=Demo, auto add label=README, auto add label=Deployment

update the voxceleb readme.md, test=doc
  examples/voxceleb/sv0/README.md
Due: auto add label=Example, auto add label=README

fix websocket client early return issue
  speechx/examples/ds2_ol/websocket/websocket_client_main.cc
Due: auto add label=Deployment

fix release_model info, test=doc
  docs/source/released_model.md
Due: auto add label=Documentation

fix, test=doc
  examples/aishell/asr1/local/test.sh
Due: auto add label=Example

test=doc
  docs/source/released_model.md
Due: auto add label=Documentation

Updata released model info, test=doc
  examples/aishell/asr1/RESULTS.md
Due: auto add label=Example

code format, test=doc
  tests/unit/server/online/tts/check_server/change_yaml.py
Due: auto add label=Test

format
  speechx/examples/ds2_ol/websocket/websocket_client_main.cc
Due: auto add label=Deployment

fix linear-spectrogram-wo-db-norm-ol feature read issue
  speechx/examples/ds2_ol/feat/linear-spectrogram-wo-db-norm-ol.cc
Due: auto add label=Deployment

fix wavernn bug, test=tts
  examples/csmsc/tts3/local/synthesize_e2e.sh
  examples/csmsc/voc6/README.md
  paddlespeech/t2s/models/wavernn/wavernn.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

update version of paddle2onnx, test=tts
  examples/csmsc/tts2/run.sh
  examples/csmsc/tts3/run.sh
  examples/csmsc/tts3/run_cnndecoder.sh
Due: auto add label=Example

Update README.md
  README.md
Due: auto add label=README

Update README_cn.md
  README_cn.md
Due: none

to_float32, fix shell script
  speechx/examples/README.md
  speechx/examples/ds2_ol/README.md
  speechx/examples/ds2_ol/aishell/run.sh
  speechx/examples/ds2_ol/feat/linear-spectrogram-wo-db-norm-ol.cc
  speechx/examples/ds2_ol/websocket/websocket_client.sh
  speechx/examples/ds2_ol/websocket/websocket_server.sh
  speechx/speechx/decoder/param.h
  speechx/speechx/frontend/audio/audio_cache.cc
  speechx/speechx/frontend/audio/audio_cache.h
  speechx/speechx/frontend/audio/cmvn.cc
  speechx/speechx/frontend/audio/data_cache.h
  speechx/speechx/frontend/audio/fbank.h
  speechx/speechx/frontend/audio/feature_cache.cc
  speechx/speechx/frontend/audio/feature_cache.h
  speechx/speechx/frontend/audio/feature_pipeline.cc
  speechx/speechx/frontend/audio/feature_pipeline.h
Due: auto add label=README, auto add label=Deployment

研究一下
  examples/csmsc/tts3-windows/main.py
  examples/csmsc/tts3-windows/study.md
Due: auto add label=Example
