Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

rename
  tests/unit/tts/test_fftconv1d.py
Due: auto add label=Test

add comment
  paddlespeech/t2s/modules/fftconv1d.py
Due: auto add label=T2S

bias -> bias_attr
  paddlespeech/t2s/modules/fftconv1d.py
Due: auto add label=T2S

fix unitest
  tests/unit/tts/test_fftconv1d.py
Due: auto add label=Test

fix sth
  paddlespeech/t2s/modules/fftconv1d.py
  tests/unit/tts/test_fftconv1d.py
Due: auto add label=T2S, auto add label=Test

docs(install_cn): bit misspell
  docs/source/install_cn.md
Due: auto add label=Documentation

docs(install): bit misspell
  docs/source/install.md
Due: auto add label=Documentation

docs(models_introduction): text frontend links
  docs/source/tts/models_introduction.md
Due: auto add label=Documentation

add 2 file test
  audio/audiotools/core/audio_signal.py
  audio/audiotools/core/display.py
  audio/audiotools/core/dsp.py
  audio/audiotools/requirements.txt
  audio/tests/audiotools/core/test_audio_signal✅.py
  audio/tests/audiotools/core/test_display✅.py
  audio/tests/audiotools/core/test_dsp✅.py
  audio/tests/audiotools/core/test_effects✅.py
  audio/tests/audiotools/core/test_grad✅.py
  audio/tests/audiotools/core/test_highpass✅.py
  audio/tests/audiotools/core/test_loudness✅.py
  audio/tests/audiotools/core/test_util✅.py
  audio/tests/audiotools/data/test_datasets✅.py
  audio/tests/audiotools/data/test_preprocess✅.py
  audio/tests/audiotools/data/test_transforms✅.py
  audio/tests/audiotools/test_audiotools.sh
  audio/tests/audiotools/test_post✅.py
  tests/unit/ci.sh
  tests/unit/cli/test_cli.sh
Due: auto add label=Test

change download dir
  audio/audiotools/requirements.txt
  audio/tests/audiotools/data/test_transforms✅.py
  audio/tests/audiotools/test_audiotools.sh
Due: none

fix CI download path
  audio/tests/audiotools/test_audiotools.sh
Due: none

add tar -zxvf
  audio/tests/audiotools/test_audiotools.sh
Due: none

change requirements path
  audio/tests/audiotools/test_audiotools.sh
Due: none

add audiotools path
  audio/tests/audiotools/core/test_audio_signal✅.py
  audio/tests/audiotools/core/test_bands✅.py
  audio/tests/audiotools/core/test_display✅.py
  audio/tests/audiotools/core/test_dsp✅.py
  audio/tests/audiotools/core/test_effects✅.py
  audio/tests/audiotools/core/test_fftconv✅.py
  audio/tests/audiotools/core/test_grad✅.py
  audio/tests/audiotools/core/test_highpass✅.py
  audio/tests/audiotools/core/test_loudness✅.py
  audio/tests/audiotools/core/test_lowpass✅.py
  audio/tests/audiotools/core/test_util✅.py
  audio/tests/audiotools/data/test_datasets✅.py
  audio/tests/audiotools/data/test_preprocess✅.py
  audio/tests/audiotools/data/test_transforms✅.py
  audio/tests/audiotools/ml/test_decorators✅.py
  audio/tests/audiotools/ml/test_model✅.py
  audio/tests/audiotools/test_post✅.py
Due: none

fix place error
  audio/audiotools/core/audio_signal.py
Due: none

fix paddle2.5 verion Q
  audio/audiotools/core/_julius.py
  audio/audiotools/core/audio_signal.py
  audio/audiotools/data/transforms.py
Due: none

FFTConv1d -> FFTConv1D
  audio/audiotools/core/__init__.py
  audio/audiotools/core/_julius.py
Due: none

FFTConv1d -> FFTConv1D
  audio/tests/audiotools/core/test_fftconv✅.py
Due: none

mv unfold
  audio/audiotools/core/_julius.py
  audio/audiotools/core/loudness.py
Due: none

add _unfold1d 2 loudness
  audio/audiotools/core/loudness.py
Due: none

fix stupid device variable
  audio/audiotools/core/audio_signal.py
Due: none

bias -> bias_attr
  audio/tests/audiotools/core/test_fftconv✅.py
Due: none

() -> []
  audio/audiotools/core/loudness.py
Due: none

fix .to()
  audio/audiotools/core/audio_signal.py
Due: none

rm ✅
  audio/audiotools/core/audio_signal.py
  audio/audiotools/core/util.py
  audio/audiotools/data/datasets.py
  audio/audiotools/data/transforms.py
  audio/audiotools/ml/decorators.py
Due: none

fix exp
  audio/audiotools/core/audio_signal.py
  audio/audiotools/core/dsp.py
  audio/audiotools/core/effects.py
  audio/audiotools/core/util.py
  audio/tests/audiotools/core/test_audio_signal✅.py
  audio/tests/audiotools/ml/test_decorators✅.py
Due: none

deepcopy -> clone
  audio/audiotools/core/audio_signal.py
  audio/audiotools/core/dsp.py
  audio/tests/audiotools/core/test_dsp✅.py
  audio/tests/audiotools/core/test_fftconv✅.py
Due: none

fix dim error
  audio/audiotools/core/audio_signal.py
  audio/audiotools/core/dsp.py
  audio/audiotools/core/util.py
  audio/tests/audiotools/data/test_transforms✅.py
Due: none

fix slice && tensor.to
  audio/audiotools/core/audio_signal.py
  audio/audiotools/core/util.py
  audio/tests/audiotools/core/test_audio_signal✅.py
Due: none

fix paddle2.5 index bug
  audio/audiotools/data/transforms.py
Due: none

git rm std
  audio/audiotools/core/_julius.py
  audio/tests/audiotools/core/test_bands✅.py
  audio/tests/audiotools/core/test_effects✅.py
  audio/tests/audiotools/core/test_fftconv✅.py
  audio/tests/audiotools/core/test_highpass✅.py
  audio/tests/audiotools/core/test_lowpass✅.py
Due: none

rm comment && ✅
  audio/tests/audiotools/core/test_audio_signal.py
  audio/tests/audiotools/core/test_bands.py
  audio/tests/audiotools/core/test_display.py
  audio/tests/audiotools/core/test_dsp.py
  audio/tests/audiotools/core/test_effects.py
  audio/tests/audiotools/core/test_fftconv.py
  audio/tests/audiotools/core/test_grad.py
  audio/tests/audiotools/core/test_highpass.py
  audio/tests/audiotools/core/test_loudness.py
  audio/tests/audiotools/core/test_lowpass.py
  audio/tests/audiotools/core/test_util.py
  audio/tests/audiotools/data/test_datasets.py
  audio/tests/audiotools/data/test_preprocess.py
  audio/tests/audiotools/data/test_transforms.py
  audio/tests/audiotools/ml/test_decorators.py
  audio/tests/audiotools/ml/test_model.py
  audio/tests/audiotools/test_post.py
Due: none

rm some useless comment
  audio/audiotools/core/_julius.py
  audio/audiotools/core/audio_signal.py
  audio/audiotools/core/effects.py
  audio/audiotools/data/datasets.py
  audio/audiotools/data/transforms.py
  audio/audiotools/metrics/__init__.py
  audio/audiotools/ml/__init__.py
Due: none

add __all__
  audio/audiotools/core/effects.py
  audio/audiotools/core/util.py
  audio/audiotools/data/datasets.py
  audio/audiotools/data/transforms.py
Due: none

fix codestyle
  audio/tests/audiotools/core/test_effects.py
  audio/tests/audiotools/core/test_fftconv.py
Due: none

fix soundfile.info error
  audio/audiotools/core/util.py
  audio/audiotools/requirements.txt
Due: none

fix sth
  audio/audiotools/__init__.py
  audio/audiotools/core/_julius.py
  audio/audiotools/core/audio_signal.py
Due: none

add License
  audio/audiotools/__init__.py
  audio/audiotools/core/_julius.py
  audio/audiotools/core/audio_signal.py
  audio/audiotools/core/display.py
  audio/audiotools/core/dsp.py
  audio/audiotools/core/effects.py
  audio/audiotools/core/ffmpeg.py
  audio/audiotools/core/loudness.py
  audio/audiotools/core/util.py
  audio/audiotools/data/datasets.py
  audio/audiotools/data/preprocess.py
  audio/audiotools/data/transforms.py
  audio/audiotools/metrics/quality.py
  audio/audiotools/ml/accelerator.py
  audio/audiotools/ml/basemodel.py
  audio/audiotools/ml/decorators.py
  audio/audiotools/post.py
  audio/tests/audiotools/core/test_audio_signal.py
  audio/tests/audiotools/core/test_bands.py
  audio/tests/audiotools/core/test_display.py
  audio/tests/audiotools/core/test_dsp.py
  audio/tests/audiotools/core/test_effects.py
  audio/tests/audiotools/core/test_fftconv.py
  audio/tests/audiotools/core/test_grad.py
  audio/tests/audiotools/core/test_highpass.py
  audio/tests/audiotools/core/test_loudness.py
  audio/tests/audiotools/core/test_lowpass.py
  audio/tests/audiotools/core/test_util.py
  audio/tests/audiotools/data/test_datasets.py
  audio/tests/audiotools/data/test_preprocess.py
  audio/tests/audiotools/data/test_transforms.py
  audio/tests/audiotools/ml/test_decorators.py
  audio/tests/audiotools/ml/test_model.py
  audio/tests/audiotools/test_post.py
Due: none

fix cycle import
  audio/audiotools/post.py
Due: none

Adapt to paddle3.0 && update readme
  audio/audiotools/README.md
  audio/audiotools/core/dsp.py
  audio/audiotools/core/effects.py
  audio/audiotools/core/loudness.py
  audio/audiotools/core/util.py
  audio/tests/audiotools/core/test_util.py
Due: auto add label=README
