Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

[vec][doc] add ppvpr doc, test=doc
  docs/source/vpr/PPVPR.md
  docs/source/vpr/PPVPR_cn.md
Due: auto add label=Documentation

update the max len compute method, test=doc
  paddlespeech/cli/asr/infer.py
  paddlespeech/s2t/modules/encoder.py
Due: auto add label=S2T, auto add label=CLI

fix calc_rtf_by_aishell.sh
  tests/unit/cli/calc_rtf_by_aishell.sh
Due: auto add label=Test

update the acs server config, test=doc
  demos/audio_content_search/README.md
  demos/audio_content_search/README_cn.md
  demos/audio_content_search/conf/acs_application.yaml
  demos/audio_content_search/conf/ws_conformer_application.yaml
  demos/audio_content_search/run.sh
Due: auto add label=Demo, auto add label=README

update the readme, test=doc
  demos/audio_content_search/README.md
  demos/audio_content_search/README_cn.md
Due: auto add label=Demo, auto add label=README

update streaming asr server doc
  demos/streaming_asr_server/README.md
Due: auto add label=Demo, auto add label=README

Update README_cn.md
  demos/streaming_asr_server/README_cn.md
Due: auto add label=Demo

add script for calc RTF
  demos/streaming_asr_server/websocket_client.py
Due: auto add label=Demo

update readme
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
Due: auto add label=Demo, auto add label=README

update readme
  demos/speech_server/README_cn.md
Due: auto add label=Demo

add vits trainer and synthesize
  examples/csmsc/tts3/conf/default.yaml
  examples/csmsc/vits/conf/default.yaml
  examples/csmsc/vits/local/preprocess.sh
  examples/csmsc/vits/local/synthesize_e2e.sh
  examples/csmsc/vits/local/train.sh
  examples/csmsc/vits/run.sh
  examples/csmsc/voc5/README.md
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/datasets/batch.py
  paddlespeech/t2s/datasets/get_feats.py
  paddlespeech/t2s/exps/fastspeech2/preprocess.py
  paddlespeech/t2s/exps/gan_vocoder/preprocess.py
  paddlespeech/t2s/exps/speedyspeech/preprocess.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/exps/synthesize_streaming.py
  paddlespeech/t2s/exps/tacotron2/preprocess.py
  paddlespeech/t2s/exps/transformer_tts/preprocess.py
  paddlespeech/t2s/exps/vits/normalize.py
  paddlespeech/t2s/exps/vits/preprocess.py
  paddlespeech/t2s/exps/vits/synthesize_e2e.py
  paddlespeech/t2s/exps/vits/train.py
  paddlespeech/t2s/exps/voice_cloning.py
  paddlespeech/t2s/models/parallel_wavegan/parallel_wavegan_updater.py
  paddlespeech/t2s/models/vits/__init__.py
  paddlespeech/t2s/models/vits/generator.py
  paddlespeech/t2s/models/vits/vits.py
  paddlespeech/t2s/models/vits/vits_updater.py
  paddlespeech/t2s/training/optimizer.py
  paddlespeech/utils/__init__.py
  paddlespeech/utils/dynamic_import.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

add PP-TTS,PP-ASR,PP-VPR
  README.md
  README_cn.md
Due: auto add label=README

fix conformer benchmark
  tests/test_tipc/prepare.sh
Due: auto add label=Test

replace dynamic_import
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/text/infer.py
  paddlespeech/cli/tts/infer.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/cls/exps/panns/predict.py
  paddlespeech/cls/exps/panns/train.py
  paddlespeech/server/engine/tts/online/python/tts_engine.py
  paddlespeech/t2s/exps/synthesize_streaming.py
Due: auto add label=T2S, auto add label=CLI, auto add label=Server

fix cli/asr
  paddlespeech/cli/asr/infer.py
Due: auto add label=CLI

add calc CER in cli
  tests/unit/cli/aishell_test_prepare.py
  tests/unit/cli/calc_RTF_CER_by_aishell.sh
  tests/unit/cli/utils
Due: auto add label=Test

fix self.max_len
  paddlespeech/cli/asr/infer.py
Due: auto add label=CLI

add paddlespeech paper
  docs/paddlespeech.pdf
Due: auto add label=Documentation

Update README.md
  README.md
Due: auto add label=README

Update README_cn.md
  README_cn.md
Due: none

fix condition of wenetspeech
  paddlespeech/cli/asr/infer.py
Due: auto add label=CLI

rm fluid in tts, test=tts
  paddlespeech/cli/download.py
  paddlespeech/server/download.py
  paddlespeech/server/util.py
  paddlespeech/t2s/models/speedyspeech/speedyspeech_updater.py
  paddlespeech/t2s/modules/losses.py
  paddlespeech/t2s/utils/profile.py
  paddlespeech/t2s/utils/timeline.py
Due: auto add label=T2S, auto add label=CLI, auto add label=Server

refactor asr online
  paddlespeech/server/engine/asr/online/asr_engine.py
Due: auto add label=Server

add aistudio courses' link, test=doc
  README.md
  README_cn.md
Due: auto add label=README

update README, test=doc
  README.md
  README_cn.md
Due: auto add label=README

Updata install_cn.md, test=doc
  docs/source/install_cn.md
Due: auto add label=Documentation

test=doc
  docs/source/install.md
Due: auto add label=Documentation

rm unused comment, test=tts
  paddlespeech/t2s/models/vits/flow.py
  paddlespeech/t2s/models/vits/residual_coupling.py
Due: auto add label=T2S

format
  demos/audio_searching/src/operations/load.py
  demos/custom_streaming_asr/README.md
  demos/streaming_asr_server/websocket_client.py
  docs/source/asr/PPASR_cn.md
  paddlespeech/cli/utils.py
  paddlespeech/s2t/io/sampler.py
  paddlespeech/server/engine/acs/__init__.py
  paddlespeech/server/engine/acs/python/__init__.py
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/restful/api.py
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/server/utils/buffer.py
  paddlespeech/t2s/exps/speedyspeech/synthesize_e2e.py
  paddlespeech/t2s/exps/speedyspeech/train.py
  paddlespeech/t2s/modules/transformer/repeat.py
  setup.py
  tests/unit/cli/aishell_test_prepare.py
Due: auto add label=S2T, auto add label=T2S, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=Installation, auto add label=Test

add custom asr script
  demos/custom_streaming_asr/README.md
  demos/custom_streaming_asr/README_cn.md
  speechx/CMakeLists.txt
  speechx/examples/custom_asr/README.md
  speechx/examples/custom_asr/local/compile_lexicon_token_fst.sh
  speechx/examples/custom_asr/local/mk_slot_graph.sh
  speechx/examples/custom_asr/local/mk_tlg_with_slot.sh
  speechx/examples/custom_asr/local/train_lm_with_slot.sh
  speechx/examples/custom_asr/path.sh
  speechx/examples/custom_asr/run.sh
  speechx/examples/custom_asr/utils
  speechx/speechx/kaldi/CMakeLists.txt
  speechx/speechx/kaldi/fstbin/CMakeLists.txt
  speechx/speechx/kaldi/fstbin/fstaddselfloops.cc
  speechx/speechx/kaldi/fstbin/fstdeterminizestar.cc
  speechx/speechx/kaldi/fstbin/fstisstochastic.cc
  speechx/speechx/kaldi/fstbin/fstminimizeencoded.cc
  speechx/speechx/kaldi/fstbin/fsttablecompose.cc
  speechx/speechx/kaldi/fstext/CMakeLists.txt
  speechx/speechx/kaldi/lm/CMakeLists.txt
  speechx/speechx/kaldi/lm/arpa-file-parser.cc
  speechx/speechx/kaldi/lm/arpa-file-parser.h
  speechx/speechx/kaldi/lm/arpa-lm-compiler.cc
  speechx/speechx/kaldi/lm/arpa-lm-compiler.h
  speechx/speechx/kaldi/lmbin/CMakeLists.txt
  speechx/speechx/kaldi/lmbin/arpa2fst.cc
Due: auto add label=Demo, auto add label=README, auto add label=Deployment

fix cmakelist
  speechx/CMakeLists.txt
Due: auto add label=Deployment

deepspeech2 modify for kunlun
  paddlespeech/s2t/exps/deepspeech2/bin/train.py
  paddlespeech/s2t/training/trainer.py
Due: auto add label=S2T

fix
  demos/custom_streaming_asr/README.md
  demos/custom_streaming_asr/README_cn.md
  speechx/examples/custom_asr/README.md
Due: auto add label=Demo, auto add label=README, auto add label=Deployment

fix pad_sequence, test=asr
  paddlespeech/s2t/utils/tensor_utils.py
Due: auto add label=S2T

update readme, test=doc
  examples/aishell3/tts3/README.md
  examples/aishell3/vc0/README.md
  examples/aishell3/vc1/README.md
  examples/aishell3/voc1/README.md
  examples/aishell3/voc5/README.md
  examples/csmsc/tts0/README.md
  examples/csmsc/tts2/README.md
  examples/csmsc/tts3/README.md
  examples/csmsc/tts3/README_cn.md
  examples/csmsc/voc1/README.md
  examples/csmsc/voc3/README.md
  examples/csmsc/voc4/README.md
  examples/csmsc/voc5/README.md
  examples/csmsc/voc6/README.md
  examples/ljspeech/tts0/README.md
  examples/ljspeech/tts1/README.md
  examples/ljspeech/tts3/README.md
  examples/ljspeech/voc0/README.md
  examples/ljspeech/voc1/README.md
  examples/ljspeech/voc5/README.md
  examples/vctk/tts3/README.md
  examples/vctk/voc1/README.md
  examples/vctk/voc5/README.md
Due: auto add label=Example, auto add label=README

deepspeech2 modify for kunlun
  paddlespeech/s2t/exps/deepspeech2/bin/export.py
  paddlespeech/s2t/exps/deepspeech2/bin/test.py
  paddlespeech/s2t/exps/deepspeech2/bin/test_export.py
  paddlespeech/s2t/exps/deepspeech2/bin/train.py
  paddlespeech/s2t/training/trainer.py
Due: auto add label=S2T

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
