Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=enhancement:
  label:
    add:
    - enhancement

auto add label=Example:
  label:
    add:
    - Example

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

add punc egs
  examples/punctuation_restoration/README.md
Due: auto add label=Example, auto add label=README

add batchfy
  deepspeech/io/batchfy.py
  examples/librispeech/s2/local/espnet_json_to_manifest.py
  examples/librispeech/s2/run.sh
Due: auto add label=enhancement, auto add label=Example

more data utils
  deepspeech/io/batchfy.py
  deepspeech/io/dataloader.py
  deepspeech/io/dataset.py
  deepspeech/io/utility.py
Due: auto add label=enhancement

remove fixed hack api
  deepspeech/__init__.py
  deepspeech/modules/loss.py
Due: auto add label=enhancement

fix io; add test
  .bashrc
  .notebook/espnet_dataloader.ipynb
  deepspeech/io/batchfy.py
  deepspeech/io/dataset.py
Due: auto add label=enhancement

espnet loader test
  .notebook/espnet_dataloader.ipynb
  requirements.txt
Due: none

fix dataloader
  deepspeech/io/batchfy.py
  deepspeech/io/collator.py
  deepspeech/io/dataloader.py
  deepspeech/io/dataset.py
  deepspeech/io/utility.py
Due: auto add label=enhancement

refactor augmentation interface
  deepspeech/frontend/augmentor/augmentation.py
  deepspeech/frontend/augmentor/base.py
  deepspeech/frontend/augmentor/impulse_response.py
  deepspeech/frontend/augmentor/noise_perturb.py
  deepspeech/frontend/augmentor/online_bayesian_normalization.py
  deepspeech/frontend/augmentor/resample.py
  deepspeech/frontend/augmentor/shift_perturb.py
  deepspeech/frontend/augmentor/spec_augment.py
  deepspeech/frontend/augmentor/speed_perturb.py
  deepspeech/frontend/augmentor/volume_perturb.py
  deepspeech/io/dataset.py
  requirements.txt
Due: auto add label=enhancement

refactor speechnn dir
  speechnn/examples/CMakeLists.txt
  speechnn/speechnn/CMakeLists.txt
  speechnn/speechnn/decoder/CMakeLists.txt
  speechnn/speechnn/frontend/CMakeLists.txt
  speechnn/speechnn/frontend/audio/CMakeLists.txt
  speechnn/speechnn/frontend/text/CMakeLists.txt
  speechnn/speechnn/model/CMakeLists.txt
  speechnn/speechnn/nn/CMakeLists.txt
  speechnn/speechnn/protocol/CMakeLists.txt
  speechnn/speechnn/utils/CMakeLists.txt
Due: auto add label=Deployment

refactor io
  deepspeech/io/dataloader.py
  deepspeech/io/dataset.py
  deepspeech/io/reader.py
  deepspeech/io/utility.py
Due: auto add label=enhancement

update test
  .notebook/espnet_dataloader.ipynb
Due: none

fix bugs
  .bashrc
  .notebook/u2_confermer_model_wenet.ipynb
  deepspeech/frontend/augmentor/augmentation.py
  deepspeech/io/dataset.py
  deepspeech/models/ds2/rnn.py
  deepspeech/models/u2.py
  deepspeech/models/u2_st.py
  deepspeech/modules/decoder.py
  deepspeech/modules/decoder_layer.py
  deepspeech/modules/encoder.py
  deepspeech/modules/rnn.py
  examples/librispeech/s0/conf/deepspeech2.yaml
Due: auto add label=enhancement, auto add label=Example

refactor converter
  deepspeech/io/__init__.py
  deepspeech/io/converter.py
  deepspeech/io/dataloader.py
  deepspeech/io/dataset.py
Due: auto add label=enhancement

add dataloader; check augmenter base class type
  deepspeech/frontend/augmentor/augmentation.py
  deepspeech/io/dataloader.py
Due: auto add label=enhancement

add the test.sh
  tests/ds2_params_lite_train_infer.txt
  tests/ds2_params_whole_train_infer.txt
  tests/lite_train_infer.sh
  tests/prepare.sh
  tests/test.sh
  tests/whole_train_infer.sh
Due: none

add batchdataloader test
  .notebook/espnet_dataloader.ipynb
Due: none

fix docstring
  deepspeech/io/batchfy.py
Due: auto add label=enhancement

add the test.sh
  tests/chains/ds2_params_lite_train_infer.txt
  tests/chains/ds2_params_whole_train_infer.txt
  tests/chains/lite_train_infer.sh
  tests/chains/prepare.sh
  tests/chains/test.sh
  tests/chains/whole_train_infer.sh
Due: none

fix for kaldi
  deepspeech/__init__.py
  deepspeech/exps/u2_kaldi/__init__.py
  deepspeech/exps/u2_kaldi/bin/alignment.py
  deepspeech/exps/u2_kaldi/bin/export.py
  deepspeech/exps/u2_kaldi/bin/test.py
  deepspeech/exps/u2_kaldi/bin/train.py
  deepspeech/exps/u2_kaldi/model.py
  deepspeech/io/dataloader.py
  deepspeech/io/reader.py
  deepspeech/io/sampler.py
  deepspeech/models/u2.py
  deepspeech/modules/activation.py
  deepspeech/training/optimizer.py
  deepspeech/training/scheduler.py
  examples/librispeech/s2/conf/transformer.yaml
  examples/librispeech/s2/local/train.sh
  examples/librispeech/s2/path.sh
  speechnn/core/transformers/README.md
Due: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Deployment

change the deepspeech2_online.yaml
  examples/aishell/s0/conf/deepspeech2_online.yaml
Due: auto add label=Example

Update feature_list.md
  doc/src/feature_list.md
Due: auto add label=Documentation

Path conditions:
  auto add label=enhancement: any of: ^deepspeech/
  auto add label=Example: any of: ^examples/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
