Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

Create ernie-3.0-nano-zh
  examples/iwslt2012/punc0/conf/ernie-3.0-nano-zh
Due: auto add label=Example

Rename ernie-3.0-nano-zh to ernie-3.0-nano-zh.yaml
  examples/iwslt2012/punc0/conf/ernie-3.0-nano-zh.yaml
Due: auto add label=Example

Create Ernie-tiny.yaml
  examples/iwslt2012/punc0/conf/Ernie-tiny.yaml
Due: auto add label=Example

Rename Ernie-tiny.yaml to ernie-tiny.yaml
  examples/iwslt2012/punc0/conf/ernie-tiny.yaml
Due: auto add label=Example

add Speaker Diarization in readme, test=doc
  README.md
  README_cn.md
Due: auto add label=README

Update README.md
  README.md
Due: auto add label=README

test tess dataset&& esc50 dataset by paddle2.4
  examples/esc50/cls0/conf/panns.yaml
  examples/tess/cls0/local/train.py
  examples/tess/cls0/local/train.sh
  examples/tess/cls0/path.sh
  examples/tess/cls0/run.sh
Due: auto add label=Example

Update README_cn.md
  README_cn.md
Due: none

remove useless code
  paddlespeech/s2t/__init__.py
Due: auto add label=S2T

Update text_engine.py
  paddlespeech/server/engine/text/python/text_engine.py
Due: auto add label=Server

fix s2t gpu training hang
  examples/aishell/asr0/local/train.sh
  examples/aishell/asr1/local/train.sh
  examples/librispeech/asr0/local/train.sh
  examples/librispeech/asr1/local/train.sh
  examples/librispeech/asr2/local/train.sh
  examples/timit/asr1/local/train.sh
  examples/tiny/asr0/local/train.sh
  examples/tiny/asr1/local/train.sh
  examples/wenetspeech/asr1/local/train.sh
Due: auto add label=Example

add different tess feature config
  examples/tess/README.md
  examples/tess/cls0/conf/panns_logmelspectrogram.yaml
  examples/tess/cls0/conf/panns_melspectrogram.yaml
  examples/tess/cls0/conf/panns_mfcc.yaml
  examples/tess/cls0/conf/panns_spectrogram.yaml
  examples/tess/cls0/local/train.py
Due: auto add label=Example, auto add label=README

BytesIO类型时，要保证切到初始位置，这样多次读取才能够正常。比如__call__函数。 __call__函数的参数audio_file为BytesIO类型时执行到self.preprocess(model, audio_file)会报错，需要判断audio_file为BytesIO类型时执行audio_file.seek(0)。
  paddlespeech/cli/asr/infer.py
Due: auto add label=CLI

update READMe
  examples/tess/README.md
  examples/tess/cls0/conf/panns_logmelspectrogram.yaml
  examples/tess/cls0/conf/panns_melspectrogram.yaml
  examples/tess/cls0/conf/panns_mfcc.yaml
  examples/tess/cls0/conf/panns_spectrogram.yaml
Due: auto add label=Example, auto add label=README

Update application.yaml
  paddlespeech/server/conf/application.yaml
Due: auto add label=Server

Update punc_application.yaml
  demos/streaming_asr_server/conf/punc_application.yaml
Due: auto add label=Demo

fix punc in readme
  examples/tess/README.md
Due: auto add label=Example, auto add label=README

solve Reorder python imports Failed
  paddlespeech/cli/asr/infer.py
Due: auto add label=CLI

solve Reorder python imports Failed.
  paddlespeech/cli/asr/infer.py
Due: auto add label=CLI

support u2pp cli and server, optimiz code of u2pp decode, test=asr
  demos/streaming_asr_server/conf/application.yaml
  docs/source/released_model.md
  paddlespeech/cli/asr/infer.py
  paddlespeech/resource/model_alias.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/s2t/exps/u2/bin/test_wav.py
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/server/conf/ws_conformer_application.yaml
  paddlespeech/server/engine/asr/online/python/asr_engine.py
Due: auto add label=S2T, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=Documentation

使用transformer的语音合成方式与其他模型对齐
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/exps/transformer_tts/preprocess_new.py
Due: auto add label=T2S

BytesIO类型时，要保证切到初始位置，这样多次读取才能够正常。比如__call__函数。 (#2484)
  paddlespeech/cli/asr/infer.py
Due: auto add label=CLI

support u2pp cli and server, optimiz code of u2pp decode, test=asr
  paddlespeech/resource/pretrained_models.py
  paddlespeech/server/conf/ws_conformer_application.yaml
Due: auto add label=Server

fix mix front, point bug, test=tts
  paddlespeech/t2s/frontend/mix_frontend.py
Due: auto add label=T2S

update readme and fixed bug in ngpu (#2451)
  demos/speech_web/README.md
  demos/speech_web/speech_server/src/ernie_sat.py
  demos/speech_web/speech_server/src/finetune.py
  demos/speech_web/speech_server/src/ge2e_clone.py
  demos/speech_web/speech_server/src/tdnn_clone.py
  demos/speech_web/speech_server/src/util.py
  demos/speech_web/speech_server/vc.py
  demos/speech_web/web_client/src/components/Experience.vue
  demos/speech_web/web_client/src/components/SubMenu/ASR/RealTime/RealTime.vue
  demos/speech_web/web_client/src/components/SubMenu/ChatBot/Chat.vue
  demos/speech_web/web_client/src/components/SubMenu/ChatBot/ChatT.vue
  demos/speech_web/web_client/src/components/SubMenu/ENIRE_SAT/ENIRE_SAT.vue
  demos/speech_web/web_client/src/components/SubMenu/FineTune/FineTune.vue
  demos/speech_web/web_client/src/components/SubMenu/IE/IE.vue
  demos/speech_web/web_client/src/components/SubMenu/TTS/TTST.vue
  demos/speech_web/web_client/src/components/SubMenu/VPR/VPR.vue
  demos/speech_web/web_client/src/components/SubMenu/VPR/VPRT.vue
  demos/speech_web/web_client/src/components/SubMenu/VoiceClone/VoiceClone.vue
Due: auto add label=Demo, auto add label=README

fix finetune batch size (#2457)
  examples/other/tts_finetune/tts3/local/finetune.py
Due: auto add label=Example

Update README_cn.md
  paddlespeech/cli/README_cn.md
Due: auto add label=CLI

Update model_alias.py
  paddlespeech/resource/model_alias.py
Due: none

Update pretrained_models.py
  paddlespeech/resource/pretrained_models.py
Due: none

Update infer.py
  paddlespeech/cli/text/infer.py
Due: auto add label=CLI
