Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=TextProcess, auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=TextProcess:
  label:
    add:
    - TextProcess

auto add label=Example:
  label:
    add:
    - Example

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

Add benchmark.
  paddleaudio/setup.py
  paddleaudio/tests/benchmark/README.md
  paddleaudio/tests/benchmark/log_melspectrogram.py
  paddleaudio/tests/benchmark/melspectrogram.py
  paddleaudio/tests/benchmark/mfcc.py
Due: auto add label=README

Update setup.py
  setup.py
Due: auto add label=Installation

fix setup.py for paddleaudio
  paddleaudio/paddleaudio/__init__.py
  paddleaudio/setup.py
Due: none

Update README.md
  demos/speech_recognition/README.md
Due: auto add label=Demo, auto add label=README

Update README_cn.md
  demos/speech_recognition/README_cn.md
Due: auto add label=Demo

reset __init__.py, test=audio
  paddleaudio/paddleaudio/__init__.py
Due: none

add reset of decoder&frontend
  speechx/examples/decoder/offline_decoder_main.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.h
  speechx/speechx/frontend/feature_cache.h
  speechx/speechx/frontend/feature_extractor_interface.h
  speechx/speechx/frontend/linear_spectrogram.cc
  speechx/speechx/frontend/linear_spectrogram.h
  speechx/speechx/frontend/normalizer.cc
  speechx/speechx/frontend/normalizer.h
  speechx/speechx/frontend/raw_audio.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/decodable.h
Due: none

add path.sh
  speechx/examples/decoder/run.sh
  speechx/examples/feat/run.sh
  speechx/examples/nnet/run.sh
  speechx/examples/path.sh
Due: none

[wip][vec] update cluster of diarization, test=doc #1304
  paddlespeech/vector/cluster/diarization.py
Due: none

add valgrind
  speechx/TODO.md
  speechx/examples/decoder/run.sh
  speechx/examples/decoder/valgrind.sh
  speechx/examples/feat/run.sh
  speechx/examples/feat/valgrind.sh
  speechx/examples/nnet/run.sh
  speechx/examples/nnet/valgrind.sh
  speechx/examples/path.sh
  speechx/speechx/decoder/ctc_beam_search_decoder.cc
  speechx/tools/setup_valgrind.sh
Due: none

format
  speechx/examples/feat/run.sh
Due: none

update synthesize_e2e.sh, test=tts
  examples/csmsc/tts0/local/synthesize_e2e.sh
Due: auto add label=Example

fix speech egs
  speechx/.gitignore
  speechx/README.md
  speechx/examples/.gitignore
  speechx/examples/decoder/path.sh
  speechx/examples/decoder/run.sh
  speechx/examples/decoder/valgrind.sh
  speechx/examples/feat/path.sh
  speechx/examples/feat/run.sh
  speechx/examples/feat/valgrind.sh
  speechx/examples/nnet/path.sh
  speechx/examples/nnet/run.sh
  speechx/examples/nnet/valgrind.sh
  speechx/tools/setup_valgrind.sh
Due: auto add label=README

Update CHANGELOG.md
  paddleaudio/CHANGELOG.md
Due: none

Update README.md
  speechx/README.md
Due: auto add label=README

update preprocess.sh in aishell3 vc0, test=doc
  examples/aishell3/vc0/local/preprocess.sh
Due: auto add label=Example

change default initializer to kaiming_uniform, test=asr
  examples/aishell/asr1/conf/conformer.yaml
  paddlespeech/s2t/__init__.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/attention.py
  paddlespeech/s2t/modules/conformer_convolution.py
  paddlespeech/s2t/modules/decoder.py
  paddlespeech/s2t/modules/decoder_layer.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/modules/encoder_layer.py
  paddlespeech/s2t/modules/initializer.py
  paddlespeech/s2t/modules/nets_utils.py
Due: auto add label=S2T, auto add label=Example

speechx doc
  speechx/README.md
  speechx/TODO.md
  speechx/examples/README.md
Due: auto add label=README

format
  paddleaudio/setup.py
  paddlespeech/cli/utils.py
  paddlespeech/server/bin/paddlespeech_server.py
  speechx/examples/README.md
  speechx/examples/feat/linear_spectrogram_main.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.cc
  speechx/speechx/frontend/feature_cache.cc
  speechx/speechx/frontend/feature_cache.h
  speechx/speechx/frontend/feature_extractor_controller.h
  speechx/speechx/frontend/feature_extractor_controller_impl.h
  speechx/speechx/frontend/feature_extractor_interface.h
  speechx/speechx/frontend/linear_spectrogram.cc
  speechx/speechx/frontend/linear_spectrogram.h
  speechx/speechx/frontend/normalizer.cc
  speechx/speechx/frontend/normalizer.h
  speechx/speechx/frontend/raw_audio.cc
  speechx/speechx/frontend/raw_audio.h
  speechx/speechx/nnet/decodable-itf.h
  speechx/speechx/nnet/decodable.cc
  utils/generate_infer_yaml.py
Due: auto add label=README

update run.sh, test=doc
  examples/aishell3/voc1/run.sh
Due: auto add label=Example

add hifigan in syn of aishell3, test=tts
  examples/aishell3/tts3/local/synthesize.sh
  examples/aishell3/tts3/local/synthesize_e2e.sh
Due: auto add label=Example

update readme for aishell3 hifigan, test=tts
  docs/source/released_model.md
  examples/aishell3/voc5/README.md
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/exps/synthesize_e2e.py
Due: auto add label=T2S, auto add label=Example, auto add label=README, auto add label=Documentation

added online engine and mic recorder , test=doc
  paddlespeech/s2t/frontend/audio.py
  paddlespeech/s2t/frontend/speech.py
  paddlespeech/ws/bin/main.py
  paddlespeech/ws/conf/application.yaml
  paddlespeech/ws/conf/asr/asr_online.yaml
  paddlespeech/ws/engine/asr/online/asr_engine.py
  paddlespeech/ws/engine/engine_factory.py
  paddlespeech/ws/engine/engine_pool.py
  paddlespeech/ws/socket/asr_socket.py
  paddlespeech/ws/tests/asr/microphone_client.py
  paddlespeech/ws/tests/asr/websocket_client.py
Due: auto add label=S2T

Add paddleaudio doc.
  paddleaudio/paddleaudio/backends/soundfile_backend.py
  paddleaudio/paddleaudio/compliance/kaldi.py
  paddleaudio/paddleaudio/compliance/librosa.py
  paddleaudio/paddleaudio/features/layers.py
Due: none

[wip][vec] update client, test=doc #1543
  demos/audio_searching/README.md
  demos/audio_searching/README_cn.md
  demos/audio_searching/docker-compose.yaml
  demos/audio_searching/src/encode.py
  demos/audio_searching/src/main.py
  demos/audio_searching/src/operations/count.py
  demos/audio_searching/src/operations/drop.py
  demos/audio_searching/src/operations/load.py
  demos/audio_searching/src/operations/search.py
Due: auto add label=Demo, auto add label=README

[wip][vec] update client, test=doc #1543
  demos/audio_searching/README.md
  demos/audio_searching/README_cn.md
  demos/audio_searching/src/operations/count.py
  demos/audio_searching/src/operations/drop.py
  demos/audio_searching/src/operations/load.py
  demos/audio_searching/src/operations/search.py
Due: auto add label=Demo, auto add label=README

[wip][vec] update client, test=doc #1543
  demos/audio_searching/img/search.png
Due: auto add label=Demo

Add paddleaudio doc.
  paddleaudio/paddleaudio/compliance/librosa.py
  paddleaudio/paddleaudio/features/layers.py
Due: none

Add paddleaudio doc.
  paddleaudio/paddleaudio/compliance/librosa.py
  paddleaudio/paddleaudio/features/layers.py
  paddleaudio/paddleaudio/functional/functional.py
  paddleaudio/paddleaudio/functional/window.py
  paddleaudio/paddleaudio/metric/dtw.py
  paddlespeech/cli/executor.py
Due: none

[wip][vec] update client image url, test=doc #1543
  demos/audio_searching/docker-compose.yaml
Due: auto add label=Demo

fix benchmark model_repo
  tests/test_tipc/benchmark_train.sh
Due: none

add vector cli component, test=doc
  examples/voxceleb/sv0/conf/ecapa_tdnn.yaml
  examples/voxceleb/sv0/local/data.sh
  examples/voxceleb/sv0/local/emb.sh
  examples/voxceleb/sv0/local/test.sh
  examples/voxceleb/sv0/local/train.sh
  examples/voxceleb/sv0/run.sh
  paddleaudio/paddleaudio/metric/eer.py
  paddlespeech/cli/vector/__init__.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/vector/exps/ecapa_tdnn/extract_emb.py
  paddlespeech/vector/exps/ecapa_tdnn/test.py
  paddlespeech/vector/exps/ecapa_tdnn/train.py
  paddlespeech/vector/io/batch.py
  paddlespeech/vector/modules/loss.py
  paddlespeech/vector/modules/sid_model.py
Due: auto add label=Example

add vector voxceleb12 base mode url, test=doc
  paddlespeech/cli/vector/infer.py
Due: none

change - to _ to distinguish field
  paddlespeech/cli/vector/infer.py
Due: none

update the code, test=asr
  paddlespeech/s2t/__init__.py
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/activation.py
  paddlespeech/s2t/modules/align.py
  paddlespeech/s2t/modules/attention.py
  paddlespeech/s2t/modules/conformer_convolution.py
  paddlespeech/s2t/modules/ctc.py
  paddlespeech/s2t/modules/decoder.py
  paddlespeech/s2t/modules/decoder_layer.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/modules/encoder_layer.py
  paddlespeech/s2t/modules/initializer.py
  paddlespeech/s2t/modules/nets_utils.py
  paddlespeech/s2t/modules/positionwise_feed_forward.py
  paddlespeech/s2t/modules/subsampling.py
Due: auto add label=S2T

update readme for vctk hifigan, test=tts
  examples/vctk/tts3/local/synthesize.sh
  examples/vctk/tts3/local/synthesize_e2e.sh
Due: auto add label=Example

add some comments in code
  paddlespeech/cli/vector/infer.py
  paddlespeech/vector/io/batch.py
  paddlespeech/vector/modules/sid_model.py
Due: none

exec pre-commit in paddlespeech vector, test=doc
  paddlespeech/vector/__init__.py
  paddlespeech/vector/exps/ecapa_tdnn/extract_emb.py
  paddlespeech/vector/exps/ecapa_tdnn/train.py
Due: none

fix some format, test=asr
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/activation.py
  paddlespeech/s2t/modules/align.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/modules/initializer.py
Due: auto add label=S2T

update readme for vctk hifigan, test=tts
  docs/source/released_model.md
  examples/vctk/tts3/local/synthesize_e2e.sh
  examples/vctk/voc5/README.md
  paddlespeech/cli/tts/infer.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  tests/unit/cli/test_cli.sh
Due: auto add label=T2S, auto add label=Example, auto add label=README, auto add label=Documentation

Path conditions:
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^audio/
  auto add label=TextProcess: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^docs/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
