Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=TextProcess, auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^audio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=TextProcess"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["TextProcess"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^docs/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechnn/
    actions:
      label:
        add: ["Deployment"]

Update README.md
  README.md
Due: auto add label=README

Update README_cn.md
  README_cn.md
Due: none

[vec][search] update search picture, test=doc #1608
  demos/audio_searching/img/search.png
Due: auto add label=Demo

test=doc
  docs/source/released_model.md
Due: auto add label=Documentation

test=doc
  examples/aishell/asr1/RESULTS.md
Due: auto add label=Example

Update RESULTS.md
  examples/aishell/asr1/RESULTS.md
Due: auto add label=Example

replace kaidi_fbank with paddleaudio
  examples/aishell/asr1/conf/preprocess.yaml
  paddlespeech/s2t/transform/spectrogram.py
  paddlespeech/s2t/transform/transformation.py
Due: auto add label=S2T, auto add label=Example

restructure expand in length_regulator.py for paddle2onnx, test=tts
  examples/csmsc/tts3/README.md
  paddlespeech/t2s/modules/predictor/length_regulator.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

update readme, test=doc
  examples/csmsc/tts3/README.md
Due: auto add label=Example, auto add label=README

test=doc
  examples/aishell/asr1/conf/chunk_conformer.yaml
Due: auto add label=Example

change the vector output to numpy.array
  dataset/voxceleb/voxceleb1.py
  dataset/voxceleb/voxceleb2.py
  demos/audio_searching/src/operations/load.py
  demos/speaker_verification/README.md
  demos/speaker_verification/README_cn.md
  examples/voxceleb/README.md
  examples/voxceleb/sv0/local/data_prepare.py
  paddleaudio/paddleaudio/datasets/__init__.py
  paddleaudio/paddleaudio/datasets/rirs_noises.py
  paddleaudio/paddleaudio/datasets/voxceleb.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/vector/exps/ecapa_tdnn/test.py
  paddlespeech/vector/io/augment.py
  paddlespeech/vector/io/signal_processing.py
  tests/unit/vector/conftest.py
  tests/unit/vector/test_augment.py
Due: auto add label=Example, auto add label=Demo, auto add label=README

Update requirements.
  paddleaudio/setup.py
Due: none

added vad, test=doc
  paddlespeech/ws/conf/application.yaml
  paddlespeech/ws/conf/asr/asr_online.yaml
  paddlespeech/ws/engine/asr/online/asr_engine.py
  paddlespeech/ws/socket/asr_socket.py
  paddlespeech/ws/tests/asr/microphone_client.py
  paddlespeech/ws/tests/asr/websocket_client.py
  paddlespeech/ws/utils/buffer.py
  paddlespeech/ws/utils/vad.py
Due: none

add make TLG binary & script
  speechx/examples/aishell/local/aishell_train_lms.sh
  speechx/examples/aishell/mkgraph.sh
  speechx/examples/aishell/path.sh
  speechx/examples/aishell/tools/fst/add_lex_disambig.pl
  speechx/examples/aishell/tools/fst/compile_lexicon_token_fst.sh
  speechx/examples/aishell/tools/fst/ctc_token_fst.py
  speechx/examples/aishell/tools/fst/ctc_token_fst_compact.py
  speechx/examples/aishell/tools/fst/ctc_token_fst_corrected.py
  speechx/examples/aishell/tools/fst/eps2disambig.pl
  speechx/examples/aishell/tools/fst/make_lexicon_fst.pl
  speechx/examples/aishell/tools/fst/make_tlg.sh
  speechx/examples/aishell/tools/fst/prepare_dict.py
  speechx/examples/aishell/tools/fst/remove_oovs.pl
  speechx/examples/aishell/tools/fst/rnnt_token_fst.py
  speechx/examples/aishell/tools/fst/s2eps.pl
  speechx/examples/aishell/tools/parse_options.sh
  speechx/examples/decoder/offline_wfst_decoder_main.cc
  speechx/speechx/frontend/normalizer.cc
  speechx/speechx/nnet/decodable.cc
  speechx/tools/fstbin/fstaddselfloops.cc
  speechx/tools/fstbin/fstdeterminizestar.cc
  speechx/tools/fstbin/fstisstochastic.cc
  speechx/tools/fstbin/fstminimizeencoded.cc
  speechx/tools/fstbin/fsttablecompose.cc
  speechx/tools/install_srilm.sh
  speechx/tools/lmbin/CMakeLists.txt
  speechx/tools/lmbin/arpa2fst.cc
Due: none

more comment of code;
  speechx/README.md
  speechx/build.sh
  speechx/cmake/FindGFortranLibs.cmake
  speechx/cmake/external/openblas.cmake
  speechx/cmake/external/openfst.cmake
  speechx/speechx/frontend/feature_cache.cc
  speechx/speechx/frontend/feature_cache.h
  speechx/speechx/frontend/feature_extractor_interface.h
  speechx/speechx/frontend/linear_spectrogram.h
Due: auto add label=README

format code, test=doc
  dataset/librispeech/librispeech.py
  demos/audio_searching/src/encode.py
  demos/audio_searching/src/operations/load.py
  examples/ami/sd0/local/ami_prepare.py
  paddlespeech/s2t/decoders/recog_bin.py
  paddlespeech/s2t/utils/cli_utils.py
  paddlespeech/s2t/utils/utility.py
  paddlespeech/vector/cluster/diarization.py
  utils/DER.py
  utils/addjson.py
  utils/apply-cmvn.py
  utils/copy-feats.py
  utils/merge_scp2json.py
Due: auto add label=S2T, auto add label=Example, auto add label=Demo

rm tools/fst
  speechx/examples/aishell/tools/fst/add_lex_disambig.pl
  speechx/examples/aishell/tools/fst/compile_lexicon_token_fst.sh
  speechx/examples/aishell/tools/fst/ctc_token_fst.py
  speechx/examples/aishell/tools/fst/ctc_token_fst_compact.py
  speechx/examples/aishell/tools/fst/ctc_token_fst_corrected.py
  speechx/examples/aishell/tools/fst/eps2disambig.pl
  speechx/examples/aishell/tools/fst/make_lexicon_fst.pl
  speechx/examples/aishell/tools/fst/make_tlg.sh
  speechx/examples/aishell/tools/fst/prepare_dict.py
  speechx/examples/aishell/tools/fst/remove_oovs.pl
  speechx/examples/aishell/tools/fst/rnnt_token_fst.py
  speechx/examples/aishell/tools/fst/s2eps.pl
  speechx/examples/aishell/tools/parse_options.sh
Due: none

rm example/aishell
  speechx/examples/aishell/local/aishell_train_lms.sh
  speechx/examples/aishell/mkgraph.sh
  speechx/examples/aishell/path.sh
Due: none

update spectrogram, test=asr
  examples/aishell/asr1/conf/preprocess.yaml
  paddlespeech/s2t/transform/spectrogram.py
Due: auto add label=S2T, auto add label=Example

fix path error in speechx/examples/decoder
  speechx/examples/decoder/path.sh
Due: none

fix speechx doc typo
  speechx/README.md
Due: auto add label=README

fix typo
  speechx/README.md
Due: auto add label=README

support mix precision training, test=asr
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/training/cli.py
  paddlespeech/s2t/training/gradclip.py
  tests/test_tipc/configs/conformer/train_amp_infer_python.txt
  tests/test_tipc/prepare.sh
  tests/test_tipc/test_train_inference_python.sh
Due: auto add label=S2T

add docstring, test=asr
  paddlespeech/s2t/transform/spectrogram.py
Due: auto add label=S2T

update version of ctcdecoders, test=asr
  third_party/ctc_decoders/setup.py
Due: none

added online asr engine , test=doc
  paddlespeech/s2t/frontend/audio.py
  paddlespeech/s2t/frontend/speech.py
  paddlespeech/server/bin/main.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/engine/asr/online/__init__.py
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/engine/engine_factory.py
  paddlespeech/server/tests/asr/online/microphone_client.py
  paddlespeech/server/tests/asr/online/websocket_client.py
  paddlespeech/server/utils/buffer.py
  paddlespeech/server/utils/vad.py
  paddlespeech/server/ws/__init__.py
  paddlespeech/server/ws/api.py
  paddlespeech/server/ws/asr_socket.py
Due: auto add label=S2T

[vec][search] update client image url, test=doc fix #1608
  demos/README.md
  demos/README_cn.md
  demos/audio_searching/docker-compose.yaml
Due: auto add label=Demo, auto add label=README

add CNNDecoder, test=tts
  examples/csmsc/tts3/conf/cnndecoder.yaml
  examples/csmsc/tts3/local/synthesize_streaming.sh
  examples/csmsc/tts3/run_cnndecoder.sh
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
  paddlespeech/t2s/modules/transformer/encoder.py
Due: auto add label=T2S, auto add label=Example

convert jsonfile to csv file
  examples/voxceleb/sv0/conf/ecapa_tdnn.yaml
  examples/voxceleb/sv0/local/data.sh
  examples/voxceleb/sv0/local/make_csv_dataset_from_json.py
  paddleaudio/paddleaudio/datasets/voxceleb.py
Due: auto add label=Example

fix openfst patch
  speechx/cmake/external/openfst.cmake
Due: none

Update paddlespeech_client.py
  paddlespeech/server/bin/paddlespeech_client.py
Due: none

glog to stderr
  demos/audio_searching/src/encode.py
  speechx/examples/CMakeLists.txt
  speechx/examples/README.md
  speechx/examples/decoder/offline_decoder_main.cc
  speechx/examples/decoder/run.sh
  speechx/examples/feat/linear_spectrogram_main.cc
  speechx/examples/feat/run.sh
Due: auto add label=Demo, auto add label=README

fixed comments, test=doc
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/conf/ws_application.yaml
  paddlespeech/server/tests/asr/online/microphone_client.py
  paddlespeech/server/tests/asr/online/websocket_client.py
  paddlespeech/server/utils/vad.py
  paddlespeech/server/ws/asr_socket.py
Due: none

more comment
  speechx/examples/decoder/offline_decoder_main.cc
  speechx/examples/decoder/run.sh
  speechx/examples/feat/feature-mfcc-test.cc
  speechx/examples/feat/linear_spectrogram_main.cc
  speechx/speechx/frontend/feature_cache.h
  speechx/speechx/frontend/raw_audio.h
Due: none

add decoder_test_main
  speechx/examples/decoder/CMakeLists.txt
  speechx/examples/decoder/decoder_test_main.cc
  speechx/examples/decoder/offline_decoder_sliding_chunk_main.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.h
  speechx/speechx/nnet/decodable.cc
Due: none

add streaming synthesize, test=tts
  examples/csmsc/tts3/local/synthesize_streaming.sh
  paddlespeech/t2s/exps/synthesize_streaming.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
  paddlespeech/t2s/modules/transformer/encoder.py
Due: auto add label=T2S, auto add label=Example

refactor cache
  speechx/examples/decoder/offline_decoder_main.cc
  speechx/examples/feat/linear_spectrogram_main.cc
  speechx/speechx/frontend/CMakeLists.txt
  speechx/speechx/frontend/audio_cache.cc
  speechx/speechx/frontend/audio_cache.h
  speechx/speechx/frontend/data_cache.h
Due: none

format code
  paddlespeech/s2t/frontend/speech.py
  paddlespeech/server/bin/main.py
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/utils/buffer.py
Due: auto add label=S2T

fix raw data
  speechx/examples/decoder/offline_decoder_sliding_chunk_main.cc
Due: none

remove model opts in offline_decoder_main
  speechx/examples/decoder/offline_decoder_main.cc
Due: none
