Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

[doc]updade readme for mix tts (#2284)
  README.md
  README_cn.md
  demos/text_to_speech/README.md
  demos/text_to_speech/README_cn.md
Due: auto add label=Demo, auto add label=README

Update polyphonic.yaml
  paddlespeech/t2s/frontend/polyphonic.yaml
Due: auto add label=T2S

fix ONNXRuntimeError Specify data type (int64),test=tts
  paddlespeech/t2s/frontend/g2pw/dataset.py
Due: auto add label=T2S

Tactron2→Tacotron2 ,test=doc
  docs/source/released_model.md
  docs/source/tts/quick_start.md
  docs/source/tts/quick_start_cn.md
  docs/tutorial/tts/tts_tutorial.ipynb
  examples/aishell3/README.md
  examples/csmsc/README.md
  examples/ljspeech/README.md
  examples/vctk/README.md
Due: auto add label=Example, auto add label=README, auto add label=Documentation

[TTS]指定G2PW的传入数据类型 , test=tts (#2288)
  docs/source/released_model.md
  docs/source/tts/quick_start.md
  docs/source/tts/quick_start_cn.md
  docs/tutorial/tts/tts_tutorial.ipynb
  examples/aishell3/README.md
  examples/csmsc/README.md
  examples/ljspeech/README.md
  examples/vctk/README.md
  paddlespeech/t2s/frontend/g2pw/dataset.py
Due: auto add label=T2S, auto add label=Example, auto add label=README, auto add label=Documentation

refactor ctcloss
  paddlespeech/s2t/exps/wav2vec2/model.py
  paddlespeech/s2t/models/ds2/deepspeech2.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/models/u2_st/u2_st.py
  paddlespeech/s2t/models/wav2vec2/activations.py
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
  paddlespeech/s2t/modules/ctc.py
  paddlespeech/server/engine/asr/online/onnx/asr_engine.py
  paddlespeech/server/engine/asr/online/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/online/python/asr_engine.py
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
Due: auto add label=S2T, auto add label=Server

update version
  setup.py
Due: auto add label=Installation

[cherry-pick][r1.1] fix g2pw input type for windows (#2289)
  docs/source/released_model.md
  docs/source/tts/quick_start.md
  docs/source/tts/quick_start_cn.md
  docs/tutorial/tts/tts_tutorial.ipynb
  examples/aishell3/README.md
  examples/csmsc/README.md
  examples/ljspeech/README.md
  examples/vctk/README.md
  paddlespeech/t2s/frontend/g2pw/dataset.py
  setup.py
Due: auto add label=T2S, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=Installation

Create preprocess.py
  examples/iwslt2012/punc0/preprocess.py
Due: auto add label=Example

Delete preprocess.py
  examples/iwslt2012/punc0/preprocess.py
Due: auto add label=Example

Create preprocess.py
  examples/iwslt2012/punc0/local/preprocess.py
Due: auto add label=Example

add ernie sat synthesize_e2e, test=tts
  examples/aishell3/README.md
  examples/aishell3/ernie_sat/README.md
  examples/aishell3/ernie_sat/conf/default.yaml
  examples/aishell3/ernie_sat/local/synthesize.sh
  examples/aishell3/ernie_sat/local/synthesize_e2e.sh
  examples/aishell3/ernie_sat/local/train.sh
  examples/aishell3/ernie_sat/run.sh
  examples/aishell3_vctk/README.md
  examples/aishell3_vctk/ernie_sat/README.md
  examples/aishell3_vctk/ernie_sat/conf/default.yaml
  examples/aishell3_vctk/ernie_sat/local/synthesize.sh
  examples/aishell3_vctk/ernie_sat/local/synthesize_e2e.sh
  examples/aishell3_vctk/ernie_sat/local/train.sh
  examples/aishell3_vctk/ernie_sat/run.sh
  examples/vctk/README.md
  examples/vctk/ernie_sat/README.md
  examples/vctk/ernie_sat/conf/default.yaml
  examples/vctk/ernie_sat/local/synthesize.sh
  examples/vctk/ernie_sat/local/synthesize_e2e.sh
  examples/vctk/ernie_sat/local/train.sh
  examples/vctk/ernie_sat/run.sh
  paddlespeech/t2s/exps/ernie_sat/align.py
  paddlespeech/t2s/exps/ernie_sat/synthesize_e2e.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/models/ernie_sat/ernie_sat.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

add ernie sat synthesize_e2e, test=tts (#2287)
  examples/aishell3/README.md
  examples/aishell3/ernie_sat/README.md
  examples/aishell3/ernie_sat/conf/default.yaml
  examples/aishell3/ernie_sat/local/synthesize.sh
  examples/aishell3/ernie_sat/local/synthesize_e2e.sh
  examples/aishell3/ernie_sat/local/train.sh
  examples/aishell3/ernie_sat/run.sh
  examples/aishell3_vctk/README.md
  examples/aishell3_vctk/ernie_sat/README.md
  examples/aishell3_vctk/ernie_sat/conf/default.yaml
  examples/aishell3_vctk/ernie_sat/local/synthesize.sh
  examples/aishell3_vctk/ernie_sat/local/synthesize_e2e.sh
  examples/aishell3_vctk/ernie_sat/local/train.sh
  examples/aishell3_vctk/ernie_sat/run.sh
  examples/vctk/README.md
  examples/vctk/ernie_sat/README.md
  examples/vctk/ernie_sat/conf/default.yaml
  examples/vctk/ernie_sat/local/synthesize.sh
  examples/vctk/ernie_sat/local/synthesize_e2e.sh
  examples/vctk/ernie_sat/local/train.sh
  examples/vctk/ernie_sat/run.sh
  paddlespeech/t2s/exps/ernie_sat/align.py
  paddlespeech/t2s/exps/ernie_sat/synthesize_e2e.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/models/ernie_sat/ernie_sat.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

add chinese words correct phonic,test=tts
  paddlespeech/t2s/frontend/polyphonic.yaml
Due: auto add label=T2S

fix mix frontend, test=tts
  paddlespeech/t2s/frontend/mix_frontend.py
Due: auto add label=T2S

Update asr_engine.py
  paddlespeech/server/engine/asr/python/asr_engine.py
Due: auto add label=Server

add tts finetune example, test=tts
  examples/other/tts_finetune/tts3/README.md
  examples/other/tts_finetune/tts3/finetune.py
  examples/other/tts_finetune/tts3/local/check_oov.py
  examples/other/tts_finetune/tts3/local/extract.py
  examples/other/tts_finetune/tts3/local/label_process.py
  examples/other/tts_finetune/tts3/local/prepare_env.py
  examples/other/tts_finetune/tts3/path.sh
  examples/other/tts_finetune/tts3/run.sh
Due: auto add label=Example, auto add label=README

fix finetune
  examples/other/tts_finetune/tts3/README.md
  examples/other/tts_finetune/tts3/finetune.py
  examples/other/tts_finetune/tts3/run.sh
Due: auto add label=Example, auto add label=README

add chinese words correct phonic,test=tts (#2300)
  paddlespeech/t2s/frontend/polyphonic.yaml
Due: auto add label=T2S

fix mix frontend, test=tts (#2299)
  paddlespeech/t2s/frontend/mix_frontend.py
Due: auto add label=T2S

[tts] add tts finetune example (#2297)
  examples/other/tts_finetune/tts3/README.md
  examples/other/tts_finetune/tts3/finetune.py
  examples/other/tts_finetune/tts3/local/check_oov.py
  examples/other/tts_finetune/tts3/local/extract.py
  examples/other/tts_finetune/tts3/local/label_process.py
  examples/other/tts_finetune/tts3/local/prepare_env.py
  examples/other/tts_finetune/tts3/path.sh
  examples/other/tts_finetune/tts3/run.sh
Due: auto add label=Example, auto add label=README

fix mix frontend, test=tts (#2299) (#2303)
  paddlespeech/t2s/frontend/mix_frontend.py
Due: auto add label=T2S

fix g2pw model
  paddlespeech/resource/pretrained_models.py
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
Due: auto add label=T2S

fix g2pw model (#2304)
  paddlespeech/resource/pretrained_models.py
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
Due: auto add label=T2S

add chinese words correct phonic
  paddlespeech/t2s/frontend/polyphonic.yaml
Due: auto add label=T2S

add chinese words correct phonic (#2305)
  paddlespeech/t2s/frontend/polyphonic.yaml
Due: auto add label=T2S

fix g2pw model (#2304) (#2306)
  paddlespeech/resource/pretrained_models.py
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
Due: auto add label=T2S

Update setup.py
  setup.py
Due: auto add label=Installation

Update README.md
  examples/other/tts_finetune/tts3/README.md
Due: auto add label=Example, auto add label=README

[TN] Update quantifiers
  paddlespeech/t2s/frontend/zh_normalization/num.py
Due: auto add label=T2S

add barrier
  tests/benchmark/pwgan/run_benchmark.sh
  tests/test_tipc/barrier.sh
Due: auto add label=Test

add barrier (#2309)
  tests/benchmark/pwgan/run_benchmark.sh
  tests/test_tipc/barrier.sh
Due: auto add label=Test

[TN] Update quantifiers (#2308)
  paddlespeech/t2s/frontend/zh_normalization/num.py
Due: auto add label=T2S

Update application.yaml
  paddlespeech/server/conf/application.yaml
Due: auto add label=Server
