Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=TextProcess, auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=TextProcess:
  label:
    add:
    - TextProcess

auto add label=Example:
  label:
    add:
    - Example

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

Update README.md
  demos/speech_recognition/README.md
Due: auto add label=Demo, auto add label=README

change the paddlespeech version
  setup.py
Due: auto add label=Installation

change the paddlespeech version (#1163)
  setup.py
Due: auto add label=Installation

Update README_cn.md
  README_cn.md
Due: none

Update README.md
  README.md
Due: auto add label=README

test=update_readme, test=doc_fix
  README.md
Due: auto add label=README

test=update_readme, test=doc_fix
  README_cn.md
Due: none

[README] Update Acknowledgement. (#1164)
  README.md
  README_cn.md
Due: auto add label=README

add paddlespeech.__version__
  paddlespeech/__init__.py
  paddlespeech/cli/asr/infer.py
Due: none

reviset the install.md
  docs/source/install.md
  docs/source/install_cn.md
Due: auto add label=Documentation

version 0.1.0 is ready
  setup.py
Due: auto add label=Installation

[version]add paddlespeech.__version__ (#1166)
  paddlespeech/__init__.py
  paddlespeech/cli/asr/infer.py
  setup.py
Due: auto add label=Installation

reviset the install.md (#1165)
  docs/source/install.md
  docs/source/install_cn.md
Due: auto add label=Documentation

revise the doc
  README.md
  README_cn.md
Due: auto add label=README

test=develop, test=doc_fix
  README.md
  README_cn.md
Due: auto add label=README

test=develop, test=doc_fix
  README_cn.md
Due: none

[README] Fix some errors. (#1171)
  README.md
Due: auto add label=README

revise the doc,test=doc_fix
  docs/source/install.md
  docs/source/install_cn.md
Due: auto add label=Documentation

test=doc_fix
  docs/source/install_cn.md
Due: auto add label=Documentation

test=doc_fix
  docs/source/install.md
Due: auto add label=Documentation

Update install_cn.md
  docs/source/install_cn.md
Due: auto add label=Documentation

[Install doc] add the pypi-source (#1172)
  docs/source/install.md
  docs/source/install_cn.md
Due: auto add label=Documentation

Update README. test=doc_fix
  demos/README.md
  demos/README_cn.md
  paddlespeech/cli/README_cn.md
Due: auto add label=Demo, auto add label=README

revise the README in demos,test=doc_fix
  demos/speech_recognition/README.md
  demos/speech_recognition/README_cn.md
Due: auto add label=Demo, auto add label=README

test=doc_fix
  demos/speech_recognition/README.md
  demos/speech_recognition/README_cn.md
Due: auto add label=Demo, auto add label=README

Fix README.md typo
  examples/csmsc/tts2/README.md
Due: auto add label=Example, auto add label=README

add paddlenlp in requirements,test=doc_fix
  requirements.txt
  setup.py
Due: auto add label=Installation

Add cls docs of training and custom dataset. test=doc_fix
  docs/source/cls/custom_dataset.md
  docs/source/cls/quick_start.md
Due: auto add label=Documentation

fix logfbank dither
  examples/aishell/asr1/conf/conformer.yaml
  examples/aishell/asr1/conf/preprocess.yaml
  examples/aishell/asr1/conf/transformer.yaml
  examples/callcenter/asr1/conf/preprocess.yaml
  examples/librispeech/asr1/conf/preprocess.yaml
  examples/timit/asr1/conf/preprocess.yaml
  examples/tiny/asr1/conf/preprocess.yaml
  examples/wenetspeech/asr1/conf/preprocess.yaml
  paddlespeech/s2t/transform/spectrogram.py
Due: auto add label=S2T, auto add label=Example

Path conditions:
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^audio/
  auto add label=TextProcess: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^docs/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
