Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=enhancement:
  label:
    add:
    - enhancement

auto add label=Example:
  label:
    add:
    - Example

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

fix the bug of doc in benchmark
  tests/benchmark/README.md
Due: auto add label=README

fix score doc
  deepspeech/decoders/scorers/score_interface.py
Due: auto add label=enhancement

update librispeech conformer transformer config
  examples/librispeech/s1/conf/chunk_conformer.yaml
  examples/librispeech/s1/conf/chunk_transformer.yaml
  examples/librispeech/s1/conf/conformer.yaml
Due: auto add label=Example

update librispeech conformer result
  examples/librispeech/s1/README.md
Due: auto add label=Example, auto add label=README

u2 kaldi mutli process test with batchsize one
  deepspeech/exps/u2/model.py
  deepspeech/exps/u2_kaldi/model.py
  deepspeech/io/collator.py
  deepspeech/io/dataloader.py
  deepspeech/models/u2/u2.py
  examples/librispeech/s1/conf/augmentation.json
  examples/librispeech/s2/README.md
  examples/librispeech/s2/conf/transformer.yaml
  examples/librispeech/s2/local/test.sh
  examples/librispeech/s2/run.sh
  tools/Makefile
  utils/json2trn.py
  utils/score_sclite.sh
  utils/utility.py
Due: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Installation

fix error condition
  examples/librispeech/s2/local/test.sh
Due: auto add label=Example

update readme
  README.md
  docs/source/index.rst
Due: auto add label=README

setup.py deps from requirements.txt
  .gitignore
  docs/requirements.txt
  parakeet/__init__.py
  requirements.txt
  setup.py
Due: auto add label=Installation

setup with ubuntu deps
  .gitignore
  requirements.txt
  setup.py
  setup.sh
Due: auto add label=Installation

trainer eval when not train
  deepspeech/exps/deepspeech2/bin/export.py
  deepspeech/exps/deepspeech2/bin/test.py
  deepspeech/exps/deepspeech2/bin/test_export.py
  deepspeech/exps/deepspeech2/bin/test_hub.py
  deepspeech/exps/u2/bin/alignment.py
  deepspeech/exps/u2/bin/export.py
  deepspeech/exps/u2/bin/test.py
  deepspeech/exps/u2_kaldi/bin/test.py
  deepspeech/exps/u2_st/bin/export.py
  deepspeech/exps/u2_st/bin/test.py
Due: auto add label=enhancement

fix the bug of detokenize
  deepspeech/frontend/featurizer/text_featurizer.py
Due: auto add label=enhancement

tools make
  requirements.txt
  setup.py
  tools/Makefile
  tools/extras/install_autolog.sh
Due: auto add label=Installation

Update README.md
  README.md
Due: auto add label=README

fix: bugfix
  deepspeech/io/collator.py
Due: auto add label=enhancement

fix not found pushd
  setup.py
Due: auto add label=Installation

setup.py install cpp deps
  requirements.txt
  setup.cfg
  setup.py
  tools/extras/install_autolog.sh
Due: auto add label=Installation

fix the bug of benchmark after merge the parakeet, add the condition of using kaldi in aishll s1
  examples/aishell/s1/run.sh
  tests/benchmark/conformer/prepare.sh
  tests/benchmark/conformer/run.sh
Due: auto add label=Example

using setup.py to install pkgs by shell script
  setup.py
  tools/Makefile
  tools/extras/install_autolog.sh
Due: auto add label=Installation

Add files via upload
  docs/images/PaddleSpeech_log.png
Due: none

Path conditions:
  auto add label=enhancement: any of: ^deepspeech/
  auto add label=Example: any of: ^examples/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
