Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=enhancement:
  label:
    add:
    - enhancement

auto add label=Example:
  label:
    add:
    - Example

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

revise the asr infer.py
  paddlespeech/cli/asr/infer.py
Due: none

Update inputs and outputs of executor.
  paddlespeech/cli/executor.py
Due: none

support using by __call__
  paddlespeech/cli/asr/infer.py
Due: none

Update doc strings.
  paddlespeech/cli/executor.py
Due: none

Update python api.
  paddlespeech/cli/asr/infer.py
Due: none

minor
  examples/ted_en_zh/st0/conf/transformer_mtl_noam.yaml
Due: auto add label=Example

eval mode
  paddlespeech/s2t/exps/u2_st/model.py
Due: none

update librispeech asr1 transformer result
  examples/librispeech/asr1/RESULTS.md
  examples/librispeech/asr1/conf/transformer.yaml
Due: auto add label=Example

revise the sample rate
  paddlespeech/cli/asr/infer.py
Due: none

Update RESULTS.md
  examples/librispeech/asr2/RESULTS.md
Due: auto add label=Example

revise
  paddlespeech/cli/asr/infer.py
Due: none

Update infer.py
  paddlespeech/cli/asr/infer.py
Due: none

revise the convert pcm
  paddlespeech/cli/asr/infer.py
Due: none

revise the install.md, setup.py and makefile, rm the setup.sh
  docs/source/install.md
  setup.py
  setup.sh
  tools/Makefile
Due: auto add label=Installation

revise
  docs/source/install.md
Due: none

add style_melgan
  examples/aishell3/voc1/conf/default.yaml
  examples/aishell3/voc1/local/synthesize.sh
  examples/csmsc/README.md
  examples/csmsc/voc1/conf/default.yaml
  examples/csmsc/voc1/local/synthesize.sh
  examples/csmsc/voc3/conf/default.yaml
  examples/csmsc/voc3/conf/finetune.yaml
  examples/csmsc/voc4/conf/default.yaml
  examples/csmsc/voc4/local/preprocess.sh
  examples/csmsc/voc4/local/synthesize.sh
  examples/csmsc/voc4/local/train.sh
  examples/csmsc/voc4/path.sh
  examples/csmsc/voc4/run.sh
  examples/ljspeech/voc1/conf/default.yaml
  examples/ljspeech/voc1/local/synthesize.sh
  examples/vctk/voc1/conf/default.yaml
  examples/vctk/voc1/local/synthesize.sh
  paddlespeech/t2s/exps/gan_vocoder/parallelwave_gan/synthesize.py
  paddlespeech/t2s/exps/gan_vocoder/style_melgan/__init__.py
  paddlespeech/t2s/exps/gan_vocoder/style_melgan/train.py
  paddlespeech/t2s/exps/gan_vocoder/synthesize.py
  paddlespeech/t2s/models/melgan/__init__.py
  paddlespeech/t2s/models/melgan/melgan.py
  paddlespeech/t2s/models/melgan/style_melgan.py
  paddlespeech/t2s/models/melgan/style_melgan_updater.py
  paddlespeech/t2s/models/parallel_wavegan/parallel_wavegan_updater.py
  paddlespeech/t2s/modules/activation.py
  paddlespeech/t2s/modules/residual_stack.py
  paddlespeech/t2s/modules/style_encoder.py
  paddlespeech/t2s/modules/tade_res_block.py
Due: auto add label=Example, auto add label=README

add style_melgan readme, test=tts
  examples/csmsc/voc4/README.md
Due: auto add label=Example, auto add label=README

add style_melgan readme, test=tts
  examples/aishell3/voc1/README.md
  examples/csmsc/voc1/README.md
  examples/csmsc/voc3/README.md
  examples/csmsc/voc4/README.md
  examples/ljspeech/voc1/README.md
  examples/vctk/voc1/README.md
Due: auto add label=Example, auto add label=README

Update install.md
  docs/source/install.md
Due: none

fix install
  .gitignore
  docs/source/install.md
  examples/librispeech/asr1/RESULTS.md
  setup.py
  tools/Makefile
  tools/extras/install_miniconda.sh
  tools/setup_anaconda.sh
Due: auto add label=Example, auto add label=Installation

Path conditions:
  auto add label=enhancement: any of: ^deepspeech/
  auto add label=Example: any of: ^examples/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
