Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=TextProcess, auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^audio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=TextProcess"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["TextProcess"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^docs/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechnn/
    actions:
      label:
        add: ["Deployment"]

Update README.md
  examples/aishell/asr1/README.md
Due: auto add label=Example, auto add label=README

test=doc_fix
  examples/librispeech/asr1/README.md
Due: auto add label=Example, auto add label=README

Add automatic_video_subtitiles demo.
  demos/audio_tagging/README.md
  demos/automatic_video_subtitiles/README.md
  demos/automatic_video_subtitiles/recognize.py
  demos/automatic_video_subtitiles/run.sh
  demos/punctuation_restoration/README.md
  demos/speech_recognition/README.md
  demos/speech_translation/README.md
  paddlespeech/cli/text/infer.py
Due: auto add label=Demo, auto add label=README

Add default arguments in cls python api.
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/text/infer.py
  paddlespeech/cli/tts/infer.py
Due: none

Update install.md (#1127)
  docs/source/install.md
Due: auto add label=Documentation

[Readme] librispeech asr1 (#1129)
  examples/librispeech/asr1/README.md
  examples/librispeech/asr1/run.sh
Due: auto add label=Example, auto add label=README

Add automatic_video_subtitiles demo.
  demos/automatic_video_subtitiles/README.md
Due: auto add label=Demo, auto add label=README

Update README.md
  README.md
Due: auto add label=README

fix the test_hub
  examples/aishell/asr0/local/test_wav.sh
  examples/aishell/asr0/run.sh
  examples/aishell/asr1/local/test_wav.sh
  examples/aishell/asr1/run.sh
  examples/librispeech/asr0/local/test_wav.sh
  examples/librispeech/asr0/run.sh
  examples/librispeech/asr1/local/test_wav.sh
  examples/librispeech/asr1/run.sh
  paddlespeech/s2t/exps/deepspeech2/bin/test_wav.py
Due: auto add label=S2T, auto add label=Example

test=asr
  examples/aishell/asr1/README.md
  examples/librispeech/asr1/README.md
Due: auto add label=Example, auto add label=README

[asr]rename test_hub to test_wav (#1132)
  examples/aishell/asr0/local/test_wav.sh
  examples/aishell/asr0/run.sh
  examples/aishell/asr1/README.md
  examples/aishell/asr1/local/test_wav.sh
  examples/aishell/asr1/run.sh
  examples/librispeech/asr0/local/test_wav.sh
  examples/librispeech/asr0/run.sh
  examples/librispeech/asr1/README.md
  examples/librispeech/asr1/local/test_wav.sh
  examples/librispeech/asr1/run.sh
  paddlespeech/s2t/exps/deepspeech2/bin/test_wav.py
Due: auto add label=S2T, auto add label=Example, auto add label=README

add README_cn for demos/text_to_speech, test=doc_fix
  demos/text_to_speech/README.md
  demos/text_to_speech/README_cn.md
Due: auto add label=Demo, auto add label=README

add README_cn for demos/text_to_speech, test=doc_fix
  demos/text_to_speech/README_cn.md
Due: auto add label=Demo

test=doc_fix
  examples/aishell/asr0/README.md
Due: auto add label=Example, auto add label=README

add some python files, test=tts
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/exps/synthesize_e2e.py
Due: auto add label=T2S

test=doc_fix
  examples/librispeech/asr0/README.md
Due: auto add label=Example, auto add label=README

test=doc_fix
  examples/tiny/asr0/README.md
Due: auto add label=Example, auto add label=README

test=doc_fix
  examples/tiny/asr1/README.md
Due: auto add label=Example, auto add label=README

test=doc_fix
  examples/tiny/asr1/run.sh
Due: auto add label=Example

fix the run.sh, test=doc_fix
  examples/librispeech/asr1/run.sh
Due: auto add label=Example

[doc] add README_cn for demos/text_to_speech (#1134)
  demos/text_to_speech/README.md
  demos/text_to_speech/README_cn.md
Due: auto add label=Demo, auto add label=README

[README]aishell_asr0 (#1135)
  examples/aishell/asr0/README.md
Due: auto add label=Example, auto add label=README

[READEME] librispeech asr0 (#1136)
  examples/librispeech/asr0/README.md
Due: auto add label=Example, auto add label=README

[README] tiny asr0 (#1137)
  examples/tiny/asr0/README.md
Due: auto add label=Example, auto add label=README

[READEME] tiny asr1 (#1138)
  examples/tiny/asr1/README.md
  examples/tiny/asr1/run.sh
Due: auto add label=Example, auto add label=README

fix the run.sh, test=doc_fix (#1139)
  examples/librispeech/asr1/run.sh
Due: auto add label=Example

test=asr
  examples/librispeech/asr2/run.sh
Due: auto add label=Example

test=doc_fix
  examples/librispeech/asr2/README.md
Due: auto add label=Example, auto add label=README

update tts_tutorial.ipynb, test=doc_fix
  docs/tutorial/tts/tts_tutorial.ipynb
Due: auto add label=Documentation
