Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=TextProcess, auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=TextProcess:
  label:
    add:
    - TextProcess

auto add label=Example:
  label:
    add:
    - Example

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

remove the py3.6
  setup.py
Due: auto add label=Installation

Update asr and audio tagging demo.
  demos/audio_tagging/README.md
  demos/speech_recognition/README.md
Due: auto add label=Demo, auto add label=README

Update asr and audio tagging demo.
  demos/asr_hub/README.md
  demos/asr_hub/hub_infer.py
  demos/asr_hub/run.sh
  demos/audio_tagging/README.md
  demos/audio_tagging/tag.py
  demos/echo_hub/.gitignore
  demos/echo_hub/README.md
  demos/echo_hub/hub_infer.py
  demos/echo_hub/run.sh
  demos/speech_recognition/README.md
  demos/speech_recognition/asr.py
  demos/tts_hub/README.md
  demos/tts_hub/hub_infer.py
  demos/tts_hub/run.sh
Due: auto add label=Demo, auto add label=README

Update asr and audio tagging demo.
  demos/audio_tagging/README.md
  demos/audio_tagging/tag.py
Due: auto add label=Demo, auto add label=README

Update asr and audio tagging demo.
  demos/audio_tagging/README.md
  demos/audio_tagging/tag.py
  demos/speech_recognition/README.md
  demos/speech_recognition/asr.py
Due: auto add label=Demo, auto add label=README

Update asr and audio tagging demo.
  demos/audio_tagging/README.md
Due: auto add label=Demo, auto add label=README

Add st demo.
  demos/audio_tagging/README.md
  demos/speech_recognition/README.md
  demos/speech_translation/README.md
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/st/infer.py
Due: auto add label=Demo, auto add label=README

add tts cli
  paddlespeech/cli/__init__.py
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/download.py
  paddlespeech/cli/tts/__init.__py
  paddlespeech/cli/tts/__init__.py
  paddlespeech/cli/tts/infer.py
  paddlespeech/cli/utils.py
  paddlespeech/s2t/exps/deepspeech2/bin/deploy/__init__.py
  paddlespeech/s2t/exps/lm/transformer/bin/__init__.py
  paddlespeech/s2t/exps/u2/bin/__init__.py
  paddlespeech/s2t/exps/u2_kaldi/bin/__init__.py
  paddlespeech/s2t/exps/u2_st/bin/__init__.py
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/t2s/exps/fastspeech2/multi_spk_synthesize_e2e_en.py
  paddlespeech/t2s/exps/fastspeech2/synthesize_e2e_en.py
  paddlespeech/t2s/frontend/phonectic.py
Due: auto add label=S2T, auto add label=T2S

add tts cli
  dataset/aidatatang_200zh/aidatatang_200zh.py
  dataset/aishell/aishell.py
  dataset/librispeech/librispeech.py
  dataset/mini_librispeech/mini_librispeech.py
  dataset/musan/musan.py
  dataset/rir_noise/rir_noise.py
  dataset/thchs30/thchs30.py
  dataset/timit/timit.py
  dataset/voxforge/voxforge.py
  paddlespeech/cli/__init__.py
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/download.py
  paddlespeech/cli/tts/__init.__py
  paddlespeech/cli/tts/__init__.py
  paddlespeech/cli/tts/infer.py
  paddlespeech/cli/utils.py
  paddlespeech/cls/exps/panns/deploy/predict.py
  paddlespeech/cls/exps/panns/export_model.py
  paddlespeech/cls/exps/panns/predict.py
  paddlespeech/cls/exps/panns/train.py
  paddlespeech/cls/models/panns/panns.py
  paddlespeech/s2t/exps/deepspeech2/bin/deploy/__init__.py
  paddlespeech/s2t/exps/lm/transformer/bin/__init__.py
  paddlespeech/s2t/exps/u2/bin/__init__.py
  paddlespeech/s2t/exps/u2_kaldi/bin/__init__.py
  paddlespeech/s2t/exps/u2_st/bin/__init__.py
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/t2s/exps/fastspeech2/multi_spk_synthesize_e2e_en.py
  paddlespeech/t2s/exps/fastspeech2/synthesize_e2e_en.py
  paddlespeech/t2s/frontend/phonectic.py
  utils/manifest_key_value.py
Due: auto add label=S2T, auto add label=T2S

Update README.md
  demos/README.md
Due: auto add label=Demo, auto add label=README

Update README.md
  demos/metaverse/README.md
Due: auto add label=Demo, auto add label=README

Update README.md
  demos/style_fs2/README.md
Due: auto add label=Demo, auto add label=README

refactor: rm kaldi_io
  paddlespeech/cli/st/infer.py
  setup.py
Due: auto add label=Installation

format
  paddlespeech/cli/st/infer.py
Due: none

Update README.md
  README.md
Due: auto add label=README

update add_style_melgan
  paddlespeech/t2s/models/melgan/melgan.py
  paddlespeech/t2s/models/parallel_wavegan/parallel_wavegan_updater.py
  paddlespeech/t2s/modules/residual_stack.py
Due: auto add label=T2S

Add tts demo.
  demos/text_to_speech/README.md
  paddlespeech/cli/tts/infer.py
  paddlespeech/cli/utils.py
Due: auto add label=Demo, auto add label=README

Update download logic and fix README typos.
  demos/audio_tagging/README.md
  demos/speech_recognition/README.md
  demos/speech_translation/README.md
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/download.py
  paddlespeech/cli/log.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/tts/infer.py
  paddlespeech/cli/utils.py
Due: auto add label=Demo, auto add label=README

Add run.sh.
  demos/audio_tagging/run.sh
  demos/speech_recognition/run.sh
  demos/speech_translation/run.sh
  demos/text_to_speech/run.sh
Due: auto add label=Demo

Update released_model.md
  docs/source/released_model.md
Due: auto add label=Documentation

add hifigan
  docs/source/install.md
  examples/aishell3/voc1/README.md
  examples/aishell3/voc1/conf/default.yaml
  examples/aishell3/voc1/local/synthesize.sh
  examples/csmsc/README.md
  examples/csmsc/voc1/README.md
  examples/csmsc/voc1/conf/default.yaml
  examples/csmsc/voc1/local/synthesize.sh
  examples/csmsc/voc3/conf/default.yaml
  examples/csmsc/voc3/conf/finetune.yaml
  examples/csmsc/voc5/README.md
  examples/csmsc/voc5/conf/default.yaml
  examples/csmsc/voc5/conf/finetune.yaml
  examples/csmsc/voc5/finetune.sh
  examples/csmsc/voc5/local/link_wav.py
  examples/csmsc/voc5/local/preprocess.sh
  examples/csmsc/voc5/local/synthesize.sh
  examples/csmsc/voc5/local/train.sh
  examples/csmsc/voc5/path.sh
  examples/csmsc/voc5/run.sh
  examples/librispeech/asr1/RESULTS.md
  examples/ljspeech/voc1/conf/default.yaml
  examples/vctk/voc1/conf/default.yaml
  paddlespeech/t2s/exps/gan_vocoder/hifigan/__init__.py
  paddlespeech/t2s/exps/gan_vocoder/hifigan/train.py
  paddlespeech/t2s/models/hifigan/__init__.py
  paddlespeech/t2s/models/hifigan/hifigan.py
  paddlespeech/t2s/models/hifigan/hifigan_updater.py
  paddlespeech/t2s/models/melgan/melgan.py
  paddlespeech/t2s/models/parallel_wavegan/parallel_wavegan.py
  paddlespeech/t2s/models/parallel_wavegan/parallel_wavegan_updater.py
  paddlespeech/t2s/modules/activation.py
  paddlespeech/t2s/modules/losses.py
  paddlespeech/t2s/modules/residual_block.py
  paddlespeech/t2s/modules/residual_stack.py
  paddlespeech/t2s/modules/upsample.py
  utils/build_vocab.py
Due: auto add label=T2S, auto add label=Example, auto add label=README, auto add label=Documentation

Update README.md
  paddlespeech/cli/README.md
Due: auto add label=README

Update README.md
  demos/text_to_speech/README.md
Due: auto add label=Demo, auto add label=README

Path conditions:
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^audio/
  auto add label=TextProcess: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^docs/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
