Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=enhancement:
  label:
    add:
    - enhancement

auto add label=Example:
  label:
    add:
    - Example

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

transform; librispeech/s2 data process ok
  deepspeech/transform/add_deltas.py
  deepspeech/transform/channel_selector.py
  deepspeech/transform/functional.py
  deepspeech/transform/perturb.py
  deepspeech/transform/spec_augment.py
  deepspeech/transform/spectrogram.py
  deepspeech/transform/transform_interface.py
  deepspeech/transform/transformation.py
  deepspeech/transform/wpe.py
  deepspeech/utils/check_kwargs.py
  deepspeech/utils/spec_augment.py
  examples/librispeech/s2/conf/chunk_conformer.yaml
  examples/librispeech/s2/conf/chunk_transformer.yaml
  examples/librispeech/s2/conf/conformer.yaml
  examples/librispeech/s2/conf/transformer.yaml
  examples/librispeech/s2/local/data.sh
  examples/librispeech/s2/local/recog.sh
  examples/librispeech/s2/local/test.sh
  requirements.txt
  setup.py
  setup.sh
  tools/Makefile
  utils/avg_model.py
  utils/feat-to-shape.py
Due: auto add label=enhancement, auto add label=Example, auto add label=Installation

update gitignore
  examples/librispeech/s2/.gitignore
Due: auto add label=Example

refactor the code
  deepspeech/decoders/recog.py
  examples/librispeech/s2/local/recog.sh
Due: auto add label=enhancement, auto add label=Example

update gitignore
  .gitignore
Due: none

refactor the code
  deepspeech/decoders/recog.py
  deepspeech/models/ds2_online/deepspeech2.py
  deepspeech/utils/check_kwargs.py
  deepspeech/utils/spec_augment.py
  examples/aishell/s0/conf/deepspeech2_online.yaml
  examples/aishell/s0/local/data.sh
  examples/librispeech/s2/README.md
  examples/librispeech/s2/local/recog.sh
  examples/librispeech/s2/run.sh
  utils/feat-to-shape.py
Due: auto add label=enhancement, auto add label=Example, auto add label=README

fix benchmark and chain, add parse_options in run.sh, move tacotron2_ge2e into voice_cloning
  examples/aishell3/tts3/run.sh
  examples/aishell3/vc0/local/preprocess.sh
  examples/aishell3/vc0/path.sh
  examples/aishell3/vc0/run.sh
  examples/csmsc/tts2/run.sh
  examples/csmsc/tts3/run.sh
  examples/csmsc/voc1/run.sh
  examples/ljspeech/tts0/run.sh
  examples/ljspeech/tts1/run.sh
  examples/ljspeech/tts3/run.sh
  examples/ljspeech/voc0/run.sh
  examples/ljspeech/voc1/run.sh
  examples/other/ge2e/run.sh
  examples/vctk/tts3/run.sh
  examples/vctk/voc1/run.sh
  parakeet/exps/voice_cloning/__init__.py
  parakeet/exps/voice_cloning/tacotron2_ge2e/__init__.py
  parakeet/exps/voice_cloning/tacotron2_ge2e/aishell3.py
  parakeet/exps/voice_cloning/tacotron2_ge2e/chinese_g2p.py
  parakeet/exps/voice_cloning/tacotron2_ge2e/config.py
  parakeet/exps/voice_cloning/tacotron2_ge2e/extract_mel.py
  parakeet/exps/voice_cloning/tacotron2_ge2e/lexicon.txt
  parakeet/exps/voice_cloning/tacotron2_ge2e/preprocess_transcription.py
  parakeet/exps/voice_cloning/tacotron2_ge2e/process_wav.py
  parakeet/exps/voice_cloning/tacotron2_ge2e/train.py
  parakeet/exps/voice_cloning/tacotron2_ge2e/voice_cloning.py
  tests/benchmark/pwgan/README.md
  tests/benchmark/pwgan/run_all.sh
  tests/benchmark/pwgan/run_benchmark.sh
  tests/chains/speedyspeech/lite_train_infer.sh
  tests/chains/speedyspeech/prepare.sh
  tests/chains/speedyspeech/speedyspeech_params_lite_multi_gpu.txt
  tests/chains/speedyspeech/speedyspeech_params_lite_single_gpu.txt
  tests/chains/speedyspeech/speedyspeech_params_whole_multi_gpu.txt
  tests/chains/speedyspeech/speedyspeech_params_whole_single_gpu.txt
  tests/chains/speedyspeech/test.sh
  tests/chains/speedyspeech/whole_train_infer.sh
Due: auto add label=Example, auto add label=README

add lm conf and load
  deepspeech/decoders/recog.py
  deepspeech/models/lm/transformer.py
  examples/librispeech/s2/conf/lm/transformer.yaml
  examples/librispeech/s2/local/recog.sh
  examples/librispeech/s2/run.sh
Due: auto add label=enhancement, auto add label=Example

exp with eval mode
  deepspeech/exps/deepspeech2/model.py
  deepspeech/exps/u2/model.py
  deepspeech/exps/u2_kaldi/model.py
  deepspeech/exps/u2_st/model.py
  deepspeech/training/trainer.py
Due: auto add label=enhancement

format code
  deepspeech/decoders/recog.py
  deepspeech/decoders/recog_bin.py
  deepspeech/models/lm/transformer.py
  deepspeech/transform/add_deltas.py
  deepspeech/transform/channel_selector.py
  deepspeech/transform/functional.py
  deepspeech/transform/perturb.py
  deepspeech/transform/spec_augment.py
  deepspeech/transform/spectrogram.py
  deepspeech/transform/transform_interface.py
  deepspeech/transform/transformation.py
  deepspeech/transform/wpe.py
  deepspeech/utils/check_kwargs.py
  deepspeech/utils/spec_augment.py
  examples/librispeech/s2/README.md
  parakeet/data/batch.py
  parakeet/exps/tacotron2/ljspeech.py
  requirements.txt
  utils/feat-to-shape.py
Due: auto add label=enhancement, auto add label=Example, auto add label=README

fix link in readme
  examples/aishell3/tts3/README.md
  examples/aishell3/vc0/README.md
  examples/csmsc/tts2/README.md
  examples/csmsc/tts3/README.md
  examples/csmsc/voc1/README.md
  examples/ljspeech/tts0/README.md
  examples/ljspeech/tts1/README.md
  examples/ljspeech/tts3/README.md
  examples/ljspeech/voc1/README.md
  examples/other/ge2e/README.md
  examples/vctk/tts3/README.md
  examples/vctk/voc1/README.md
Due: auto add label=Example, auto add label=README

add csmsc mb melgan example
  examples/csmsc/voc3/README.md
  examples/csmsc/voc3/conf/default.yaml
  examples/csmsc/voc3/local/preprocess.sh
  examples/csmsc/voc3/local/synthesize.sh
  examples/csmsc/voc3/local/train.sh
  examples/csmsc/voc3/path.sh
  examples/csmsc/voc3/run.sh
  parakeet/datasets/vocoder_batch_fn.py
  parakeet/exps/gan_vocoder/multi_band_melgan/__init__.py
  parakeet/exps/gan_vocoder/multi_band_melgan/synthesize.py
  parakeet/exps/gan_vocoder/multi_band_melgan/train.py
  parakeet/models/melgan/__init__.py
  parakeet/models/melgan/melgan.py
  parakeet/models/melgan/melgan_updater.py
  parakeet/models/melgan/multi_band_melgan_updater.py
  parakeet/models/parallel_wavegan/parallel_wavegan.py
  parakeet/modules/adversarial_loss.py
  parakeet/modules/causal_conv.py
  parakeet/modules/pqmf.py
  parakeet/modules/residual_stack.py
Due: auto add label=Example, auto add label=README

fix egs of transformer lm usage
  deepspeech/decoders/recog.py
  examples/librispeech/s2/local/recog.sh
  examples/librispeech/s2/run.sh
Due: auto add label=enhancement, auto add label=Example

Update README.md
  README.md
Due: auto add label=README

add more join ctc decode conf
  examples/librispeech/s2/conf/decode/decode_att.yaml
  examples/librispeech/s2/conf/decode/decode_ctc.yaml
Due: auto add label=Example

fix install
  requirements.txt
Due: none

fix fastspeech2 to static
  parakeet/models/fastspeech2/fastspeech2.py
  parakeet/modules/fastspeech2_predictor/length_regulator.py
  parakeet/modules/fastspeech2_transformer/attention.py
  parakeet/modules/fastspeech2_transformer/embedding.py
  parakeet/modules/fastspeech2_transformer/encoder.py
  parakeet/modules/fastspeech2_transformer/encoder_layer.py
  parakeet/modules/layer_norm.py
  parakeet/modules/masked_fill.py
  parakeet/modules/nets_utils.py
Due: none

fix the doc
  docs/source/asr/released_model.md
  examples/tiny/s0/README.md
Due: auto add label=Example, auto add label=README

[README(TTS+ASR)] Update the README according to compliant templates and specifications. (#940)
  README.md
  docs/images/PaddleSpeech_log.png
  docs/source/tts/install.md
Due: auto add label=README

Path conditions:
  auto add label=enhancement: any of: ^deepspeech/
  auto add label=Example: any of: ^examples/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
