Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

update the paddlespeech_client asr_online cli, test=doc
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  examples/voxceleb/sv0/README.md
  examples/voxceleb/sv0/local/test.sh
  paddlespeech/server/bin/paddlespeech_client.py
Due: auto add label=Example, auto add label=Server, auto add label=Demo, auto add label=README

fix speechx core dump when stop immediately after start
  paddlespeech/cli/cls/infer.py
  paddlespeech/s2t/__init__.py
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/utils/audio_handler.py
  speechx/speechx/decoder/ctc_tlg_decoder.cc
  speechx/speechx/websocket/websocket_server.cc
Due: auto add label=S2T, auto add label=CLI, auto add label=Server, auto add label=Deployment

update the streaming asr readme, test=doc
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  paddlespeech/server/bin/paddlespeech_client.py
Due: auto add label=Server, auto add label=Demo, auto add label=README

fix the cn readme.md bug, text=doc
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
Due: auto add label=Demo, auto add label=README

add the note for offline asr, test=doc
  demos/streaming_asr_server/README_cn.md
  paddlespeech/server/bin/paddlespeech_client.py
Due: auto add label=Server, auto add label=Demo

test=doc
  demos/speech_recognition/README_cn.md
Due: auto add label=Demo

test=doc
  demos/speech_recognition/README.md
Due: auto add label=Demo, auto add label=README

fix reademe
  README.md
  README_cn.md
Due: auto add label=README

[doc] update readme
  README.md
Due: auto add label=README

fix the reorganize_aishell3 trouble now it can generate lab files of audio files under training classification
  examples/other/mfa/local/reorganize_aishell3.py
Due: auto add label=Example

add fbank & add timer in example main
  speechx/examples/ds2_ol/decoder/ctc-prefix-beam-search-decoder-ol.cc
  speechx/examples/ds2_ol/decoder/recognizer_test_main.cc
  speechx/examples/ds2_ol/decoder/wfst-decoder-ol.cc
  speechx/examples/ds2_ol/feat/CMakeLists.txt
  speechx/examples/ds2_ol/feat/compute_fbank_main.cc
  speechx/speechx/frontend/audio/CMakeLists.txt
  speechx/speechx/frontend/audio/fbank.cc
  speechx/speechx/frontend/audio/fbank.h
  speechx/speechx/kaldi/feat/CMakeLists.txt
  speechx/speechx/kaldi/feat/feature-fbank.cc
  speechx/speechx/kaldi/feat/mel-computations.cc
Due: auto add label=Deployment

fix random speaker embedding bug, test=tts
  paddlespeech/t2s/exps/voice_cloning.py
Due: auto add label=T2S

fix code, test=doc
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/speech_server/conf/application.yaml
  demos/streaming_tts_server/README.md
  demos/streaming_tts_server/README_cn.md
  paddlespeech/server/README.md
  paddlespeech/server/README_cn.md
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/engine/asr/online/pretrained_models.py
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/paddleinference/pretrained_models.py
  paddlespeech/server/engine/cls/paddleinference/cls_engine.py
  paddlespeech/server/engine/cls/paddleinference/pretrained_models.py
  paddlespeech/server/engine/tts/online/onnx/pretrained_models.py
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
  paddlespeech/server/engine/tts/online/python/pretrained_models.py
  paddlespeech/server/engine/tts/online/python/tts_engine.py
  paddlespeech/server/engine/tts/paddleinference/pretrained_models.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/tts_engine.py
  paddlespeech/server/restful/tts_api.py
  paddlespeech/server/tests/tts/online/http_client.py
  paddlespeech/server/tests/tts/online/ws_client.py
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/server/utils/util.py
  paddlespeech/server/ws/tts_socket.py
  tests/unit/server/offline/conf/application.yaml
  tests/unit/server/offline/test_server_client.sh
  tests/unit/server/online/tts/check_server/http_client.py
  tests/unit/server/online/tts/check_server/ws_client.py
  tests/unit/server/online/tts/test_server/test_http_client.py
Due: auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Test

improve server code, test=doc
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/speech_server/conf/application.yaml
  demos/streaming_tts_server/README.md
  demos/streaming_tts_server/README_cn.md
  paddlespeech/server/README.md
  paddlespeech/server/README_cn.md
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/engine/asr/online/pretrained_models.py
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/paddleinference/pretrained_models.py
  paddlespeech/server/engine/cls/paddleinference/cls_engine.py
  paddlespeech/server/engine/cls/paddleinference/pretrained_models.py
  paddlespeech/server/engine/tts/online/onnx/pretrained_models.py
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
  paddlespeech/server/engine/tts/online/python/pretrained_models.py
  paddlespeech/server/engine/tts/online/python/tts_engine.py
  paddlespeech/server/engine/tts/paddleinference/pretrained_models.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/tts_engine.py
  paddlespeech/server/restful/tts_api.py
  paddlespeech/server/tests/tts/online/http_client.py
  paddlespeech/server/tests/tts/online/ws_client.py
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/server/utils/util.py
  paddlespeech/server/ws/tts_socket.py
  tests/unit/server/offline/conf/application.yaml
  tests/unit/server/offline/test_server_client.sh
  tests/unit/server/online/tts/check_server/http_client.py
  tests/unit/server/online/tts/check_server/ws_client.py
  tests/unit/server/online/tts/test_server/test_http_client.py
Due: auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Test

update code, test=doc
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/utils/audio_handler.py
  tests/unit/server/offline/conf/application.yaml
Due: auto add label=Server, auto add label=Test

add vector server, test=doc
  demos/speaker_verification/README.md
  demos/speaker_verification/README_cn.md
  demos/streaming_asr_server/websocket_client.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/server/README_cn.md
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/conf/vector_application.yaml
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/engine/engine_factory.py
  paddlespeech/server/engine/vector/__init__.py
  paddlespeech/server/engine/vector/python/__init__.py
  paddlespeech/server/engine/vector/python/vector_engine.py
  paddlespeech/server/restful/api.py
  paddlespeech/server/restful/request.py
  paddlespeech/server/restful/response.py
  paddlespeech/server/restful/vector_api.py
  paddlespeech/server/utils/audio_handler.py
Due: auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README

update the vector server note, test=doc
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/restful/request.py
  paddlespeech/server/restful/response.py
Due: auto add label=Server

join streaming asr and punc server, test=doc
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  demos/streaming_asr_server/conf/punc_application.yaml
  demos/streaming_asr_server/conf/ws_conformer_application.yaml
  demos/streaming_asr_server/punc_server.py
  demos/streaming_asr_server/server.sh
  demos/streaming_asr_server/streaming_asr_server.py
  demos/streaming_asr_server/test.sh
  paddlespeech/server/bin/paddlespeech_client.py
Due: auto add label=Server, auto add label=Demo, auto add label=README

add fbank into feature pipeline
  speechx/examples/ds2_ol/feat/compute_fbank_main.cc
  speechx/speechx/decoder/param.h
  speechx/speechx/frontend/audio/CMakeLists.txt
  speechx/speechx/frontend/audio/fbank.cc
  speechx/speechx/frontend/audio/fbank.h
  speechx/speechx/frontend/audio/feature_pipeline.cc
  speechx/speechx/frontend/audio/feature_pipeline.h
  speechx/speechx/kaldi/feat/feature-fbank.cc
  speechx/speechx/kaldi/feat/feature-fbank.h
Due: auto add label=Deployment

streaming asr server add time stamp, test=doc
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/engine/asr/online/ctc_search.py
  paddlespeech/server/ws/asr_socket.py
Due: auto add label=Server

fix cmake list
  speechx/examples/ds2_ol/feat/CMakeLists.txt
Due: auto add label=Deployment

checkout feature-fbank.cc
  speechx/speechx/kaldi/feat/feature-fbank.cc
Due: auto add label=Deployment

checkout2 feature-fbank.cc
  speechx/speechx/kaldi/feat/feature-fbank.cc
Due: auto add label=Deployment

update reference repo
  docs/source/reference.md
Due: auto add label=Documentation

add copyright
  speechx/patch/README.md
  speechx/speechx/websocket/websocket_client.cc
  speechx/speechx/websocket/websocket_client.h
  speechx/speechx/websocket/websocket_server.cc
  speechx/speechx/websocket/websocket_server.h
Due: auto add label=README, auto add label=Deployment

Update README.md
  speechx/examples/README.md
Due: auto add label=README, auto add label=Deployment

Update README.md
  speechx/examples/ds2_ol/README.md
Due: auto add label=README, auto add label=Deployment

Update README.md
  speechx/examples/ds2_ol/aishell/README.md
Due: auto add label=README, auto add label=Deployment

update the vector cli for server, test=doc
  demos/streaming_asr_server/websocket_client.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/engine/vector/python/vector_engine.py
  paddlespeech/server/restful/request.py
Due: auto add label=CLI, auto add label=Server, auto add label=Demo
