Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=TextProcess, auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^audio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=TextProcess"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["TextProcess"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^docs/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechnn/
    actions:
      label:
        add: ["Deployment"]

refacto the code
  paddleaudio/__init__.py
  paddlespeech/__init__.py
  setup.py
  setup_audio.py
Due: auto add label=Installation

add typehit for updater and evaluator, test=tts
  paddlespeech/t2s/models/fastspeech2/fastspeech2_updater.py
  paddlespeech/t2s/models/new_tacotron2/tacotron2_updater.py
  paddlespeech/t2s/models/speedyspeech/speedyspeech_updater.py
  paddlespeech/t2s/models/transformer_tts/transformer_tts_updater.py
Due: auto add label=T2S

fix yamls, change labels to stop_labels, test=tts
  examples/aishell3/tts3/conf/default.yaml
  examples/aishell3/vc1/conf/default.yaml
  examples/csmsc/tts0/conf/default.yaml
  examples/csmsc/tts3/conf/conformer.yaml
  examples/csmsc/tts3/conf/default.yaml
  examples/ljspeech/tts3/conf/default.yaml
  examples/vctk/tts3/conf/default.yaml
  paddlespeech/t2s/exps/new_tacotron2/preprocess.py
  paddlespeech/t2s/models/new_tacotron2/tacotron2.py
  paddlespeech/t2s/models/new_tacotron2/tacotron2_updater.py
  paddlespeech/t2s/models/transformer_tts/transformer_tts.py
  paddlespeech/t2s/models/transformer_tts/transformer_tts_updater.py
  paddlespeech/t2s/modules/losses.py
  paddlespeech/t2s/modules/tacotron2/attentions.py
Due: auto add label=T2S, auto add label=Example

Update README.md
  README.md
Due: auto add label=README

Update README_cn.md
  README_cn.md
Due: none

add remove_version_py
  setup.py
  setup_audio.py
Due: auto add label=Installation

add tts datasets doc, test=doc
  docs/source/tts/tts_datasets.md
Due: auto add label=Documentation

fix the destructer problem for prefixes
  paddlespeech/s2t/decoders/ctcdecoder/swig_wrapper.py
  paddlespeech/s2t/exps/deepspeech2/model.py
  paddlespeech/s2t/models/ds2_online/deepspeech2.py
  paddlespeech/s2t/modules/ctc.py
  third_party/ctc_decoders/ctc_beam_search_decoder.cpp
  third_party/ctc_decoders/ctc_beam_search_decoder.h
  third_party/ctc_decoders/path_trie.cpp
  third_party/ctc_decoders/scorer.cpp
  third_party/ctc_decoders/scorer.h
Due: auto add label=S2T

Update chunk_decode.yaml
  examples/aishell/asr0/conf/tuning/chunk_decode.yaml
Due: auto add label=Example

add esc50 reference
  examples/esc50/README.md
Due: auto add label=Example, auto add label=README

fix g2p, test=doc
  examples/other/g2p/run.sh
Due: auto add label=Example

Update run.sh
  examples/other/g2p/run.sh
Due: auto add label=Example

unified offline and online in ctcdecoders, test=asr
  examples/other/1xt2x/src_deepspeech2x/models/ds2/deepspeech2.py
  paddlespeech/s2t/decoders/ctcdecoder/swig_wrapper.py
  paddlespeech/s2t/exps/deepspeech2/model.py
  paddlespeech/s2t/models/ds2/deepspeech2.py
  paddlespeech/s2t/models/ds2_online/deepspeech2.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/models/u2_st/u2_st.py
  paddlespeech/s2t/modules/ctc.py
  third_party/ctc_decoders/ctc_beam_search_decoder.h
Due: auto add label=S2T, auto add label=Example

rename swig_decoders to paddlespeech_ctcdecoders, test=asr
  paddlespeech/s2t/decoders/ctcdecoder/swig_wrapper.py
  paddlespeech/s2t/models/ds2/__init__.py
  paddlespeech/s2t/models/ds2_online/__init__.py
  third_party/ctc_decoders/decoders.i
  third_party/ctc_decoders/setup.py
Due: auto add label=S2T

[vector] add AMI data preparation scripts
  dataset/ami/README.md
  examples/ami/README.md
  examples/ami/diarization/.gitignore
  examples/ami/diarization/local/ami_prepare.py
  examples/ami/diarization/local/ami_splits.py
  examples/ami/diarization/local/data.sh
  examples/ami/diarization/local/dataio.py
  examples/ami/diarization/path.sh
  examples/ami/diarization/run.sh
  examples/ami/diarization/utils
  utils/DER.py
  utils/md-eval.pl
Due: auto add label=Example, auto add label=README

fix #44
  speechserving/paddleinference/tts/engine.py
  speechserving/paddleinference/tts/request.py
  speechserving/paddleinference/tts/server.py
  speechserving/paddleinference/tts/server.yaml
  speechserving/paddleinference/tts/ttsserverexecutor.py
Due: none

Add speedyspeech multi-speaker support for synthesize_e2e.py, test=tts
  paddlespeech/t2s/exps/synthesize_e2e.py
Due: auto add label=T2S

fix missing model choice, test=doc
  paddlespeech/t2s/exps/synthesize_e2e.py
Due: auto add label=T2S

add reset_stage for ctcdecoder
  examples/other/1xt2x/src_deepspeech2x/models/ds2/deepspeech2.py
  examples/other/1xt2x/src_deepspeech2x/test_model.py
  paddlespeech/s2t/decoders/ctcdecoder/swig_wrapper.py
  paddlespeech/s2t/exps/deepspeech2/model.py
  paddlespeech/s2t/models/ds2/deepspeech2.py
  paddlespeech/s2t/models/ds2_online/deepspeech2.py
  paddlespeech/s2t/modules/ctc.py
  third_party/ctc_decoders/ctc_beam_search_decoder.cpp
  third_party/ctc_decoders/ctc_beam_search_decoder.h
  third_party/ctc_decoders/ctc_greedy_decoder.cpp
  third_party/ctc_decoders/ctc_greedy_decoder.h
Due: auto add label=S2T, auto add label=Example

servert dir arch
  speechserving/setup.py
  speechserving/speechserving/__init__.py
  speechserving/speechserving/bin/main.py
  speechserving/speechserving/bin/paddlespeech-client.py
  speechserving/speechserving/bin/paddlespeech-server.py
  speechserving/speechserving/conf/application.yaml
  speechserving/speechserving/conf/asr/asr.yaml
  speechserving/speechserving/controller/api.py
  speechserving/speechserving/engine/__init__.py
  speechserving/speechserving/engine/asr/python/asr_engine.py
  speechserving/speechserving/engine/base_engine.py
  speechserving/speechserving/main.py
  speechserving/speechserving/restful/__init__.py
  speechserving/speechserving/restful/api.py
  speechserving/speechserving/restful/request.py
  speechserving/speechserving/restful/response.py
Due: none

fix some problems
  paddlespeech/s2t/decoders/ctcdecoder/__init__.py
  paddlespeech/s2t/decoders/ctcdecoder/swig_wrapper.py
  paddlespeech/s2t/modules/ctc.py
Due: auto add label=S2T

fix ctconline
  paddlespeech/s2t/exps/deepspeech2/model.py
  paddlespeech/s2t/models/ds2/deepspeech2.py
  paddlespeech/s2t/models/ds2_online/deepspeech2.py
  paddlespeech/s2t/modules/ctc.py
  third_party/ctc_decoders/ctc_beam_search_decoder.cpp
  third_party/ctc_decoders/ctc_beam_search_decoder.h
Due: auto add label=S2T

fix a bug
  paddlespeech/s2t/exps/deepspeech2/model.py
Due: auto add label=S2T

fix the format
  third_party/ctc_decoders/ctc_beam_search_decoder.cpp
  third_party/ctc_decoders/ctc_beam_search_decoder.h
  third_party/ctc_decoders/path_trie.cpp
Due: none

Update models_introduction.md
  docs/source/asr/models_introduction.md
Due: auto add label=Documentation

[vector] add AMI data preparation scripts
  examples/ami/README.md
  examples/ami/sd0/.gitignore
  examples/ami/sd0/README.md
  examples/ami/sd0/local/ami_prepare.py
  examples/ami/sd0/local/ami_splits.py
  examples/ami/sd0/local/data.sh
  examples/ami/sd0/local/dataio.py
  examples/ami/sd0/path.sh
  examples/ami/sd0/run.sh
  examples/ami/sd0/utils
Due: auto add label=Example, auto add label=README

fix 1xt2x
  examples/other/1xt2x/src_deepspeech2x/models/ds2/deepspeech2.py
  examples/other/1xt2x/src_deepspeech2x/test_model.py
Due: auto add label=Example

Update u2.py
  paddlespeech/s2t/models/u2/u2.py
Due: auto add label=S2T

[ASR] Support CTC decoder online (#821)
  examples/other/1xt2x/src_deepspeech2x/models/ds2/deepspeech2.py
  examples/other/1xt2x/src_deepspeech2x/test_model.py
  paddlespeech/s2t/decoders/ctcdecoder/__init__.py
  paddlespeech/s2t/decoders/ctcdecoder/swig_wrapper.py
  paddlespeech/s2t/exps/deepspeech2/model.py
  paddlespeech/s2t/models/ds2/__init__.py
  paddlespeech/s2t/models/ds2/deepspeech2.py
  paddlespeech/s2t/models/ds2_online/__init__.py
  paddlespeech/s2t/models/ds2_online/deepspeech2.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/models/u2_st/u2_st.py
  paddlespeech/s2t/modules/ctc.py
  third_party/ctc_decoders/ctc_beam_search_decoder.cpp
  third_party/ctc_decoders/ctc_beam_search_decoder.h
  third_party/ctc_decoders/ctc_greedy_decoder.cpp
  third_party/ctc_decoders/ctc_greedy_decoder.h
  third_party/ctc_decoders/decoders.i
  third_party/ctc_decoders/path_trie.cpp
  third_party/ctc_decoders/scorer.cpp
  third_party/ctc_decoders/scorer.h
  third_party/ctc_decoders/setup.py
Due: auto add label=S2T, auto add label=Example

add wavernn, test=tts
  examples/csmsc/voc6/conf/default.yaml
  examples/csmsc/voc6/local/preprocess.sh
  examples/csmsc/voc6/local/synthesize.sh
  examples/csmsc/voc6/local/train.sh
  examples/csmsc/voc6/path.sh
  examples/csmsc/voc6/run.sh
  paddlespeech/t2s/datasets/__init__.py
  paddlespeech/t2s/datasets/csmsc.py
  paddlespeech/t2s/datasets/vocoder_batch_fn.py
  paddlespeech/t2s/exps/wavernn/__init__.py
  paddlespeech/t2s/exps/wavernn/preprocess.py
  paddlespeech/t2s/exps/wavernn/synthesize.py
  paddlespeech/t2s/exps/wavernn/train.py
  paddlespeech/t2s/models/wavernn/__init__.py
  paddlespeech/t2s/models/wavernn/wavernn.py
  paddlespeech/t2s/models/wavernn/wavernn_updater.py
  paddlespeech/t2s/modules/losses.py
Due: auto add label=T2S, auto add label=Example

add glog gflags gtest openfst&base_types, test=doc
  speechx/CMakeLists.txt
  speechx/speechx/base/basic_types.h
  speechx/speechx/base/macros.h
  speechx/speechx/kaldi/base/kaldi-types.h
Due: none

[vector] add AMI data preparation scripts
  examples/ami/sd0/local/data.sh
Due: auto add label=Example

Update tutorial_transformer.ipynb
  docs/tutorial/asr/tutorial_transformer.ipynb
Due: auto add label=Documentation

Update tutorial_deepspeech2.ipynb
  docs/tutorial/asr/tutorial_deepspeech2.ipynb
Due: auto add label=Documentation
