Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

num8
  examples/csmsc/tts2/README.md
Due: auto add label=Example, auto add label=README

num7
  examples/csmsc/tts0/README.md
Due: auto add label=Example, auto add label=README

num5
  examples/csmsc/tts0/run.sh
Due: auto add label=Example

num5
  examples/csmsc/tts0/README.md
Due: auto add label=Example, auto add label=README

Revert "num5"
  examples/csmsc/tts0/README.md
Due: auto add label=Example, auto add label=README

Fix
  paddlespeech/audio/utils/tensor_utils.py
  paddlespeech/s2t/utils/tensor_utils.py
  runtime/examples/text_lm/local/mmseg.py
  tests/unit/server/offline/test_server_client.sh
  tests/unit/server/online/tts/check_server/test.sh
  tools/extras/install_liblbfgs.sh
  tools/extras/install_srilm.sh
  utils/fst/ctc_token_fst.py
  utils/fst/make_tlg.sh
  utils/generate_infer_yaml.py
  utils/train_arpa_with_kenlm.sh
  utils/zh_tn.py
Due: auto add label=S2T, auto add label=Installation, auto add label=Test

Fix
  demos/TTSCppFrontend/src/front/front_interface.cpp
Due: auto add label=Demo

Fix
  audio/paddleaudio/compliance/kaldi.py
  audio/paddleaudio/compliance/librosa.py
  examples/aishell/asr3/cmd.sh
  examples/librispeech/asr1/cmd.sh
  examples/librispeech/asr2/cmd.sh
  examples/librispeech/asr3/cmd.sh
  examples/librispeech/asr4/cmd.sh
  examples/librispeech/asr5/cmd.sh
  examples/mustc/st1/cmd.sh
  examples/other/ngram_lm/s0/local/kenlm_score_test.py
  examples/ted_en_zh/st1/cmd.sh
  paddlespeech/dataset/aidatatang_200zh/aidatatang_200zh.py
  paddlespeech/dataset/aishell/aishell.py
  paddlespeech/s2t/utils/error_rate.py
  paddlespeech/t2s/frontend/zh_frontend.py
  paddlespeech/t2s/utils/error_rate.py
  runtime/engine/asr/decoder/ctc_prefix_beam_search_decoder.cc
  runtime/engine/common/frontend/cmvn.cc
  runtime/engine/common/frontend/cmvn.h
  runtime/engine/common/frontend/db_norm.h
  runtime/engine/common/matrix/kaldi-matrix.cc
  runtime/engine/common/matrix/kaldi-vector.cc
  runtime/engine/common/utils/file_utils.cc
  runtime/engine/kaldi/lat/kaldi-lattice.cc
  runtime/examples/README.md
  runtime/examples/audio_classification/README.md
  runtime/examples/text_lm/local/mmseg.py
  runtime/patch/openfst/src/include/fst/flags.h
  tests/test_tipc/conformer/scripts/aishell_tiny.py
  tests/unit/cli/aishell_test_prepare.py
  tests/unit/tts/test_snapshot.py
  tools/extras/install_liblbfgs.sh
  utils/format_triplet_data.py
  utils/tokenizer.perl
Due: auto add label=S2T, auto add label=T2S, auto add label=Example, auto add label=README, auto add label=Installation, auto add label=Test

Fix
  runtime/examples/text_lm/local/mmseg.py
  runtime/patch/openfst/src/include/fst/flags.h
Due: none

补全合成系列中的脚本中参数缺失：csmsc/ljspeech/tts3
  examples/ljspeech/tts3/README.md
  examples/ljspeech/tts3/run.sh
Due: auto add label=Example, auto add label=README

HiFiGAN改为MultiBand MelGAN
  examples/csmsc/voc3/README.md
Due: auto add label=Example, auto add label=README

update examples/csmsc/voc3/README.md
  examples/csmsc/voc3/README.md
Due: auto add label=Example, auto add label=README

update examples/vctk/tts3/README.md
  examples/vctk/tts3/README.md
Due: auto add label=Example, auto add label=README

update examples/vctk/ernie_sat; examples/vctk/tts3
  examples/vctk/ernie_sat/README.md
  examples/vctk/ernie_sat/run.sh
  examples/vctk/tts3/README.md
  examples/vctk/tts3/run.sh
Due: auto add label=Example, auto add label=README

code style CI
  demos/TTSCppFrontend/src/front/front_interface.cpp
  examples/csmsc/tts0/README.md
  runtime/engine/asr/decoder/ctc_prefix_beam_search_decoder.cc
  runtime/engine/common/matrix/kaldi-matrix.cc
  runtime/engine/common/matrix/kaldi-vector.cc
Due: auto add label=Example, auto add label=Demo, auto add label=README

Revert "code style CI"
  demos/TTSCppFrontend/src/front/front_interface.cpp
  examples/csmsc/tts0/README.md
  runtime/engine/asr/decoder/ctc_prefix_beam_search_decoder.cc
  runtime/engine/common/matrix/kaldi-matrix.cc
  runtime/engine/common/matrix/kaldi-vector.cc
Due: auto add label=Example, auto add label=Demo, auto add label=README

code style CI
  examples/csmsc/tts0/README.md
Due: auto add label=Example, auto add label=README

fix the errors found after the review
  examples/vctk/ernie_sat/run.sh
  examples/vctk/tts3/run.sh
Due: auto add label=Example

remove useless requirement.
  demos/audio_searching/requirements.txt
Due: auto add label=Demo

fix the errors 2025/3/24
  examples/csmsc/tts3/README_cn.md
  examples/csmsc/tts3_rhy/README.md
  examples/csmsc/tts3_rhy/run.sh
Due: auto add label=Example, auto add label=README

task_1_voc1
  examples/csmsc/voc1/local/synthesize_e2e.sh
Due: auto add label=Example

task_1_voc3 and voc5
  examples/csmsc/voc3/local/synthesize_e2e.sh
  examples/csmsc/voc5/local/synthesize_e2e.sh
Due: auto add label=Example

fix the svs1
  examples/opencpop/svs1/README.md
  examples/opencpop/svs1/README_cn.md
  examples/opencpop/svs1/run.sh
Due: auto add label=Example, auto add label=README

fix tts
  examples/ljspeech/tts3/README.md
  examples/ljspeech/tts3/run.sh
Due: auto add label=Example, auto add label=README

fix g2p model link
  paddlespeech/resource/pretrained_models.py
Due: none

del stage 0
  examples/opencpop/svs1/README.md
  examples/opencpop/svs1/README_cn.md
  examples/opencpop/svs1/run.sh
Due: auto add label=Example, auto add label=README

fix Speech No.5
  examples/aishell3_vctk/ernie_sat/README.md
  examples/aishell3_vctk/ernie_sat/run.sh
Due: auto add label=Example, auto add label=README

删去中文README中多余的stage 0
  examples/opencpop/svs1/README_cn.md
Due: auto add label=Example

fix the tts0
  examples/csmsc/tts0/README.md
  examples/csmsc/tts0/run.sh
Due: auto add label=Example, auto add label=README

fix the tts2
  examples/csmsc/tts2/README.md
  examples/csmsc/tts2/run.sh
Due: auto add label=Example, auto add label=README

fix the tts3
  examples/csmsc/tts3/README.md
  examples/csmsc/tts3/README_cn.md
  examples/csmsc/tts3/run.sh
Due: auto add label=Example, auto add label=README

fix the Parameter about --voc and --am
  examples/csmsc/voc1/local/synthesize_e2e.sh
Due: auto add label=Example

fix the run.sh stage
  examples/csmsc/tts3_rhy/run.sh
Due: auto add label=Example

fix the voc3 about --am and --voc
  examples/csmsc/voc3/local/synthesize_e2e.sh
Due: auto add label=Example

fix the voc3 synthesize_e2e about --am and --voc
  examples/csmsc/voc5/local/synthesize_e2e.sh
Due: auto add label=Example

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
