Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=TextProcess, auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=TextProcess:
  label:
    add:
    - TextProcess

auto add label=Example:
  label:
    add:
    - Example

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

fix resample
  paddlespeech/cli/asr/infer.py
  paddlespeech/s2t/transform/perturb.py
  paddlespeech/s2t/transform/spectrogram.py
  paddlespeech/vector/exps/ge2e/audio_processor.py
Due: auto add label=S2T

repair the annotation of make voxceleb trial script
  examples/voxceleb/sv0/local/make_voxceleb_kaldi_trial.py
Due: auto add label=Example

rename tacotron2, test=tts
  CHANGELOG.md
  README.md
  README_cn.md
  docs/source/released_model.md
  docs/source/tts/quick_start_cn.md
  examples/aishell3/vc0/README.md
  examples/aishell3/vc0/path.sh
  examples/aishell3/vc1/README.md
  examples/csmsc/tts0/local/synthesize_e2e.sh
  examples/csmsc/tts0/path.sh
  examples/csmsc/tts0/run.sh
  examples/csmsc/tts3/run.sh
  examples/ljspeech/tts0/README.md
  examples/ljspeech/tts0/local/synthesize_e2e.sh
  examples/ljspeech/tts0/path.sh
  examples/ljspeech/tts3/README.md
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/exps/tacotron2/__init__.py
  paddlespeech/t2s/exps/tacotron2/normalize.py
  paddlespeech/t2s/exps/tacotron2/preprocess.py
  paddlespeech/t2s/exps/tacotron2/train.py
  paddlespeech/t2s/exps/voice_cloning.py
  paddlespeech/t2s/frontend/phonectic.py
  paddlespeech/t2s/models/__init__.py
  paddlespeech/t2s/models/tacotron2/__init__.py
  paddlespeech/t2s/models/tacotron2/tacotron2.py
  paddlespeech/t2s/models/tacotron2/tacotron2_updater.py
  paddlespeech/t2s/modules/tacotron2/decoder.py
Due: auto add label=T2S, auto add label=Example, auto add label=README, auto add label=Documentation

fix some librosa bugs, test=tts
  docs/source/released_model.md
  examples/csmsc/tts0/local/synthesize_e2e.sh
  examples/csmsc/tts2/local/synthesize_e2e.sh
  examples/csmsc/tts3/local/synthesize_e2e.sh
  paddleaudio/features/core.py
  paddlespeech/s2t/transform/spectrogram.py
  paddlespeech/t2s/audio/audio.py
  paddlespeech/t2s/datasets/common.py
  paddlespeech/t2s/exps/wavernn/synthesize.py
  paddlespeech/t2s/exps/wavernn/train.py
Due: auto add label=S2T, auto add label=T2S, auto add label=Example, auto add label=Documentation

Update README.md
  examples/csmsc/README.md
Due: auto add label=Example, auto add label=README

Update README.md
  examples/csmsc/tts3/README.md
Due: auto add label=Example, auto add label=README

test linear spectrogram feature
  speechx/speechx/frontend/feature_extractor_interface.h
  speechx/speechx/frontend/linear_spectrogram.cc
  speechx/speechx/frontend/linear_spectrogram.h
  speechx/speechx/frontend/linear_spectrogram_main.cc
  speechx/speechx/frontend/normalizer.cc
  speechx/speechx/nnet/nnet_interface.h
Due: none

merge data and datasets, test=tts
  paddlespeech/t2s/__init__.py
  paddlespeech/t2s/data/__init__.py
  paddlespeech/t2s/data/dataset.py
  paddlespeech/t2s/datasets/__init__.py
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/datasets/batch.py
  paddlespeech/t2s/datasets/common.py
  paddlespeech/t2s/datasets/get_feats.py
  paddlespeech/t2s/exps/fastspeech2/preprocess.py
  paddlespeech/t2s/exps/gan_vocoder/parallelwave_gan/synthesize_from_wav.py
  paddlespeech/t2s/exps/gan_vocoder/preprocess.py
  paddlespeech/t2s/exps/speedyspeech/preprocess.py
  paddlespeech/t2s/exps/tacotron2/preprocess.py
  paddlespeech/t2s/exps/transformer_tts/preprocess.py
  paddlespeech/t2s/exps/waveflow/ljspeech.py
Due: auto add label=T2S

add demo videos, test=doc
  docs/source/demo_video.rst
  docs/source/index.rst
  docs/source/tts/demo_video.rst
Due: auto add label=Documentation

add tipc benchmark of conformer
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/training/trainer.py
  tests/test_tipc/benchmark_train.sh
  tests/test_tipc/configs/conformer/train_benchmark.txt
  tests/test_tipc/conformer/scripts/aishell_tiny.py
  tests/test_tipc/docs/benchmark_train.md
  tests/test_tipc/prepare.sh
  tests/test_tipc/test_train_inference_python.sh
Due: auto add label=S2T

add frontend cmakelist
  docs/source/reference.md
  speechx/CMakeLists.txt
  speechx/speechx/CMakeLists.txt
  speechx/speechx/base/basic_types.h
  speechx/speechx/base/thread_pool.h
  speechx/speechx/codelab/feat_test/linear_spectrogram_main.cc
  speechx/speechx/frontend/CMakeLists.txt
  speechx/speechx/frontend/feature_extractor_interface.h
  speechx/speechx/frontend/linear_spectrogram.cc
  speechx/speechx/frontend/linear_spectrogram.h
  speechx/speechx/frontend/normalizer.cc
  speechx/speechx/frontend/normalizer.h
Due: auto add label=Documentation

fix typo & make build success
  speechx/speechx/CMakeLists.txt
  speechx/speechx/base/flags.h
  speechx/speechx/codelab/feat_test/linear_spectrogram_main.cc
  speechx/speechx/frontend/linear_spectrogram.cc
  speechx/speechx/frontend/linear_spectrogram.h
  speechx/speechx/frontend/normalizer.cc
  speechx/speechx/frontend/normalizer.h
Due: none

upadte data info
  examples/callcenter/README.md
Due: auto add label=Example, auto add label=README

update video demo's path in readthedocs, test=doc
  README.md
  README_cn.md
  docs/source/index.rst
  docs/source/tts_demo_video.rst
Due: auto add label=README, auto add label=Documentation

added asr engine and fixed bugs, test=doc
  speechserving/speechserving/conf/application.yaml
  speechserving/speechserving/conf/asr/asr.yaml
  speechserving/speechserving/engine/asr/python/asr_engine.py
  speechserving/speechserving/engine/base_engine.py
  speechserving/speechserving/engine/engine_factory.py
  speechserving/speechserving/main.py
  speechserving/speechserving/restful/api.py
  speechserving/speechserving/restful/asr_api.py
  speechserving/speechserving/restful/request.py
  speechserving/speechserving/restful/response.py
  speechserving/speechserving/restful/tts_api.py
  speechserving/speechserving/utils/__init__.py
  speechserving/speechserving/utils/config.py
  speechserving/speechserving/utils/errors.py
  speechserving/speechserving/utils/util.py
Due: none

fixed comments, test=doc
  speechserving/speechserving/engine/asr/python/asr_engine.py
  speechserving/speechserving/engine/engine_factory.py
  speechserving/speechserving/restful/asr_api.py
  speechserving/tests/16_audio.wav
  speechserving/tests/http_client.py
Due: none

update tts cli, test=doc
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/text/infer.py
  paddlespeech/cli/tts/infer.py
  tests/unit/cli/test_cli.sh
Due: none

Create README.md
  examples/csmsc/voc6/README.md
Due: auto add label=Example, auto add label=README

Update README.md
  examples/csmsc/voc6/README.md
Due: auto add label=Example, auto add label=README

add params type, test=doc
  speechserving/speechserving/conf/tts/tts.yaml
  speechserving/speechserving/conf/tts/tts_pd.yaml
  speechserving/speechserving/engine/tts/paddleinference/tts_engine.py
  speechserving/speechserving/engine/tts/python/tts_engine.py
  speechserving/speechserving/utils/audio_process.py
  speechserving/tests/tts/out.wav
  speechserving/tests/tts/ssstr.py
  speechserving/tests/tts/test_client.py
Due: none

init for all works in train.py when ngpu>1, test=tts
  docs/source/index.rst
  paddlespeech/t2s/exps/fastspeech2/train.py
  paddlespeech/t2s/exps/gan_vocoder/hifigan/train.py
  paddlespeech/t2s/exps/gan_vocoder/multi_band_melgan/train.py
  paddlespeech/t2s/exps/gan_vocoder/parallelwave_gan/train.py
  paddlespeech/t2s/exps/gan_vocoder/style_melgan/train.py
  paddlespeech/t2s/exps/speedyspeech/train.py
  paddlespeech/t2s/exps/tacotron2/train.py
  paddlespeech/t2s/exps/transformer_tts/train.py
  paddlespeech/t2s/exps/wavernn/train.py
  paddlespeech/text/exps/ernie_linear/train.py
Due: auto add label=T2S, auto add label=TextProcess, auto add label=Documentation

[doc] pip download stats
  README.md
Due: auto add label=README

Delete ssstr.py
  speechserving/tests/tts/ssstr.py
Due: none

delete wavfile, test=doc
  speechserving/tests/tts/out.wav
Due: none

fix sortagrad, test=asr
  paddlespeech/s2t/io/batchfy.py
  paddlespeech/s2t/io/dataloader.py
Due: auto add label=S2T

Update released_model.md
  docs/source/released_model.md
Due: auto add label=Documentation

add nnet module
  speechx/CMakeLists.txt
  speechx/speechx/nnet/nnet_interface.h
  speechx/speechx/nnet/paddle_nnet.cc
  speechx/speechx/nnet/paddle_nnet.h
Due: none

add pwgan tipc, test=doc
  tests/test_tipc/common_func.sh
  tests/test_tipc/configs/pwgan/train_benchmark.txt
  tests/test_tipc/prepare.sh
  tests/test_tipc/test_train_inference_python.sh
Due: none

Update README.md
  README.md
Due: auto add label=README

Update README_cn.md
  README_cn.md
Due: none

fix ci for waveflow, test=tts
  paddlespeech/t2s/datasets/dataset.py
  paddlespeech/t2s/exps/waveflow/train.py
Due: auto add label=T2S

fix ci for waveflow, test=tts
  paddlespeech/t2s/frontend/zh_normalization/num.py
  paddlespeech/t2s/models/waveflow.py
Due: auto add label=T2S

update readme for aishell3_vc0, test=doc
  docs/source/released_model.md
  examples/aishell3/vc0/README.md
  examples/aishell3/vc0/conf/default.yaml
Due: auto add label=Example, auto add label=README, auto add label=Documentation

add decodable & ctc_beam_search_deocder
  speechx/speechx/decoder/common.h
  speechx/speechx/decoder/ctc_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.h
  speechx/speechx/decoder/ctc_decoders
  speechx/speechx/kaldi/decoder/lattice-faster-decoder.cc
  speechx/speechx/kaldi/decoder/lattice-faster-decoder.h
  speechx/speechx/kaldi/decoder/lattice-faster-online-decoder.cc
  speechx/speechx/kaldi/decoder/lattice-faster-online-decoder.h
  speechx/speechx/kaldi/lat/determinize-lattice-pruned-test.cc
  speechx/speechx/kaldi/lat/determinize-lattice-pruned.cc
  speechx/speechx/kaldi/lat/determinize-lattice-pruned.h
  speechx/speechx/kaldi/lat/kaldi-lattice.cc
  speechx/speechx/kaldi/lat/kaldi-lattice.h
  speechx/speechx/kaldi/lat/lattice-functions.cc
  speechx/speechx/kaldi/lat/lattice-functions.h
  speechx/speechx/nnet/ctc_decodable.h
  speechx/speechx/nnet/decodable-itf.h
  speechx/speechx/nnet/decodable.h
  speechx/speechx/nnet/dnn_decodable.h
  speechx/speechx/nnet/nnet_interface.h
Due: none

move dir, test=doc
  paddlespeech/server/setup.py
  paddlespeech/server/speechserving/README.md
  paddlespeech/server/speechserving/__init__.py
  paddlespeech/server/speechserving/bin/main.py
  paddlespeech/server/speechserving/bin/paddlespeech-client.py
  paddlespeech/server/speechserving/bin/paddlespeech-server.py
  paddlespeech/server/speechserving/bin/path.sh
  paddlespeech/server/speechserving/conf/application.yaml
  paddlespeech/server/speechserving/conf/asr/asr.yaml
  paddlespeech/server/speechserving/conf/tts/tts.yaml
  paddlespeech/server/speechserving/conf/tts/tts_pd.yaml
  paddlespeech/server/speechserving/engine/__init__.py
  paddlespeech/server/speechserving/engine/asr/python/asr_engine.py
  paddlespeech/server/speechserving/engine/base_engine.py
  paddlespeech/server/speechserving/engine/engine_factory.py
  paddlespeech/server/speechserving/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/speechserving/engine/tts/python/tts_engine.py
  paddlespeech/server/speechserving/restful/__init__.py
  paddlespeech/server/speechserving/restful/api.py
  paddlespeech/server/speechserving/restful/asr_api.py
  paddlespeech/server/speechserving/restful/request.py
  paddlespeech/server/speechserving/restful/response.py
  paddlespeech/server/speechserving/restful/tts_api.py
  paddlespeech/server/speechserving/utils/__init__.py
  paddlespeech/server/speechserving/utils/audio_process.py
  paddlespeech/server/speechserving/utils/config.py
  paddlespeech/server/speechserving/utils/errors.py
  paddlespeech/server/speechserving/utils/exception.py
  paddlespeech/server/speechserving/utils/log.py
  paddlespeech/server/speechserving/utils/paddle_predictor.py
  paddlespeech/server/speechserving/utils/util.py
  paddlespeech/server/tests/16_audio.wav
  paddlespeech/server/tests/http_client.py
  paddlespeech/server/tests/tts/test_client.py
  speechserving/speechserving/utils/__init__.py
Due: auto add label=README

move dir, test=doc
  paddlespeech/server/setup.py
  paddlespeech/server/speechserving/README.md
  paddlespeech/server/speechserving/__init__.py
  paddlespeech/server/speechserving/bin/main.py
  paddlespeech/server/speechserving/bin/paddlespeech-client.py
  paddlespeech/server/speechserving/bin/paddlespeech-server.py
  paddlespeech/server/speechserving/bin/path.sh
  paddlespeech/server/speechserving/conf/application.yaml
  paddlespeech/server/speechserving/conf/asr/asr.yaml
  paddlespeech/server/speechserving/conf/tts/tts.yaml
  paddlespeech/server/speechserving/conf/tts/tts_pd.yaml
  paddlespeech/server/speechserving/engine/__init__.py
  paddlespeech/server/speechserving/engine/asr/python/asr_engine.py
  paddlespeech/server/speechserving/engine/base_engine.py
  paddlespeech/server/speechserving/engine/engine_factory.py
  paddlespeech/server/speechserving/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/speechserving/engine/tts/python/tts_engine.py
  paddlespeech/server/speechserving/restful/__init__.py
  paddlespeech/server/speechserving/restful/api.py
  paddlespeech/server/speechserving/restful/asr_api.py
  paddlespeech/server/speechserving/restful/request.py
  paddlespeech/server/speechserving/restful/response.py
  paddlespeech/server/speechserving/restful/tts_api.py
  paddlespeech/server/speechserving/tts.wav
  paddlespeech/server/speechserving/utils/__init__.py
  paddlespeech/server/speechserving/utils/audio_process.py
  paddlespeech/server/speechserving/utils/config.py
  paddlespeech/server/speechserving/utils/errors.py
  paddlespeech/server/speechserving/utils/exception.py
  paddlespeech/server/speechserving/utils/log.py
  paddlespeech/server/speechserving/utils/paddle_predictor.py
  paddlespeech/server/speechserving/utils/util.py
  paddlespeech/server/tests/16_audio.wav
  paddlespeech/server/tests/http_client.py
  paddlespeech/server/tests/tts/test_client.py
  speechserving/speechserving/utils/__init__.py
Due: auto add label=README

move dir, test=doc
  paddlespeech/server/__init__.py
  paddlespeech/server/bin/main.py
  paddlespeech/server/bin/paddlespeech-client.py
  paddlespeech/server/bin/paddlespeech-server.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/conf/asr/asr.yaml
  paddlespeech/server/conf/tts/tts.yaml
  paddlespeech/server/conf/tts/tts_pd.yaml
  paddlespeech/server/engine/__init__.py
  paddlespeech/server/engine/asr/python/asr_engine.py
  paddlespeech/server/engine/base_engine.py
  paddlespeech/server/engine/engine_factory.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/tts_engine.py
  paddlespeech/server/restful/__init__.py
  paddlespeech/server/restful/api.py
  paddlespeech/server/restful/asr_api.py
  paddlespeech/server/restful/request.py
  paddlespeech/server/restful/response.py
  paddlespeech/server/restful/tts_api.py
  paddlespeech/server/speechserving/README.md
  paddlespeech/server/speechserving/bin/path.sh
  paddlespeech/server/speechserving/restful/api.py
  paddlespeech/server/speechserving/tts.wav
  paddlespeech/server/tests/tts/test_client.py
  paddlespeech/server/utils/__init__.py
  paddlespeech/server/utils/audio_process.py
  paddlespeech/server/utils/config.py
  paddlespeech/server/utils/errors.py
  paddlespeech/server/utils/exception.py
  paddlespeech/server/utils/log.py
  paddlespeech/server/utils/paddle_predictor.py
  paddlespeech/server/utils/util.py
Due: auto add label=README

Update infer.py
  paddlespeech/cli/tts/infer.py
Due: none

Path conditions:
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^audio/
  auto add label=TextProcess: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^docs/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
