Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

Update requirements.txt
  docs/requirements.txt
Due: auto add label=Documentation

Update .readthedocs.yml
  .readthedocs.yml
Due: none

Delete setup.rst
  docs/source/audio_api/setup.rst
Due: auto add label=Documentation

Update modules.rst
  docs/source/audio_api/modules.rst
Due: auto add label=Documentation

make mac compile stable
  audio/CMakeLists.txt
  audio/paddleaudio/lib/libgcc_s.1.1.dylib
  audio/paddleaudio/src/CMakeLists.txt
  audio/paddleaudio/third_party/kaldi/CMakeLists.txt
  audio/setup.py
Due: none

fiox setup.py
  audio/setup.py
Due: none

rm libgcc.dylib
  audio/paddleaudio/CMakeLists.txt
Due: none

Update README.md
  examples/csmsc/README.md
Due: auto add label=Example, auto add label=README

Update README.md
  README.md
Due: auto add label=README

Update README_cn.md
  README_cn.md
Due: none

set python>=3.6
  audio/paddleaudio/lib/libgcc_s.1.1.dylib
  audio/setup.py
Due: none

add PTQ_dynamic.
  examples/csmsc/tts3/local/PTQ_dynamic.sh
  paddlespeech/t2s/exps/PTQ_dynamic.py
Due: auto add label=T2S, auto add label=Example

fix coding style
  .pre-commit-config.yaml
Due: none

fix precommit
  .pre-commit-config.yaml
  audio/setup.py
  audio/tools/setup_helpers/extension.py
Due: none

fix speechx cmake for find python3
  speechx/CMakeLists.txt
Due: auto add label=Deployment

linux:add libfortran to lib
  audio/CMakeLists.txt
  audio/cmake/FindGFortranLibs.cmake
  audio/cmake/external/openblas.cmake
  audio/paddleaudio/CMakeLists.txt
  audio/paddleaudio/src/CMakeLists.txt
  audio/setup.py
  audio/tests/features/test_kaldi_feat.py
Due: none

windows:close build cpp extern in paddleaudio
  audio/paddleaudio/_internal/module_utils.py
  audio/paddleaudio/sox_effects/sox_effects.py
  audio/paddleaudio/utils/sox_utils.py
  audio/tools/setup_helpers/extension.py
Due: none

fix format, add warning when load libpaddleaudio fail
  audio/paddleaudio/_extension.py
  audio/setup.py
  audio/tests/features/test_kaldi_feat.py
Due: none

add paddle commit that u2++ quant model cer 5.8% (#2714)
  speechx/examples/u2pp_ol/wenetspeech/RESULTS.md
Due: auto add label=Deployment

fix speechx cmake for find python3 (#2723)
  speechx/CMakeLists.txt
Due: auto add label=Deployment

catch _paddleaudio crush
  audio/paddleaudio/_extension.py
Due: none

onnx ds2 need onnxruntime>=1.11.0
  demos/streaming_asr_server/README.md
  setup.py
Due: auto add label=Demo, auto add label=README, auto add label=Installation

add readme, test=doc
  audio/README.md
Due: auto add label=README

onnx ds2 need onnxruntime>=1.11.0 (#2728)
  demos/streaming_asr_server/README.md
  setup.py
Due: auto add label=Demo, auto add label=README, auto add label=Installation

add PTQ_static
  examples/csmsc/tts2/local/PTQ_static.sh
  examples/csmsc/tts2/run.sh
  examples/csmsc/tts3/local/PTQ_static.sh
  examples/csmsc/tts3/run.sh
  examples/csmsc/voc1/local/PTQ_static.sh
  examples/csmsc/voc1/run.sh
  examples/csmsc/voc3/local/PTQ_static.sh
  examples/csmsc/voc3/run.sh
  examples/csmsc/voc5/local/PTQ_static.sh
  examples/csmsc/voc5/run.sh
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/datasets/vocoder_batch_fn.py
  paddlespeech/t2s/exps/PTQ_dynamic.py
  paddlespeech/t2s/exps/PTQ_static.py
  paddlespeech/t2s/exps/syn_utils.py
Due: auto add label=T2S, auto add label=Example

add conv2d_transpose
  paddlespeech/t2s/exps/PTQ_static.py
Due: auto add label=T2S

fix for review
  paddlespeech/t2s/exps/PTQ_static.py
Due: auto add label=T2S

add PTQ_static for fs2_cnndecoder
  examples/csmsc/tts3/run_cnndecoder.sh
Due: auto add label=Example

[TTS]Add slim for TTS (#2729)
  examples/csmsc/tts2/local/PTQ_static.sh
  examples/csmsc/tts2/run.sh
  examples/csmsc/tts3/local/PTQ_dynamic.sh
  examples/csmsc/tts3/local/PTQ_static.sh
  examples/csmsc/tts3/run.sh
  examples/csmsc/tts3/run_cnndecoder.sh
  examples/csmsc/voc1/local/PTQ_static.sh
  examples/csmsc/voc1/run.sh
  examples/csmsc/voc3/local/PTQ_static.sh
  examples/csmsc/voc3/run.sh
  examples/csmsc/voc5/local/PTQ_static.sh
  examples/csmsc/voc5/run.sh
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/datasets/vocoder_batch_fn.py
  paddlespeech/t2s/exps/PTQ_dynamic.py
  paddlespeech/t2s/exps/PTQ_static.py
  paddlespeech/t2s/exps/syn_utils.py
Due: auto add label=T2S, auto add label=Example

update paddle from 2.4.0rc to 2.4.1 in readme
  README.md
Due: auto add label=README

Update install.md
  docs/source/install.md
Due: auto add label=Documentation

Update install_cn.md
  docs/source/install_cn.md
Due: auto add label=Documentation
