Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

fix code style
  paddlespeech/s2t/models/whisper/tokenizer.py
  paddlespeech/s2t/models/whisper/whipser.py
Due: auto add label=S2T

[ASR] fix Whisper cli model download path error. test=asr (#2679)
  demos/whisper/README.md
  demos/whisper/README_cn.md
  paddlespeech/cli/whisper/infer.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/s2t/exps/whisper/test_wav.py
  paddlespeech/s2t/models/whisper/tokenizer.py
  paddlespeech/s2t/models/whisper/whipser.py
Due: auto add label=S2T, auto add label=CLI, auto add label=Demo, auto add label=README

syn
  demos/speech_ssl/README.md
  demos/speech_ssl/README_cn.md
  demos/speech_ssl/run.sh
  paddlespeech/cli/ssl/__init__.py
  paddlespeech/cli/ssl/infer.py
  paddlespeech/s2t/models/wav2vec2/modules/__init__.py
  paddlespeech/s2t/models/wav2vec2/modules/normalization.py
  paddlespeech/s2t/models/wav2vec2/processing/__init__.py
Due: auto add label=S2T, auto add label=CLI, auto add label=Demo, auto add label=README

sb_pipeline
  examples/aishell/asr2/conf/tuning/decode.yaml
  examples/aishell/asr3/cmd.sh
  examples/aishell/asr3/conf/conformer.yaml
  examples/aishell/asr3/conf/preprocess.yaml
  examples/aishell/asr3/conf/tuning/chunk_decode.yaml
  examples/aishell/asr3/conf/tuning/decode.yaml
  examples/aishell/asr3/conf/wav2vec2ASR.yaml
  examples/aishell/asr3/local/data.sh
  examples/aishell/asr3/local/test.sh
  examples/aishell/asr3/local/test_wav.sh
  examples/aishell/asr3/local/train.sh
  examples/aishell/asr3/path.sh
  examples/aishell/asr3/run.sh
  examples/aishell/asr3/utils
  paddlespeech/s2t/exps/wav2vec2/model.py
  paddlespeech/s2t/io/wav2vec2/batch.py
  paddlespeech/s2t/io/wav2vec2/data_pipeline.py
  paddlespeech/s2t/io/wav2vec2/data_utils.py
  paddlespeech/s2t/io/wav2vec2/dataio.py
  paddlespeech/s2t/io/wav2vec2/dataloader.py
  paddlespeech/s2t/io/wav2vec2/dataset.py
  paddlespeech/s2t/io/wav2vec2/depgraph.py
  paddlespeech/s2t/io/wav2vec2/make_dataloader.py
  paddlespeech/s2t/io/wav2vec2/sampler.py
  paddlespeech/s2t/io/wav2vec2/sb_pipeline.py
  paddlespeech/s2t/io/wav2vec2/train_with_wav2vec.yaml
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
Due: auto add label=S2T, auto add label=Example

aishell1_wav2vec2, sb_datapipeline
  examples/aishell/asr3/cmd.sh
  examples/aishell/asr3/conf/conformer.yaml
  examples/aishell/asr3/conf/preprocess.yaml
  examples/aishell/asr3/conf/tuning/chunk_decode.yaml
  examples/aishell/asr3/conf/tuning/decode.yaml
  examples/aishell/asr3/conf/wav2vec2ASR.yaml
  examples/aishell/asr3/local/data.sh
  examples/aishell/asr3/local/test.sh
  examples/aishell/asr3/local/test_wav.sh
  examples/aishell/asr3/local/train.sh
  examples/aishell/asr3/path.sh
  examples/aishell/asr3/run.sh
  examples/aishell/asr3/utils
  paddlespeech/s2t/exps/wav2vec2/model.py
  paddlespeech/s2t/io/wav2vec2/batch.py
  paddlespeech/s2t/io/wav2vec2/data_pipeline.py
  paddlespeech/s2t/io/wav2vec2/data_utils.py
  paddlespeech/s2t/io/wav2vec2/dataio.py
  paddlespeech/s2t/io/wav2vec2/dataloader.py
  paddlespeech/s2t/io/wav2vec2/dataset.py
  paddlespeech/s2t/io/wav2vec2/depgraph.py
  paddlespeech/s2t/io/wav2vec2/make_dataloader.py
  paddlespeech/s2t/io/wav2vec2/sampler.py
  paddlespeech/s2t/io/wav2vec2/sb_pipeline.py
  paddlespeech/s2t/io/wav2vec2/train_with_wav2vec.yaml
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
Due: auto add label=S2T, auto add label=Example

add greek chars normalization and fix issue 2571,test=tts
  paddlespeech/t2s/frontend/zh_normalization/text_normlization.py
Due: auto add label=T2S

add version && link fortran.dylib in mac
  audio/CMakeLists.txt
  audio/cmake/external/pybind.cmake
  audio/paddleaudio/third_party/kaldi/CMakeLists.txt
  audio/setup.py
Due: none

update docs test=doc
  README.md
  README_cn.md
Due: auto add label=README

update readme in speechx examples,test=doc
  speechx/examples/ds2_ol/aishell/README.md
  speechx/examples/ds2_ol/onnx/README.md
  speechx/examples/ds2_ol/websocket/README.md
  speechx/examples/u2pp_ol/wenetspeech/README.md
Due: auto add label=README, auto add label=Deployment

add version && link fortran.dylib in mac (#2684)
  audio/CMakeLists.txt
  audio/cmake/external/pybind.cmake
  audio/paddleaudio/third_party/kaldi/CMakeLists.txt
  audio/setup.py
Due: none

update docs test=doc (#2688)
  README.md
  README_cn.md
Due: auto add label=README

update
  paddlespeech/t2s/frontend/zh_normalization/text_normlization.py
Due: auto add label=T2S

more doc of speechx u2 onnx
  speechx/examples/ds2_ol/onnx/README.md
  speechx/examples/u2pp_ol/wenetspeech/README.md
  speechx/examples/u2pp_ol/wenetspeech/run.sh
Due: auto add label=README, auto add label=Deployment

Add end-to-end version of MFA FastSpeech2, test=tts
  examples/csmsc/tts3_rhy_e2e/README.md
  examples/csmsc/tts3_rhy_e2e/README_cn.md
  examples/csmsc/tts3_rhy_e2e/conf/conformer.yaml
  examples/csmsc/tts3_rhy_e2e/conf/default.yaml
  examples/csmsc/tts3_rhy_e2e/local/preprocess.sh
  examples/csmsc/tts3_rhy_e2e/local/simple.lexicon
  examples/csmsc/tts3_rhy_e2e/local/synthesize.sh
  examples/csmsc/tts3_rhy_e2e/local/synthesize_e2e.sh
  examples/csmsc/tts3_rhy_e2e/local/train.sh
  examples/csmsc/tts3_rhy_e2e/path.sh
  examples/csmsc/tts3_rhy_e2e/run.sh
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/frontend/rhy_prediction/rhy_predictor.py
  paddlespeech/t2s/frontend/zh_frontend.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

format, test=doct
  speechx/examples/u2pp_ol/wenetspeech/README.md
Due: auto add label=README, auto add label=Deployment

Add end-to-end version of MFA FastSpeech2, test=tts
  examples/csmsc/tts3_rhy_e2e/README.md
  examples/csmsc/tts3_rhy_e2e/README_cn.md
Due: auto add label=Example, auto add label=README

Add end-to-end version of MFA FastSpeech2, test=tts
  paddlespeech/t2s/frontend/rhy_prediction/rhy_predictor.py
Due: auto add label=T2S

Add end-to-end version of MFA FastSpeech2, test=tts
  paddlespeech/t2s/exps/synthesize_e2e.py
Due: auto add label=T2S

Add end-to-end version of MFA FastSpeech2, test=tts
  paddlespeech/t2s/frontend/zh_frontend.py
Due: auto add label=T2S

Add end-to-end version of MFA FastSpeech2, test=tts
  paddlespeech/t2s/exps/syn_utils.py
Due: auto add label=T2S

Update README.md
  speechx/examples/ds2_ol/onnx/README.md
Due: auto add label=README, auto add label=Deployment

add greek char and fix issue2571 (#2683)
  paddlespeech/t2s/frontend/zh_normalization/text_normlization.py
Due: auto add label=T2S

Add end-to-end version of MFA FastSpeech2, test=tts
  examples/csmsc/tts3_rhy_e2e/local/synthesize_e2e.sh
  paddlespeech/resource/pretrained_models.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/frontend/rhy_prediction/rhy_predictor.py
  paddlespeech/t2s/frontend/zh_frontend.py
Due: auto add label=T2S, auto add label=Example

Add end-to-end version of MFA FastSpeech2, test=tts
  examples/csmsc/tts3_rhy_e2e/conf/conformer.yaml
  examples/csmsc/tts3_rhy_e2e/local/simple.lexicon
Due: auto add label=Example

support wav2vec2-zh cli, test=asr
  paddlespeech/cli/ssl/infer.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/s2t/models/wav2vec2/modules/modeling_wav2vec2.py
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
Due: auto add label=S2T, auto add label=CLI

support wav2vec2-zh cli, test=asr
  paddlespeech/__init__.py
  paddlespeech/cli/ssl/infer.py
Due: auto add label=CLI

Add end-to-end version of MFA FastSpeech2, test=tts
  paddlespeech/t2s/frontend/rhy_prediction/__init__.py
Due: auto add label=T2S

[speechx] more doc of speechx u2 and ds2 onnx (#2692)
  speechx/examples/ds2_ol/onnx/README.md
  speechx/examples/u2pp_ol/wenetspeech/README.md
  speechx/examples/u2pp_ol/wenetspeech/run.sh
Due: auto add label=README, auto add label=Deployment

add paddlenlp install version.
  setup.py
Due: auto add label=Installation

Add end-to-end version of MFA FastSpeech2, test=tts
  paddlespeech/resource/pretrained_models.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/frontend/rhy_prediction/rhy_predictor.py
Due: auto add label=T2S

support wav2vec2-zh cli, test=asr
  paddlespeech/__init__.py
Due: none

benchmark:replace paddleaudio.layer.feature with features in paddle
  audio/tests/benchmark/log_melspectrogram.py
  audio/tests/benchmark/melspectrogram.py
  audio/tests/benchmark/mfcc.py
  audio/tests/features/test_librosa.py
  audio/tests/features/test_spectrogram.py
Due: none

make mac audio compile stable
  audio/CMakeLists.txt
  audio/cmake/pybind.cmake
  audio/tools/setup_helpers/extension.py
Due: none

support wav2vec2-zh cli, test=asr
  paddlespeech/cli/ssl/infer.py
Due: auto add label=CLI

[ASR] support wav2vec2-zh cli, test=asr (#2697)
  paddlespeech/cli/ssl/infer.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/s2t/models/wav2vec2/modules/modeling_wav2vec2.py
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
Due: auto add label=S2T, auto add label=CLI

more doc for speechx
  speechx/examples/custom_asr/README.md
  speechx/examples/ds2_ol/README.md
  speechx/examples/ds2_ol/aishell/README.md
  speechx/examples/ds2_ol/aishell/local/run_build_tlg.sh
  speechx/examples/ds2_ol/aishell/run.sh
  speechx/examples/ds2_ol/aishell/run_fbank.sh
  speechx/examples/u2pp_ol/wenetspeech/README.md
  speechx/examples/u2pp_ol/wenetspeech/run.sh
Due: auto add label=README, auto add label=Deployment

doc for ds2 websocket
  speechx/examples/ds2_ol/websocket/README.md
Due: auto add label=README, auto add label=Deployment

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
