Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

Update __init__.py
  paddleaudio/paddleaudio/metric/__init__.py
Due: auto add label=Audio

Update setup.py
  paddleaudio/setup.py
Due: auto add label=Audio

fix preprocess bug, test=tts
  paddlespeech/t2s/exps/fastspeech2/preprocess.py
  paddlespeech/t2s/exps/speedyspeech/preprocess.py
  paddlespeech/t2s/exps/tacotron2/preprocess.py
Due: auto add label=T2S

update the speaker verification model, test=doc
  demos/speaker_verification/README.md
  demos/speaker_verification/README_cn.md
  examples/voxceleb/sv0/RESULT.md
  paddlespeech/cli/vector/infer.py
Due: auto add label=Example, auto add label=CLI, auto add label=Demo, auto add label=README

dev ing
  speechx/examples/decoder/offline_wfst_decoder_main.cc
  speechx/speechx/nnet/decodable.cc
Due: auto add label=Deployment

Update mcd.py
  paddleaudio/paddleaudio/metric/mcd.py
Due: auto add label=Audio

Delete mcd.py
  paddleaudio/paddleaudio/metric/mcd.py
Due: auto add label=Audio

Update README.md
  examples/esc50/README.md
Due: auto add label=Example, auto add label=README

update the speaker verification model, test=doc
  demos/speaker_verification/README.md
  demos/speaker_verification/README_cn.md
  demos/speaker_verification/run.sh
  docs/source/released_model.md
  examples/voxceleb/sv0/RESULT.md
  paddlespeech/cli/vector/infer.py
Due: auto add label=Example, auto add label=CLI, auto add label=Demo, auto add label=README, auto add label=Documentation

remove unuse content in readme, test=doc
  demos/speaker_verification/README.md
  demos/speaker_verification/README_cn.md
Due: auto add label=Demo, auto add label=README

remove score content, test=doc
  demos/speaker_verification/README_cn.md
Due: auto add label=Demo

update Readme
  README.md
  README_cn.md
Due: auto add label=README

update cn 语音识别模型
  README_cn.md
Due: none

del unuse [] in readme
  README.md
Due: auto add label=README

update readme_cn 声纹识别
  README_cn.md
Due: none

update cn readme
  README_cn.md
Due: none

add onnx inference for fastspeech2 + hifigan/mb_melgan, test=tts
  examples/aishell3/vc0/README.md
  examples/aishell3/vc1/README.md
  examples/aishell3/voc1/README.md
  examples/aishell3/voc5/README.md
  examples/csmsc/tts0/README.md
  examples/csmsc/tts2/README.md
  examples/csmsc/tts3/README.md
  examples/csmsc/tts3/local/ort_predict.sh
  examples/csmsc/voc1/README.md
  examples/csmsc/voc3/README.md
  examples/csmsc/voc4/README.md
  examples/csmsc/voc5/README.md
  examples/csmsc/voc6/README.md
  examples/ljspeech/tts1/README.md
  examples/ljspeech/tts3/README.md
  examples/ljspeech/voc0/README.md
  examples/ljspeech/voc1/README.md
  examples/ljspeech/voc5/README.md
  examples/vctk/tts3/README.md
  examples/vctk/voc1/README.md
  examples/vctk/voc5/README.md
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/exps/ort_predict.py
  paddlespeech/t2s/exps/ort_predict_e2e.py
  paddlespeech/t2s/exps/synthesize_streaming.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

add onnx inference for fastspeech2 + hifigan/mb_melgan, test=tts
  examples/csmsc/tts3/local/ort_predict.sh
Due: auto add label=Example

add duration limitation for asr
  paddlespeech/cli/asr/infer.py
Due: auto add label=CLI

[ASR] update ds2 online model
  docs/source/released_model.md
Due: auto add label=Documentation

test=doc
  examples/aishell/asr0/RESULTS.md
Due: auto add label=Example

test=doc
  examples/aishell/asr0/README.md
Due: auto add label=Example, auto add label=README

update README, test=doc
  README.md
  README_cn.md
Due: auto add label=README

Update RESULTS.md
  examples/aishell/asr0/RESULTS.md
Due: auto add label=Example

[NPU] test TransformerTTS with NPU
  paddlespeech/t2s/exps/transformer_tts/train.py
Due: auto add label=T2S

add new cer tools, test=asr
  examples/aishell/asr1/local/test.sh
  examples/aishell/asr1/run.sh
  examples/librispeech/asr1/local/test.sh
  utils/compute-wer.py
  utils/format_rsl.py
Due: auto add label=Example

add part ecapa-tdnn note, test=doc
  demos/speaker_verification/README.md
  demos/speaker_verification/README_cn.md
  paddlespeech/vector/models/ecapa_tdnn.py
Due: auto add label=Vector, auto add label=Demo, auto add label=README

test=asr
  paddlespeech/cli/asr/infer.py
Due: auto add label=CLI

update cli, test = asr
  paddlespeech/cli/asr/infer.py
Due: auto add label=CLI

add warmup for frontend, test=doc
  paddlespeech/t2s/exps/ort_predict_e2e.py
Due: auto add label=T2S

Update RESULTS.md. test=doc
  examples/iwslt2012/punc0/README.md
  paddleaudio/paddleaudio/utils/numeric.py
Due: auto add label=Audio, auto add label=Example, auto add label=README

Update RESULTS.md. test=doc
  examples/iwslt2012/punc0/RESULTS.md
Due: auto add label=Example

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
