Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=TextProcess, auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^audio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=TextProcess"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["TextProcess"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^docs/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechnn/
    actions:
      label:
        add: ["Deployment"]

test=doc_fix
  examples/ted_en_zh/st0/run.sh
Due: auto add label=Example

test=doc_fix
  examples/ted_en_zh/st0/README.md
Due: auto add label=Example, auto add label=README

st1,test=doc_fix
  examples/ted_en_zh/st1/README.md
Due: auto add label=Example, auto add label=README

update timit results
  examples/timit/asr1/RESULTS.md
Due: auto add label=Example

smaller n_epoch
  examples/timit/asr1/conf/transformer.yaml
Due: auto add label=Example

update tts_tutorial.ipynb, test=doc_fix
  docs/tutorial/tts/tts_tutorial.ipynb
Due: auto add label=Documentation

update timit result, test=doc_fix
  examples/timit/asr1/RESULTS.md
  examples/timit/asr1/conf/transformer.yaml
Due: auto add label=Example

[README]add for librispeech asr2 (#1141)
  examples/librispeech/asr2/README.md
Due: auto add label=Example, auto add label=README

[ doc]update tts tutorial (#1142)
  docs/tutorial/tts/tts_tutorial.ipynb
Due: auto add label=Documentation

[README] st0, test=doc_fix (#1144)
  examples/ted_en_zh/st0/README.md
  examples/ted_en_zh/st0/run.sh
Due: auto add label=Example, auto add label=README

st1,test=doc_fix (#1145)
  examples/ted_en_zh/st1/README.md
Due: auto add label=Example, auto add label=README

update timit result, test=doc_fix (#1147)
  examples/timit/asr1/RESULTS.md
  examples/timit/asr1/conf/transformer.yaml
Due: auto add label=Example

fix the test_wav,test=asr
  examples/wenetspeech/asr1/local/test_wav.sh
  examples/wenetspeech/asr1/run.sh
Due: auto add label=Example

docs: add en docs
  demos/speech_translation/README.md
  demos/speech_translation/README_cn.md
Due: auto add label=Demo, auto add label=README

test=asr (#1140)
  examples/librispeech/asr2/run.sh
Due: auto add label=Example

add topic/gan_vocoder, test=doc_fix
  docs/topic/gan_vocoder/gan_vocoder.ipynb
Due: auto add label=Documentation

fix the test_wav,test=asr (#1148)
  examples/wenetspeech/asr1/local/test_wav.sh
  examples/wenetspeech/asr1/run.sh
Due: auto add label=Example

docs: add en docs (#1149)
  demos/speech_translation/README.md
  demos/speech_translation/README_cn.md
Due: auto add label=Demo, auto add label=README

add topic/gan_vocoder, test=doc_fix
  docs/topic/gan_vocoder/gan_vocoder.ipynb
  docs/topic/gan_vocoder/imgs/hifigan_dis.png
  docs/topic/gan_vocoder/imgs/hifigan_gen.png
  docs/topic/gan_vocoder/imgs/mb_melgan.png
  docs/topic/gan_vocoder/imgs/mel_loss.png
  docs/topic/gan_vocoder/imgs/melgan.png
  docs/topic/gan_vocoder/imgs/stft_loss_0.png
  docs/topic/gan_vocoder/imgs/stft_loss_1.png
  docs/topic/gan_vocoder/imgs/stft_loss_2.png
  docs/topic/gan_vocoder/imgs/style_melgan_TADE.png
  docs/topic/gan_vocoder/imgs/style_melgan_dis.png
  docs/topic/gan_vocoder/imgs/style_melgan_gen.png
Due: auto add label=Documentation

add topic/gan_vocoder, test=doc_fix
  docs/topic/gan_vocoder/gan_vocoder.ipynb
  docs/topic/gan_vocoder/imgs/pwg.png
  docs/topic/gan_vocoder/imgs/style_melgan_TADE.png
  docs/topic/gan_vocoder/imgs/style_melgan_dis.png
  docs/topic/gan_vocoder/imgs/style_melgan_gen.png
Due: auto add label=Documentation

test=update_readme, test=doc_fix
  README_cn.md
Due: none

Update README_cn.md
  README_cn.md
Due: none

Update README.md
  README.md
Due: auto add label=README
