Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=TextProcess, auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=TextProcess:
  label:
    add:
    - TextProcess

auto add label=Example:
  label:
    add:
    - Example

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

Update ctc_greedy_decoder.cpp
  third_party/ctc_decoders/ctc_greedy_decoder.cpp
Due: none

Update ctc_greedy_decoder.h
  third_party/ctc_decoders/ctc_greedy_decoder.h
Due: none

Update decoder_utils.cpp
  third_party/ctc_decoders/decoder_utils.cpp
Due: none

Update decoder_utils.h
  third_party/ctc_decoders/decoder_utils.h
Due: none

Update path_trie.cpp
  third_party/ctc_decoders/path_trie.cpp
Due: none

Update path_trie.h
  third_party/ctc_decoders/path_trie.h
Due: none

Update scorer.h
  third_party/ctc_decoders/scorer.h
Due: none

Update scorer.cpp
  third_party/ctc_decoders/scorer.cpp
Due: none

fix slice bug of speedyspeech expand, test=tts
  paddlespeech/t2s/models/speedyspeech/speedyspeech.py
Due: auto add label=T2S

fix slice bug of speedyspeech expand, test=tts (#1337)
  paddlespeech/t2s/models/speedyspeech/speedyspeech.py
Due: auto add label=T2S

[ctcdecoders]fix the licence (#1336)
  third_party/ctc_decoders/ctc_beam_search_decoder.cpp
  third_party/ctc_decoders/ctc_beam_search_decoder.h
  third_party/ctc_decoders/ctc_greedy_decoder.cpp
  third_party/ctc_decoders/ctc_greedy_decoder.h
  third_party/ctc_decoders/decoder_utils.cpp
  third_party/ctc_decoders/decoder_utils.h
  third_party/ctc_decoders/path_trie.cpp
  third_party/ctc_decoders/path_trie.h
  third_party/ctc_decoders/scorer.cpp
  third_party/ctc_decoders/scorer.h
Due: none

test=doc
  docs/topic/package_release/python_package_release.md
Due: auto add label=Documentation

test=doc_fix
  docs/topic/package_release/python_package_release.md
Due: auto add label=Documentation

uodate readme, test=doc
  docs/topic/package_release/python_package_release.md
Due: auto add label=Documentation

update version, test=doc
  setup.py
Due: auto add label=Installation

fix the u2 export, test=asr
  paddlespeech/s2t/exps/u2/model.py
Due: auto add label=S2T

Update python_package_release.md
  docs/topic/package_release/python_package_release.md
Due: auto add label=Documentation

[vector] add DER scripts to calculate Diarization Error Rate
  utils/DER.py
  utils/md-eval.pl
Due: none

dir arch
  .mergify.yml
  speechx/CMakeLists.txt
  speechx/docker/.gitkeep
  speechx/examples/.gitkeep
  speechx/speechx/CMakeLists.txt
  speechx/speechx/decoder/CMakeLists.txt
  speechx/speechx/frontend/CMakeLists.txt
  speechx/speechx/frontend/audio/CMakeLists.txt
  speechx/speechx/frontend/text/CMakeLists.txt
  speechx/speechx/kaldi/.gitkeep
  speechx/speechx/model/CMakeLists.txt
  speechx/speechx/protocol/CMakeLists.txt
  speechx/speechx/third_party/CMakeLists.txt
  speechx/speechx/utils/CMakeLists.txt
Due: auto add label=mergify

fix low ips bug of speedyspeech and fastspeech2, test=tts
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
  paddlespeech/t2s/models/speedyspeech/speedyspeech.py
  paddlespeech/t2s/modules/predictor/length_regulator.py
Due: auto add label=T2S

[vector] add AMI data preparation scripts
  dataset/ami/.gitignore
  dataset/ami/README.md
  dataset/ami/ami_prepare.py
  dataset/ami/ami_splits.py
  utils/dataio.py
Due: auto add label=README

[vector] add AMI data preparation scripts
  dataset/ami/ami_splits.py
  utils/DER.py
Due: none

beam search with optimality guarantees
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/models/u2_st/u2_st.py
Due: auto add label=S2T

config and formalize
  examples/ted_en_zh/st0/conf/tuning/decode.yaml
  examples/ted_en_zh/st1/conf/tuning/decode.yaml
  paddlespeech/s2t/models/u2_st/u2_st.py
Due: auto add label=S2T, auto add label=Example

sync the variable name to others
  examples/ted_en_zh/st0/conf/tuning/decode.yaml
  examples/ted_en_zh/st1/conf/tuning/decode.yaml
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/models/u2_st/u2_st.py
Due: auto add label=S2T, auto add label=Example

synchronize the version
  paddlespeech/__init__.py
  setup.py
Due: auto add label=Installation

update racotron2 and transformer tts, test=tts
  paddlespeech/t2s/models/new_tacotron2/tacotron2.py
  paddlespeech/t2s/models/new_tacotron2/tacotron2_updater.py
  paddlespeech/t2s/models/transformer_tts/transformer_tts.py
  paddlespeech/t2s/models/transformer_tts/transformer_tts_updater.py
  paddlespeech/t2s/modules/losses.py
Due: auto add label=T2S

dir arch (#1347)
  .mergify.yml
  speechx/CMakeLists.txt
  speechx/docker/.gitkeep
  speechx/examples/.gitkeep
  speechx/speechx/CMakeLists.txt
  speechx/speechx/decoder/CMakeLists.txt
  speechx/speechx/frontend/CMakeLists.txt
  speechx/speechx/frontend/audio/CMakeLists.txt
  speechx/speechx/frontend/text/CMakeLists.txt
  speechx/speechx/kaldi/.gitkeep
  speechx/speechx/model/CMakeLists.txt
  speechx/speechx/protocol/CMakeLists.txt
  speechx/speechx/third_party/CMakeLists.txt
  speechx/speechx/utils/CMakeLists.txt
Due: auto add label=mergify

fix low ips bug of speedyspeech and fastspeech2, test=tts (#1349)
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
  paddlespeech/t2s/models/speedyspeech/speedyspeech.py
  paddlespeech/t2s/modules/predictor/length_regulator.py
Due: auto add label=T2S

Add Deepspeech2 online and offline in cli
  paddlespeech/cli/asr/infer.py
Due: none

sid voxceleb1
  paddleaudio/backends/audio.py
  paddleaudio/features/spectrum.py
  paddlespeech/s2t/frontend/audio.py
  paddlespeech/s2t/frontend/augmentor/shift_perturb.py
  paddlespeech/s2t/frontend/featurizer/text_featurizer.py
  paddlespeech/s2t/frontend/speech.py
  paddlespeech/s2t/io/collator.py
  paddlespeech/s2t/io/dataset.py
  paddlespeech/s2t/io/labelencoder.py
  paddlespeech/s2t/training/trainer.py
  paddlespeech/sid/bin/trainer.py
  paddlespeech/sid/exps/ecapa-tdnn/train.py
  paddlespeech/sid/exps/xvector/train.py
  tests/unit/asr/test_feature.py
Due: auto add label=S2T

rm s2t:augmentation.md, test=doc
  docs/source/asr/augmentation.md
  docs/source/index.rst
Due: auto add label=Documentation

refactor the version
  paddlespeech/__init__.py
  setup.py
Due: auto add label=Installation

添加了模型,loss,optimizer等
  paddlespeech/sid/bin/trainer.py
  paddlespeech/sid/exps/ecapa-tdnn/train.py
  paddlespeech/vector/models/ecapa_tdnn.py
Due: none

[vector] add AMI data preparation scripts
  dataset/ami/ami_prepare.py
  dataset/ami/ami_splits.py
  dataset/ami/dataio.py
  paddlespeech/vector/utils/DER.py
  paddlespeech/vector/utils/md-eval.pl
Due: none

[vector] add AMI data preparation scripts
  dataset/ami/ami_prepare.py
Due: none

refactor the setup in paddleaudio
  paddleaudio/__init__.py
  paddlespeech/__init__.py
  setup.py
  setup_audio.py
Due: auto add label=Installation

fix fastspeech2 multi speaker to static, test=tts
  examples/aishell3/tts3/README.md
  examples/aishell3/tts3/local/synthesize_e2e.sh
  examples/vctk/tts3/README.md
  examples/vctk/tts3/local/synthesize_e2e.sh
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

fix fastspeech2 multi speaker to static, test=tts
  examples/aishell3/tts3/local/inference.sh
  examples/vctk/tts3/local/inference.sh
  paddlespeech/t2s/exps/inference.py
Due: auto add label=T2S, auto add label=Example

Path conditions:
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^audio/
  auto add label=TextProcess: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^docs/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
