Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

fix u2pp model
  docs/source/released_model.md
  paddlespeech/cli/asr/infer.py
  paddlespeech/resource/model_alias.py
  paddlespeech/resource/pretrained_models.py
Due: auto add label=CLI, auto add label=Documentation

Update README.md
  examples/wenetspeech/asr1/README.md
Due: auto add label=Example, auto add label=README

1.token配置不写死，2.text显示不乱码, test=asr
  paddlespeech/text/exps/ernie_linear/punc_restore.py
Due: auto add label=Text

fix scripts
  speechx/examples/u2pp_ol/wenetspeech/local/recognizer.sh
Due: auto add label=Deployment

Revised Rhythm Prediction Function 2, test=tts
  examples/other/rhy/README.md
Due: auto add label=Example, auto add label=README

Revised Rhythm Prediction Function 3, test=tts
  examples/other/rhy/README.md
Due: auto add label=Example, auto add label=README

Revised Rhythm Prediction Function 4, test=tts
  examples/other/rhy/README.md
Due: auto add label=Example, auto add label=README

Revised Rhythm Prediction Function 5, test=tts
  examples/other/rhy/README.md
Due: auto add label=Example, auto add label=README

Revised Rhythm Prediction Function 6, test=tts
  examples/other/rhy/README.md
  examples/other/rhy/local/pre_for_sp_aishell.py
  examples/other/rhy/local/pre_for_sp_csmsc.py
Due: auto add label=Example, auto add label=README

fix u2pp model (#2549)
  docs/source/released_model.md
  paddlespeech/cli/asr/infer.py
  paddlespeech/resource/model_alias.py
  paddlespeech/resource/pretrained_models.py
Due: auto add label=CLI, auto add label=Documentation

fix assembler buf, which not clear cache, and fill zero default
  speechx/examples/u2pp_ol/wenetspeech/local/recognizer.sh
  speechx/speechx/frontend/audio/assembler.cc
  speechx/speechx/frontend/audio/assembler.h
  speechx/speechx/frontend/audio/audio_cache.cc
  speechx/speechx/frontend/audio/audio_cache.h
  speechx/speechx/frontend/audio/feature_cache.cc
  speechx/speechx/frontend/audio/feature_cache.h
  speechx/speechx/nnet/u2_nnet.cc
  speechx/speechx/recognizer/u2_recognizer_main.cc
Due: auto add label=Deployment

fix review issue,test=tts
  paddlespeech/t2s/ssml/xml_processor.py
Due: auto add label=T2S

add readme thanks
  README.md
  README_cn.md
Due: auto add label=README

add space after punctions
  README.md
Due: auto add label=README

Revised Rhythm Prediction Function for naming regulation, test=tts
  examples/other/rhy/README.md
  examples/other/rhy/local/data.sh
Due: auto add label=Example, auto add label=README

Revised Rhythm Prediction Function, test=tts
  examples/other/rhy/run.sh
Due: auto add label=Example

fix uvicorn's version
  setup.py
Due: auto add label=Installation

fix uvicorn's bug
  paddlespeech/server/bin/paddlespeech_server.py
  setup.py
Due: auto add label=Server, auto add label=Installation

update u2pp result.md
  examples/wenetspeech/asr1/RESULTS.md
Due: auto add label=Example

add condition check if a ssml input and filter space line, test=tts
  paddlespeech/t2s/exps/syn_utils.py
Due: auto add label=T2S

fix topk bug which cause ctc score diff
  speechx/speechx/utils/math.cc
Due: auto add label=Deployment

more log
  speechx/examples/u2pp_ol/wenetspeech/local/recognizer.sh
  speechx/speechx/recognizer/u2_recognizer.h
Due: auto add label=Deployment

more debug info
  speechx/build.sh
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder.cc
  speechx/speechx/frontend/audio/assembler.cc
  speechx/speechx/frontend/audio/feature_cache.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/u2_nnet.cc
  speechx/speechx/recognizer/u2_recognizer.cc
  speechx/speechx/recognizer/u2_recognizer_main.cc
Due: auto add label=Deployment

update
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
  paddlespeech/t2s/modules/multi_speakers/__init__.py
Due: auto add label=T2S

fix delete char in wav end bug
  speechx/speechx/frontend/audio/assembler.cc
Due: auto add label=Deployment

Update README.md
  README.md
Due: auto add label=README

Update README_cn.md
  README_cn.md
Due: none

add fill zero opt for frontend
  speechx/speechx/decoder/param.h
  speechx/speechx/frontend/audio/assembler.cc
  speechx/speechx/frontend/audio/feature_pipeline.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/recognizer/recognizer.h
  speechx/speechx/recognizer/u2_recognizer.h
  speechx/speechx/recognizer/u2_recognizer_main.cc
Due: auto add label=Deployment

quant with wav scp
  examples/wenetspeech/asr1/local/quant.sh
  paddlespeech/s2t/exps/u2/bin/quant.py
Due: auto add label=S2T, auto add label=Example

format code
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder.h
  speechx/speechx/decoder/ctc_prefix_beam_search_score.h
  speechx/speechx/decoder/param.h
  speechx/speechx/frontend/audio/assembler.cc
  speechx/speechx/frontend/audio/assembler.h
  speechx/speechx/frontend/audio/audio_cache.cc
  speechx/speechx/frontend/audio/audio_cache.h
  speechx/speechx/frontend/audio/feature_cache.cc
  speechx/speechx/frontend/audio/feature_cache.h
  speechx/speechx/frontend/audio/feature_pipeline.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/u2_nnet.cc
  speechx/speechx/nnet/u2_nnet.h
  speechx/speechx/recognizer/u2_recognizer.cc
  speechx/speechx/recognizer/u2_recognizer.h
  speechx/speechx/recognizer/u2_recognizer_main.cc
  speechx/speechx/utils/math.cc
Due: auto add label=Deployment

format
  paddlespeech/s2t/exps/u2/bin/quant.py
Due: auto add label=S2T

fix as comment
  speechx/speechx/decoder/ctc_beam_search_opt.h
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder.h
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder_main.cc
  speechx/speechx/decoder/ctc_prefix_beam_search_score.h
  speechx/speechx/decoder/ctc_tlg_decoder.h
Due: auto add label=Deployment

add paddleslim
  setup.py
Due: auto add label=Installation

add quant hint
  examples/wenetspeech/asr1/run.sh
Due: auto add label=Example

fix as comment
  speechx/CMakeLists.txt
  speechx/README.md
  speechx/cmake/paddleinference.cmake
  speechx/examples/codelab/feat/run.sh
  speechx/examples/codelab/u2/local/decode.sh
  speechx/speechx/decoder/CMakeLists.txt
  speechx/speechx/decoder/ctc_beam_search_opt.h
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder.h
Due: auto add label=README, auto add label=Deployment

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
