Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=TextProcess, auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^audio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=TextProcess"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["TextProcess"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^docs/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechnn/
    actions:
      label:
        add: ["Deployment"]

fix shell pipe example
  README.md
Due: auto add label=README

add paddlespeech_server stats, test=doc
  paddlespeech/cli/stats/infer.py
  paddlespeech/server/bin/__init__.py
  paddlespeech/server/bin/paddlespeech_server.py
Due: none

[wip][vec] add clustering of vectors #1304
  examples/ami/sd0/local/ami_prepare.py
  examples/ami/sd0/local/ami_splits.py
  examples/ami/sd0/local/dataio.py
  examples/ami/sd0/local/diarization.py
Due: auto add label=Example

add rtf for synthesize, add more vocoder for synthesize_e2e.sh, test=tts
  examples/csmsc/tts0/local/synthesize.sh
  examples/csmsc/tts0/local/synthesize_e2e.sh
  examples/csmsc/tts2/local/synthesize.sh
  examples/csmsc/tts2/local/synthesize_e2e.sh
  examples/csmsc/tts3/local/synthesize.sh
  examples/csmsc/tts3/local/synthesize_e2e.sh
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/exps/wavernn/synthesize.py
  paddlespeech/t2s/models/melgan/melgan.py
  paddlespeech/t2s/models/wavernn/wavernn.py
Due: auto add label=T2S, auto add label=Example

add code annotation, test=tts
  examples/csmsc/tts0/local/synthesize.sh
  examples/csmsc/tts0/local/synthesize_e2e.sh
  examples/csmsc/tts2/local/synthesize.sh
  examples/csmsc/tts2/local/synthesize_e2e.sh
  examples/csmsc/tts3/local/synthesize.sh
  examples/csmsc/tts3/local/synthesize_e2e.sh
Due: auto add label=Example

update server cli, test=doc
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/speech_server/conf/application.yaml
  demos/speech_server/conf/asr/asr.yaml
  demos/speech_server/conf/asr/asr_pd.yaml
  demos/speech_server/conf/tts/tts.yaml
  demos/speech_server/conf/tts/tts_pd.yaml
  paddlespeech/cli/__init__.py
  paddlespeech/cli/tts/infer.py
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/conf/asr/asr.yaml
  paddlespeech/server/conf/asr/asr_pd.yaml
  paddlespeech/server/conf/tts/tts.yaml
  paddlespeech/server/conf/tts/tts_pd.yaml
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/python/asr_engine.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/tts_engine.py
  paddlespeech/server/restful/tts_api.py
  paddlespeech/server/utils/paddle_predictor.py
Due: auto add label=Demo, auto add label=README

Update README.md
  README.md
Due: auto add label=README

Update README_cn.md
  README_cn.md
Due: none

fix Speedyspeech multi-speaker inference, test=tts
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/models/speedyspeech/speedyspeech.py
Due: auto add label=T2S

update application.yaml, test=doc
  paddlespeech/server/conf/application.yaml
Due: none

update readme, test=doc
  README.md
  README_cn.md
Due: auto add label=README

Update readme, test=doc
  README.md
  README_cn.md
Due: auto add label=README

refactor
  paddleaudio/paddleaudio/__init__.py
  paddleaudio/paddleaudio/backends/__init__.py
  paddleaudio/paddleaudio/backends/soundfile_backend.py
  paddleaudio/paddleaudio/compliance/__init__.py
  paddleaudio/paddleaudio/compliance/kaldi.py
  paddleaudio/paddleaudio/compliance/librosa.py
  paddleaudio/paddleaudio/features/layers.py
  paddleaudio/paddleaudio/functional/__init__.py
  paddleaudio/paddleaudio/functional/functional.py
  paddleaudio/paddleaudio/io/__init__.py
  paddleaudio/paddleaudio/io/audio.py
Due: none

refactor
  paddleaudio/paddleaudio/compliance/kaldi.py
  paddleaudio/paddleaudio/datasets/__init__.py
  paddleaudio/paddleaudio/datasets/dataset.py
  paddleaudio/paddleaudio/features/__init__.py
  paddleaudio/paddleaudio/metric/mcd.py
Due: none

fix gbk encode bug
  paddlespeech/__init__.py
Due: none

align linear_feature & nnet
  speechx/CMakeLists.txt
  speechx/patch/CPPLINT.cfg
  speechx/patch/openfst/src/include/fst/flags.h
  speechx/patch/openfst/src/include/fst/log.h
  speechx/patch/openfst/src/lib/flags.cc
  speechx/speechx/CMakeLists.txt
  speechx/speechx/base/flags.h
  speechx/speechx/base/log.h
  speechx/speechx/codelab/decoder_test/offline_decoder_main.cc
  speechx/speechx/codelab/feat_test/linear_spectrogram_main.cc
  speechx/speechx/codelab/nnet_test/model_test.cc
  speechx/speechx/decoder/CMakeLists.txt
  speechx/speechx/frontend/CMakeLists.txt
  speechx/speechx/frontend/linear_spectrogram.cc
  speechx/speechx/frontend/normalizer.h
  speechx/speechx/kaldi/matrix/BUILD
  speechx/speechx/kaldi/matrix/CMakeLists.txt
  speechx/speechx/kaldi/matrix/kaldi-blas.h
  speechx/speechx/nnet/CMakeLists.txt
  speechx/speechx/nnet/decodable-itf.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/decodable.h
  speechx/speechx/nnet/nnet_interface.h
  speechx/speechx/nnet/paddle_nnet.cc
  speechx/speechx/nnet/paddle_nnet.h
  speechx/speechx/utils/file_utils.cc
Due: none

fix bug
  speechx/speechx/CMakeLists.txt
Due: none

add voxceleb1 data prepare
  dataset/voxceleb/voxceleb1.py
  examples/voxceleb/sv0/local/train.py
  examples/voxceleb/sv0/path.sh
  examples/voxceleb/sv0/run.sh
Due: auto add label=Example

remove personal code test=doc
  dataset/voxceleb/voxceleb1.py
  examples/voxceleb/sv0/local/train.py
  examples/voxceleb/sv0/run.sh
Due: auto add label=Example

repair the variable name bug
  examples/voxceleb/sv0/run.sh
Due: auto add label=Example

move the csv vox format to paddleaudio, test=doc
  dataset/voxceleb/voxceleb1.py
  paddleaudio/datasets/voxceleb.py
Due: none

add sid learning rate and training model
  examples/voxceleb/sv0/local/train.py
  paddlespeech/vector/layers/lr.py
  paddlespeech/vector/training/sid_model.py
Due: auto add label=Example

add sid loss wraper for voxceleb, test=doc
  examples/voxceleb/sv0/local/train.py
  paddleaudio/utils/download.py
  paddlespeech/vector/layers/loss.py
Due: auto add label=Example

add sid dataloader for training, test=doc
  examples/voxceleb/sv0/local/train.py
  paddlespeech/vector/datasets/batch.py
Due: auto add label=Example

refactor
  paddleaudio/paddleaudio/__init__.py
  paddleaudio/paddleaudio/features/layers.py
Due: none

Refactor and add doc string.
  paddleaudio/paddleaudio/compliance/kaldi.py
  paddleaudio/paddleaudio/features/layers.py
Due: none

add training process for sid, test=doc
  examples/voxceleb/sv0/local/train.py
  paddlespeech/vector/datasets/batch.py
Due: auto add label=Example

add build.sh & openblas
  speechx/CMakeLists.txt
  speechx/build.sh
  speechx/speechx/CMakeLists.txt
  speechx/speechx/kaldi/matrix/CMakeLists.txt
  speechx/speechx/kaldi/matrix/kaldi-blas.h
Due: none

add server test, test=doc
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  paddlespeech/server/conf/application.yaml
  tests/unit/server/change_yaml.py
  tests/unit/server/conf/application.yaml
  tests/unit/server/conf/asr/asr.yaml
  tests/unit/server/conf/asr/asr_pd.yaml
  tests/unit/server/conf/tts/tts.yaml
  tests/unit/server/conf/tts/tts_pd.yaml
  tests/unit/server/test_server_client.sh
Due: auto add label=Demo, auto add label=README

add usage, test=doc
  tests/unit/server/test_server_client.sh
Due: none

add training log info and comment, test=doc
  examples/voxceleb/sv0/local/train.py
  paddlespeech/vector/training/time.py
Due: auto add label=Example

add comment
  speechx/CMakeLists.txt
  speechx/build.sh
Due: none

Add reference and doc string.
  paddleaudio/paddleaudio/compliance/kaldi.py
  paddleaudio/paddleaudio/features/layers.py
  paddleaudio/paddleaudio/functional/functional.py
Due: none

Update README_cn.md
  demos/speech_server/README_cn.md
Due: auto add label=Demo

gitignore
  .gitignore
  demos/speech_server/.gitignore
Due: auto add label=Demo
