Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=enhancement:
  label:
    add:
    - enhancement

auto add label=Example:
  label:
    add:
    - Example

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

æå增加了chunk_by_chunk,初步测试å通过ã
  deepspeech/models/ds2_online/conv.py
  deepspeech/models/ds2_online/deepspeech2.py
  deepspeech/utils/log.py
  tests/deepspeech2_online_model_test.py
Due: auto add label=enhancement

fix the bug: can not use the CPU to test the model
  deepspeech/utils/log.py
Due: auto add label=enhancement

add strip for CUDA_VISIBLE_DEVICES
  deepspeech/utils/log.py
Due: auto add label=enhancement

ds2_online alignment, include prob_chunk_forward, prob_chunk_by_chunk_forward
  deepspeech/io/sampler.py
  deepspeech/models/ds2_online/deepspeech2.py
  tests/deepspeech2_online_model_test.py
Due: auto add label=enhancement

not change decoder
  deepspeech/models/ds2_online/deepspeech2.py
  tests/deepspeech2_online_model_test.py
Due: auto add label=enhancement

add dur utils
  examples/librispeech/s1/README.md
  examples/librispeech/s1/path.sh
  examples/librispeech/s1/utils
  setup.sh
  utils/duration_from_maniefst.sh
Due: auto add label=Example, auto add label=README, auto add label=Installation

format
  deepspeech/decoders/swig/setup.py
  deepspeech/models/ds2/__init__.py
  deepspeech/models/ds2/deepspeech2.py
  examples/callcenter/s1/README.md
  examples/librispeech/s1/README.md
Due: auto add label=enhancement, auto add label=Example, auto add label=README

complete model export for ds2_online
  deepspeech/exps/deepspeech2/bin/export.py
  deepspeech/exps/deepspeech2/bin/test.py
  deepspeech/exps/deepspeech2/bin/train.py
  deepspeech/exps/deepspeech2/config.py
  deepspeech/exps/deepspeech2/model.py
  deepspeech/models/ds2_online/conv.py
  deepspeech/models/ds2_online/deepspeech2.py
  examples/tiny/s0/run.sh
  examples/tiny/s0/run_online.sh
  tests/deepspeech2_model_test.py
  tests/deepspeech2_online_model_test.py
Due: auto add label=enhancement, auto add label=Example

setup.sh with tools/ make
  .gitignore
  examples/librispeech/s1/README.md
  setup.sh
Due: auto add label=Example, auto add label=README, auto add label=Installation

add u2 st
  deepspeech/exps/u2_st/__init__.py
  deepspeech/exps/u2_st/bin/export.py
  deepspeech/exps/u2_st/bin/test.py
  deepspeech/exps/u2_st/bin/train.py
  deepspeech/exps/u2_st/config.py
  deepspeech/exps/u2_st/model.py
Due: auto add label=enhancement

librispeech s2 for kaldi feat
  examples/librispeech/README.md
  examples/librispeech/s2/README.md
  examples/librispeech/s2/conf/augmentation.json
  examples/librispeech/s2/conf/chunk_conformer.yaml
  examples/librispeech/s2/conf/chunk_transformer.yaml
  examples/librispeech/s2/conf/conformer.yaml
  examples/librispeech/s2/conf/transformer.yaml
  examples/librispeech/s2/local/align.sh
  examples/librispeech/s2/local/data.sh
  examples/librispeech/s2/local/download_lm_en.sh
  examples/librispeech/s2/local/export.sh
  examples/librispeech/s2/local/test.sh
  examples/librispeech/s2/local/train.sh
  examples/librispeech/s2/path.sh
  examples/librispeech/s2/run.sh
  examples/librispeech/s2/utils
Due: auto add label=Example, auto add label=README

fixed the small problems
  deepspeech/exps/deepspeech2/bin/export.py
  deepspeech/exps/deepspeech2/bin/test.py
  deepspeech/exps/deepspeech2/bin/train.py
  deepspeech/exps/deepspeech2/config.py
  deepspeech/exps/deepspeech2/model.py
  deepspeech/models/ds2_online/deepspeech2.py
  examples/tiny/s0/local/export.sh
  examples/tiny/s0/local/test.sh
  examples/tiny/s0/local/train.sh
  examples/tiny/s0/run_online.sh
Due: auto add label=enhancement, auto add label=Example

reconstruct the rnn state, from list to tensor
  deepspeech/exps/deepspeech2/model.py
  deepspeech/models/ds2_online/deepspeech2.py
  tests/deepspeech2_online_model_test.py
Due: auto add label=enhancement

add collactor and evaluation code for ST
  deepspeech/exps/u2_st/model.py
  deepspeech/io/collator_st.py
  deepspeech/io/dataset.py
  deepspeech/models/u2_st.py
  deepspeech/utils/bleu_score.py
Due: auto add label=enhancement

script for TED-En-Zh translation
  examples/dataset/ted_en_zh/.gitignore
  examples/dataset/ted_en_zh/ted_en_zh.py
  examples/ted_en_zh/conf/transformer.yaml
  examples/ted_en_zh/conf/transformer_joint_noam.yaml
  examples/ted_en_zh/local/data.sh
  examples/ted_en_zh/local/test.sh
  examples/ted_en_zh/local/train.sh
  examples/ted_en_zh/path.sh
  examples/ted_en_zh/run.sh
  utils/build_vocab.py
  utils/format_triplet_data.py
Due: auto add label=Example

update readme
  examples/librispeech/README.md
  examples/librispeech/s2/README.md
Due: auto add label=Example, auto add label=README

update librispeech chunk conformer result
  examples/librispeech/s1/README.md
Due: auto add label=Example, auto add label=README

refine the code and correct yaml
  deepspeech/io/collator_st.py
  deepspeech/utils/bleu_score.py
  examples/dataset/ted_en_zh/ted_en_zh.py
  examples/ted_en_zh/conf/transformer_joint_noam.yaml
Due: auto add label=enhancement, auto add label=Example

refine the code
  deepspeech/io/collator_st.py
  deepspeech/utils/bleu_score.py
  examples/dataset/ted_en_zh/ted_en_zh.py
Due: auto add label=enhancement, auto add label=Example

correct yaml
  examples/ted_en_zh/conf/transformer_joint_noam.yaml
Due: auto add label=Example

reconstruct the export function and the run.sh in aishell and librispeech
  deepspeech/exps/deepspeech2/model.py
  deepspeech/models/ds2_online/deepspeech2.py
  examples/aishell/s0/local/export.sh
  examples/aishell/s0/local/test.sh
  examples/aishell/s0/local/train.sh
  examples/aishell/s0/run.sh
  examples/librispeech/s0/local/export.sh
  examples/librispeech/s0/local/test.sh
  examples/librispeech/s0/local/train.sh
  examples/librispeech/s0/run.sh
Due: auto add label=enhancement, auto add label=Example

Path conditions:
  auto add label=enhancement: any of: ^deepspeech/
  auto add label=Example: any of: ^examples/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
