Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

support hubert cli
  examples/librispeech/asr4/README.md
  paddlespeech/cli/ssl/infer.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/s2t/models/hubert/hubert_ASR.py
  paddlespeech/s2t/models/hubert/modules/__init__.py
  paddlespeech/s2t/models/hubert/modules/hubert_model.py
Due: auto add label=S2T, auto add label=Example, auto add label=CLI, auto add label=README

fix asr infer.py
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/ssl/infer.py
  paddlespeech/cli/whisper/infer.py
Due: auto add label=CLI

add readme.
  README.md
  README_cn.md
Due: auto add label=README

[ASR] Support Hubert, fintuned on the librispeech dataset (#3088)
  demos/speech_ssl/README.md
  demos/speech_ssl/README_cn.md
  docs/source/released_model.md
  examples/librispeech/asr4/README.md
  examples/librispeech/asr4/RESULTS.md
  examples/librispeech/asr4/cmd.sh
  examples/librispeech/asr4/conf/config.json
  examples/librispeech/asr4/conf/hubertASR.yaml
  examples/librispeech/asr4/conf/preprocess.yaml
  examples/librispeech/asr4/conf/preprocessor_config.json
  examples/librispeech/asr4/conf/tuning/decode.yaml
  examples/librispeech/asr4/local/data.sh
  examples/librispeech/asr4/local/test.sh
  examples/librispeech/asr4/local/test_wav.sh
  examples/librispeech/asr4/local/train.sh
  examples/librispeech/asr4/path.sh
  examples/librispeech/asr4/run.sh
  examples/librispeech/asr4/utils
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/ssl/infer.py
  paddlespeech/resource/model_alias.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/s2t/exps/hubert/__init__.py
  paddlespeech/s2t/exps/hubert/bin/__init__.py
  paddlespeech/s2t/exps/hubert/bin/test.py
  paddlespeech/s2t/exps/hubert/bin/test_wav.py
  paddlespeech/s2t/exps/hubert/bin/train.py
  paddlespeech/s2t/exps/hubert/model.py
  paddlespeech/s2t/models/hubert/__init__.py
  paddlespeech/s2t/models/hubert/hubert_ASR.py
  paddlespeech/s2t/models/hubert/modules/__init__.py
  paddlespeech/s2t/models/hubert/modules/hubert_model.py
  paddlespeech/s2t/models/wav2vec2/modules/wav2vec2_model.py
Due: auto add label=S2T, auto add label=Example, auto add label=CLI, auto add label=Demo, auto add label=README, auto add label=Documentation

[ASR] fix asr 0-d tensor. (#3214)
  README.md
  README_cn.md
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/ssl/infer.py
  paddlespeech/cli/whisper/infer.py
Due: auto add label=CLI, auto add label=README

Update README.md
  README.md
Due: auto add label=README

fix: 🐛 fix python ASREngine not pass codeswitch
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/speech_server/conf/conformer_talcs_application.yaml
  paddlespeech/server/engine/asr/python/asr_engine.py
Due: auto add label=Server, auto add label=Demo, auto add label=README

docs: 📝 Update Docs
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
Due: auto add label=Demo, auto add label=README

修改模型判断方式
  paddlespeech/server/engine/asr/python/asr_engine.py
Due: auto add label=Server

修复启动时numpy报错
  setup.py
Due: auto add label=Installation

fix: 🐛 修复服务端 python ASREngine 无法使用conformer_talcs模型 (#3230)
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/speech_server/conf/conformer_talcs_application.yaml
  paddlespeech/server/engine/asr/python/asr_engine.py
Due: auto add label=Server, auto add label=Demo, auto add label=README

Adding WavLM implementation
  examples/librispeech/asr5/README.md
  examples/librispeech/asr5/RESULTS.md
  examples/librispeech/asr5/avg.sh
  examples/librispeech/asr5/avg_model.py
  examples/librispeech/asr5/cmd.sh
  examples/librispeech/asr5/compute_wer.py
  examples/librispeech/asr5/conf/preprocess.yaml
  examples/librispeech/asr5/conf/preprocessor_config.json
  examples/librispeech/asr5/conf/tuning/decode.yaml
  examples/librispeech/asr5/conf/wavlmASR.yaml
  examples/librispeech/asr5/format_rsl.py
  examples/librispeech/asr5/local/data.sh
  examples/librispeech/asr5/local/test.sh
  examples/librispeech/asr5/local/test_wav.sh
  examples/librispeech/asr5/local/train.sh
  examples/librispeech/asr5/path.sh
  examples/librispeech/asr5/run.sh
  examples/librispeech/asr5/test.profile
  examples/librispeech/asr5/utils
  paddlespeech/s2t/exps/wavlm/__init__.py
  paddlespeech/s2t/exps/wavlm/bin/__init__.py
  paddlespeech/s2t/exps/wavlm/bin/test.py
  paddlespeech/s2t/exps/wavlm/bin/test_wav.py
  paddlespeech/s2t/exps/wavlm/bin/train.py
  paddlespeech/s2t/exps/wavlm/model.py
  paddlespeech/s2t/models/wavlm/modules/__init__.py
  paddlespeech/s2t/models/wavlm/modules/activations.py
  paddlespeech/s2t/models/wavlm/modules/conv_layers.py
  paddlespeech/s2t/models/wavlm/modules/functional.py
  paddlespeech/s2t/models/wavlm/modules/modules.py
  paddlespeech/s2t/models/wavlm/processing/__init__.py
  paddlespeech/s2t/models/wavlm/processing/signal_processing.py
  paddlespeech/s2t/models/wavlm/processing/speech_augmentation.py
  paddlespeech/s2t/models/wavlm/wavlm_asr.py
  paddlespeech/s2t/models/wavlm/wavlm_paddle.py
Due: auto add label=S2T, auto add label=Example, auto add label=README

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

fix model m5s
  paddlespeech/resource/pretrained_models.py
Due: none

Code clean up according to comments in https://github.com/PaddlePaddle/PaddleSpeech/pull/3242
  examples/librispeech/asr5/README.md
  examples/librispeech/asr5/RESULTS.md
  examples/librispeech/asr5/avg_model.py
  examples/librispeech/asr5/test.profile
  paddlespeech/s2t/exps/wavlm/bin/test.py
  paddlespeech/s2t/exps/wavlm/bin/train.py
  paddlespeech/s2t/models/wavlm/modules/conv_layers.py
  paddlespeech/s2t/models/wavlm/processing/__init__.py
  paddlespeech/s2t/models/wavlm/processing/signal_processing.py
  paddlespeech/s2t/models/wavlm/processing/speech_augmentation.py
Due: auto add label=S2T, auto add label=Example, auto add label=README

fix error in tts/st
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/tts/infer.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
  paddlespeech/t2s/modules/nets_utils.py
Due: auto add label=T2S, auto add label=CLI

Changed the path for the uploaded weight
  examples/librispeech/asr5/conf/wavlmASR.yaml
  examples/librispeech/asr5/local/data.sh
Due: auto add label=Example

Update phonecode.py
  paddlespeech/t2s/frontend/zh_normalization/phonecode.py
Due: auto add label=T2S

Adapted wavlmASR model to pretrained weights and CLI
  examples/librispeech/asr5/README.md
  paddlespeech/resource/model_alias.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/s2t/models/wavlm/__init__.py
Due: auto add label=S2T, auto add label=Example, auto add label=README

Changed the MD5 of the pretrained tar file due to bug fixes
  paddlespeech/resource/pretrained_models.py
Due: none

Deleted examples/librispeech/asr5/format_rsl.py
  examples/librispeech/asr5/format_rsl.py
Due: auto add label=Example

Update released_model.md
  docs/source/released_model.md
Due: auto add label=Documentation

Update setup.py
  setup.py
Due: auto add label=Installation

Code clean up for CIs
  paddlespeech/s2t/models/wavlm/modules/functional.py
  paddlespeech/s2t/models/wavlm/modules/modules.py
  paddlespeech/s2t/models/wavlm/wavlm_paddle.py
Due: auto add label=S2T

Fixed the transpose usages ignored before
  paddlespeech/s2t/models/wavlm/modules/modules.py
Due: auto add label=S2T

refactor mfa scripts
  examples/other/mfa/local/detect_oov.py
  examples/other/mfa/local/generate_canton_lexicon_wavlabs.py
  examples/other/mfa/local/generate_lexicon.py
  examples/other/mfa/local/reorganize_aishell3.py
  examples/other/mfa/local/reorganize_baker.py
  examples/other/mfa/local/reorganize_ljspeech.py
  examples/other/mfa/local/reorganize_vctk.py
  examples/other/mfa/run.sh
  examples/other/mfa/run_canton.sh
  examples/other/spm/README.md
Due: auto add label=Example, auto add label=README

Final cleaning; Modified SSL/infer.py and README for wavlm inclusion in model options
  demos/speech_ssl/README.md
  demos/speech_ssl/README_cn.md
  examples/librispeech/asr5/run.sh
  paddlespeech/cli/ssl/infer.py
  paddlespeech/s2t/exps/wavlm/bin/test_wav.py
Due: auto add label=S2T, auto add label=Example, auto add label=CLI, auto add label=Demo, auto add label=README

upgrade librosa to 0.10.0
  audio/setup.py
  setup.py
Due: auto add label=Installation

Update setup.py
  audio/setup.py
Due: none

updating readme and readme_cn
  README.md
  README_cn.md
Due: auto add label=README

remove tsinghua pypi
  tests/test_tipc/prepare.sh
Due: auto add label=Test

Update setup.py (#3294)
  audio/setup.py
Due: none

refactor rhy
  examples/other/rhy/local/pre_for_sp_aishell.py
  examples/other/rhy/local/pre_for_sp_csmsc.py
  examples/other/rhy/run.sh
  paddlespeech/text/exps/ernie_linear/train.py
Due: auto add label=Text, auto add label=Example

add dtype param for arange API.
  paddlespeech/s2t/models/wav2vec2/processing/speech_augmentation.py
  paddlespeech/vector/io/augment.py
Due: auto add label=S2T, auto add label=Vector

fix ckpt
  examples/other/rhy/run.sh
Due: auto add label=Example

add dtype param for arange API. (#3302)
  paddlespeech/s2t/models/wav2vec2/processing/speech_augmentation.py
  paddlespeech/vector/io/augment.py
Due: auto add label=S2T, auto add label=Vector
