Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

中英文文档保持一致
  examples/csmsc/tts3/README.md
Due: auto add label=Example, auto add label=README

update README.md
  examples/aishell3_vctk/ernie_sat/README.md
Due: auto add label=Example, auto add label=README

update the stage of run.sh and synthesize_e2e.sh, to be clear
  examples/aishell3/ernie_sat/README.md
Due: auto add label=Example, auto add label=README

fix the README.md
  examples/aishell3_vctk/ernie_sat/README.md
Due: auto add label=Example, auto add label=README

fix
  paddlespeech/audiotools/core/_julius.py
Due: none

fix the md
  examples/aishell3/ernie_sat/README.md
Due: auto add label=Example, auto add label=README

fix docs
  examples/aishell/asr1/run.sh
  examples/csmsc/tts0/README.md
  examples/csmsc/tts0/local/synthesize.sh
  examples/csmsc/tts0/local/synthesize_e2e.sh
  examples/csmsc/tts0/run.sh
  examples/csmsc/tts3/README.md
  examples/csmsc/tts3/README_cn.md
  examples/csmsc/tts3/local/synthesize.sh
  examples/csmsc/tts3/local/synthesize_e2e.sh
  examples/csmsc/tts3/run.sh
Due: auto add label=Example, auto add label=README

fix pwgan
  examples/csmsc/voc1/local/synthesize.sh
  examples/csmsc/voc1/local/synthesize_e2e.sh
Due: auto add label=Example

fix
  examples/aishell3/tts3/README.md
  examples/aishell3/tts3/local/synthesize.sh
  examples/aishell3/tts3/local/synthesize_e2e.sh
  examples/aishell3/tts3/run.sh
  examples/aishell3_vctk/ernie_sat/run.sh
  examples/canton/tts3/local/synthesize_e2e.sh
  examples/canton/tts3/run.sh
  examples/csmsc/tts2/README.md
  examples/csmsc/tts2/local/synthesize.sh
  examples/csmsc/tts2/local/synthesize_e2e.sh
  examples/csmsc/tts2/run.sh
  examples/csmsc/tts3/local/synthesize.sh
  examples/csmsc/tts3_rhy/local/synthesize_e2e.sh
  examples/csmsc/tts3_rhy/run.sh
  examples/ljspeech/tts3/README.md
  examples/ljspeech/tts3/local/synthesize.sh
  examples/ljspeech/tts3/local/synthesize_e2e.sh
  examples/ljspeech/tts3/run.sh
  examples/opencpop/svs1/README.md
  examples/opencpop/svs1/README_cn.md
  examples/opencpop/svs1/local/synthesize_e2e.sh
  examples/opencpop/svs1/run.sh
  examples/vctk/ernie_sat/README.md
  examples/vctk/ernie_sat/run.sh
  examples/vctk/tts3/README.md
  examples/vctk/tts3/local/synthesize.sh
  examples/vctk/tts3/local/synthesize_e2e.sh
  examples/vctk/tts3/run.sh
Due: auto add label=Example, auto add label=README

fix
  examples/aishell3_vctk/ernie_sat/run.sh
  examples/csmsc/tts3/README.md
Due: auto add label=Example, auto add label=README

fix
  paddlespeech/t2s/modules/tacotron2/attentions.py
Due: auto add label=T2S

test ci
  paddlespeech/t2s/modules/tacotron2/attentions.py
Due: auto add label=T2S

update docker
  paddlespeech/t2s/modules/tacotron2/attentions.py
  tools/Dockerfile
Due: auto add label=T2S, auto add label=Installation

fix
  tools/Dockerfile
Due: auto add label=Installation

fix
  tests/unit/ci.sh
Due: auto add label=Test

fix
  paddlespeech/t2s/modules/tacotron2/attentions.py
  tests/unit/server/offline/test_server_client.sh
  tools/Dockerfile
Due: auto add label=T2S, auto add label=Installation, auto add label=Test

fix
  tests/unit/server/offline/test_server_client.sh
Due: auto add label=Test

remove server
  tests/unit/ci.sh
Due: auto add label=Test

Add execution permission
  examples/csmsc/voc1/local/synthesize_e2e.sh
  examples/csmsc/voc3/local/synthesize_e2e.sh
  examples/csmsc/voc5/local/synthesize_e2e.sh
Due: auto add label=Example

fix doc
  examples/csmsc/voc1/local/synthesize_e2e.sh
  tests/unit/ci.sh
Due: auto add label=Example, auto add label=Test

fix
  examples/csmsc/voc1/local/synthesize_e2e.sh
  tests/unit/ci.sh
Due: auto add label=Example, auto add label=Test

Add initial skeleton for Descript-Audio-Codec (DAC) implementation
  examples/audio/codec/dac/conf/default.yaml
  examples/audio/codec/dac/evaluate.py
  examples/audio/codec/dac/infer.py
  examples/audio/codec/dac/train.py
  paddlespeech/audio/codec/__init__.py
  paddlespeech/audio/codec/dac/README.md
  paddlespeech/audio/codec/dac/__init__.py
  paddlespeech/audio/codec/dac/evaluator.py
  paddlespeech/audio/codec/dac/inferencer.py
  paddlespeech/audio/codec/dac/model.py
  paddlespeech/audio/codec/dac/processor.py
  paddlespeech/audio/codec/dac/trainer.py
Due: auto add label=Example, auto add label=README

Add Whisper fine-tuning implementation for Common Voice dataset with trainer, dataset, evaluation, and CLI tools
  examples/commonvoice/whisper/README.md
  examples/commonvoice/whisper/conf/whisper_base.yaml
  examples/commonvoice/whisper/evaluate.py
  examples/commonvoice/whisper/export_model.py
  examples/commonvoice/whisper/infer.py
  examples/commonvoice/whisper/prepare_data.py
  examples/commonvoice/whisper/train.py
  examples/commonvoice/whisper/visualize.py
  examples/commonvoice/whisper/whisper_cli.py
  paddlespeech/s2t/models/whisper/fine_tune/__init__.py
  paddlespeech/s2t/models/whisper/fine_tune/dataset.py
  paddlespeech/s2t/models/whisper/fine_tune/trainer.py
  paddlespeech/s2t/models/whisper/fine_tune/utils.py
Due: auto add label=S2T, auto add label=Example, auto add label=README

bug fix for python/tts_engine.py librosa.resample when librosa >=0.9.0
  paddlespeech/server/engine/tts/python/tts_engine.py
Due: auto add label=Server

Feat: npu supported for default model
  .gitignore
  paddlespeech/audio/compliance/kaldi.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/t2s/exps/syn_utils.py
Due: auto add label=T2S, auto add label=CLI

Feat: npu supported for 'vector'
  paddlespeech/vector/models/ecapa_tdnn.py
Due: auto add label=Vector

typo
  paddlespeech/audio/compliance/kaldi.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/t2s/exps/syn_utils.py
Due: auto add label=T2S, auto add label=CLI

bugfix-librosa.resample-args
  paddlespeech/server/engine/tts/python/tts_engine.py
Due: auto add label=Server

增加speech_web项目docker部署方式
  demos/speech_web/Dockerfile
Due: auto add label=Demo

whisper large v3
  paddlespeech/cli/whisper/infer.py
  paddlespeech/s2t/exps/whisper/test_wav.py
  paddlespeech/s2t/models/whisper/tokenizer.py
  paddlespeech/s2t/models/whisper/whisper.py
Due: auto add label=S2T, auto add label=CLI

add convert.py
  convert_torch2paddle.py
Due: none

add chunk conformer model for tal_cs dataset.
  demos/streaming_asr_server/conf/ws_conformer_talcs_application.yaml
  paddlespeech/resource/pretrained_models.py
  paddlespeech/server/engine/asr/online/python/asr_engine.py
Due: auto add label=Server, auto add label=Demo

add doc
  README.md
  README_cn.md
  examples/tal_cs/asr1/RESULTS.md
Due: auto add label=Example, auto add label=README

fix the dataclass error when python version >= 3.11
  paddlespeech/server/engine/asr/online/ctc_endpoint.py
Due: auto add label=Server

mv nlp tokenizer to tiktoken.
  paddlespeech/cli/whisper/infer.py
  paddlespeech/s2t/models/whisper/tokenizer.py
  paddlespeech/s2t/models/whisper/whisper.py
  setup.py
Due: auto add label=S2T, auto add label=CLI, auto add label=Installation

fix bug
  paddlespeech/s2t/exps/whisper/test_wav.py
  paddlespeech/s2t/models/whisper/whisper.py
Due: auto add label=S2T

remove convert.py
  convert_torch2paddle.py
  paddlespeech/cli/whisper/infer.py
Due: auto add label=CLI

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
