Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=TextProcess, auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^audio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=TextProcess"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["TextProcess"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^docs/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechnn/
    actions:
      label:
        add: ["Deployment"]

add dist_sampler args, test=asr
  examples/aishell/asr1/conf/chunk_conformer.yaml
  examples/aishell/asr1/conf/conformer.yaml
  examples/aishell/asr1/conf/transformer.yaml
  paddlespeech/s2t/models/u2/u2.py
Due: auto add label=S2T, auto add label=Example

update readme for ljspeech hifigan, test=tts
  examples/ljspeech/tts3/local/synthesize.sh
  examples/ljspeech/tts3/local/synthesize_e2e.sh
Due: auto add label=Example

fix some bug, test=asr
  examples/aishell/asr1/conf/conformer.yaml
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/modules/initializer.py
Due: auto add label=S2T, auto add label=Example

[wip][vec] update insert picture, test=doc #1543
  demos/audio_searching/README.md
  demos/audio_searching/README_cn.md
  demos/audio_searching/img/insert.png
Due: auto add label=Demo, auto add label=README

Build docs for PaddleAudio.
  paddleaudio/docs/Makefile
  paddleaudio/docs/README.md
  paddleaudio/docs/images/paddle.png
  paddleaudio/docs/make.bat
  paddleaudio/docs/source/_static/custom.css
  paddleaudio/docs/source/_templates/module.rst_t
  paddleaudio/docs/source/_templates/package.rst_t
  paddleaudio/docs/source/_templates/toc.rst_t
  paddleaudio/docs/source/conf.py
  paddleaudio/docs/source/index.rst
  paddleaudio/paddleaudio/metric/dtw.py
  paddleaudio/paddleaudio/metric/mcd.py
Due: auto add label=README

update the release_models.md, test=doc
  docs/source/released_model.md
Due: auto add label=Documentation

fix conformer benchmark data
  tests/test_tipc/prepare.sh
Due: none

Update RESULTS.md
  examples/aishell/asr1/RESULTS.md
Due: auto add label=Example

[NPU] test TransformerTTS with NPU
  paddlespeech/t2s/exps/transformer_tts/train.py
Due: auto add label=T2S

add voxceleb dataset and trial info, test=doc
  examples/voxceleb/README.md
Due: auto add label=Example, auto add label=README

test=doc
  examples/aishell/asr1/RESULTS.md
Due: auto add label=Example

[Doc] Updata doc
  examples/aishell/asr1/README.md
Due: auto add label=Example, auto add label=README

refactor the data prepare process
  examples/voxceleb/sv0/local/data.sh
Due: auto add label=Example

fix compliance test bug, and format
  .gitignore
  demos/audio_searching/requirements.txt
  demos/audio_searching/src/config.py
  demos/audio_searching/src/logs.py
  demos/audio_searching/src/operations/load.py
  examples/ami/sd0/local/ami_prepare.py
  paddleaudio/.gitignore
  paddleaudio/docs/README.md
  paddleaudio/docs/source/conf.py
  paddleaudio/paddleaudio/compliance/__init__.py
  paddleaudio/paddleaudio/metric/mcd.py
  paddlespeech/t2s/frontend/zh_normalization/chronology.py
  paddlespeech/vector/cluster/diarization.py
Due: auto add label=T2S, auto add label=Example, auto add label=Demo, auto add label=README

fix audio search reqirement, test=doc
  demos/audio_searching/requirements.txt
Due: auto add label=Demo

fix normalizer bug
  speechx/speechx/frontend/normalizer.cc
Due: none

update readme for ljspeech hifigan, test=tts
  CHANGELOG.md
  docs/source/released_model.md
  examples/ljspeech/voc5/README.md
  paddlespeech/cli/tts/infer.py
  tests/unit/cli/test_cli.sh
Due: auto add label=Example, auto add label=README, auto add label=Documentation

fix dtype of window of stft, test=tts
  paddlespeech/t2s/modules/losses.py
Due: auto add label=T2S

add vectorwrapper to extract audio embedding
  dataset/voxceleb/voxceleb1.py
  dataset/voxceleb/voxceleb2.py
  paddlespeech/vector/exps/ecapa_tdnn/extract_emb.py
Due: none

add vector cli unit test, test=doc
  paddlespeech/cli/vector/infer.py
  tests/unit/cli/test_cli.sh
Due: none

update release_model.md, test=doc
  docs/source/released_model.md
Due: auto add label=Documentation

add vector cli batch and pipeline test demo, test=doc
  paddlespeech/vector/exps/ecapa_tdnn/extract_emb.py
  tests/unit/cli/test_cli.sh
Due: none

remove debug info, test=doc
  tests/unit/cli/test_cli.sh
Due: none

add the vec cli test audio name, test=doc
  tests/unit/cli/test_cli.sh
Due: none

update readme, test=doc
  README.md
  README_cn.md
Due: auto add label=README

update readme, test=doc
  paddlespeech/server/README.md
  paddlespeech/server/README_cn.md
Due: auto add label=README

update readme, test=doc
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
Due: auto add label=Demo, auto add label=README

update readme, test=doc
  demos/speech_server/README.md
Due: auto add label=Demo, auto add label=README

add speaker verification demo and doc, test=doc
  README.md
  README_cn.md
  demos/speaker_verification/README.md
  demos/speaker_verification/README_cn.md
  demos/speaker_verification/run.sh
  docs/source/released_model.md
  examples/voxceleb/sv0/RESULT.md
  paddlespeech/cli/README.md
  paddlespeech/cli/README_cn.md
Due: auto add label=Example, auto add label=Demo, auto add label=README, auto add label=Documentation

remove incorrect doc, test=doc
  demos/speaker_verification/README.md
  demos/speaker_verification/README_cn.md
  docs/source/released_model.md
Due: auto add label=Demo, auto add label=README, auto add label=Documentation

repari the cls mode url, test=doc
  docs/source/released_model.md
Due: auto add label=Documentation

add vector cli annotation, test=doc
  demos/speaker_verification/README_cn.md
  paddlespeech/cli/vector/infer.py
Due: auto add label=Demo

add mode emb dim info, test=doc
  examples/voxceleb/sv0/RESULT.md
Due: auto add label=Example

vector cli output dim info, test=doc
  demos/speaker_verification/README.md
  demos/speaker_verification/README_cn.md
  examples/voxceleb/sv0/RESULT.md
  paddlespeech/cli/vector/infer.py
Due: auto add label=Example, auto add label=Demo, auto add label=README

add some vector cli comments, test=doc
  paddlespeech/cli/vector/infer.py
Due: none

[vec][search] update to paddlespeech model test=doc #1608
  demos/audio_searching/README.md
  demos/audio_searching/README_cn.md
  demos/audio_searching/requirements.txt
  demos/audio_searching/src/config.py
  demos/audio_searching/src/encode.py
  demos/audio_searching/src/test_main.py
  paddlespeech/cli/vector/infer.py
Due: auto add label=Demo, auto add label=README

add paddlespeech vector modules __init__.py
  demos/speaker_verification/README.md
  demos/speaker_verification/README_cn.md
  paddlespeech/vector/cluster/__init__.py
  paddlespeech/vector/io/__init__.py
  paddlespeech/vector/modules/__init__.py
  paddlespeech/vector/training/__init__.py
  paddlespeech/vector/utils/__init__.py
Due: auto add label=Demo, auto add label=README

Update README.md
  README.md
Due: auto add label=README
