Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

Update README.md
  README.md
Due: auto add label=README

fix win len in ds2 server
  demos/streaming_asr_server/conf/ws_ds2_application.yaml
  paddlespeech/server/conf/ws_application.yaml
Due: auto add label=Server, auto add label=Demo

Update install_cn.md
  docs/source/install_cn.md
Due: auto add label=Documentation

Update install.md
  docs/source/install.md
Due: auto add label=Documentation

ds2 wenetspeech to onnx and support streaming asr server
  demos/streaming_asr_server/.gitignore
  demos/streaming_asr_server/conf/ws_ds2_application.yaml
  demos/streaming_asr_server/local/rtf_from_log.py
  demos/streaming_asr_server/local/test.sh
  demos/streaming_asr_server/local/websocket_client.py
  paddlespeech/cli/utils.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/server/conf/ws_ds2_application.yaml
  paddlespeech/server/engine/asr/online/onnx/__init__.py
  paddlespeech/server/engine/asr/online/paddleinference/__init__.py
  paddlespeech/server/engine/asr/online/python/__init__.py
  speechx/examples/ds2_ol/onnx/README.md
  speechx/examples/ds2_ol/onnx/local/onnx_infer_shape.py
  speechx/examples/ds2_ol/onnx/local/ort_opt.py
  speechx/examples/ds2_ol/onnx/run.sh
Due: auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Deployment

fix window ms config
  demos/streaming_asr_server/conf/ws_ds2_application.yaml
  demos/streaming_asr_server/local/websocket_client.py
  demos/streaming_asr_server/test.sh
  paddlespeech/server/conf/ws_ds2_application.yaml
Due: auto add label=Server, auto add label=Demo

Fix circular import error in paddlespeech.cli.utils and paddlespeech.audio
  paddlespeech/audio/utils/__init__.py
  paddlespeech/cli/utils.py
  paddlespeech/resource/resource.py
  paddlespeech/server/engine/asr/online/onnx/asr_engine.py
  paddlespeech/server/engine/asr/online/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/online/python/asr_engine.py
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
Due: auto add label=CLI, auto add label=Server

Fix circular import error in paddlespeech.cli.utils and paddlespeech.audio
  paddlespeech/utils/env.py
Due: none

remove error url for paddlepaddle
  demos/speech_web/README_cn.md
Due: auto add label=Demo

Fix circular import error in paddlespeech.cli.utils and paddlespeech.audio
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cls/models/panns/panns.py
Due: auto add label=CLI

support onnx quantize
  demos/streaming_asr_server/conf/ws_ds2_application.yaml
  paddlespeech/server/conf/ws_ds2_application.yaml
  speechx/examples/ds2_ol/onnx/README.md
  speechx/examples/ds2_ol/onnx/local/onnx_convert_opset.py
  speechx/examples/ds2_ol/onnx/local/ort_dyanmic_quant.py
  speechx/examples/ds2_ol/onnx/local/tonnx.sh
  speechx/examples/ds2_ol/onnx/run.sh
Due: auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Deployment

format code
  speechx/examples/ds2_ol/onnx/README.md
  speechx/examples/ds2_ol/onnx/local/onnx_convert_opset.py
  speechx/examples/ds2_ol/onnx/local/onnx_infer_shape.py
  speechx/examples/ds2_ol/onnx/local/ort_dyanmic_quant.py
Due: auto add label=README, auto add label=Deployment

add release and resource
  docs/source/released_model.md
  paddlespeech/resource/pretrained_models.py
Due: auto add label=Documentation

del dead link
  demos/speech_web/web_client/README.md
Due: auto add label=Demo, auto add label=README

add kaldi fbank to paddleaudio
  audio/CMakeLists.txt
  audio/kaldi_frontend/CMakeLists.txt
  audio/kaldi_frontend/feature_common.h
  audio/kaldi_frontend/feature_common_inl.h
  audio/kaldi_frontend/kaldi_feature.cc
  audio/kaldi_frontend/kaldi_feature.h
  audio/kaldi_frontend/kaldi_feature_wrapper.cc
  audio/kaldi_frontend/kaldi_feature_wrapper.h
  audio/third_party/CMakeLists.txt
  audio/third_party/kaldi/CMakeLists.txt
  speechx/speechx/kaldi/base/kaldi-types.h
Due: auto add label=Deployment

rm kaldi_frontend_main
  audio/kaldi_frontend/CMakeLists.txt
Due: none

fix rtf bug
  demos/streaming_asr_server/local/rtf_from_log.py
  demos/streaming_asr_server/local/websocket_client.py
Due: auto add label=Demo

add ernie sat inference, test=tts
  examples/aishell3/ernie_sat/README.md
  examples/aishell3_vctk/README.md
  examples/aishell3_vctk/ernie_sat/README.md
  examples/ernie_sat/.meta/framework.png
  examples/ernie_sat/README.md
  examples/ernie_sat/local/align.py
  examples/ernie_sat/local/inference.py
  examples/ernie_sat/local/sedit_arg_parser.py
  examples/ernie_sat/local/utils.py
  examples/ernie_sat/path.sh
  examples/ernie_sat/prompt/dev/text
  examples/ernie_sat/prompt/dev/wav.scp
  examples/ernie_sat/run_clone_en_to_zh.sh
  examples/ernie_sat/run_gen_en.sh
  examples/ernie_sat/run_sedit_en.sh
  examples/ernie_sat/test_run.sh
  examples/ernie_sat/tools/.gitkeep
  examples/vctk/ernie_sat/README.md
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/models/ernie_sat/__init__.py
  paddlespeech/t2s/models/ernie_sat/mlm.py
  paddlespeech/t2s/modules/losses.py
  paddlespeech/t2s/modules/nets_utils.py
  paddlespeech/t2s/modules/transformer/attention.py
  paddlespeech/t2s/modules/transformer/embedding.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

Update README_cn.md
  README_cn.md
Due: none

update setup
  setup.py
Due: auto add label=Installation

rename to audio
  audio/.gitignore
  audio/CMakeLists.txt
  audio/audio/csrc/CMakeLists.txt
  audio/audio/csrc/pybind/pybind.cpp
  audio/audio/csrc/pybind/sox/io.cpp
  audio/audio/csrc/pybind/sox/io.h
  audio/audio/csrc/pybind/sox/utils.cpp
  audio/audio/csrc/pybind/sox/utils.h
  audio/paddleaudio/csrc/pybind/pybind.cpp
  audio/paddleaudio/csrc/pybind/sox/io.h
Due: none

put audio into paddlespeech
  .gitignore
  CMakeLists.txt
  paddlespeech/audio/README.md
  paddlespeech/audio/csrc/CMakeLists.txt
  paddlespeech/audio/csrc/pybind/pybind.cpp
  paddlespeech/audio/csrc/pybind/sox/io.cpp
  paddlespeech/audio/csrc/pybind/sox/io.h
  paddlespeech/audio/csrc/pybind/sox/utils.cpp
  paddlespeech/audio/csrc/pybind/sox/utils.h
  paddlespeech/audio/third_party/.gitignore
  paddlespeech/audio/third_party/CMakeLists.txt
  paddlespeech/audio/third_party/patches/config.guess
  paddlespeech/audio/third_party/patches/config.sub
  paddlespeech/audio/third_party/patches/libmad.patch
  paddlespeech/audio/third_party/patches/sox.patch
  paddlespeech/audio/third_party/sox/CMakeLists.txt
Due: auto add label=README

fix_model_init, test=doc
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
Due: auto add label=Server

fix header error
  audio/audio/csrc/pybind/kaldi_frontend/feature_common.h
  audio/audio/csrc/pybind/kaldi_frontend/kaldi_feature_wrapper.h
Due: none

mv kaldi feature to paddlespeech/audio
  audio/audio/csrc/CMakeLists.txt
  paddlespeech/audio/.gitignore
  paddlespeech/audio/CMakeLists.txt
  paddlespeech/audio/cmake/FindGFortranLibs.cmake
  paddlespeech/audio/cmake/external/openblas.cmake
  paddlespeech/audio/cmake/external/pybind.cmake
  paddlespeech/audio/csrc/CMakeLists.txt
  paddlespeech/audio/csrc/pybind/kaldi_frontend/CMakeLists.txt
  paddlespeech/audio/csrc/pybind/kaldi_frontend/cmk.bak
  paddlespeech/audio/csrc/pybind/kaldi_frontend/feature_common.h
  paddlespeech/audio/csrc/pybind/kaldi_frontend/feature_common_inl.h
  paddlespeech/audio/csrc/pybind/kaldi_frontend/kaldi_feature.cc
  paddlespeech/audio/csrc/pybind/kaldi_frontend/kaldi_feature.h
  paddlespeech/audio/csrc/pybind/kaldi_frontend/kaldi_feature_main.cc.bak
  paddlespeech/audio/csrc/pybind/kaldi_frontend/kaldi_feature_wrapper.cc
  paddlespeech/audio/csrc/pybind/kaldi_frontend/kaldi_feature_wrapper.cc.bak
  paddlespeech/audio/csrc/pybind/kaldi_frontend/kaldi_feature_wrapper.h
  paddlespeech/audio/csrc/pybind/kaldi_frontend/wav.h.bak
  paddlespeech/audio/third_party/CMakeLists.txt
  paddlespeech/audio/third_party/kaldi/CMakeLists.txt
  paddlespeech/audio/third_party/kaldi/base
  paddlespeech/audio/third_party/kaldi/feat
  paddlespeech/audio/third_party/kaldi/matrix
  paddlespeech/audio/third_party/kaldi/util
Due: none

clean code
  audio/third_party/CMakeLists.txt
  audio/third_party/kaldi/CMakeLists.txt
  audio/third_party/kaldi/base
  audio/third_party/kaldi/feat
  audio/third_party/kaldi/matrix
  audio/third_party/kaldi/util
Due: none

clean
  paddlespeech/audio/csrc/pybind/kaldi_frontend/cmk.bak
  paddlespeech/audio/csrc/pybind/kaldi_frontend/kaldi_feature_main.cc.bak
  paddlespeech/audio/csrc/pybind/kaldi_frontend/kaldi_feature_wrapper.cc.bak
  paddlespeech/audio/csrc/pybind/kaldi_frontend/wav.h.bak
Due: none

clean code
  audio/CMakeLists.txt
Due: none

new feature: Add webdataset in audio
  paddlespeech/audio/stream_data/__init__.py
  paddlespeech/audio/stream_data/cache.py
  paddlespeech/audio/stream_data/compat.py
  paddlespeech/audio/stream_data/filters.py
  paddlespeech/audio/stream_data/paddle_utils.py
  paddlespeech/audio/stream_data/pipeline.py
  paddlespeech/audio/stream_data/shardlists.py
  paddlespeech/audio/stream_data/tariterators.py
  paddlespeech/audio/stream_data/utils.py
  paddlespeech/audio/transform/__init__.py
  paddlespeech/audio/transform/add_deltas.py
  paddlespeech/audio/transform/channel_selector.py
  paddlespeech/audio/transform/cmvn.py
  paddlespeech/audio/transform/functional.py
  paddlespeech/audio/transform/perturb.py
  paddlespeech/audio/transform/spec_augment.py
  paddlespeech/audio/transform/spectrogram.py
  paddlespeech/audio/transform/transform_interface.py
  paddlespeech/audio/transform/transformation.py
  paddlespeech/audio/transform/wpe.py
  paddlespeech/audio/utils/check_kwargs.py
  paddlespeech/audio/utils/dynamic_import.py
  paddlespeech/audio/utils/tensor_utils.py
  setup.py
Due: auto add label=Installation

Add kws cli and demo.
  demos/keyword_spotting/README.md
  demos/keyword_spotting/README_cn.md
  demos/keyword_spotting/run.sh
  paddlespeech/cli/base_commands.py
  paddlespeech/cli/kws/__init__.py
  paddlespeech/cli/kws/infer.py
  paddlespeech/resource/model_alias.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/resource/resource.py
Due: auto add label=CLI, auto add label=Demo, auto add label=README

add onnx models for aishell3/ljspeech/vctk's tts3/voc1/voc5, test=tts
  examples/aishell3/tts3/README.md
  examples/aishell3/tts3/local/inference.sh
  examples/aishell3/tts3/local/ort_predict.sh
  examples/aishell3/tts3/local/paddle2onnx.sh
  examples/aishell3/tts3/run.sh
  examples/aishell3/voc1/README.md
  examples/aishell3/voc5/README.md
  examples/csmsc/tts2/local/ort_predict.sh
  examples/csmsc/tts2/run.sh
  examples/csmsc/tts3/local/ort_predict.sh
  examples/csmsc/tts3/local/ort_predict_streaming.sh
  examples/csmsc/tts3/local/synthesize_streaming.sh
  examples/csmsc/tts3/run.sh
  examples/csmsc/tts3/run_cnndecoder.sh
  examples/ljspeech/tts3/README.md
  examples/ljspeech/tts3/local/inference.sh
  examples/ljspeech/tts3/local/ort_predict.sh
  examples/ljspeech/tts3/local/paddle2onnx.sh
  examples/ljspeech/tts3/run.sh
  examples/ljspeech/voc1/README.md
  examples/ljspeech/voc5/README.md
  examples/vctk/tts3/README.md
  examples/vctk/tts3/local/ort_predict.sh
  examples/vctk/tts3/local/paddle2onnx.sh
  examples/vctk/tts3/run.sh
  examples/vctk/voc1/README.md
  examples/vctk/voc5/README.md
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/exps/ort_predict_e2e.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

add tts static/onnx models' link in released_model.md, test=doc
  README_cn.md
  docs/source/install_cn.md
  docs/source/released_model.md
  examples/csmsc/tts3/run.sh
Due: auto add label=Example, auto add label=Documentation

support multi-gpu training with webdataset
  examples/wenetspeech/asr1/conf/conformer.yaml
  paddlespeech/audio/stream_data/__init__.py
  paddlespeech/audio/stream_data/filters.py
  paddlespeech/audio/stream_data/pipeline.py
  paddlespeech/audio/stream_data/shardlists.py
  paddlespeech/audio/utils/log.py
  paddlespeech/audio/utils/tensor_utils.py
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/io/dataloader.py
  paddlespeech/s2t/io/reader.py
  paddlespeech/s2t/transform/__init__.py
  paddlespeech/s2t/transform/add_deltas.py
  paddlespeech/s2t/transform/channel_selector.py
  paddlespeech/s2t/transform/cmvn.py
  paddlespeech/s2t/transform/functional.py
  paddlespeech/s2t/transform/perturb.py
  paddlespeech/s2t/transform/spec_augment.py
  paddlespeech/s2t/transform/spectrogram.py
  paddlespeech/s2t/transform/transform_interface.py
  paddlespeech/s2t/transform/transformation.py
  paddlespeech/s2t/transform/wpe.py
Due: auto add label=S2T, auto add label=Example

add tts static/onnx models in pretrained_models.py
  paddlespeech/resource/pretrained_models.py
Due: none

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
