Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

[speechx] add batch recognizer decode. (#2866)
  speechx/speechx/asr/nnet/u2_nnet.cc
  speechx/speechx/asr/nnet/u2_nnet.h
  speechx/speechx/asr/recognizer/CMakeLists.txt
  speechx/speechx/asr/recognizer/u2_recognizer.cc
  speechx/speechx/asr/recognizer/u2_recognizer.h
  speechx/speechx/asr/recognizer/u2_recognizer_batch_main.cc
  speechx/speechx/common/base/common.h
Due: auto add label=Deployment

base diffsinger, test=tts
  examples/opencpop/svs1/conf/default.yaml
  examples/opencpop/svs1/path.sh
  paddlespeech/t2s/exps/diffsinger/train.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/models/diffsinger/diffsinger.py
  paddlespeech/t2s/models/diffsinger/diffsinger_updater.py
Due: auto add label=T2S, auto add label=Example

add wavenet denoiser final conv initializer
  paddlespeech/t2s/modules/diffusion.py
Due: auto add label=T2S

remove utils and third_party in paddlespeech's site-packages (#2867)
  audio/setup.py
  setup.py
Due: auto add label=Installation

Update tacotron2_updater.py
  paddlespeech/t2s/models/tacotron2/tacotron2_updater.py
Due: auto add label=T2S

[TTS]Fix diffusion wavenet denoiser final conv init param (#2868)
  paddlespeech/t2s/modules/diffusion.py
Due: auto add label=T2S

[TTS]fix open encoding (#2865)
  paddlespeech/cli/tts/infer.py
  paddlespeech/t2s/exps/ernie_sat/synthesize_e2e.py
  paddlespeech/t2s/exps/ernie_sat/train.py
  paddlespeech/t2s/exps/fastspeech2/train.py
  paddlespeech/t2s/exps/speedyspeech/synthesize_e2e.py
  paddlespeech/t2s/exps/speedyspeech/train.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/tacotron2/train.py
  paddlespeech/t2s/exps/transformer_tts/train.py
  paddlespeech/t2s/exps/vits/train.py
  paddlespeech/t2s/frontend/phonectic.py
  paddlespeech/t2s/frontend/zh_frontend.py
Due: auto add label=T2S, auto add label=CLI

[TTS]Avoid using variable "attn_loss" before assignment (#2860)
  paddlespeech/t2s/models/tacotron2/tacotron2_updater.py
Due: auto add label=T2S

clean dependencies
  audio/setup.py
  docs/requirements.txt
  setup.py
Due: auto add label=Documentation, auto add label=Installation

update paddleaudio's version
  setup.py
Due: auto add label=Installation

rm dependency in librosa and paddlenlp
  audio/setup.py
  docs/requirements.txt
  setup.py
Due: auto add label=Documentation, auto add label=Installation

rm dependency in paddlepaddle
  docs/requirements.txt
  setup.py
Due: auto add label=Documentation, auto add label=Installation

rm dependency in speech_web
  demos/speech_web/speech_server/requirements.txt
Due: auto add label=Demo

add wav2vec2_zh recipe.
  examples/aishell/asr3/cmd.sh
  examples/aishell/asr3/conf/conformer.yaml
  examples/aishell/asr3/conf/preprocess.yaml
  examples/aishell/asr3/conf/train_with_wav2vec.yaml
  examples/aishell/asr3/conf/tuning/chunk_decode.yaml
  examples/aishell/asr3/conf/tuning/decode.yaml
  examples/aishell/asr3/conf/wav2vec2ASR.yaml
  examples/aishell/asr3/local/data.sh
  examples/aishell/asr3/local/test.sh
  examples/aishell/asr3/local/test_wav.sh
  examples/aishell/asr3/local/train.sh
  examples/aishell/asr3/path.sh
  examples/aishell/asr3/run.sh
  examples/aishell/asr3/utils
  paddlespeech/s2t/exps/wav2vec2/model.py
  paddlespeech/s2t/models/wav2vec2/__init__.py
  paddlespeech/s2t/models/wav2vec2/io/batch.py
  paddlespeech/s2t/models/wav2vec2/io/data_pipeline.py
  paddlespeech/s2t/models/wav2vec2/io/data_utils.py
  paddlespeech/s2t/models/wav2vec2/io/dataio.py
  paddlespeech/s2t/models/wav2vec2/io/dataloader.py
  paddlespeech/s2t/models/wav2vec2/io/dataset.py
  paddlespeech/s2t/models/wav2vec2/io/depgraph.py
  paddlespeech/s2t/models/wav2vec2/io/make_dataloader.py
  paddlespeech/s2t/models/wav2vec2/io/sampler.py
  paddlespeech/s2t/models/wav2vec2/io/sb_pipeline.py
  paddlespeech/s2t/models/wav2vec2/processing/signal_processing.py
  paddlespeech/s2t/models/wav2vec2/processing/speech_augmentation.py
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
Due: auto add label=S2T, auto add label=Example

[Install]clean dependencies (#2871)
  audio/setup.py
  demos/speech_web/speech_server/requirements.txt
  docs/requirements.txt
  setup.py
Due: auto add label=Demo, auto add label=Documentation, auto add label=Installation

[speechx] add cls (#2839)
  speechx/speechx/CMakeLists.txt
  speechx/speechx/asr/decoder/ctc_prefix_beam_search_decoder.cc
  speechx/speechx/asr/nnet/CMakeLists.txt
  speechx/speechx/asr/nnet/decodable.cc
  speechx/speechx/asr/nnet/nnet_producer.cc
  speechx/speechx/asr/nnet/nnet_producer.h
  speechx/speechx/asr/nnet/u2_nnet_thread_main.cc
  speechx/speechx/asr/recognizer/u2_recognizer.cc
  speechx/speechx/asr/recognizer/u2_recognizer.h
  speechx/speechx/asr/recognizer/u2_recognizer_main.cc
  speechx/speechx/asr/recognizer/u2_recognizer_thread_main.cc
  speechx/speechx/cls/CMakeLists.txt
  speechx/speechx/cls/nnet/CMakeLists.txt
  speechx/speechx/cls/nnet/cls_interface.cc
  speechx/speechx/cls/nnet/cls_interface.h
  speechx/speechx/cls/nnet/cls_nnet.cc
  speechx/speechx/cls/nnet/cls_nnet.h
  speechx/speechx/cls/nnet/cls_nnet_main.cc
  speechx/speechx/cls/nnet/config.h
  speechx/speechx/cls/nnet/wav.h
  speechx/speechx/common/frontend/compute_fbank_main.cc
  speechx/speechx/common/frontend/feature_cache.cc
  speechx/speechx/common/frontend/feature_cache.h
  speechx/speechx/common/frontend/feature_pipeline.cc
  speechx/speechx/common/frontend/feature_pipeline.h
Due: auto add label=Deployment

fix diffsinger, test=tts
  examples/opencpop/svs1/conf/default.yaml
  examples/opencpop/svs1/local/train.sh
  examples/opencpop/svs1/run.sh
  paddlespeech/t2s/datasets/preprocess_utils.py
  paddlespeech/t2s/exps/diffsinger/preprocess.py
  paddlespeech/t2s/exps/diffsinger/train.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/models/diffsinger/diffsinger.py
  paddlespeech/t2s/models/diffsinger/diffsinger_updater.py
  paddlespeech/t2s/models/diffsinger/fastspeech2midi.py
  paddlespeech/t2s/modules/transformer/encoder.py
Due: auto add label=T2S, auto add label=Example

remove useless code.
  examples/aishell/asr3/conf/wav2vec2ASR.yaml
  examples/aishell/asr3/local/test.sh
  examples/aishell/asr3/run.sh
  paddlespeech/s2t/exps/wav2vec2/model.py
  paddlespeech/s2t/models/wav2vec2/io/data_pipeline.py
  paddlespeech/s2t/models/wav2vec2/io/sampler.py
  paddlespeech/s2t/models/wav2vec2/processing/speech_augmentation.py
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
Due: auto add label=S2T, auto add label=Example

Update setup.py
  third_party/ctc_decoders/setup.py
Due: none

fix pwgan tipc
  tests/test_tipc/prepare.sh
Due: auto add label=Test

vits dygraph to static
  examples/csmsc/vits/local/synthesize_e2e.sh
  examples/csmsc/vits/run.sh
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/vits/synthesize_e2e.py
  paddlespeech/t2s/models/vits/transform.py
  paddlespeech/t2s/models/vits/vits.py
Due: auto add label=T2S, auto add label=Example

fix Tensor.numpy()[0] to float(Tensor) to adapt 0D
  examples/tess/cls0/local/train.py
Due: auto add label=Example

fix pwgan tipc (#2882)
  tests/test_tipc/prepare.sh
Due: auto add label=Test

fix Tensor.numpy()[0] to float(Tensor) to adapt 0D (#2884)
  examples/tess/cls0/local/train.py
Due: auto add label=Example

add wfst decoder
  speechx/CMakeLists.txt
  speechx/speechx/asr/decoder/CMakeLists.txt
  speechx/speechx/asr/decoder/ctc_prefix_beam_search_decoder.h
  speechx/speechx/asr/decoder/ctc_tlg_decoder.cc
  speechx/speechx/asr/decoder/ctc_tlg_decoder.h
  speechx/speechx/asr/decoder/ctc_tlg_decoder_main.cc
  speechx/speechx/asr/decoder/decoder_itf.h
  speechx/speechx/asr/decoder/param.h
  speechx/speechx/asr/nnet/decodable.h
  speechx/speechx/asr/nnet/nnet_producer.cc
  speechx/speechx/asr/nnet/nnet_producer.h
  speechx/speechx/asr/recognizer/u2_recognizer.cc
  speechx/speechx/asr/recognizer/u2_recognizer.h
Due: auto add label=Deployment

VITS new checkpoint update, test=tts
  examples/csmsc/vits/README.md
Due: auto add label=Example, auto add label=README

[TTS]Update VITS checkpoint , test=tts (#2887)
  examples/csmsc/vits/README.md
Due: auto add label=Example, auto add label=README

add wfst decoder (#2886)
  speechx/CMakeLists.txt
  speechx/speechx/asr/decoder/CMakeLists.txt
  speechx/speechx/asr/decoder/ctc_prefix_beam_search_decoder.h
  speechx/speechx/asr/decoder/ctc_tlg_decoder.cc
  speechx/speechx/asr/decoder/ctc_tlg_decoder.h
  speechx/speechx/asr/decoder/ctc_tlg_decoder_main.cc
  speechx/speechx/asr/decoder/decoder_itf.h
  speechx/speechx/asr/decoder/param.h
  speechx/speechx/asr/nnet/decodable.h
  speechx/speechx/asr/nnet/nnet_producer.cc
  speechx/speechx/asr/nnet/nnet_producer.h
  speechx/speechx/asr/recognizer/u2_recognizer.cc
  speechx/speechx/asr/recognizer/u2_recognizer.h
Due: auto add label=Deployment

fix wfst decode error
  runtime/engine/asr/decoder/ctc_tlg_decoder.h
Due: none

replace reset with make_unique
  runtime/engine/asr/recognizer/u2_recognizer.cc
Due: none

add codelab glog
  runtime/.clang-format
  runtime/engine/codelab/glog/CMakeLists.txt
  runtime/engine/codelab/glog/README.md
  runtime/engine/codelab/glog/glog_logtostderr_main.cc
  runtime/engine/codelab/glog/glog_main.cc
  runtime/examples/text_lm/local/data/chars.dic
  runtime/examples/text_lm/local/data/words.dic
Due: auto add label=README

add pash.sh
  runtime/examples/u2pp_ol/wenetspeech/.gitignore
  runtime/examples/u2pp_ol/wenetspeech/RESULTS.md
Due: none

rm .swp
  runtime/examples/u2pp_ol/wenetspeech/local/.recognizer.sh.swp
Due: none

rm threadpool
  runtime/engine/common/utils/threadpool.cc
  runtime/engine/common/utils/threadpool.h
  runtime/engine/common/utils/threadpool_test.cc
Due: none

add data prepare for speechbrain format.
  examples/aishell/asr3/conf/train_with_wav2vec.yaml
  examples/aishell/asr3/local/aishell_prepare.py
  examples/aishell/asr3/local/data.sh
Due: auto add label=Example

add encoding=utf8 for text cli.
  paddlespeech/cli/text/infer.py
Due: auto add label=CLI

Update stale.yml
  .github/stale.yml
Due: auto add label=CI

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
