Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

add api doc, test=doc
  .readthedocs.yml
  docs/requirements.txt
Due: auto add label=Documentation

add convert.sh
  examples/voxceleb/sv0/local/convert.sh
Due: auto add label=Example

update speech_web by new engine
  demos/speech_web/README_cn.md
  demos/speech_web/speech_server/main.py
  demos/speech_web/speech_server/src/AudioManeger.py
  demos/speech_web/speech_server/src/SpeechBase/asr.py
  demos/speech_web/speech_server/src/SpeechBase/nlp.py
  demos/speech_web/speech_server/src/SpeechBase/sql_helper.py
  demos/speech_web/speech_server/src/SpeechBase/tts.py
  demos/speech_web/speech_server/src/SpeechBase/vpr.py
  demos/speech_web/speech_server/src/SpeechBase/vpr_encode.py
  demos/speech_web/speech_server/src/robot.py
Due: auto add label=Demo

updata install_cn,test=doc
  docs/source/install_cn.md
Due: auto add label=Documentation

test=doc
  docs/source/install.md
Due: auto add label=Documentation

add training scripts
  examples/wenetspeech/asr1/conf/conformer.yaml
  examples/wenetspeech/asr1/local/data.sh
  examples/wenetspeech/asr1/local/wenetspeech_data_prep.sh
  paddlespeech/audio/streamdata/__init__.py
  paddlespeech/audio/streamdata/autodecode.py
  paddlespeech/audio/streamdata/cache.py
  paddlespeech/audio/streamdata/compat.py
  paddlespeech/audio/streamdata/extradatasets.py
  paddlespeech/audio/streamdata/filters.py
  paddlespeech/audio/streamdata/gopen.py
  paddlespeech/audio/streamdata/handlers.py
  paddlespeech/audio/streamdata/mix.py
  paddlespeech/audio/streamdata/paddle_utils.py
  paddlespeech/audio/streamdata/pipeline.py
  paddlespeech/audio/streamdata/shardlists.py
  paddlespeech/audio/streamdata/tariterators.py
  paddlespeech/audio/streamdata/utils.py
  paddlespeech/audio/streamdata/writer.py
  paddlespeech/s2t/io/dataloader.py
  setup.py
Due: auto add label=S2T, auto add label=Example, auto add label=Installation

fix version of pyworld
  docs/requirements.txt
  setup.py
Due: auto add label=Documentation, auto add label=Installation

replace s2t.transform with audio.transform
  paddlespeech/cli/asr/infer.py
  paddlespeech/s2t/exps/u2/bin/test_wav.py
  paddlespeech/server/engine/asr/online/onnx/asr_engine.py
  paddlespeech/server/engine/asr/online/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/online/python/asr_engine.py
Due: auto add label=S2T, auto add label=CLI, auto add label=Server

fix 'print log' in cli
  paddlespeech/s2t/utils/log.py
Due: auto add label=S2T

fix int32 warning in tts, test=tts
  paddlespeech/t2s/modules/nets_utils.py
Due: auto add label=T2S

fix url in librispeech.py
  dataset/aidatatang_200zh/README.md
  dataset/aishell/README.md
  dataset/aishell/aishell.py
  dataset/librispeech/librispeech.py
  dataset/magicdata/README.md
  dataset/mini_librispeech/mini_librispeech.py
  dataset/musan/musan.py
  dataset/primewords/README.md
  dataset/rir_noise/rir_noise.py
  dataset/st-cmds/README.md
  dataset/thchs30/README.md
  dataset/thchs30/thchs30.py
Due: auto add label=Dataset, auto add label=README

fix fst/type.h error
  CMakeLists.txt
  paddlespeech/audio/src/CMakeLists.txt
  paddlespeech/audio/src/pybind/kaldi_frontend/CMakeLists.txt
  paddlespeech/audio/src/pybind/kaldi_frontend/feature_common.h
  paddlespeech/audio/src/pybind/kaldi_frontend/feature_common_inl.h
  paddlespeech/audio/src/pybind/kaldi_frontend/kaldi_feature.cc
  paddlespeech/audio/src/pybind/kaldi_frontend/kaldi_feature.h
  paddlespeech/audio/src/pybind/kaldi_frontend/kaldi_feature_wrapper.cc
  paddlespeech/audio/src/pybind/kaldi_frontend/kaldi_feature_wrapper.h
  paddlespeech/audio/src/pybind/pybind.cpp
  paddlespeech/audio/src/pybind/sox/io.cpp
  paddlespeech/audio/src/pybind/sox/io.h
  paddlespeech/audio/src/pybind/sox/utils.cpp
  paddlespeech/audio/src/pybind/sox/utils.h
  paddlespeech/audio/third_party/kaldi/CMakeLists.txt
  speechx/speechx/kaldi/base/kaldi-types.h
Due: auto add label=Deployment

paddleaudio as extenstion
  .gitignore
  CMakeLists.txt
  paddlespeech/__init__.py
  paddlespeech/audio/README.md
  paddlespeech/audio/__init__.py
  paddlespeech/audio/_class.py
  paddlespeech/audio/_extension.py
  paddlespeech/audio/_internal/__init__.py
  paddlespeech/audio/_internal/module_utils.py
  paddlespeech/audio/_ops.py
  paddlespeech/audio/lib/.gitignore
  paddlespeech/audio/src/CMakeLists.txt
  paddlespeech/audio/src/optional/COPYING
  paddlespeech/audio/src/optional/optional.hpp
  paddlespeech/audio/src/pybind/pybind.cpp
  paddlespeech/audio/src/pybind/sox/io.cpp
  paddlespeech/audio/src/pybind/sox/io.h
  paddlespeech/audio/src/pybind/sox/utils.cpp
  paddlespeech/audio/src/sox/io.cpp
  paddlespeech/audio/src/sox/io.h
  paddlespeech/audio/src/utils.cpp
  paddlespeech/audio/third_party/CMakeLists.txt
  paddlespeech/audio/third_party/sox/CMakeLists.txt
  setup.py
  tools/setup_helpers/__init__.py
  tools/setup_helpers/extension.py
Due: auto add label=README, auto add label=Installation

fix run.sh
  examples/wenetspeech/asr1/local/train.sh
  examples/wenetspeech/asr1/run.sh
Due: auto add label=Example

add cpplint
  .pre-commit-config.yaml
  .pre-commit-hooks/cpplint.hook
Due: none

format
  .pre-commit-config.yaml
  audio/audio/csrc/pybind/pybind.cpp
  audio/audio/csrc/pybind/sox/io.cpp
  audio/audio/csrc/pybind/sox/io.h
  audio/audio/csrc/pybind/sox/utils.cpp
  audio/audio/csrc/pybind/sox/utils.h
  paddlespeech/__init__.py
  paddlespeech/audio/README.md
  paddlespeech/audio/__init__.py
  paddlespeech/audio/_class.py
  paddlespeech/audio/_extension.py
  paddlespeech/audio/_internal/module_utils.py
  paddlespeech/audio/_ops.py
  paddlespeech/audio/src/optional/optional.hpp
  paddlespeech/audio/src/pybind/kaldi_frontend/feature_common.h
  paddlespeech/audio/src/pybind/kaldi_frontend/feature_common_inl.h
  paddlespeech/audio/src/pybind/kaldi_frontend/kaldi_feature.cc
  paddlespeech/audio/src/pybind/kaldi_frontend/kaldi_feature.h
  paddlespeech/audio/src/pybind/kaldi_frontend/kaldi_feature_wrapper.cc
  paddlespeech/audio/src/pybind/kaldi_frontend/kaldi_feature_wrapper.h
  paddlespeech/audio/src/pybind/pybind.cpp
  paddlespeech/audio/src/pybind/sox/io.cpp
  paddlespeech/audio/src/pybind/sox/io.h
  paddlespeech/audio/src/pybind/sox/utils.cpp
  paddlespeech/audio/src/pybind/sox/utils.h
  paddlespeech/audio/src/sox/io.cpp
  paddlespeech/audio/src/sox/io.h
  paddlespeech/audio/src/utils.cpp
  setup.py
  speechx/examples/ds2_ol/onnx/local/onnx_infer_shape.py
  tools/setup_helpers/__init__.py
  tools/setup_helpers/extension.py
Due: auto add label=README, auto add label=Installation, auto add label=Deployment

Fix rir download. test=doc
  dataset/rir_noise/rir_noise.py
  examples/voxceleb/sv0/local/data.sh
Due: auto add label=Dataset, auto add label=Example

add cmake summary
  CMakeLists.txt
  cmake/summary.cmake
  paddlespeech/audio/_class.py
Due: none

audio with kaldi
  CMakeLists.txt
  audio/.gitignore
  audio/CMakeLists.txt
  audio/audio/csrc/CMakeLists.txt
  audio/audio/csrc/pybind/pybind.cpp
  audio/audio/csrc/pybind/sox/io.cpp
  audio/audio/csrc/pybind/sox/io.h
  audio/audio/csrc/pybind/sox/utils.cpp
  audio/audio/csrc/pybind/sox/utils.h
  audio/third_party/CMakeLists.txt
  audio/third_party/patches/config.guess
  audio/third_party/patches/config.sub
  audio/third_party/patches/libmad.patch
  audio/third_party/patches/sox.patch
  audio/third_party/sox/CMakeLists.txt
  paddlespeech/audio/CMakeLists.txt
  paddlespeech/audio/_internal/module_utils.py
  speechx/speechx/kaldi/base/kaldi-types.h
Due: auto add label=Deployment

Update rir_noise.py
  dataset/rir_noise/rir_noise.py
Due: auto add label=Dataset

fix demo, test=doc
  demos/streaming_asr_server/web/templates/index.html
Due: auto add label=Demo

adopt multi machine traiing
  examples/wenetspeech/asr1/conf/conformer.yaml
  examples/wenetspeech/asr1/local/train.sh
  paddlespeech/audio/streamdata/shardlists.py
  paddlespeech/audio/streamdata/utils.py
Due: auto add label=Example

sox can build
  CMakeLists.txt
  cmake/FindGFortranLibs.cmake
  cmake/external/openblas.cmake
  cmake/external/pybind.cmake
  cmake/summary.cmake
  paddlespeech/audio/CMakeLists.txt
  paddlespeech/audio/third_party/CMakeLists.txt
  paddlespeech/audio/third_party/kaldi/CMakeLists.txt
  tools/setup_helpers/extension.py
Due: auto add label=Installation

install CPython version monotonic_align before train, test=tts
  examples/csmsc/vits/local/synthesize.sh
  examples/csmsc/vits/local/train.sh
Due: auto add label=Example

add vits ckpt, test=doc
  README.md
  README_cn.md
  examples/csmsc/vits/README.md
Due: auto add label=Example, auto add label=README

pybind kaldi can make
  paddlespeech/audio/src/CMakeLists.txt
  paddlespeech/audio/src/pybind/kaldi/feature_common.h
  paddlespeech/audio/src/pybind/kaldi/feature_common_inl.h
  paddlespeech/audio/src/pybind/kaldi/kaldi_feature.cc
  paddlespeech/audio/src/pybind/kaldi/kaldi_feature.h
  paddlespeech/audio/src/pybind/kaldi/kaldi_feature_wrapper.cc
  paddlespeech/audio/src/pybind/kaldi/kaldi_feature_wrapper.h
  paddlespeech/audio/src/pybind/kaldi_frontend/CMakeLists.txt
  paddlespeech/audio/src/pybind/kaldi_frontend/kaldi_feature_wrapper.h
  paddlespeech/audio/src/pybind/pybind.cpp
  paddlespeech/audio/src/pybind/sox/utils.h
  paddlespeech/audio/third_party/CMakeLists.txt
  paddlespeech/audio/third_party/kaldi/CMakeLists.txt
  tools/setup_helpers/extension.py
Due: auto add label=Installation

fix client Parameter : sample rate not work
  paddlespeech/server/utils/audio_handler.py
Due: auto add label=Server

fix feat_type bug
  paddlespeech/s2t/io/utility.py
Due: auto add label=S2T

fix undefine symbol
  CMakeLists.txt
  cmake/FindGFortranLibs.cmake
  cmake/external/openblas.cmake
  paddlespeech/audio/third_party/kaldi/CMakeLists.txt
Due: none

fix nxpu
  paddlespeech/s2t/exps/deepspeech2/bin/train.py
  paddlespeech/s2t/training/cli.py
Due: auto add label=S2T

format code
  .pre-commit-hooks/cpplint.hook
  paddlespeech/audio/_internal/module_utils.py
  paddlespeech/audio/src/pybind/kaldi/feature_common_inl.h
  paddlespeech/audio/src/pybind/kaldi/kaldi_feature.cc
  paddlespeech/audio/src/pybind/kaldi/kaldi_feature.h
  paddlespeech/audio/src/pybind/kaldi/kaldi_feature_wrapper.h
  paddlespeech/audio/src/pybind/pybind.cpp
  speechx/examples/ds2_ol/onnx/local/onnx_infer_shape.py
  tools/setup_helpers/extension.py
Due: auto add label=Installation, auto add label=Deployment

Fix unnecessary download present in issue #2067.
  paddlespeech/cli/tts/infer.py
  paddlespeech/resource/resource.py
Due: auto add label=CLI

update conformer_aishell, test=doc
  docs/source/released_model.md
Due: auto add label=Documentation

test=doc
  examples/aishell/asr1/RESULTS.md
Due: auto add label=Example

test=doc
  examples/aishell/asr1/conf/conformer.yaml
Due: auto add label=Example

Fix unnecessary download present in issue #2067.
  paddlespeech/server/engine/tts/online/python/tts_engine.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
Due: auto add label=Server

use paddle web for streaming asr
  demos/streaming_asr_server/web/app.py
  demos/streaming_asr_server/web/favicon.ico
  demos/streaming_asr_server/web/index.html
  demos/streaming_asr_server/web/paddle_web_demo.png
  demos/streaming_asr_server/web/readme.md
  demos/streaming_asr_server/web/static/css/font-awesome.min.css
  demos/streaming_asr_server/web/static/css/style.css
  demos/streaming_asr_server/web/static/fonts/FontAwesome.otf
  demos/streaming_asr_server/web/static/fonts/fontawesome-webfont.eot
  demos/streaming_asr_server/web/static/fonts/fontawesome-webfont.svg
  demos/streaming_asr_server/web/static/fonts/fontawesome-webfont.ttf
  demos/streaming_asr_server/web/static/fonts/fontawesome-webfont.woff
  demos/streaming_asr_server/web/static/fonts/fontawesome-webfont.woff2
  demos/streaming_asr_server/web/static/image/PaddleSpeech_logo.png
  demos/streaming_asr_server/web/static/image/voice-dictation.svg
  demos/streaming_asr_server/web/static/js/SoundRecognizer.js
  demos/streaming_asr_server/web/static/js/jquery-3.2.1.min.js
  demos/streaming_asr_server/web/static/js/recorder/engine/mp3.js
  demos/streaming_asr_server/web/static/js/recorder/engine/pcm.js
  demos/streaming_asr_server/web/static/js/recorder/engine/wav.js
  demos/streaming_asr_server/web/static/js/recorder/extensions/frequency.histogram.view.js
  demos/streaming_asr_server/web/static/js/recorder/extensions/lib.fft.js
  demos/streaming_asr_server/web/static/js/recorder/recorder-core.js
  demos/streaming_asr_server/web/static/paddle.ico
  demos/streaming_asr_server/web/templates/index.html
Due: auto add label=Demo

rm extra log
  paddlespeech/cli/executor.py
  paddlespeech/cli/tts/infer.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
Due: auto add label=T2S, auto add label=CLI
