Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=enhancement:
  label:
    add:
    - enhancement

auto add label=Example:
  label:
    add:
    - Example

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

update table
  examples/aishell3/vc1/README.md
  examples/aishell3/voc1/README.md
  examples/csmsc/tts2/README.md
  examples/csmsc/tts3/README.md
  examples/csmsc/voc1/README.md
  examples/csmsc/voc3/README.md
  examples/ljspeech/tts3/README.md
Due: auto add label=Example, auto add label=README

update ipynb
  docs/tutorial/tts/tts_tutorial.ipynb
Due: none

Update quick_start.md
  docs/source/tts/quick_start.md
Due: none

test wav for u2
  examples/wenetspeech/asr1/local/test_wav.sh
  paddlespeech/s2t/exps/u2/bin/test_hub.py
  paddlespeech/s2t/exps/u2/bin/test_wav.py
Due: auto add label=Example

Update README.md
  README.md
Due: auto add label=README

rename to result.md
  examples/aishell/asr0/RESULTS.md
  examples/aishell/asr1/RESULTS.md
  examples/callcenter/asr1/RESULTS.md
  examples/librispeech/asr0/RESULTS.md
  examples/librispeech/asr1/RESULTS.md
  examples/librispeech/asr2/RESULTS.md
  examples/ted_en_zh/st0/RESULTS.md
  examples/ted_en_zh/st1/RESULTS.md
  examples/timit/asr1/RESULTS.md
Due: auto add label=Example

examples/dataset to dataset
  dataset/aidatatang_200zh/.gitignore
  dataset/aidatatang_200zh/README.md
  dataset/aidatatang_200zh/aidatatang_200zh.py
  dataset/aishell/.gitignore
  dataset/aishell/README.md
  dataset/aishell/aishell.py
  dataset/aishell3/README.md
  dataset/chime3_background/chime3_background.py
  dataset/gigaspeech/.gitignore
  dataset/gigaspeech/README.md
  dataset/gigaspeech/gigaspeech.py
  dataset/gigaspeech/run.sh
  dataset/librispeech/.gitignore
  dataset/librispeech/librispeech.py
  dataset/magicdata/README.md
  dataset/mini_librispeech/.gitignore
  dataset/mini_librispeech/mini_librispeech.py
  dataset/multi_cn/README.md
  dataset/musan/.gitignore
  dataset/musan/musan.py
  dataset/primewords/README.md
  dataset/rir_noise/.gitignore
  dataset/rir_noise/rir_noise.py
  dataset/st-cmds/README.md
  dataset/ted_en_zh/.gitignore
  dataset/ted_en_zh/ted_en_zh.py
  dataset/thchs30/.gitignore
  dataset/thchs30/README.md
  dataset/thchs30/thchs30.py
  dataset/timit/.gitignore
  dataset/timit/timit.py
  dataset/timit/timit_kaldi_standard_split.py
  dataset/voxforge/run_data.sh
  dataset/voxforge/voxforge.py
Due: auto add label=README

fix dataset dir in data.sh
  dataset/voxforge/run_data.sh
  examples/aishell/asr0/local/data.sh
  examples/aishell/asr1/local/data.sh
  examples/aishell/asr1/local/tlg.sh
  examples/librispeech/asr0/local/data.sh
  examples/librispeech/asr1/local/data.sh
  examples/librispeech/asr2/local/data.sh
  examples/other/1xt2x/aishell/local/data.sh
  examples/other/1xt2x/baidu_en8k/local/data.sh
  examples/other/1xt2x/librispeech/local/data.sh
  examples/ted_en_zh/st0/local/data.sh
  examples/ted_en_zh/st1/local/data.sh
  examples/thchs30/align0/local/data.sh
  examples/timit/asr1/local/data.sh
  examples/tiny/asr0/local/data.sh
  examples/tiny/asr1/local/data.sh
  examples/wenetspeech/asr1/local/data.sh
Due: auto add label=Example

fix the audio_file location in run.sh
  examples/aishell/asr0/run.sh
  examples/aishell/asr1/run.sh
  examples/librispeech/asr0/run.sh
  examples/librispeech/asr1/run.sh
Due: auto add label=Example

delete the unsupport
  examples/aishell/asr1/READEME.md
  examples/aishell/asr1/run.sh
Due: auto add label=Example

Update reference.md
  docs/source/reference.md
Due: none

updata the ds2 model
  docs/source/released_model.md
Due: none

support kaldi static
  examples/wenetspeech/asr1/local/test_wav.sh
  tools/extras/install_kaldi.sh
Due: auto add label=Example, auto add label=Installation

Update README.md
  examples/vctk/voc1/README.md
Due: auto add label=Example, auto add label=README

Update README.md
  examples/aishell3/vc0/README.md
Due: auto add label=Example, auto add label=README

Update README.md
  examples/csmsc/voc1/README.md
Due: auto add label=Example, auto add label=README

Update README.md
  examples/csmsc/voc3/README.md
Due: auto add label=Example, auto add label=README

Update README.md
  examples/ljspeech/voc1/README.md
Due: auto add label=Example, auto add label=README

Update README.md
  examples/aishell3/vc1/README.md
Due: auto add label=Example, auto add label=README

Path conditions:
  auto add label=enhancement: any of: ^deepspeech/
  auto add label=Example: any of: ^examples/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
