Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

Update .mergify.yml
  .mergify.yml
Due: auto add label=mergify

add encoding=utf8 for text cli. (#2896)
  paddlespeech/cli/text/infer.py
Due: auto add label=CLI

Cantonese TTS MFA pipeline, test=tts
  examples/other/mfa/local/generate_canton_lexicon_wavlabs.py
  examples/other/mfa/run_canton.sh
Due: auto add label=Example

remove audio duration limit, and fix Copyright writing problems.
  paddlespeech/cli/whisper/infer.py
  paddlespeech/s2t/models/whisper/__init__.py
  paddlespeech/s2t/models/whisper/tokenizer.py
  paddlespeech/s2t/models/whisper/utils.py
  paddlespeech/s2t/models/whisper/whipser.py
Due: auto add label=S2T, auto add label=CLI

remove useless print.
  paddlespeech/s2t/models/whisper/whipser.py
Due: auto add label=S2T

Cantonese TTS MFA pipeline, test=tts
  examples/other/mfa/README.md
  examples/other/mfa/run_canton.sh
Due: auto add label=Example, auto add label=README

Update setup.py (#2879)
  third_party/ctc_decoders/setup.py
Due: none

[ASR]Whisper remove audio duration limit, test=asr (#2900)
  paddlespeech/cli/whisper/infer.py
  paddlespeech/s2t/models/whisper/__init__.py
  paddlespeech/s2t/models/whisper/tokenizer.py
  paddlespeech/s2t/models/whisper/utils.py
  paddlespeech/s2t/models/whisper/whipser.py
Due: auto add label=S2T, auto add label=CLI

add diffusion noise clip to optimize sample result
  paddlespeech/t2s/modules/diffusion.py
Due: auto add label=T2S

Cantonese TTS MFA pipeline, test=tts
  docs/requirements.txt
  examples/other/mfa/README.md
  examples/other/mfa/local/generate_canton_lexicon_wavlabs.py
  setup.py
Due: auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=Installation

Cantonese TTS MFA pipeline, test=tts
  examples/other/mfa/local/generate_canton_lexicon_wavlabs.py
Due: auto add label=Example

[TTS]Add diffusion noise clip to optimize sample result (#2902)
  paddlespeech/t2s/modules/diffusion.py
Due: auto add label=T2S

diffsinger_tmp
  examples/opencpop/svs1/conf/default.yaml
  examples/opencpop/svs1/local/preprocess.sh
  examples/opencpop/svs1/local/synthesize.sh
  examples/opencpop/svs1/local/train.sh
  examples/opencpop/svs1/run.sh
  paddlespeech/t2s/datasets/get_feats.py
  paddlespeech/t2s/datasets/preprocess_utils.py
  paddlespeech/t2s/exps/diffsinger/normalize.py
  paddlespeech/t2s/exps/diffsinger/preprocess.py
  paddlespeech/t2s/exps/diffsinger/train.py
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/models/diffsinger/diffsinger.py
  paddlespeech/t2s/models/diffsinger/diffsinger_updater.py
  paddlespeech/t2s/models/diffsinger/fastspeech2midi.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
  paddlespeech/t2s/modules/activation.py
  paddlespeech/t2s/modules/diffusion.py
  paddlespeech/t2s/modules/masked_fill.py
  paddlespeech/t2s/modules/predictor/variance_predictor.py
Due: auto add label=T2S, auto add label=Example

fix diffsinger loss target to noisy_mel
  paddlespeech/t2s/models/diffsinger/diffsinger.py
  paddlespeech/t2s/models/diffsinger/diffsinger_updater.py
Due: auto add label=T2S

add test.jsonl
  examples/opencpop/svs1/test.jsonl
Due: auto add label=Example

Cantonese FastSpeech2 Training, test=tts
  examples/canton/README.md
  examples/canton/tts3/README.md
  examples/canton/tts3/conf/default.yaml
  examples/canton/tts3/local/preprocess.sh
  examples/canton/tts3/local/synthesize.sh
  examples/canton/tts3/local/train.sh
  examples/canton/tts3/path.sh
  examples/canton/tts3/run.sh
  paddlespeech/t2s/exps/fastspeech2/preprocess.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

Cantonese FastSpeech2 Training, test=tts
  examples/canton/README.md
Due: auto add label=Example, auto add label=README

fix eval
  paddlespeech/t2s/models/diffsinger/diffsinger_updater.py
Due: auto add label=T2S

modify readme, test=doc
  README.md
  README_cn.md
Due: auto add label=README

modify readme
  README.md
  README_cn.md
Due: auto add label=README

Cantonese FastSpeech2 Training, test=tts
  examples/canton/tts3/README.md
Due: auto add label=Example, auto add label=README

modify readme (#2915)
  README.md
  README_cn.md
Due: auto add label=README

add readme file, fixed some issues mentioned in the comment, mv wav2vec2.io to io.speechbrain.
  examples/aishell/asr3/README.md
  examples/aishell/asr3/conf/train_with_wav2vec.yaml
  examples/aishell/asr3/conf/wav2vec2ASR.yaml
  examples/aishell/asr3/run.sh
  paddlespeech/s2t/exps/wav2vec2/model.py
  paddlespeech/s2t/io/speechbrain/__init__.py
  paddlespeech/s2t/io/speechbrain/batch.py
  paddlespeech/s2t/io/speechbrain/data_pipeline.py
  paddlespeech/s2t/io/speechbrain/data_utils.py
  paddlespeech/s2t/io/speechbrain/dataio.py
  paddlespeech/s2t/io/speechbrain/dataloader.py
  paddlespeech/s2t/io/speechbrain/dataset.py
  paddlespeech/s2t/io/speechbrain/depgraph.py
  paddlespeech/s2t/io/speechbrain/make_dataloader.py
  paddlespeech/s2t/io/speechbrain/sampler.py
  paddlespeech/s2t/io/speechbrain/sb_pipeline.py
  setup.py
Due: auto add label=S2T, auto add label=Example, auto add label=README, auto add label=Installation

add wav2vev2_zh aishell recipe, and speechbrain dataloader.
  examples/aishell/asr3/README.md
  examples/aishell/asr3/cmd.sh
  examples/aishell/asr3/conf/preprocess.yaml
  examples/aishell/asr3/conf/train_with_wav2vec.yaml
  examples/aishell/asr3/conf/tuning/decode.yaml
  examples/aishell/asr3/conf/wav2vec2ASR.yaml
  examples/aishell/asr3/local/aishell_prepare.py
  examples/aishell/asr3/local/data.sh
  examples/aishell/asr3/local/test.sh
  examples/aishell/asr3/local/test_wav.sh
  examples/aishell/asr3/local/train.sh
  examples/aishell/asr3/path.sh
  examples/aishell/asr3/run.sh
  examples/aishell/asr3/utils
  paddlespeech/s2t/exps/wav2vec2/model.py
  paddlespeech/s2t/io/speechbrain/__init__.py
  paddlespeech/s2t/io/speechbrain/batch.py
  paddlespeech/s2t/io/speechbrain/data_pipeline.py
  paddlespeech/s2t/io/speechbrain/data_utils.py
  paddlespeech/s2t/io/speechbrain/dataio.py
  paddlespeech/s2t/io/speechbrain/dataloader.py
  paddlespeech/s2t/io/speechbrain/dataset.py
  paddlespeech/s2t/io/speechbrain/depgraph.py
  paddlespeech/s2t/io/speechbrain/make_dataloader.py
  paddlespeech/s2t/io/speechbrain/sampler.py
  paddlespeech/s2t/io/speechbrain/sb_pipeline.py
  paddlespeech/s2t/models/wav2vec2/processing/signal_processing.py
  paddlespeech/s2t/models/wav2vec2/processing/speech_augmentation.py
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
  setup.py
Due: auto add label=S2T, auto add label=Example, auto add label=README, auto add label=Installation

add wav2vev2_zh aishell recipe, and speechbrain dataloader. (#2916)
  examples/aishell/asr3/README.md
  examples/aishell/asr3/cmd.sh
  examples/aishell/asr3/conf/preprocess.yaml
  examples/aishell/asr3/conf/train_with_wav2vec.yaml
  examples/aishell/asr3/conf/tuning/decode.yaml
  examples/aishell/asr3/conf/wav2vec2ASR.yaml
  examples/aishell/asr3/local/aishell_prepare.py
  examples/aishell/asr3/local/data.sh
  examples/aishell/asr3/local/test.sh
  examples/aishell/asr3/local/test_wav.sh
  examples/aishell/asr3/local/train.sh
  examples/aishell/asr3/path.sh
  examples/aishell/asr3/run.sh
  examples/aishell/asr3/utils
  paddlespeech/s2t/exps/wav2vec2/model.py
  paddlespeech/s2t/io/speechbrain/__init__.py
  paddlespeech/s2t/io/speechbrain/batch.py
  paddlespeech/s2t/io/speechbrain/data_pipeline.py
  paddlespeech/s2t/io/speechbrain/data_utils.py
  paddlespeech/s2t/io/speechbrain/dataio.py
  paddlespeech/s2t/io/speechbrain/dataloader.py
  paddlespeech/s2t/io/speechbrain/dataset.py
  paddlespeech/s2t/io/speechbrain/depgraph.py
  paddlespeech/s2t/io/speechbrain/make_dataloader.py
  paddlespeech/s2t/io/speechbrain/sampler.py
  paddlespeech/s2t/io/speechbrain/sb_pipeline.py
  paddlespeech/s2t/models/wav2vec2/processing/signal_processing.py
  paddlespeech/s2t/models/wav2vec2/processing/speech_augmentation.py
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
  setup.py
Due: auto add label=S2T, auto add label=Example, auto add label=README, auto add label=Installation

Update requirements.txt
  docs/requirements.txt
Due: auto add label=Documentation

add linear norm
  paddlespeech/t2s/models/diffsinger/diffsinger.py
  paddlespeech/t2s/modules/diffusion.py
Due: auto add label=T2S

fix
  paddlespeech/t2s/models/diffsinger/diffsinger.py
  paddlespeech/t2s/modules/diffusion.py
Due: auto add label=T2S

Cantonese FastSpeech2 Training, test=tts
  examples/canton/tts3/README.md
  examples/canton/tts3/conf/default.yaml
  examples/canton/tts3/local/preprocess.sh
  examples/canton/tts3/local/synthesize.sh
  examples/canton/tts3/local/train.sh
  examples/canton/tts3/path.sh
  paddlespeech/t2s/datasets/get_feats.py
  paddlespeech/t2s/exps/fastspeech2/preprocess.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

[TTS]Cantonese TTS MFA pipeline (#2899)
  docs/requirements.txt
  examples/other/mfa/README.md
  examples/other/mfa/local/generate_canton_lexicon_wavlabs.py
  examples/other/mfa/run_canton.sh
  setup.py
Due: auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=Installation

Cantonese FastSpeech2 Training, test=tts
  examples/canton/tts3/local/synthesize.sh
  examples/canton/tts3/local/train.sh
Due: auto add label=Example

fix dist_sampler AttributeError
  paddlespeech/s2t/io/dataloader.py
Due: auto add label=S2T

[TTS]Cantonese FastSpeech2 Training, test=tts (#2907)
  examples/canton/tts3/README.md
  examples/canton/tts3/conf/default.yaml
  examples/canton/tts3/local/preprocess.sh
  examples/canton/tts3/local/synthesize.sh
  examples/canton/tts3/local/train.sh
  examples/canton/tts3/path.sh
  examples/canton/tts3/run.sh
  paddlespeech/t2s/datasets/get_feats.py
  paddlespeech/t2s/exps/fastspeech2/preprocess.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
