Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=enhancement"
    conditions:
      - files~=^deepspeech/
    actions:
      label:
        add: ["enhancement"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechnn/
    actions:
      label:
        add: ["Deployment"]

Update feature_list.md
  doc/src/feature_list.md
Due: auto add label=Documentation

update the deepspech_online.conf
  examples/aishell/s0/conf/deepspeech2_online.yaml
Due: auto add label=Example

test bin
  deepspeech/exps/u2_kaldi/bin/test.py
  deepspeech/exps/u2_kaldi/bin/train.py
Due: auto add label=enhancement

fix augmentation
  deepspeech/exps/u2_kaldi/bin/alignment.py
  deepspeech/exps/u2_kaldi/bin/export.py
  deepspeech/exps/u2_kaldi/bin/test.py
  deepspeech/exps/u2_kaldi/bin/train.py
  deepspeech/frontend/augmentor/augmentation.py
  examples/librispeech/s2/local/align.sh
  examples/librispeech/s2/local/export.sh
  examples/librispeech/s2/local/test.sh
Due: auto add label=enhancement, auto add label=Example

fix augment
  deepspeech/frontend/augmentor/augmentation.py
Due: auto add label=enhancement

fix
  deepspeech/frontend/augmentor/augmentation.py
Due: auto add label=enhancement

fix specaug
  README.md
  README_cn.md
  deepspeech/frontend/augmentor/base.py
  deepspeech/frontend/augmentor/spec_augment.py
  examples/librispeech/s2/conf/augmentation.json
Due: auto add label=enhancement, auto add label=Example, auto add label=README

fix
  README.md
  README_cn.md
  deepspeech/exps/u2_kaldi/model.py
  deepspeech/io/converter.py
Due: auto add label=enhancement, auto add label=README

fix call
  deepspeech/frontend/augmentor/impulse_response.py
  deepspeech/frontend/augmentor/noise_perturb.py
  deepspeech/frontend/augmentor/online_bayesian_normalization.py
  deepspeech/frontend/augmentor/resample.py
  deepspeech/frontend/augmentor/shift_perturb.py
  deepspeech/frontend/augmentor/spec_augment.py
  deepspeech/frontend/augmentor/speed_perturb.py
  deepspeech/frontend/augmentor/volume_perturb.py
Due: auto add label=enhancement

add assert
  deepspeech/io/converter.py
Due: auto add label=enhancement

fix
  README_cn.md
  deepspeech/exps/u2_kaldi/model.py
  deepspeech/frontend/augmentor/spec_augment.py
Due: auto add label=enhancement

add seed
  deepspeech/exps/deepspeech2/bin/train.py
  deepspeech/exps/deepspeech2/model.py
  deepspeech/exps/u2/bin/train.py
  deepspeech/exps/u2/model.py
  deepspeech/models/ds2_online/deepspeech2.py
  tests/deepspeech2_online_model_test.py
Due: auto add label=enhancement

fix the bug of 'import path error' for ds2
  .notebook/jit_infer.ipynb
  deepspeech/exps/deepspeech2/bin/deploy/runtime.py
  deepspeech/exps/deepspeech2/bin/deploy/server.py
  deepspeech/exps/deepspeech2/bin/tune.py
Due: auto add label=enhancement

support replace with mean by aug
  deepspeech/__init__.py
  deepspeech/frontend/augmentor/impulse_response.py
  deepspeech/frontend/augmentor/noise_perturb.py
  deepspeech/frontend/augmentor/online_bayesian_normalization.py
  deepspeech/frontend/augmentor/resample.py
  deepspeech/frontend/augmentor/shift_perturb.py
  deepspeech/frontend/augmentor/spec_augment.py
  deepspeech/frontend/augmentor/speed_perturb.py
  deepspeech/frontend/augmentor/volume_perturb.py
  examples/aishell/s0/conf/augmentation.json
  examples/aishell/s1/conf/augmentation.json
  examples/aug_conf/augmentation.json
  examples/augmentation/augmentation.json
  examples/callcenter/s1/conf/augmentation.json
  examples/librispeech/s0/conf/augmentation.json
  examples/librispeech/s1/conf/augmentation.json
  examples/librispeech/s2/conf/augmentation.json
  examples/timit/s1/conf/augmentation.json
  examples/tiny/s0/conf/augmentation.json
  examples/tiny/s1/conf/augmentation.json
Due: auto add label=enhancement, auto add label=Example

fix the bug of 'import path error' for ds2
  .notebook/jit_infer.ipynb
  deepspeech/exps/deepspeech2/bin/deploy/runtime.py
  deepspeech/exps/deepspeech2/bin/deploy/server.py
  deepspeech/exps/deepspeech2/bin/tune.py
  deepspeech/models/ds2_online/conv.py
  deepspeech/models/ds2_online/deepspeech2.py
  tests/deepspeech2_online_model_test.py
Due: auto add label=enhancement

(D,T) to (T, D); time warp
  deepspeech/frontend/augmentor/spec_augment.py
  deepspeech/frontend/featurizer/audio_featurizer.py
  deepspeech/frontend/normalizer.py
  deepspeech/io/collator.py
  deepspeech/io/collator_st.py
  requirements.txt
Due: auto add label=enhancement

fix specaug config
  deepspeech/frontend/augmentor/spec_augment.py
  examples/aishell/s0/conf/augmentation.json
  examples/aishell/s1/conf/augmentation.json
  examples/augmentation/augmentation.json
  examples/librispeech/s0/conf/augmentation.json
  examples/librispeech/s1/conf/augmentation.json
  examples/librispeech/s2/conf/augmentation.json
  examples/timit/s1/conf/augmentation.json
  examples/tiny/s0/conf/augmentation.json
  examples/tiny/s1/conf/augmentation.json
Due: auto add label=enhancement, auto add label=Example

using to_static
  deepspeech/exps/u2_kaldi/bin/test.py
  deepspeech/models/u2_st.py
Due: auto add label=enhancement

fix_mfa
  deepspeech/decoders/swig/setup.py
  examples/aishell/s0/conf/augmentation.json
  examples/thchs30/a0/local/data.sh
  examples/thchs30/a0/local/gen_word2phone.py
  examples/thchs30/a0/local/reorganize_thchs30.py
  examples/thchs30/a0/run.sh
  tools/extras/install_mfa.sh
Due: auto add label=enhancement, auto add label=Example, auto add label=Installation

refactor feature, dict and argument for new config format
  .flake8
  deepspeech/exps/deepspeech2/bin/export.py
  deepspeech/exps/deepspeech2/bin/test.py
  deepspeech/exps/u2/bin/alignment.py
  deepspeech/exps/u2/bin/export.py
  deepspeech/exps/u2/bin/test.py
  deepspeech/exps/u2_kaldi/bin/test.py
  deepspeech/exps/u2_kaldi/model.py
  deepspeech/exps/u2_st/bin/export.py
  deepspeech/exps/u2_st/bin/test.py
  deepspeech/frontend/featurizer/__init__.py
  deepspeech/frontend/featurizer/audio_featurizer.py
  deepspeech/frontend/featurizer/speech_featurizer.py
  deepspeech/frontend/featurizer/text_featurizer.py
  deepspeech/frontend/utility.py
  deepspeech/training/cli.py
  examples/aishell/s0/conf/augmentation.json
  examples/librispeech/s2/conf/transformer.yaml
  examples/librispeech/s2/local/align.sh
  examples/librispeech/s2/local/export.sh
  examples/librispeech/s2/local/test.sh
  examples/librispeech/s2/run.sh
  examples/tiny/s0/conf/augmentation.json
Due: auto add label=enhancement, auto add label=Example

add seed in argparse
  deepspeech/exps/deepspeech2/bin/train.py
  deepspeech/exps/deepspeech2/model.py
  deepspeech/training/cli.py
  deepspeech/training/trainer.py
  examples/aishell/s0/local/train.sh
  examples/aishell/s1/local/train.sh
  examples/callcenter/s1/local/train.sh
  examples/librispeech/s0/local/train.sh
  examples/librispeech/s1/local/train.sh
  examples/librispeech/s2/local/train.sh
  examples/ted_en_zh/t0/local/train.sh
  examples/timit/s1/local/train.sh
  examples/tiny/s0/local/train.sh
  examples/tiny/s1/local/train.sh
Due: auto add label=enhancement, auto add label=Example
