Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=enhancement"
    conditions:
      - files~=^deepspeech/
    actions:
      label:
        add: ["enhancement"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechnn/
    actions:
      label:
        add: ["Deployment"]

paddle support some bool op
  deepspeech/models/u2.py
  deepspeech/models/u2_st.py
  deepspeech/modules/attention.py
  deepspeech/modules/decoder.py
  deepspeech/modules/encoder.py
  deepspeech/modules/loss.py
  deepspeech/modules/mask.py
  deepspeech/utils/tensor_utils.py
  doc/src/reference.md
  tests/mask_test.py
Due: auto add label=enhancement, auto add label=Documentation

using bw rnn in ds2
  README.md
  README_cn.md
  deepspeech/models/ds2/rnn.py
  deepspeech/modules/ctc.py
  examples/aishell/s0/README.md
  utils/avg.sh
Due: auto add label=enhancement, auto add label=Example, auto add label=README

fix docs
  doc/src/faq.md
  doc/src/feature_list.md
  doc/src/ngram_lm.md
  doc/src/server.md
Due: auto add label=Documentation

remove useless link
  README.md
  README_cn.md
Due: auto add label=README

add blank_id parameter
  deepspeech/decoders/swig/ctc_beam_search_decoder.cpp
  deepspeech/decoders/swig/ctc_beam_search_decoder.h
  deepspeech/decoders/swig/ctc_greedy_decoder.cpp
  deepspeech/decoders/swig/ctc_greedy_decoder.h
  deepspeech/decoders/swig/setup.py
  deepspeech/decoders/swig_wrapper.py
  deepspeech/models/ds2/deepspeech2.py
  deepspeech/models/ds2_online/deepspeech2.py
  deepspeech/modules/ctc.py
  examples/aishell/s0/conf/deepspeech2.yaml
  examples/aishell/s0/conf/deepspeech2_online.yaml
  examples/librispeech/s0/conf/deepspeech2.yaml
  examples/librispeech/s0/conf/deepspeech2_online.yaml
  examples/tiny/s0/conf/deepspeech2.yaml
  examples/tiny/s0/conf/deepspeech2_online.yaml
Due: auto add label=enhancement, auto add label=Example

Add doc: ds2 online and ds2 offline
  doc/src/released_model.md
Due: auto add label=Documentation

fix readme
  README.md
  README_cn.md
Due: auto add label=README

fix recipe train and avg shell
  examples/aishell/s0/local/client.sh
  examples/aishell/s0/local/server.sh
  examples/aishell/s0/local/train.sh
  examples/aishell/s0/local/tune.sh
  examples/aishell/s0/run.sh
  examples/aishell/s1/local/train.sh
  examples/aishell/s1/run.sh
  examples/callcenter/s1/local/train.sh
  examples/callcenter/s1/run.sh
  examples/librispeech/s0/README.md
  examples/librispeech/s0/local/train.sh
  examples/librispeech/s0/local/tune.sh
  examples/librispeech/s0/run.sh
  examples/librispeech/s1/local/train.sh
  examples/librispeech/s1/run.sh
  examples/librispeech/s2/local/train.sh
  examples/librispeech/s2/run.sh
  examples/punctuation_restoration/README.md
  examples/ted_en_zh/t0/local/train.sh
  examples/ted_en_zh/t0/run.sh
  examples/timit/s1/local/train.sh
  examples/timit/s1/run.sh
  examples/tiny/s0/local/train.sh
  examples/tiny/s0/run.sh
  examples/tiny/s1/local/train.sh
  examples/tiny/s1/run.sh
Due: auto add label=Example, auto add label=README

relase librispeech audio max len to 30 second
  deepspeech/io/dataloader.py
  examples/librispeech/s0/conf/deepspeech2.yaml
  examples/librispeech/s0/conf/deepspeech2_online.yaml
  examples/librispeech/s2/conf/transformer.yaml
  examples/tiny/s0/conf/deepspeech2.yaml
  examples/tiny/s1/conf/chunk_confermer.yaml
Due: auto add label=enhancement, auto add label=Example

Add files via upload
  doc/images/ds2onlineModel.png
Due: auto add label=Documentation

Create modle_arcitecture.md
  doc/src/modle_arcitecture.md
Due: auto add label=Documentation

Update modle_arcitecture.md
  doc/src/modle_arcitecture.md
Due: auto add label=Documentation

support no_sync for backward; ds support accum grad
  deepspeech/exps/deepspeech2/model.py
  deepspeech/exps/u2/model.py
  deepspeech/exps/u2_kaldi/model.py
  deepspeech/exps/u2_st/model.py
  examples/aishell/s0/conf/deepspeech2.yaml
  examples/aishell/s0/conf/deepspeech2_online.yaml
  examples/librispeech/s0/conf/deepspeech2.yaml
  examples/librispeech/s0/conf/deepspeech2_online.yaml
  examples/tiny/s0/conf/deepspeech2.yaml
  examples/tiny/s0/conf/deepspeech2_online.yaml
Due: auto add label=enhancement, auto add label=Example

fix activation
  deepspeech/__init__.py
  deepspeech/modules/activation.py
Due: auto add label=enhancement

add timer
  deepspeech/training/timer.py
  deepspeech/training/trainer.py
Due: auto add label=enhancement

float_mul_bool type promote, lhs type promote to rhs type, https://github.com/PaddlePaddle/Paddle/pull/29265
  deepspeech/models/ds2/conv.py
  deepspeech/models/ds2/rnn.py
  deepspeech/modules/conv.py
  deepspeech/modules/loss.py
  deepspeech/modules/rnn.py
Due: auto add label=enhancement
