Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=enhancement"
    conditions:
      - files~=^deepspeech/
    actions:
      label:
        add: ["enhancement"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechnn/
    actions:
      label:
        add: ["Deployment"]

fix logfbank using PCM16
  examples/librispeech/s1/conf/preprocess.yaml
  paddlespeech/s2t/frontend/audio.py
  paddlespeech/s2t/frontend/utility.py
  paddlespeech/s2t/transform/spectrogram.py
Due: auto add label=Example

remove debug info and format code
  examples/librispeech/s1/conf/preprocess.yaml
  paddlespeech/s2t/frontend/audio.py
  paddlespeech/s2t/frontend/utility.py
  paddlespeech/s2t/transform/spec_augment.py
  paddlespeech/s2t/transform/spectrogram.py
Due: auto add label=Example

Add the Speech-To-Text in introduction.md
  docs/source/introduction.md
Due: none

Update introduction.md
  docs/source/introduction.md
Due: none

Correct wav path.
  demos/echo/run.sh
Due: none

fix doc of install
  README.md
  docs/source/install.md
  docs/source/introduction.md
Due: auto add label=README

rename echo hub demo
  demos/echo_hub/.gitignore
  demos/echo_hub/README.md
  demos/echo_hub/run.sh
Due: auto add label=README

update pwgan benchmark case
  tests/benchmark/pwgan/run_all.sh
  tests/benchmark/pwgan/run_benchmark.sh
Due: none

Add notes in example/aishell/s0/run.sh
  examples/aishell/s0/run.sh
Due: auto add label=Example

Update README.md
  README.md
Due: auto add label=README

revise the quick start of speech-to-text
  README.md
Due: auto add label=README

Add echo_hub, asr_hub and tts_hub demos.
  demos/asr_hub/README.md
  demos/asr_hub/hub_infer.py
  demos/asr_hub/run.sh
  demos/echo_hub/hub_infer.py
  demos/tts_hub/README.md
  demos/tts_hub/hub_infer.py
  demos/tts_hub/run.sh
Due: auto add label=README

Add echo_hub, asr_hub and tts_hub demos.
  demos/asr_hub/run.sh
  demos/echo_hub/run.sh
  demos/tts_hub/run.sh
Due: none

add word reward into beam search.
  examples/ted_en_zh/t0/conf/transformer_joint_noam.yaml
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/models/u2_st/u2_st.py
Due: auto add label=Example

default gpu 0 for scripts
  examples/aishell/s1/run.sh
  examples/callcenter/s1/run.sh
  examples/librispeech/s0/run.sh
  examples/librispeech/s1/run.sh
  examples/librispeech/s2/run.sh
  examples/ted_en_zh/t0/run.sh
  examples/timit/s1/run.sh
  examples/tiny/s1/run.sh
Due: auto add label=Example

format code
  README.md
  paddlespeech/s2t/exps/u2_st/model.py
Due: auto add label=README

Delete outdated QR code.
  README.md
  docs/images/wechat-code-speech.png
Due: auto add label=README

revise the benchmark
  paddlespeech/s2t/exps/u2/model.py
  tests/benchmark/conformer/run.sh
  tests/benchmark/conformer/run_analysis_mp.sh
  tests/benchmark/conformer/run_analysis_sp.sh
Due: none

fix the ips
  tests/benchmark/conformer/analysis.py
  tests/benchmark/conformer/run.sh
Due: none

more install scripts
  paddlespeech/s2t/exps/u2/model.py
  requirements.txt
  tools/extras/install_mfa_v1.sh
  tools/extras/install_mfa_v2.sh
  tools/extras/install_sclite.sh
  tools/extras/install_sox.sh
  tools/extras/install_venv.sh
Due: auto add label=Installation
