Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

Update asr_engine.py
  paddlespeech/server/engine/asr/python/asr_engine.py
Due: auto add label=Server

added thanks into readme. add data of unit, test=tts
  README.md
  README_cn.md
  paddlespeech/t2s/frontend/zh_normalization/num.py
Due: auto add label=T2S, auto add label=README

Update application.yaml
  paddlespeech/server/conf/application.yaml
Due: auto add label=Server

added thanks into readme. add data of unit, test=tts
  paddlespeech/t2s/frontend/zh_normalization/num.py
Due: auto add label=T2S

add barrier
  tests/test_tipc/benchmark_train.sh
Due: auto add label=Test

updata readme, test=doc
  examples/aishell3/tts3/README.md
  examples/zh_en_tts/tts3/README.md
Due: auto add label=Example, auto add label=README

modify data of unit, test=tts
  paddlespeech/t2s/frontend/zh_normalization/num.py
Due: auto add label=T2S

modify thanks, test=tts
  README_cn.md
Due: none

updata readme, test=doc (#2313)
  examples/aishell3/tts3/README.md
  examples/zh_en_tts/tts3/README.md
Due: auto add label=Example, auto add label=README

add barrier (#2311)
  tests/test_tipc/benchmark_train.sh
Due: auto add label=Test

add thanks into readme, append data for chinese unit (#2312)
  README.md
  README_cn.md
  paddlespeech/t2s/frontend/zh_normalization/num.py
Due: auto add label=T2S, auto add label=README

Update README.md
  README.md
Due: auto add label=README

update tts3 readme, test=doc
  docs/source/released_model.md
  examples/aishell3/tts3/README.md
  examples/aishell3/tts3/local/synthesize_e2e.sh
  examples/other/g2p/README.md
  examples/vctk/tts3/README.md
  examples/zh_en_tts/tts3/README.md
Due: auto add label=Example, auto add label=README, auto add label=Documentation

update tts3 readme, test=doc (#2315)
  docs/source/released_model.md
  examples/aishell3/tts3/README.md
  examples/aishell3/tts3/local/synthesize_e2e.sh
  examples/other/g2p/README.md
  examples/vctk/tts3/README.md
  examples/zh_en_tts/tts3/README.md
Due: auto add label=Example, auto add label=README, auto add label=Documentation

clean old ernie sat inference scripts
  README.md
  README_cn.md
  examples/ernie_sat/.meta/framework.png
  examples/ernie_sat/README.md
  examples/ernie_sat/local/align.py
  examples/ernie_sat/local/inference.py
  examples/ernie_sat/local/inference_new.py
  examples/ernie_sat/local/sedit_arg_parser.py
  examples/ernie_sat/local/utils.py
  examples/ernie_sat/path.sh
  examples/ernie_sat/prompt/dev/text
  examples/ernie_sat/prompt/dev/wav.scp
  examples/ernie_sat/run_clone_en_to_zh.sh
  examples/ernie_sat/run_clone_en_to_zh_new.sh
  examples/ernie_sat/run_gen_en.sh
  examples/ernie_sat/run_gen_en_new.sh
  examples/ernie_sat/run_sedit_en.sh
  examples/ernie_sat/run_sedit_en_new.sh
  examples/ernie_sat/test_run.sh
  examples/ernie_sat/test_run_new.sh
  examples/ernie_sat/tools/.gitkeep
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/models/ernie_sat/__init__.py
  paddlespeech/t2s/models/ernie_sat/mlm.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

Update README_cn.md
  README_cn.md
Due: none

clean old ernie sat inference scripts (#2316)
  README.md
  README_cn.md
  examples/ernie_sat/.meta/framework.png
  examples/ernie_sat/README.md
  examples/ernie_sat/local/align.py
  examples/ernie_sat/local/inference.py
  examples/ernie_sat/local/inference_new.py
  examples/ernie_sat/local/sedit_arg_parser.py
  examples/ernie_sat/local/utils.py
  examples/ernie_sat/path.sh
  examples/ernie_sat/prompt/dev/text
  examples/ernie_sat/prompt/dev/wav.scp
  examples/ernie_sat/run_clone_en_to_zh.sh
  examples/ernie_sat/run_clone_en_to_zh_new.sh
  examples/ernie_sat/run_gen_en.sh
  examples/ernie_sat/run_gen_en_new.sh
  examples/ernie_sat/run_sedit_en.sh
  examples/ernie_sat/run_sedit_en_new.sh
  examples/ernie_sat/test_run.sh
  examples/ernie_sat/test_run_new.sh
  examples/ernie_sat/tools/.gitkeep
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/models/ernie_sat/__init__.py
  paddlespeech/t2s/models/ernie_sat/mlm.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

Update README.md (#2314)
  README.md
  README_cn.md
Due: auto add label=README

Create feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
Due: auto add label=CI

Create question.md
  .github/ISSUE_TEMPLATE/question.md
Due: auto add label=CI

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: auto add label=CI

add github issue template (#2317)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/question.md
Due: auto add label=CI

Update issue templates
  .github/ISSUE_TEMPLATE/---asr-bug-report.md
  .github/ISSUE_TEMPLATE/---tts-bug-report.md
  .github/ISSUE_TEMPLATE/--tts-bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/question.md
Due: auto add label=CI

Delete bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: auto add label=CI

Delete --tts-bug-report.md
  .github/ISSUE_TEMPLATE/--tts-bug-report.md
Due: auto add label=CI

Rename ---asr-bug-report.md to bug-report-asr.md
  .github/ISSUE_TEMPLATE/bug-report-asr.md
Due: auto add label=CI

Rename ---tts-bug-report.md to bug-report-tts.md
  .github/ISSUE_TEMPLATE/bug-report-tts.md
Due: auto add label=CI

Update issue templates (#2318)
  .github/ISSUE_TEMPLATE/bug-report-asr.md
  .github/ISSUE_TEMPLATE/bug-report-tts.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/question.md
Due: auto add label=CI

Update bug-report-asr.md
  .github/ISSUE_TEMPLATE/bug-report-asr.md
Due: auto add label=CI

Update asr_engine.py (#2302)
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/engine/asr/python/asr_engine.py
Due: auto add label=Server

update readme, add get_contributors
  README.md
  README_cn.md
  tools/get_contributors.ipynb
Due: auto add label=README, auto add label=Installation

update readme, add get_contributors (#2321)
  README.md
  README_cn.md
  tools/get_contributors.ipynb
Due: auto add label=README, auto add label=Installation

Update issue templates
  .github/ISSUE_TEMPLATE/others.md
Due: auto add label=CI

Rename others.md to others.yaml
  .github/ISSUE_TEMPLATE/others.yaml
Due: auto add label=CI

Rename others.yaml to others.md
  .github/ISSUE_TEMPLATE/others.md
Due: auto add label=CI

Update issue templates
  .github/ISSUE_TEMPLATE/---others.md
  .github/ISSUE_TEMPLATE/bug-report-asr.md
Due: auto add label=CI

Delete others.md
  .github/ISSUE_TEMPLATE/others.md
Due: auto add label=CI

Rename ---others.md to others.md
  .github/ISSUE_TEMPLATE/others.md
Due: auto add label=CI
