Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

test=doc
  paddlespeech/cli/asr/infer.py
Due: auto add label=CLI

add aishell test script
  speechx/examples/aishell/local/compute-wer.py
  speechx/examples/aishell/local/split_data.sh
  speechx/examples/aishell/path.sh
  speechx/examples/aishell/run.sh
  speechx/examples/aishell/utils
  speechx/examples/decoder/offline_decoder_sliding_chunk_main.cc
  speechx/examples/feat/linear_spectrogram_main.cc
Due: auto add label=Deployment

update the note, test=doc
  examples/voxceleb/sv0/local/data.sh
  paddlespeech/vector/exps/ecapa_tdnn/train.py
  paddlespeech/vector/io/batch.py
Due: auto add label=Vector, auto add label=Example

enlarge audio_cache buff
  speechx/speechx/frontend/audio/audio_cache.h
Due: auto add label=Deployment

update notes, test=doc
  paddlespeech/t2s/exps/ort_predict.py
  paddlespeech/t2s/exps/ort_predict_e2e.py
Due: auto add label=T2S

[Doc] update readem for aishell/asr0, test=doc
  examples/aishell/asr0/README.md
Due: auto add label=Example, auto add label=README

test=doc
  examples/aishell/asr1/README.md
Due: auto add label=Example, auto add label=README

test=doc
  examples/librispeech/asr1/README.md
Due: auto add label=Example, auto add label=README

test=doc
  examples/aishell/asr0/README.md
Due: auto add label=Example, auto add label=README

test=doc
  examples/librispeech/asr2/README.md
Due: auto add label=Example, auto add label=README

add paddle2onnx, test=tts
  examples/csmsc/tts3/local/ort_predict.sh
  examples/csmsc/tts3/local/paddle2onnx.sh
  examples/csmsc/tts3/run.sh
Due: auto add label=Example

update readme, test=doc
  README.md
  README_cn.md
  docs/source/released_model.md
  examples/csmsc/tts2/README.md
  examples/csmsc/tts3/run.sh
Due: auto add label=Example, auto add label=README, auto add label=Documentation

remove fill_constant_batch_size_like in static model of speedyspeech, test=tts
  examples/csmsc/tts3/run.sh
  paddlespeech/t2s/modules/positional_encoding.py
Due: auto add label=T2S, auto add label=Example

code format, test=doc
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/engine/tts/online/tts_engine.py
  paddlespeech/server/tests/tts/online/ws_client.py
  paddlespeech/server/tests/tts/online/ws_client_playaudio.py
  paddlespeech/server/utils/audio_process.py
  paddlespeech/server/utils/util.py
  paddlespeech/server/ws/tts_socket.py
Due: auto add label=Server

update readme, test=doc
  docs/source/released_model.md
  examples/csmsc/tts2/README.md
Due: auto add label=Example, auto add label=README, auto add label=Documentation

[vec][score] add plda model, test=doc fix #1667
  paddlespeech/vector/cluster/diarization.py
  paddlespeech/vector/cluster/plda.py
Due: auto add label=Vector

fixed online model md5 error , test=doc
  paddlespeech/server/engine/asr/online/asr_engine.py
Due: auto add label=Server

convert dataset format to paddlespeech, test=doc
  examples/ami/sd0/local/compute_embdding.py
  examples/ami/sd0/local/process.sh
  examples/ami/sd0/run.sh
  paddlespeech/vector/io/dataset_from_json.py
Due: auto add label=Vector, auto add label=Example

delete unused file ami_dataset.py, test=doc
  examples/ami/sd0/local/ami_dataset.py
Due: auto add label=Example

fix rirs noise download bug, test=doc
  dataset/rir_noise/rir_noise.py
Due: auto add label=Dataset

add aishell eg & add json parser & add write cmvn binary
  speechx/examples/aishell/local/split_data.sh
  speechx/examples/aishell/run.sh
  speechx/examples/decoder/offline_decoder_sliding_chunk_main.cc
  speechx/examples/feat/CMakeLists.txt
  speechx/examples/feat/linear_spectrogram_main.cc
  speechx/speechx/frontend/audio/audio_cache.cc
  speechx/speechx/frontend/audio/audio_cache.h
  speechx/speechx/frontend/audio/linear_spectrogram.h
  speechx/speechx/utils/CMakeLists.txt
  speechx/speechx/utils/file_utils.cc
  speechx/speechx/utils/file_utils.h
  speechx/speechx/utils/simdjson.cpp
  speechx/speechx/utils/simdjson.h
Due: auto add label=Deployment

add linear feature no db
  speechx/examples/feat/linear_spectrogram_without_db_norm_main.cc
Due: auto add label=Deployment

add cmvn_json2binary_main
  speechx/examples/feat/cmvn_json2binary_main.cc
Due: auto add label=Deployment

remove mutable in audio_cache
  speechx/speechx/frontend/audio/audio_cache.h
Due: auto add label=Deployment

[vec][score] update plda model, test=doc fix #1667
  paddlespeech/vector/cluster/plda.py
Due: auto add label=Vector

wrap the embedding mean and std norm, test=doc
  paddlespeech/vector/exps/ecapa_tdnn/test.py
  paddlespeech/vector/exps/ecapa_tdnn/train.py
  paddlespeech/vector/io/dataset.py
  paddlespeech/vector/io/embedding_norm.py
  paddlespeech/vector/utils/time.py
Due: auto add label=Vector

[vec][score] update Copyright, test=doc fix #1667
  paddlespeech/vector/cluster/diarization.py
  paddlespeech/vector/cluster/plda.py
Due: auto add label=Vector

add test code, test=doc
  paddlespeech/server/tests/tts/infer/csmsc_test.txt
  paddlespeech/server/tests/tts/infer/run.sh
  paddlespeech/server/tests/tts/infer/test_online_tts.py
Due: auto add label=Server

fix vector ips log bug, test=doc
  paddlespeech/vector/exps/ecapa_tdnn/train.py
  paddlespeech/vector/utils/time.py
Due: auto add label=Vector

delete unused file ami_dataset.py, compute_der.py, test=doc
  examples/ami/sd0/local/ami_dataset.py
  examples/ami/sd0/local/experiment.py
  utils/compute_der.py
Due: auto add label=Example

code format, test=doc
  paddlespeech/server/tests/tts/infer/csmsc_test.txt
  paddlespeech/server/tests/tts/infer/run.sh
  paddlespeech/server/tests/tts/infer/test_online_tts.py
Due: auto add label=Server

make wfst work & align frame
  speechx/examples/decoder/offline_wfst_decoder_main.cc
  speechx/speechx/decoder/ctc_tlg_decoder.cc
  speechx/speechx/decoder/ctc_tlg_decoder.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/decodable.h
Due: auto add label=Deployment

code format, test=doc
  paddlespeech/server/tests/tts/infer/run.sh
  paddlespeech/server/tests/tts/infer/test_online_tts.py
Due: auto add label=Server

add aishell wfst eg script
  speechx/examples/aishell/run.sh
  speechx/examples/decoder/offline_decoder_sliding_chunk_main.cc
  speechx/examples/decoder/offline_wfst_decoder_main.cc
  speechx/speechx/nnet/paddle_nnet.cc
Due: auto add label=Deployment

remove unnecessary log
  speechx/examples/decoder/offline_decoder_sliding_chunk_main.cc
  speechx/examples/decoder/offline_wfst_decoder_main.cc
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/paddle_nnet.cc
Due: auto add label=Deployment

add log & rename LogFrameLikelihood
  speechx/speechx/decoder/ctc_beam_search_decoder.cc
  speechx/speechx/kaldi/decoder/decodable-itf.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/decodable.h
Due: auto add label=Deployment

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
