Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

add paddleaudio test
  audio/paddleaudio/third_party/kaldi/CMakeLists.txt
  audio/paddleaudio/third_party/kaldi/base
  audio/paddleaudio/third_party/kaldi/feat
  audio/paddleaudio/third_party/kaldi/matrix
  audio/paddleaudio/third_party/kaldi/util
  audio/tests/backends/soundfile/common_utils
  audio/tests/common_utils/data_utils.py
  audio/tests/common_utils/sox_utils.py
Due: none

fix some problem by comment.
  demos/whisper/README.md
  demos/whisper/README_cn.md
  demos/whisper/run.sh
  paddlespeech/cli/whisper/infer.py
  paddlespeech/s2t/models/whisper/__init__.py
  paddlespeech/s2t/models/whisper/whipser.py
Due: auto add label=S2T, auto add label=CLI, auto add label=Demo, auto add label=README

fix yapf
  paddlespeech/s2t/models/whisper/whipser.py
Due: auto add label=S2T

wav2vec2 demo update: support different optimizer and lr_schedular, align mdoel, update input type, test=asr
  demos/speech_ssl/run.sh
  examples/librispeech/asr3/conf/preprocess.yaml
  examples/librispeech/asr3/conf/wav2vec2ASR.yaml
  examples/librispeech/asr3/local/train.sh
  examples/librispeech/asr3/run.sh
  paddlespeech/audio/transform/spectrogram.py
  paddlespeech/s2t/exps/wav2vec2/bin/train.py
  paddlespeech/s2t/exps/wav2vec2/model.py
  paddlespeech/s2t/models/wav2vec2/modules/VanillaNN.py
  paddlespeech/s2t/models/wav2vec2/modules/containers.py
  paddlespeech/s2t/models/wav2vec2/modules/linear.py
  paddlespeech/s2t/models/wav2vec2/modules/modeling_wav2vec2.py
  paddlespeech/s2t/models/wav2vec2/processing/speech_augmentation.py
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
  paddlespeech/s2t/training/scheduler.py
Due: auto add label=S2T, auto add label=Example, auto add label=Demo

wav2vec2 demo update: support different optimizer and lr_schedular, align mdoel, update input type, test=asr
  paddlespeech/s2t/models/wav2vec2/modules/VanillaNN.py
  paddlespeech/s2t/models/wav2vec2/modules/linear.py
Due: auto add label=S2T

Update onnx_api.py (#2664)
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
Due: auto add label=T2S

add tts paddlelite x86 inference, test=tts
  examples/aishell3/tts3/README.md
  examples/aishell3/tts3/local/lite_predict.sh
  examples/aishell3/tts3/run.sh
  examples/aishell3/voc1/README.md
  examples/aishell3/voc5/README.md
  examples/csmsc/tts2/README.md
  examples/csmsc/tts2/local/lite_predict.sh
  examples/csmsc/tts2/run.sh
  examples/csmsc/tts3/README.md
  examples/csmsc/tts3/local/export2lite.sh
  examples/csmsc/tts3/local/lite_predict.sh
  examples/csmsc/tts3/local/lite_predict_streaming.sh
  examples/csmsc/tts3/run.sh
  examples/csmsc/tts3/run_cnndecoder.sh
  examples/csmsc/voc1/README.md
  examples/csmsc/voc3/README.md
  examples/csmsc/voc5/README.md
  examples/ljspeech/tts3/README.md
  examples/ljspeech/tts3/local/lite_predict.sh
  examples/ljspeech/tts3/run.sh
  examples/ljspeech/voc1/README.md
  examples/ljspeech/voc5/README.md
  examples/vctk/tts3/README.md
  examples/vctk/tts3/local/lite_predict.sh
  examples/vctk/tts3/run.sh
  examples/vctk/voc1/README.md
  examples/vctk/voc5/README.md
  paddlespeech/t2s/exps/lite_predict.py
  paddlespeech/t2s/exps/lite_predict_streaming.py
  paddlespeech/t2s/exps/syn_utils.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

Update install.md
  docs/source/install.md
Due: auto add label=Documentation

update released_model.md, test=tts
  docs/source/released_model.md
  examples/csmsc/voc1/README.md
Due: auto add label=Example, auto add label=README, auto add label=Documentation

wav2vec2 demo update: support different optimizer and lr_schedular, align mdoel, update input type, test=asr
  README.md
  README_cn.md
  examples/librispeech/asr3/RESULTS.md
  paddlespeech/resource/pretrained_models.py
Due: auto add label=Example, auto add label=README

[s2t] add whisper asr large model (#2640)
  demos/whisper/README.md
  demos/whisper/README_cn.md
  demos/whisper/run.sh
  paddlespeech/cli/base_commands.py
  paddlespeech/cli/whisper/__init__.py
  paddlespeech/cli/whisper/infer.py
  paddlespeech/resource/model_alias.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/resource/resource.py
  paddlespeech/s2t/exps/whisper/test_wav.py
  paddlespeech/s2t/models/whisper/__init__.py
  paddlespeech/s2t/models/whisper/tokenizer.py
  paddlespeech/s2t/models/whisper/utils.py
  paddlespeech/s2t/models/whisper/whipser.py
  paddlespeech/s2t/models/whisper/whisper_LICENSE
  tests/unit/cli/test_cli.sh
Due: auto add label=S2T, auto add label=CLI, auto add label=Demo, auto add label=README, auto add label=Test

wav2vec2 demo update: support different optimizer and lr_schedular, align mdoel, update input type, test=asr
  examples/librispeech/asr3/RESULTS.md
Due: auto add label=Example

Update RESULTS.md
  examples/librispeech/asr3/RESULTS.md
Due: auto add label=Example

rm redundant comment
  audio/paddleaudio/_ops.py
  audio/paddleaudio/io/__init__.py
  audio/paddleaudio/src/pybind/pybind.cpp
  audio/paddleaudio/src/pybind/sox/utils.cpp
Due: none

unsupport sox in windows
  audio/paddleaudio/_internal/module_utils.py
Due: none

Update base_commands.py
  paddlespeech/cli/base_commands.py
Due: auto add label=CLI

wav2vec2 demo update: support different optimizer and lr_schedular, align mdoel, update input type, test=asr
  paddlespeech/resource/resource.py
Due: none

rm io in __init__
  audio/paddleaudio/__init__.py
  audio/paddleaudio/_extension.py
  audio/setup.py
Due: none

wav2vec2 demo update: support different optimizer and lr_schedular, align mdoel, update input type, test=asr
  examples/librispeech/asr3/RESULTS.md
  examples/librispeech/asr3/conf/wav2vec2ASR.yaml
  paddlespeech/resource/pretrained_models.py
Due: auto add label=Example

modify normalize
  paddlespeech/t2s/frontend/zh_normalization/text_normlization.py
Due: auto add label=T2S

fix issue 2566, test=tts
  paddlespeech/t2s/frontend/zh_normalization/constants.py
Due: auto add label=T2S

after pre-commit
  paddlespeech/t2s/frontend/zh_normalization/text_normlization.py
Due: auto add label=T2S

add paddlelite in setup.py
  setup.py
Due: auto add label=Installation

Update install.md (#2666)
  docs/source/install.md
Due: auto add label=Documentation

[ASR] support wav2vec2 command line and demo (#2658)
  README.md
  README_cn.md
  demos/speech_ssl/README.md
  demos/speech_ssl/README_cn.md
  demos/speech_ssl/run.sh
  examples/librispeech/asr3/RESULTS.md
  examples/librispeech/asr3/conf/preprocess.yaml
  examples/librispeech/asr3/conf/wav2vec2ASR.yaml
  examples/librispeech/asr3/local/train.sh
  examples/librispeech/asr3/run.sh
  paddlespeech/audio/transform/spectrogram.py
  paddlespeech/cli/base_commands.py
  paddlespeech/cli/ssl/__init__.py
  paddlespeech/cli/ssl/infer.py
  paddlespeech/resource/model_alias.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/resource/resource.py
  paddlespeech/s2t/exps/wav2vec2/__init__.py
  paddlespeech/s2t/exps/wav2vec2/bin/train.py
  paddlespeech/s2t/exps/wav2vec2/model.py
  paddlespeech/s2t/models/wav2vec2/modules/VanillaNN.py
  paddlespeech/s2t/models/wav2vec2/modules/__init__.py
  paddlespeech/s2t/models/wav2vec2/modules/containers.py
  paddlespeech/s2t/models/wav2vec2/modules/linear.py
  paddlespeech/s2t/models/wav2vec2/modules/modeling_wav2vec2.py
  paddlespeech/s2t/models/wav2vec2/processing/__init__.py
  paddlespeech/s2t/models/wav2vec2/processing/speech_augmentation.py
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
  paddlespeech/s2t/training/scheduler.py
  tests/unit/cli/test_cli.sh
Due: auto add label=S2T, auto add label=Example, auto add label=CLI, auto add label=Demo, auto add label=README, auto add label=Test

fix wav2vec2 demos, test=doc
  demos/speech_ssl/README.md
  demos/speech_ssl/README_cn.md
Due: auto add label=Demo, auto add label=README

fix wav2vec2 demos, test=doc
  demos/speech_ssl/README_cn.md
Due: auto add label=Demo

update
  examples/aishell3/tts3/local/lite_predict.sh
  examples/csmsc/tts3/README.md
  examples/csmsc/tts3/run.sh
  examples/vctk/tts3/local/lite_predict.sh
  paddlespeech/t2s/exps/syn_utils.py
Due: auto add label=T2S, auto add label=Example, auto add label=README

add double byte char for zh normalization (#2661)
  paddlespeech/t2s/frontend/zh_normalization/constants.py
  paddlespeech/t2s/frontend/zh_normalization/text_normlization.py
Due: auto add label=T2S

[TTS]Add TTS Paddle-Lite x86 inference (#2667)
  docs/source/released_model.md
  examples/aishell3/tts3/README.md
  examples/aishell3/tts3/local/lite_predict.sh
  examples/aishell3/tts3/run.sh
  examples/aishell3/voc1/README.md
  examples/aishell3/voc5/README.md
  examples/csmsc/tts2/README.md
  examples/csmsc/tts2/local/lite_predict.sh
  examples/csmsc/tts2/run.sh
  examples/csmsc/tts3/README.md
  examples/csmsc/tts3/local/export2lite.sh
  examples/csmsc/tts3/local/lite_predict.sh
  examples/csmsc/tts3/local/lite_predict_streaming.sh
  examples/csmsc/tts3/run.sh
  examples/csmsc/tts3/run_cnndecoder.sh
  examples/csmsc/voc1/README.md
  examples/csmsc/voc3/README.md
  examples/csmsc/voc5/README.md
  examples/ljspeech/tts3/README.md
  examples/ljspeech/tts3/local/lite_predict.sh
  examples/ljspeech/tts3/run.sh
  examples/ljspeech/voc1/README.md
  examples/ljspeech/voc5/README.md
  examples/vctk/tts3/README.md
  examples/vctk/tts3/local/lite_predict.sh
  examples/vctk/tts3/run.sh
  examples/vctk/voc1/README.md
  examples/vctk/voc5/README.md
  paddlespeech/t2s/exps/lite_predict.py
  paddlespeech/t2s/exps/lite_predict_streaming.py
  paddlespeech/t2s/exps/syn_utils.py
  setup.py
Due: auto add label=T2S, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=Installation

add all whisper model size support
  README.md
  README_cn.md
  demos/README.md
  demos/README_cn.md
  demos/whisper/README.md
  demos/whisper/README_cn.md
  demos/whisper/run.sh
  paddlespeech/cli/whisper/infer.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/s2t/models/whisper/whipser.py
Due: auto add label=S2T, auto add label=CLI, auto add label=Demo, auto add label=README

fix windows cblas compile error
  audio/cmake/external/openblas.cmake
  audio/paddleaudio/third_party/kaldi/CMakeLists.txt
  speechx/speechx/kaldi/matrix/kaldi-blas.h
Due: auto add label=Deployment

add choices in parser.
  paddlespeech/cli/whisper/infer.py
Due: auto add label=CLI

fix enc_dropout and nor.py, test=asr
  paddlespeech/s2t/models/wav2vec2/modules/VanillaNN.py
  paddlespeech/s2t/models/wav2vec2/modules/normalization.py
Due: auto add label=S2T

add all whisper model size support, test=asr (#2677)
  README.md
  README_cn.md
  demos/README.md
  demos/README_cn.md
  demos/whisper/README.md
  demos/whisper/README_cn.md
  demos/whisper/run.sh
  paddlespeech/cli/whisper/infer.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/s2t/models/whisper/whipser.py
Due: auto add label=S2T, auto add label=CLI, auto add label=Demo, auto add label=README

fix Whisper cli model download path error.
  demos/whisper/README.md
  demos/whisper/README_cn.md
  paddlespeech/cli/whisper/infer.py
  paddlespeech/resource/pretrained_models.py
Due: auto add label=CLI, auto add label=Demo, auto add label=README

[doc] update wav2vec2 demos README.md, test=doc (#2674)
  demos/speech_ssl/README.md
  demos/speech_ssl/README_cn.md
  paddlespeech/s2t/models/wav2vec2/modules/VanillaNN.py
  paddlespeech/s2t/models/wav2vec2/modules/normalization.py
Due: auto add label=S2T, auto add label=Demo, auto add label=README

fix resource download path.
  paddlespeech/cli/whisper/infer.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/s2t/exps/whisper/test_wav.py
  paddlespeech/s2t/models/whisper/tokenizer.py
  paddlespeech/s2t/models/whisper/whipser.py
Due: auto add label=S2T, auto add label=CLI
