Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

to r1.0.0a, test=doc
  setup.py
Due: auto add label=Installation

update audio version to r1.0.0a
  audio/setup.py
Due: none

[vec][debug] bug fix to adapt VUE, test=doc
  demos/audio_searching/README.md
  demos/audio_searching/README_cn.md
  demos/audio_searching/src/test_vpr_search.py
  demos/audio_searching/src/vpr_search.py
Due: auto add label=Demo, auto add label=README

add aishell conformer, test=doc
  paddlespeech/cli/asr/pretrained_models.py
Due: auto add label=CLI

fix the streaming asr server bug, server client, test=doc
  paddlespeech/server/utils/audio_handler.py
Due: auto add label=Server

update the audio handler note, test=doc
  paddlespeech/server/utils/audio_handler.py
Due: auto add label=Server

update the online protocal note, test=doc
  paddlespeech/server/ws/asr_socket.py
Due: auto add label=Server

update the streaming asr server readme, test=doc
  demos/README.md
  demos/README_cn.md
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
Due: auto add label=Demo, auto add label=README

update the streaming asr english note, test=doc
  demos/README.md
Due: auto add label=Demo, auto add label=README

fbank and mfcc
  speechx/speechx/frontend/audio/data_cache.h
  speechx/speechx/frontend/audio/fbank.cc
  speechx/speechx/frontend/audio/fbank.h
  speechx/speechx/frontend/audio/mfcc.cc
  speechx/speechx/frontend/audio/mfcc.h
Due: auto add label=Deployment

format code
  audio/tests/backends/soundfile/test_io.py
  audio/tests/benchmark/log_melspectrogram.py
  audio/tests/benchmark/melspectrogram.py
  audio/tests/benchmark/mfcc.py
  audio/tests/features/base.py
  audio/tests/features/test_istft.py
  audio/tests/features/test_kaldi.py
  audio/tests/features/test_librosa.py
  audio/tests/features/test_log_melspectrogram.py
  audio/tests/features/test_spectrogram.py
  audio/tests/features/test_stft.py
  demos/audio_searching/src/vpr_search.py
  examples/voxceleb/sv0/local/data_prepare.py
  examples/voxceleb/sv0/local/make_rirs_noise_csv_dataset_from_json.py
  examples/voxceleb/sv0/local/make_vox_csv_dataset_from_json.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/utils.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/cls/exps/panns/deploy/predict.py
  paddlespeech/cls/exps/panns/export_model.py
  paddlespeech/cls/exps/panns/predict.py
  paddlespeech/cls/exps/panns/train.py
  paddlespeech/cls/models/panns/panns.py
  paddlespeech/s2t/transform/spectrogram.py
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
  paddlespeech/server/util.py
  paddlespeech/vector/exps/ecapa_tdnn/extract_emb.py
  paddlespeech/vector/exps/ecapa_tdnn/test.py
  paddlespeech/vector/exps/ecapa_tdnn/train.py
  paddlespeech/vector/io/dataset.py
  paddlespeech/vector/io/dataset_from_json.py
  tests/unit/server/online/tts/check_server/change_yaml.py
Due: auto add label=S2T, auto add label=Vector, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=Test

fix log_interval and lr when resume training, test=asr
  paddlespeech/s2t/training/trainer.py
Due: auto add label=S2T

fix conformer_aishell of cli, test=doc
  paddlespeech/cli/asr/pretrained_models.py
Due: auto add label=CLI

add conformer_online_aishell, test=doc
  examples/aishell/asr1/conf/chunk_conformer.yaml
  paddlespeech/cli/asr/pretrained_models.py
Due: auto add label=Example, auto add label=CLI

add test for long audio in cli, test=doc
  tests/unit/cli/test_cli.sh
Due: auto add label=Test

make cmvn global in run.sh
  speechx/examples/ds2_ol/aishell/run.sh
Due: auto add label=Deployment

config param for nnet
  paddlespeech/__init__.py
  speechx/examples/ds2_ol/decoder/ctc-prefix-beam-search-decoder-ol.cc
  speechx/examples/ds2_ol/decoder/wfst-decoder-ol.cc
  speechx/examples/ds2_ol/feat/linear-spectrogram-wo-db-norm-ol.cc
  speechx/speechx/common/CMakeLists.txt
  speechx/speechx/decoder/param.h
  speechx/speechx/frontend/audio/audio_cache.h
  speechx/speechx/frontend/audio/feature_cache.cc
  speechx/speechx/nnet/paddle_nnet.cc
  speechx/speechx/nnet/paddle_nnet.h
Due: auto add label=Deployment

format
  paddlespeech/__init__.py
  speechx/examples/ds2_ol/decoder/ctc-prefix-beam-search-decoder-ol.cc
  speechx/examples/ds2_ol/decoder/wfst-decoder-ol.cc
  speechx/examples/ds2_ol/feat/linear-spectrogram-wo-db-norm-ol.cc
  speechx/speechx/decoder/param.h
  speechx/speechx/frontend/audio/audio_cache.h
  speechx/speechx/frontend/audio/mfcc.cc
  speechx/speechx/nnet/paddle_nnet.cc
  speechx/speechx/nnet/paddle_nnet.h
Due: auto add label=Deployment

fix infer, test=doc
  paddlespeech/cli/asr/infer.py
Due: auto add label=CLI

add cli test case, test=doc
  tests/unit/cli/test_cli.sh
Due: auto add label=Test

add streaming tts demos, test=doc
  demos/streaming_tts_server/README.md
  demos/streaming_tts_server/README_cn.md
  demos/streaming_tts_server/conf/tts_online_application.yaml
  demos/streaming_tts_server/start_server.sh
  demos/streaming_tts_server/test_client.sh
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/conf/tts_online_application.yaml
  paddlespeech/server/engine/tts/online/python/tts_engine.py
  paddlespeech/server/tests/tts/online/http_client.py
  paddlespeech/server/tests/tts/online/http_client_playaudio.py
  paddlespeech/server/tests/tts/online/ws_client.py
  paddlespeech/server/tests/tts/online/ws_client_playaudio.py
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/server/utils/audio_process.py
  tests/unit/server/online/tts/check_server/conf/application.yaml
  tests/unit/server/online/tts/check_server/test.sh
  tests/unit/server/online/tts/check_server/test_all.sh
Due: auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Test

updata readme, test=doc
  paddlespeech/server/README.md
  paddlespeech/server/README_cn.md
Due: auto add label=Server, auto add label=README

add text punc server, test=doc
  paddlespeech/cli/vector/infer.py
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/conf/punctuation.yaml
  paddlespeech/server/engine/engine_factory.py
  paddlespeech/server/engine/text/__init__.py
  paddlespeech/server/engine/text/python/__init__.py
  paddlespeech/server/engine/text/python/text_engine.py
  paddlespeech/server/restful/api.py
  paddlespeech/server/restful/request.py
  paddlespeech/server/restful/response.py
  paddlespeech/server/restful/text_api.py
  paddlespeech/server/tests/text/http_client.py
  paddlespeech/server/util.py
Due: auto add label=CLI, auto add label=Server

update the punc yaml to application.yaml, test=doc
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/conf/punctuation.yaml
Due: auto add label=Server

Add mdtc model.
  paddlespeech/kws/__init__.py
  paddlespeech/kws/models/__init__.py
  paddlespeech/kws/models/mdtc.py
Due: none

Add KWS example.
  audio/paddleaudio/datasets/__init__.py
  audio/paddleaudio/datasets/dataset.py
  audio/paddleaudio/datasets/hey_snips.py
  paddlespeech/kws/__init__.py
  paddlespeech/kws/models/mdtc.py
Due: none

Add KWS example.
  examples/hey_snips/README.md
  examples/hey_snips/RESULTS.md
  examples/hey_snips/kws0/README.md
Due: auto add label=Example, auto add label=README

Add KWS example.
  examples/hey_snips/README.md
  examples/hey_snips/kws0/RESULTS.md
  examples/hey_snips/kws0/path.sh
  examples/hey_snips/kws0/run.sh
  paddlespeech/kws/exps/mdtc/compute_det.py
  paddlespeech/kws/exps/mdtc/plot_det_curve.py
  paddlespeech/kws/exps/mdtc/score.py
  paddlespeech/kws/exps/mdtc/train.py
Due: auto add label=Example, auto add label=README

Add KWS example.
  examples/hey_snips/kws0/local/train.sh
  examples/hey_snips/kws0/run.sh
  paddlespeech/kws/exps/mdtc/compute_det.py
  paddlespeech/kws/models/loss.py
Due: auto add label=Example

Add KWS example.
  audio/paddleaudio/datasets/hey_snips.py
  examples/hey_snips/README.md
  examples/hey_snips/RESULTS.md
  examples/hey_snips/kws0/RESULTS.md
  examples/hey_snips/kws0/conf/mdtc.yaml
  examples/hey_snips/kws0/local/plot.sh
  examples/hey_snips/kws0/local/score.sh
  examples/hey_snips/kws0/local/train.sh
  examples/hey_snips/kws0/run.sh
  paddlespeech/kws/exps/mdtc/collate.py
  paddlespeech/kws/exps/mdtc/compute_det.py
  paddlespeech/kws/exps/mdtc/plot_det_curve.py
  paddlespeech/kws/exps/mdtc/score.py
  paddlespeech/kws/exps/mdtc/train.py
  paddlespeech/kws/models/__init__.py
  paddlespeech/kws/models/loss.py
  paddlespeech/kws/models/mdtc.py
Due: auto add label=Example, auto add label=README

fix code, test=doc
  demos/streaming_tts_server/test_client.sh
  paddlespeech/t2s/modules/predictor/length_regulator.py
Due: auto add label=T2S, auto add label=Demo

update the punc text model, text=doc
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/restful/text_api.py
Due: auto add label=Server

code format, test=tts
  paddlespeech/t2s/modules/predictor/length_regulator.py
Due: auto add label=T2S

fix code, test=doc
  paddlespeech/server/utils/audio_process.py
Due: auto add label=Server

fix exit, test=doc
  paddlespeech/cli/asr/infer.py
  tests/unit/cli/test_cli.sh
Due: auto add label=CLI, auto add label=Test

replace fbank, test=asr
  paddlespeech/s2t/frontend/featurizer/audio_featurizer.py
Due: auto add label=S2T

remove logfbank from python_speech_features, test=asr
  paddlespeech/s2t/frontend/featurizer/audio_featurizer.py
Due: auto add label=S2T

fix test_cli, test=doc
  tests/unit/cli/test_cli.sh
Due: auto add label=Test

add color for test, test=doc
  tests/unit/cli/test_cli.sh
Due: auto add label=Test

Update README_cn.md
  demos/streaming_tts_server/README_cn.md
Due: auto add label=Demo
