Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=enhancement:
  label:
    add:
    - enhancement

auto add label=Example:
  label:
    add:
    - Example

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

fix env.sh PATH postion
  env.sh
Due: auto add label=CI

fix autolog add cuda device env when not has
  deepspeech/utils/log.py
Due: auto add label=enhancement

ctcloss can work w/ paddle2.1.2, but loss larger than before
  deepspeech/__init__.py
  deepspeech/modules/loss.py
Due: auto add label=enhancement

add bentchmark
  benchmark/README.md
  benchmark/analysis.py
  benchmark/prepare.sh
  benchmark/run.sh
  benchmark/run_analysis_mp.sh
  benchmark/run_analysis_sp.sh
  benchmark/run_benchmark.sh
Due: auto add label=README

update the installing script for openfst
  benchmark/README.md
  benchmark/run_benchmark.sh
  deepspeech/decoders/swig/setup.sh
  tests/benchmark/.gitignore
  tests/benchmark/README.md
  tests/benchmark/analysis.py
  tests/benchmark/prepare.sh
  tests/benchmark/run.sh
  tests/benchmark/run_all.sh
  tests/benchmark/run_analysis_mp.sh
  tests/benchmark/run_analysis_sp.sh
  tests/benchmark/run_benchmark.sh
Due: auto add label=enhancement, auto add label=README

revise the run_benchmark.sh
  tests/benchmark/run_benchmark.sh
Due: none

more log; refactor ctc decoders; rm useless code
  deepspeech/decoders/swig/ctc_beam_search_decoder.cpp
  deepspeech/decoders/swig/decoder_utils.h
  deepspeech/decoders/swig/scorer.cpp
  deepspeech/exps/deepspeech2/bin/export.py
  deepspeech/exps/deepspeech2/bin/test_hub.py
  deepspeech/frontend/augmentor/augmentation.py
  deepspeech/frontend/augmentor/spec_augment.py
  deepspeech/frontend/featurizer/speech_featurizer.py
  deepspeech/frontend/featurizer/text_featurizer.py
  deepspeech/frontend/utility.py
  deepspeech/models/ds2/deepspeech2.py
  deepspeech/models/ds2_online/deepspeech2.py
  deepspeech/utils/log.py
Due: auto add label=enhancement

disable __pycache__
  examples/1xt2x/aishell/path.sh
  examples/1xt2x/baidu_en8k/path.sh
  examples/1xt2x/librispeech/path.sh
  examples/aishell/s0/path.sh
  examples/aishell/s1/path.sh
  examples/callcenter/s1/path.sh
  examples/librispeech/s0/path.sh
  examples/librispeech/s1/path.sh
  examples/librispeech/s2/path.sh
  examples/ted_en_zh/t0/path.sh
  examples/timit/s1/path.sh
Due: auto add label=Example

refactor trainer.py and rm ueseless dir setup code
  deepspeech/exps/deepspeech2/model.py
  deepspeech/exps/u2/model.py
  deepspeech/exps/u2_kaldi/model.py
  deepspeech/exps/u2_st/model.py
  deepspeech/modules/loss.py
  deepspeech/training/trainer.py
Due: auto add label=enhancement

extract ctc_align into ctc_utils
  deepspeech/exps/deepspeech2/model.py
  deepspeech/exps/u2/model.py
  deepspeech/exps/u2_kaldi/model.py
  deepspeech/exps/u2_st/model.py
  deepspeech/utils/ctc_utils.py
Due: auto add label=enhancement

fix all_version print
  deepspeech/utils/utility.py
Due: auto add label=enhancement

update paddle version to 2.1.2
  README.md
Due: auto add label=README

compute cmvn before build vocab
  examples/aishell/README.md
  examples/aishell/s0/README.md
  examples/aishell/s0/local/data.sh
  examples/aishell/s1/conf/augmentation.json
  examples/aishell/s1/local/data.sh
  examples/aishell/s1/path.sh
  examples/callcenter/s1/local/data.sh
  examples/librispeech/README.md
  examples/librispeech/s0/local/data.sh
  examples/librispeech/s1/README.md
  examples/librispeech/s1/local/data.sh
  examples/librispeech/s2/local/data.sh
  examples/ted_en_zh/t0/local/data.sh
  examples/timit/s1/local/data.sh
  examples/tiny/s0/local/data.sh
  examples/tiny/s1/local/data.sh
Due: auto add label=Example, auto add label=README

resume not increase epoch and step, before_train do it
  deepspeech/training/trainer.py
Due: auto add label=enhancement

update timit result
  examples/timit/s1/README.md
  examples/timit/s1/conf/transformer.yaml
Due: auto add label=Example, auto add label=README

refactor raw ctc decoder into ctcdecoder
  deepspeech/decoders/README.MD
  deepspeech/decoders/__init__.py
  deepspeech/decoders/ctcdecoder/__init__.py
  deepspeech/decoders/ctcdecoder/decoders_deprecated.py
  deepspeech/decoders/ctcdecoder/scorer_deprecated.py
  deepspeech/decoders/ctcdecoder/swig/.gitignore
  deepspeech/decoders/ctcdecoder/swig/__init__.py
  deepspeech/decoders/ctcdecoder/swig/ctc_beam_search_decoder.cpp
  deepspeech/decoders/ctcdecoder/swig/ctc_beam_search_decoder.h
  deepspeech/decoders/ctcdecoder/swig/ctc_greedy_decoder.cpp
  deepspeech/decoders/ctcdecoder/swig/ctc_greedy_decoder.h
  deepspeech/decoders/ctcdecoder/swig/decoder_utils.cpp
  deepspeech/decoders/ctcdecoder/swig/decoder_utils.h
  deepspeech/decoders/ctcdecoder/swig/decoders.i
  deepspeech/decoders/ctcdecoder/swig/path_trie.cpp
  deepspeech/decoders/ctcdecoder/swig/path_trie.h
  deepspeech/decoders/ctcdecoder/swig/scorer.cpp
  deepspeech/decoders/ctcdecoder/swig/scorer.h
  deepspeech/decoders/ctcdecoder/swig/setup.py
  deepspeech/decoders/ctcdecoder/swig/setup.sh
  deepspeech/decoders/ctcdecoder/swig_wrapper.py
  deepspeech/decoders/ctcdecoder/tests/test_decoders.py
  deepspeech/modules/ctc.py
  setup.sh
Due: auto add label=enhancement, auto add label=Installation

using simple test for multi decode type
  examples/librispeech/s1/local/test.sh
Due: auto add label=Example

using simple test for multi decode type, and gpu
  examples/librispeech/s1/local/test.sh
  examples/librispeech/s1/run.sh
Due: auto add label=Example

update librispeech transformer test w/o length filter of test clean
  examples/librispeech/s1/README.md
Due: auto add label=Example, auto add label=README

update the benchmark
  tests/benchmark/README.md
Due: auto add label=README

add decoder scores function
  deepspeech/decoders/README.md
  deepspeech/decoders/scores/__init__.py
  deepspeech/decoders/scores/ctc.py
  deepspeech/decoders/scores/ctc_prefix_score.py
  deepspeech/decoders/scores/length_bonus.py
  deepspeech/decoders/scores/ngram.py
  deepspeech/decoders/scores/score_interface.py
Due: auto add label=enhancement, auto add label=README

Path conditions:
  auto add label=enhancement: any of: ^deepspeech/
  auto add label=Example: any of: ^examples/
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.sh)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechnn/
