Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=enhancement"
    conditions:
      - files~=^deepspeech/
    actions:
      label:
        add: ["enhancement"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechnn/
    actions:
      label:
        add: ["Deployment"]

more speech domain
  paddlespeech/cls/__init__.py
  paddlespeech/emo/__init__.py
  paddlespeech/kws/__init__.py
  paddlespeech/xvector/__init__.py
Due: none

remove useless
  paddlespeech/emo/__init__.py
  paddlespeech/kws/__init__.py
  speechnn/.gitignore
  speechnn/CMakeLists.txt
  speechnn/cmake/third_party.cmake
  speechnn/cmake/third_party/absl.cmake
  speechnn/cmake/third_party/boost.cmake
  speechnn/cmake/third_party/eigen.cmake
  speechnn/cmake/third_party/libsndfile.cmake
  speechnn/cmake/third_party/openfst.cmake
  speechnn/cmake/third_party/openfst_lib_target.cmake
  speechnn/cmake/third_party/threadpool.cmake
  speechnn/cmake/third_party/version.cmake
  speechnn/core/transformers/.gitkeep
  speechnn/core/transformers/README.md
  speechnn/env.sh
  speechnn/examples/.gitkeep
  speechnn/examples/CMakeLists.txt
  speechnn/speechnn/CMakeLists.txt
  speechnn/speechnn/decoder/CMakeLists.txt
  speechnn/speechnn/frontend/CMakeLists.txt
  speechnn/speechnn/frontend/audio/CMakeLists.txt
  speechnn/speechnn/frontend/text/CMakeLists.txt
  speechnn/speechnn/model/CMakeLists.txt
  speechnn/speechnn/nn/CMakeLists.txt
  speechnn/speechnn/protocol/CMakeLists.txt
  speechnn/speechnn/utils/CMakeLists.txt
Due: auto add label=README, auto add label=Deployment

Remove useless folders (#990)
  paddlespeech/emo/__init__.py
  paddlespeech/kws/__init__.py
  speechnn/.gitignore
  speechnn/CMakeLists.txt
  speechnn/cmake/third_party.cmake
  speechnn/cmake/third_party/absl.cmake
  speechnn/cmake/third_party/boost.cmake
  speechnn/cmake/third_party/eigen.cmake
  speechnn/cmake/third_party/libsndfile.cmake
  speechnn/cmake/third_party/openfst.cmake
  speechnn/cmake/third_party/openfst_lib_target.cmake
  speechnn/cmake/third_party/threadpool.cmake
  speechnn/cmake/third_party/version.cmake
  speechnn/core/transformers/.gitkeep
  speechnn/core/transformers/README.md
  speechnn/env.sh
  speechnn/examples/.gitkeep
  speechnn/examples/CMakeLists.txt
  speechnn/speechnn/CMakeLists.txt
  speechnn/speechnn/decoder/CMakeLists.txt
  speechnn/speechnn/frontend/CMakeLists.txt
  speechnn/speechnn/frontend/audio/CMakeLists.txt
  speechnn/speechnn/frontend/text/CMakeLists.txt
  speechnn/speechnn/model/CMakeLists.txt
  speechnn/speechnn/nn/CMakeLists.txt
  speechnn/speechnn/protocol/CMakeLists.txt
  speechnn/speechnn/utils/CMakeLists.txt
Due: auto add label=README, auto add label=Deployment

Update released_model.md
  docs/source/released_model.md
Due: none

Update README.md
  examples/aishell3/tts3/README.md
Due: auto add label=Example, auto add label=README

Update README.md
  examples/aishell3/voc1/README.md
Due: auto add label=Example, auto add label=README

fix style_syn, replace DeepSpeech with PaddleSpeech in readme
  demos/metaverse/run.sh
  demos/story_talker/run.sh
  demos/style_fs2/run.sh
  demos/style_fs2/style_syn.py
  docs/source/asr/models_introduction.md
  docs/source/released_model.md
  docs/source/tts/demo.rst
  docs/source/tts/gan_vocoder.md
  docs/source/tts/models_introduction.md
  docs/source/tts/quick_start.md
  docs/source/tts/zh_text_frontend.md
  docs/tutorial/tts/tts_tutorial.ipynb
  examples/aishell3/vc0/README.md
  examples/csmsc/tts2/README.md
  examples/csmsc/tts3/README.md
  examples/csmsc/voc1/README.md
  examples/ljspeech/tts0/README.md
  examples/ljspeech/tts1/README.md
  examples/ljspeech/tts3/README.md
  examples/ljspeech/voc1/README.md
  examples/other/ge2e/README.md
  examples/vctk/tts3/README.md
  examples/vctk/voc1/README.md
  paddlespeech/t2s/frontend/zh_frontend.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
Due: auto add label=Example, auto add label=README

add ctc loss topic
  .mergify.yml
  .pre-commit-config.yaml
  docs/topic/ctc/ctc_loss.md
  docs/topic/ctc/img/ctc_loss_alpha_definition.png
  docs/topic/ctc/img/ctc_loss_alpha_recurse.png
  docs/topic/ctc/img/ctc_loss_alpha_recurse_2.png
  docs/topic/ctc/img/ctc_loss_backward_1.png
  docs/topic/ctc/img/ctc_loss_backward_2.png
  docs/topic/ctc/img/ctc_loss_backward_3.png
  docs/topic/ctc/img/ctc_loss_backward_recurse.png
  docs/topic/ctc/img/ctc_loss_cat_lattice.png
  docs/topic/ctc/img/ctc_loss_forward_backward.png
  docs/topic/ctc/img/ctc_loss_forward_backward_to_loss.png
  docs/topic/ctc/img/ctc_loss_forward_loss.png
  docs/topic/ctc/img/ctc_loss_gradient_of_y_hat.png
  docs/topic/ctc/img/ctc_loss_gradient_with_y.png
  docs/topic/ctc/img/ctc_loss_prob_l_x.png
  docs/topic/ctc/img/ctc_loss_prob_pi_x.png
  docs/topic/ctc/img/ctc_loss_rescale_loss.png
Due: auto add label=mergify

update text_frontend_struct.png
  docs/tutorial/tts/source/text_frontend_struct.png
Due: none

optimizer the hips of downloading LM
  README.md
  examples/aishell/s0/local/download_lm_ch.sh
  examples/aishell/s0/local/test.sh
  examples/librispeech/s0/local/download_lm_en.sh
  examples/librispeech/s0/local/test.sh
  examples/other/1xt2x/aishell/local/download_lm_ch.sh
  examples/other/1xt2x/aishell/local/test.sh
  examples/other/1xt2x/baidu_en8k/local/download_lm_en.sh
  examples/other/1xt2x/baidu_en8k/local/test.sh
  examples/other/1xt2x/librispeech/local/download_lm_en.sh
  examples/other/1xt2x/librispeech/local/test.sh
  examples/tiny/s0/local/download_lm_en.sh
  examples/tiny/s0/local/test.sh
Due: auto add label=Example, auto add label=README

support for latex by texify
  docs/topic/ctc/ctc_loss.tex.md
Due: none

md to jupyter
  docs/topic/ctc/ctc_loss.ipynb
  docs/topic/ctc/ctc_loss.tex.md
Due: none

Update synthesize.sh
  examples/ljspeech/tts0/local/synthesize.sh
Due: auto add label=Example

add multi-band melgan finetune scripts
  demos/style_fs2/style_syn.py
  examples/csmsc/voc3/conf/finetune.yaml
  examples/csmsc/voc3/finetune.sh
  examples/csmsc/voc3/local/link_wav.py
  paddlespeech/t2s/datasets/vocoder_batch_fn.py
  paddlespeech/t2s/exps/fastspeech2/gen_gt_duration_mel.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
Due: auto add label=Example

add conda install pipline
  docs/source/install.md
  requirements.txt
  setup.sh
  tools/extras/install_miniconda.sh
Due: auto add label=Installation

Update zh_text_frontend.md
  docs/source/tts/zh_text_frontend.md
Due: none

add conda init, use gcc 8.4.0
  docs/source/install.md
  requirements.txt
  setup.sh
  tools/extras/install_miniconda.sh
Due: auto add label=Installation

Update synthesize.sh
  examples/aishell3/tts3/local/synthesize.sh
Due: auto add label=Example

Update synthesize_e2e.sh
  examples/aishell3/tts3/local/synthesize_e2e.sh
Due: auto add label=Example

aishell support utt2spk
  examples/aishell/s1/conf/transformer.yaml
  examples/dataset/aishell/aishell.py
Due: auto add label=Example
