Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

Update README.md
  README.md
Due: auto add label=README

Update README_cn.md
  README_cn.md
Due: none

Fix a bug of streaming_tts_server
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
Due: auto add label=Server

Fix CodeStyle
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
Due: auto add label=Server

fix scipy import error
  paddlespeech/t2s/modules/pqmf.py
Due: auto add label=T2S

update install_openblas.sh
  tools/extras/install_openblas.sh
Due: auto add label=Installation

add implemention of strtobool
  dataset/librispeech/librispeech.py
  examples/ami/sd0/local/ami_prepare.py
  paddlespeech/s2t/decoders/recog_bin.py
  paddlespeech/s2t/exps/whisper/test_wav.py
  paddlespeech/s2t/training/cli.py
  paddlespeech/s2t/utils/cli_utils.py
  paddlespeech/utils/argparse.py
  paddlespeech/vector/cluster/diarization.py
  utils/DER.py
  utils/addjson.py
  utils/apply-cmvn.py
  utils/copy-feats.py
  utils/merge_scp2json.py
Due: auto add label=Dataset, auto add label=S2T, auto add label=Vector, auto add label=Example

Apply suggestions from code review
  paddlespeech/utils/argparse.py
Due: none

Apply suggestions from code review
  dataset/librispeech/librispeech.py
Due: auto add label=Dataset

fix type promotion TypeError in tensor_utils.py
  paddlespeech/audio/utils/tensor_utils.py
Due: none

replace view with reshape in aishell/asr1
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/attention.py
Due: auto add label=S2T

fix file name
  paddlespeech/s2t/models/whisper/__init__.py
  paddlespeech/s2t/models/whisper/whisper.py
Due: auto add label=S2T

separate paddle.logsumexp
  paddlespeech/s2t/models/whisper/whisper.py
Due: auto add label=S2T

NumPy compatibility enhancements
  paddlespeech/s2t/models/wav2vec2/modules/modeling_wav2vec2.py
  paddlespeech/s2t/models/wav2vec2/modules/wav2vec2_model.py
  paddlespeech/s2t/models/wavlm/wavlm_paddle.py
  paddlespeech/t2s/datasets/get_feats.py
  paddlespeech/t2s/utils/internals.py
Due: auto add label=S2T, auto add label=T2S

update code
  paddlespeech/s2t/models/wav2vec2/modules/modeling_wav2vec2.py
  paddlespeech/s2t/models/wav2vec2/modules/wav2vec2_model.py
  paddlespeech/s2t/models/wavlm/wavlm_paddle.py
  paddlespeech/t2s/datasets/get_feats.py
  paddlespeech/t2s/utils/internals.py
Due: auto add label=S2T, auto add label=T2S

fix dir
  audio/audiotools/__init__.py
  audio/audiotools/core/__init__.py
  audio/audiotools/core/audio_signal.py
  audio/audiotools/core/resample.py
  audio/audiotools/core/util.py
  audio/audiotools/data/__init__.py
  audio/audiotools/data/preprocess.py
  audio/audiotools/data/transforms.py
  audio/audiotools/metrics/__init__.py
  audio/audiotools/metrics/quality.py
  audio/audiotools/ml/__init__.py
  audio/audiotools/ml/accelerator.py
  audio/audiotools/ml/basemodel.py
  audio/audiotools/ml/decorators.py
Due: none

add *.py; wo unitest
  audio/audiotools/__init__.py
  audio/audiotools/core/__init__.py
  audio/audiotools/core/_julius.py
  audio/audiotools/core/audio_signal.py
  audio/audiotools/core/dsp.py
  audio/audiotools/core/effects.py
  audio/audiotools/core/ffmpeg.py
  audio/audiotools/core/loudness.py
  audio/audiotools/core/resample.py
  audio/audiotools/core/util.py
  audio/audiotools/data/datasets.py
  audio/audiotools/data/transforms.py
  audio/audiotools/metrics/quality.py
  audio/audiotools/ml/accelerator.py
  audio/audiotools/ml/basemodel.py
  audio/audiotools/requirements.txt
Due: none

add unitest
  audio/tests_at/core/test_audio_signal✅.py
  audio/tests_at/core/test_bands✅.py
  audio/tests_at/core/test_fftconv✅.py
  audio/tests_at/core/test_highpass✅.py
  audio/tests_at/core/test_loudness✅.py
  audio/tests_at/core/test_lowpass✅.py
  audio/tests_at/core/test_util✅.py
  audio/tests_at/data/test_datasets✅.py
  audio/tests_at/data/test_preprocess✅.py
  audio/tests_at/ml/test_decorators✅.py
  audio/tests_at/ml/test_model✅.py
Due: none

fix codestyle
  audio/audiotools/data/preprocess.py
  audio/audiotools/metrics/__init__.py
  audio/audiotools/ml/__init__.py
  audio/tests_audiotools/core/test_audio_signal✅.py
  audio/tests_audiotools/core/test_bands✅.py
  audio/tests_audiotools/core/test_fftconv✅.py
  audio/tests_audiotools/core/test_highpass✅.py
  audio/tests_audiotools/core/test_loudness✅.py
  audio/tests_audiotools/core/test_lowpass✅.py
  audio/tests_audiotools/core/test_util✅.py
  audio/tests_audiotools/data/test_datasets✅.py
  audio/tests_audiotools/data/test_preprocess✅.py
  audio/tests_audiotools/data/test_transforms✅.py
  audio/tests_audiotools/ml/test_decorators✅.py
  audio/tests_audiotools/ml/test_model✅.py
  audio/tests_audiotools/test_post✅.py
Due: none

Update path.sh
  examples/aishell3/vc0/path.sh
Due: auto add label=Example

Update path.sh
  examples/aishell3/vc1/path.sh
Due: auto add label=Example

Update path.sh
  examples/aishell3/vc2/path.sh
Due: auto add label=Example

pir infer
  paddlespeech/t2s/exps/speedyspeech/inference.py
Due: auto add label=T2S

add version control
  paddlespeech/t2s/exps/speedyspeech/inference.py
Due: auto add label=T2S

fix
  paddlespeech/t2s/exps/speedyspeech/inference.py
Due: auto add label=T2S

add chunk config
  examples/aishell/asr1/conf/chunk_conformer.yaml
Due: auto add label=Example

fix
  examples/tal_cs/asr1/conf/chunk_conformer.yaml
Due: auto add label=Example

fix
  examples/aishell/asr1/conf/chunk_conformer.yaml
Due: auto add label=Example

fix path error
  examples/aishell/asr0/local/test.sh
  examples/aishell/asr1/local/test.sh
  examples/aishell/asr3/local/test.sh
  examples/librispeech/asr0/local/test.sh
  examples/librispeech/asr1/local/test.sh
  examples/librispeech/asr3/local/test.sh
  examples/librispeech/asr4/local/test.sh
  paddlespeech/s2t/exps/deepspeech2/model.py
  paddlespeech/s2t/models/ds2/deepspeech2.py
Due: auto add label=S2T, auto add label=Example

Update examples/aishell/asr0/local/test.sh
  examples/aishell/asr0/local/test.sh
Due: auto add label=Example

fix cuda error
  audio/audiotools/README.md
  audio/audiotools/__init__.py
  audio/audiotools/core/_julius.py
  audio/audiotools/core/dsp.py
  audio/audiotools/core/effects.py
  audio/audiotools/core/loudness.py
  audio/audiotools/data/datasets.py
  audio/audiotools/data/transforms.py
  audio/audiotools/post.py
  audio/audiotools/requirements.txt
  audio/tests/audiotools/core/test_audio_signal✅.py
  audio/tests/audiotools/core/test_bands✅.py
  audio/tests/audiotools/core/test_fftconv✅.py
  audio/tests/audiotools/core/test_highpass✅.py
  audio/tests/audiotools/core/test_loudness✅.py
  audio/tests/audiotools/core/test_lowpass✅.py
  audio/tests/audiotools/core/test_util✅.py
  audio/tests/audiotools/data/test_datasets✅.py
  audio/tests/audiotools/data/test_preprocess✅.py
  audio/tests/audiotools/data/test_transforms✅.py
  audio/tests/audiotools/ml/test_decorators✅.py
  audio/tests/audiotools/ml/test_model✅.py
  audio/tests/audiotools/test_post✅.py
Due: auto add label=README

remove some broken symbolic link
  examples/aishell/asr0/utils
  examples/librispeech/asr2/utils
  examples/librispeech/asr5/utils
Due: auto add label=Example

add readme && __all__
  audio/audiotools/README.md
  audio/audiotools/core/__init__.py
  audio/audiotools/core/_julius.py
  audio/audiotools/core/audio_signal.py
  audio/audiotools/core/effects.py
  audio/audiotools/core/resample.py
  audio/tests/audiotools/core/test_effects✅.py
  audio/tests/audiotools/core/test_grad✅.py
Due: auto add label=README

add fft_conv1d
  paddlespeech/t2s/modules/__init__.py
  paddlespeech/t2s/modules/fftconv1d.py
  tests/unit/tts/test_fftconv1d.py
Due: auto add label=T2S, auto add label=Test

add unitest 2 shell
  tests/unit/ci.sh
Due: auto add label=Test

fix example led_en_zh st1
  examples/ted_en_zh/st1/local/data.sh
  utils/addjson.py
Due: auto add label=Example

fix paddle version
  paddlespeech/t2s/modules/fftconv1d.py
Due: auto add label=T2S

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
