Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

auto add label=Dataset:
  label:
    add:
    - Dataset

auto add label=S2T:
  label:
    add:
    - S2T

auto add label=T2S:
  label:
    add:
    - T2S

auto add label=Audio:
  label:
    add:
    - Audio

auto add label=Vector:
  label:
    add:
    - Vector

auto add label=Text:
  label:
    add:
    - Text

auto add label=Example:
  label:
    add:
    - Example

auto add label=CLI:
  label:
    add:
    - CLI

auto add label=Server:
  label:
    add:
    - Server

auto add label=Demo:
  label:
    add:
    - Demo

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=Test:
  label:
    add:
    - Test

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

auto add label=Deployment:
  label:
    add:
    - Deployment

fix workflow ci
  .github/workflows/ci.yml
  tools/Dockerfile
Due: auto add label=CI, auto add label=Installation

test
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
Due: auto add label=T2S

fix: replace bare except clauses with except Exception
  examples/librispeech/asr5/compute_wer.py
  examples/opencpop/voc5/local/prepare_env.py
  paddlespeech/audiotools/core/util.py
  paddlespeech/audiotools/data/datasets.py
  paddlespeech/dataset/s2t/compute_wer.py
  paddlespeech/s2t/exps/deepspeech2/model.py
  paddlespeech/t2s/exps/tacotron2/normalize.py
Due: auto add label=S2T, auto add label=T2S, auto add label=Example

Fix typo: weboscket -> WebSocket
  demos/streaming_asr_server/README_cn.md
Due: auto add label=Demo

fix workflows ci yml
  third_party/python_kaldi_features/docs/source/conf.py
Due: none

remvoe duplicate line
  demos/audio_content_search/conf/ws_conformer_wenetspeech_application.yaml
Due: auto add label=Demo

remove duplicate keys in asr cfg
  demos/streaming_asr_server/conf/application.yaml
  demos/streaming_asr_server/conf/ws_conformer_application.yaml
  demos/streaming_asr_server/conf/ws_conformer_talcs_application.yaml
  demos/streaming_asr_server/conf/ws_conformer_wenetspeech_application.yaml
  demos/streaming_asr_server/conf/ws_conformer_wenetspeech_application_faster.yaml
  demos/streaming_asr_server/conf/ws_ds2_application.yaml
Due: auto add label=Demo

fix more cfg in ppspeech
  paddlespeech/server/conf/ws_conformer_wenetspeech_application_faster.yaml
  paddlespeech/server/conf/ws_ds2_application.yaml
Due: auto add label=Server

Add AGENTS.md: verified T4 (Turing) inference notes for paddlespeech tts
  AGENTS.md
Due: none

Fix path traversal in tar/zip extraction
  paddlespeech/cli/download.py
Due: auto add label=CLI

Fix NumPy 2 install incompatibility
  setup.py
Due: auto add label=Installation

Path conditions:
  auto add label=Dataset: any of: ^dataset/
  auto add label=S2T: any of: ^paddlespeech/s2t/
  auto add label=T2S: any of: ^paddlespeech/t2s/
  auto add label=Audio: any of: ^paddleaudio/
  auto add label=Vector: any of: ^paddlespeech/vector/
  auto add label=Text: any of: ^paddlespeech/text/
  auto add label=Example: any of: ^examples/
  auto add label=CLI: any of: ^paddlespeech/cli
  auto add label=Server: any of: ^paddlespeech/server
  auto add label=Demo: any of: ^demos/
  auto add label=README: any of: (README.md|READEME_cn.md)
  auto add label=Documentation: any of: ^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
  auto add label=Installation: any of: ^(tools/|setup.py|setup.cfg|setup_audio.py)
  auto add label=Test: any of: ^(tests/)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
  auto add label=Deployment: any of: ^speechx/
