Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=Dataset, auto add label=S2T, auto add label=T2S, auto add label=Audio, auto add label=Vector, auto add label=Text, auto add label=Example, auto add label=CLI, auto add label=Server, auto add label=Demo, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=Test, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=Dataset"
    conditions:
      - files~=^dataset/
    actions:
      label:
        add: ["Dataset"]
  - name: "auto add label=S2T"
    conditions:
      - files~=^paddlespeech/s2t/
    actions:
      label:
        add: ["S2T"]
  - name: "auto add label=T2S"
    conditions:
      - files~=^paddlespeech/t2s/
    actions:
      label:
        add: ["T2S"]
  - name: "auto add label=Audio"
    conditions:
      - files~=^paddleaudio/
    actions:
      label:
        add: ["Audio"]
  - name: "auto add label=Vector"
    conditions:
      - files~=^paddlespeech/vector/
    actions:
      label:
        add: ["Vector"]
  - name: "auto add label=Text"
    conditions:
      - files~=^paddlespeech/text/
    actions:
      label:
        add: ["Text"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=CLI"
    conditions:
      - files~=^paddlespeech/cli
    actions:
      label:
        add: ["CLI"]
  - name: "auto add label=Server"
    conditions:
      - files~=^paddlespeech/server
    actions:
      label:
        add: ["Server"]
  - name: "auto add label=Demo"
    conditions:
      - files~=^demos/
    actions:
      label:
        add: ["Demo"]
  - name: "auto add label=README"
    conditions:
      - files~=(README.md|READEME_cn.md)
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^(docs/|CHANGELOG.md|paddleaudio/CHANGELOG.md)
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.cfg|setup_audio.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=Test"
    conditions:
      - files~=^(tests/)
    actions:
      label:
        add: ["Test"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechx/
    actions:
      label:
        add: ["Deployment"]

support bitransformer decoder
  paddlespeech/s2t/exps/u2/model.py
Due: auto add label=S2T

support bitransformer decoder
  paddlespeech/s2t/exps/u2/bin/test_wav.py
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/decoder.py
Due: auto add label=S2T

Update README.md
  paddlespeech/cli/README.md
Due: auto add label=CLI, auto add label=README

code style changes
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/tts_engine.py
Due: auto add label=Server

solve Reorder python imports Failed
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/tts_engine.py
Due: auto add label=Server

precomited
  paddlespeech/cli/text/infer.py
Due: auto add label=CLI

fix dygraph to static for tacotron2, test=doc
  paddlespeech/t2s/modules/tacotron2/attentions.py
  paddlespeech/t2s/modules/tacotron2/decoder.py
Due: auto add label=T2S

add reverse pad with sos and eos test
  tests/unit/asr/reverse_pad_list.py
Due: auto add label=Test

format
  tests/unit/asr/reverse_pad_list.py
Due: auto add label=Test

add comment
  examples/wenetspeech/asr1/local/export.sh
Due: auto add label=Example

add reverse weight
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/models/u2/u2.py
Due: auto add label=S2T

support bitransformer decoder, test=asr
  paddlespeech/audio/utils/tensor_utils.py
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/models/u2/u2.py
Due: auto add label=S2T

update readme, test=doc
  demos/speech_web/README.md
Due: auto add label=Demo, auto add label=README

rename finetune yaml name
  demos/speech_web/speech_server/conf/tts3_finetune.yaml
Due: auto add label=Demo

Solve "unknown format: 3" (#2422)
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/tts_engine.py
Due: auto add label=Server

fix TDNN to ECAPA-TDNN,text=doc
  demos/speech_web/README.md
Due: auto add label=Demo, auto add label=README

fixed get_cmd and use MAIN_ROOT in ge2e
  demos/speech_web/speech_server/src/ernie_sat.py
  demos/speech_web/speech_server/src/ge2e_clone.py
Due: auto add label=Demo

Update README.md
  demos/speech_web/README.md
Due: auto add label=Demo, auto add label=README

fix forward attention decoder caller
  paddlespeech/s2t/exps/u2/bin/test_wav.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/decoder.py
Due: auto add label=S2T

frm random spk embedding in voice cloning, test=doc
  paddlespeech/t2s/exps/voice_cloning.py
Due: auto add label=T2S

more config or u2pp
  examples/wenetspeech/asr1/README.md
  examples/wenetspeech/asr1/conf/chunk_conformer_u2pp.yaml
  examples/wenetspeech/asr1/local/export.sh
  paddlespeech/s2t/models/u2/u2.py
Due: auto add label=S2T, auto add label=Example, auto add label=README

format
  paddlespeech/s2t/models/u2/u2.py
Due: auto add label=S2T

frm random spk embedding in voice cloning, test=doc (#2429)
  paddlespeech/t2s/exps/voice_cloning.py
Due: auto add label=T2S

fix bug on win
  paddlespeech/audio/utils/tensor_utils.py
  paddlespeech/s2t/models/u2/u2.py
Due: auto add label=S2T

fix ERNIE-SAT bug when edit the end of sentenses, test=doc
  paddlespeech/t2s/exps/ernie_sat/align.py
Due: auto add label=T2S

support bitransformer decoder
  paddlespeech/audio/utils/tensor_utils.py
  paddlespeech/s2t/io/dataloader.py
Due: auto add label=S2T

fix ERNIE-SAT bug when edit the end of sentenses, test=doc (#2432)
  paddlespeech/t2s/exps/ernie_sat/align.py
Due: auto add label=T2S

eliminate useless unsqueese
  paddlespeech/s2t/modules/embedding.py
  paddlespeech/s2t/modules/encoder.py
Due: auto add label=S2T

Update voice_cloning.sh
  examples/aishell3/vc0/local/voice_cloning.sh
Due: auto add label=Example

Update synthesize.sh
  examples/aishell3/vc0/local/synthesize.sh
Due: auto add label=Example

Update synthesize.sh
  examples/aishell3/vc1/local/synthesize.sh
Due: auto add label=Example
