Repository PaddlePaddle/PaddleSpeech: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=enhancement, auto add label=Example, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker, auto add label=Deployment

.mergify.yml:

pull_request_rules:
  - name: automatic merge for develop when CI passes and 1 reviews
    conditions:
      - "approved-reviews-by>=1"
      - check-success=Travis CI - Pull Request
      - base=develop
    actions:
      merge:
        method: merge
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=enhancement"
    conditions:
      - files~=^deepspeech/
    actions:
      label:
        add: ["enhancement"]
  - name: "auto add label=Example"
    conditions:
      - files~=^examples/
    actions:
      label:
        add: ["Example"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml|.travis|env.sh)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py|setup.sh)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]
  - name: "auto add label=Deployment"
    conditions:
      - files~=^speechnn/
    actions:
      label:
        add: ["Deployment"]

librispeech s1 support sclite and multi process decode
  examples/librispeech/s1/cmd.sh
  examples/librispeech/s1/local/test.sh
  examples/librispeech/s1/path.sh
  examples/librispeech/s1/run.sh
Due: auto add label=Example

librispeech s1 support multi process decode and sclite
  deepspeech/frontend/utility.py
  examples/librispeech/s1/local/test.sh
  examples/librispeech/s1/path.sh
  examples/librispeech/s2/local/test.sh
  examples/librispeech/s2/path.sh
  utils/run.pl
  utils/split_json.sh
  utils/split_scp.pl
  utils/split_scp.pl 
Due: auto add label=enhancement, auto add label=Example

fix the bug of parallel using condition
  deepspeech/training/trainer.py
Due: auto add label=enhancement

explit space as <space>
  deepspeech/frontend/featurizer/text_featurizer.py
  deepspeech/frontend/utility.py
  utils/build_vocab.py
  utils/split_scp.pl
Due: auto add label=enhancement

fix import
  deepspeech/frontend/utility.py
Due: auto add label=enhancement

replace space when build vocab
  deepspeech/decoders/swig/ctc_beam_search_decoder.cpp
  deepspeech/frontend/featurizer/text_featurizer.py
  utils/build_vocab.py
Due: auto add label=enhancement

fix the ctc.cpp bug
  deepspeech/decoders/swig/ctc_beam_search_decoder.cpp
Due: auto add label=enhancement

fix the text_featurize
  deepspeech/frontend/featurizer/text_featurizer.py
Due: auto add label=enhancement

fix bug: bug of space id in score.cpp, add detokenize
  deepspeech/decoders/swig/scorer.cpp
  deepspeech/exps/deepspeech2/model.py
Due: auto add label=enhancement

optimize the 1xt2x
  deepspeech/frontend/featurizer/text_featurizer.py
  examples/1xt2x/aishell/local/download_model.sh
  examples/1xt2x/aishell/run.sh
  examples/1xt2x/baidu_en8k/local/download_model.sh
  examples/1xt2x/baidu_en8k/run.sh
  examples/1xt2x/librispeech/local/download_model.sh
  examples/1xt2x/librispeech/run.sh
  examples/1xt2x/src_deepspeech2x/test_model.py
Due: auto add label=enhancement, auto add label=Example

fix the run.sh in g2p/zh
  examples/g2p/zh/run.sh
Due: auto add label=Example

ctc using nn.Dropout; ds2 libri vald batch_size / 4
  deepspeech/exps/deepspeech2/model.py
  deepspeech/modules/ctc.py
  deepspeech/modules/loss.py
Due: auto add label=enhancement

fix libri s1 transformer config
  examples/librispeech/s1/conf/transformer.yaml
Due: auto add label=Example

Update released_model.md
  docs/src/released_model.md
Due: none

optimize the log
  deepspeech/exps/u2/model.py
  deepspeech/training/trainer.py
Due: auto add label=enhancement

more ctc check; valid dataloader with num workers
  deepspeech/exps/u2/model.py
  deepspeech/modules/ctc.py
  deepspeech/modules/loss.py
Due: auto add label=enhancement

add bin for hub
  deepspeech/exps/deepspeech2/bin/test_hub.py
  examples/aishell/s0/local/test_hub.sh
  examples/aishell/s0/run.sh
Due: auto add label=enhancement, auto add label=Example

update the result of TED-EN-ZH
  deepspeech/models/u2_st.py
  examples/ted_en_zh/t0/README.md
  examples/ted_en_zh/t0/local/test.sh
Due: auto add label=enhancement, auto add label=Example, auto add label=README

refactor kaldi/tarfile loader, st and asr collator
  deepspeech/exps/u2_st/model.py
  deepspeech/frontend/audio.py
  deepspeech/frontend/featurizer/speech_featurizer.py
  deepspeech/frontend/speech.py
  deepspeech/frontend/utility.py
  deepspeech/io/collator.py
  deepspeech/io/collator_st.py
  deepspeech/io/reader.py
Due: auto add label=enhancement

add requirements for hub
  hub/requirements.txt
  hub/setup_hub.sh
Due: none
